<ng-container *ngIf="selectedResource$ | async as selectedResource">
  <mcs-tab-group [(selectedTabId)]="selectedTabIndex" *mcsComponentHandler>
    <!-- New Server Tab -->
    <mcs-tab [label]="'serverCreateDetailsStepNewServer.title' | translate" [id]="serverCreateTypeEnum.New">
      <p>{{ 'serverCreateDetailsStepNewServer.description' | translate }}</p>

      <ng-container *ngIf="selectedTabIndex === serverCreateTypeEnum.New">
        <mcs-server-new #serverBase
          [resource]="selectedResource"
          [serviceType]="selectedResource.serviceType"></mcs-server-new>
      </ng-container>
    </mcs-tab>

    <!-- Clone Server Tab -->
    <mcs-tab [label]="'serverCreateDetailsStepCloneServer.title' | translate" [id]="serverCreateTypeEnum.Clone">
      <p>{{ 'serverCreateDetailsStepCloneServer.description' | translate }}</p>

      <ng-container *ngIf="selectedTabIndex === serverCreateTypeEnum.Clone">
        <mcs-server-clone #serverBase
          [serviceType]="selectedResource.serviceType"></mcs-server-clone>
      </ng-container>
    </mcs-tab>
  </mcs-tab-group>
</ng-container>

<!-- Wizard Actions -->
<div class="action-items">
  <button mcsButton size="small" arrow="right"
    mcsWizardStepNext
    [mcsWizardStepNextWhen]="createServerFunc"
    mcsId="step-1-next"
    mcsEventTracker="step-1-next"
    mcsEventCategory="server"
    mcsEventLabel="create-new-server-page">Next</button>
</div>