<div class="block-items-large">
  <ng-container *ngIf="selectedResource$ | async as selectedResource">
    <mcs-tab-group [(selectedTabId)]="selectedTabIndex" *mcsComponentHandler>
      <!-- New Server Tab -->
      <mcs-tab [label]="textContent.newServer.title" [id]="serverCreateTypeEnum.New">
        <p class="space-bottom-medium">{{ textContent.newServer.description }}</p>

        <ng-container *ngIf="selectedTabIndex === serverCreateTypeEnum.New">
          <mcs-server-new #serverBase
            [resource]="selectedResource"
            [serviceType]="selectedResource.serviceType"></mcs-server-new>
        </ng-container>
      </mcs-tab>

      <!-- Clone Server Tab -->
      <mcs-tab [label]="textContent.cloneServer.title" [id]="serverCreateTypeEnum.Clone">
        <p class="space-bottom-medium">{{ textContent.cloneServer.description }}</p>

        <ng-container *ngIf="selectedTabIndex === serverCreateTypeEnum.Clone">
          <mcs-server-clone #serverBase
            [serviceType]="selectedResource.serviceType"></mcs-server-clone>
        </ng-container>
      </mcs-tab>
    </mcs-tab-group>
  </ng-container>
</div>

<!-- Wizard Actions -->
<div class="action-items">
  <button mcsButton size="small" arrow="right"
    mcsWizardStepNext
    [mcsWizardStepNextWhen]="createServerFunc"
    mcsId="step-1-next"
    mcsEventTracker="step-1-next"
    mcsEventCategory="server"
    mcsEventLabel="create-new-server-page">Next</button>
</div>