@import "../../../styles/shared/base";

.mcs-lightbox {
  .modal-content {
    .modal-header {
      align-items: flex-start;
      padding: $space-xlarge $space-xlarge 0;
      border-bottom: none;

      i {
        @include font-size($icon-large-font-size);
        margin-right: 10px;
      }
    }

    .modal-subtitle{
      padding-right: $space-xlarge;
      padding-left: $space-xlarge;
      p {
        margin-bottom: 0;
      }
    }

    .modal-body {
      padding: $space-small $space-xlarge $space-xlarge;
    }
  }

  // Hides vertical scroll bar on overflow
  &.modal {
    right: -17px; 
    overflow-y: scroll;
  }

  // Vertical centering
  .modal-dialog {
    min-height: calc(100vh - 60px);
    @include display-flex(column);
    justify-content: center;
    overflow: auto;
    @media(max-width: 768px) {
      min-height: calc(100vh - 20px);
    }
  }
}