<!-- Manage Server header -->
<mcs-section>
  <ng-content select="[mcsManageServerHeader]"></ng-content>

  <!-- Manage Server selection list -->
  <!-- TODO: It should be a tag to apply multiple selection of servers -->
  <mcs-data-status [dataStatusFactory]="dataStatusFactory">
    <mcs-data-status-success mcsDataSuccess>
      <mcs-form-field>
        <mcs-select [(ngModel)]="selectedServer" placeholder="Select server">
          <mcs-option-group>
            <ng-container *mcsOptionGroupHeader>
              {{ 'mediaShared.manageServer.serverGroupHeader' | translate }}
            </ng-container>
            <mcs-option *ngFor="let server of servers$ | async" [value]="server">
              {{ server.name }}
            </mcs-option>
          </mcs-option-group>
        </mcs-select>
      </mcs-form-field>
    </mcs-data-status-success>

    <mcs-data-status-in-progress mcsDataInProgress>
      <span>{{ 'mediaShared.manageServer.loadingContent' | translate }}</span>
    </mcs-data-status-in-progress>

    <mcs-data-status-empty mcsDataEmpty>
      <span>{{ 'mediaShared.manageServer.noServers' | translate }}</span>
    </mcs-data-status-empty>

    <mcs-data-status-error mcsDataError>
      <span>{{ 'mediaShared.manageServer.errorGettingServers' | translate }}</span>
    </mcs-data-status-error>
  </mcs-data-status>
</mcs-section>