<div class="checkbox-list-container">
  <mat-selection-list #options
    [(ngModel)]="selectedOptions"
    (ngModelChange)="onSelected($event)">
    <mat-list-option *ngFor="let option of optionList"
      mcsId="{{ eventId }}"
      mcsEventTracker="{{ eventTracker }}"
      mcsEventCategory="{{ eventCategory }}"
      mcsEventLabel="{{ eventLabel }}"
      [value]="option">
      <div class="text">{{ option.text }}</div>
      <div class="sub-text">{{ option.subText }}</div>
    </mat-list-option>
  </mat-selection-list>
</div>