<div class="widget flat">
  <h4>{{ 'reports.insights.techReview.security.overAllSecurityScore' | translate }}</h4>
  <div class="subtitle">
    <a href="{{ securityCenterAzurePortalUrl }}"
      target="_blank"
      mcsId="security-azure-security-center"
      mcsEventTracker="navigate-to-azure-security-center"
      mcsEventCategory="dashboard-navigation"
      mcsEventLabel="azure-security-center-link">
      {{ 'reports.insights.techReview.security.azureSecurityCenter' | translate }}</a>
       {{ 'reports.insights.techReview.security.subTitle' | translate }} 
  </div>
  <div class="security-compliance-wrapper" *ngIf="!hasError && !processing; else error">
    <div class="security-score">
      <div *ngIf="empty; else secureScore">
        <mcs-status-message type="info">
          {{ 'reports.insights.techReview.empty' | translate }}
        </mcs-status-message>
      </div>
      <!-- Overall Security Score -->
      <ng-template #secureScore>
        <div class="score-panel overall">
          <div class="info">
            <mcs-icon key="small-lock-black" color="light" size="large"></mcs-icon>
            <div class="label">
              <span class="score">
                <strong>
                  {{ currentScore }}
                </strong>
                / {{ maxScore }}
              </span>
            </div>
          </div>
          <mat-progress-bar mode="determinate" value="{{ securityScorePercentage }}" style="height: 10px;"></mat-progress-bar>
          <div style="margin-top: 20px;">
            <a href="{{ recommendationAzurePortalUrl }}" target="_blank">
              {{ 'reports.insights.techReview.security.viewRecommendation' | translate }}
            </a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <ng-template #error>
    <mcs-report-widget-data-status type="info" [processing]="processing"
      [hasError]="hasError" (retry)="getSecurityScore()">
    </mcs-report-widget-data-status>
  </ng-template>
</div>