@import "../../../../styles/shared/base";

.subtitle {
  margin-top: $space-medium;
}

.security-compliance-wrapper {
  .security-score {
    .label {
      margin-left: $space-small;
    }
  }

  .score-panel {
    margin: $space-small $space-medium;
    width: 100%;

    .info {
      @include display-flex(row);

      .label {
        display: inline-block;
        margin-bottom: $space-small;
      }

      .score {
        @include font-size($font-size-large);
        display: block;
      }
    }

    &.overall {
      height: auto;
      margin-top: 24px;
      margin-bottom: auto;
      max-width: 200px;

      .score {
        @include font-size($font-size-xxlarge);
      }

      mcs-icon {
        align-self: flex-start;
      }
    }
  }
}