<mcs-page [header]="header">
  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="firewallTextContent.leftPanelHeader">
    <!-- listing panel -->
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="firewallTextContent.panel">
      <div class="listing-panel-wrapper">
        <mcs-search #listSearch delayInSeconds="none"></mcs-search>
        <mcs-list-panel [listSource]="firewallListSource"
          [selectedListItem]="selectedItem" [searchMode]="firewallListSource?.searchMode"
          [mcsLoader]="firewallListSource?.firewallsSubscription">
          <ng-container mcsListPanelDef>
            <mcs-list-panel-header [groupName]="haGroup"
              *mcsListPanelHeaderDef="let haGroup; propertyName: 'haGroupName';">
              <span>{{ haGroup }}</span>
            </mcs-list-panel-header>
            <mcs-list-panel-item *mcsListPanelItemDef="let firewall"
              [itemId]="firewall.id" [groupName]="firewall.haGroupName"
              (click)="onFirewallSelect(firewall.id)">
              <mcs-icon [key]="getConnectionStatusIconKey(firewall.connectionStatus)"></mcs-icon>
              <a>{{ firewall.name }}</a>
            </mcs-list-panel-item>
          </ng-container>

          <!-- List Items Status Integration -->
          <ng-container mcsListItemsStatusDef>
            <mcs-list-items-empty *mcsListItemsEmptyDef>
              <span>{{ firewallsTextContent.noFirewalls }}</span>
            </mcs-list-items-empty>
            <mcs-list-items-error *mcsListItemsErrorDef>
              <div class="data-error">
                <span>{{ firewallsTextContent.errorMessage }}</span>
                <a (click)="retryListsource()">{{ firewallsTextContent.retry }}</a>.
              </div>
            </mcs-list-items-error>
          </ng-container>
        </mcs-list-panel>
      </div>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <mcs-content-panel *mcsContentPanelDef [mcsLoader]="subscription">
    <div class="inline-block">
      <mcs-tab-group [selectedTabId]="selectedRoutingTab" (tabChanged)="onTabChanged($event)">
        <!-- Overview Tab -->
        <mcs-tab [label]="firewallTextContent.overview.label" id="overview">
        </mcs-tab>

        <!-- Policies Tab -->
        <mcs-tab [label]="firewallTextContent.policies.label" id="policies">
        </mcs-tab>

        <!-- Action tab -->
        <mcs-tab [canSelect]="false" customClass="right-align">
          <ng-template mcsTabLabel>
            <mcs-icon class="action" [key]="cogIconKey" size="medium"
              mcsPopover placement="bottom" orientation="left" theme="light"
              padding="none" [content]="actionContent" cursor="pointer">
            </mcs-icon>
            <ng-template #actionContent>
              <div class="cog-container">
                <a [href]="firewall.url" target="_blank">View in Portal</a>
              </div>
            </ng-template>
          </ng-template>
        </mcs-tab>
      </mcs-tab-group>
      <div class="routing-tab-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mcs-content-panel>
</mcs-page>