<mcs-page [header]="selectedFirewall?.managementName">
  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="firewallTextContent.leftPanelHeader">
    <!-- listing panel -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <div class="listing-panel-wrapper">
        <mcs-search #search></mcs-search>

        <mcs-data-status [dataStatusFactory]="listStatusFactory">
          <mcs-data-status-success mcsDataSuccess>

            <mcs-list-panel>
              <ng-container *ngFor="let iterator of (firewallsMap | mcsMapIterable) |
                mcsSortArray: firewallsListSource?.firewallGroupSortMethod">

                <!-- Template method for icon -->
                <ng-template #optionContentTemplate let-firewallDetails>
                  <mcs-icon size="small"
                    [key]="firewallDetails?.connectionStatusIconKey"></mcs-icon>
                  <span class="space-left-xsmall">
                    {{ firewallDetails.managementName }}
                  </span>
                </ng-template>

                <!-- With ha group -->
                <mcs-option-group [label]="iterator.key" *ngIf="iterator.key">
                  <mcs-option *ngFor="let firewall of (iterator.value | mcsSortArray: firewallsListSource?.firewallSortMethod)"
                    [value]="firewall"
                    [selected]="selectedFirewall === firewall"
                    (click)="onFirewallSelect(firewall)"
                    mcsEventTracker="select-firewall"
                    mcsEventCategory="firewall"
                    mcsEventLabel="firewall-list-panel">

                    <ng-template [ngTemplateOutlet]="optionContentTemplate"
                      [ngTemplateOutletContext]="{ $implicit: firewall }"></ng-template>
                  </mcs-option>
                </mcs-option-group>

                <!-- Without ha group -->
                <ng-container *ngIf="!iterator.key">
                  <mcs-option *ngFor="let firewall of (iterator.value | mcsSortArray: firewallsListSource?.firewallSortMethod)"
                    [value]="firewall"
                    [selected]="selectedFirewall === firewall"
                    (click)="onFirewallSelect(firewall)"
                    mcsEventTracker="select-firewall"
                    mcsEventCategory="firewall"
                    mcsEventLabel="firewall-list-panel">

                    <ng-template [ngTemplateOutlet]="optionContentTemplate"
                      [ngTemplateOutletContext]="{ $implicit: firewall }"></ng-template>
                  </mcs-option>
                </ng-container>
              </ng-container>
            </mcs-list-panel>
          </mcs-data-status-success>

          <mcs-data-status-in-progress mcsDataInProgress>
            <span>{{ firewallsTextContent.loading }}</span>
          </mcs-data-status-in-progress>

          <mcs-data-status-empty mcsDataEmpty>
            <span>{{ firewallsTextContent.noFirewalls }}</span>
          </mcs-data-status-empty>

          <mcs-data-status-error mcsDataError>
            <span>{{ firewallsTextContent.errorMessage }}</span>
          </mcs-data-status-error>
        </mcs-data-status>
      </div>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <mcs-content-panel *mcsContentPanelDef>
    <div class="routing-tab-wrapper">
      <mcs-tab-group [selectedTabId]="selectedRoutingTab" (tabChanged)="onTabChanged($event)">
        <!-- Overview Tab -->
        <mcs-tab [label]="firewallTextContent.overview.label" id="overview">
        </mcs-tab>

        <!-- Policies Tab -->
        <ng-container *ngIf="selectedFirewall?.serialNumber">
          <mcs-tab [label]="firewallTextContent.policies.label" id="policies">
          </mcs-tab>
        </ng-container>

        <!-- Action tab -->
        <mcs-tab [canSelect]="false" customClass="right-align">
          <ng-template mcsTabLabel>
            <mcs-icon class="action" [key]="cogIconKey" size="medium"
              mcsPopover placement="bottom" orientation="left" theme="light"
              padding="none" [content]="actionContent" cursor="pointer">
            </mcs-icon>
            <ng-template #actionContent>
              <div class="cog-container">
                <a [href]="selectedFirewall.url" target="_blank">View in Portal</a>
              </div>
            </ng-template>
          </ng-template>
        </mcs-tab>
      </mcs-tab-group>

      <!-- Tab content for routing tab -->
      <div class="routing-tab-content-wrapper">
        <div [mcsLoader]="firewallSubscription"
          [mcsLoaderHideElement]="tabContent"
          [mcsLoaderText]="firewallTextContent.loading"
          mcsLoaderOrientation="top"></div>

        <router-outlet #tabContent></router-outlet>
      </div>
    </div>
  </mcs-content-panel>
</mcs-page>