<section class="firewall-container">
  <div class="row">
    <div class="col-sm-4 hidden-medium">
      <div class="firewall-list-panel">
        <mcs-search #listSearch [delayInSeconds]="0" mcsListSearchDef></mcs-search>
        <mcs-list-panel mcsListPanelDef [dataSource]="firewallListSource" 
          [selectedListItem]="firewallListSource.selectedElement" [searchMode]="firewallListSource.searchMode">
          <ng-container mcsListDef>
            <mcs-list-header *mcsListHeaderDef="let haGroup; propertyName: 'haGroupName';"
              [groupName]="haGroup">
              <span>{{ haGroup }}</span>
            </mcs-list-header>
            <mcs-list-item *mcsListItemDef="let firewall"
              [itemId]="firewall.id" [groupName]="firewall.haGroupName"
              (click)="onFirewallSelect(firewall.id)">
              <mcs-icon [key]="firewallIconKey"></mcs-icon>
              <a>{{ firewall.name }}</a>
            </mcs-list-item>
          </ng-container>
        </mcs-list-panel>
      </div>
    </div>

    <div class="col-sm-8 firewall-details">
      <div *ngIf="hasFirewallData">
        <h2 class="firewall-name">{{ firewallName }}</h2>
        <div class="mcs-tabs">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" role="tab"
                [routerLink]="['overview']" routerLinkActive="active">
                  {{ firewallTextContent.overview.label }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" role="tab"
                [routerLink]="['policies']" routerLinkActive="active">
                {{ firewallTextContent.policies.label }}</a>
            </li>
            <!-- TODO: Temporarily hidden for phase one -->
            <!-- <li class="nav-itema action-cog"></li> -->
          </ul>
  
          <div class="tab-content">
            <div class="tab-pane active" role="tabpanel">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!hasFirewallData">
        <mcs-icon [key]="spinnerIconKey" size="xlarge"></mcs-icon>
      </div>
    </div>
  </div>
</section>