@import "../../../../../styles/shared/base";

$firewall-name-margin-top: 3px;
$firewall-list-panel-spacing: $space-large;

.firewall-container {
  @include display-flex(row);
  align-items: flex-start;

  .firewall-list-panel-wrapper {
    position: relative;
    @include flex(0 0 30%);
    
    .firewall-list-panel {
      @include set-items-interval($firewall-list-panel-spacing, vertical);
    }
  }
  
  .firewall-details-wrapper {
    position: relative;
    @include flex(0 0 70%);
    padding-left: $space-xlarge;

    .firewall-details {
      min-height: 100%;
      @include breakpoint(medium) {
        @include flex(0 0 100%);
        max-width: 100%;
      }
    
      .firewall-name {
        margin-top: $firewall-name-margin-top;
        margin-bottom: $space-large;
      }
    
      .mcs-tabs {
        .nav-tabs {
          align-items: center;
    
          .action-cog {
            margin-left: auto;
            margin-right: $space-xsmall;
            padding-bottom: $space-xsmall;

            mcs-icon {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.action-container {
  width: 100px;
  
  a {
    display: block;
  }
}