<mcs-alert [@fadeIn] [type]="type" *mcsComponentHandler>
  <ng-container *ngFor="let message of messages$ | async">
    <mcs-item>
      <mcs-icon *ngIf="showBullet" [key]="bulletIconKey" size="xxsmall"></mcs-icon>
      <span>{{ message }}</span>
    </mcs-item>
  </ng-container>

  <a mcsButton="basic" [color]="type"
    mcsId="form-message-dismiss" mcsAlertAction="dismiss">

    <ng-container *ngIf="config?.confirmText; else defaultCloseMessage">
      {{ config?.confirmText }}
    </ng-container>
    <ng-template #defaultCloseMessage>
      {{ type === 'error' ? 'DISMISS' : 'OK' }}
    </ng-template>
  </a>
</mcs-alert>