<mcs-alert [@fadeIn] [type]="type" *mcsComponentHandler>
  <ng-container *ngIf="hasCustomMessage; else contentTemplate">
    <ng-container *ngFor="let message of messages$ | async">
      <div class="form-field-inline">
        <mcs-icon [key]="bulletIconKey" size="xxsmall"></mcs-icon>
        <span>{{ message }}</span>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #contentTemplate>
    <span><ng-content></ng-content></span>
  </ng-template>

  <a mcsButton="basic" [color]="type"
    mcsId="form-message-dismiss" mcsAlertAction="dismiss">
    {{ type === 'error' ? 'DISMISS' : 'OK' }}
  </a>
</mcs-alert>