@import "../../../styles/shared/base";

:host {
  display: block;
}

.mcs-button {
  background-color: $button-primary-background-color;
  color: $button-primary-text-color;
  padding: $button-padding;
  margin: 2px 0;
  position: relative;
  @include breakpoint(small) {
    width: 100%;
  }

  &:hover:enabled {
    cursor: pointer;
    background-color: $button-hover-background-color;
  }

  &.small {
    @include font-size($button-font-size-small);
    padding: $button-padding-small;
    @include breakpoint(small) {
      width: auto;
    }
  }

  &.has-icon {
    padding: 0 15px;
    min-height: 42px;
    text-align: left;

    div {
      display: inline-block;
      vertical-align: middle;

      &.text {
        float: left;
        line-height: 40px;
        @include breakpoint(small) {
          max-width: 60%;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .icon-left-wrapper {
          margin-right: $space-small;

          .icon-left {
            line-height: 40px;
          }
        }
      }

      &.icon-right-wrapper {
        width: 40px;
        float: right;
        margin-left: $space-large;

        .icon-right {
          display: block;
          margin: 0 auto;
          line-height: 40px;
          float: right;
          font-size: $icon-medium-font-size;
        }
      }
    }
  }

  &.danger {
    background-color: $color-red-00;
  }
}

.loader {
  width: 50px;
  height: 15px;
}