<button #mcsButton type="button" class="btn mcs-button" (click)="emitEvent($event)">
  <div class="text">
    <ng-content></ng-content>
  </div>
  <div *ngIf="icon !== 'normal'" class="icon-right-wrapper">
    <mcs-svg-icon *ngIf="iconType === iconTypeEnum.Svg && !spinnerIcon"
      [key]="svgIcon" size="xlarge"></mcs-svg-icon>
    <i *ngIf="iconType === iconTypeEnum.FontAwesome && !spinnerIcon"
      class="icon-right" [ngClass]="fontAwesomeIcon"></i>
    <i *ngIf="spinnerIcon" [ngClass]="spinnerIcon"></i>
  </div>
</button>