@import "../../../styles/shared/base";

$button-min-height: 40px;
$button-small-min-height: 30px;
$button-font-size-small: $caption-default-font-size;
$button-padding: 0 $space-medium;
$button-padding-small: 0 $space-small;
$button-primary-background-color: $color-primary-01;
$button-primary-background-color-disabled: $color-grey-01;
$button-hover-background-color: $color-primary-00;
$button-secondary-background-color: $color-primary-02;
$button-success-background-color: $color-green-00;
$button-warning-background-color: $color-yellow-00;
$button-danger-background-color: $color-red-00;
$button-primary-text-color: $color-white;

.button-wrapper {
  white-space: nowrap;
  border: 1px solid transparent;
  user-select: none;
  @include border-radius($border-radius-small);
  @include display-inline-flex(row);
  @include align-items(center);
  background-color: $button-primary-background-color;
  color: $button-primary-text-color;
  padding: $button-padding;
  margin: 2px 0;
  position: relative;
  @include breakpoint(small) {
    width: 100%;
  }

  .label {
    @include display-inline-flex(row);
    @include align-items(center);
    width: 100%;
  }

  &:hover:enabled {
    cursor: pointer;
    background-color: $button-hover-background-color;
  }

  &.small {
    @include font-size($button-font-size-small);
    padding: $button-padding-small;
    min-height: $button-small-min-height;
  }

  &.normal {
    .label {
      justify-content: center;
    }
  }

  &.default {
    min-height: $button-min-height;
  }

  &.has-icon {
    padding: 0 $space-medium;

    .label {
      justify-content: space-between;

      .text {
        @include breakpoint(small) {
          max-width: 60%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .icon-right-wrapper {
        @include display-flex(row);
        margin-left: $space-large;

        .icon-right {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  &.primary {
    background-color: $button-primary-background-color;
    &:disabled {
      background-color: $button-primary-background-color-disabled;
    }
  }

  &.secondary {
    background-color: $button-secondary-background-color;
  }

  &.success {
    background-color: $button-success-background-color;
  }

  &.warning {
    background-color: $button-warning-background-color;
  }

  &.danger {
    background-color: $button-danger-background-color;
  }
}