<!-- File Attachment error dialog -->
<ng-template #errorDialogTemplate let-message="data.message">
  <mcs-dialog>
    <mcs-dialog-header [dialogRefTemplate]="errorDialogRef">
      <h1>{{ textContent.errorCaption }}</h1>
    </mcs-dialog-header>

    <mcs-dialog-content>
      <div class="labelled-icon">
        <mcs-icon [key]="errorIconKey" color="red"></mcs-icon>
        <p>{{ message }}</p>
      </div>
    </mcs-dialog-content>

    <mcs-dialog-actions>
      <button mcsButton class="right-align" arrow="right"
        size="small" (click)="errorDialogRef?.close()"
        mcsId="ok-attachment">
        {{ textContent.ok }}
      </button>
    </mcs-dialog-actions>
  </mcs-dialog>
</ng-template>

<!-- File Attachment Dropzone -->
<div class="file-attachment-dropzone-wrapper dropzone"
  ng2FileDrop [ngClass]="{'file-hover': hasDropZone}"
  (fileOver)="onFileOver($event)"
  [uploader]="fileUploader">

  <!-- File Selection Zone Area -->
  <div class="attachment-filezone-wrapper">

    <!-- Drop zone -->
    <mcs-icon [key]="cloudUploadBlueIconKey" size="xxlarge"></mcs-icon>
    <span read-only>{{ textContent.dragDropZone }}</span>
    <span read-only>or</span>

    <!-- Selection zone -->
    <button mcsButton size="small" (click)="chooFileElement.click()" mcsId="choose-attachment">
      <input #chooFileElement type="file" [accept]="allowedMimeType"
        ng2FileSelect [uploader]="fileUploader" (change)="onSelectFile()"/>
      {{ textContent.chooseFile }}
    </button>
  </div>
</div>

<!-- Attached files -->
<div *ngIf="attachedFiles">
  <mcs-list spacing="auto" orientation="horizontal">
    <mcs-list-item *ngFor="let attachedItem of attachedFiles">
      <mcs-action-item (click)="removeAttachment(attachedItem)"
        [mcsTooltip]="textContent.detachTooltip">
        <mcs-icon [key]="closeIconKey" size="small"></mcs-icon>
        <span>{{ attachedItem?.file.name }}</span>
      </mcs-action-item>
    </mcs-list-item>
  </mcs-list>
</div>