@import "base";

// Attachment component
$attachment-height: 150px;
$attachment-bg-color: $color-white;
$attachment-border-color: $color-grey-03;
$attachment-border-radius: 6px;
// Filezone selection
$attachment-filezone-bg-color: $color-white;
$attachment-filezone-padding: $space-medium;
// File wrapper variables
$attachment-files-padding: $space-medium 0;

.file-attachment-wrapper {
  @include display-flex(column);
  @include set-items-interval($space-small);
}

.file-attachment-dropzone-wrapper {
  height: $attachment-height;
  width: 100%;
  @include display-flex(row);
  @include align-items(center);
  justify-content: center;
  background-color: $attachment-bg-color;
  @include box-shadow(1px 2px 20px hsla(0,0%,4%,.1));
  @include border-radius($attachment-border-radius);
  border: 2px dashed $attachment-border-color;

  .attachment-filezone-wrapper {
    @include display-flex(column);
    justify-content: space-between;
    align-items: center;
    padding: $attachment-filezone-padding;
    background-color: $attachment-filezone-bg-color;

    input[type="file"] {
      display: none;
    }
  }
}
