<mcs-page [header]="'azureResources.header' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>
    <mcs-top-panel-item *mcsTopPanelItemDef>
      <div class="listing-action-wrapper">
        <ng-container *ngIf="isSorting; else totalCountTemplate">
          <div class="sorting-label">
            <span padding-right-small>{{ 'label.sorting' | translate }}</span><mcs-loader size="medium"></mcs-loader>
          </div>
        </ng-container>
        <ng-template #totalCountTemplate>
          <div class="total-record-count" *ngIf="dataSource?.totalCount$ | async as totalCount">
            <span>{{ totalCount | mcsPlural:
                  ('azureResources.dataSingular' | translate) : ('azureResources.dataPlural' | translate) }}
            </span>
          </div>
        </ng-template>
      </div>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'azureResources.leftPanelHeader' | translate">
    <!-- Search -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <mcs-search *ngIf="!isMobile" #search mcsId="azure-resources-desktop-search"></mcs-search>

      <mcs-grid style="margin-top: 10px;">
        <mcs-grid-row>
          <mcs-grid-column>
            <input mcsInput type="text"
              #searchTagName
              (keydown.space)="$event.stopPropagation()"
              (keyup)="onEnterKeyUpEvent(searchTagName.value, searchTagValue.value)"
              (keyup.enter)="onEnterKeyUpEvent(searchTagName.value, searchTagValue.value)"
              placeholder="Tag Name"
              mcsId="tag-name-search-input">
          </mcs-grid-column>
          <mcs-grid-column>
            <input mcsInput type="text"
              #searchTagValue
              (keydown.space)="$event.stopPropagation()"
              (keyup)="onEnterKeyUpEvent(searchTagName.value, searchTagValue.value)"
              (keyup.enter)="onEnterKeyUpEvent(searchTagName.value, searchTagValue.value)"
              placeholder="Tag Value"
              mcsId="tag-value-search-input">
          </mcs-grid-column>
        </mcs-grid-row>
      </mcs-grid>
    </mcs-left-panel-item>

    <!-- Column Filter -->
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="'azureResources.columnFilter' | translate" offset="medium">
      <mcs-column-selector #columnFilter
        storageKey="azureResources"
        [defaultFilters]="defaultColumnFilters">
      </mcs-column-selector>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>
    <div class="listing-table-wrapper">
      <!-- Table Banner -->
      <div>{{ 'azureResources.tableBanner' | translate }}</div>

      <!-- Search -->
      <mcs-search *ngIf="isMobile" #search mcsId="virtual-mobile-search"></mcs-search>

      <!-- Table -->
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name" disableClear>
            {{ 'columnHeader.name' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span [innerHTML]="row.name | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.type' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            <span [innerHTML]="row.typeFriendlyName | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Resource Group Column -->
        <ng-container matColumnDef="resourceGroup">
          <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="resourceGroupName" disableClear>
            {{ 'columnHeader.resourceGroup' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            <span *ngIf="row.type === 'microsoft.resources/subscriptions/resourcegroups'"
            [innerHTML]="row.resourceGroupName | mcsDataLabel: 'N/A'">
            </span>
            <span *ngIf="row.type !== 'microsoft.resources/subscriptions/resourcegroups'"
            [innerHTML]="row.resourceGroupName | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Service ID Column -->
        <ng-container matColumnDef="serviceId">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.serviceId' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            <ng-container *ngIf="row.serviceId; else noServiceIdTemplate">
              <span>{{ row.serviceId }}</span>
            </ng-container>
            <ng-template #noServiceIdTemplate>
              <mcs-data-status-empty
                [mcsTooltip]="'label.ticketingOrderingUnavailable' | translate"
                [mcsTooltipShow]="!row.serviceId">
                {{ 'label.unknown' | translate }}
              </mcs-data-status-empty>
            </ng-template>
          </td>
        </ng-container>

        <!-- Subscription Column -->
        <ng-container matColumnDef="subscription">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.subscription' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            <span [innerHTML]="row.subscriptionName | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Subscription ID Column -->
        <ng-container matColumnDef="subscriptionId">
          <th mat-header-cell *matHeaderCellDef hidden-small  mat-sort-header="subscriptionId" disableClear>
            {{ 'columnHeader.subscriptionId' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            <span [innerHTML]="row.subscriptionId | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Tags Column -->
        <ng-container matColumnDef="tags">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.tags' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            <span *ngIf="row.tagCount" mcsCursor="pointer">
              <mat-icon [matTooltip]="getTagsList(row.tags)" (mouseover)="getTags(row)">local_offer</mat-icon>
            </span>
            <span *ngIf="!row.tagCount" [innerHTML]="row.tagCount | mcsDataLabel: 'None'">
            </span>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef hidden-small></th>
          <td mat-cell *matCellDef="let row" text-center hidden-small>
            <mcs-icon mcsStopPropagation [key]="cogIconKey" size="large"
              mcsPopover placement="bottom" orientation="left" theme="light"
              padding="none" [content]="actionContent" mcsCursor="pointer" *ngIf="row.serviceId || row.subscriptionId || row.portalUrl">
            </mcs-icon>
            <ng-template #actionContent>
              <ng-container *mcsAccessControl="['OrderEdit']">
                <ng-container *ngIf="row.serviceId && row.subscriptionId">
                  <div class="cog-actions-wrapper">
                    <a mcsButton="basic" color="white" labelPlacement="left"
                      (click)="onRequestChange(row)"
                      mcsId="azure-resource-request-change"
                      mcsEventTracker="azure-resource-request-change"
                      mcsEventCategory="azure resource"
                      mcsEventLabel="azure-resource-listing-page">
                      {{ 'azureResources.requestChange' | translate }}
                    </a>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *mcsAccessControl="['TicketCreate']">
                <ng-container *ngIf="row.serviceId">
                  <div class="cog-actions-wrapper">
                    <a mcsButton="basic" color="white" labelPlacement="left"
                      (click)="onRaiseTicket(row)"
                      mcsId="azure-resource-raise-ticket"
                      mcsEventTracker="azure-resource-raise-ticket"
                      mcsEventCategory="azure resource"
                      mcsEventLabel="azure-resource-listing-page">
                      {{ 'azureResources.raiseTicket' | translate }}
                    </a>
                  </div>
                </ng-container>
              </ng-container>
              <div class="cog-actions-wrapper" *ngIf="row.portalUrl">
                <a mcsButton="basic" color="white" labelPlacement="left"
                  href="{{ row.portalUrl }}"
                  target="_blank"
                  mcsId="azure-resource-view-in-azure-portal"
                  mcsEventTracker="azure-resource-view-in-azure-portal"
                  mcsEventCategory="azure resource"
                  mcsEventLabel="azure-resource-listing-page">
                  {{ 'azureResources.viewAzurePortal' | translate }}
                </a>
              </div>
            </ng-template>
          </td>
        </ng-container>

        <!-- Header and Data row -->
        <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async"
          [disabled]="dataSource?.isInProgress$ | async"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"></tr>
      </table>

      <!-- Table Status -->
      <mcs-item orientation="block">
        <div *ngIf="dataSource?.isInProgress$ | async" align="center">
          <mcs-loader size="medium"></mcs-loader>
        </div>
        <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
          <span>{{ 'azureResources.noRecordsFoundMessage' | translate }}</span>
        </div>
        <div *ngIf="dataSource?.hasError$ | async" text-center>
          <div class="listing-status-wrapper">
            <span>{{ 'azureResources.errorMessage' | translate }}</span>
            <a (click)="retryDatasource()"
              mcsId
              mcsEventTracker="retry-loading-azure-resource-list"
              mcsEventCategory="azure-resource"
              mcsEventLabel="azure-resource-listing-page">{{ 'azureResources.retry' | translate }}</a>.
          </div>
        </div>
      </mcs-item>

      <!-- Paginator -->
      <mcs-paginator #paginator [totalCount]="dataSource?.totalCount$ | async">
      </mcs-paginator>
    </div>
  </mcs-content-panel>
</mcs-page>
