@import 'base';

// Header definitions
$header-bg-color: $color-black;
$header-color: $color-white;
$header-large-padding: $space-large;
$header-small-padding: $space-medium;

.header-wrapper {
  @include display-flex(row);
  @include align-items(center);
  z-index: $zindex-header;
  height: $shared-header-panel-height;
  padding-left: $header-large-padding;
  padding-right: $header-large-padding;
  background-color: $header-bg-color;
  color: $header-color;

  @include breakpoint(small) {
    padding-left: $header-small-padding;
    padding-right: $header-small-padding;
  }

  @include print() {
    position: fixed !important;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
  }

  .dark-logo {
    img {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .user-panel-wrapper {
    @include print() {
      display: none;
    }

    @include display-flex(row);
    height: 100%;

    .global-search {
      padding-top: $space-small;
      padding-right: $space-xlarge;
      padding-left: $space-xlarge;

      @include breakpoint(medium) {
        display: none;
      }

      mat-form-field {
        width: 200px;

        @include breakpoint(large) {
          width: 130px;
        }

        @include breakpoint(medium) {
          display: none;
        }

        mat-icon:hover {
          cursor: pointer;
        }
      }
      .global-search-button {
        vertical-align: sub;
      }
    }

    .make-a-change {
      @include breakpoint(medium) {
        display: none;
      }

      color: $color-black;
      vertical-align: middle;
      background-color: $color-scheme-primary;

      &.active,
      &:hover {
        background-color: $color-white;
      }

      a {
        min-width: 145px;
        padding: 18px;
        display: block;
        height: 100%;
        text-decoration: none;
        @include font-size($font-size-large);
        font-family: $circular-pro-bold;
      }
    }
  }

  .navigation-icon {
    @include print() {
      display: none;
    }

    @include breakpoint(medium) {
      @include display-flex(row);
    }

    cursor: pointer;
    align-items: center;

    mcs-icon {
      padding-right: $space-large;
    }
  }
}
