<!-- Macquarie Logo -->
<div class="navigation-icon">
  <mcs-icon [key]="toggleIconKey" size="medium" (click)="toggleNav()"></mcs-icon>
</div>
<a [mcsRouterLink]="['/']"
  class="hide-on-print"
  mcsId="header-logo"
  mcsEventTracker="header-logo"
  mcsEventCategory="navigation"
  mcsEventLabel="user-panel">
  <mcs-image size="175px" [key]="lightLogoIconKey"></mcs-image>
</a>
<div class="dark-logo show-on-print-only">
  <mcs-image size="175px" [key]="darkLogoIconKey"></mcs-image>
</div>

<!-- User panel content -->
<div mcsAlign="end" class="user-panel-wrapper">
  <ng-container *ngIf="!isImpersonating">
    <div class="global-search" *mcsAccessControl="['RawDataView']; feature: ['EnableLaunchPad']">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input #searchField type="text"
          matInput
          [(ngModel)]="searchKeyword"
          (keydown.enter)="search()">
        <mat-icon matSuffix (click)="search()">search</mat-icon>
      </mat-form-field>
    </div>
  </ng-container>

  <ng-container *mcsAccessControl="['OrderEdit'];">
    <div class="make-a-change" [class.active]="selectedCategory === routerCategoryEnum.MakeAChange">
      <a mcsCursor="pointer"
        mcsId="ordering-dashboard"
        mcsEventTracker="ordering-dashboard"
        mcsEventCategory="navigation"
        mcsEventLabel="header-link"
        [mcsRouterLink]="routeKeyEnum.OrdersDashboard">
        {{ 'navigation.makeAChange' | translate }}
      </a>
    </div>
  </ng-container>
  <mcs-user-panel></mcs-user-panel>
</div>
