@import '../../../styles/shared/base';

// Header definitions
$header-bg-color: $color-black;
$header-color: $color-white;
$header-large-padding: $space-large;
$header-small-padding: $space-medium;

.header-wrapper {
  @include display-flex(row);
  @include align-items(center);
  z-index: $zindex-header;
  height: $shared-header-panel-height;
  padding-left: $header-large-padding;
  padding-right: $header-large-padding;
  background-color: $header-bg-color;
  color: $header-color;

  @include breakpoint(small) {
    padding-left: $header-small-padding;
    padding-right: $header-small-padding;
  }

  .context-switch {
    @include breakpoint(small) {
      display: none;
    }
  }

  .user-panel-wrapper {
    @include display-flex(row);
    height: 100%;

    .make-a-change {
      @include breakpoint(medium) {
        display: none;
      }

      color: $color-black;
      vertical-align: middle;
      background-color: $color-scheme-primary;

      &.active,
      &:hover {
        background-color: $color-white;
      }

      a {
        padding: 18px;
        display: block;
        height: 100%;
        text-decoration: none;
        @include font-size($font-size-large);
        font-family: $circular-pro-bold;
      }
    }
  }

  .navigation-icon {
    @include breakpoint(medium) {
      @include display-flex(row);
    }

    cursor: pointer;
    align-items: center;

    mcs-icon {
      padding-right: $space-large;
    }
  }
}
