<!-- Macquarie Logo -->
<div class="navigation-icon">
  <mcs-icon [key]="toggleIconKey" size="medium" (click)="toggleNav()"></mcs-icon>
</div>
<a [mcsRouterLink]="['/']"
  mcsId="header-logo"
  mcsEventTracker="header-logo"
  mcsEventCategory="navigation"
  mcsEventLabel="user-panel">
  <mcs-image size="175px" [key]="lightLogoIconKey"></mcs-image>
</a>

<!-- User panel content -->
<div mcsAlign="end" class="user-panel-wrapper">
  <ng-container *mcsAccessControl="['OrderEdit'];">
    <div class="make-a-change" [class.active]="selectedCategory === routerCategoryEnum.MakeAChange">
      <a mcsCursor="pointer"
        mcsId="ordering-dashboard"
        mcsEventTracker="ordering-dashboard"
        mcsEventCategory="navigation"
        mcsEventLabel="header-link"
        [mcsRouterLink]="routeKeyEnum.OrdersDashboard">
        {{ 'navigation.makeAChange' | translate }}
      </a>
    </div>
  </ng-container>
  <mcs-user-panel></mcs-user-panel>
</div>
