<mcs-grid *ngIf="resource$ | async as resource">
  <mcs-grid-row>
    <!-- VDC Properties -->
    <mcs-grid-column sizeSm="12">
      <mcs-presentation-panel mcsId="vdc-properties">
        <ng-container mcsPresentationPanelHeader>
          <h2>{{ resourceDetailLabels.propertyTitle }}</h2>
        </ng-container>

        <mcs-item>
          <span>{{ 'resources.overview.shared.properties.serviceType' | translate }}:</span>
          <span [innerHTML]="resource?.serviceTypeLabel | mcsDataLabel"></span>
        </mcs-item>

        <mcs-item>
          <span>{{ 'resources.overview.shared.properties.zone' | translate }}:</span>
          <span [innerHTML]="resource?.availabilityZone | mcsDataLabel"></span>
        </mcs-item>

        <mcs-item>
          <span>{{ 'label.ram' | translate }}:</span>
          <mcs-capacity-bar full-width
            [(ngModel)]="resource.compute.memoryUsedMB"
            [maxValue]="resource.compute.memoryLimitMB"></mcs-capacity-bar>
        </mcs-item>

        <mcs-item>
          <span>{{ 'label.vCpu' | translate }}:</span>
          <mcs-capacity-bar full-width [matTooltip]="ghzTooltip(resource?.compute?.cpuLimitGhz)"
            [hideDataSize]="true"
            [(ngModel)]="resource.compute.cpuUsed"
            [maxValue]="resource.compute.cpuLimit"></mcs-capacity-bar>
        </mcs-item>
      </mcs-presentation-panel>
    </mcs-grid-column>

    <!-- VCloud Director -->
    <mcs-grid-column sizeSm="12">
      <mcs-presentation-panel mcsId="resource-vcloud-director">
        <ng-container mcsPresentationPanelHeader>
          <h2>{{ resourceDetailLabels.platformTitle }}</h2>
        </ng-container>

        <ng-container *mcsAccessControl="['DedicatedVmEdit', 'ManagedCloudVmEdit', 'SelfManagedCloudVmEdit']">
          <ng-container *ngIf="resourceDetailLabels.newServerButtonShown">
            <mcs-item *ngIf="canCreateNewServer(resource)">
              <button mcsButton size="small" mcsId
                [disabled]="isCreateNewServerButtonDisabled(resource)"
                (click)="createNewServer(resource)"
                mcsEventTracker="new-server"
                mcsEventCategory="resource"
                mcsEventLabel="resource-details-page">
                {{ 'resources.overview.vcloud.platform.buttonLabel' | translate }}
              </button>
            </mcs-item>
          </ng-container>
        </ng-container>
        <mcs-item *ngIf="resource.portalUrl">
          <a [href]="resource.portalUrl" target="_blank"
            mcsId
            mcsEventTracker="view-in-vcloud"
            mcsEventCategory="resource"
            mcsEventLabel="resource-details-page">{{ resourceDetailLabels.platformLink }}</a>
        </mcs-item>
      </mcs-presentation-panel>
    </mcs-grid-column>
  </mcs-grid-row>

  <mcs-grid-row>
    <!-- Network Information -->
    <mcs-grid-column sizeSm="12">
      <mcs-presentation-panel mcsId="resource-network-information">
        <ng-container mcsPresentationPanelHeader>
          <h2>{{ 'resources.overview.shared.network.title' | translate }}</h2>
        </ng-container>
        <p>{{ 'resources.overview.shared.network.description' | translate }}</p>

        <mcs-accordion [multi]="true">
          <mcs-accordion-panel
            *ngFor="let network of resource.networks; let i = index"
            [expanded]="i === 0">

            <mcs-accordion-panel-header mcsPanelHeaderDef>{{ network.networkName }}</mcs-accordion-panel-header>
            <ng-container *ngIf="network.subnets.length; else noSubnetsTemplate">
              <mcs-item *ngFor="let subnet of network.subnets; let i = index">
                <span>{{ 'resources.overview.shared.network.gateway' | translate }} {{ i+1 }}:</span>
                <span>{{ subnet.gateway }}</span>
              </mcs-item>
            </ng-container>
            <ng-template #noSubnetsTemplate>
              <span read-only>{{ 'resources.overview.shared.network.noSubnets' | translate }}</span>
            </ng-template>
          </mcs-accordion-panel>
        </mcs-accordion>
      </mcs-presentation-panel>
    </mcs-grid-column>

    <!-- Storage Profiles / Datastores -->
    <mcs-grid-column sizeSm="12">
      <mcs-presentation-panel mcsId="resource-storage-profiles">
        <ng-container mcsPresentationPanelHeader>
          <mcs-item>
            <mcs-icon *ngIf="hasLowStorage" [key]="warningIconKey"></mcs-icon>
            <h2>{{ resourceDetailLabels.storageTitle }}</h2>
            <a (click)="navigateVdcDetailTo(resource, routeKeyEnum.ResourceDetailsStorage)"
            *ngIf="resource.scaleable"
              mcsId="navigate-to-storage"
              mcsEventTracker="navigate-to-storage"
              mcsEventCategory="resource"
              mcsEventLabel="resource-details-page">
              {{ 'resources.overview.shared.storageProfiles.manageLink' | translate }}
            </a>
          </mcs-item>
        </ng-container>
        <p>{{ resourceDetailLabels.storageRefreshMessage }}</p>

        <section>
          <mcs-item *ngIf="hasLowStorage">
            <span>{{ storageSummary }}</span>
            <a (click)="navigateToExpandVdcStorage(resource)"
              *mcsAccessControl="['OrderEdit'];"
              mcsId="navigate-to-expand-vdc-storage"
              mcsEventTracker="expand-vdc-storage-click"
              mcsEventCategory="orders"
              mcsEventLabel="navigate-to-expand-vdc-storage">
              {{ 'resources.overview.shared.storageProfiles.expandLink' | translate }}
            </a>
          </mcs-item>
          <mcs-accordion [multi]="true">
            <mcs-accordion-panel
              *ngFor="let storage of resource.storage; let i = index"
              [expanded]="i === 0">
              <mcs-accordion-panel-header mcsPanelHeaderDef>
                <mcs-icon size="small" [key]="getStorageStatusIconKey(storage)"></mcs-icon>
                {{ storage.name }}
              </mcs-accordion-panel-header>

              <mcs-item>
                <span>{{ 'resources.overview.shared.storageProfiles.status' | translate }}:</span>
                <span [innerHTML]="storage?.toggleLabel | mcsDataLabel"></span>
              </mcs-item>

              <mcs-item *ngIf="storage.iops">
                <span>{{ 'resources.overview.shared.storageProfiles.tier' | translate }}:</span>
                <span [innerHTML]="(iopsLabelPlaceholder |
                  mcsTextPlaceholder: 'iops': storage.iops) |
                  mcsDataLabel"></span>
              </mcs-item>

              <mcs-item>
                <span>{{ 'resources.overview.shared.storageProfiles.utilisation' | translate }}:</span>
                <mcs-capacity-bar full-width [mcsTooltip]="storage.usedMbStatusText"
                  [(ngModel)]="storage.usedMB"
                  [maxValue]="storage.limitMB"></mcs-capacity-bar>
              </mcs-item>

              <mcs-item *ngIf="isStorageProfileLow(storage)">
                <mcs-icon [key]="warningIconKey"></mcs-icon>
                <span>{{ resourceDetailLabels.lowStorageMessage }}</span>
              </mcs-item>
            </mcs-accordion-panel>
          </mcs-accordion>
        </section>
      </mcs-presentation-panel>
    </mcs-grid-column>
  </mcs-grid-row>
</mcs-grid>
