@import '../../../styles/shared/base';

$http-error-page-bg-color: $color-white;
$http-error-page-color: $color-black;
$http-error-page-header-color: $color-primary-01;
$http-error-page-header-font-size: 100;
$http-error-page-max-width: 500px;

:host,
.http-error-page-wrapper {
  @include display-flex(column);
  @include align-items(center);
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $http-error-page-bg-color;
  color: $http-error-page-color;
}

.http-error-page-content {
  @include display-flex(column);
  @include align-items(center);
  max-width: $http-error-page-max-width;

  .http-error-page-header {
    @include font-size($http-error-page-header-font-size);
    color: $http-error-page-header-color;
  }
}