<div class="http-error-page-content" text-center>

  <span class="http-error-page-header">
    {{ textHeader || textContent?.header  }}
  </span>
  <h2>{{ textContent?.summary }}</h2>
  <div>
    <span *ngIf="textContent?.description">
      {{ textContent?.description }}<br/>
    </span>
    <span *ngIf="textContent?.retry">
      {{ textContent?.retry }}
    </span>
  </div>

  <div [ngSwitch]="errorCode">
    <div *ngSwitchCase="httpStatusCodeEnum.NotFound">
      <ng-container *ngTemplateOutlet="homeButtonTemplate"></ng-container>
    </div>
    <div *ngSwitchCase="httpStatusCodeEnum.ServiceUnavailable">
      <ng-container *ngTemplateOutlet="homeButtonTemplate"></ng-container>
    </div>
    <div *ngSwitchCase="httpStatusCodeEnum.InternalServerError">
      <ng-container *ngTemplateOutlet="refreshButtonTemplate"></ng-container>
    </div>
    <div *ngSwitchCase="httpStatusCodeEnum.Unprocessable">
      <ng-container *ngTemplateOutlet="refreshButtonTemplate"></ng-container>
    </div>
    <div *ngSwitchCase="httpStatusCodeEnum.Forbidden">
      <ng-container *ngTemplateOutlet="homeButtonTemplate"></ng-container>
    </div>
    <div *ngSwitchCase="httpStatusCodeEnum.ReadOnlyMode">
      <ng-container *ngTemplateOutlet="homeButtonTemplate"></ng-container>
    </div>
  </div>
</div>

<!-- Home button -->
<ng-template #homeButtonTemplate>
  <a mcsButton size="small" [mcsRouterLink]="['/']"
    mcsId
    mcsEventTracker="navigate-to-home"
    mcsEventCategory="error"
    mcsEventLabel="http-error-page">
    {{ textContentAll.home }}
  </a>
</ng-template>

<!-- Refresh button -->
<ng-template #refreshButtonTemplate>
  <button mcsButton size="small" (click)="refreshPage()"
    mcsId
    mcsEventTracker="refresh-page"
    mcsEventCategory="error"
    mcsEventLabel="http-error-page">
    {{ textContentAll.refresh }}
  </button>
</ng-template>