<div display-flex="column" align-items="center"
  class="text-center http-error-page-content vertical-items-spacing-medium">

  <h1>{{ textContent?.header }}</h1>
  <h4>{{ textContent?.summary }}</h4>
  <div>
    <span *ngIf="textContent?.description">
      {{ textContent?.description }}<br/>
    </span>
    <span *ngIf="textContent?.retry">
      {{ textContent?.retry }}
    </span>
  </div>

  <div [ngSwitch]="errorCode" display-flex align-items="center" justify-content="space-between">
    <div *ngSwitchCase="httpStatusCodeEnum.NotFound">
      <ng-container *ngTemplateOutlet="homeButtonTemplate"></ng-container>
    </div>
    <div *ngSwitchCase="httpStatusCodeEnum.ServiceUnavailable">
      <ng-container *ngTemplateOutlet="homeButtonTemplate"></ng-container>
    </div>
    <div *ngSwitchCase="httpStatusCodeEnum.InternalServerError">
      <ng-container *ngTemplateOutlet="refreshButtonTemplate"></ng-container>
    </div>
    <div *ngSwitchCase="httpStatusCodeEnum.Unprocessable">
      <ng-container *ngTemplateOutlet="refreshButtonTemplate"></ng-container>
    </div>
    <div *ngSwitchCase="httpStatusCodeEnum.Forbidden">
      <ng-container *ngTemplateOutlet="homeButtonTemplate"></ng-container>
    </div>
    <div *ngSwitchCase="httpStatusCodeEnum.ReadOnlyMode">
      <ng-container *ngTemplateOutlet="homeButtonTemplate"></ng-container>
    </div>
  </div>
</div>

<!-- Home button -->
<ng-template #homeButtonTemplate>
  <button mcsButton id="ctaReturnHome" size="small" [routerLink]="['/']">
    {{ textContentAll.home }}
  </button>
</ng-template>

<!-- Refresh button -->
<ng-template #refreshButtonTemplate>
  <button mcsButton id="ctaRefreshPage" size="small" (click)="refreshPage()">
    {{ textContentAll.refresh }}
  </button>
</ng-template>