@import "../shared/base";
@import "../shared/mcs-theme";
@import "fonts";
@import "animations/mcs-animations";

@import "elements/mcs-reset";
@import "elements/mcs-anchor";
@import "elements/mcs-bold";
@import "elements/mcs-button";
@import "elements/mcs-form-field";
@import "elements/mcs-heading";
@import "elements/mcs-paragraph";
@import "elements/mcs-small";
@import "elements/mcs-strong";
@import "elements/mcs-table";
@import "elements/mcs-list";
@import "elements/mcs-section";
@import "elements/mcs-form";

@import "attributes/mcs-font";
@import "attributes/mcs-flex";
@import "attributes/mcs-float-elements";
@import "attributes/mcs-spacing";
@import "attributes/mcs-text";
@import "attributes/mcs-visibility";
@import "attributes/mcs-overflow";
@import "attributes/mcs-color";
@import "attributes/mcs-layout";
@import "attributes/mcs-display";

@import "classes/mcs-box-shadow";
@import "classes/mcs-layout";
@import "classes/mcs-action-items";
@import "classes/mcs-contextual-help";
@import "classes/mcs-listing";
@import "classes/mcs-routing-tab";
@import "classes/mcs-pre-loader";
@import "classes/mcs-global-element";
@import "classes/mcs-overlay";
@import "classes/mcs-scrollbar";
@import "classes/mcs-print";
@import "classes/mcs-ripple";
@import "classes/mcs-image";
@import "classes/mcs-cog-action";
@import "classes/mcs-charts";

@import "material/mcs-chiplist";
@import "material/mcs-snackbar";
@import "material/mcs-tabs";
@import "material/mcs-formfield";
@import "material/mcs-dialog";
@import "material/mcs-tooltip";
@import "material/mcs-button";
@import "material/mcs-treeview";
@import "material/mcs-date-picker";
@import "material/mcs-time-picker";

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

@page {
  size: portrait;
  margin: $space-large $space-large $space-large 0;
}

html {
  position: relative;
  height: 100%;

  body {
    @include color-adjust(exact !important);
    height: 100%;
    overflow: hidden;
    @include print() {
      height: auto;
      overflow-y: visible;
      overflow-x: visible;
    }

    font-family: $font-default;
    color: $color-black;
    @include font-size($font-size-default);
    @include breakpoint(small) {
      @include font-size($font-size-small);
    }
  }

  img {
    @extend .no-break-on-print;
  }
}
