@import "../shared/base";
@import "fonts";
@import "animations/mcs-animations";

@import "layout/mcs-reset";
@import "layout/mcs-space";
@import "layout/mcs-color";
@import "layout/mcs-alignment";
@import "layout/mcs-box-shadow";
@import "layout/mcs-layout";

@import "elements/mcs-anchor";
@import "elements/mcs-bold";
@import "elements/mcs-button";
@import "elements/mcs-form-field";
@import "elements/mcs-heading";
@import "elements/mcs-paragraph";
@import "elements/mcs-small";
@import "elements/mcs-strong";
@import "elements/mcs-table";

@import "classes/mcs-container";
@import "classes/mcs-panel";
@import "classes/mcs-contextual-help";
@import "classes/mcs-listing";
@import "classes/mcs-page-title";
@import "classes/mcs-routing-tab";
@import "classes/mcs-pre-loader";
@import "classes/mcs-global-element";
@import "classes/mcs-overlay";
@import "classes/mcs-scrollbar";
@import "classes/mcs-cog-container";
@import "classes/mcs-forms";
@import "classes/mcs-grid";
@import "classes/mcs-list";
@import "classes/mcs-ripple";
@import "classes/mcs-image";

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

html {
  position: relative;
  height: 100%;

  body {
    height: 100%;
    overflow: hidden;
    font-family: $font-default;
    color: $color-black;
    @include font-size($font-size-default);
    @include breakpoint(small) {
      @include font-size($font-size-small);
    }
  }
}
