@font-face {
  font-family: "Circular-Pro-Book";
  src: url("/assets/fonts/lineto-circular-pro-book.ttf") format("truetype");
  src: url("/assets/fonts/lineto-circular-pro-book.eot?#iefix") format("eot"),
       url("/assets/fonts/lineto-circular-pro-book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circular-Pro-Bold";
  src: url("/assets/fonts/lineto-circular-pro-bold.ttf") format("truetype");
  src: url("/assets/fonts/lineto-circular-pro-bold.eot?#iefix") format("eot"),
        url("/assets/fonts/lineto-circular-pro-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/assets/fonts/mcs-material-icons.woff2") format('woff2');
}