<div [hidden]="hideBackground" class="progress-bar-background" (blur)="onBlur()">
  <span *ngIf="usePercentage" [hidden]="isTextHidden" class="static-text">{{ getStringPercentage() }}</span>
</div>

<div class="progress-container-primary progress-container-fill"
  [ngStyle]="getProgressScale()" #progressBarContainer>
</div>

<!-- Displayed text -->
<div [hidden]="isTextHidden" class="progress-container-primary"
  [ngStyle]="{width: getStringPercentage()}">
  <span *ngIf="usePercentage;else actualValue" class="responsive-text">{{ getStringPercentage() }}</span>
  <ng-template #actualValue>
    <span class="responsive-text">{{ valueFormatter(value) + ' / ' + valueFormatter(maxValue) }}</span>
  </ng-template>
</div>

<!-- Use to indeterminate mode only for backup purposes -->
<div class="progress-container-secondary progress-container-fill"></div>
