<!-- Switch User Panel Template for popover -->
<ng-template #userSettings>
  <div class="switch-account-settings-wrapper">
    <div class="profile-settings">
      <mcs-account-panel (selectionChanged)="userPopover?.close()"></mcs-account-panel>
    </div>

    <div class="logout-panel">
      <a cursor="pointer" (click)="logout($event)"
        mcsEventTracker="logout"
        mcsEventCategory="navigation"
        mcsEventLabel="user-panel">{{ textContent.signOut }}</a>
    </div>

    <div *mcsAccessControl="['CompanyView']" class="switch-account-panel hidden-small">
      <mcs-switch-account [ngStyle]="{width: '400px'}"
        (selectionChanged)="userPopover?.close()">
      </mcs-switch-account>
    </div>
  </div>
</ng-template>

<!-- Notifications Panel template -->
<ng-template #notificationsContent>
  <ng-container *ngIf="notificationsPopover.componentRef">
    <div class="notifications-content-wrapper">
      <div class="notification-item font-bold"
        display-flex justify-content="flex-start" align-items="center">
        <span>{{ textContent.notifications.title }}</span>
      </div>

      <div class="notification-item" *ngIf="!hasNotification">
        <span>{{ textContent.notifications.noRecord }}</span>
      </div>

      <!-- Jobs -->
      <div class="hpadding-xsmall"
        *ngFor="let notification of (displayedNotifications | mcsNotificationPanelMaxPipe)">
        <mcs-notification-panel
          type="running"
          [notification]="notification">
        </mcs-notification-panel>
      </div>

      <div class="notification-item" display-flex justify-content="center" align-items="center">
        <a (click)="viewNotificationsPage()"
          mcsEventTracker="view-notifications"
          mcsEventCategory="navigation"
          mcsEventLabel="user-panel">
          {{ textContent.notifications.viewMore }}
        </a>
      </div>
    </div>
  </ng-container>
</ng-template>

<div class="user-panel-wrapper">
  <!-- Notification bell icon -->
  <div class="user-panel-item notification-item" display-flex align-items="center">
    <a display-flex align-items="center" class="icon-content"

      mcsPopover #notificationsPopover="mcsPopover"
      (onOpen)="onOpenNotificationPanel()"
      maxWidth="350px" padding="none"
      placement="bottom" orientation="left" theme="light" priority="high"
      [content]="notificationsContent">

      <mcs-icon [key]="bellIconKey" size="small" color="white"></mcs-icon>
      <span *ngIf="hasNotification" display-flex align-items="center" justify-content="center">
        {{ displayedNotifications.length }}
      </span>
    </a>
  </div>

  <!-- User icon -->
  <div class="user-panel-item user-item" display-flex align-items="center">
    <a flex="auto" display-flex="column" cursor="pointer"
      (click)="clickUser()"
      mcsEventTracker="user-dropdown-toggle"
      mcsEventCategory="navigation"
      mcsEventLabel="user-panel"
      stop-propagation>
      <mcs-icon class="user-icon" [key]="userIconKey" size="medium"></mcs-icon>
      <span class="hidden-small text-light">{{ firstName }} {{ lastName }}</span>

      <small *ngIf="!loadingAccount" class="user-info" read-only>{{ activeAccount?.name }}</small>
      <small *ngIf="loadingAccount" class="user-info" read-only>
        <div class="inline-items-small">
          <mcs-icon [key]="spinnerIconKey" size="xsmall"></mcs-icon>
          <span>{{ textContent.loadingCompany }}</span>
        </div>
      </small>
    </a>

    <!-- Popover will display here -->
    <mcs-icon class="caret-down right-align" flex="none" display-flex flex-align="top"
      [key]="caretDownIconKey" color="white" cursor="pointer"

      mcsPopover #userPopover="mcsPopover"
      padding="none" placement="bottom" orientation="left"
      theme="dark" priority="high"
      [content]="userSettings" maxWidth="500px"></mcs-icon>
  </div>
</div>