<!-- Switch User Panel Template for popover -->
<ng-template #userSettings>
  <div class="switch-account-settings-wrapper">
    <div class="profile-settings">
      <mcs-account-panel (selectionChanged)="userPopover?.close()"></mcs-account-panel>
    </div>

    <div class="logout-panel">
      <a mcsCursor="pointer" (click)="logout($event)"
        mcsId
        mcsEventTracker="logout"
        mcsEventCategory="navigation"
        mcsEventLabel="user-panel">{{ textContent.signOut }}</a>
    </div>

    <div *mcsAccessControl="['CompanyView']"
      mcsScrollable="dark"
      mcsScrollbarSize="small"
      class="switch-account-panel">
      <mcs-switch-account (selectionChanged)="userPopover?.close()">
      </mcs-switch-account>
    </div>
  </div>
</ng-template>

<!-- Notifications Panel template -->
<ng-template #notificationsContent>
  <ng-container *ngIf="notificationsPopover.componentRef">
    <div class="notifications-content-wrapper">
      <div class="notification-item">
        <span>{{ textContent.notifications.title }}</span>
      </div>

      <div class="notification-item" *ngIf="!hasNotification">
        <span>{{ textContent.notifications.noRecord }}</span>
      </div>

      <!-- Jobs -->
      <div *ngFor="let notification of (displayedNotifications | mcsArrayTakeMax: 3)">
        <mcs-notification-panel
          type="running"
          [notification]="notification">
        </mcs-notification-panel>
      </div>

      <div class="notification-item" text-center>
        <a (click)="viewNotificationsPage()"
          mcsId="view-notifications"
          mcsEventTracker="view-notifications"
          mcsEventCategory="navigation"
          mcsEventLabel="user-panel">
          {{ viewMoreNotificationsText }}
        </a>
      </div>
    </div>
  </ng-container>
</ng-template>

<div class="user-panel-wrapper">
  <!-- Notification bell icon -->
  <div class="user-panel-item notification-item">
    <a class="icon-content"
      mcsPopover #notificationsPopover="mcsPopover"
      (onOpen)="onOpenNotificationPanel()"
      maxWidth="350px" padding="none"
      placement="bottom" orientation="left" theme="light" priority="high"
      [content]="notificationsContent">

      <mcs-icon [key]="bellIconKey" size="small" color="white"></mcs-icon>
      <span *ngIf="hasNotification">{{ displayedNotifications.length }}</span>
    </a>
  </div>

  <!-- User icon -->
  <div class="user-panel-item user-item">
    <mcs-item>
      <a mcsCursor="pointer"
        (click)="clickUser()"
        mcsId="user-dropdown-toggle"
        mcsEventTracker="user-dropdown-toggle"
        mcsEventCategory="navigation"
        mcsEventLabel="user-panel"
        mcsStopPropagation>
        <mcs-icon class="user-icon" [key]="userIconKey" size="small"></mcs-icon>
        <span hidden-small>{{ (activeUser$ | async)?.fullName }}</span>

        <ng-container *ngIf="activeAccount$ | async as activeAccount">
          <small class="user-info" read-only>{{ activeAccount.name }}</small>
        </ng-container>
      </a>

      <!-- Popover will display here -->
      <mcs-icon class="caret-down"
        [key]="caretDownIconKey" color="white" mcsCursor="pointer"

        mcsPopover #userPopover="mcsPopover"
        padding="none" placement="bottom" orientation="left"
        theme="dark" priority="high"
        [content]="userSettings" maxWidth="500px"></mcs-icon>
    </mcs-item>
  </div>
</div>