<div class="mcs-user-panel">
  <aside class="notification">
    <a class="icon-link" mcsPopover #popoverInstance="mcsPopover"
      (onClose)="onCloseNotificationPanel()"
      (onOpen)="onOpenNotificationPanel()"
      maxWidth="350px" padding="none"
      placement="bottom" orientation="center" theme="light"
      [title]="notificationsTitle" [content]="notificationsContent">

      <!--Bell Icon for notification-->
      <mcs-icon [key]="bellIconKey" type="font" size="small" color="white"></mcs-icon>
      <span *ngIf="hasNotification">{{ notifications.length }}</span>
      <div *ngIf="hasNotification" class="caret-down">
        <mcs-icon [key]="caretDownIconKey" type="font" size="small" color="white"></mcs-icon>
      </div>
    </a>

    <ng-template #notificationsTitle>
      <span *ngIf="popoverInstance.componentRef"
        class="mcs-notification-title">{{ notificationTextContent.title }}</span>
    </ng-template>

    <ng-template #notificationsContent>
      <div *ngIf="popoverInstance.componentRef" class="mcs-notification-content">
        <ul class="unstyled-list">
          <li class="no-notifications" *ngIf="!hasNotification && !hasConnectionError">
            <span>{{ notificationTextContent.noRecord }}</span>
          </li>
          <li class="error-connection" *ngIf="hasConnectionError">
            <span>{{ notificationTextContent.connectionError }}</span>
          </li>
          <li *ngFor="let notification of (notifications | mcsRunningNotificationMaxDisplayPipe)">
            <mcs-running-notification [attribute]="notification"></mcs-running-notification>
          </li>
          <li class="view-all-notifications">
            <a class="icon-link" (click)="viewNotificationsPage()">
              {{ notificationTextContent.viewMore }}
            </a>
          </li>
        </ul>
      </div>
    </ng-template>
  </aside>
  <aside class="user-panel">
    <a class="icon-link" mcsPopover padding="none"
      placement="bottom" orientation="center" theme="light"
      [content]="userSettings">
      <mcs-icon class="user-icon" [key]="userIconKey"
        size="small" color="white"></mcs-icon>

      <span class="hidden-small">Shaun Domingo</span>
      <mcs-icon class="hidden-small" [key]="caretDownIconKey"
        size="small" color="white"></mcs-icon>
    </a>

    <ng-template #userSettings>
     <div class="user-settings-container">
        <a class="icon-link">
          Account Settings
        </a>
        <a class="icon-link">
          Profile
        </a>
        <a class="icon-link">
          Logout
        </a>
      </div>
    </ng-template>
    <small class="user-info">Macquarie Telecom Contoso</small>
  </aside>
  <aside class="exit">
    <mcs-icon [key]="caretRightIconKey"
      type="font" size="small" color="white"></mcs-icon>
  </aside>
</div>