@import '../../../../styles/shared/base';

// Header User-Panel
$user-panel-item-height: 40px;
$user-panel-item-padding: 0 $space-xlarge;
$user-panel-item-divider-color: $color-grey-01;
$notification-minimum-width: 350px;
// Notification item variables
$notification-item-label-bg-color: $color-primary-01;
$notification-item-label-color: $color-black;
$notification-item-label-font: $base-font-bold;
$notification-item-label-size: 18px;

// User panel layout
.user-panel-wrapper {
  @include display-flex(row);
  align-items: center;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .user-panel-item {
    height: $user-panel-item-height;
    padding: $user-panel-item-padding;

    .caret-down {
      padding-left: $space-xsmall;
    }
  }

  .notification-item {
    .icon-content {
      position: relative;
    }

    span {
      background-color: $notification-item-label-bg-color;
      position: absolute;
      width: $notification-item-label-size;
      height: $notification-item-label-size;
      top: -10px;
      left: 5px;
      @include border-radius(100%);
      font-family: $notification-item-label-font;
      text-align: center;
      color: $notification-item-label-color;
    }
  }

  .user-item {
    border-left: 1px solid $user-panel-item-divider-color;
    padding-right: 0;

    .user-icon {
      display: none;
      @include breakpoint(small) {
        display: inline-block;
      }
    }

    .user-info {
      display: block;
      padding-right: $space-large;
      @include breakpoint(small) {
        display: none;
      }
    }
  }
}

// Popover for notifications layout
.notifications-content-wrapper {
  @include display-flex(column);
  @include set-items-divider($color-grey-04);
  min-width: $notification-minimum-width;

  .notification-item {
    padding: $space-small;
  }
}

// Popover for switch account layout
.switch-account-settings-wrapper {
  @include display-flex(column);
  @include set-items-divider();
  background-color: $color-black;
  color: $color-grey-05;
  min-width: 200px;

  a {
    color: $color-grey-05;
    text-decoration: none;
    &:hover {
      color: $color-primary-01;
      text-decoration: none;
    }
  }

  .profile-settings,
  .switch-account-panel,
  .logout-panel {
    padding: $space-medium;
  }
}