$mcs-form-field-sizes: (
  auto: inherit,
  full: 100%,
  xxsmall: 4rem,
  xsmall: 8rem,
  small: 12rem,
  medium: 16rem,
  large: 20rem,
  xlarge: 24rem,
  xxlarge: 28rem
);

form.form-group-wrapper {
  // Remove auto adding of interval for forms
  mcs-grid-row.grid-row-wrapper {
    margin-top: 0;
  }
}

mat-form-field.mat-form-field {
  @each $form-size, $form-size-value in $mcs-form-field-sizes {
    &.mcs-form-field-size-#{$form-size} {
      width: 100%;
      max-width: $form-size-value;
    }
  }

  .mat-form-field-wrapper {
    .mat-form-field-subscript-wrapper {
      white-space: pre-wrap;
    }
  }

  &.mcs-select-no-padding {
    .mat-form-field-wrapper {
      padding: 0 !important;
    }
  }

  // For outline appearance
  &.mat-form-field-appearance-outline {
    $mcs-form-label-float-interval: 1.5rem;
    $mcs-form-prefix-suffix-interval: 0;// 0.2rem;
    $mcs-form-top-border-size: 0.45rem;
    $mcs-form-infix-border-size: 0.8rem;
    $mcs-form-infix-padding: 0.6rem 0;
    $mcs-form-border-radius: 2px;
    $mcs-form-border-thickness: 1px;
    $mcs-form-field-line-height: 1rem;

    .mat-form-field-outline,
    .mat-form-field-outline-thick {
      top: $mcs-form-top-border-size;
      color: get-color($color-definitions, dark, shade);

      .mat-form-field-outline-start {
        border-width: $mcs-form-border-thickness;
        border-radius: $mcs-form-border-radius 0 0 $mcs-form-border-radius;
      }

      .mat-form-field-outline-gap {
        border-width: $mcs-form-border-thickness;
      }

      .mat-form-field-outline-end {
        border-width: $mcs-form-border-thickness;
        border-radius: 0 $mcs-form-border-radius $mcs-form-border-radius 0;
      }
    }

    .mat-form-field-outline-thick {
      color: get-color($color-definitions, primary, base);
    }

    .mat-form-field-infix {
      line-height: $mcs-form-field-line-height;
      padding: $mcs-form-infix-padding;
      border-top: $mcs-form-infix-border-size solid transparent;

      .mat-form-field-label-wrapper {
        top: -$mcs-form-infix-border-size;
        padding-top: 0.8em;

        label.mat-form-field-empty {
          top: $mcs-form-label-float-interval;
        }
      }
    }

    &.mat-form-field-can-float.mat-form-field-should-float {
      label.mat-form-field-label.mat-form-field-empty {
        top: $mcs-form-label-float-interval;
      }
    }

    .mat-form-field-prefix,
    .mat-form-field-suffix {
      top: $mcs-form-prefix-suffix-interval;
    }
  }

  // For readonly mode only
  &.mcs-form-field-readonly {
    pointer-events: none;

    .mat-form-field-wrapper {
      margin: 0;
      padding: 0;

      .mat-form-field-flex {
        margin: 0;
        padding: 0;

        .mat-form-field-outline {
          opacity: 0;

          &:hover {
            opacity: 0;
          }
        }

        .mat-form-field-infix {
          cursor: pointer;
          padding: 0;
          border: 0;

          .mat-select {
            .mat-select-arrow-wrapper {
              opacity: 0;
            }
          }

          .mat-form-field-label-wrapper {
            opacity: 0;
          }
        }
      }

      .mat-form-field-subscript-wrapper {
        display: none;
      }
    }
  }

  $date-time-picker-input-field-width: 200px;
  $time-picker-field-padding: .6rem 0 .3rem;
  $date-picker-field-padding: 1.1rem 0 .8rem;
  $date-picker-toggle-button-margin-right: -5px;
  $date-time-picker-form-field-suffix-top: 0.3rem;

  &.date-container,
  &.time-container {
    width: $date-time-picker-input-field-width;

    .mat-form-field-wrapper {
      padding: 0;
      margin: 0;

      .mat-form-field-outline {
        top: $date-time-picker-form-field-suffix-top;
      }
      .mat-form-field-infix {
        border-top: none;

        input {
          background-color: transparent;
          color: $color-black !important;
          opacity: 1 !important;
        }
      }

      .mat-form-field-suffix {
        top: $date-time-picker-form-field-suffix-top;
      }
    }
  }

  &.date-container {
    .mat-form-field-infix {
      padding:  $date-picker-field-padding;
    }
    .mat-datepicker-toggle {
      margin-right: $date-picker-toggle-button-margin-right;
    }
  }

  &.time-container {
    .mat-form-field-infix {
      padding:  $time-picker-field-padding;
      display: flex;
    }
  }
}