
$tab-body-padding: $space-medium 0;

mat-tab-header {
  $tab-font: $base-font-bold;
  $tab-font-size: 17;

  .mat-tab-label {
    color: $color-black;
    @include font-size($tab-font-size);
    font-family: $tab-font;
    height: 100%;
    padding: 10px 0;
  }
}

.tab-group-body-wrapper {
  padding: $tab-body-padding;
}

.warn-snackbar {
  .mat-simple-snackbar {
    > span {
      color: $color-scheme-danger;
    }
  }
}