$mcs-form-field-sizes: (
  auto: inherit,
  full: 100%,
  xxsmall: 4rem,
  xsmall: 8rem,
  small: 12rem,
  medium: 16rem,
  large: 20rem,
  xlarge: 24rem,
  xxlarge: 28rem
);

mat-form-field.mat-form-field {

  @each $form-size, $form-size-value in $mcs-form-field-sizes {
    &.mcs-form-field-size-#{$form-size} {
      width: 100%;
      max-width: $form-size-value;
    }
  }

  &.mcs-form-field-readonly {
    pointer-events: none;

    .mat-form-field-wrapper {
      margin: 0;
      padding: 0;

      .mat-form-field-flex {
        margin: 0;
        padding: 0;

        .mat-form-field-outline {
          opacity: 0;

          &:hover {
            opacity: 0;
          }
        }

        .mat-form-field-infix {
          cursor: pointer;
          padding: 0;

          .mat-select {
            .mat-select-arrow-wrapper {
              opacity: 0;
            }
          }

          .mat-form-field-label-wrapper {
            opacity: 0;
          }
        }
      }

      .mat-form-field-subscript-wrapper {
        display: none;
      }
    }
  }
}
