.field-select-tree-view {
  .mcs-tree-dropdown-trigger {
    cursor: pointer;

    &.mcs-tree-dropdown-trigger-fullwidth {
      max-width: 100%;
    }

    .mcs-tree-dropdown-trigger-icon {
      top: -0.45rem;
      position: relative;
    }
  }

  @at-root {
    .mcs-tree-node-panel {
      border-radius: 2px;
      padding: 0;
      width: 100%;
      overflow: hidden;
      margin-top: -1.3rem;
      border: 1px solid $border-color-light;
      background-color: get-color($color-definitions, light, tint);

      cdk-virtual-scroll-viewport.mcs-tree-scroll-container {
        height: 100%;
        background-color: get-color($color-definitions, light, tint);

        .cdk-virtual-scroll-content-wrapper {
          width: 100%;
        }
      }

      .mcs-tree-node-option {
        overflow: hidden;
        white-space: nowrap;
      }

      .mcs-node-expand-trigger {
        display: inline-block;
        height: 100%;
        width: 1.5rem;
        text-align: center;
      }

      &.mcs-tree-node-panel-always-open {
        border: 1px solid get-color($color-definitions, dark, base);
        border-top: none;
        max-height: 20rem;
        overflow-y: auto;

        .mcs-tree-node-option {
          @include display-flex(row);
        }

        .mcs-node-expand-trigger {
          opacity: 0;
          width: 1rem;
        }

        .mcs-node-expandable-text {
          color: get-color($color-definitions, dark, base);
        }
      }
    }
  }
}
