<mcs-page [header]="(selectedFirewall$ | async)?.managementName">

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'firewall.leftPanelHeader' | translate">
    <!-- listing panel -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <div class="listing-panel-wrapper">
        <mcs-search #search mcsId="firewall-listing-panel-search"></mcs-search>

        <mcs-data-status [dataStatusFactory]="listStatusFactory">
          <mcs-data-status-success mcsDataSuccess>
            <mcs-list-panel>
              <!-- With ha group (with more than 1 group) -->
              <ng-container *ngIf="firewallListing$ | async as firewallMap">
                <div *ngFor="let iterator of (firewallMap | mcsMapIterable) | mcsSortArray: firewallsListSource?.firewallGroupSortMethod" >

                  <ng-container *ngIf="iterator.key; else standalone">
                    <mcs-option-group *ngIf="iterator.value?.length >= 1 ">
                      <ng-container *mcsOptionGroupLabel>
                        <span>{{ iterator.key }}</span>
                      </ng-container>

                      <ng-container *ngFor="let firewall of (iterator.value | mcsSortArray: firewallsListSource?.firewallSortMethod)">
                        <a [mcsRouterLink]="[routeKeyEnum.FirewallDetails, firewall.id]"
                          mcsId="select-firewall"
                          mcsEventTracker="select-firewall"
                          mcsEventCategory="firewall"
                          mcsEventLabel="firewall-list-panel">

                          <mcs-option [value]="firewall"
                            [selected]="(selectedFirewall$ | async)?.id === firewall.id">
                            <mcs-item>
                              <mcs-icon [key]="firewall?.connectionStatusIconKey" size="small"></mcs-icon>
                              <span>{{ firewall.managementName }}</span>
                              <span read-only>{{ firewall.haRole }}</span>
                            </mcs-item>
                          </mcs-option>
                        </a>
                      </ng-container>
                    </mcs-option-group>
                  </ng-container>

                  <!-- Without ha group -->
                  <ng-template #standalone>
                    <ng-container *ngFor="let firewall of (iterator.value | mcsSortArray: firewallsListSource?.firewallSortMethod)">
                      <a [mcsRouterLink]="[routeKeyEnum.FirewallDetails, firewall.id]"
                        mcsId="select-firewall"
                        mcsEventTracker="select-firewall"
                        mcsEventCategory="firewall"
                        mcsEventLabel="firewall-list-panel">

                        <mcs-option [value]="firewall"
                          [selected]="(selectedFirewall$ | async)?.id === firewall.id">
                          <mcs-item>
                            <mcs-icon [key]="firewall?.connectionStatusIconKey"  size="small"></mcs-icon>
                            <span>{{ firewall.managementName }}</span>
                          </mcs-item>
                        </mcs-option>
                      </a>
                    </ng-container>
                  </ng-template>
                </div>

              </ng-container>
            </mcs-list-panel>
          </mcs-data-status-success>

          <mcs-data-status-in-progress mcsDataInProgress>
            <span>{{ 'firewalls.loading' | translate }}</span>
          </mcs-data-status-in-progress>

          <mcs-data-status-empty mcsDataEmpty>
            <span>{{ 'firewalls.noFirewalls' | translate }}</span>
          </mcs-data-status-empty>

          <mcs-data-status-error mcsDataError>
            <span>{{ 'firewalls.errorMessage' | translate }}</span>
          </mcs-data-status-error>
        </mcs-data-status>
      </div>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <mcs-content-panel *mcsContentPanelDef>
    <div class="routing-tab-wrapper" *ngIf="selectedFirewall$ | async as selectedFirewall">
      <mcs-tab-group [selectedTabId]="selectedRoutingTab" (tabChanged)="onTabChanged($event)">
        <!-- Overview Tab -->
        <mcs-tab [label]="'firewall.overview.label' | translate" id="overview">
        </mcs-tab>

        <!-- Policies Tab -->
        <ng-container *ngIf="selectedFirewall.serialNumber">
          <mcs-tab [label]="'firewall.policies.label' | translate" id="policies">
          </mcs-tab>
        </ng-container>

        <!-- Action tab -->
        <ng-container mcsTabHeaderCustom>
          <button mcsButton="icon" mcsId="firewall-action" mcsAlign="end"
            mcsPopover placement="bottom" orientation="left"
            theme="light" padding="none" [content]="actionContent">
            <mcs-icon [key]="cogIconKey" size="large"></mcs-icon>
          </button>

          <ng-template #actionContent>
            <div class="cog-actions-wrapper">
              <a mcsButton="basic" color="white" labelPlacement="left"
                [href]="selectedFirewall.url" target="_blank"
                mcsId
                mcsEventTracker="view-in-portal"
                mcsEventCategory="firewall"
                mcsEventLabel="firewall-details-page">View in Portal
              </a>
            </div>
          </ng-template>
        </ng-container>
      </mcs-tab-group>

      <!-- Tab content for routing tab -->
      <div class="routing-tab-content-wrapper limited-view">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mcs-content-panel>
</mcs-page>

<mcs-help-widget #helpWidget
  [serviceId]="(selectedFirewall$ | async)?.serviceId"
  mcsEventTracker="toggle-help"
  mcsEventCategory="help"
  mcsEventLabel="help-panel-firewall">
</mcs-help-widget>