<mcs-page [header]="(selectedFirewall$ | async)?.managementName">

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'firewall.leftPanelHeader' | translate">
    <!-- listing panel -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <div class="listing-panel-wrapper">
        <mcs-search #search mcsId="firewall-listing-panel-search"></mcs-search>

        <mcs-list-panel [dataSource]="listViewDatasource" [config]="listViewConfig?.panelSettings">
          <ng-container *mcsListPanelContent="let entity">
            <!-- With ha group -->
            <ng-container *ngIf="entity.groupName | mcsIsNotNullOrEmpty; else standaloneTemplate">
              <mcs-option-group>
                <ng-container *mcsOptionGroupLabel>
                  <span>{{ entity.groupName }}</span>
                </ng-container>

                <a *ngFor="let firewall of entity.firewalls"
                  [mcsRouterLink]="[routeKeyEnum.FirewallDetails, firewall.id]"
                  mcsId="select-firewall"
                  mcsEventTracker="select-firewall"
                  mcsEventCategory="firewall"
                  mcsEventLabel="firewall-list-panel">

                  <mcs-option [value]="firewall"
                    [selected]="(selectedFirewall$ | async)?.id === firewall.id">
                    <mcs-item>
                      <mcs-icon [key]="firewall?.connectionStatusIconKey" size="small"></mcs-icon>
                      <span>{{ firewall.managementName }}</span>
                      <span read-only>{{ firewall.haRole }}</span>
                    </mcs-item>
                  </mcs-option>
                </a>
              </mcs-option-group>
            </ng-container>

            <!-- Without ha group -->
            <ng-template #standaloneTemplate>
              <a *ngFor="let firewall of entity.firewalls"
              [mcsRouterLink]="[routeKeyEnum.FirewallDetails, firewall.id]"
              mcsId="select-firewall"
              mcsEventTracker="select-firewall"
              mcsEventCategory="firewall"
              mcsEventLabel="firewall-list-panel">

              <mcs-option [value]="firewall"
                [selected]="(selectedFirewall$ | async)?.id === firewall.id">
                <mcs-item>
                  <mcs-icon [key]="firewall?.connectionStatusIconKey"  size="small"></mcs-icon>
                  <span>{{ firewall.managementName }}</span>
                </mcs-item>
              </mcs-option>
              </a>
            </ng-template>
          </ng-container>
        </mcs-list-panel>
      </div>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <mcs-content-panel *mcsContentPanelDef>
    <div class="routing-tab-wrapper" *ngIf="selectedFirewall$ | async as selectedFirewall">
      <mcs-tab-group [selectedTabId]="selectedTabId$ | async" (tabChanged)="onTabChanged($event)">
        <!-- Overview Tab -->
        <mcs-tab [label]="'firewall.overview.label' | translate" id="overview">
        </mcs-tab>

        <!-- Policies Tab -->
        <ng-container *ngIf="selectedFirewall.serialNumber">
          <mcs-tab [label]="'firewall.policies.label' | translate" id="policies">
          </mcs-tab>
        </ng-container>

        <!-- Action tab -->
        <ng-container mcsTabHeaderCustom>
          <button mcsButton="icon" mcsId="firewall-action" mcsAlign="end"
            mcsPopover placement="bottom" orientation="left"
            theme="light" padding="none" [content]="actionContent">
            <mcs-icon [key]="cogIconKey" size="large"></mcs-icon>
          </button>

          <ng-template #actionContent>
            <div class="cog-actions-wrapper">
              <a mcsButton="basic" color="white" labelPlacement="left"
                [href]="selectedFirewall.url" target="_blank"
                mcsId
                mcsEventTracker="view-in-portal"
                mcsEventCategory="firewall"
                mcsEventLabel="firewall-details-page">View in Portal
              </a>
            </div>
          </ng-template>
        </ng-container>
      </mcs-tab-group>

      <!-- Tab content for routing tab -->
      <div class="routing-tab-content-wrapper limited-view">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mcs-content-panel>
</mcs-page>

<mcs-help-widget *mcsAccessControl="['TicketCreate']"
  [serviceId]="(selectedFirewall$ | async)?.serviceId"
  mcsEventTracker="toggle-help"
  mcsEventCategory="help"
  mcsEventLabel="help-panel-firewall">
</mcs-help-widget>