<ng-container *ngIf=" selectedSaasBackup$ | async as selectedSaasBackup">
  <mcs-grid-row>
    <!-- Overview -->
    <mcs-grid-column sizeSm="12">
      <mcs-presentation-panel mcsId="saas-backup-overview">
        <ng-container mcsPresentationPanelHeader>
          <h2>{{ 'label.overview' | translate }}</h2>
        </ng-container>

        <mcs-item>
          <span>{{ 'saasBackup.overview.description' | translate }}:</span>
          <span [innerHTML]="selectedSaasBackup.billingDescription | mcsDataLabel: 'Unknown'"></span>
        </mcs-item>
        <mcs-item>
          <span>{{ 'saasBackup.overview.serviceId' | translate }}:</span>
          <ng-container *ngIf="selectedSaasBackup.serviceId; else noServiceIdTemplate">
            <span>{{ selectedSaasBackup.serviceId }}</span>
          </ng-container>
          <ng-template #noServiceIdTemplate>
            <mcs-data-status-empty
              [mcsTooltip]="'label.ticketingOrderingUnavailable' | translate"
              [mcsTooltipShow]="!selectedSaasBackup.serviceId">
              {{ 'label.unknown' | translate }}
            </mcs-data-status-empty>
          </ng-template>
        </mcs-item>
        <mcs-item>
          <span>{{ 'saasBackup.overview.tenant' | translate }}:</span>
          <span [innerHTML]="selectedSaasBackup.tenantName | mcsDataLabel: 'Unknown'"></span>
        </mcs-item>
        <mcs-item>
          <span>{{ 'saasBackup.overview.domain' | translate }}:</span>
          <span [innerHTML]="selectedSaasBackup.tenantDomain | mcsDataLabel: 'Unknown'"></span>
        </mcs-item>
        <mcs-item>
          <span>{{ 'saasBackup.overview.type' | translate }}:</span>
          <span>{{ selectedSaasBackup.typeLabel }}</span>
        </mcs-item>
        <mcs-item>
          <span>{{ 'saasBackup.overview.totalLicensedUsers' | translate }}:</span>
          <span>{{ selectedSaasBackup.licensedUserQuantity || 0 }}</span>
        </mcs-item>
        <mcs-item>
          <span>{{ 'saasBackup.overview.totalUnlicensedUsers' | translate }}:</span>
          <span>{{ selectedSaasBackup.unlicensedUserQuantity || 0 }}</span>
        </mcs-item>
      </mcs-presentation-panel>
    </mcs-grid-column>

    <!-- Backup Statistics -->
    <mcs-grid-column *ngIf="selectedSaasBackup?.lastBackupAttempt | mcsIsNotNullOrEmpty"
      sizeSm="12" hidden-small>
      <mcs-presentation-panel mcsId="saas-backup-backup-statistics">
        <ng-container mcsPresentationPanelHeader>
          <h2>{{ 'label.backupStatistics' | translate }}</h2>
        </ng-container>

        <mcs-item>
          <mcs-icon [key]="selectedSaasBackup.lastBackupAttempt.backupStatusStateIconKey" size="small"></mcs-icon>
          <span>{{ selectedSaasBackup.lastBackupAttempt.statusLabel }}</span>
        </mcs-item>
        <mcs-item>
          <span>{{ 'saasBackup.backupStatistics.firstBackupTime' | translate }}:</span>
          <ng-container *ngIf="selectedSaasBackup.firstBackupAttempt.runTime | mcsIsNotNullOrEmpty; else emptyDateTemplate">
            <span [innerHTML]="selectedSaasBackup.firstBackupAttempt.runTime | mcsStdDateFormat"></span>
          </ng-container>
        </mcs-item>
        <mcs-item>
          <span>{{ 'saasBackup.backupStatistics.lastBackupTime' | translate }}:</span>
          <ng-container *ngIf="selectedSaasBackup.lastBackupAttempt.runTime | mcsIsNotNullOrEmpty; else emptyDateTemplate">
            <span [innerHTML]="selectedSaasBackup.lastBackupAttempt.runTime | mcsStdDateFormat"></span>
          </ng-container>
        </mcs-item>
      </mcs-presentation-panel>
    </mcs-grid-column>
  </mcs-grid-row>
  <ng-template #emptyDateTemplate>
    <span> {{ 'label.none' | translate }}</span>
  </ng-template>

  <mcs-grid-row>
    <!-- Backup Components -->
    <mcs-grid-column *ngIf="selectedSaasBackup?.componentOnlineStatus | mcsIsNotNullOrEmpty"
      sizeSm="12" hidden-small>
      <mcs-presentation-panel mcsId="saas-backup-backup-statistics">
        <ng-container mcsPresentationPanelHeader>
          <h2>{{ 'label.backupComponents' | translate }}</h2>
        </ng-container>

        <mcs-item>
          <mcs-icon [key]="selectedSaasBackup.componentOnlineStatus.exchangeStateIconKey" size="small"></mcs-icon>
          <span>{{ 'saasBackup.backupComponents.exchange' | translate }}</span>
        </mcs-item>
        <mcs-item>
          <mcs-icon [key]="selectedSaasBackup.componentOnlineStatus.sharePointStateIconKey" size="small"></mcs-icon>
          <span>{{ 'saasBackup.backupComponents.sharePoint' | translate }}</span>
        </mcs-item>
        <mcs-item>
          <mcs-icon [key]="selectedSaasBackup.componentOnlineStatus.teamsStateIconKey" size="small"></mcs-icon>
          <span>{{ 'saasBackup.backupComponents.teams' | translate }}</span>
        </mcs-item>
        <mcs-item>
          <mcs-icon [key]="selectedSaasBackup.componentOnlineStatus.teamsChatsStateIconKey" size="small"></mcs-icon>
          <span>{{ 'saasBackup.backupComponents.teamsChats' | translate }}</span>
        </mcs-item>
      </mcs-presentation-panel>
    </mcs-grid-column>
    <mcs-grid-column sizeSm="12" hidden-small>
    </mcs-grid-column>
  </mcs-grid-row>
</ng-container>
