// Typography
$circular-pro-book: "Circular-Pro-Book";
$circular-pro-bold: "Circular-Pro-Bold";

$base-font: $circular-pro-book;
$base-font-bold: $circular-pro-bold;

$font-size-base-large: 16;
$font-size-base-medium: 14;
$font-size-base-small: 14;

$h1-large: 24;
$h1-medium: 22;
$h1-small: 20;

$h2-large: 22;
$h2-medium: 20;
$h2-small: 18;

$h3-large: 20;
$h3-medium: 18;
$h3-small: 16;

$h4-large: 18;
$h4-medium: 16;
$h4-small: 14;

$icon-size-large: 22;
$icon-size-medium: 18;
$icon-size-small: 14;

// Color Palettes

$primary-color-palette-00: blue;
$primary-color-palette-01: royalblue;
$primary-color-palette-02: skyblue;
$secondary-color-palette-00: purple;
$secondary-color-pallete-01: magenta;
$secondary-color-pallete-02: violet;

$default-background-color: #fff;
$default-text-color: #000;

// Responsive Dimension Settings

$desktop-min-width: 970px;
$tablet-max-width: 969px;
$mobile-landscape-max-width: 719px;
$mobile-portrait-max-width: 543px;

$nav-button-color: #00838F;

// Color Definition
$white: #fff;
$black: #000;
$grey-01: #e1e1e1;
$grey-02: #f4f4f4;
$green-01: #21b21e;
$red-01: #f80c27;

$primary-color: #00bed8;
$secondary-color: #00bed1;

// Font Size Headers
$fontsize-h1-mobile: 14;
$fontsize-h2-mobile: 12;

$fontsize-h1-tablet: 16;
$fontsize-h2-tablet: 14;

$fontsize-h1-desktop: 18;
$fontsize-h2-desktop: 16;

// Font Size Links
$fontsize-link-desktop: 14;

// Font Size Labels
$fontsize-label-desktop: 14;

// Font Size Dropdowns
$fontsize-dropdown-desktop: 16;

// Font Size Checkbox
$fontsize-checkbox-desktop: 18;

// Container Sizes
$container-desktop: 970px;
$container-tablet: 720px;
$container-mobile: 100%;