// Typography
$circular-pro-book: "Circular-Pro-Book";
$circular-pro-bold: "Circular-Pro-Bold";
$fontawesome: FontAwesome;

// Fonts
$base-font: $circular-pro-book;
$base-font-bold: $circular-pro-bold;
$font-icon: $fontawesome;

// Font Settings
$font-default: $base-font;
$font-size-xxlarge: 24;
$font-size-large: 15;
$line-height-large: 22;
$font-size-default: 13;
$line-height-default: 20;
$font-size-small: 11;
$line-height-small: 16;

// Color Palettes
$color-black: #000;
$color-white: #fff;
$color-primary-00: #0a97e5;
$color-primary-01: #00bed8;
$color-primary-02: #bee6f4;
$color-grey-00: #333333;
$color-grey-01: #58595b;
$color-grey-02: #888888;
$color-grey-03: #a5a6aa;
$color-grey-04: #d6d6d6;
$color-grey-05: #e3e3e3;
$color-grey-06: #e1e1e1;
$color-grey-07: #f4f4f4;
$color-grey-08: #f7f7f7;
$color-green-00: #4caf50;
$color-green-01: #c8e6c9;
$color-yellow-00: #efc225;
$color-yellow-01: #ffe0b2;
$color-red-00: #f44336;
$color-red-01: #ffcdd2;

// Color scheme (Needs to be expose in the future preference)
$color-scheme-primary: $color-primary-01 !default;
$color-scheme-secondary: $color-black !default;
$color-scheme-tertiary: $color-grey-00 !default;
$color-scheme-success: $color-green-00 !default;
$color-scheme-warning: $color-yellow-00 !default;
$color-scheme-danger: $color-red-00 !default;
$color-scheme-light: $color-grey-08 !default;
$color-scheme-medium: $color-grey-06 !default;
$color-scheme-dark: $color-grey-01 !default;

$color-definitions: (
  primary: (
    base: $color-scheme-primary,
    contrast: $color-white,
    shade: get-color-shade($color-scheme-primary),
    tint: get-color-tint($color-scheme-primary)
  ),
  secondary: (
    base: $color-scheme-secondary,
    contrast: $color-white,
    shade: get-color-shade($color-scheme-secondary),
    tint: get-color-tint($color-scheme-secondary)
  ),
  tertiary: (
    base: $color-scheme-tertiary,
    contrast: $color-white,
    shade: get-color-shade($color-scheme-tertiary),
    tint: get-color-tint($color-scheme-tertiary)
  ),
  success: (
    base: $color-scheme-success,
    contrast: $color-white,
    shade: get-color-shade($color-scheme-success),
    tint: get-color-tint($color-scheme-success)
  ),
  warning: (
    base: $color-scheme-warning,
    contrast: $color-white,
    shade: get-color-shade($color-scheme-warning),
    tint: get-color-tint($color-scheme-warning)
  ),
  danger: (
    base: $color-scheme-danger,
    contrast: $color-white,
    shade: get-color-shade($color-scheme-danger),
    tint: get-color-tint($color-scheme-danger)
  ),
  light: (
    base: $color-scheme-light,
    contrast: $color-black,
    shade: get-color-shade($color-scheme-light),
    tint: get-color-tint($color-scheme-light)
  ),
  medium: (
    base: $color-scheme-medium,
    contrast: $color-white,
    shade: get-color-shade($color-scheme-medium),
    tint: get-color-tint($color-scheme-medium)
  ),
  dark: (
    base: $color-scheme-dark,
    contrast: $color-white,
    shade: get-color-shade($color-scheme-dark),
    tint: get-color-tint($color-scheme-dark)
  )
) !default;

// Max View Width
$limited-view-width: 800px;
$limited-wide-view-width: 2560px;

// Responsive Dimension Settings
$wide-platform-min-width: 1500px;
$large-platform-width: 970px;
$medium-platform-width: 720px;
$small-platform-width: 543px;
$xsmall-platform-width: 320px;

$screen-breakpoints: (
  xsmall: $xsmall-platform-width,
  small: $small-platform-width,
  medium: $medium-platform-width,
  large: $large-platform-width,
  wide: $wide-platform-min-width,
) !default;

// Spacer
$space-xxlarge: 40px;
$space-xlarge: 30px;
$space-large: 20px;
$space-medium: 15px;
$space-small: 10px;
$space-xsmall: 5px;
$space-none: 0px;

$space-breakpoints: (
  none: $space-none,
  xsmall: $space-xsmall,
  small: $space-small,
  medium: $space-medium,
  large: $space-large,
  xlarge: $space-xlarge,
  xxlarge: $space-xxlarge,
) !default;

// Directions
$direction-breakpoints: (
  left,
  right,
  top,
  bottom
) !default;

// Z-index
$zindex-main-loader: 2500;
$zindex-header: 1750;
$zindex-navigation: 1750;
$zindex-content: 500;

$zindex-sliding-panel: 1750;
$zindex-select: 750;
$zindex-loader: 1000;
$zindex-popover-low: 1000;
$zindex-popover-medium: 1250;
$zindex-popover-high: 1500;
$zindex-popover-max: 1750;

// Top priorities
$zindex-overlay: 3000;
$zindex-notifications: 2750;

// Opacity
$disabled-opacity: 0.65;

// Border colors
$border-color-light: $color-grey-04;
$border-color-dark: $color-grey-00;

// Border Radius
$border-radius-small: 2px;
$border-radius-medium: 4px;

// Button
$button-font: $base-font;
$button-font-size: $font-size-large;
$button-font-weight: 500;

// Shared settings for the page
$shared-top-panel-size: 50px;
$shared-left-panel-size: 275px;
$shared-header-panel-height: 60px;
$shared-navigation-panel-height: 45px;
$shared-notification-title-font-size: 30;

// Shared text color
$light-bg-text-color: $color-black;
$dark-bg-text-color: $color-grey-06;
$primary-bg-text-color: $color-white;
$readonly-color: $color-grey-02;
$divider-light-color: $color-grey-04;
$divider-dark-color: $color-grey-01;

// Shared background color
$light-bg-color: $color-white;
$dark-bg-color: rgba($color-black, 0.87);
$primary-bg-color: $color-scheme-primary;

// Shared background color
$hover-bg-color: $color-grey-07;
$selected-bg-color: rgba($color-grey-06, 0.8);
$active-bg-color: rgba($color-grey-06, 0.4);

// Navigation
$nav-default-width: 280px;
$nav-wide-screen-width: 250px;