// Typography
$circular-pro-book: "Circular-Pro-Book";
$circular-pro-bold: "Circular-Pro-Bold";
$fontawesome: FontAwesome;

$base-font: $circular-pro-book;
$base-font-bold: $circular-pro-bold;
$font-icon: $fontawesome;

// Font Settings
$font-default: $base-font;
$font-size-default: 15;
$line-height-default: 22;
$font-size-small: 13;
$line-height-small: 18;

$caption-default-font: $base-font;
$caption-default-font-size: 13;
$caption-default-line-height: 15;
$caption-small-font-size: 12;
$caption-small-line-height: 15;
$caption-xsmall-font-size: 10;
$caption-xsmall-line-height: 13;

$input-font: $base-font;
$input-font-size: $font-size-default;
$input-line-height: $line-height-default;

$header-font: $base-font-bold;
$h1-default-font-size: 50;
$h1-default-line-height: 55;
$h2-default-font-size: 34;
$h2-default-line-height: 36;
$h3-default-font-size: 24;
$h3-default-line-height: 30;
$h4-default-font-size: 20;
$h4-default-line-height: 25;

$h1-medium-font-size: 40;
$h1-medium-line-height: 42;

$h1-small-font-size: 29;
$h1-small-line-height: 29;
$h2-small-font-size: 24;
$h2-small-line-height: 28;
$h3-small-font-size: 20;
$h3-small-line-height: 22;
$h4-small-font-size: 16;
$h4-small-line-height: 18;

$link-font:  $base-font;
$link-default-font-size: $font-size-default;
$link-default-line-height: $line-height-default;
$link-small-font-size: 14;
$link-small-line-height: 18;

$icon-large-font-size: 25;
$icon-medium-font-size: 20;
$icon-small-font-size: $font-size-default;

$notifications-font-size: 12;

// Color Palettes
$color-black: #000;
$color-white: #fff;
$color-primary-00: #0a97e5;
$color-primary-01: #00bed8;
$color-primary-02: #bee6f4;
$color-grey-00: #333333;
$color-grey-01: #58595b;
$color-grey-02: #888888;
$color-grey-03: #a5a6aa;
$color-grey-04: #d6d6d6;
$color-grey-05: #e3e3e3;
$color-grey-06: #e1e1e1;
$color-grey-07: #f4f4f4;
$color-green-00: #21b21e;
$color-yellow-00: #efc225;
$color-red-00: #f80c27;

// Transition Settings
$transition-base: all .2s ease-in-out !default;
$transition-fade: opacity .15s linear !default;
$transition-collapse: height .35s ease !default;

// Responsive Dimension Settings
$desktop-min-width: 970px;
$tablet-max-width: 969px;
$tablet-min-width: 720px;
$mobile-landscape-max-width: 719px;
$mobile-landscape-min-width: 544px;
$mobile-portrait-max-width: 543px;
$mobile-portrait-min-width: 320px;

// Container Sizes
$container-large: $desktop-min-width;
$container-medium: $tablet-min-width;
$container-small: 100%;

// Spacer
$space-xxlarge: 40px;
$space-xlarge: 30px;
$space-large: 20px;
$space-medium: 15px;
$space-small: 10px;
$space-xsmall: 5px;

// Z-index
$zindex-dropdown: 800;
$zindex-loader: 900;
$zindex-header: 1000;
$zindex-navigation: 1000;
$zindex-popover: 1100;
$zindex-notifications: 1100;

// Core layout
$header-large-padding: $space-large;
$header-small-padding: $space-large $space-medium;

$main-navigation-large-padding: 0 $space-large;
$main-navigation-small-padding: 0 $space-medium;
$main-navigation-color: $color-black;
$main-navigation-bg-color: $color-primary-01;
$main-navigation-box-shadow-color: $color-black;

$content-large-padding: $space-xxlarge $space-large;
$content-small-padding: $space-xxlarge $space-medium;

// Input
$input-font: $base-font;
$input-border-width: 1px;
$input-border-style: solid;
$input-border-color: $color-black;
$input-border-color-focused: $color-primary-01;
$input-text-color: $color-black;
$input-placeholder-text-color: $color-grey-02;
$input-background-color: $color-white;
$input-border-radius: 5px;
$input-padding: 10px 15px;
$input-padding-small: 5px 10px;

// Tooltip
$tooltip-color: $color-grey-07;

// Button
$button-font: $base-font-bold;
$button-font-size: 18px;
$button-font-size-small: $caption-default-font-size;
$button-padding: 10px 15px;
$button-padding-small: 5px 10px;

// Popover
$popover-max-width: 250px;
$popover-min-width: 100px;
$popover-font-family: $base-font-bold;
$popover-font-size: 16;
$popover-default-padding: 25px 30px;
$popover-narrow-padding: 10px;
$popover-arrow-width: 10px;
$popover-arrow-border-width: $popover-arrow-width + 1;
$popover-border-radius: 5px;

// Filter Selector
$filter-selector-title-font-size: $font-size-default;
$filter-selector-content-font-size: $font-size-small;

// Table
$table-header-font: $base-font-bold;
$table-border-radius: 5px;

// Navigation
$navigation-mobile-offset: 65px;
$navigation-link-desktop-padding: 10px 15px;
$navigation-link-mobile-padding: 15px;

// Notification
$notification-minimum-width: 350px;
$notification-status-font-size: 14;
$notification-message-font-size: 12;
$notification-icon-font-size: $icon-large-font-size;
$notification-icon-width: $notification-icon-font-size + px;

// Header User-Panel
$user-panel-caret-offset: 18px;
$user-panel-notification-size: 18px;

// VDC List
$vdc-name-font-size: 16;
$vdc-name-line-height: 16;

// Radio button
$radio-button-font-size: 18;
$radio-button-padding: 5px 0;
$radio-button-label-offset: 12px;

// Server Contextual Help
$contextual-help-width: 250px;
$contextual-padding-left: $space-xlarge;

// Progress Bar
$progress-bar-height: 20px;
$progress-bar-font-size: 16;
$progress-bar-border-radius: 10px;
$progress-bar-bg-color: $color-primary-02;
$progress-bg-color: $color-primary-01;

// Alerts
$alert-container-padding: 20px 25px;
$alert-icon-container-size: 50px;
$alert-title-font-size: 18;
$alert-background-opacity: 0.09;

// Opacity
$disabled-opacity: 0.65;