@import "../../../../styles/shared/base";

$dialog-padding: $space-large;
$dialog-border-radius: 2px;
$dialog-max-width: 80vw;
$dialog-max-height: 80vh;
$dialog-background-color: $color-white;
$dialog-color: rgba($color-black, 0.87);

.dialog-wrapper {
  display: block;
  padding: $dialog-padding;
  border-radius: $dialog-border-radius;
  box-sizing: border-box;
  overflow: auto;
  max-height: $dialog-max-height;
  max-width: $dialog-max-width;
  outline: 0;
  width: 100%;
  height: 100%;
  background: $dialog-background-color;
  color: $dialog-color;

  @include box-shadow((
    0 11px 15px -7px rgba(0,0,0,.2),
    0 24px 38px 3px rgba(0,0,0,.14),
    0 9px 46px 8px rgba(0,0,0,.12)
  ));
}