<div *ngIf="servers" class="server-list-panel" #serverListPanel>
  <div class="search-box" #searchBox>
    <mcs-textbox name="filter" icon="search" placeholder="Search"
    [ngModel]="keyword" (ngModelChange)="onFilter($event)" width="300px"></mcs-textbox>
  </div>
  <ul *ngIf="hasServers" id="serverListTree" class="server-list-tree"
    role="tablist" aria-multiselectable="true" #serverListTree>
    <li *ngFor="let vdc of servers; let i = index">
      <a class="vdc-name" [ngClass]="{'active-vdc': vdc.selected}"
        (click)="toggleServerList(vdc)">
        {{ vdc.vdcName }} <mcs-icon [key]="getCaretIconKey(vdc)" size="small"></mcs-icon>
      </a>
      <div class="servers" [hidden]="!vdc.visible">
        <div class="server-name" *ngFor="let server of vdc.servers">
          <a [ngClass]="{'active-server': isServerSelected(server.id)}"
            [routerLink]="['/servers/' + server.id]" (click)="onClickServer(server.id)">

            <div *ngIf="server.powerState">
              <mcs-icon [key]="getStateIconKey(server.powerState)"
                size="medium"></mcs-icon>
            </div>
            <div *ngIf="!server.powerState" class="power-state-spinner">
              <mcs-icon [key]="spinnerIconKey" size="medium"
                mcsPopover trigger="hover" maxWidth="250px" padding="none"
                [content]="loadingContent"></mcs-icon>
            </div>
            <ng-template #loadingContent>
              <span class="loading-content-popover">
                {{ getActiveServerTooltip(server.id) }}
              </span>
            </ng-template>

            <span>{{ server.managementName }}</span>
          </a>
        </div>
      </div>
    </li>
  </ul>
  <span *ngIf="!hasServers">{{ noServerFoundMessage }}</span>
</div>