<div *ngIf="servers" class="server-list-panel" #serverListPanel>
  <div class="search-box" #searchBox>
    <mcs-textbox name="filter" icon="search" placeholder="Search"
    [ngModel]="keyword" (ngModelChange)="onFilter($event)" width="300px"></mcs-textbox>
  </div>
  <ul id="serverListTree" class="server-list-tree" role="tablist" aria-multiselectable="true" #serverListTree>
    <li *ngFor="let vdc of servers; let i = index">
      <a class="vdc-name" [ngClass]="{'active-vdc': vdc.selected, 'collapsed': !vdc.selected}"
        data-toggle="collapse" data-parent="#serverListTree" href="#serverList{{ i + 1 }}"
        [attr.aria-expanded]="vdc.selected" [attr.aria-controls]="'serverList' + (i + 1)">
        {{ vdc.vdcName }} <i [ngClass]="caretDown"></i>
      </a>
      <div id="serverList{{ i + 1 }}" class="collapse servers" role="tabpanel"
        [ngClass]="{'show': vdc.selected}">
        <div class="server-name" *ngFor="let server of vdc.servers">
          <a [ngClass]="{'active-server': isServerSelected(server.id)}"
            [routerLink]="['/servers/' + server.id]">
            <mcs-svg-icon [key]="getStateIconKey(server.powerState)"
              size="small"></mcs-svg-icon> <span>{{ server.managementName }}</span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>