<mcs-grid *ngIf="hidsDetails$ | async as hidsDetails">
  <mcs-grid-row>
    <mcs-grid-column>
      <mcs-item orientation="block">
        <div style="display: flex">
          <div><strong>{{ 'serverServices.hids.title' | translate }}</strong></div>
          <mcs-context-menu-link
            mcsAlign="end"
            [serviceId]="hids.serviceId"
            [serviceChangeAvailable]="hids.serviceChangeAvailable"
            [hasMenuButton]="true"
            [eventCategory]="'server'"
            [eventLabel]="'hids-server-services'">
          </mcs-context-menu-link>
        </div>
        <mcs-item>
          <mcs-icon [key]="hidsDetails.icon" size="small" mcsId="hids-status-icon"></mcs-icon>
          <span mcsId="hids-status-label">{{ hidsDetails.label }}</span>
          <a mcsId="hids-status-logs-link"
            mcsEventTracker="hids-status-logs-link-click"
            mcsEventCategory="server"
            mcsEventLabel="hids-status-logs-view"
            [disabled]="server.isProcessing"
            (click)="changeView()">
            {{ 'serverServices.hids.logsLink' | translate }}
          </a>
        </mcs-item>
      </mcs-item>
    </mcs-grid-column>
  </mcs-grid-row>
</mcs-grid>