<mcs-accordion *ngIf="hidsDetails$ | async as hidsDetails">
  <mcs-accordion-panel>
    <mcs-accordion-panel-header mcsPanelHeaderDef>
      <mcs-item>
        <mcs-icon [key]="hidsDetails.icon" size="small" mcsId="hids-status-icon"></mcs-icon>
        <h2>{{ 'serverServices.hids.title' | translate }}</h2>
      </mcs-item>
    </mcs-accordion-panel-header>
    <mcs-item>
        <div>
          <small read-only>
            <mcs-item orientation="inline">
              <span mcsId="hids-status-label">{{ hidsDetails.label }}</span><br />
              <a mcsId="hids-status-logs-link"
                mcsEventTracker="hids-status-logs-link-click"
                mcsEventCategory="server"
                mcsEventLabel="hids-status-logs-view"
                (click)="changeView()">
                {{ 'serverServices.hids.logsLink' | translate }}
              </a>
            </mcs-item>
          </small>
        </div>
    </mcs-item>
  </mcs-accordion-panel>
</mcs-accordion>