<mat-form-field
  *ngIf="visible"
  appearance="outline"
  [hintLabel]="data.hint">
  <mat-label [attr.for]="id">{{ label }}</mat-label>

  <mat-select
    [id]="id"
    [required]="required"
    [disabled]="disabled"
    [(value)]="data.value"
    (selectionChange)="valueChange($event)">
    <mat-option *ngIf="!required">-- None --</mat-option>
    <mat-optgroup *ngFor="let group of data.options" [label]="group.name" [disabled]="group.disabled">
      <mat-option *ngFor="let opt of group.options" [value]="opt.key">
        {{opt.value}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
