<mat-form-field appearance="outline" [hintLabel]="data.hint">
  <mat-label [attr.for]="data.key">{{data.label}}</mat-label>

  <mat-select (selectionChange)="valueChange($event)"
      [(value)]="data.value" 
      [id]="data.key"
      [required]="data.validators?.required">
    <mat-option *ngIf="!data.validators?.required">-- None --</mat-option>
    <mat-optgroup *ngFor="let group of data.options" [label]="group.name" [disabled]="group.disabled">
      <mat-option *ngFor="let opt of group.options" [value]="opt.key">
        {{opt.value}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
