<mcs-page [storageKey]="featureName"
  [defaultFilters]="defaultColumnFilters"
  [header]="'applicationRecovery.header' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>
    <mcs-top-panel-item *mcsTopPanelItemDef>
      <div class="listing-action-wrapper">
        <ng-container *ngIf="dataSource?.isSorting$ | async; else totalCountTemplate">
          <div class="sorting-label">
            <span padding-right-small>{{ 'label.sorting' | translate }}</span><mcs-loader size="medium"></mcs-loader>
          </div>
        </ng-container>
        <ng-template #totalCountTemplate>
          <div class="total-record-count"  *ngIf="dataSource?.totalCount$ | async as totalCount">
            <span>{{ totalCount | mcsPlural:
                  ('applicationRecovery.dataSingular' | translate) : ('applicationRecovery.dataPlural' | translate) }}
            </span>
          </div>
        </ng-template>
      </div>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'applicationRecovery.leftPanelHeader' | translate">
    <!-- Search -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <mcs-search *ngIf="!isMobile" #search mcsId="application-recovery-desktop-search"></mcs-search>
    </mcs-left-panel-item>

    <!-- Column Filter -->
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="'applicationRecovery.columnFilter' | translate" offset="medium">
      <mcs-column-selector #columnFilter
        [storageKey]="featureName"
        [defaultFilters]="defaultColumnFilters">
      </mcs-column-selector>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>
    <div class="listing-table-wrapper">
      <!-- Search -->
      <mcs-search *ngIf="isMobile" #search mcsId="virtual-mobile-search"></mcs-search>

      <!-- Table -->
      <table mat-table [dataSource]="dataSource" matSort #sort="matSort">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef disableClear>
            {{ 'columnHeader.name' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            <span [innerHTML]="row.billingDescription | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Service Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.type' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            <span [innerHTML]="row.ApplicationRecoveryTypeLabel | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Journal History Column -->
        <ng-container matColumnDef="journalHistory">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.journalHistory' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            <span [innerHTML]="row.ApplicationRecoveryJournalHistoryLabel | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Journal Size Column -->
        <ng-container matColumnDef="journalSize">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.journalSize' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            <ng-container *ngIf="row.journalSizeGB; else noJournalSizeGBTemplate">
              <span>{{ row.journalSizeGB }} GB</span>
            </ng-container>
            <ng-template #noJournalSizeGBTemplate>
              <span *ngIf="row.isAzureRecover" read-only>N/A</span>
              <span *ngIf="!row.isAzureRecover" read-only>Unknown</span>
            </ng-template>
          </td>
        </ng-container>

        <!-- Virtual Machines Column -->
        <ng-container matColumnDef="virtualMachines">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.virtualMachines' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            <!-- Cast to string so 0 and null are distinct (0 is a valid use case) -->
            <span [innerHTML]="row.virtualMachineQuantity?.toString() | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Service ID Column -->
        <ng-container matColumnDef="serviceId">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.serviceId' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            <ng-container *ngIf="row.serviceId; else noServiceIdTemplate">
              <span>{{ row.serviceId }}</span>
            </ng-container>
            <ng-template #noServiceIdTemplate>
              <mcs-data-status-empty
                [mcsTooltip]="'label.ticketingOrderingUnavailable' | translate"
                [mcsTooltipShow]="!row.serviceId">
                {{ 'label.unknown' | translate }}
              </mcs-data-status-empty>
            </ng-template>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef hidden-small></th>
          <td mat-cell *matCellDef="let row" text-center hidden-small>
            <mcs-context-menu-link mcsStopPropagation
              [serviceId]="row.serviceId"
              [serviceChangeAvailable]="row.serviceChangeAvailable"
              [hasMenuButton]="true"
              [eventCategory]="'application-recovery'"
              [eventLabel]="'application-recovery-listing-page'">
            </mcs-context-menu-link>
          </td>
        </ng-container>

        <!-- Header and Data row -->
        <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async"
          [disabled]="dataSource?.isInProgress$ | async"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"></tr>
      </table>

      <!-- Table Status -->
      <mcs-item orientation="block">
        <div *ngIf="dataSource?.isInProgress$ | async" align="center">
          <mcs-loader size="medium"></mcs-loader>
        </div>
        <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
          <span>{{ 'applicationRecovery.noRecordsFoundMessage' | translate }}</span>
        </div>
        <div *ngIf="dataSource?.hasError$ | async" text-center>
          <div class="listing-status-wrapper">
            <span>{{ 'applicationRecovery.errorMessage' | translate }}</span>
            <a (click)="retryDatasource()"
              mcsId
              mcsEventTracker="retry-application-recovery-list"
              mcsEventCategory="application-recovery"
              mcsEventLabel="application-recovery-listing-page">{{ 'applicationRecovery.retry' | translate }}</a>.
          </div>
        </div>
      </mcs-item>

      <!-- Paginator -->
      <mcs-paginator #paginator [totalCount]="dataSource?.totalCount$ | async">
      </mcs-paginator>
    </div>
  </mcs-content-panel>
</mcs-page>
