@import "base";

// Capacity Bar
$capacity-bar-height: 17px;
$capacity-bar-min-width: 100px;
$capacity-bar-border-radius: 3px;
$capacity-bar-wrapper-bg-color: $color-primary-02;
$capacity-bar-bg-color-default: $color-scheme-primary;
$capacity-bar-bg-color-low: $color-scheme-danger;
$capacity-bar-label-color-low: $color-white;

.capacity-bar-wrapper {
  display: block;
  min-width: $capacity-bar-min-width;
}

.capacity-bar-content {
  @include display-flex(row);
  position: relative;
  height: $capacity-bar-height;
  background-color: $capacity-bar-wrapper-bg-color;
  @include border-radius($capacity-bar-border-radius);
  overflow: hidden;
  text-align: center;

  .capacity-bar {
    position: absolute;
    @include border-radius($capacity-bar-border-radius);
    background-color: $capacity-bar-bg-color-default;
    height: inherit;

    &.low {
      background-color: $capacity-bar-bg-color-low;
    }
  }

  .capacity-bar-label {
    @include display-flex(row);
    @include align-items(center);
    justify-content: center;
    @include set-items-interval($space-xsmall, horizontal);
    width: 100%;
    position: absolute;

    &.low {
      color: $capacity-bar-label-color-low;
    }
  }
}