<div class="capacity-bar-content" (blur)="onBlur()">
  <div class="capacity-bar" [ngClass]="{'low': isLow}" [ngStyle]="{width: percentage}"></div>
  <div [ngClass]="{'low': isLow}" class="capacity-bar-label">
    <span *ngIf="(value | mcsIsNotNullOrEmpty); else emptyLabel">
      {{ value | mcsDataSize: 'MB' }}</span>
    <ng-template #emptyLabel>
      <span [innerHTML]="value | mcsDataLabel"></span>
    </ng-template>
    <span> / </span>
    <span>{{ maxValue | mcsDataSize: 'MB' }}</span>
  </div>
</div>