@import "../../../styles/shared/base";

// Capacity Bar
$capacity-bar-height: 17px;
$capacity-bar-text-font-size: $font-size-default;
$capacity-bar-text-line-height: 17; // Same as height
$capacity-bar-border-radius: 3px;
$capacity-bar-wrapper-bg-color: $color-primary-02;
$capacity-bar-bg-color-default: $color-primary-01;
$capacity-bar-bg-color-low: $color-red-00;
$capacity-bar-label-color-default: $color-black;
$capacity-bar-label-color-low: $color-white;

.capacity-bar-wrapper {
  @include display-flex(row);
  position: relative;
  height: $capacity-bar-height;
  background-color: $capacity-bar-wrapper-bg-color;
  @include border-radius($capacity-bar-border-radius);
  overflow: hidden;
  text-align: center;

  .capacity-bar {
    position: absolute;
    @include border-radius($capacity-bar-border-radius);
    background-color: $capacity-bar-bg-color-default;
    height: inherit;

    &.low {
      background-color: $capacity-bar-bg-color-low;
    }
  }

  span {
    position: relative;
    @include font-size($capacity-bar-text-font-size, $capacity-bar-text-line-height);
    color: $capacity-bar-label-color-default;
    margin: 0 auto;

    &.low {
      color: $capacity-bar-label-color-low;
    }
  }
}