<span mat-dialog-title>{{ 'dialog.terraformDeploymentChangeTag.title' | translate: { deployment: this.data.deployment.name } }}</span>

<div mat-dialog-content class="mat-typography">
  <p>
    <small>{{ 'dialog.terraformDeploymentChangeTag.existingTag' | translate: { tag: this.data.deployment.tagName } }}</small>
  </p>
  <mat-form-field appearance="outline" style="width: 100%; max-width: 350px;">
    <mat-label>New Module Tag</mat-label>
    <input
      [mcsId]="'upgrade-tag'"
      type="text"
      matInput
      required
      [formControl]="filterControl"
      [matAutocomplete]="autoGroup">
    <mat-autocomplete autoActiveFirstOption #autoGroup="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value">
        <small>{{ option.value }}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div *ngIf="valid">
    <p>
      <small>{{ 'dialog.terraformDeploymentChangeTag.warning' | translate }}</small>
    </p>

    <mcs-code-editor-form-field
      [value]="data.newTag.tfvars"
      >
    </mcs-code-editor-form-field>

  </div>

</div>

<mat-dialog-actions align="end" class="space-between">
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>{{ 'action.cancel' | translate }}</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="data.newTag" [disabled]="!valid">{{ 'action.changeTag' | translate }}</button>
</mat-dialog-actions>

