<mcs-page *ngIf="crispOrder$ | async as crispOrder"
  [header]="'#' + crispOrder.orderId + ' - ' + crispOrder.description">

    <!-- Top Panel -->
    <mcs-top-panel *mcsTopPanelDef>

      <!-- Back to Tickets -->
      <mcs-top-panel-item *mcsTopPanelItemDef>
        <mcs-action-item mcsAlign="end" mcsId
          mcsRouterLink="LaunchPadCrispOrders"
          mcsEventTracker="navigate-to-crisp-orders-listing"
          mcsEventCategory="launch-pad"
          mcsEventLabel="launch-pad-crisp-orders-details-page">
          <mcs-icon [key]="backIconKey" size="small"></mcs-icon>
          <span>{{ 'crispOrder.backToCrispOrders' | translate }}</span>
        </mcs-action-item>
      </mcs-top-panel-item>
    </mcs-top-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>
    <mcs-tab-group [selectedTabId]="selectedTabId$ | async">
      <mcs-tab [label]="'label.elements' | translate" id="elements"></mcs-tab>

      <!-- Action tab -->
      <ng-container mcsTabHeaderCustom>
        <mat-menu #actionMenu="matMenu" mcsAlign="end">
          <a mat-menu-item [href]="crispHost + '/orders/' + crispOrder.orderId" target="_blank"
            mcsId="open-in-crisp"
            mcsEventTracker="open-order-details-on-crisp"
            mcsEventCategory="launchpad-crisp"
            mcsEventLabel="crisp-order-details-page">
            {{ 'action.openInCrisp' | translate }}
         </a>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="actionMenu">
          <mcs-icon key="ellipsis-horizontal" size="large"></mcs-icon>
        </button>
      </ng-container>
    </mcs-tab-group>

    <div class="routing-tab-content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mcs-content-panel>
</mcs-page>
