<div class="limited-view">
  <div class="contextual-help-page-wrapper">
    <h2>{{ 'serverCreateConfirmStep.header' | translate }}</h2>
    <p>{{ 'serverCreateConfirmStep.description' | translate }}</p>

    <!-- Billing Details -->
    <mcs-section margin-bottom-small>
      <mcs-form-field>
        <mcs-select [(ngModel)]="selectedTerm" placeholder="Contract Term">
          <mcs-option [value]="1">30 Days</mcs-option>
          <mcs-option [value]="2">Per Existing Contract</mcs-option>
        </mcs-select>
      </mcs-form-field>

      <mcs-form-field>
        <mcs-select [(ngModel)]="selectedEntity" placeholder="Billing Entity">
          <mcs-option [value]="1">MCS Test</mcs-option>
        </mcs-select>
      </mcs-form-field>

      <mcs-form-field>
        <mcs-select [(ngModel)]="selectedSite" placeholder="Billing Site">
          <mcs-option [value]="1">Market Street</mcs-option>
        </mcs-select>
      </mcs-form-field>

      <mcs-form-field>
        <mcs-select [(ngModel)]="selectedCost" placeholder="Cost Center">
          <mcs-option [value]="1">Telecom</mcs-option>
          <mcs-option [value]="2">Cloud Services</mcs-option>
          <mcs-option [value]="3">Government</mcs-option>
        </mcs-select>
      </mcs-form-field>
    </mcs-section>

    <!-- Order Details -->
    <mcs-section *ngIf="order$ | async as order" margin-bottom-small>
      <h2>{{ 'serverCreateConfirmStep.orderDetails.header' | translate }}</h2>
      <mcs-form-field>
        <input type="text" mcsInput [value]="order.description">
      </mcs-form-field>
      <p>{{ 'serverCreateConfirmStep.orderDetails.description' | translate }}</p>

      <mcs-table [dataSource]="order.items">
        <!-- Description Column -->
        <ng-container mcsColumnDef="description">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ 'serverCreateConfirmStep.orderDetails.columnHeaders.description' | translate }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            {{ row.description }}
          </mcs-data-cell>
        </ng-container>

        <!-- Monthly Charge Column -->
        <ng-container mcsColumnDef="monthlyCharge">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ 'serverCreateConfirmStep.orderDetails.columnHeaders.monthlyCharge' | translate }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            ${{ row.charges?.monthly }}
          </mcs-data-cell>
        </ng-container>

        <!-- One-off Charge Column -->
        <ng-container mcsColumnDef="oneOffCharge">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ 'serverCreateConfirmStep.orderDetails.columnHeaders.oneOffCharge' | translate }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            ${{ row.charges?.oneOff }}
          </mcs-data-cell>
        </ng-container>

        <!-- Data Status Integration -->
        <ng-container mcsDataStatusDef>
          <mcs-data-empty *mcsDataEmptyDef>
            <span>{{ 'serverCreateConfirmStep.orderDetails.noItemTypes' | translate }} </span>
          </mcs-data-empty>
          <mcs-data-error *mcsDataErrorDef>
            <span>{{ 'serverCreateConfirmStep.orderDetails.errorItemTypes' | translate }}</span>
          </mcs-data-error>
        </ng-container>

        <!-- Header and Data row -->
        <mcs-header-row *mcsHeaderRowDef="dataColumns"></mcs-header-row>
        <mcs-data-row *mcsDataRowDef="let row; columns: dataColumns;"></mcs-data-row>
      </mcs-table>
    </mcs-section>

    <!-- Order Actions -->
    <mcs-section>
      <span>{{ 'serverCreateConfirmStep.orderActions.header' | translate }}</span>
      <mcs-radio-button-group orientation="vertical" [(ngModel)]="selectedAction">
        <mcs-radio-button mcsId [value]="orderWorkFlowEnum.Submitted">
          {{ 'serverCreateConfirmStep.orderActions.submitOrder' | translate }}
        </mcs-radio-button>
        <mcs-radio-button mcsId [value]="orderWorkFlowEnum.Draft">
          {{ 'serverCreateConfirmStep.orderActions.saveOrder' | translate }}
        </mcs-radio-button>
        <mcs-radio-button mcsId [value]="orderWorkFlowEnum.AwaitingApproval">
          {{ 'serverCreateConfirmStep.orderActions.mergeOrder' | translate }}
        </mcs-radio-button>
      </mcs-radio-button-group>

      <ng-container [ngSwitch]="selectedAction">
        <mcs-note *ngSwitchCase="orderWorkFlowEnum.Submitted">
          <span read-only>{{ 'serverCreateConfirmStep.orderActions.submitOrderNote' | translate }}</span><br>
          <a>Macquarie Telecom Pty Ltd terms and conditions.</a>
        </mcs-note>
        <mcs-note *ngSwitchCase="orderWorkFlowEnum.AwaitingApproval">
          <mcs-form-field>
            <mcs-select [(ngModel)]="selectedServer">
              <mcs-option [value]="0">New Dedicated Server(120033)</mcs-option>
              <mcs-option [value]="1">EOFS Runout Sale(188837)</mcs-option>
            </mcs-select>
          </mcs-form-field>
        </mcs-note>
      </ng-container>
    </mcs-section>

    <!-- Wizard action -->
    <div class="action-items">
      <a mcsWizardStepPrevious mcsId="step-3-back">Back</a>
      <button mcsButton size="small" arrow="right" mcsId="step-3-next"
        mcsWizardStepNext
        [mcsWizardStepNextWhen]="createOrderWorkflow">Next</button>
    </div>
  </div>
</div>