<div class="limited-view">
  <div class="contextual-help-page-wrapper">
    <h2>{{ textContent.header }}</h2>
    <p>{{ textContent.description }}</p>

    <!-- Billing Details -->
    <mcs-section>
      <mcs-form-field>
        <mcs-select [(ngModel)]="selectedTerm">
          <mcs-option [value]="0">Contract Term</mcs-option>
          <mcs-option [value]="1">30 Days</mcs-option>
          <mcs-option [value]="2">Per Existing Contract</mcs-option>
        </mcs-select>
      </mcs-form-field>

      <mcs-form-field>
        <mcs-select [(ngModel)]="selectedEntity">
          <mcs-option [value]="0">Billing Entity</mcs-option>
          <mcs-option [value]="1">Macquarie Telecom Group</mcs-option>
        </mcs-select>
      </mcs-form-field>

      <mcs-form-field>
        <mcs-select [(ngModel)]="selectedSite">
          <mcs-option [value]="0">Billing Site</mcs-option>
          <mcs-option [value]="1">Macquarie Telecom Group</mcs-option>
        </mcs-select>
      </mcs-form-field>

      <mcs-form-field>
        <mcs-select [(ngModel)]="selectedCost">
          <mcs-option [value]="0">Billing Cost Centre</mcs-option>
          <mcs-option [value]="1">Macquarie Telecom Group</mcs-option>
        </mcs-select>
      </mcs-form-field>
    </mcs-section>

    <!-- Order Details -->
    <mcs-section>
      <h2>{{ textContent.orderDetails.header }}</h2>
      <mcs-form-field>
        <input type="text" mcsInput>
      </mcs-form-field>
      <p>{{ textContent.orderDetails.description }}</p>

      <mcs-table [dataSource]="(order$ | async)?.items">
        <!-- Description Column -->
        <ng-container mcsColumnDef="description">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ textContent.orderDetails.columnHeaders.description }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            {{ row.description }}
          </mcs-data-cell>
        </ng-container>

        <!-- Monthly Charge Column -->
        <ng-container mcsColumnDef="monthlyCharge">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ textContent.orderDetails.columnHeaders.monthlyCharge }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            ${{ row.charges?.monthly }}
          </mcs-data-cell>
        </ng-container>

        <!-- One-off Charge Column -->
        <ng-container mcsColumnDef="oneOffCharge">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ textContent.orderDetails.columnHeaders.oneOffCharge }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            ${{ row.charges?.oneOff }}
          </mcs-data-cell>
        </ng-container>

        <!-- Data Status Integration -->
        <ng-container mcsDataStatusDef>
          <mcs-data-empty *mcsDataEmptyDef>
            <span>{{ textContent.orderDetails.noItemTypes }} </span>
          </mcs-data-empty>
          <mcs-data-error *mcsDataErrorDef>
            <span>{{ textContent.orderDetails.errorItemTypes }}</span>
          </mcs-data-error>
        </ng-container>

        <!-- Header and Data row -->
        <mcs-header-row *mcsHeaderRowDef="dataColumns"></mcs-header-row>
        <mcs-data-row *mcsDataRowDef="let row; columns: dataColumns;"></mcs-data-row>
      </mcs-table>
    </mcs-section>

    <!-- Order Actions -->
    <mcs-section>
      <span>{{ textContent.orderActions.header }}</span>
      <mcs-radio-button-group orientation="vertical" [(ngModel)]="selectedAction">
        <mcs-radio-button mcsId [value]="0">
          {{ textContent.orderActions.submitOrder }}
        </mcs-radio-button>
        <mcs-radio-button mcsId [value]="1">
          {{ textContent.orderActions.saveOrder }}
        </mcs-radio-button>
        <mcs-radio-button mcsId [value]="2">
          {{ textContent.orderActions.mergeOrder }}
        </mcs-radio-button>
      </mcs-radio-button-group>

      <ng-container [ngSwitch]="selectedAction">
        <mcs-note *ngSwitchCase="0">
          <span read-only>{{ textContent.orderActions.submitOrderNote }}</span><br>
          <a>Macquarie Telecom Pty Ltd terms and conditions.</a>
        </mcs-note>
        <mcs-note *ngSwitchCase="2">
          <mcs-form-field>
            <mcs-select [(ngModel)]="selectedServer">
              <mcs-option [value]="0">New Dedicated Server(120033)</mcs-option>
              <mcs-option [value]="1">EOFS Runout Sale(188837)</mcs-option>
            </mcs-select>
          </mcs-form-field>
        </mcs-note>
      </ng-container>
    </mcs-section>

    <!-- Wizard action -->
    <div class="action-items">
      <a mcsWizardStepPrevious mcsId="step-3-back">Back</a>
      <button mcsButton size="small" arrow="right" mcsId="step-3-next"
        mcsWizardStepNext
        [mcsWizardStepNextWhen]="createOrderWorkflow">Next</button>
    </div>
  </div>
</div>