@import "shared/index";

.mat-form-field {
  width: 400px;

  @include breakpoint(medium) {
    width: 100%;
  }

  .mat-form-field-subscript-wrapper {
    left: 400px !important;
    top: 0 !important;
  }

  .select-placeholder-container {
    display: flex;
    align-items: center;

    span {
      flex: 1;
    }
  }

  input.number {
    text-align: right;
    margin-right: 8px;;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }

  .prefix,
  .suffix {
    color: $color-grey-02;
  }

  .suffix {
    padding-left: .3em;
  }

  &.hidden {
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
  }
}

span.note {
  font-family: $base-font;
  @include font-size($font-size-small);
  color: $color-grey-02;;
}
