<mcs-page [header]="'orderAddAntiVirus.title' | translate">
    <!-- Top Panel -->
    <mcs-top-panel *mcsTopPanelDef>

      <!-- Back to Server Details -->
      <mcs-top-panel-item *mcsTopPanelItemDef no-border>
        <mcs-action-item mcsAlign="end"
          mcsNavigateBackward
          mcsId="navigate-back"
          mcsEventTracker="navigate-back-click"
          mcsEventCategory="orders"
          mcsEventLabel="navigate-back">
          <mcs-icon [key]="backIconKey" size="small"></mcs-icon>
          <span>{{'shared.wizard.previous' | translate}}</span>
        </mcs-action-item>
      </mcs-top-panel-item>
    </mcs-top-panel>

    <mcs-content-panel *mcsContentPanelDef>

      <mcs-wizard (stepChange)="onWizardStepChanged($event)">

        <!-- Error message -->
        <ng-container mcsWizardErrorTemplate>
          <mcs-form-message #formMessage></mcs-form-message>
        </ng-container>

        <!-- Details Step-->
        <mcs-wizard-step id="server-details-step"
          [stepTitle]="'orderAddAntiVirus.details.stepTitle' | translate"
          customClass="contextual-help-page-wrapper limited-view">
          <form [formGroup]="fgAddAntiVirusDetails" mcsFormGroup>

            <ng-container *ngIf="hasAvPermission; else permissionFallbackTemplate">
              <p>{{ 'orderAddAntiVirus.details.server.description' | translate }}</p>

              <ng-container *ngIf="serverGroups$ | async as serverGroups">
                <mcs-form-field [disabled]="!serverGroups"
                  [mcsContextualHelp]="'orderAddAntiVirus.details.server.contextualHelp' | translate">

                  <mcs-select mcsId="add-anti-virus-select-server"
                    (selectionChange)="onChangeServer($event)"
                    [placeholder]="'orderAddAntiVirus.details.server.placeholder' | translate"
                    [formControl]="fcServer">

                    <mcs-search mcsSelectSearch></mcs-search>
                    <mcs-option-group *ngFor="let serverGroup of serverGroups">
                      <ng-container *mcsOptionGroupLabel>
                        <span>{{ serverGroup.groupName }}</span>
                      </ng-container>

                      <mcs-option *ngFor="let serverBackupDetails of serverGroup.options"
                        [value]="serverBackupDetails.value?.entity"
                        [disabled]="serverBackupDetails.value?.disabled">

                        <span [ngStyle]="{'pointer-events': 'auto'}"
                          [mcsTooltip]="serverBackupDetails.value?.message"
                          [mcsTooltipShow]="serverBackupDetails.value?.message"
                          [mcsTooltipPosition]="'right'">
                          {{ serverBackupDetails.text }}
                        </span>

                        <small *ngIf="serverBackupDetails.value?.provisioned" padding-left-small>
                          {{ 'orderAddAntiVirus.details.server.serverProvisioned' | translate }}
                        </small>
                      </mcs-option>
                    </mcs-option-group>
                  </mcs-select>
                </mcs-form-field>

                <ng-container *ngIf="!serverGroups">
                  <mcs-alert type="warning">
                    <span>{{'orderAddAntiVirus.details.server.serverFallbackLabel' | translate }}</span>
                  </mcs-alert>
                </ng-container>
              </ng-container>
            </ng-container>

            <ng-template #permissionFallbackTemplate>
              <mcs-data-status-warning>
                <span>{{ 'orderAddAntiVirus.details.server.permissionFallbackLabel' | translate }}</span>
              </mcs-data-status-warning>
            </ng-template>

            <div class="action-items">
              <button mcsButton arrow="right"
                mcsWizardStepNext
                (click)="onSubmitAntiVirusDetails(fcServer?.value)"
                [disabled]="!formIsValid"
                mcsId="step-1-next"
                mcsEventTracker="step-1-next"
                mcsEventCategory="orders"
                mcsEventLabel="add-anti-virus-next">{{ 'shared.wizard.next' | translate }}</button>
            </div>
          </form>
        </mcs-wizard-step>

        <!-- Confirm Step  -->
        <mcs-wizard-step id="confirm-step"
          [stepTitle]="'shared.wizard.confirm' | translate"
          customClass="contextual-help-page-wrapper limited-view">

          <mcs-step-order-details [order]="order$ | async"
            [orderItemType]="orderItemType$ | async"
            [requestState]="dataStatus$ | async"
            [eventTrack]="orderEventTrack.billingDetailsStep"
            (dataChange)="onAddAntiVirusConfirmOrderChange($event)"
            (submitOrder)="onSubmitOrder($event, fcServer?.value)">
          </mcs-step-order-details>
        </mcs-wizard-step>

        <!-- Go! Step  -->
        <mcs-wizard-step id="go-step"
          [stepTitle]="'shared.wizard.completed' | translate"
          customClass="limited-view">
          <mcs-step-provisioning [jobs]="jobs$ | async" [requestState]="dataStatus$ | async">
            <ng-container mcsProvisioningStepDescription>
              {{ 'orderAddAntiVirus.provisioning.description' | translate }}
            </ng-container>

            <ng-container mcsProvisioningStepInProgress>
              {{ 'orderAddAntiVirus.provisioning.dataInProgress' | translate}}
            </ng-container>
          </mcs-step-provisioning>
        </mcs-wizard-step>
      </mcs-wizard>

    </mcs-content-panel>
  </mcs-page>