<!-- Left Panel Wrapper -->
<div #pageLeftElement display-flex="column" flex="none"
  class="page-left-wrapper hidden-small" [hidden]="!hasLeftPanel">

  <div display-flex flex="none" align-items="center" class="left-nav-wrapper">
    <span class="horizontal-label" [hidden]="!leftPanelIsVisible">{{ leftPanelHeader }}</span>
    <mcs-icon [key]="navIconKey" size="small" class="right-align" (click)="toggleLeftPanel()"
      cursor="pointer" [hidden]="!hasLeftPanel"></mcs-icon>
  </div>
  <div *ngIf="!leftPanelIsVisible" (click)="toggleLeftPanel()"
    display-flex="column" flex="auto" class="placeholder-wrapper" cursor="pointer">
    <div class="vertical-label rotate-sideways">{{ leftPanelHeader }}</div>
  </div>
  <!-- Left panel binding content -->
  <ng-container mcsLeftPanelPlaceholder></ng-container>
</div>

<!-- Top and Content Panel Wrapper -->
<div display-flex="column" flex="auto" class="page-right-wrapper">
  <div display-flex flex="none" class="page-top-wrapper">
    <div class="page-header">
      <ng-container *ngIf="headerTemplate">
        <ng-container *ngTemplateOutlet="headerTemplate?.templateRef"></ng-container>
      </ng-container>
      <ng-container *ngIf="!headerTemplate">
        <h1>{{ header }}</h1>
      </ng-container>
    </div>
    <ng-container mcsTopPanelPlaceholder></ng-container>
  </div>
  <ng-container mcsContentPanelPlaceholder></ng-container>
</div>