<!-- Left Panel Wrapper -->
<div #pageLeftElement display-flex="column" flex="none"
  class="page-left-wrapper hidden-small" [hidden]="!hasLeftPanel">

  <div display-flex flex="none" justify-content="flex-end"
    align-items="center" class="left-nav-wrapper">
    <mcs-icon (click)="toggleLeftPanel()" [key]="navIconKey"
      cursor="pointer" [hidden]="!hasLeftPanel"></mcs-icon>
  </div>
  <div display-flex class="placeholder-wrapper" (click)="showLeftPanel()">
    <ng-container mcsLeftPanelPlaceholder></ng-container>
  </div>
</div>

<!-- Top and Content Panel Wrapper -->
<div display-flex="column" flex="auto" class="page-right-wrapper">
  <div display-flex flex="none" class="page-top-wrapper">
    <h3 class="page-header">{{ header }}</h3>
    <ng-container mcsTopPanelPlaceholder></ng-container>
  </div>
  <ng-container mcsContentPanelPlaceholder></ng-container>
</div>