<mcs-page [storageKey]="featureName"
  [defaultFilters]="defaultColumnFilters"
  [header]="'networkDb.vnis.header' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef [active]="dataSelection?.someItemsAreSelected()">

    <!-- Meta Data -->
    <mcs-top-panel-item *mcsTopPanelItemDef [ngStyle]="{overflow: 'auto'}">
      <div class="listing-action-wrapper">
        <ng-container *ngIf="isSorting; else totalCountTemplate">
          <div class="sorting-label">
            <span padding-right-small>{{ 'label.sorting' | translate }}</span><mcs-loader size="medium"></mcs-loader>
          </div>
        </ng-container>
        <ng-template #totalCountTemplate>
          <div class="total-record-count" *ngIf="dataSource?.totalCount$ | async as totalCount">
            <span>{{ totalCount | mcsPlural:
                  ('networkDb.vnis.dataSingular' | translate) : ('networkDb.vnis.dataPlural' | translate) }}
            </span>
          </div>
        </ng-template>
      </div>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'networkDb.vnis.leftPanelHeader' | translate">
    <!-- Search -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <mcs-search *ngIf="!isMobile" #search mcsId="deployments-desktop-search"></mcs-search>
    </mcs-left-panel-item>

    <!-- Column Filter -->
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="'networkDb.vnis.columnFilter' | translate" offset="medium">
      <mcs-column-selector #columnFilter
        [storageKey]="featureName"
        [defaultFilters]="defaultColumnFilters">
      </mcs-column-selector>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>

    <div class="listing-table-wrapper">
      <!-- Search -->
      <mcs-search *ngIf="isMobile" #search mcsId="network-db-vnis-mobile-search"></mcs-search>

      <table mat-table [dataSource]="dataSource" margin-top-none matSort (matSortChange)="onSortChange($event)">

        <!-- VNI ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.id' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.id }}
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="status" disableClear>
            {{ 'columnHeader.status' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ getStatusText(row.status) }}
          </td>
        </ng-container>

        <!-- Network Column -->
        <ng-container matColumnDef="network">
          <th mat-header-cell *matHeaderCellDef hidden-xsmall mat-sort-header="networkName" disableClear>
            {{ 'columnHeader.network' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-xsmall>
            {{ row.networkName }}
          </td>
        </ng-container>

        <!-- Updated On Column -->
        <ng-container matColumnDef="updatedOn">
          <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="updatedOn" disableClear>
            {{ 'columnHeader.updatedOn' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            {{ row.updatedOn | mcsStdDateFormat }}
          </td>
        </ng-container>

        <!-- Created By Column -->
        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="createdBy" disableClear>
            {{ 'columnHeader.createdBy' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            {{ row.createdBy }}
          </td>
        </ng-container>

        <!-- Created On Column -->
        <ng-container matColumnDef="createdOn">
          <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="createdOn" disableClear>
            {{ 'columnHeader.createdOn' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            {{ row.createdOn | mcsStdDateFormat }}
          </td>
        </ng-container>

        <!-- Updated By Column -->
        <ng-container matColumnDef="updatedBy">
          <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="updatedBy" disableClear>
            {{ 'columnHeader.updatedBy' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            {{ row.updatedBy }}
          </td>
        </ng-container>

        <!-- Header and Data row -->
        <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async"
          [disabled]="dataSource?.isInProgress$ | async"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"></tr>
      </table>

      <!-- Table Statuses -->
      <mcs-item orientation="block">
        <div *ngIf="dataSource?.isInProgress$ | async" align="center">
          <mcs-loader size="medium"></mcs-loader>
        </div>
        <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
          {{ 'networkDb.vnis.noRecordsFound' | translate }}
        </div>
        <div *ngIf="dataSource?.hasError$ | async" text-center>
          <div class="listing-status-wrapper">
            <span>{{ 'networkDb.vnis.errorMessage' | translate }}</span>
            <a (click)="retryDatasource()"
              mcsId
              mcsEventTracker="retry-loading-network-db-site-list"
              mcsEventCategory="launchpad-network-db"
              mcsEventLabel="pod-listing-page">{{ 'networkDb.vnis.retry' | translate }}</a>.
          </div>
        </div>
      </mcs-item>

      <!-- Paginator -->
      <mcs-paginator #paginator
        [totalCount]="dataSource?.totalCount$ | async">
      </mcs-paginator>
    </div>
  </mcs-content-panel>
</mcs-page>
