<mcs-page [header]="selectedProduct?.name">

  <!-- Top Panel -->
  <!-- TODO: Removed temporarily for production release -->
  <!-- <mcs-top-panel *mcsTopPanelDef class="visible-small">
    <mcs-top-panel-item *mcsTopPanelItemDef>
      <mcs-action-item class="right-align" (click)="onToggleSlidingPanel()">
        <mcs-icon [key]="toggleIconKey"></mcs-icon>
      </mcs-action-item>
    </mcs-top-panel-item>
  </mcs-top-panel> -->

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="textContent.leftPanelHeader">
    <!-- listing panel -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <div class="listing-panel-wrapper">
        <mcs-search #search id="products-listing-panel-search"></mcs-search>

        <mcs-data-status [dataStatusFactory]="listStatusFactory">
          <mcs-data-status-success mcsDataSuccess>

            <mcs-list-panel>
              <mcs-option-group [label]="catalog.name" *ngFor="let catalog of catalogs">
                <mcs-option-group [label]="category.name"
                  *ngFor="let category of catalog.categories">
                  <mcs-option *ngFor="let product of category.products"
                    [value]="product"
                    [selected]="selectedProduct?.id === product.id"
                    (click)="onClickProduct(product)">
                    <span>{{ product.name }}</span>
                  </mcs-option>
                </mcs-option-group>
              </mcs-option-group>
            </mcs-list-panel>

          </mcs-data-status-success>

          <mcs-data-status-in-progress mcsDataInProgress>
            <span>{{ textContent.loading }}</span>
          </mcs-data-status-in-progress>

          <mcs-data-status-empty mcsDataEmpty>
            <span>{{ textContent.noProducts }}</span>
          </mcs-data-status-empty>

          <mcs-data-status-error mcsDataError>
            <span>{{ textContent.errorMessage }}</span>
          </mcs-data-status-error>
        </mcs-data-status>
      </div>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <mcs-content-panel *mcsContentPanelDef>
    <mcs-loader [subscriptions]="productStatusFactory?.statusSubscription"
      [loadingText]="textContent.loadingDetails"
      loadingPlacement="top">

      <!-- TODO: Removed temporarily for production release -->
      <!-- <mcs-sliding-panel placement="right" #slidingPanel class="visible-small">
        <ng-container *ngTemplateOutlet="productAnnexTemplate"></ng-container>
      </mcs-sliding-panel> -->

      <div #productDetails class="inline-items align-items-none">
        <router-outlet></router-outlet>

        <!-- TODO: Removed temporarily for production release -->
        <!-- <div class="space-left-xlarge hidden-small">
          <ng-container *ngTemplateOutlet="productAnnexTemplate"></ng-container>
        </div> -->
      </div>
    </mcs-loader>

  </mcs-content-panel>
</mcs-page>

<!-- Product Annex -->
<ng-template #productAnnexTemplate>
  <div class="padding-medium">
    <mcs-product-annex [product]="selectedProduct"></mcs-product-annex>
  </div>
</ng-template>