<mcs-page [header]="(selectedProduct$ | async)?.name">

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="textContent.leftPanelHeader">
    <!-- listing panel -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <div class="listing-panel-wrapper">
        <mcs-search #search mcsId="products-listing-panel-search"></mcs-search>

        <mcs-data-status [dataStatusFactory]="listStatusFactory">
          <mcs-data-status-success mcsDataSuccess>

            <mcs-list-panel>
              <mcs-option-group [label]="catalog.name" *ngFor="let catalog of catalogs$ | async">
                <mcs-option-group [label]="category.name"
                  *ngFor="let category of catalog.categories">

                  <ng-container *ngFor="let product of category.products">
                    <a [mcsRouterLink]="[routeKeyEnum.ProductDetail, product.id]"
                      mcsId="select-product"
                      mcsEventTracker="select-product"
                      mcsEventCategory="product"
                      mcsEventLabel="product-list-panel">

                      <mcs-option [value]="product"
                        [selected]="(selectedProduct$ | async)?.id === product.id">
                        <div class="space-left-xsmall">
                          <span class="word-wrap">{{ product.name }}</span>
                        </div>
                      </mcs-option>
                    </a>
                  </ng-container>

                </mcs-option-group>
              </mcs-option-group>
            </mcs-list-panel>

          </mcs-data-status-success>

          <mcs-data-status-in-progress mcsDataInProgress>
            <span>{{ textContent.loading }}</span>
          </mcs-data-status-in-progress>

          <mcs-data-status-empty mcsDataEmpty>
            <span>{{ textContent.noProducts }}</span>
          </mcs-data-status-empty>

          <mcs-data-status-error mcsDataError>
            <span>{{ textContent.errorMessage }}</span>
          </mcs-data-status-error>
        </mcs-data-status>
      </div>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <mcs-content-panel *mcsContentPanelDef>
    <div class="inline-items align-items-none">
      <router-outlet></router-outlet>
    </div>
  </mcs-content-panel>
</mcs-page>