<mcs-page>
  <!-- Page template header -->
  <ng-container *mcsPageHeader>
    <ng-container *ngIf="selectedProduct$ | async as selectedProduct">
      <mcs-item full-width>
        <div><h1>{{ selectedProduct.name }}</h1></div>
        <mcs-item mcsAlign="end">
          <h3>{{ selectedProduct.serviceIdPrefix }}</h3>
          <span read-only>v{{ selectedProduct.version }}</span>
        </mcs-item>
      </mcs-item>
    </ng-container>
  </ng-container>

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'products.leftPanelHeader' | translate">
    <!-- listing panel -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <div class="listing-panel-wrapper">
        <mcs-search #search mcsId="products-listing-panel-search"></mcs-search>

        <mcs-data-status [dataStatusFactory]="listStatusFactory">
          <mcs-data-status-success mcsDataSuccess>

            <mcs-list-panel>
              <mcs-option-group [label]="catalog.name" *ngFor="let catalog of catalogs$ | async">
                <mcs-option-group [label]="category.name"
                  *ngFor="let category of catalog.categories">

                  <ng-container *ngFor="let product of category.products">
                    <a [mcsRouterLink]="[routeKeyEnum.ProductDetails, product.id]"
                      mcsId="select-product"
                      mcsEventTracker="select-product"
                      mcsEventCategory="product"
                      mcsEventLabel="product-list-panel">

                      <mcs-option [value]="product"
                        [selected]="(selectedProduct$ | async)?.id === product.id">
                        <div margin-left-xsmall
                          [mcsGreyedOut]="product.isActiveIncompleteRelease">
                          <span text-wrap>{{ product.name }}</span>
                        </div>
                      </mcs-option>
                    </a>
                  </ng-container>

                </mcs-option-group>
              </mcs-option-group>
            </mcs-list-panel>

          </mcs-data-status-success>

          <mcs-data-status-in-progress mcsDataInProgress>
            <span>{{ 'products.loading' | translate }}</span>
          </mcs-data-status-in-progress>

          <mcs-data-status-empty mcsDataEmpty>
            <span>{{ 'products.noProducts' | translate }}</span>
          </mcs-data-status-empty>

          <mcs-data-status-error mcsDataError>
            <span>{{ 'products.errorMessage' | translate }}</span>
          </mcs-data-status-error>
        </mcs-data-status>
      </div>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <mcs-content-panel *mcsContentPanelDef>
    <router-outlet></router-outlet>
  </mcs-content-panel>
</mcs-page>