<mcs-page [header]="'licenses.header' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>
    <ng-container *mcsAccessControl="['OrderEdit'];">
      <mcs-top-panel-item *mcsTopPanelItemDef>
        <mcs-action-item
          [disabled]="!isLicensesActiveAndNoRunningJobs(dataSource?.dataRecords$ | async, activeJobs$ | async)"
          (click)="onChangeLicenseCount()"
          mcsId
          mcsEventTracker="change-license-count"
          mcsEventCategory="license"
          mcsEventLabel="license-listing-top-panel">
          <mcs-icon [key]="unfoldMoreIcon"></mcs-icon>
          <span>{{ 'licenses.changeCount' | translate }}</span>
        </mcs-action-item>
      </mcs-top-panel-item>
    </ng-container>
    <!--TODO: update creation when there's a story for it-->
    <!-- License Creation -->
    <ng-container *mcsAccessControl>
      <ng-container *ngIf="false"><!--hide temporarily-->
        <mcs-top-panel-item *mcsTopPanelItemDef>
          <mcs-action-item
            [disabled]="true"
            (click)="onClickNewLicenseButton()"
            mcsId
            mcsEventTracker="create-new-license"
            mcsEventCategory="license"
            mcsEventLabel="license-listing-top-panel">
            <mcs-icon [key]="addIconKey"></mcs-icon>
            <span>{{ 'licenses.newLicense' | translate }}</span>
          </mcs-action-item>
        </mcs-top-panel-item>
      </ng-container>
    </ng-container>

    <mcs-top-panel-item *mcsTopPanelItemDef>
      <div class="listing-action-wrapper">
        <ng-container *ngIf="isSorting; else totalCountTemplate">
          <div class="sorting-label">
            <span padding-right-small>{{ 'label.sorting' | translate }}</span><mcs-loader size="medium"></mcs-loader>
          </div>
        </ng-container>
        <ng-template #totalCountTemplate>
          <div class="total-record-count" *ngIf="dataSource?.totalCount$ | async as totalCount">
            <span>
              {{ totalCount | mcsPlural: ('licenses.dataSingular' | translate) : ('licenses.dataPlural' | translate) }}
            </span>
          </div>
        </ng-template>
      </div>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Side Menu -->
  <mcs-left-panel *mcsLeftPanelDef="'licenses.leftPanelHeader' | translate">
    <!-- Column Filter -->
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="'licenses.columnFilter' | translate" offset="medium">
      <mcs-column-selector #columnFilter
        storageKey="licenses"
        [defaultFilters]="defaultColumnFilters"
        [filterPredicate]="filterPredicate">
      </mcs-column-selector>
    </mcs-left-panel-item>

  </mcs-left-panel>

  <mcs-content-panel *mcsContentPanelDef>
    <div class="listing-table-wrapper">
      <!-- Search -->
      <mcs-search *ngIf="isMobile" #search mcsId="license-targets-mobile-search"></mcs-search>

      <!-- Table -->
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name" disableClear>
            {{ 'columnHeader.name' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span [innerHTML]="row.name | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="quantity" disableClear>
            {{ 'columnHeader.quantity' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span [innerHTML]="row.quantity | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Unit Column -->
        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="unit" disableClear>
            {{ 'columnHeader.unit' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span [innerHTML]="row.unit | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="statusLabel" disableClear>
            {{ 'columnHeader.status' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span [innerHTML]="row.statusLabel | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Service ID Column -->
        <ng-container matColumnDef="serviceId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="serviceId" disableClear>
            {{ 'columnHeader.serviceId' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.serviceId; else noServiceIdTemplate">
              <span>{{ row.serviceId }}</span>
            </ng-container>
            <ng-template #noServiceIdTemplate>
              <mcs-data-status-empty
                [mcsTooltip]="'label.ticketingOrderingUnavailable' | translate"
                [mcsTooltipShow]="!row.serviceId">
                {{ 'label.unknown' | translate }}
              </mcs-data-status-empty>
            </ng-template>
          </td>
        </ng-container>

        <!-- Offer ID Column -->
        <ng-container matColumnDef="offerId">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.offerId' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span [innerHTML]="row.offerId | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Subscription ID Column -->
        <ng-container matColumnDef="subscriptionId">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.subscriptionId' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span [innerHTML]="row.pcSubscriptionId | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Billing Frequency Column -->
        <ng-container matColumnDef="billingFrequency">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.billingFrequency' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span [innerHTML]="row.billingCycle | titlecase | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Billing Frequency Column -->
        <ng-container matColumnDef="term">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.term' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span [innerHTML]="row.termDuration | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Commitment Start Date Column-->
        <ng-container matColumnDef="commitmentStartDate">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.commitmentStartDate' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="(row.commitmentStartDate); else NoCommitmentStartDate">
              <span> {{  row.commitmentStartDate | mcsStdDateFormat: 'ddd, D MMMM, y' }}</span>
            </ng-container>
            <ng-template #NoCommitmentStartDate>
              <span [mcsGreyedOut]="true">{{'licenses.noCommitmentDateLabel' | translate}}</span>
            </ng-template>
          </td>
        </ng-container>

        <!-- Commitment End Date Column-->
        <ng-container matColumnDef="commitmentEndDate">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.commitmentEndDate' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="(row.commitmentEndDate); else NoCommitmentEndDate">
              <mcs-item>
                <div>
                  <span *ngIf="isLicenseExpiring(row)" class="material-icons"
                    [matTooltip]="'licenses.licenseExpiring' | translate" style="color: #ed1d2b;">
                    warning
                  </span>
                </div>
                <span> {{  row.commitmentEndDate | mcsStdDateFormat: 'ddd, D MMMM, y' }}</span>
              </mcs-item>
            </ng-container>
            <ng-template #NoCommitmentEndDate>
              <span [mcsGreyedOut]="true">{{'licenses.noCommitmentDateLabel' | translate}}</span>
            </ng-template>
          </td>
        </ng-container>

        <!-- Auto Renewal Column -->
        <ng-container matColumnDef="autoRenewal">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.autoRenewal' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span [innerHTML]="row.autoRenewEnabled ? 'On' : 'Off'"></span>
          </td>
        </ng-container>

        <!-- Parent Column -->
        <ng-container matColumnDef="parent">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.parent' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span [innerHTML]="row.parentServiceId | mcsDataLabel: 'None'">
            </span>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action" *mcsAccessControl="['OrderEdit'];">
          <th mat-header-cell *matHeaderCellDef hidden-small></th>
          <td mat-cell *matCellDef="let row" text-center hidden-small>
            <ng-container *ngIf="row.serviceId && (row.subscriptionId || row.pcSubscriptionId) &&
              !isLicenseDisabled(dataSource?.dataRecords$ | async, row)
              && isCurrentLicenseHasNoActiveJob(row, activeJobs$ | async)">
                <mcs-icon mcsStopPropagation [key]="ellipsisIconKey" size="large"
                  mcsPopover placement="bottom" orientation="left" theme="light"
                  padding="none" [content]="actionContent" mcsCursor="pointer">
                </mcs-icon>
                <ng-template #actionContent>
                  <div class="cog-actions-wrapper" *ngIf="!isLicenseDisabled(dataSource?.dataRecords$ | async, row)
                    && isCurrentLicenseHasNoActiveJob(row, activeJobs$ | async)">
                    <a mcsButton="basic" color="white" labelPlacement="left"
                      (click)="onChangeLicenseCount(row)"
                      mcsId="license-count-change"
                      mcsEventTracker="license-count-change"
                      mcsEventCategory="license"
                      mcsEventLabel="license-listing">
                      {{ 'licenses.changeLicenseCount' | translate }}
                    </a>
                  </div>
                  <ng-container *mcsAccessControl="['TicketCreate']">
                      <div class="cog-actions-wrapper">
                        <a mcsButton="basic" color="white" labelPlacement="left"
                          (click)="onRaiseTicket(row)"
                          mcsId="license-raise-ticket"
                          mcsEventTracker="license-raise-ticket"
                          mcsEventCategory="license"
                          mcsEventLabel="license-listing">
                          {{ 'licenses.raiseTicket' | translate }}
                        </a>
                      </div>
                  </ng-container>
                </ng-template>
            </ng-container>
          </td>
        </ng-container>

        <!-- Header and Data row -->
        <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async"
          [disabled]="dataSource?.isInProgress$ | async"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"></tr>
      </table>

      <!-- Table Status -->
      <mcs-item orientation="block">
        <div *ngIf="dataSource?.isInProgress$ | async" align="center">
          <mcs-loader size="medium"></mcs-loader>
        </div>
        <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
          <span>{{ 'licenses.noRecordsFoundMessage' | translate }}</span>
        </div>
        <div *ngIf="dataSource?.hasError$ | async" text-center>
          <div class="listing-status-wrapper">
            <span>{{ 'licenses.errorMessage' | translate }}</span>
            <a (click)="retryDatasource()"
              mcsId
              mcsEventTracker="retry-licenses-list"
              mcsEventCategory="licenses"
              mcsEventLabel="licenses-listing-page">{{ 'licenses.retry' | translate }}</a>.
          </div>
        </div>
      </mcs-item>
    </div>
  </mcs-content-panel>
</mcs-page>
