<mcs-presentation-panel>
  <ng-container mcsPresentationPanelHeader>
    <mcs-item orientation="separated" full-width>
      <h2>{{ 'serverServicesOsUpdatesSchedule.title' | translate }}</h2>
      <ng-content select="[mcsViewServicesTab]"></ng-content>
    </mcs-item>
  </ng-container>
  <p>{{ description }}</p>

  <mcs-data-status [dataStatusFactory]="configurationStatusFactory">
    <mcs-data-status-success mcsDataSuccess>
      <ng-container *ngIf="osUpdatesScheduleConfiguration$ | async as osUpdatesScheduleConfiguration">
        <ng-container [ngSwitch]="scheduleType">
          <mcs-section>
            <form [formGroup]="fgSchedule" mcsFormGroup [disabled]="selectedServer.isProcessing">
              <mcs-grid>
                <mcs-grid-row>
                  <!-- Schedule Type -->
                  <mcs-item orientation="block">
                    <strong>{{ 'serverServicesOsUpdatesSchedule.scheduleTypeLabel' | translate }}</strong>
                    <mcs-radio-button-group [(ngModel)]="scheduleType" [ngModelOptions]="{standalone: true}"
                      mcsId="schedule-type"
                      (ngModelChange)="onScheduleTypeChange()">
                      <mcs-radio-button [value]="scheduleTypeOption.RunOnce">
                        {{ 'serverServicesOsUpdatesSchedule.scheduleTypeOption.runonce' | translate }}
                      </mcs-radio-button>
                      <mcs-radio-button [value]="scheduleTypeOption.Recurring">
                        {{ 'serverServicesOsUpdatesSchedule.scheduleTypeOption.recurring' | translate }}
                      </mcs-radio-button>
                    </mcs-radio-button-group>
                  </mcs-item>
                </mcs-grid-row>

                <!-- Schedule Type Recurring -->
                <mcs-grid-row [@fadeIn] *ngSwitchCase="scheduleTypeOption.Recurring">
                  <mcs-grid-column>

                    <mcs-item orientation="block">
                      <strong>{{ 'serverServicesOsUpdatesSchedule.scheduleTimeLabel' | translate }}</strong>
                      <mcs-section orientation="horizontal" mcsAlignContent="middle-left">

                        <!-- Recurring Day Selection -->
                        <mcs-form-field class="form-field-size-small">
                          <mcs-select mcsId="select-recurring-day-os-updates"
                            [placeholder]="'serverServicesOsUpdatesSchedule.daysPlaceholder.recurring' | translate"
                            [formControl]="fcRecurringScheduleDay" (change)="toggleScheduleDay()" required multiple>
                            <mcs-option *ngFor="let scheduleDay of scheduleDetails.scheduleDays" [value]="scheduleDay.day"
                              [selected]="scheduleDay.checked">{{ scheduleDay.name }}</mcs-option>
                          </mcs-select>
                        </mcs-form-field>

                        <span>{{ 'serverServicesOsUpdatesSchedule.datePreposition' | translate }}</span>

                        <!-- Recurring Time Selection -->
                        <mcs-form-field class="form-field-size-xsmall">
                          <mcs-select mcsId="select-recurring-time-os-updates" [formControl]="fcRecurringScheduleTime"
                            required>
                            <mcs-option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{ timeOption }}</mcs-option>
                          </mcs-select>
                        </mcs-form-field>

                        <!-- Recurring Period Selection -->
                        <mcs-form-field class="form-field-size-xsmall">
                          <mcs-select mcsId="select-recurring-period-os-updates" [formControl]="fcRecurringScheduleTimePeriod"
                            required>
                            <mcs-option *ngFor="let dayPeriodOption of dayPeriodOptions" [value]="dayPeriodOption">
                              {{ dayPeriodOption }}
                            </mcs-option>
                          </mcs-select>
                        </mcs-form-field>

                        <span>{{ 'serverServicesOsUpdatesSchedule.timezoneAbrv' | translate }}</span>
                      </mcs-section>
                    </mcs-item>
                  </mcs-grid-column>
                </mcs-grid-row>

                <!-- Schedule Type Later/RunOnce -->
                <mcs-grid-row [@fadeIn] *ngSwitchCase="scheduleTypeOption.RunOnce">
                  <mcs-grid-column>

                    <mcs-item orientation="block">
                      <strong>{{ 'serverServicesOsUpdatesSchedule.scheduleTimeLabel' | translate }}</strong>
                      <mcs-section orientation="horizontal" mcsAlignContent="middle-left">

                        <!-- RunOnce Day Selection-->
                        <!-- TODO : First element is selected -->
                        <mcs-form-field class="form-field-size-small">
                          <mcs-select mcsId="select-runonce-day-os-updates" [formControl]="fcRunOnceScheduleDay" required>
                            <mcs-option *ngFor="let scheduleDay of scheduleDetails.scheduleDays" [value]="scheduleDay.day"
                              [selected]="scheduleDay.checked">{{ scheduleDay.name }}</mcs-option>
                          </mcs-select>
                        </mcs-form-field>

                        <span>{{ 'serverServicesOsUpdatesSchedule.datePreposition' | translate }}</span>

                        <!-- RunOnce Time Selection -->
                        <mcs-form-field class="form-field-size-xsmall">
                          <mcs-select mcsId="select-runonce-time-os-updates" [formControl]="fcRunOnceScheduleTime"
                            required>
                            <mcs-option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{ timeOption }}</mcs-option>
                          </mcs-select>
                        </mcs-form-field>

                        <!-- RunOnce Period Selection -->
                        <mcs-form-field class="form-field-size-xsmall">
                          <mcs-select mcsId="select-runonce-period-os-updates" [formControl]="fcRunOnceScheduleTimePeriod"
                            required>
                            <mcs-option *ngFor="let dayPeriodOption of dayPeriodOptions" [value]="dayPeriodOption">{{
                              dayPeriodOption }}</mcs-option>
                          </mcs-select>
                        </mcs-form-field>

                        <span>{{ 'serverServicesOsUpdatesSchedule.timezoneAbrv' | translate }}</span>
                      </mcs-section>
                    </mcs-item>
                  </mcs-grid-column>
                </mcs-grid-row>
              </mcs-grid>
            </form>

            <section [disabled]="selectedServer.isProcessing">
                <!-- Action Buttons -->
                <mcs-item>
                  <strong>{{ 'serverServicesOsUpdatesSchedule.listLabel' | translate }}</strong>
                  <button delete-button mcsButton size="medium" mcsAlign="end"
                    mcsId="delete-schedule-button"
                    mcsEventTracker="os-updates-delete-schedule-click"
                    mcsEventCategory="server"
                    mcsEventLabel="os-updates-delete-schedule"
                    (click)="deleteExistingSchedule()"
                    [hidden]="!hasSchedule"
                    [disabled]="!hasSchedule" color="error">
                    {{ 'serverServicesOsUpdatesSchedule.deleteScheduleButton' | translate }}
                  </button>
                  <button *ngSwitchCase="scheduleTypeOption.RunOnce" mcsButton size="medium"
                    mcsId="save-runonce-button"
                    mcsEventTracker="os-updates-save-runonce-click"
                    mcsEventCategory="server"
                    mcsEventLabel="os-updates-save-runonce"
                    (click)="saveRunOnceSchedule()"
                    [disabled]="isRunOnceSaveButtonDisabled">
                    {{ 'serverServicesOsUpdatesSchedule.saveScheduleButton' | translate }}
                  </button>
                  <button *ngSwitchCase="scheduleTypeOption.Recurring" mcsButton size="medium"
                    mcsId="save-recurring-button"
                    mcsEventTracker="os-updates-save-recurring-click"
                    mcsEventCategory="server"
                    mcsEventLabel="os-updates-save-recurring"
                    (click)="saveRecurringSchedule()"
                    [disabled]="isRecurringSaveButtonDisabled">
                    {{ 'serverServicesOsUpdatesSchedule.saveScheduleButton' | translate }}
                  </button>
                </mcs-item>
                <!-- Tree View -->
                <div class="action-box">
                  <mcs-tree *ngSwitchCase="scheduleTypeOption.RunOnce"
                    mcsId="tree-view-runonce"
                    (selectionChange)="onRunOnceTreeChange($event)">
                    <mcs-tree-node-group [label]="'serverServicesOsUpdatesSchedule.listAllSelection' | translate" checkable>
                      <mcs-tree-node
                        *ngFor="let runOnceCategory of runOnceCategories"
                        [value]="runOnceCategory"
                        [selected]="runOnceCategory.isSelected">
                        <span>{{runOnceCategory.name}}</span>
                      </mcs-tree-node>
                    </mcs-tree-node-group>
                  </mcs-tree>

                  <mcs-tree *ngSwitchCase="scheduleTypeOption.Recurring"
                    mcsId="tree-view-recurring"
                    (selectionChange)="onRecurringTreeChange($event)">
                    <mcs-tree-node-group [label]="'serverServicesOsUpdatesSchedule.listAllSelection' | translate" checkable>
                      <mcs-tree-node
                        *ngFor="let recurringCategory of recurringCategories"
                        [value]="recurringCategory"
                        [selected]="recurringCategory.isSelected">
                        <span>{{recurringCategory.name}}</span>
                      </mcs-tree-node>
                    </mcs-tree-node-group>
                  </mcs-tree>
                </div>
            </section>
          </mcs-section>
        </ng-container>
      </ng-container>
    </mcs-data-status-success>

    <mcs-data-status-in-progress mcsDataInProgress>
      <span>{{ 'serverServicesOsUpdatesSchedule.osUpdatesCategoryloadingContent' | translate }}</span>
    </mcs-data-status-in-progress>

    <mcs-data-status-error mcsDataError>
      <span>{{ 'serverServicesOsUpdatesSchedule.errorGettingOsUpdatesCategory' | translate }}</span>
    </mcs-data-status-error>
  </mcs-data-status>
</mcs-presentation-panel>
