@import "../../../../../styles/shared/base";

$server-manage-storage-font: $base-font-bold;
$server-manage-storage-font-size: $h4-small-font-size;

:host {
  display: block;
}

%disabled {
  cursor: not-allowed;
  opacity: $disabled-opacity;
}

.server-manage-storage-container {
  @include display-flex(column);
  @include set-items-interval($space-large, vertical);

  .description {
    margin-top: $space-small;
  }

  .custom-size-form {
    min-height: 100px;
  }

  .slider-content {
    @include flex(0 1 100%);
    min-height: 100px;

    > .storage-label,
    > .available-label {
      display: block;
      text-align: center;
    }

    > .storage-label {
      font-family: $base-font-bold;
    }
  }

  .storage-full-warning {
    @include display-flex(row);
    @include flex(0 1 100%);
    align-items: center;
    justify-content: center;
    margin: $space-xlarge 0;
    white-space: normal;

    h4 {
      margin-left: $space-large;
      margin-bottom: 0;
    }
  }

  .disabled {
    a {
      @extend %disabled;
    }
  }
}