<form [formGroup]="fgScale" mcsFormGroup>
  <!-- Storage header and switcher -->
  <mcs-item orientation="separated">
    <div><ng-content select="[mcsManageStorageHeader]"></ng-content></div>
    <div>
      <a *ngIf="inputManageType === inputManageTypeEnum.Custom" mcsId
        (click)="onChangeInputManageType(inputManageTypeEnum.Auto)">
        {{ textContent.sliderSwitch }}</a>
      <a *ngIf="inputManageType === inputManageTypeEnum.Auto" mcsId
        (click)="onChangeInputManageType(inputManageTypeEnum.Custom)">
        {{ textContent.customSwitch }}</a>
    </div>
  </mcs-item>

  <!-- Storage profiles selection and details template -->
  <ng-container *ngIf="!detailsTemplate;else detailsTemplate">
    <mcs-form-field>
      <mcs-select [formControl]="fcSelectStorages" required
        mcsId="select-storage"
        placeholder="Select storage profile">

        <mcs-option-group>
          <ng-container *mcsOptionGroupHeader>
            Storage Profiles
          </ng-container>
          <mcs-option *ngFor="let storage of storages" [value]="storage">
            {{ storage.name }}
          </mcs-option>
        </mcs-option-group>
      </mcs-select>
    </mcs-form-field>
  </ng-container>

  <div *ngIf="hasAvailableMemory" [ngSwitch]="inputManageType">
    <!-- Slider selection mode -->
    <mcs-section [@fadeIn] *ngSwitchCase="inputManageTypeEnum.Auto">
      <div>
        <span>{{ textContent.sliderMessage }} </span>
        <span>
          This storage profile has {{ availableMemory | mcsDataSize: 'GB' }} of usable capacity.
        </span>
      </div>

      <div>
        <mcs-slider [min]="minValueGB" [max]="availableMemory" [step]="10"
          mcsId="slider-memory"
          [ngModel]="storageValue" [ngModelOptions]="{standalone: true}"
          (ngModelChange)="onSliderChanged($event)">
        </mcs-slider>
        <strong display-block text-center>{{ storageValue | mcsDataSize: 'GB' }}</strong>
      </div>
    </mcs-section>

    <!-- Custom storage mode -->
    <mcs-section [@fadeIn] *ngSwitchCase="inputManageTypeEnum.Custom">
      <div>{{ textContent.customMessage }}</div>

      <mcs-form-field class="form-field-size-small">
        <input mcsInput placeholder="Enter storage"
          mcsId="input-storage" [formControl]="fcCustomStorage">
        <mcs-suffix mcsSuffix>{{ textContent.unit }}</mcs-suffix>

        <mcs-hint mcsHint align="start">
          {{ textContent.maximumStorage }}: {{ availableMemory | mcsDataSize: 'GB' }}
        </mcs-hint>
        <mcs-error mcsError errorState="required">
          {{ textContent.errors.storageRequired }}
        </mcs-error>
        <mcs-error mcsError errorState="numeric">
          {{ textContent.errors.storageNumeric }}
        </mcs-error>
        <mcs-error mcsError errorState="min">
          {{ storageMinValueText }}
        </mcs-error>
        <mcs-error mcsError errorState="storageAvailable">
          {{ storageAvailableText }}
        </mcs-error>
      </mcs-form-field>
    </mcs-section>
  </div>

  <!-- Insufficient Storage Capacity Warning Message -->
  <div *ngIf="!hasAvailableMemory" [@fadeIn]>
    <mcs-data-status-warning>
      <ng-content select="[mcsManageStorageWarning]"></ng-content>
    </mcs-data-status-warning>
  </div>
</form>