@import "../../../../../styles/shared/base";

$server-manage-storage-font: $base-font-bold;
$server-manage-storage-font-size: $h4-small-font-size;

:host {
  display: block;
}

%disabled {
  cursor: not-allowed;
  opacity: $disabled-opacity;
}

.server-manage-storage-container {
  @include display-flex(row);
  @include flex-wrap(wrap);
  @include set-items-interval(10px, vertical);
  @include font-size($server-manage-storage-font-size);

  .description {
    @include flex(0 1 50%);
    @include display-flex(column);
  }

  .custom-size {
    margin: 0;
    text-align: right;
    @include flex(0 1 50%);
  }

  .storage-profile-content {
    @include flex(0 1 100%);
  }

  .custom-size-form {
    @include flex(0 1 100%);
    min-height: 100px;
    margin-top: $space-large;

    .custom-size-input {
      width: 100%;
      @include set-items-interval(20px, horizontal);
      * {
        display: inline-block;
      }

      mcs-textbox {
        width: 100% !important;
      }
    }

    .custom-size-input-error {
      display: block;
      margin-left: 0;
      > span {
        text-align: center;
      }
    }

    @include breakpoint(small) {
      @include display-flex(column);
      * {
        margin-left: 0;
      }
    }
  }

  .slider-content {
    @include flex(0 1 100%);
    min-height: 100px;
    margin-top: $space-large;
    > .storage-label,
    > .available-label {
      display: block;
      text-align: center;
    }

    > .storage-label {
      font-family: $server-manage-storage-font;
    }
  }

  .storage-full-warning {
    @include display-flex(row);
    @include flex(0 1 100%);
    align-items: center;
    justify-content: center;
    margin: $space-xlarge 0;

    h4 {
      margin-left: $space-large;
      margin-bottom: 0;
    }
  }

  .disabled {
    a {
      @extend %disabled;
    }
  }
}