<div class="limited-view">
  <div class="contextual-help-page-wrapper">

    <!-- Billing Details -->
    <form [formGroup]="fgOrderBilling" mcsFormGroup>
      <section>
        <h2>{{ 'orderDetailsStep.header' | translate }}</h2>
        <p>{{ 'orderDetailsStep.description' | translate }}</p>

        <section>
          <h3>{{ 'orderDetailsStep.billingDetails.header' | translate }}</h3>

          <ng-container *ngIf="orderItemType?.itemType === orderTypeEnum.Change; else orderBillingTemplate">
            <mcs-status-message type="info">
                {{ 'orderDetailsStep.billingDetails.changeOrderNote' | translate }}
            </mcs-status-message>
          </ng-container>

          <ng-template #orderBillingTemplate>
            <mcs-form-field>
              <mcs-select [formControl]="fcContractTerm"
                mcsId="select-contract-term"
                [placeholder]="'orderDetailsStep.billingDetails.contractTermPlaceholder' | translate"
                [mcsContextualHelp]="'orderDetailsStep.billingDetails.contractTermHelp' | translate">

                <mcs-option [value]="term.value" *ngFor="let term of contractTerms$ | async">
                  {{ term.text }}
                </mcs-option>
              </mcs-select>

              <mcs-error mcsError errorState="required">
                {{ 'orderDetailsStep.billingDetails.contractTermRequired' | translate }}
              </mcs-error>
            </mcs-form-field>

            <ng-container *ngIf="billing$ | async as billingDetails">
              <mcs-form-field>
                <mcs-select [formControl]="fcBillingEntity"
                  mcsId="select-billing-entity"
                  [placeholder]="'orderDetailsStep.billingDetails.entityPlaceholder' | translate"
                  [mcsContextualHelp]="'orderDetailsStep.billingDetails.entityHelp' | translate">

                  <mcs-option [value]="billing" *ngFor="let billing of billingDetails">
                    {{ billing.name }}
                  </mcs-option>
                </mcs-select>

                <mcs-error mcsError errorState="required">
                  {{ 'orderDetailsStep.billingDetails.entityRequired' | translate }}
                </mcs-error>
              </mcs-form-field>

              <mcs-form-field>
                <mcs-select [formControl]="fcBillingSite"
                  mcsId="select-billing-site"
                  [placeholder]="'orderDetailsStep.billingDetails.sitePlaceholder' | translate"
                  [mcsContextualHelp]="'orderDetailsStep.billingDetails.siteHelp' | translate">

                  <mcs-option [value]="billingSite"
                    *ngFor="let billingSite of fcBillingEntity?.value?.sites">
                    {{ billingSite.name }}
                  </mcs-option>
                </mcs-select>

                <mcs-error mcsError errorState="required">
                  {{ 'orderDetailsStep.billingDetails.siteRequired' | translate }}
                </mcs-error>
              </mcs-form-field>

              <mcs-form-field>
                <mcs-select [formControl]="fcBillingCostCenter"
                  mcsId="select-billing-cost-center"
                  [placeholder]="'orderDetailsStep.billingDetails.costCenterPlaceholder' | translate"
                  [mcsContextualHelp]="'orderDetailsStep.billingDetails.costCenterHelp' | translate">

                  <mcs-option [value]="costCentre"
                    *ngFor="let costCentre of fcBillingSite?.value?.costCentres">
                    {{ costCentre.name }}
                  </mcs-option>
                </mcs-select>

                <mcs-error mcsError errorState="required">
                  {{ 'orderDetailsStep.billingDetails.costCenterRequired' | translate }}
                </mcs-error>
              </mcs-form-field>
            </ng-container>
          </ng-template>
        </section>
      </section>

      <!-- Order Details -->
      <section margin-top-xlarge>
        <h3>{{ 'orderDetailsStep.orderDetails.header' | translate }}</h3>
        <mcs-form-field>
          <input type="text" mcsInput [formControl]="fcDescription" #orderDescription
            (focus)="onDescriptionFocus(orderDescription)">
        </mcs-form-field>
        <p>{{ 'orderDetailsStep.orderDetails.description' | translate }}</p>

        <!-- Loading animation -->
        <mcs-busy-ribbon *ngIf="isUpdatingCharges" theme="dark" margin-bottom-small>
          <span>{{ 'orderDetailsStep.updatingCharges' | translate }}</span>
        </mcs-busy-ribbon>

        <ng-container *ngIf="!isUpdatingCharges">
          <mcs-table [dataSource]="orderDatasource">
            <!-- Description Column -->
            <ng-container mcsColumnDef="description">
              <mcs-header-cell *mcsHeaderCellDef>
                {{ 'orderDetailsStep.orderDetails.columnHeaders.description' | translate }}
              </mcs-header-cell>
              <mcs-data-cell *mcsDataCellDef="let row" text-wrap>
                <span [innerHTML]="row.description"></span>
              </mcs-data-cell>
            </ng-container>

            <!-- Monthly Charge Column -->
            <ng-container mcsColumnDef="monthlyCharge" *ngIf="(chargesState$ | async)?.monthly">
              <mcs-header-cell *mcsHeaderCellDef>
                {{ 'orderDetailsStep.orderDetails.columnHeaders.monthlyCharge' | translate }}
              </mcs-header-cell>
              <mcs-data-cell *mcsDataCellDef="let row" [mcsGreyedOut]="!(row.charges?.monthly | mcsIsNotNullOrUndefined)">
                {{ row.charges?.monthlyInCurrency }}
              </mcs-data-cell>
            </ng-container>

            <!-- One-off Charge Column -->
            <ng-container mcsColumnDef="oneOffCharge" *ngIf="(chargesState$ | async)?.oneOff">
              <mcs-header-cell *mcsHeaderCellDef>
                {{ 'orderDetailsStep.orderDetails.columnHeaders.oneOffCharge' | translate }}
              </mcs-header-cell>
              <mcs-data-cell *mcsDataCellDef="let row" [mcsGreyedOut]="!(row.charges?.oneOff | mcsIsNotNullOrUndefined)">
                {{ row.charges?.oneOffInCurrency }}
              </mcs-data-cell>
            </ng-container>

            <!-- Excess Usage Fee Per GB Column -->
            <ng-container mcsColumnDef="excessUsageFeePerGB" *ngIf="(chargesState$ | async)?.excessUsagePerGb">
              <mcs-header-cell *mcsHeaderCellDef>
                {{ 'orderDetailsStep.orderDetails.columnHeaders.excessUsageFeePerGB' | translate }}
              </mcs-header-cell>
              <mcs-data-cell *mcsDataCellDef="let row" [mcsGreyedOut]="!(row.charges?.excessUsageFeePerGB | mcsIsNotNullOrUndefined)">
                {{ row.charges?.excessUsageFeePerGbInCurrency }}
              </mcs-data-cell>
            </ng-container>

            <!-- Data Status Integration -->
            <ng-container mcsDataStatusDef>
              <mcs-data-empty *mcsDataEmptyDef>
                <span>{{ 'orderDetailsStep.orderDetails.noLineItems' | translate }} </span>
              </mcs-data-empty>
              <mcs-data-error *mcsDataErrorDef>
                <span>{{ 'orderDetailsStep.orderDetails.errorLineItems' | translate }}</span>
              </mcs-data-error>
            </ng-container>

            <!-- Header and Data row -->
            <mcs-header-row *mcsHeaderRowDef="orderDataColumns"></mcs-header-row>
            <mcs-data-row *mcsDataRowDef="let row; columns: orderDataColumns;"></mcs-data-row>
          </mcs-table>
        </ng-container>
      </section>

      <!-- Order Options -->
      <section margin-top-xlarge>
        <mcs-item orientation="separated" *ngIf="hasLeadTimeOptions" [disabled]="isUpdatingCharges">
          <span>{{ 'orderDetailsStep.deliveryType.header' | translate }}</span>
          <mcs-form-field class="form-field-size-small">
            <mcs-select required [formControl]="fcDeliveryType" mcsId="select-delivery-type">
              <ng-container>
                <mcs-option [value]="deliveryTypeEnum.Standard">
                  {{ 'orderDetailsStep.deliveryType.standardOption' | translate: {standardLeadTimeHours: standardLeadTimeHours} }}
                </mcs-option>
                <mcs-option [value]="deliveryTypeEnum.Accelerated">
                  {{ 'orderDetailsStep.deliveryType.acceleratedOption' | translate: {acceleratedLeadTimeHours: acceleratedLeadTimeHours} }}
                </mcs-option>
              </ng-container>
            </mcs-select>
          </mcs-form-field>
        </mcs-item>

        <mcs-item orientation="separated" [disabled]="isUpdatingCharges">
          <span>{{ 'orderDetailsStep.orderActions.header' | translate }}</span>
          <mcs-form-field class="form-field-size-small">
            <mcs-select required [formControl]="fcWorkflowAction" mcsId="select-workflow-action">

              <ng-container *mcsAccessControl="['OrderApprove']; else requestApprovalTemplate">
                <mcs-option [value]="orderWorkFlowEnum.Submitted">
                  {{ 'orderDetailsStep.orderActions.submitOrder' | translate }}
                </mcs-option>
              </ng-container>

              <ng-template #requestApprovalTemplate>
                <mcs-option [value]="orderWorkFlowEnum.AwaitingApproval">
                  {{ 'orderDetailsStep.orderActions.awaitingApproval' | translate }}
                </mcs-option>
              </ng-template>

              <mcs-option [value]="orderWorkFlowEnum.Draft">
                {{ 'orderDetailsStep.orderActions.saveOrder' | translate }}
              </mcs-option>
              <!-- TODO: Put this on-hold since merge was not implemented on the API -->
              <!-- <mcs-option [value]="orderWorkFlowEnum.Merge">
                {{ 'orderDetailsStep.orderActions.mergeOrder' | translate }}
              </mcs-option> -->
            </mcs-select>
          </mcs-form-field>
        </mcs-item>

        <ng-container [ngSwitch]="fcWorkflowAction?.value">
          <mcs-order-agreement *ngSwitchCase="orderWorkFlowEnum.Submitted" orderAgreementType="charges"></mcs-order-agreement>
          <mcs-order-agreement *ngSwitchCase="orderWorkFlowEnum.AwaitingApproval" orderAgreementType="charges"></mcs-order-agreement>
          <mcs-note *ngSwitchCase="orderWorkFlowEnum.Unknown">
            <mcs-form-field>
              <mcs-select mcsId="select-workflow-action-unknown">
                <mcs-option [value]="0">New Dedicated Server(120033)</mcs-option>
                <mcs-option [value]="1">EOFS Runout Sale(188837)</mcs-option>
              </mcs-select>
            </mcs-form-field>
          </mcs-note>
        </ng-container>
      </section>
    </form>

    <!-- Wizard action -->
    <div class="action-items">
      <a mcsWizardStepPrevious mcsId="step-3-back">Back</a>
      <button mcsButton size="small" arrow="right"
        [disabled]="isNextButtonDisabled"
        mcsId="step-3-next"
        [mcsEventTracker]="eventTrack.action"
        [mcsEventCategory]="eventTrack.category"
        [mcsEventLabel]="eventTrack.label"
        mcsWizardStepNext
        [mcsWizardStepNextWhen]="allFormFieldsAreValid"
        (click)="onClickSubmitOrder()">Next</button>
    </div>
  </div>
</div>