@import "shared/index";

$item-inline-offset: 8px;
$item-block-offset: 5px;
$items-iterval: 6px;

.item-wrapper {
  @include display-flex(row);

  + .item-wrapper {
    margin-top: $items-iterval;
  }

  &.item-inline {
    @include align-items(center);
    @include set-items-interval($item-inline-offset, horizontal);
  }

  &.item-block {
    @include display-flex(column);
    @include set-items-interval($item-block-offset, vertical);
  }

  &.item-separated {
    @include align-items(center);
    justify-content: space-between;
  }

  // Forces the headings width to be auto
  @for $index from 1 through 6 {
    h#{$index} {
      width: auto
    }
  }
}
