<div class="limited-view content-grid">
  <div class="grid-row">
    <div class="grid-column">
      <h3>{{ firewallOverviewTextContent.properties.title }}</h3>
      <ul class="unstyled-list">
        <li>
          <span>{{ firewallOverviewTextContent.properties.model }}:</span>
          <span>{{ firewall.model }}</span>
        </li>
        <li>
          <span>{{ firewallOverviewTextContent.properties.cpu }}:</span>
          <span>{{ firewallCpu }}</span>
        </li>
        <li>
          <span>{{ firewallOverviewTextContent.properties.ram }}:</span>
          <span>{{ firewallMemory }}</span>
        </li>
      </ul>
    </div>

    <div class="grid-column">
      <h3>{{ firewallOverviewTextContent.supportIdentifiers.title }}</h3>
      <ul class="unstyled-list icons-list">
        <li>
          <span>{{ firewallOverviewTextContent.supportIdentifiers.service }}:</span>
          <span>{{ firewall.serviceId }}</span>
        </li>
        <li>
          <span>{{ firewallOverviewTextContent.supportIdentifiers.serial }}:</span>
          <span>{{ firewall.serialNumber }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="grid-row">
    <div class="grid-column">
      <h3>{{ firewallOverviewTextContent.status.title }}</h3>
      <ul class="unstyled-list icons-list">
        <li>
          <mcs-icon [key]="deviceStatusIconKey"></mcs-icon>
          <span>{{ firewallOverviewTextContent.status.deviceStatus }}:</span>
          <span>{{ deviceStatus[firewall.deviceStatus] }}</span>
        </li>
        <li>
          <mcs-icon [key]="connectionStatusIconKey"></mcs-icon>
          <span>{{ firewallOverviewTextContent.status.connectionStatus }}:</span>
          <span>{{ connectionStatus[firewall.connectionStatus] }}</span>
        </li>
        <li>
          <mcs-icon [key]="configurationStatusIconKey"></mcs-icon>
          <span>{{ firewallOverviewTextContent.status.configurationStatus }}:</span>
          <span>{{ configurationStatus[firewall.configurationStatus] }}</span>
        </li>
      </ul>
    </div>

    <div class="grid-column">
      <h3>{{ firewallOverviewTextContent.utmServices.title }}</h3>
      <ul *ngIf="firewall.utm" class="unstyled-list">
        <li *ngIf="firewall.utm.avExpiryDate">
          <mcs-icon [key]="getLicenseStatusIconKey(firewall.utm.avExpiryDate)"></mcs-icon>
          <span>{{ firewallOverviewTextContent.utmServices.antivirus }}:</span>
          <span>{{ getLicenseDetails(firewall.utm.avExpiryDate) }}</span>
        </li>
        <li *ngIf="firewall.utm.webExpiryDate">
          <mcs-icon [key]="getLicenseStatusIconKey(firewall.utm.webExpiryDate)"></mcs-icon>
          <span>{{ firewallOverviewTextContent.utmServices.webFiltering }}:</span>
          <span>{{ getLicenseDetails(firewall.utm.webExpiryDate) }}</span>
        </li>
        <li *ngIf="firewall.utm.emailExpiryDate">
          <mcs-icon [key]="getLicenseStatusIconKey(firewall.utm.emailExpiryDate)"></mcs-icon>
          <span>{{ firewallOverviewTextContent.utmServices.emailFiltering }}:</span>
          <span>{{ getLicenseDetails(firewall.utm.emailExpiryDate) }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="grid-row">
    <div class="grid-column">
      <h3>{{ firewallOverviewTextContent.topology.title }}</h3>
      <ul class="unstyled-list">
        <li *ngIf="firewall.haRole">
          <span>{{ firewallOverviewTextContent.topology.role }}:</span>
          <span>{{ firewall.haRole }}</span>
        </li>
        <li *ngIf="firewall.haGroupName">
          <span>{{ firewallOverviewTextContent.topology.haGroupName }}:</span>
          <span>{{ firewall.haGroupName }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>