<div class="limited-view content-grid">
  <div class="grid-row">
    <div class="grid-column container-wrapper break-on-small">
      <h3 class="container-header">{{ textContent.properties.title }}</h3>
      <mcs-list spacing="xsmall" class="grid-content-body">
        <!-- Model -->
        <mcs-list-item>
          <span>{{ textContent.properties.model }}:</span>
          <span>{{ firewall.model }}</span>
        </mcs-list-item>
        <!-- CPU -->
        <mcs-list-item>
          <span>{{ textContent.properties.cpu }}:</span>
          <span>{{ firewallCpu }}</span>
        </mcs-list-item>
        <!-- RAM -->
        <mcs-list-item>
          <span>{{ textContent.properties.ram }}:</span>
          <span>{{ firewallMemory }}</span>
        </mcs-list-item>
      </mcs-list>
    </div>

    <div class="grid-column container-wrapper break-on-small">
      <h3 class="container-header">{{ textContent.supportIdentifiers.title }}</h3>
      <mcs-list spacing="xsmall" class="grid-content-body">
        <!-- Service -->
        <mcs-list-item>
          <span>{{ textContent.supportIdentifiers.service }}:</span>
          <span>{{ firewall.serviceId }}</span>
        </mcs-list-item>
        <!-- Serial -->
        <mcs-list-item>
          <span>{{ textContent.supportIdentifiers.serial }}:</span>
          <span>{{ firewall.serialNumber }}</span>
        </mcs-list-item>
      </mcs-list>
    </div>
  </div>

  <div class="grid-row">
    <div class="grid-column container-wrapper break-on-small">
      <h3 class="container-header">{{ textContent.status.title }}</h3>
      <mcs-list spacing="xsmall" class="grid-content-body">
        <!-- Device Status -->
        <mcs-list-item>
          <mcs-icon [key]="deviceStatusIconKey"></mcs-icon>
          <span>{{ textContent.status.deviceStatus }}:</span>
          <span>{{ deviceStatus[firewall.deviceStatus] }}</span>
        </mcs-list-item>
        <!-- Connection Status -->
        <mcs-list-item>
          <mcs-icon [key]="connectionStatusIconKey"></mcs-icon>
          <span>{{ textContent.status.connectionStatus }}:</span>
          <span>{{ connectionStatus[firewall.connectionStatus] }}</span>
        </mcs-list-item>
        <!-- Configuration Status -->
        <mcs-list-item>
          <mcs-icon [key]="configurationStatusIconKey"></mcs-icon>
          <span>{{ textContent.status.configurationStatus }}:</span>
          <span>{{ configurationStatus[firewall.configurationStatus] }}</span>
        </mcs-list-item>
      </mcs-list>
    </div>

    <div class="grid-column container-wrapper break-on-small">
      <h3 class="container-header">{{ textContent.utmServices.title }}</h3>
      <ng-container *ngIf="hasUtmInformation; else noUtmInfo">
        <mcs-list spacing="xsmall" class="grid-content-body">
          <!-- AV Expiry Date -->
          <mcs-list-item *ngIf="firewall.utm.avExpiryDate">
            <mcs-icon [key]="getLicenseStatusIconKey(firewall.utm.avExpiryDate)"></mcs-icon>
            <span>{{ textContent.utmServices.antivirus }}:</span>
            <span>{{ getLicenseDetails(firewall.utm.avExpiryDate) }}</span>
          </mcs-list-item>
          <!-- Web Expiry Date -->
          <mcs-list-item *ngIf="firewall.utm.webExpiryDate">
            <mcs-icon [key]="getLicenseStatusIconKey(firewall.utm.webExpiryDate)"></mcs-icon>
            <span>{{ textContent.utmServices.webFiltering }}:</span>
            <span>{{ getLicenseDetails(firewall.utm.webExpiryDate) }}</span>
          </mcs-list-item>
          <!-- Email Expiry Date -->
          <mcs-list-item *ngIf="firewall.utm.emailExpiryDate">
            <mcs-icon [key]="getLicenseStatusIconKey(firewall.utm.emailExpiryDate)"></mcs-icon>
            <span>{{ textContent.utmServices.emailFiltering }}:</span>
            <span>{{ getLicenseDetails(firewall.utm.emailExpiryDate) }}</span>
          </mcs-list-item>
        </mcs-list>
      </ng-container>
      <ng-template #noUtmInfo>
        <span class="missing-data-info">{{ textContent.utmServices.noContentMessage }}</span>
      </ng-template>
    </div>
  </div>

  <div class="grid-row">
    <div class="grid-column container-wrapper break-on-small">
      <h3 class="container-header">{{ textContent.topology.title }}</h3>
      <ng-container *ngIf="hasTopologyInformation; else noTopologyInfo">
        <mcs-list spacing="xsmall" class="grid-content-body">
          <!-- HA Role -->
          <mcs-list-item *ngIf="firewall.haRole">
            <span>{{ textContent.topology.role }}:</span>
            <span>{{ firewall.haRole }}</span>
          </mcs-list-item>
          <!-- HA Groupname -->
          <mcs-list-item *ngIf="firewall.haGroupName;">
            <span>{{ textContent.topology.haGroupName }}:</span>
            <span>{{ firewall.haGroupName }}</span>
          </mcs-list-item>
        </mcs-list>
      </ng-container>
      <ng-template #noTopologyInfo>
        <span class="missing-data-info">{{ textContent.topology.noContentMessage }}</span>
      </ng-template>
    </div>
    <div class="grid-column container-wrapper break-on-small"></div>
  </div>
</div>