<div class="widget storage-profile-utilisation-widget">
  <h3>
    {{ 'label.storageProfileUtilisation' | translate }}
  </h3> 
  <div class="listing-table-wrapper table-widget-wrapper">
    <!-- Table -->
    <table mat-table [dataSource]="dataSource">
      <!-- Storage Profile Column -->
      <ng-container matColumnDef="storageProfile">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'columnHeader.storageProfile' | translate }}
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.name || 'Unavailable'}} 
          <div><small read-only>{{ row.resourceName || 'Unavailable' }}</small></div>
        </td>
      </ng-container>

      <!-- Utilisation Column -->
      <ng-container matColumnDef="utilisation">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'columnHeader.utilisation' | translate }}
        </th>
        <td mat-cell *matCellDef="let row">
          <div text-center [ngStyle]="{'color': getColor(row.usedMB, row.limitMB)}">
            {{ getUtilisationPercentage(row.usedMB, row.limitMB) }}%
          </div>
          <div text-center>
            <span *ngIf="(row.usedMB | mcsIsNotNullOrEmpty); else emptyLabel">
              ({{ row.usedMB | mcsDataSize: 'MB' }}</span>
            <ng-template #emptyLabel>
              (<span [innerHTML]="row.usedMB | mcsDataLabel"></span>
            </ng-template>
            <span> / </span>
            <span>{{ row.limitMB | mcsDataSize: 'MB' }}</span>)
          </div>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row"
          [matTooltip]="expandLinkFallBackText(row)">
          <a *ngIf="showExpandLink(row.resourcePlatform)"
            [disabled]="disableExpandVdcStorage(row)"
            (click)="navigateToExpandVdcStorage(row)"
            mcsCursor="pointer"
            mcsId="navigate-to-expand-vdc-storage"
            mcsEventTracker="expand-vdc-storage-click"
            mcsEventCategory="orders"
            mcsEventLabel="navigate-to-expand-vdc-storage">
            {{ 'serversVdcStorage.expandLink' | translate }}
          </a>
        </td>
      </ng-container>

      <!-- Header and Data row -->
      <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async"></tr>
      <tr mat-row *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"
        [hidden]="dataSource?.isInProgress$ | async"></tr>
    </table>

    <!-- Table Statuses -->
    <mcs-item orientation="block">
      <div *ngIf="dataSource?.isInProgress$ | async" align="center">
        <mcs-loader size="medium"></mcs-loader>
      </div>
      <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
        {{ 'message.noStorageProfileUtilisation' | translate }}
      </div>
      <div *ngIf="dataSource?.hasError$ | async" text-center>
        <mcs-data-status-error mcsDataError>
          <span>{{ 'reports.errorMessage' | translate }} </span>
          <a (click)="retryDatasource()"
            mcsId
            mcsEventTracker="retry-loading-storage-profile-utilisation-list"
            mcsEventCategory="storage-profile-utilisation"
            mcsEventLabel="private-cloud-dashboard-overview-page">{{ 'message.tryAgain' | translate }}</a>
        </mcs-data-status-error>
      </div>
    </mcs-item>
  </div>
</div>