<form [formGroup]="fgCloneServer" mcsFormGroup>
  <!-- Server Name Input -->
  <div class="field">
    <mcs-form-field>
      <input mcsInput #serverNameInput
        placeholder="Enter a server name" maxlength="15"
        [formControl]="fcServerName"
        [mcsContextualHelp]="textHelpContent.serverNameField">

      <mcs-hint mcsHint align="start">
        {{ convertMaxCharText(textContent.hints.serverNameMax, serverNameInput.maxLength) }}
      </mcs-hint>
      <mcs-hint mcsHint align="end">
        {{ serverNameInput.value.length }} / {{ serverNameInput.maxLength }}
      </mcs-hint>

      <mcs-error mcsError errorState="required">
        {{ textContent.errors.serverNameRequired }}
      </mcs-error>
      <mcs-error mcsError errorState="invalidServerName">
        {{ textContent.errors.invalidServerName }}
      </mcs-error>
    </mcs-form-field>
  </div>

  <!-- Server Selection -->
  <ng-container *ngIf="hasServers">
    <mcs-form-field>
      <mcs-select [formControl]="fcTargetServer"
        [placeholder]="textContent.placeholder.server">
        <mcs-select-item>-</mcs-select-item>
        <mcs-select-group header="Servers">
          <mcs-select-item *ngFor="let server of servers" [value]="server.id">
            {{ server.managementName }}
          </mcs-select-item>
        </mcs-select-group>
      </mcs-select>

      <mcs-error mcsError errorState="required">
        {{ textContent.errors.selectServerRequired }}
      </mcs-error>
    </mcs-form-field>
  </ng-container>

  <!-- Warning icon when no servers found -->
  <div *ngIf="!hasServers" class="horizontal-items-spacing-small"
    display-flex="row" align-items="center">
    <mcs-icon [key]="warningIconKey"></mcs-icon>
    <span>{{ textContent.noServers }}</span>
  </div>
</form>