<form [formGroup]="fgCloneServer" mcsFormGroup>
  <!-- Server Name Input -->
  <div class="field">
    <mcs-form-field>
      <input mcsInput #serverNameInput set-focus required
        placeholder="Enter a server name" maxlength="15"
        [formControl]="fcServerName"
        [mcsContextualHelp]="textHelpContent.serverNameField">

      <mcs-hint mcsHint align="start">
        {{ convertMaxCharText(textContent.hints.serverNameMax, serverNameInput.maxLength) }}
      </mcs-hint>
      <mcs-hint mcsHint align="end">
        {{ serverNameInput.value.length }} / {{ serverNameInput.maxLength }}
      </mcs-hint>

      <mcs-error mcsError errorState="required">
        {{ textContent.errors.serverNameRequired }}
      </mcs-error>
      <mcs-error mcsError errorState="invalidServerName">
        {{ textContent.errors.invalidServerName }}
      </mcs-error>
    </mcs-form-field>
  </div>

  <div class="position-relative">
    <!-- Loader settings -->
    <div [mcsLoader]="serversSubscription"
      [mcsLoaderHideElement]="serversContent"
      [mcsLoaderText]="textContent.loadingServers"></div>

    <div #serversContent>
      <!-- Server Selection -->
      <ng-container *ngIf="hasServers">
        <mcs-form-field>
          <mcs-select [formControl]="fcTargetServer" required
            [placeholder]="textContent.placeholder.server">
            <mcs-select-group header="Servers">
              <mcs-select-item *ngFor="let server of servers" [value]="server.id">
                {{ server.name }}
              </mcs-select-item>
            </mcs-select-group>
          </mcs-select>

          <mcs-error mcsError errorState="required">
            {{ textContent.errors.selectServerRequired }}
          </mcs-error>
        </mcs-form-field>
      </ng-container>
    </div>
  </div>
</form>