<section>
  <h2>{{ 'serverCreateAddOnsStep.header' | translate }}</h2>
  <p>{{ 'serverCreateAddOnsStep.description' | translate }}</p>

  <!-- VM Backup -->
  <mcs-collapsible-panel
    mcsId="addon-vm-backup-toggle"
    mcsEventTracker="server-create-addon-vm-backup-toggle"
    mcsEventCategory="server-create"
    mcsEventLabel="server-create-addon-vm-backup-toggle"
    [mcsContextualHelp]="'serverCreateAddOnsStep.backupVm.contextualHelp' | translate"
    [header]="'serverCreateAddOnsStep.backupVm.label' | translate"
    (collapseChange)="onToggleVmBackUp($event)">

    <mcs-server-manage-backup-vm #fgAddOnBackupVm
      [aggregationTargets]="aggregationTargets$ | async"
      (dataChange)="onChangeVmBackUpDetails($event)">
    </mcs-server-manage-backup-vm>
  </mcs-collapsible-panel>

  <!-- Server Backup -->
  <mcs-collapsible-panel
    mcsId="addon-server-backup-toggle"
    mcsEventTracker="server-create-addon-server-backup-toggle"
    mcsEventCategory="server-create"
    mcsEventLabel="server-create-addon-server-backup-toggle"
    [mcsContextualHelp]="'serverCreateAddOnsStep.backupServer.contextualHelp' | translate"
    [header]="'serverCreateAddOnsStep.backupServer.label' | translate"
    (collapseChange)="onToggleServerBackUp($event)">

    <mcs-server-manage-backup #fgBackupServer
      [aggregationTargets]="aggregationTargets$ | async"
      (dataChange)="onChangeServerBackUpDetails($event)">
    </mcs-server-manage-backup>
  </mcs-collapsible-panel>

  <!-- Anti Virus -->
  <ng-container>
    <div class="action-box" [style.padding]="'20px 15px'"
      [mcsContextualHelp]="'serverCreateAddOnsStep.antivirus.contextualHelp' | translate">

      <mcs-checkbox
        mcsId="addon-anti-virus-toggle"
        mcsEventTracker="server-create-addon-anti-virus-toggle"
        mcsEventCategory="server-create"
        mcsEventLabel="server-create-addon-anti-virus-toggle"
        (statusChange)="onToggleAntiVirus($event)">
        {{ 'serverCreateAddOnsStep.antivirus.label' | translate }}
      </mcs-checkbox>
    </div>
  </ng-container>

  <!-- HIDS -->
  <ng-container>
    <mcs-collapsible-panel
      mcsId="addon-hids-toggle"
      mcsEventTracker="server-create-addon-hids-toggle"
      mcsEventCategory="server-create"
      mcsEventLabel="server-create-addon-hids-toggle"
      [mcsContextualHelp]="'serverCreateAddOnsStep.hids.contextualHelp' | translate"
      [header]="'serverCreateAddOnsStep.hids.label' | translate"
      (collapseChange)="onToggleHids($event)">

      <mcs-addon-hids (dataChange)="onChangeHidsDetails($event)">
      </mcs-addon-hids>
    </mcs-collapsible-panel>
  </ng-container>

  <!-- InView -->
  <div class="action-box"
    [mcsContextualHelp]="'serverCreateAddOnsStep.inviewLevel.contextualHelp' | translate">

    <mcs-addon-inview
      mcsId="addon-inview-select"
      mcsEventTracker="server-create-addon-inview-select"
      mcsEventCategory="server-create"
      mcsEventLabel="server-create-addon-inview-select"
      (dataChange)="onChangeInviewDetails($event)">
    </mcs-addon-inview>
  </div>

  <!-- SQL Server -->
  <mcs-collapsible-panel *ngIf="isWindows"
    mcsId="addon-sql-toggle"
    mcsEventTracker="server-create-addon-sql-toggle"
    mcsEventCategory="server-create"
    mcsEventLabel="server-create-addon-sql-toggle"
    [mcsContextualHelp]="'serverCreateAddOnsStep.sqlServer.contextualHelp' | translate"
    [header]="'serverCreateAddOnsStep.sqlServer.label' | translate"
    (collapseChange)="onToggleSqlServer($event)">

    <mcs-addon-sql-server (dataChange)="onChangeSqlServerDetails($event)">
    </mcs-addon-sql-server>
  </mcs-collapsible-panel>

  <!-- Wizard Actions -->
  <div class="action-items">
    <a mcsWizardStepPrevious mcsId="step-2-back">{{ 'shared.wizard.previous' | translate }}</a>
    <button mcsButton size="small" arrow="right"
      mcsWizardStepNext
      [disabled]="!isFormValid"
      mcsId="step-2-next">{{ 'shared.wizard.next' | translate }}</button>
  </div>
</section>
