<section>
  <h2>{{ 'serverCreateAddOnsStep.header' | translate }}</h2>
  <p>{{ 'serverCreateAddOnsStep.description' | translate }}</p>

  <!-- Anti Virus -->
  <ng-container *mcsAccessControl="[]; feature: 'enableOrderingAddonAntiVirus'">
    <div class="action-box"
      [mcsContextualHelp]="'serverCreateAddOnsStep.antiVirusAddOnHelp' | translate">
      <mcs-checkbox mcsId="addon-anti-virus"
        (statusChange)="onToggleAntiVirus($event)">
        {{ 'serverCreateAddOnsStep.antiVirusAddOn' | translate }}
      </mcs-checkbox>
    </div>
  </ng-container>

  <!-- HIDS -->
  <ng-container *mcsAccessControl="[]; feature: 'EnableOrderingAddonHids'">
    <mcs-collapsible-panel
      [header]="'serverShared.addOnHids.header' | translate"
      (collapseChange)="onToggleHids($event)"
      [mcsContextualHelp]="'serverCreateAddOnsStep.hidsAddOnHelp' | translate">

      <mcs-addon-hids (dataChange)="onChangeHidsDetails($event)">
      </mcs-addon-hids>
    </mcs-collapsible-panel>
  </ng-container>

  <!-- InView -->
  <div class="action-box"
    [mcsContextualHelp]="'serverCreateAddOnsStep.inviewLevelHelp' | translate">
    <mcs-addon-inview (dataChange)="onChangeInviewDetails($event)">
    </mcs-addon-inview>
  </div>

  <!-- SQL Server -->
  <ng-container *mcsAccessControl="[]; feature: 'EnableOrderingSqlProvision'">
    <mcs-collapsible-panel *ngIf="isWindows"
      [header]="'serverCreateAddOnsStep.sqlServerAddOn' | translate"
      (collapseChange)="onToggleSqlServer($event)"
      [mcsContextualHelp]="'serverCreateAddOnsStep.sqlServerAddOnHelp' | translate">

      <mcs-addon-sql-server (dataChange)="onChangeSqlServerDetails($event)">
      </mcs-addon-sql-server>
    </mcs-collapsible-panel>
  </ng-container>

  <!-- Wizard Actions -->
  <div class="action-items">
    <a mcsWizardStepPrevious mcsId="step-2-back">{{ 'shared.wizard.previous' | translate }}</a>
    <button mcsButton size="small" arrow="right"
      mcsWizardStepNext
      mcsId="step-2-next">{{ 'shared.wizard.next' | translate }}</button>
  </div>
</section>
