@import "../../../../styles/shared/base";

.workflow-group-wrapper {
  max-width: 650px;
  min-width: 550px;

  .parent {
    margin-top: 15px;
  }

  .new {
    animation-name: workflowHighlight;
    animation-duration: 2s;
  }

  @keyframes workflowHighlight {
    from {background-color: white;}
    to { background-color: $color-grey-06; }
  }
}

.workflow-provision-panel {
  .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
}

.form-wrapper {
  width: 50vw;

  @include breakpoint(medium) {
    width: 100%;
  }

  display: flex;
  flex-direction: column;
}
