<mat-vertical-stepper [linear]="true" #stepper>
  <!-- Form -->

  <mat-step [editable]="!isProvisioning && (!processing && !hasError)" [completed]="false" [optional]="validForProvisioning">
    <ng-template matStepLabel>Create workflow</ng-template>
    <mcs-launch-pad-workflow-group #workflowGroup [context]="context" [loadWorkflowNotifier]="editWorkflowGroup"></mcs-launch-pad-workflow-group>

    <br />
    <button *ngIf="isEditing || validForProvisioning" mat-stroked-button (click)="cancelEditing()" style="margin-right: 10px;">
      Cancel
    </button>
    <button mat-raised-button color="primary" [disabled]="!valid" (click)="addOrUpdate()">
      <mat-icon>{{ isNewWorkflowGroup ? 'playlist_add' : 'playlist_add_check' }} </mat-icon>
      {{ isNewWorkflowGroup ? 'Add Workflow' : 'Save Changes' }}
    </button>
  </mat-step>

  <!-- Confirmation -->
  <mat-step [editable]="!isProvisioning && (!processing && !hasError)" [completed]="false">
    <ng-template matStepLabel>Confirm</ng-template>
    <div *ngIf="!hasError && !processing">
      <div class="workflow-group-wrapper">
        <div style="margin-bottom: 16px;">
          <button mat-button (click)="confirmPayloadViewer.openAll()">Expand All</button>
          <button mat-button (click)="confirmPayloadViewer.closeAll()">Collapse All</button>
        </div>

        <mat-accordion #confirmPayloadViewer="matAccordion" multi displayMode="flat">

          <mat-expansion-panel *ngFor="let payload of context?.workflows"
            [class.new]="isNew(payload.referenceId)"
            [class.parent]="payload.serviceId"
            [expanded]="isNew(payload.referenceId)">
            <mat-expansion-panel-header style="position: relative;">
              <mat-panel-title>
                <h3>{{ payload.title }}</h3>
              </mat-panel-title>
              <mat-panel-description style="flex-grow: 0;">
                {{ payload.serviceId }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mcs-workflow-json-viewer *ngIf="hasProperties(payload); else noProperties" [obj]="clone(payload)"></mcs-workflow-json-viewer>
            <ng-template #noProperties>
              <small>No properties to display</small>
            </ng-template>
            <div>
              <button mat-icon-button aria-label="Remove"
                matTooltip="{{ payload.serviceId ? 'Remove this and related workflows' : 'Remove this workflow' }}"
                (click)="remove(payload.referenceId)">
                <mat-icon>{{ payload.serviceId ? 'delete_sweep' : 'delete' }}</mat-icon>
              </button>
              <button
                *ngIf="payload.serviceId"
                mat-icon-button aria-label="Remove"
                matTooltip="Edit this and related workflows"
                (click)="editWorkflow(payload.referenceId)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </mat-expansion-panel>

        </mat-accordion>

      </div>
      <br />
      <div>
        <button mat-stroked-button (click)="addAnother()" style="margin-right: 10px;">
          {{ validForProvisioning ? 'Add Another' : 'Add Workflow' }}
        </button>
        <button *ngIf="validForProvisioning" mat-raised-button color="primary" (click)="runWorkflow()">
          <mat-icon>playlist_play</mat-icon>
          Run Workflow
        </button>
      </div>
    </div>

    <div *ngIf="processing">
      <mcs-status-message type="info">
        Please wait while we send your workflow for provisioning.
      </mcs-status-message>
      <br />
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div *ngIf="hasError">
      <mcs-status-message type="error">
        An unexpected server error has occured.<a style="margin-left: 5px;" mcsId (click)="retryProvision()">Go back</a>
      </mcs-status-message>
    </div>
  </mat-step>

  <!-- Provisioning -->
  <mat-step>
    <ng-template matStepLabel>Provision</ng-template>

    <div class="workflow-group-wrapper">
      <mcs-launch-pad-workflow-provision-state [workflows]="context.workflows" [state]="workflowsState"></mcs-launch-pad-workflow-provision-state>
    </div>

  </mat-step>

</mat-vertical-stepper>
