@import "../../../styles/shared/base";

:host {
  display: block;
  position: relative;
}

.wizard-container {
  position: relative;
}

.mcs-tabs {
  @include set-items-interval($space-medium);

  .nav-item {
    .nav-link {
    @include display-flex(row);
    align-items: center;
    justify-content: center;
    @include set-items-interval($space-xsmall, horizontal);

      &.disabled,
      &.completed {
        cursor: default;
      }
    }
  }

  .tab-footer {
    @include display-flex(row);
    align-items: center;
    justify-content: space-between;
  }
}