@import "../../../styles/shared/base";

$content-large-padding: $space-large $space-xxlarge $space-large $space-large;
$content-small-padding: $space-large $space-medium $space-large $space-large;

// Wizard panel
$wizard-border-color: $border-color-light;
$wizard-left-panel-width: 275px;
$wizard-top-panel-height: $shared-top-panel-size;
$wizard-top-panel-padding: 0 $space-large;
$wizard-top-panel-bg-color: $color-white;
$wizard-content-panel-large-padding: $content-large-padding;
$wizard-content-panel-small-padding: $content-small-padding;
// Step items
$step-header-padding: $space-large;
$step-header-font-size: 16;
$step-header-font: $base-font-bold;

$step-item-min-width: 130px;
$step-item-arrow-icon-size: 10px;
$step-item-large-padding: $space-small 0;
$step-item-small-padding: $space-medium;

$step-icon-check-min-width: 20px;
$step-active-color: $color-white;
$step-active-bg-color: $color-primary-01;
$step-enabled-color: $color-black;
$step-disabled-color: $color-grey-02;

.wizard-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include display-flex(row);
  @include breakpoint(small) {
    display: block;
  }
}

.wizard-step-item {
  @include display-flex(row);
  @include align-items(center);
  cursor: pointer;
  position: relative;
  padding: $step-item-large-padding;
  padding-left: $space-medium;
  min-width: $step-item-min-width;

  @include breakpoint(small) {
    padding: $step-item-small-padding;
  }

  .wizard-step-completed-icon {
    min-width: $step-icon-check-min-width;
    @include breakpoint(small) {
      min-width: auto;
    }
  }
  .wizard-step-title {
    @include display-flex(row);
    @include align-items(center);
    @include set-items-interval($space-small, horizontal);
    padding-left: $space-small;
  }
  // Disabled step
  &.wizard-step-disabled {
    cursor: default !important;
    color: $step-disabled-color !important;
  }
  // Enabled step
  &.wizard-step-enabled {
    color: $step-enabled-color;
  }
  // Completed step
  &.wizard-step-completed {
    cursor: default;
  }
  // Active step
  &.wizard-step-active {
    color: $step-active-color !important;
    background-color: $step-active-bg-color;
    * {
      color: $step-active-color !important;
    }
    &:after {
      display: block;
      margin-left: auto;
      content: '';
      width: 0;
      height: 0;
      border-bottom: $step-item-arrow-icon-size solid transparent;
      border-top: $step-item-arrow-icon-size solid transparent;
      border-right: $step-item-arrow-icon-size solid $step-active-color;
      font-size: 0;
      line-height: 0;

      @include breakpoint(small) {
        position: absolute;
        bottom: 0;
        left: 50%;
        @include translate(-50%, 0);
        border-left: $step-item-arrow-icon-size solid transparent;
        border-right: $step-item-arrow-icon-size solid transparent;
        border-bottom: $step-item-arrow-icon-size solid $step-active-color;
      }
    }
  }
}

.wizard-steps-desktop {
  position: fixed;
  height: 100%;
  @include display-flex(column);
  width: $wizard-left-panel-width;
  border-right: 1px solid $wizard-border-color;

  .wizard-steps-header {
    padding-left: $step-header-padding;
    height: $wizard-top-panel-height;
    @include display-flex(row);
    @include align-items(center);
    @include font-size($step-header-font-size);
    font-family: $step-header-font;
  }
}

.wizard-steps-mobile {
  border-bottom: 1px solid $wizard-border-color;
}

.wizard-content-panel-wrapper {
  position: relative;
  left: $wizard-left-panel-width;
  padding: $space-large;

  @include breakpoint(small) {
    left: 0;
  }
}
