<!-- Left panel wrapper in case of desktop -->
<div class="wizard-steps-desktop hidden-medium">
  <div class="wizard-steps-header">
    <span read-only>{{ textContent.steps }}</span>
  </div>
  <div>
    <ng-container *ngFor="let step of steps; let idx = index">
      <div class="wizard-step-item"
        (click)="moveStepTo(step)" [hidden]="step.hidden"
        [ngClass]="{
          'wizard-step-active': step.isActive,
          'wizard-step-enabled': step.enabled,
          'wizard-step-disabled': !step.enabled,
          'wizard-step-completed': isCompleted
        }">
        <div class="wizard-step-completed-icon">
          <mcs-icon *ngIf="step.completed" [key]="checkIconKey"
            size="small" color="primary"></mcs-icon>
        </div>
        <div class="wizard-step-title">
          <strong>{{ (idx + 1) }}</strong>
          <strong>{{ step.stepTitle }}</strong>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- Top panel wrapper in case of Mobile -->
<div class="wizard-steps-mobile visible-medium">
  <mcs-responsive-panel>
    <ng-container *ngFor="let step of steps; let idx = index">
      <div class="wizard-step-item"
        mcsResponsivePanelItem
        (click)="moveStepTo(step)" [hidden]="step.hidden"
        [ngClass]="{
          'wizard-step-active': step.isActive,
          'wizard-step-enabled': step.enabled,
          'wizard-step-disabled': !step.enabled,
          'wizard-step-completed': isCompleted
        }">
        <div class="wizard-step-completed-icon">
          <mcs-icon *ngIf="step.completed" [key]="checkIconKey"
            size="small" color="primary"></mcs-icon>
        </div>
        <div class="wizard-step-title">
          <strong>{{ (idx + 1) }}</strong>
          <strong>{{ step.stepTitle }}</strong>
        </div>
      </div>
    </ng-container>
  </mcs-responsive-panel>
</div>

<!-- Content panel generation -->
<div class="wizard-content-panel-wrapper">
  <ng-template [ngTemplateOutlet]="activeStep?.templateRef"></ng-template>
</div>