<mcs-page [header]="'label.softwareSubscriptions' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>
    <mcs-top-panel-item *mcsTopPanelItemDef>
      <div class="listing-action-wrapper">
        <ng-container *ngIf="isSorting; else totalCountTemplate">
          <div class="sorting-label">
            <span padding-right-small>{{ 'label.sorting' | translate }}</span><mcs-loader size="medium"></mcs-loader>
          </div>
        </ng-container>
        <ng-template #totalCountTemplate>
          <div class="total-record-count"  *ngIf="dataSource?.totalCount$ | async as totalCount">
            <span>{{ totalCount | mcsPlural:
                  ('azureSoftwareSubscriptions.dataSingular' | translate) : ('azureSoftwareSubscriptions.dataPlural' | translate) }}
            </span>
          </div>
        </ng-template>
      </div>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'azureSoftwareSubscriptions.leftPanelHeader' | translate">
    <!-- Search -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <mcs-search *ngIf="!isMobile" #search mcsId="azure-software-subscriptions-desktop-search"></mcs-search>
    </mcs-left-panel-item>

    <!-- Column Filter -->
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="'azureSoftwareSubscriptions.columnFilter' | translate" offset="medium">
      <mcs-column-selector #columnFilter
        storageKey="azureSoftwareSubscriptions"
        [defaultFilters]="defaultColumnFilters">
      </mcs-column-selector>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>
    <div class="listing-table-wrapper">
      <!-- Search -->
      <mcs-search *ngIf="isMobile" #search mcsId="virtual-mobile-search"></mcs-search>

      <!-- Table -->
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name" disableClear>
            {{ 'columnHeader.name' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span [innerHTML]="row.name | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="type" disableClear>
            {{ 'columnHeader.type' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span [innerHTML]="row.type | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="quantity" disableClear>
            {{ 'columnHeader.quantity' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.quantity }}
          </td>
        </ng-container>

        <!-- Offer ID Column -->
        <ng-container matColumnDef="offerId">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.offerId' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span [innerHTML]="row.offerId | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="alternateId" disableClear>
            {{ 'columnHeader.id' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span [innerHTML]="row.alternateId | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Billing Term Column -->
        <ng-container matColumnDef="billingTerm">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.billingTerm' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span [innerHTML]="row.billingTerm | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Service ID Column -->
        <ng-container matColumnDef="serviceId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="serviceId" disableClear>
            {{ 'columnHeader.serviceId' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            <ng-container *ngIf="row.serviceId; else NoServiceId">
              <span>{{ row.serviceId }}</span>
            </ng-container>
            <ng-template #NoServiceId>
              <mcs-data-status-empty
                [mcsTooltip]="'label.ticketingOrderingUnavailable' | translate"
                [mcsTooltipShow]="!row.serviceId">
                {{ 'label.unknown' | translate }}
              </mcs-data-status-empty>
            </ng-template>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef hidden-small></th>
          <td mat-cell *matCellDef="let row" text-center hidden-small>
            <ng-container *mcsAccessControl="['TicketCreate']">
              <mcs-icon mcsStopPropagation [key]="cogIconKey" size="large"
                mcsPopover placement="bottom" orientation="left" theme="light"
                padding="none" [content]="actionContent" mcsCursor="pointer"
                *ngIf="row.serviceId">
              </mcs-icon>
              <ng-template #actionContent>
                <div class="cog-actions-wrapper">
                  <a mcsButton="basic" color="white" labelPlacement="left"
                    (click)="onRaiseTicket(row)"
                    mcsId="azure-software-subscriptions-raise-ticket"
                    mcsEventTracker="azure-software-subscriptions-raise-ticket"
                    mcsEventCategory="azure-software-subscriptions"
                    mcsEventLabel="azure-software-subscriptions-listing-page">
                    {{ 'action.raiseTicket' | translate }}
                  </a>
                </div>
              </ng-template>
            </ng-container>
          </td>
        </ng-container>

        <!-- Header and Data row -->
        <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async"
          [disabled]="dataSource?.isInProgress$ | async"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"></tr>
      </table>

      <!-- Table Status -->
      <mcs-item orientation="block">
        <div *ngIf="dataSource?.isInProgress$ | async" align="center">
          <mcs-loader size="medium"></mcs-loader>
        </div>
        <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
          <span>{{ 'message.noAzureSoftwareSubscriptions' | translate }}</span>
        </div>
        <div *ngIf="dataSource?.hasError$ | async" text-center>
          <div class="listing-status-wrapper">
            <span>{{ 'azureSoftwareSubscriptions.errorMessage' | translate }}</span>
            <a (click)="retryDatasource()"
              mcsId
              mcsEventTracker="retry-azure-software-subscriptions-list"
              mcsEventCategory="azure-software-subscriptions"
              mcsEventLabel="azure-software-subscriptions-listing-page">{{ 'action.tryAgainShortly' | translate }}</a>.
          </div>
        </div>
      </mcs-item>

      <!-- Paginator -->
      <mcs-paginator #paginator [totalCount]="dataSource?.totalCount$ | async">
      </mcs-paginator>
    </div>
  </mcs-content-panel>
</mcs-page>
