<mcs-page [header]="'serverCreate.header' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>

    <!-- Back to Servers -->
    <mcs-top-panel-item *mcsTopPanelItemDef no-border>
      <mcs-action-item mcsAlign="end" mcsId
        mcsRouterLink="Servers"
        mcsEventTracker="back-to-server-listing"
        mcsEventCategory="server"
        mcsEventLabel="create-new-server-page">
        <mcs-icon [key]="backIconKey" size="small"></mcs-icon>
        <span>{{ 'serverCreate.backToServers' | translate }}</span>
      </mcs-action-item>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>

    <mcs-wizard [header]="'serverCreate.header' | translate"
      (stepChange)="onWizardStepChanged($event)">

      <!-- Error message -->
      <ng-container mcsWizardErrorTemplate>
        <mcs-form-message #formMessage></mcs-form-message>
      </ng-container>

      <!-- Server Details Step-->
      <mcs-wizard-step id="server-details-step"
        [stepTitle]="'serverCreateDetailsStep.stepTitle' | translate"
        customClass="contextual-help-page-wrapper limited-view">

        <mcs-select-resource-dropdown
          (dataChange)="onChangeResource($event)"
          [value]="selectedResource"
          [mcsContextualHelp]="'serverCreate.vdcDropdownList.helpText' | translate">

        </mcs-select-resource-dropdown>

        <ng-container *ngIf="resource$ | async as selectedResource">
          <mcs-server-create-details #serverDetailsStep
            [resource]="selectedResource"
            [serverId]="selectedServerId"
            (dataChange)="onServerDetailsChange($event)"
            (dataSubmit)="onServerDetailsSubmit($event)">
          </mcs-server-create-details>
        </ng-container>
      </mcs-wizard-step>

      <ng-container *ngIf="resource$ | async as resource">
        <!-- Add-ons Step -->
        <mcs-wizard-step id="addon-step"
          *ngIf="resource?.serviceType === serviceTypeEnum.Managed"
          [stepTitle]="'serverCreateAddOnsStep.stepTitle' | translate"
          customClass="contextual-help-page-wrapper limited-view">

          <mcs-server-create-addons
            [osType]="serverCreationOsType"
            (dataChange)="onServerAddOnChange($event)">
          </mcs-server-create-addons>
        </mcs-wizard-step>

        <!-- Confirm Step  -->
        <mcs-wizard-step id="confirm-step"
          *ngIf="resource?.serviceType === serviceTypeEnum.Managed"
          [stepTitle]="'serverCreateConfirmStep.stepTitle' | translate"
          customClass="contextual-help-page-wrapper limited-view">

          <mcs-step-order-details [order]="order$ | async"
            [orderItemType]="orderItemType$ | async"
            [requestState]="dataStatus$ | async"
            [eventTrack]="orderEventTrack.billingDetailsStep"
            (dataChange)="onServerConfirmOrderChange($event)"
            (submitOrder)="onSubmitOrder($event)">
          </mcs-step-order-details>
        </mcs-wizard-step>
      </ng-container>

      <!-- Go! Step  -->
      <mcs-wizard-step id="go-step"
        [stepTitle]="'serverCreateProvisioningStep.stepTitle' | translate"
        customClass="limited-view">

        <mcs-step-provisioning [jobs]="jobs$ | async" [requestState]="dataStatus$ | async">
          <ng-container mcsProvisioningStepDescription>
            {{ 'serverCreateProvisioningStep.description' | translate }}
          </ng-container>

          <ng-container mcsProvisioningStepInProgress>
            <ng-container *ngIf="resource$ | async as resource">
              <ng-container *ngIf="resource?.serviceType === serviceTypeEnum.Managed && !orderIsToBeSubmitted; else provisionMessageTemplate">
                <span>{{ 'provisioningStep.savingOrder' | translate }}</span>
              </ng-container>
              <ng-template #provisionMessageTemplate>
                <span>{{ 'serverCreateProvisioningStep.dataProvisioning' | translate }}</span>
              </ng-template>
            </ng-container>
          </ng-container>

        </mcs-step-provisioning>
      </mcs-wizard-step>
    </mcs-wizard>

  </mcs-content-panel>
</mcs-page>

<!-- Pricing Calculator Widget -->
<mcs-pricing-calculator #pricingCalculator
  [state]="dataStatus$ | async"
  [order]="order$ | async">
</mcs-pricing-calculator>