<mcs-page [header]="'serverCreate.header' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>

    <!-- Back to Servers -->
    <mcs-top-panel-item *mcsTopPanelItemDef no-border>
      <mcs-action-item mcsAlign="end" mcsId
        mcsRouterLink="Servers"
        mcsEventTracker="back-to-server-listing"
        mcsEventCategory="server"
        mcsEventLabel="create-new-server-page">
        <mcs-icon [key]="backIconKey" size="small"></mcs-icon>
        <span>{{ 'serverCreate.backToServers' | translate }}</span>
      </mcs-action-item>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>

    <mcs-wizard [header]="'serverCreate.header' | translate"
      (stepChange)="onWizardStepChanged($event)">

      <!-- Error message -->
      <ng-container mcsWizardErrorTemplate>
        <mcs-form-message #formMessage></mcs-form-message>
      </ng-container>

      <!-- Server Details Step-->
      <mcs-wizard-step id="server-details-step"
        [stepTitle]="'serverCreateDetailsStep.stepTitle' | translate"
        customClass="contextual-help-page-wrapper limited-view">

        <mcs-form-field>
          <mcs-select placeholder="Select a VDC" required
            mcsId="select-resource"
            (selectionChange)="onChangeResource($event)"
            [formControl]="fcResource"
            [mcsContextualHelp]="'serverCreate.vdcDropdownList.helpText' | translate">

            <mcs-option-group>
              <ng-container *mcsOptionGroupHeader>
                {{ 'serverCreate.vdcDropdownList.header' | translate }}
              </ng-container>

              <mcs-option [value]="item" *ngFor="let item of resources$ | async">
                {{ getResourceDisplayedText(item) }}
              </mcs-option>
            </mcs-option-group>
          </mcs-select>
        </mcs-form-field>

        <ng-container *ngIf="resource$ | async as selectedResource">
          <mcs-server-create-details #serverDetailsStep
            [resource]="selectedResource"
            [serverId]="selectedServerId"
            (dataChange)="onServerDetailsChange($event)"
            (dataSubmit)="onServerDetailsSubmit($event)">
          </mcs-server-create-details>
        </ng-container>
      </mcs-wizard-step>

      <ng-container *mcsAccessControl="[]; feature: 'EnableOrderingManagedServerCreate'">
        <ng-container *ngIf="resource$ | async as resource">
          <!-- Add-ons Step -->
          <mcs-wizard-step id="addon-step"
            *ngIf="resource?.serviceType === serviceTypeEnum.Managed"
            [stepTitle]="'serverCreateAddOnsStep.stepTitle' | translate"
            customClass="contextual-help-page-wrapper limited-view">

            <mcs-server-create-addons
              [osType]="serverCreationOsType"
              (dataChange)="onServerAddOnChange($event)">
            </mcs-server-create-addons>
          </mcs-wizard-step>

          <!-- Confirm Step  -->
          <mcs-wizard-step id="confirm-step"
            *ngIf="resource?.serviceType === serviceTypeEnum.Managed"
            [stepTitle]="'serverCreateConfirmStep.stepTitle' | translate"
            customClass="contextual-help-page-wrapper limited-view">

            <mcs-step-order-details [order]="order$ | async"
              [orderItemType]="orderItemType$ | async"
              [requestState]="dataStatus$ | async"
              (dataChange)="onServerConfirmOrderChange($event)"
              (submitOrder)="onSubmitOrder($event)">
            </mcs-step-order-details>
          </mcs-wizard-step>
        </ng-container>
      </ng-container>

      <!-- Go! Step  -->
      <mcs-wizard-step id="go-step"
        [stepTitle]="'serverCreateProvisioningStep.stepTitle' | translate"
        customClass="limited-view">

        <mcs-step-provisioning [jobs]="jobs$ | async" [requestState]="dataStatus$ | async">
          <ng-container mcsProvisioningStepDescription>
            {{ 'serverCreateProvisioningStep.description' | translate }}
          </ng-container>

          <ng-container mcsProvisioningStepInProgress>
            <span *ngIf="waitingForProvision">{{ 'serverCreateProvisioningStep.dataProvisioning' | translate }}</span>
            <span *ngIf="!waitingForProvision">{{ 'serverCreateProvisioningStep.savingOrder' | translate }}</span>
          </ng-container>
        </mcs-step-provisioning>
      </mcs-wizard-step>
    </mcs-wizard>

  </mcs-content-panel>
</mcs-page>

<!-- Pricing Calculator Widget -->
<mcs-pricing-calculator #pricingCalculator
  [state]="dataStatus$ | async"
  [order]="order$ | async">
</mcs-pricing-calculator>