// Color pallete classes
.color-primary {
  color: $color-primary-00;
}

.color-primary-01 {
  color: $color-primary-01;
}

.color-primary-02 {
  color: $color-primary-02;
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.color-red {
  color: $color-red-00;
}

.color-green {
  color: $color-green-00;
}

.color-grey {
  color: $color-grey-00;
}

.color-grey-01 {
  color: $color-grey-01;
}

.color-grey-02 {
  color: $color-grey-02;
}

.color-grey-03 {
  color: $color-grey-03;
}

.color-grey-04 {
  color: $color-grey-04;
}

.color-grey-05 {
  color: $color-grey-05;
}

.color-grey-06 {
  color: $color-grey-06;
}

.color-grey-07 {
  color: $color-grey-07;
}

.color-grey-08 {
  color: $color-grey-08;
}