// Color pallete classes
.color-primary {
  color: $color-primary-00;
}

.color-primary-01 {
  color: $color-primary-01;
}

.color-primary-02 {
  color: $color-primary-02;
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.color-red {
  color: $color-red-00;
}

.color-green {
  color: $color-green-00;
}

.color-grey {
  color: $color-grey-00;
}