// Display Flex
.display-flex-row {
  @include display-flex(row);
}

.display-flex-column {
  @include display-flex(column);
}

// Flex
.flex-auto {
  @include flex(1 1 auto);
}

.flex-none {
  @include flex(0 0 auto);
}

// Align Items
.align-items-flex-start {
  @include align-items(flex-start);
}

.align-items-center {
  @include align-items(center);
}

.align-items-flex-end {
  @include align-items(flex-end);
}

.align-items-none {
  @include align-items(stretch);
}

.text-center {
  text-align: center;
}

// Justify Content
.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-none {
  justify-content: none;
}

// Overrides
.right-align {
  margin-left: auto !important;
}

.left-align {
  margin-right: auto !important;
}

.top-align {
  vertical-align: top !important;
}

.font-normal {
  font-family: $base-font !important;
}

.font-bold {
  font-family: $base-font-bold !important;
}

.hidden-medium {
  @include breakpoint(medium) {
    display: none !important;
  }
}

.hidden-small {
  @include breakpoint(small) {
    display: none !important;
  }
}

.hidden-xsmall {
  @include breakpoint(xsmall) {
    display: none !important;
  }
}

.visible-small {
  display: none !important;

  @include breakpoint(small) {
    display: block !important;
  }
}

// Vertical Spacing
.vspace-xsmall {
  margin: $space-xsmall 0;
}

.vspace-small {
  margin: $space-small 0;
}

.vspace-medium {
  margin: $space-medium 0;
}

.vspace-large {
  margin: $space-large 0;
}

// Layout classes
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.valign-middle {
  vertical-align: middle;
}

.full-width {
  width: 100%;
}

// Status
.read-only {
  color: $color-grey-02;
}

.disabled-element {
  opacity: 0.4;
  pointer-events: none;
}

.hide-element {
  display: none !important;
}

.clickable-text {
  :hover {
    cursor: pointer;
    font-family: $base-font-bold;
  }
}

// Special effects
.rotate-sideways {
  @include transform(translateX(-50%) translateY(-50%) rotate(-90deg));
}

// Simple table
table.mcs-simple-table {
  @include breakpoint(small) {
    border-collapse: separate;
    border-spacing: 0 $space-small;
  }

  td {
    padding-right: $space-small;
    vertical-align: middle;

    &:last-of-type {
      padding-right: 0;
    }

    &.action-items {
      @include set-items-interval($space-medium, horizontal);

      @include breakpoint(small) {
        @include set-items-interval(0, horizontal);
        @include set-items-interval($space-xsmall, vertical);

        > * {
          display: block;
        }
      }
    }
  }
}

// Icon with label
.labelled-icon {
  @include flex(0 0 auto);
  @include display-flex(row);
  @include set-items-interval($space-small, horizontal);
}

.horizontal-items-spacing-xsmall {
  @include set-items-interval($space-xsmall, horizontal);
}

.horizontal-items-spacing-small {
  @include set-items-interval($space-small, horizontal);
}

.horizontal-items-spacing-medium {
  @include set-items-interval($space-medium, horizontal);
}

.vertical-items-spacing-xsmall {
  @include set-items-interval($space-xsmall, vertical);
}

.vertical-items-spacing-small {
  @include set-items-interval($space-small, vertical);
}

.vertical-items-spacing-medium {
  @include set-items-interval($space-medium, vertical);
}

.vertical-items-spacing-large {
  @include set-items-interval($space-large, vertical);
}

// Text settings
.text-center {
  text-align: center;
}

.text-light {
  color: $color-grey-05;
}

.text-dark {
  color: $color-black;
}

.text-error {
  color: $color-red-00;
}

.text-success {
  color: $color-green-00;
}

.text-warning {
  color: $color-yellow-00;
}

.dropzone {
  border: 5px dashed transparent;

  &.file-hover {
    border: 5px dashed $color-grey-04;
  }
}

// Limited view to all the page
.limited-view {
  @include flex(0 0 auto !important); // Force the page to not apply flex auto
  width: $limited-view-width;
  @include breakpoint(medium) {
    width: 100%;
  }
}

// Outlines
.outline-none {
  outline: none;
}