// Inline Items
%inline-items {
  @include flex(0 0 auto);
  @include display-flex(row);
  align-items: center;
}

.inline-items-xsmall {
  @extend %inline-items;
  @include set-items-interval($space-xsmall, horizontal);
}

.inline-items-small {
  @extend %inline-items;
  @include set-items-interval($space-small, horizontal);
}

.inline-items-medium {
  @extend %inline-items;
  @include set-items-interval($space-medium, horizontal);
}

.inline-items-large {
  @extend %inline-items;
  @include set-items-interval($space-large, horizontal);
}

// Block Items
%block-items {
  @include display-flex(column);
}

.block-items-xsmall {
  @extend %block-items;
  @include set-items-interval($space-xsmall);
}

.block-items-small {
  @extend %block-items;
  @include set-items-interval($space-small);
}

.block-items-medium {
  @extend %block-items;
  @include set-items-interval($space-medium);
}

.block-items-large {
  @extend %block-items;
  @include set-items-interval($space-large);
}

// Separate Items
.space-between-inline-items {
  @include display-flex(row);
  @include flex-wrap(wrap);
  justify-content: space-between;
}

.space-between-block-items {
  @include display-flex(column);
  justify-content: space-between;
}

// Others (Individual)
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.valign-middle {
  vertical-align: middle;
}

// Text alignment
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}