
// Items spacing
.horizontal-items-spacing-xsmall {
  @include set-items-interval($space-xsmall, horizontal);
}

.horizontal-items-spacing-small {
  @include set-items-interval($space-small, horizontal);
}

.horizontal-items-spacing-medium {
  @include set-items-interval($space-medium, horizontal);
}

.horizontal-items-spacing-large {
  @include set-items-interval($space-large, horizontal);
}

.vertical-items-spacing-xsmall {
  @include set-items-interval($space-xsmall, vertical);
}

.vertical-items-spacing-small {
  @include set-items-interval($space-small, vertical);
}

.vertical-items-spacing-medium {
  @include set-items-interval($space-medium, vertical);
}

.vertical-items-spacing-large {
  @include set-items-interval($space-large, vertical);
}

// Horizontal Spacing
.hspace-xsmall {
  margin: 0 $space-xsmall;
}

.hspace-small {
  margin: 0 $space-small;
}

.hspace-medium {
  margin: 0 $space-medium;
}

.hspace-large {
  margin: 0 $space-large;
}

// Vertical Spacing
.vspace-xsmall {
  margin: $space-xsmall 0;
}

.vspace-small {
  margin: $space-small 0;
}

.vspace-medium {
  margin: $space-medium 0;
}

.vspace-large {
  margin: $space-large 0;
}

// Spacing Bottom
.space-bottom-xsmall {
  margin-bottom: $space-xsmall;
}

.space-bottom-small {
  margin-bottom: $space-small;
}

.space-bottom-medium {
  margin-bottom: $space-medium;
}

.space-bottom-large {
  margin-bottom: $space-large;
}

.space-bottom-xlarge {
  margin-bottom: $space-xlarge;
}

// Spacing Top
.space-top-xsmall {
  margin-top: $space-xsmall;
}

.space-top-small {
  margin-top: $space-small;
}

.space-top-medium {
  margin-top: $space-medium;
}

.space-top-large {
  margin-top: $space-large;
}

.space-top-xlarge {
  margin-top: $space-xlarge;
}

// Spacing Left
.space-left-xsmall {
  margin-left: $space-xsmall;
}

.space-left-small {
  margin-left: $space-small;
}

.space-left-medium {
  margin-left: $space-medium;
}

.space-left-large {
  margin-left: $space-large;
}

.space-left-xlarge {
  margin-left: $space-xlarge;
}

// Spacing Right
.space-right-xsmall {
  margin-right: $space-xsmall;
}

.space-right-small {
  margin-right: $space-small;
}

.space-right-medium {
  margin-right: $space-medium;
}

.space-right-large {
  margin-right: $space-large;
}

.space-right-xlarge {
  margin-right: $space-xlarge;
}