@import "../../../styles/shared/base";

$validation-message-text-color: $color-red-00;
$validation-message-font-size: $font-size-default;
$validation-message-font-family: $circular-pro-book;

:host {
  display: block;
  color: $validation-message-text-color;
  font-family: $validation-message-font-family;
  @include font-size($validation-message-font-size);
}
