@import "../../../../styles/shared/base";

// Main Mobile wrapper
$navigation-mobile-top-offset: -45px;
$navigation-mobile-bg-color: $color-black;
// Items variables
$navigation-mobile-item-active-bg-color: $color-white;
$navigation-mobile-icon-padding: $space-small;
// Macquarie Link variables
$navigation-mobile-macquarie-link-font: $circular-pro-bold;
$navigation-mobile-macquarie-link-color: $color-white;
$navigation-mobile-macquarie-link-bg-color: $color-grey-01;
$navigation-mobile-macquarie-link-padding: $space-small $space-medium;

$navigation-mobile-macquarie-item-title-color: $color-white;
$navigation-mobile-macquarie-item-active-color: $color-white;
$navigation-mobile-macquarie-item-color: $color-grey-04;
$navigation-mobile-macquarie-item-border-color: $color-white;
$navigation-mobile-macquarie-item-font: $circular-pro-bold;

// Main mobile navigation
.navigation-mobile-wrapper {
  @include display-flex(row);
  justify-content: space-between;

  .navigation-mobile-icon {
    cursor: pointer;
    @include display-flex(row);
    align-items: center;

    mcs-icon {
      padding: $navigation-mobile-icon-padding;
    }

    &:hover,
    &.active {
      background-color: $navigation-mobile-item-active-bg-color;
    }
  }

  .macquarie-link {
    cursor: pointer;
    margin-left: auto;
    background-color: $navigation-mobile-macquarie-link-bg-color;

    a {
      color: $navigation-mobile-macquarie-link-color;
      display: block;
      text-decoration: none;
      font-family: $navigation-mobile-macquarie-link-font;
      padding: $navigation-mobile-macquarie-link-padding;
    }
  }
}

// Mobile navigation items from template binding
.navigation-mobile-list {
  position: absolute;
  left: 0;
  margin-top: $navigation-mobile-top-offset;
  background: $navigation-mobile-bg-color;
  height: 100%;
  width: 100%;
  max-width: 80%;
  z-index: $zindex-navigation;

  .navigation-mobile-title {
    @include display-flex(row);
    justify-content: space-between;
    align-items: flex-start;
    color: $navigation-mobile-macquarie-item-title-color;
    border-bottom: 1px solid $navigation-mobile-macquarie-item-border-color;
    padding: $navigation-link-mobile-padding;

    .close-icon {
      cursor: pointer;
    }
  }

  .navigation-item {
    @include display-flex(row);
    align-items: center;
    border-bottom: 1px solid $navigation-mobile-macquarie-item-border-color;
    padding-left: $navigation-link-mobile-padding;

    a {
      display: block;
      color: $navigation-mobile-macquarie-item-color;
      padding: $navigation-link-mobile-padding;
      text-decoration: none;
      font-family: $navigation-mobile-macquarie-item-font;
      width: 100%;
    }

    &:hover,
    &.active {
      background-color: transparent;
      a {
        color: $navigation-mobile-macquarie-item-active-color;
      }
    }
  }
}