<!-- Main navigation for mobile -->
<div class="navigation-mobile-wrapper">
  <div class="navigation-mobile-icon">
    <mcs-icon [key]="toggleIconKey" size="large" (click)="open()"></mcs-icon>
  </div>

  <!-- Ordering Dashboard Link -->
  <div class="ordering-dashboard">
    <ng-container *mcsAccessControl="['OrderEdit'];">
      <div class="navigation-item" [class.active]="selectedCategory === routerCategoryEnum.MakeAChange">
        <a mcsCursor="pointer"
          mcsId="ordering-dashboard"
          mcsEventTracker="ordering-dashboard"
          mcsEventCategory="navigation"
          mcsEventLabel="main-nav"
          [mcsRouterLink]="routeKeyEnum.OrdersDashboard">
          {{ 'navigation.makeAChange' | translate }}
        </a>
      </div>
    </ng-container>
  </div>
</div>

<mcs-sliding-panel placement="left" offsetFrom="header" visible-small #slidingPanel>
  <!-- Navigation list from template binding -->
  <div class="navigation-mobile-list">
    <!-- Title -->
    <div class="navigation-mobile-item navigation-mobile-title">
      <h2>{{ 'navigation.title' | translate }}</h2>
      <mcs-icon [key]="closeIconKey" color="light"
        mcsCursor="pointer" (click)="close()"></mcs-icon>
    </div>

    <mcs-context-switch mobileView="true"></mcs-context-switch>

    <!-- Navigation items -->
    <ng-content></ng-content>

    <!-- Logout Item -->
    <div class="navigation-item">
      <mcs-icon [key]="caretRightIconKey" color="light"></mcs-icon>
      <a mcsCursor="pointer" (click)="logout($event)"
        mcsId
        mcsEventTracker="sign-out"
        mcsEventCategory="navigation"
        mcsEventLabel="main-nav">{{ 'navigation.signOut' | translate }}</a>
    </div>
  </div>
</mcs-sliding-panel>

