@import "../../../../styles/shared/base";

// Navigation
$navigation-link-mobile-padding: $space-medium;
// Main Mobile wrapper
$navigation-mobile-top-offset: 50px;
$navigation-mobile-bg-color: $color-black;
// Items variables
$navigation-mobile-item-active-bg-color: $color-white;
$navigation-mobile-icon-padding: $space-small;
$navigation-mobile-item-font-size: 14;
// Macquarie Link variables
$navigation-mobile-macquarie-link-font: $circular-pro-bold;
$navigation-mobile-macquarie-link-color: $color-white;
$navigation-mobile-macquarie-link-bg-color: $color-grey-01;
$navigation-mobile-macquarie-link-padding: $space-small $space-medium;

$navigation-mobile-macquarie-item-title-color: $color-white;
$navigation-mobile-macquarie-item-active-color: $color-white;
$navigation-mobile-macquarie-item-color: $color-grey-04;
$navigation-mobile-macquarie-item-border-color: $color-white;
$navigation-mobile-macquarie-item-font: $circular-pro-bold;

// Main mobile navigation
.navigation-mobile-wrapper {
  @include display-flex(row);
  justify-content: space-between;

  .navigation-mobile-icon {
    cursor: pointer;
    @include display-flex(row);
    align-items: center;

    mcs-icon {
      padding: $navigation-mobile-icon-padding;
    }

    &:hover,
    &.active {
      background-color: $navigation-mobile-item-active-bg-color;
    }
  }

  .macquarie-link {
    cursor: pointer;
    margin-left: auto;
    background-color: $navigation-mobile-macquarie-link-bg-color;
    @include display-flex(row);
    @include align-items(center);

    a {
      color: $navigation-mobile-macquarie-link-color;
      display: block;
      text-decoration: none;
      font-family: $navigation-mobile-macquarie-link-font;
      padding: $navigation-mobile-macquarie-link-padding;

      &:hover {
        text-decoration: none;
        color: $navigation-mobile-macquarie-link-color;
      }
    }
  }
}

// Mobile navigation items from template binding
.navigation-mobile-list {
  background: $navigation-mobile-bg-color;
  width: 100%;
  height: 100%;

  // Apply common styling form mobile item here
  .navigation-mobile-item {
    padding: $navigation-link-mobile-padding;
    color: $navigation-mobile-macquarie-item-title-color;
    border-bottom: 1px solid $navigation-mobile-macquarie-item-border-color;

    h3 {
      margin: 0;
    }
  }

  .navigation-mobile-title {
    @include display-flex(row);
    justify-content: space-between;
    align-items: flex-start;
  }

  .navigation-item {
    @include display-flex(row);
    align-items: center;
    border-bottom: 1px solid $navigation-mobile-macquarie-item-border-color;
    padding-left: $navigation-link-mobile-padding;

    a {
      display: block;
      color: $navigation-mobile-macquarie-item-color;
      padding: $navigation-link-mobile-padding;
      text-decoration: none !important;
      font-family: $navigation-mobile-macquarie-item-font;
      width: 100%;
      @include font-size($navigation-mobile-item-font-size);
    }

    &:hover,
    &.active {
      background-color: transparent;
      a {
        color: $navigation-mobile-macquarie-item-active-color;
      }
    }
  }

  .navigation-account-panel-wrapper {
    @include display-flex(column);

    .user-account-trigger {
      .user-name {
        text-decoration: none !important;
        font-family: $navigation-mobile-macquarie-item-font;
        @include font-size($navigation-mobile-item-font-size);
      }
    }

    .switch-account-panel {
      overflow: hidden;
      @include display-flex(column);
      @include set-items-divider($divider-light-color);

      .account-details,
      .switch-account-details {
        padding: $space-medium 0;
      }
    }
  }
}