<!-- Products Mega Menu Pop-over -->
<ng-template #productMegaMenuTemplate>
  <div class="product-megamenu-mobile-wrapper" mcsScrollable>
    <mcs-data-status [dataStatusFactory]="productsStatusFactory">
      <mcs-data-status-success mcsDataSuccess>
        <mcs-accordion [multi]="true">
          <mcs-accordion-panel *ngFor="let catalog of productCatalogs">
            <mcs-accordion-panel-header mcsPanelHeaderDef>
              {{ catalog.name }}
            </mcs-accordion-panel-header>

            <section>
              <mcs-list [header]="category.name" itemsOffset="small"
                *ngFor="let category of catalog.categories">
                <mcs-list-item *ngFor="let product of category.products">
                  <a (click)="gotoProduct(product)"
                    mcsId="select-product"
                    mcsEventTracker="select-product"
                    mcsEventCategory="navigation"
                    mcsEventLabel="main-nav">{{ product.name }}</a>
                </mcs-list-item>
              </mcs-list>
            </section>
          </mcs-accordion-panel>
        </mcs-accordion>
      </mcs-data-status-success>

      <mcs-data-status-in-progress mcsDataInProgress>
        <span>{{ textContent.loadingProducts }}</span>
      </mcs-data-status-in-progress>

      <mcs-data-status-empty mcsDataEmpty>
        <span>{{ textContent.noProducts }}</span>
      </mcs-data-status-empty>

      <mcs-data-status-error mcsDataError>
        <span>{{ textContent.errorProducts }}</span>
      </mcs-data-status-error>
    </mcs-data-status>
  </div>
</ng-template>

<!-- Main navigation for mobile -->
<div class="navigation-mobile-wrapper">
  <div class="navigation-mobile-icon">
    <mcs-icon [key]="toggleIconKey" size="large" (click)="open()"></mcs-icon>
  </div>

  <!-- Macquarie Link View -->
  <div class="macquarie-link">
    <ng-container *ngIf="productCatalogFeatureIsOn; else macquarieViewTemplate">
      <a mcsPopover maxWidth="auto"
        [content]="productMegaMenuTemplate"
        theme="light" priority="high"
        placement="bottom" orientation="left"
        [placementElement]="caretIconElement">

        <mcs-item>
          <span>{{ textContent.productCatalog }}</span>
          <span #caretIconElement>
            <mcs-icon [key]="caretDownIconKey"
              size="medium" color="white"></mcs-icon>
          </span>
        </mcs-item>
      </a>
    </ng-container>

    <ng-template #macquarieViewTemplate>
      <a [href]="macviewUrl" target="_blank"
        mcsId="macquarie-view"
        mcsEventTracker="macquarie-view"
        mcsEventCategory="navigation"
        mcsEventLabel="main-nav">

        <mcs-item>
          <mcs-icon [key]="arrowUpIconKey" size="large"></mcs-icon>
          <span>{{ textContent.macquarieView }}</span>
        </mcs-item>
      </a>
    </ng-template>
  </div>
</div>

<mcs-sliding-panel placement="left" offsetFrom="header" visible-small #slidingPanel>
  <!-- Navigation list from template binding -->
  <div class="navigation-mobile-list">
    <!-- Title -->
    <div class="navigation-mobile-item navigation-mobile-title">
      <h2>{{ textContent.title }}</h2>
      <mcs-icon [key]="closeIconKey" color="white"
        mcsCursor="pointer" (click)="close()"></mcs-icon>
    </div>

    <!-- Navigation items -->
    <ng-content></ng-content>

    <!-- Logout Item -->
    <div class="navigation-item">
      <mcs-icon [key]="caretRightIconKey" color="white"></mcs-icon>
      <a mcsCursor="pointer" (click)="logout($event)"
        mcsId
        mcsEventTracker="sign-out"
        mcsEventCategory="navigation"
        mcsEventLabel="main-nav">{{ textContent.signOut }}</a>
    </div>
  </div>
</mcs-sliding-panel>

