<div class="limited-view">
  <div class="vertical-items-spacing-large" [mcsLoader]="serverResourceSubscription">
    <h3 class="heading">{{ textContent.title }}</h3>

    <p *ngIf="textContent.description">{{ textContent.description }}</p>

    <div [hidden]="isUpdate" class="vertical-items-spacing-large">
      <div [ngStyle]="{'position': 'relative'}">
        <div [mcsLoader]="networksSubscription">
          <p *ngIf="!hasNics">{{ textContent.noNics }}</p>
          <table *ngIf="hasNics" class="mcs-simple-table full-width">
            <thead>
              <tr>
                <td>
                  <strong>{{ textContent.nic }}</strong>
                </td>
                <td>
                  <strong>{{ textContent.network }}</strong>
                </td>
                <td>
                  <strong>{{ textContent.primary }}</strong>
                </td>
                <td>
                  <strong>{{ textContent.ipMode }}</strong>
                </td>
                <td>
                  <strong>{{ textContent.ipAddress }}</strong>
                </td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let nic of nics">
                <td>
                  <span *ngIf="!getActiveNic(nic)">{{ nic.index }}</span>
                  <mcs-icon *ngIf="getActiveNic(nic)" [key]="spinnerIconKey"
                    size="small" class="hidden-small"
                    [mcsTooltip]="getNetworkSummaryInformation(nic)"
                    mcsTooltipPosition="right"></mcs-icon>
                </td>
                <td>
                  <span>{{ nic.name }}</span>
                </td>
                <td>
                  <mcs-icon *ngIf="nic.isPrimary" [key]="checkIconKey" size="small"></mcs-icon>
                </td>
                <td>
                  <span>{{ getIpAllocationModeText(nic.ipAllocationMode) }}</span>
                </td>
                <td>
                  <span>{{ nic.ipAddress }}</span>
                </td>
                <td class="action-items">
                  <span *mcsHasPermission="['VmNetworkEdit']">
                    <a *ngIf="!isProcessing" (click)="onUpdateNetwork(nic)">
                      {{ textContent.editLink }}
                    </a>
                  </span>
                  <span *mcsHasPermission="['VmNetworkEdit']">
                    <a *ngIf="!isProcessing && !nic.isPrimary" (click)="onDeleteNetwork(nic)">
                      {{ textContent.deleteLink }}
                    </a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *mcsHasPermission="['VmNetworkEdit']">
        <div *ngIf="hasAvailableResourceNetwork && !hasReachedNetworksLimit"
          class="action-box" [disabled]="isProcessing">
          <h4>{{ textContent.addHeading }}</h4>

          <!-- Network Selection -->
          <div class="field">
            <mcs-select [ngModel]="networkName" (ngModelChange)="onNetworkSelect($event)"
              [placeholder]="textContent.networkSelect.placeholder">
              <mcs-select-item *ngFor="let network of resourceNetworks" [value]="network.name">
                {{ network.name }}
              </mcs-select-item>
            </mcs-select>
          </div>

          <!-- IP Address setting -->
          <div class="field" *ngIf="networkName">
            <mcs-server-ip-address [gateway]="networkGateway"
              [subnetMask]="networkNetmask"
              (ipAddressChanged)="onIpAddressChanged($event)">
              <!--Ip address contents on the left hand side (title and description)-->
              <div title>
                <span class="label no-line-height">{{ textContent.ipAddress }}</span>
              </div>
            </mcs-server-ip-address>
          </div>

          <div [ngStyle]="{'text-align': 'right'}">
            <mcs-button icon="arrow" [disabled]="!validate()" (click)="addNetwork()">
              {{ textContent.addButton }}
            </mcs-button>
          </div>
        </div>

        <div *ngIf="hasReachedNetworksLimit" class="horizontal-items-spacing-xsmall"
          display-flex="row" align-items="center" justify-content="center">
          <mcs-icon [key]="warningIconKey" size="xlarge"></mcs-icon>
          <h4>{{ textContent.reachedNetworksLimit }}</h4>
        </div>
      </div>
    </div>

    <div *ngIf="isUpdate" class="vertical-items-spacing-large">
      <div *ngIf="hasAvailableResourceNetwork" class="action-box" [disabled]="isProcessing">
        <h4>{{ textContent.editHeading }} {{ selectedNic.index }}</h4>

        <!-- Network Selection -->
        <div class="field">
          <mcs-select [ngModel]="networkName" (ngModelChange)="onNetworkSelect($event)"
            [placeholder]="textContent.networkSelect.placeholder">
            <mcs-select-item [value]="">-</mcs-select-item>
            <mcs-select-item *ngFor="let network of resourceNetworks" [value]="network.name">
              {{ network.name }}
            </mcs-select-item>
          </mcs-select>
        </div>

        <!-- TODO: Removed temporarily since our API doesn't support updating primary NIC -->
        <!-- <div class="field" *ngIf="networkName">
          <mcs-checkbox [(ngModel)]="isPrimary" [disabled]="selectedNic.isPrimary">
            {{ textContent.primaryCheckbox }}
          </mcs-checkbox>
        </div> -->

        <!-- IP Address setting -->
        <div class="field" *ngIf="networkName">
          <mcs-server-ip-address
            [ipAllocationMode]="ipAddress.ipAllocationMode"
            [ipAddress]="ipAddress.customIpAddress"
            [gateway]="networkGateway"
            [subnetMask]="networkNetmask"
            (ipAddressChanged)="onIpAddressChanged($event)">
            <!--Ip address contents on the left hand side (title and description)-->
            <div title>
              <span class="label no-line-height">{{ textContent.ipAddress }}</span>
            </div>
          </mcs-server-ip-address>
        </div>

        <div display-flex="row" align-items="center" justify-content="space-between">
          <a (click)="closeUpdateWindow()" [disabled]="isProcessing">Cancel</a>
          <mcs-button *mcsHasPermission="['VmEdit']" icon="arrow"
            [disabled]="!validate() || isProcessing" (click)="updateNetwork()">
            Update
          </mcs-button>
        </div>
      </div>
    </div>
  </div>
</div>