<mcs-page header="Create a New Azure Deployment with Terraform" leftPanelExpandedByDefault="true">
  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>
    <mat-vertical-stepper [linear]="true" #stepper>
      <!-- Deployment Details -->

      <mat-step>
        <ng-template matStepLabel>Deployment Details</ng-template>

        <mcs-dynamic-form #form [config]="fieldData"></mcs-dynamic-form>

        <br />
        <button mat-raised-button color="primary" [disabled]="false" matStepperNext>
          <mat-icon>chevron_right</mat-icon>
          Next
        </button>
      </mat-step>

      <!-- Variables -->
      <mat-step>
        <ng-template matStepLabel>Variables</ng-template>

        <div>
          <quill-editor [modules]="config"></quill-editor>
        </div>

        <br />
        <button mat-raised-button color="primary" [disabled]="false" matStepperNext>
          <mat-icon>chevron_right</mat-icon>
          Create
        </button>
      </mat-step>

      <!-- Go -->
      <mat-step>
        <ng-template matStepLabel>Go</ng-template>

        <strong>New Azure Deployment</strong>
        <p>
          New deployment successfully created
        </p>

        <span>To deploy infrastructure in Azure you need to run a plan and apply</span>
        <a href="#">Go to your Deployment</a>

      </mat-step>

    </mat-vertical-stepper>

  </mcs-content-panel>
</mcs-page>




