@import "../../../../styles/shared/base";

.grid-column-wrapper {
  @include display-flex(column);
  @include box-sizing(border-box);
  position: relative;
  flex-basis: 0;
  flex-grow: 0;

  width: 100%;
  max-width: 100%;
  min-height: 1px;  // Prevents column from collapsing when empty
}
