@import "../../../../styles/shared/base";

$grid-column-padding: 10px 15px;

.grid-column-wrapper {
  display: block;
  position: relative;
  @include flex(1);
  min-height: 1px;
  width: 100%;
  max-width: 100%;
  padding: $grid-column-padding;
}
