<div class="limited-view">
  <!-- Loader settings -->
  <div [mcsLoader]="serverResourceSubscription"
    [mcsLoaderHideElement]="snapshotContent"
    [mcsLoaderText]="textContent.loading"
    mcsLoaderOrientation="top"></div>

  <div #snapshotContent>
    <div class="container-wrapper">
      <h3 class="container-header">{{ textContent.snapshotHeader }}</h3>
      <div class="space-between-inline-items">
        <p [innerHTML]="textContent.snapshotDescription"></p>
        <div class="text-right">
          <button mcsButton size="small" [disabled]="!enabledActions"
            (click)="createSnapshot()">{{ textContent.createSnapshot }}</button>
        </div>
      </div>
      <div>
        <strong class="space-bottom-small block">{{ textContent.snapshots }}</strong>
        <!-- Snapshots -->
        <div *ngIf="hasSnapshot" class="space-between-inline-items">
          <ng-container *ngFor="let item of snapshots">
            <span>{{ convertDateToString(item.createdOn) }}</span>
            <div [disabled]="!enabledActions" class="text-right">
              <a (click)="restoreSnapshot(item)">
                {{ textContent.restoreSnapshot }}
              </a>
              <a (click)="deleteSnapshot(item)" class="space-left-small">
                {{ textContent.deleteSnapshot }}
              </a>
            </div>
          </ng-container>
        </div>

        <!-- Warning icon when no snapshots found -->
        <div *ngIf="!hasSnapshot" class="inline-items-small">
          <mcs-icon [key]="warningIconKey"></mcs-icon>
          <span>{{ textContent.noSnapshots }}</span>
        </div>
      </div>
    </div>

    <!-- Server Backups -->
    <div class="container-wrapper">
      <h3 class="container-header">{{ textContent.serverBackups }}</h3>
      <p>{{ textContent.serverBackupsDescription }}</p>
      <div>
        <button mcsButton size="small" [disabled]="true">{{ textContent.requestRestore }}</button>
      </div>
    </div>
  </div>
</div>