<div class="limited-view">
  <!-- Loader settings -->
  <div [mcsLoader]="serverResourceSubscription"
    [mcsLoaderHideElement]="snapshotContent"
    [mcsLoaderText]="textContent.loading"
    mcsLoaderOrientation="top"></div>

  <div #snapshotContent>
    <div class="container-wrapper">
      <h3 class="container-header">{{ textContent.snapshotHeader }}</h3>
      <div class="vspace-medium space-between-inline-items">
        <p [innerHTML]="textContent.snapshotDescription"></p>
        <div *mcsIsSelfManagedServer="server">
          <button mcsButton size="small" [disabled]="!enabledActions"
            (click)="createSnapshot()">{{ textContent.createSnapshot }}</button>
        </div>
      </div>
      <div>
        <strong class="space-bottom-small block">{{ textContent.snapshots }}</strong>

        <!-- Snapshots -->
        <mcs-data-status [dataStatusFactory]="dataStatusFactory">
          <mcs-data-status-success mcsDataSuccess>
            <ng-container [ngSwitch]="creatingSnapshot">
              <ng-container *ngSwitchCase="false">
                <div class="space-between-inline-items">
                  <div class="inline-items-xsmall">
                    <mcs-icon *ngIf="snapshotProcessing" [key]="spinnerIconKey"
                      size="small" [mcsTooltip]="server.processingText"></mcs-icon>
                    <span>{{ convertDateToString(snapshot.createdOn) }}</span>
                  </div>
                  <div [disabled]="!enabledActions" class="inline-items-medium text-right">
                    <a (click)="restoreSnapshot(snapshot)">
                      {{ textContent.restoreSnapshot }}
                    </a>
                    <a (click)="deleteSnapshot(snapshot)" class="space-left-small">
                      {{ textContent.deleteSnapshot }}
                    </a>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <div class="inline-items-xsmall">
                  <mcs-icon *ngIf="snapshotProcessing" [key]="spinnerIconKey"
                    size="small" [mcsTooltip]="server.processingText"></mcs-icon>
                  <span>{{ textContent.creatingSnapshot }}</span>
                </div>
              </ng-container>
            </ng-container>
          </mcs-data-status-success>

          <mcs-data-status-in-progress mcsDataInProgress>
            <span>{{ textContent.loadingContent }}</span>
          </mcs-data-status-in-progress>

          <mcs-data-status-empty mcsDataEmpty>
            <span>{{ textContent.noSnapshots }}</span>
          </mcs-data-status-empty>

          <mcs-data-status-error mcsDataError>
            <span>{{ textContent.errorGettingSnapshots }}</span>
          </mcs-data-status-error>
        </mcs-data-status>
      </div>
    </div>

    <!-- Server Backups -->
    <!-- TODO: Remove ngIf when Backups is working -->
    <div *ngIf="false" class="container-wrapper">
      <h3 class="container-header">{{ textContent.serverBackups }}</h3>
      <p>{{ textContent.serverBackupsDescription }}</p>
      <div>
        <button mcsButton size="small" [disabled]="true">{{ textContent.requestRestore }}</button>
      </div>
    </div>
  </div>
</div>