<mcs-presentation-panel mcsId="snapshots">
  <ng-container mcsPresentationPanelHeader>
    <h2>{{ textContent.snapshotHeader }}</h2>
  </ng-container>

  <mcs-grid>
    <mcs-grid-row>
      <mcs-grid-column>
        <p [innerHTML]="textContent.snapshotDescription | mcsNewLines"></p>
      </mcs-grid-column>

      <mcs-grid-column mcsAlignContent="top-right">
        <div>
          <button mcsButton
            size="small" arrow="right"
            [disabled]="!enabledActions"
            (click)="createSnapshot()"
            mcsId
            mcsEventTracker="create-snapshot"
            mcsEventCategory="server"
            mcsEventLabel="server-details-page">
            {{ textContent.createSnapshot }}
          </button>
        </div>
      </mcs-grid-column>
    </mcs-grid-row>
  </mcs-grid>

  <strong>{{ textContent.snapshots }}</strong>

  <!-- Snapshots -->
  <mcs-data-status [dataStatusFactory]="dataStatusFactory">
    <mcs-data-status-success mcsDataSuccess>
      <ng-container [ngSwitch]="creatingSnapshot">
        <ng-container *ngSwitchCase="false">
          <mcs-grid>
            <mcs-grid-row>
              <mcs-grid-column>
                <mcs-item>
                  <mcs-loader *ngIf="snapshotProcessing" size="small"
                    [mcsTooltip]="server.processingText"></mcs-loader>
                  <span>{{ snapshot.createdOn | mcsStdDateFormat }}</span>
                  <span read-only>{{ snapshot.sizeMB | mcsDataSize: 'MB' }}</span>
                </mcs-item>
              </mcs-grid-column>

              <mcs-grid-column mcsAlignContent="middle-right">
                <mcs-item [disabled]="!enabledActions">
                  <a (click)="restoreSnapshot(snapshot)"
                    mcsId
                    mcsEventTracker="restore-snapshot"
                    mcsEventCategory="server"
                    mcsEventLabel="server-details-page">
                    {{ textContent.restoreSnapshot }}
                  </a>
                  <a (click)="deleteSnapshot(snapshot)"
                    mcsId
                    mcsEventTracker="delete-snapshot"
                    mcsEventCategory="server"
                    mcsEventLabel="server-details-page">
                    {{ textContent.deleteSnapshot }}
                  </a>
                </mcs-item>
              </mcs-grid-column>
            </mcs-grid-row>
          </mcs-grid>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <mcs-item>
            <mcs-loader *ngIf="snapshotProcessing" size="small"
              [mcsTooltip]="server.processingText"></mcs-loader>
            <span>{{ textContent.creatingSnapshot }}</span>
          </mcs-item>
        </ng-container>
      </ng-container>
    </mcs-data-status-success>

    <mcs-data-status-in-progress mcsDataInProgress>
      <span>{{ textContent.loadingContent }}</span>
    </mcs-data-status-in-progress>

    <mcs-data-status-empty mcsDataEmpty>
      <span>{{ textContent.noSnapshots }}</span>
    </mcs-data-status-empty>

    <mcs-data-status-error mcsDataError>
      <span>{{ textContent.errorGettingSnapshots }}</span>
    </mcs-data-status-error>
  </mcs-data-status>
</mcs-presentation-panel>

<!-- Server Backups -->
<!-- TODO: Remove ngIf when Backups is working -->
<div *ngIf="false" class="container-wrapper">
  <h2 class="container-header">{{ textContent.serverBackups }}</h2>
  <p>{{ textContent.serverBackupsDescription }}</p>
  <div>
    <button mcsButton size="small" [disabled]="true"
      mcsId
      mcsEventTracker="request-restore"
      mcsEventCategory="server"
      mcsEventLabel="server-details-page">{{ textContent.requestRestore }}</button>
  </div>
</div>
