@import "../../../styles/shared/base";

.icon-wrapper {
  @include display-inline-flex(row);
  @include align-items(center);
  justify-content: center;
  vertical-align: middle;
}

.icon-container {
  @include display-flex(row);
  align-items: center;
  background-repeat: no-repeat;

  &.green {
    color: $color-green-00;
  }

  &.red {
    color: $color-red-00;
  }

  &.black {
    color: $color-black;
  }

  &.white {
    color: $color-white;
  }

  &.blue,
  &.primary {
    color: $color-primary-00;
  }

  &.inherit {
    color: inherit;
  }
}