<ng-container [ngSwitch]="orderWorkflowSubmitStatus">

  <!-- Message when Order was Successfully Submitted -->
  <ng-container *ngSwitchCase="orderWorkflowSubmitStatusEnum.SuccessfulSubmit">
    <h3>
      <mcs-status-message type="success" mcsAlignContent="middle-left">
        {{ 'orderCompletedStep.success.submitOrder' | translate: { orderNo: orderId } }}
      </mcs-status-message>
    </h3>
    <ng-container *ngTemplateOutlet="orderDetailsLinkTemplate"></ng-container>
  </ng-container>

  <!-- Message when Order was Successfully Saved as Draft -->
  <ng-container *ngSwitchCase="orderWorkflowSubmitStatusEnum.SavedAsDraft">
    <h3>
      <mcs-status-message type="success" mcsAlignContent="middle-left">
        {{ 'orderCompletedStep.success.draftOrder' | translate: { orderNo: orderId } }}
      </mcs-status-message>
    </h3>
  </ng-container>

  <!-- Message when Order is in progress for Submission -->
  <ng-container *ngSwitchCase="orderWorkflowSubmitStatusEnum.InProgressSubmit">
    <mcs-data-status-in-progress mcsAlignContent="middle-left">
      <div> {{ 'orderCompletedStep.inProgress.submitOrder' | translate }} </div>
    </mcs-data-status-in-progress>
  </ng-container>

  <!-- Message when Order is in progress for Save as Draft -->
  <ng-container *ngSwitchCase="orderWorkflowSubmitStatusEnum.SavingAsDraft">
    <mcs-data-status-in-progress mcsAlignContent="middle-left">
      <div> {{ 'orderCompletedStep.inProgress.draftOrder' | translate }} </div>
    </mcs-data-status-in-progress>
  </ng-container>

  <!-- Message when Order has failed when Saving as Draft -->
  <ng-container *ngSwitchCase="orderWorkflowSubmitStatusEnum.FailedDraft">
    <div> {{'orderCompletedStep.errors.draftOrder' | translate }} </div>
  </ng-container>

  <!-- Message when Order has failed in Submission -->
  <ng-container *ngSwitchCase="orderWorkflowSubmitStatusEnum.FailedSubmit">
    <div> {{'orderCompletedStep.errors.submitOrder' | translate }} </div>
  </ng-container>
</ng-container>

<!-- Go to Order Details Link Template -->
<ng-template #orderDetailsLinkTemplate>
  <div mcsAlignContent="middle-left" margin-top-medium>
    <a (click)="onOrderIdClick()">
      <strong>{{'orderCompletedStep.linkInstruction' | translate}}</strong>
    </a>
    {{'orderCompletedStep.linkLabel' | translate}}
  </div>
</ng-template>