@import "../../../../styles/shared/base";

.create-self-managed-server-container {
  position: relative;
  @include display-flex(column);

  .self-managed-items {
    @include display-flex(row);

    .server-information {
      position: relative;
      @include flex(1);
      @include display-flex(column);
      @include set-items-interval(10);

      @include breakpoint(large) {
        padding-right: 55px;
        border-right: 1px solid $color-black;
      }

     .additional-server {
       @include display-flex(row);
       align-items: center;
       background-color: $color-grey-05;
       padding: 10px 20px;

        > span {
          margin-left: 10px;
          font-family: $base-font-bold;
        }
      }

     .deployment {
        margin-left: auto;
      }
    }

    .context-information {
      margin-left: auto;
    }
  }
}
