@import "../../../../styles/shared/base";

$server-home-link-font-size: $link-default-font-size;
$main-form-minimum-size: 200px;

.create-self-managed-servers-container {
  position: relative;
  @include display-flex(column);

  .self-managed-items {
    @include display-flex(row);

    .server-information {
      position: relative;
      @include flex(1);

      @include breakpoint(large) {
        padding-right: 55px;
        border-right: 1px solid $color-black;
      }

      .server-details {
        @include display-flex(column);

        .new-servers-container {
          @include display-flex(column);
          min-height: $main-form-minimum-size;
          mcs-icon {
            margin: auto;
          }
        }

       .additional-server-container {
         background-color: $color-grey-05;
         padding: 10px 20px;
         margin-top: $space-medium;

         .add-server {
           display: inline-block;
           cursor: pointer;

           > span {
             margin-left: 10px;
             font-family: $base-font-bold;
             vertical-align: middle;
           }
         }
        }
      }

      .jobs-progress {
        @include set-items-interval($space-large, vertical);

        .link-home {
          display: block;
          @include font-size($server-home-link-font-size);
        }
      }
    }

    .context-information {
      margin-left: auto;
      position: relative;
    }
  }
}
