<section class="create-self-managed-server-container">
  <div class="mcs-page-title">
    <div class="main-title">
      <h2>{{ createServerTextContent.header }}</h2>
    </div>
  </div>

  <div class="self-managed-items">
    <div class="server-information">

      <!-- Generic Wizard -->
      <mcs-wizard (onCancel)="onNavigateToServerPage()">

        <!-- Step 1 -->
        <mcs-wizard-step stepTitle="1. Server Details">
          <section class="server-details">
            <mcs-dropdown name="dropdownDefault"
              [(ngModel)]="intellicentreValue" [dropdownData]="intellicentres"
              placeholder="Intellicentre 2 (Syd) - Managed VDC 27111006"
              [mcsContextualHelp]="contextualTextContent.intellicentre"></mcs-dropdown>

            <mcs-textbox name="textDefault" width="100%" placeholder="Enter a server name..."
              [mcsContextualHelp]="contextualTextContent.enterServerName"></mcs-textbox>

            <!--Tab Links-->
            <div class="mcs-tabs">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" role="tab"
                    [routerLink]="['new']" routerLinkActive="active">
                    {{ createServerTextContent.newServer }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" role="tab"
                    [routerLink]="['copy']" routerLinkActive="active">
                    {{ createServerTextContent.copyServer }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" role="tab"
                    [routerLink]="['clone']" routerLinkActive="active">
                    {{ createServerTextContent.cloneServer }}</a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" role="tabpanel">
                  <router-outlet></router-outlet>
                </div>
              </div>
            </div>

            <div class="additional-server">
              <mcs-icon [key]="addIconKey" size="large"></mcs-icon>
              <span>Add another server</span>
            </div>

            <!-- <div class="deployment">
              <mcs-button iconRight="arrow-right"
                (onClick)="onDeployClick($event)">Deploy</mcs-button>
            </div> -->
          </section>
        </mcs-wizard-step>

        <!-- Step 2  -->
        <mcs-wizard-step stepTitle="2. Go!">
          <section class="jobs-progress">
            <mcs-provisioning-notifications [jobs]="notifications"
              [mcsContextualHelp]="contextualTextContent.provisioningNotifications">
            </mcs-provisioning-notifications>
            <a class="link-home" (click)="onNavigateToServerPage()">Servers home</a>
          </section>
        </mcs-wizard-step>
      </mcs-wizard>

    </div>

    <div class="context-information hidden-medium">
      <mcs-contextual-help
        [contextualInformations]="getAllContextualInformations()"></mcs-contextual-help>
    </div>
  </div>
</section>