<section class="create-self-managed-servers-container">
  <div class="mcs-page-title">
    <div class="main-title">
      <h2>{{ createServerTextContent.header }}</h2>
    </div>
  </div>

  <div class="self-managed-items">
    <div class="server-information">

      <!-- Generic Wizard -->
      <mcs-wizard (onCancel)="onNavigateToServerPage()" (onComplete)="onDeployServer()">

        <!-- Step 1 -->
        <mcs-wizard-step stepTitle="1. Server Details"
          [valid]="isServersValid">
          <section class="server-details">
            <mcs-dropdown name="dropdownDefault"
              placeholder="Loading VDC..."
              [(ngModel)]="vdcValue" [dropdownData]="vdcList"
              [mcsContextualHelp]="contextualTextContent.intellicentre"></mcs-dropdown>

            <div class="new-servers-container" #selfManagedServersElement>
              <!-- This will dynamically populated during runtime when adding servers -->
               <mcs-icon *ngIf="isLoading" [key]="spinnerIconKey" size="xlarge"></mcs-icon>
            </div>

            <div class="additional-server-container">
              <div class="add-server" (click)="addServer()">
                <mcs-icon [key]="addIconKey" size="large"></mcs-icon>
                <span>Add another server</span>
              </div>
            </div>
          </section>
        </mcs-wizard-step>

        <!-- Step 2  -->
        <mcs-wizard-step stepTitle="2. Go!">
          <section class="jobs-progress" *ngIf="hasNotifications">
            <mcs-provisioning-notifications [jobs]="notifications"
              [mcsContextualHelp]="contextualTextContent.provisioningNotifications">
            </mcs-provisioning-notifications>
          </section>
        </mcs-wizard-step>
      </mcs-wizard>
    </div>

    <div class="context-information hidden-medium">
      <mcs-contextual-help
        [contextualInformations]="getAllContextualInformations()"></mcs-contextual-help>
    </div>
  </div>
</section>