<mcs-presentation-panel>
  <ng-container mcsPresentationPanelHeader>
    <mcs-item orientation="separated" full-width>
      <h2>{{ 'serverServicesOsUpdatesApplyNow.title' | translate }}</h2>
      <ng-content select="[mcsViewServicesTab]"></ng-content>
    </mcs-item>
  </ng-container>
  <p>{{ 'serverServicesOsUpdatesApplyNow.description' | translate }}</p>
  <section>

    <!-- Snapshot Options -->
    <mcs-item orientation="block">
      <strong>{{ 'serverServicesOsUpdatesApplyNow.snapshotOptionsLabel' | translate }}</strong>
      <p>{{ 'serverServicesOsUpdatesApplyNow.snapshotOptionsDescription' | translate }}</p>
      <mcs-radio-button-group [(ngModel)]="snapshot" [ngModelOptions]="{standalone: true}"
        mcsId="schedule-snapshot">
        <mcs-radio-button [value]="false">
          {{ 'serverServicesOsUpdatesApplyNow.snapshotOptions.updateWithoutSnapshot' | translate }}
        </mcs-radio-button>
        <mcs-radio-button [value]="true">
          {{ 'serverServicesOsUpdatesApplyNow.snapshotOptions.updateWithSnapshot' | translate }}
        </mcs-radio-button>
      </mcs-radio-button-group>
    </mcs-item>

    <!-- Action Buttons -->
    <mcs-item>
      <strong>
        {{ 'serverServicesOsUpdatesApplyNow.listLabel' | translate }}
      </strong>
      <button mcsButton mcsAlign="end" size="medium"
        mcsId="apply-updates-button"
        mcsEventTracker="os-updates-apply-updates-click"
        mcsEventCategory="server"
        mcsEventLabel="os-updates-apply-updates"
        (click)="applySelectedUpdates()"
        [disabled]="isApplyButtonDisabled">
        {{ 'serverServicesOsUpdatesApplyNow.applyUpdatesButton' | translate }}
      </button>
    </mcs-item>

    <mcs-data-status [dataStatusFactory]="dataStatusFactory">
      <mcs-data-status-success mcsDataSuccess>
        <!-- Tree View -->
        <div mcsScrollable class="action-box" [ngStyle]="{'max-height': '400px'}" *ngIf="osUpdates$ | async as osUpdates">
          <mcs-tree mcsId="tree-view-apply-updates"
            (selectionChange)="onTreeChange($event)"
            [disabled]="selectedServer.isProcessing">
            <mcs-tree-node-group [label]="'serverServicesOsUpdatesApplyNow.listAllSelection' | translate" checkable>
              <mcs-tree-node *ngFor="let osUpdate of osUpdates" [value]="osUpdate">
                <mcs-item>
                  <span>{{osUpdate.name}}</span>
                  <span *ngIf="!selectedServer?.isWindows" read-only> {{osUpdate.properties?.version}}</span>
                </mcs-item>
              </mcs-tree-node>
            </mcs-tree-node-group>
          </mcs-tree>
        </div>
      </mcs-data-status-success>

      <mcs-data-status-empty mcsDataEmpty>
          <span>{{ 'serverServicesOsUpdatesApplyNow.noOsUpdates' | translate }}</span>
      </mcs-data-status-empty>

      <mcs-data-status-in-progress mcsDataInProgress>
        <span>{{ 'serverServicesOsUpdatesApplyNow.osUpdatesloadingContent' | translate }}</span>
      </mcs-data-status-in-progress>

      <mcs-data-status-error mcsDataError>
        <span>{{ 'serverServicesOsUpdatesApplyNow.errorOsUpdates' | translate }}</span>
      </mcs-data-status-error>
    </mcs-data-status>
  </section>

</mcs-presentation-panel>
