@import '../../../styles/shared/base';

.mcs-filter-selector{
  // TODO: Remove override on ICON (this is for demo purposes)
  .mcs-icon {
    height: 30px !important;
    width: 30px !important;
  }

  .icon-link {
    cursor: pointer;
    position: relative;
    margin: 0px 5px;
    i {
      vertical-align: middle;
    }
  }

  ul.filters {
    @include display-flex(column);
  }
}

:host /deep/ {
  .popover[style] {
    margin-left: 60px; // Adjusment to center of parent element
    width: 200px;      // Maximum width for the filter
  }
  .popover.popover-bottom {
    &:before,
    &:after {
      left: 20%;       // Arrow adjustment
    }
  }
  .popover-title {
    font-weight: 400;
    background-color: $tooltip-color;
    text-align: left;
  }
  .popover-content {
    background-color: $tooltip-color;
    text-align: left;
  }
}
