<div class="mcs-filter-selector">
  <a class="icon-link" mcsPopover
    placement="bottom" orientation="right" theme="gray"
    [content]="filterSelectorContent"
    (hidden)="onCloseFilterSelector()">
    <i [ngClass]="iconClass"></i>
  </a>

  <ng-template #filterSelectorContent>
    <span class="mcs-popover-title">{{ filterTitle }}</span>
    <div class="mcs-popover-filters">
      <ul class="unstyled-list">
        <li *ngFor="let key of filterKeys">
          <mcs-checkbox [label]="filterItems[key].text"
            [(ngModel)]="filterItems[key].value"></mcs-checkbox>
        </li>
      </ul>
    </div>
  </ng-template>
</div>