@import '../../../styles/shared/base';

.mcs-filter-selector {
  display: inline-block;
  .icon-link {
    cursor: pointer;
    position: relative;
    display: block;
    margin: 0px 5px;
    i {
      vertical-align: middle;
    }
  }
}

.mcs-popover-title {
  display: block;
  @include font-size($filter-selector-title-font-size);
}

.mcs-popover-filters {
  li {
    padding-top: $space-small;
    @include font-size($filter-selector-content-font-size);
  }
}