<mcs-grid>
  <mcs-grid-row>
    <mcs-grid-column>
      <mcs-item orientation="block">
        <strong>{{ 'serverServices.operatingSystemUpdates.updatesScheduleTitleLabel' | translate }}</strong>
        <mcs-item>
          <mcs-icon [key]="clockKey" size="small"></mcs-icon>
          <div *ngIf="scheduleStatus$ | async as scheduleStatus">
            <span mcsId="schedule-label">{{ updatesScheduleLabel }}</span><br />
            <small read-only *ngIf="!scheduleStatus.hasErrors">
              <mcs-item orientation="inline">
                <span *ngIf="hasSchedule" mcsId="schedule-sublabel">{{ updatesScheduleSubtitleLabel }}</span>
                <span [mcsTooltip]="updatesScheduleConfigureHoverLabel(scheduleStatus)" [mcsTooltipShow]="scheduleStatus.isUpdating || scheduleStatus.isAnalysing">
                  <a mcsId="configure-schedule-link"
                    mcsEventTracker="os-updates-configure-schedule-click"
                    mcsEventCategory="server"
                    mcsEventLabel="os-updates-configure-schedule"
                    *mcsAccessControl="serverPermission.vmPatchManagement"
                    (click)="changeView()"
                    [disabled]="configureScheduleButtonDisabled(scheduleStatus)">
                    {{ 'serverServices.operatingSystemUpdates.updatesScheduleConfigureLink' | translate }}
                  </a>
                </span>
              </mcs-item>
            </small>
          </div>
        </mcs-item>
      </mcs-item>

      <mcs-item *ngIf="isRunOnce">
        <mcs-data-status-warning margin-left-large>
          <small>
            {{ updatesScheduleWarningLabel }}
          </small>
        </mcs-data-status-warning>
      </mcs-item>

    </mcs-grid-column>
  </mcs-grid-row>
</mcs-grid>