<div class="div-gateway">
  <mat-form-field
    appearance="outline"
    class="gateway-ip-field">
    <mat-label>Gateway IP</mat-label>
    <input matInput type="text" mcsId="inputGateway" [formControl]="fcGateway" />
    <mat-error *ngIf="fcGateway.hasError" [innerHTML]="gatewayErrorMessage"></mat-error>
  </mat-form-field>
</div>

<span class="divider"> / </span>

<div class="div-prefix">
  <mat-form-field
    appearance="outline"
    class="prefix-field">
    <mat-label> Prefix Length </mat-label>
    <input matInput type="number" class="number" mcsId="input-prefix" [formControl]="fcPrefix"/>
    <mat-error *ngIf="fcPrefix.hasError" [innerHTML]="prefixErrorMessage"></mat-error>
  </mat-form-field>
</div>

<div class="div-ip">
  <mat-form-field
    appearance="outline">
    <mat-label>Management IP</mat-label>
    <input matInput type="text" mcsId="management-ip" [formControl]="fcManagementIp"/>
    <mat-error *ngIf="fcManagementIp.hasError" [innerHTML]="managementIpErrorMessage"></mat-error>
  </mat-form-field>
</div>

<div class="div-network">
  <mcs-field-select-tree-view #treeViewSelect size="large"
    [formControl]="inputCtrlEth0Eth1"
    [label]="eth0Label"
    [hideChips]="false"
    [multiple]="true"
    [dataSource]="datasourceEth0Eth1"
    [expandFirst]="true"
    [selectAllByDefault]="false"
    [autoClearSelection]="false"
    [alwaysShowPanel]="true"
    [required]="true">
  </mcs-field-select-tree-view>
</div>
<div *ngIf="isEsxi" class="div-network">
  <mcs-field-select-tree-view #treeViewSelect size="large"
    [formControl]="inputCtrlEth2Eth3"
    label="Interfaces (eth2 and eth3)"
    [hideChips]="false"
    [multiple]="true"
    [dataSource]="datasourceEth2Eth3"
    [expandFirst]="true"
    [selectAllByDefault]="false"
    [autoClearSelection]="false"
    [alwaysShowPanel]="true">
  </mcs-field-select-tree-view>
</div>