@import "shared/index";

.paginator-wrapper {
  @include display-flex(row);
  @include align-items(center);
  justify-content: center;

  .paginator-load-more {
    @include display-flex(row);
    @include align-items(center);
    @include set-items-interval($space-xsmall, horizontal);
    cursor: pointer;
    border-bottom: 1px solid $color-black;
    margin-bottom: $space-large;
  }
}