@import "../../../styles/shared/base";

.paginator-wrapper {
  @include display-flex(row);
  align-items: center;
  justify-content: center;

  .load-more-container {
    @include display-flex(row);
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid $color-black;
  }
}