<mcs-grid *ngIf="antiVirusDetails$ | async as antiVirusDetails">
  <mcs-grid-row>
    <mcs-grid-column>
      <mcs-item orientation="block">
        <div style="display: flex">
          <div><strong>{{ 'serverServices.antivirus.title' | translate }}</strong></div>
          <mcs-context-menu-link
            mcsAlign="end"
            [serviceId]="antivirus.serviceId"
            [serviceChangeAvailable]="antivirus.serviceChangeAvailable"
            [hasMenuButton]="true"
            [eventCategory]="'server'"
            [eventLabel]="'antivirus-server-services'">
          </mcs-context-menu-link>
        </div>
        <mcs-item>
          <mcs-icon [key]="antiVirusDetails.icon" size="small" mcsId="antivirus-status-icon"></mcs-icon>
          <span mcsId="antivirus-status-label">{{ antiVirusDetails.label }}</span>
          <a mcsId="antivirus-status-logs-link"
            mcsEventTracker="antivirus-status-logs-link-click"
            mcsEventCategory="server"
            mcsEventLabel="antivirus-status-logs-view"
            [disabled]="server.isProcessing"
            (click)="changeView()">
            {{ 'serverServices.antivirus.logsLink' | translate }}
          </a>
        </mcs-item>
      </mcs-item>
    </mcs-grid-column>
  </mcs-grid-row>
</mcs-grid>