<mcs-accordion *ngIf="antiVirusDetails$ | async as antiVirusDetails">
    <mcs-accordion-panel>
      <mcs-accordion-panel-header mcsPanelHeaderDef>
        <mcs-item>
            <mcs-icon [key]="antiVirusDetails.icon" size="small" mcsId="antivirus-status-icon"></mcs-icon>
          <h2>{{ 'serverServices.antivirus.title' | translate }}</h2>
        </mcs-item>
      </mcs-accordion-panel-header>
      <mcs-item>
          <div>
            <small read-only>
              <mcs-item orientation="inline">
                <span mcsId="antivirus-status-label">{{ antiVirusDetails.label }}</span><br />
                <ng-container *ngIf="statusLogsLinkFlag">
                  <a mcsId="antivirus-status-logs-link"
                    mcsEventTracker="antivirus-status-logs-link-click"
                    mcsEventCategory="server"
                    mcsEventLabel="antivirus-status-logs-view"
                    (click)="changeView()">
                    {{ 'serverServices.antivirus.logsLink' | translate }}
                  </a>
                </ng-container>
              </mcs-item>
            </small>
          </div>
      </mcs-item>
    </mcs-accordion-panel>
  </mcs-accordion>