<mcs-form-field>
  <input mcsInput type="text" (keydown.space)="$event.stopPropagation()" #search placeholder="Type to search..."
    [value]="defaultValue"
    (keyup)="onChangeKeyEvent(search.value)"
    (keyup.enter)="onEnterKeyUpEvent(search.value)"
    [attr.id]="generatedId">

  <ng-container *ngIf="searching; else iconElement">
    <mcs-loader size="small"></mcs-loader>
  </ng-container>
  <ng-template #iconElement>
    <mcs-icon [key]="searchIconKey" size="small"></mcs-icon>
  </ng-template>
</mcs-form-field>