<ng-container *ngIf="selectedSaasBackup$ | async as selectedSaasBackup">
  <!-- Backup Management -->
  <mcs-presentation-panel mcsId="saas-backup-backup-management">
    <ng-container mcsPresentationPanelHeader>
      <h2>{{ 'saasBackup.backupAttempts.description' | translate }}</h2>
    </ng-container>

    <ng-container *ngIf="jobTypes | mcsIsNotNullOrEmpty; else noBackupTypeTemplate">
      <p>{{ 'saasBackup.backupAttempts.label' | translate }}</p>

      <mat-grid-list cols="12" rowHeight="60px" *ngFor="let jobType of jobTypes">
        <!-- Job Type Name -->
        <mat-grid-tile colspan="3">
          <ng-container *ngIf="jobType.typeFriendlyName; else emptyFriendlyNameTemplate">
            {{ jobType.typeFriendlyName }}
          </ng-container>
          <ng-template #emptyFriendlyNameTemplate>
            Other
          </ng-template>
        </mat-grid-tile>

        <!-- Last Backup Attempt Status, Run Time, Daily Schedule -->
        <mat-grid-tile colspan="5">
          <mcs-item>
            <mcs-icon
              [key]="jobType.lastBackupAttempt.backupStatusStateIconKey" size="small"></mcs-icon>
            <div>
              <ng-container *ngIf="!jobType.hasActiveJob; else runningTemplate">
                <!-- Status -->
                <ng-container *ngIf="hasStatusLabel(jobType.lastBackupAttempt?.status); else emptyStatusTemplate">
                  <span>{{ jobType.lastBackupAttempt.statusLabel }}</span>
                </ng-container>
                <ng-template #emptyStatusTemplate>
                  <span read-only>{{ jobType.lastBackupAttempt.statusLabel }}</span>
                </ng-template>
                <!-- Run Time -->
                <ng-container *ngIf="jobType.lastBackupAttempt.runTime; else emptyRunTimeTemplate">
                  <span> ({{ jobType.lastBackupAttempt.runTime | mcsStdDateFormat: 'short' }})</span>
                </ng-container>
                <ng-template #emptyRunTimeTemplate>
                  <span *ngIf="hasStatusLabel(jobType.lastBackupAttempt?.status)"> (None)</span>
                </ng-template>
              </ng-container>
              <ng-template #runningTemplate>
                Running  <mat-spinner margin-left-small style="display: inline" class="spinner" diameter="20" matSuffix></mat-spinner>
              </ng-template>

              <!-- Daily Schedule -->
              <small>
                <mcs-item read-only>
                  <span>{{ 'saasBackup.backupAttempts.dailySchedule' | translate }}</span>
                  <ng-container *ngIf="jobType.dailySchedule | mcsIsNotNullOrEmpty; else noDailyScheduleTemplate">
                    <span>{{ convertArrayToString(jobType.dailySchedule) }}</span>
                  </ng-container>
                  <ng-template #noDailyScheduleTemplate>
                    <span>{{ 'saasBackup.backupAttempts.noDailySchedule' | translate }}</span>
                  </ng-template>
                </mcs-item>
              </small>
            </div>
          </mcs-item>
        </mat-grid-tile>

        <!-- Attempt/Reattempt Button -->
        <mat-grid-tile colspan="4">
          <ng-container *mcsAccessControl="['SaasBackupEdit']">
            <div [mcsTooltip]="'saasBackup.backupAttempts.emptyJobType' | translate"
              [mcsTooltipShow]="!jobType.type | mcsIsNotNullOrEmpty"
              mcsTooltipPosition="bottom">
              <a *ngIf="jobType.lastBackupAttempt"
                (click)="onClickAttemptSaasBackup(selectedSaasBackup.id, jobType.type)"
                [disabled]="saasServiceHasActiveJob || (!jobType.type | mcsIsNotNullOrEmpty)">
                <ng-container *ngIf="jobType.lastBackupAttempt?.status; else reattemptTemplate">
                  {{ 'action.reattemptBackup' | translate }}
                </ng-container>
                <ng-template #reattemptTemplate>
                  {{ 'action.attemptBackup' | translate }}
                </ng-template>
              </a>
            </div>
          </ng-container>
        </mat-grid-tile>
      </mat-grid-list>
    </ng-container>
    <ng-template #noBackupTypeTemplate>
      {{ 'saasBackup.backupAttempts.noBackupTypes' | translate }}
    </ng-template>
  </mcs-presentation-panel>

  <!-- Backup History -->
  <mcs-presentation-panel mcsId="saas-backup-history">
    <ng-container mcsPresentationPanelHeader>
      <h2>{{ 'saasBackup.backupHistory.description' | translate }}</h2>
    </ng-container>
    <span>{{ 'saasBackup.backupHistory.label' | translate }}</span>

    <div style="max-height: 500px; overflow-y: auto; width: fit-content">
      <table mat-table [dataSource]="dataSource">
        
        <!-- Started On Column -->
        <ng-container matColumnDef="startedOn">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.startedOn' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.startTime | mcsIsNotNullOrEmpty; else unknownTemplate">
              <ng-container *ngIf="isDateTimeMoreThanADay(row.startTime); else lessThan24hrsTemplate">
                <span>{{ row.startTime | mcsStdDateFormat: 'weekFriendly' }}</span>
              </ng-container>
              <ng-template #lessThan24hrsTemplate>
                <span>{{ row.startTime | mcsStdDateFormat: 'shortTime' }}</span>
              </ng-template>
            </ng-container>
          </td>
        </ng-container>

        <!-- Completed On Column -->
        <ng-container matColumnDef="completedOn">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.completedOn' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.endTime | mcsIsNotNullOrEmpty; else ongoingTemplate">
              <ng-container *ngIf="isDateTimeMoreThanADay(row.endTime); else lessThan24hrsTemplate">
                <span>{{ row.endTime | mcsStdDateFormat: 'weekFriendly' }}</span>
              </ng-container>
              <ng-template #lessThan24hrsTemplate>
                <span>{{ row.endTime | mcsStdDateFormat: 'shortTime' }}</span>
              </ng-template>
            </ng-container>
            <ng-template #ongoingTemplate>
              <span read-only>{{ 'label.ongoing' | translate }}</span>
            </ng-template>
          </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.type' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.typeFriendlyName | mcsIsNotNullOrEmpty; else emptyRowFriendlyNameTemplate">
              {{ row.typeFriendlyName }}
            </ng-container>
            <ng-template #emptyRowFriendlyNameTemplate>
              <span read-only>Other</span>
            </ng-template>
          </td>
        </ng-container>

        <!-- Job Name Column -->
        <ng-container matColumnDef="jobName">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.jobName' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.jobName | mcsIsNotNullOrEmpty; else unknownTemplate">
              {{ row.jobName }}
            </ng-container>
          </td>
        </ng-container>

        <!-- Protected Users Column -->
        <ng-container matColumnDef="protectedUsers">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.protectedUsers' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.protectedUsers | mcsIsNotNullOrEmpty; else unknownTemplate">
              {{ row.protectedUsers }}
            </ng-container>
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.status' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <mcs-icon margin-right-small [key]="row.backupGeneralStatusStateIconKey" size="small"></mcs-icon>
            <ng-container *ngIf="hasStatusLabel(row.generalStatus); else emptyGeneralStatusTemplate">
              <span>{{ row.generalStatusLabel }}</span>
            </ng-container>
            <ng-template #emptyGeneralStatusTemplate>
              <span read-only>{{ row.generalStatusLabel }}</span>
            </ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"></tr>
      </table>

      <ng-template #unknownTemplate>
        <span read-only>{{ 'label.unknown' | translate }}</span>
      </ng-template>

      <!-- Table Statuses -->
      <mcs-item orientation="block">
        <div *ngIf="dataSource?.isInProgress$ | async" align="center">
          <mcs-loader size="medium"></mcs-loader>
        </div>
        <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
          <span>{{ 'saasBackup.backupAttempts.noData' | translate }} </span>
        </div>
        <div *ngIf="dataSource?.hasError$ | async" text-center>
          <div class="listing-status-wrapper">
            <span>{{ 'saasBackup.backupAttempts.errorMessage' | translate }}</span>
            <a (click)="retryDatasource()"
              mcsId
              mcsEventTracker="retry-saas-backup"
              mcsEventCategory="storage"
              mcsEventLabel="saas-backup-backup-attempt-listing-page">{{ 'action.tryAgainShortly' | translate }}</a>.
          </div>
        </div>
      </mcs-item>
    </div>
  </mcs-presentation-panel>
</ng-container>
