@import "../../../../../styles/shared/base";

:host {
  display: block;
  margin-top: $space-large;
}

.create-self-managed-server-container {
  @include display-flex(column);
  @include set-items-interval(20px);
  border: 1px solid $color-grey-06;
  padding: $space-medium;
  box-shadow: 0 2px 5px rgba($color-black,0.2);

  .mcs-tabs {
    margin-top: $space-large;

    .nav-tabs {
      justify-content: flex-start;
    }
  }
}