<mcs-tab-group [selectedTabId]="serverCreateType" (tabChanged)="onTabChanged($event)">
  <!-- New Server Tab -->
  <mcs-tab [label]="textContent.newServer" [id]="serverCreateTypeEnum.New">
    <mcs-new-self-managed-server #createServerInstance
      [resource]="resource" [serversOs]="serversOs"
      (onOutputServerDetails)="setServerDetails($event)">
    </mcs-new-self-managed-server>
  </mcs-tab>

  <!-- Clone Server Tab -->
  <mcs-tab [label]="textContent.cloneServer" [id]="serverCreateTypeEnum.Clone">
    <mcs-clone-self-managed-server #createServerInstance
      [servers]="servers" [targetServer]="targetServerId"
      (onOutputServerDetails)="setServerDetails($event)">
    </mcs-clone-self-managed-server>
  </mcs-tab>
</mcs-tab-group>