@import '../../../../styles/shared/base';

.running-notification-container {
  position: relative;
  @include display-flex(row);

  .icon {
    align-self: flex-start;
    margin-right: $space-small;
    margin-top: $space-xsmall;
    text-align: center;
  }

  .information {
    @include flex(1);
    @include display-flex(column);

    .status {
      margin-bottom: $space-xsmall;

      .description {
        @include font-size($notification-status-font-size);
        font-family: $base-font-bold;
      }

      .summary-information {
        @include font-size($notification-status-font-size);
        font-family: $base-font;
      }
    }

    .failure-message {
      margin-bottom: $space-xsmall;
      font-family: $base-font;
      @include font-size($notification-message-font-size);
    }

    .owner-info {
      display: inline-block;
      color: $color-grey-02;
      font-family: $base-font;
      @include font-size($notification-message-font-size);

      .name {
        margin-left: $space-small;
      }
    }
  }
}