<mcs-wizard [header]="textContent.header" (completed)="createServer()">

  <!-- Top panel action -->
  <ng-container *mcsWizardTopPanelDef>
    <mcs-action-item class="right-align" (click)="gotoServers()"
      mcsEventTracker="back-to-server-listing"
      mcsEventCategory="server"
      mcsEventLabel="create-new-server-page">
      <mcs-icon [key]="backIconKey" size="large"></mcs-icon>
      <span>{{ textContent.backToServers }}</span>
    </mcs-action-item>
  </ng-container>

  <!-- Server details -->
  <mcs-wizard-step [stepTitle]="textContent.serverDetailsStep.title"
    [stepControl]="faCreationForms">
    <!-- Loader settings -->
    <div [mcsLoader]="[resourcesSubscription, resourceSubscription]"
      [mcsLoaderHideElement]="serverDetailsStep"
      [mcsLoaderText]="textContent.serverDetailsStep.loading"
      mcsLoaderOrientation="top"></div>

    <div class="limited-view">
      <div class="contextual-help-page-wrapper" #serverDetailsStep>
        <mcs-form-field>
          <mcs-select placeholder="Select a VDC"
            [(ngModel)]="selectedResource"
            (change)="onChangeResource($event)"
            [mcsContextualHelp]="textHelpContent.vdcField">
            <mcs-select-group [header]="textContent.vdcDropdownList.name">
              <ng-container *ngFor="let item of resources">
                <mcs-select-item *ngIf="resourceHasAccess(item)" [value]="item">
                  {{ getResourceDisplayedText(item) }}
                </mcs-select-item>
              </ng-container>
            </mcs-select-group>
          </mcs-select>
        </mcs-form-field>

        <ng-container *ngFor="let item of serverComponents">
          <div class="space-top-medium">
            <mcs-tab-group [(selectedTabId)]="selectedTabIndex">
              <!-- New Server Tab -->
              <mcs-tab [label]="textContent.newServer.title" [id]="serverCreateTypeEnum.New">
                <p class="space-bottom-medium">{{ textContent.newServer.description }}</p>

                <ng-container *ngIf="selectedTabIndex === serverCreateTypeEnum.New">
                  <mcs-new-server #serverBase
                    [resource]="selectedResource"
                    [serviceType]="selectedResource?.serviceType"></mcs-new-server>
                </ng-container>
              </mcs-tab>

              <!-- Clone Server Tab -->
              <mcs-tab [label]="textContent.cloneServer.title" [id]="serverCreateTypeEnum.Clone">
                <p class="space-bottom-medium">{{ textContent.cloneServer.description }}</p>

                <ng-container *ngIf="selectedTabIndex === serverCreateTypeEnum.Clone">
                  <mcs-clone-server #serverBase
                    [serviceType]="selectedResource?.serviceType"></mcs-clone-server>
                </ng-container>
              </mcs-tab>
            </mcs-tab-group>
          </div>
        </ng-container>

        <div class="wizard-step-actions">
          <button mcsWizardStepNext mcsButton size="small" arrow="right"
            (click)="validateFormFields()"
            mcsEventTracker="step-1-next"
            mcsEventCategory="server"
            mcsEventLabel="create-new-server-page">Next</button>
        </div>
      </div>
    </div>
  </mcs-wizard-step>

  <!-- Add-ons Step -->
  <mcs-wizard-step *ngIf="selectedResource?.serviceType === serviceTypeEnum.Managed"
    [stepTitle]="textContent.serverAddOnsStep.title">

    <div class="limited-view">
      <div class="contextual-help-page-wrapper">
        <p>{{ textContent.serverAddOnsStep.description }}</p>

        <div class="block-items-large">
          <mcs-collapsible-panel [header]="textContent.serverAddOnsStep.antiMalwareAddOn"
            [mcsContextualHelp]="textHelpContent.antiMalwareAddOn">
            <mcs-anti-malware-addon></mcs-anti-malware-addon>
          </mcs-collapsible-panel>

          <mcs-collapsible-panel [header]="textContent.serverAddOnsStep.disasterRecoveryAddOn"
            [mcsContextualHelp]="textHelpContent.disasterRecoveryAddOn">
            <mcs-disaster-recovery-addon></mcs-disaster-recovery-addon>
          </mcs-collapsible-panel>

          <mcs-collapsible-panel [header]="textContent.serverAddOnsStep.sqlServerAddOn"
            [mcsContextualHelp]="textHelpContent.sqlServerAddOn">
            <mcs-sql-server-addon></mcs-sql-server-addon>
          </mcs-collapsible-panel>
        </div>

        <div class="wizard-step-actions">
          <a mcsWizardStepPrevious>Back</a>
          <button mcsButton size="small" arrow="right" mcsWizardStepNext>Next</button>
        </div>
      </div>
    </div>
  </mcs-wizard-step>

  <!-- Confirm Step  -->
  <mcs-wizard-step *ngIf="selectedResource?.serviceType === serviceTypeEnum.Managed"
    [stepTitle]="textContent.serverConfirmStep.title">

    <div class="limited-view">
      <div class="contextual-help-page-wrapper">
        <h4 class="space-bottom-small">{{ textContent.serverConfirmStep.header }}</h4>
        <p>{{ textContent.serverConfirmStep.description }}</p>

        <div class="block-items-large">
          <!--  -->
        </div>

        <div class="wizard-step-actions">
          <a mcsWizardStepPrevious>Back</a>
          <button mcsButton size="small" arrow="right" mcsWizardStepNext>Next</button>
        </div>
      </div>
    </div>
  </mcs-wizard-step>

  <!-- Go! Step  -->
  <mcs-wizard-step [stepTitle]="textContent.serverGoStep.title">
    <div class="limited-view">
      <div [ngSwitch]="dataStatusFactory?.dataStatus">
        <!-- Success -->
        <ng-container *ngSwitchCase="dataStatusEnum.Success">
          <mcs-provisioning-notifications [jobs]="notifications">
            <p mcsProvisioningText>{{ textContent.description }}</p>
          </mcs-provisioning-notifications>
        </ng-container>

        <!-- Error -->
        <ng-container *ngSwitchCase="dataStatusEnum.Error">
          <mcs-alert type="failed" [header]="errorResponse?.message">
            <ng-container *ngFor="let error of errorResponse?.errors">
              <span>{{ error.message }}</span>
            </ng-container>
          </mcs-alert>
        </ng-container>
      </div>
    </div>
  </mcs-wizard-step>
</mcs-wizard>

<!-- Quote Widget -->
<!-- TODO: The value should be changed when order endpoint was finalized -->
<ng-container *ngIf="selectedResource?.serviceType === serviceTypeEnum.Managed">
  <mcs-quote-widget>
    <ng-container mcsQuoteWidgetHeader>
      <span>Total Cost: $200</span>
    </ng-container>

    <div class="space-between-inline-items">
      <span>- Monthly cost</span>
      <span>: $150</span>
    </div>

    <div class="space-between-inline-items">
      <span>- One-off cost</span>
      <span>: $50</span>
    </div>
  </mcs-quote-widget>
</ng-container>