<!-- Tree Node Group Label -->
<div class="tree-node-group-label">
  <button mcsButton="icon" (click)="togglePanel()">
    <div [@rotate45]="panelOpen ? 'rotate' : 'void'">
      <mcs-icon size="small" [key]="caretRightIconKey"></mcs-icon>
    </div>
  </button>

  <mcs-checkbox (statusChange)="onTickCheckbox($event)"
    [disabled]="!checkable"
    [indeterminate]="hasSelectedNode && !allNodesAreSelected"
    [checked]="allNodesAreSelected">
    <ng-container *ngTemplateOutlet="labelContentTemplate"></ng-container>
  </mcs-checkbox>

  <ng-template #labelContentTemplate>
    <ng-container *ngIf="labelTemplate; else basicLabelTemplate">
      <ng-container *ngTemplateOutlet="labelTemplate?.templateRef"></ng-container>
    </ng-container>
    <ng-template #basicLabelTemplate>
      <span>{{ label }}</span>
    </ng-template>
  </ng-template>
</div>

<!-- Tree Node Group Content -->
<div class="tree-node-group-contents" [@expansionVertical]="panelOpen ? 'expanded' : 'collapsed'">
  <ng-content></ng-content>
</div>
