<!-- Main navigation for desktop/tablet -->
<div class="navigation-desktop-wrapper">

  <!-- Navigation list from template binding -->
  <ng-content></ng-content>

  <!-- Macquarie Link View -->
  <div class="macquarie-link">
    <ng-container *ngIf="productCatalogFeatureIsOn; else macquarieViewTemplate">
      <a (click)="gotoProduct('product')" class="inline-items-xsmall">
        <span>{{ textContent.productCatalog }}</span>
        <mcs-icon [key]="caretDownIconKey" size="medium" color="white"></mcs-icon>
      </a>
    </ng-container>

    <ng-template #macquarieViewTemplate>
      <a [href]="macquarieViewUrl" target="_blank" class="inline-items-xsmall">
        <mcs-icon [key]="arrowUpIconKey" size="large"></mcs-icon>
        <span>{{ textContent.macquarieView }}</span>
      </a>
    </ng-template>
  </div>
</div>