<!-- Main navigation for desktop/tablet -->
<div class="navigation-desktop-wrapper">

  <!-- Navigation list from template binding -->
  <ng-content></ng-content>

  <!-- Macquarie Link View -->
  <div class="macquarie-link">
    <ng-template #macquarieViewTemplate>
      <a [href]="macviewUrl" target="_blank"
        mcsId="macquarie-view"
        mcsEventTracker="macquarie-view"
        mcsEventCategory="navigation"
        mcsEventLabel="main-nav">
        <mcs-item>
          <mcs-icon [key]="arrowUpIconKey" size="large"></mcs-icon>
          <span>{{ 'navigation.macquarieView' | translate }}</span>
        </mcs-item>
      </a>
    </ng-template>
  </div>
</div>