<!-- Main navigation for desktop/tablet -->
<div class="navigation-desktop-wrapper">

  <!-- Navigation list from template binding -->
  <ng-content></ng-content>

  <!-- Ordering Dashboard Link -->
  <div class="ordering-dashboard">
    <ng-container *mcsAccessControl="['OrderEdit'];">
      <div class="navigation-item" [class.active]="selectedCategory === routerCategoryEnum.MakeAChange">
        <a mcsCursor="pointer"
          mcsId="ordering-dashboard"
          mcsEventTracker="ordering-dashboard"
          mcsEventCategory="navigation"
          mcsEventLabel="main-nav"
          [mcsRouterLink]="routeKeyEnum.OrdersDashboard">
          {{ 'navigation.makeAChange' | translate }}
        </a>
      </div>
    </ng-container>
  </div>
</div>