@import "../../../../styles/shared/base";

// Items variables
$navigation-desktop-item-font: $circular-pro-bold;
$navigation-desktop-item-padding: $space-small $space-medium;
$navigation-desktop-item-color: $color-black;
$navigation-desktop-item-active-bg-color: $color-white;

// Ordering Dashboard Link variables
$navigation-desktop-ordering-dashboard-link-color: $color-white;
$navigation-desktop-ordering-dashboard-link-bg-color: $color-grey-01;
$navigation-desktop-ordering-dashboard-link-color-hover: $color-black;
$navigation-desktop-ordering-dashboard-link-bg-color-hover: $color-white;

// Main desktop navigation
.navigation-desktop-wrapper {
  @include display-flex(row);
  z-index: $zindex-navigation;

  .navigation-item {
    cursor: pointer;

    a {
      display: block;
      text-decoration: none;
      font-family: $navigation-desktop-item-font;
      padding: $navigation-desktop-item-padding;
    }

    &:hover,
    &.active {
      background-color: $navigation-desktop-item-active-bg-color;
      a {
        color: $navigation-desktop-ordering-dashboard-link-color-hover;
        background-color: $navigation-desktop-ordering-dashboard-link-bg-color-hover;
      }
    }
  }

  .ordering-dashboard {
    cursor: pointer;
    margin-left: auto;
    background-color: $navigation-desktop-ordering-dashboard-link-bg-color;
    @include display-flex(row);
    @include align-items(center);

    a {
      color: $navigation-desktop-ordering-dashboard-link-color;
      display: block;
      text-decoration: none;
      font-family: $navigation-desktop-item-font;
      padding: $navigation-desktop-item-padding;

      &:hover {
        text-decoration: none;
        color: $navigation-desktop-ordering-dashboard-link-color-hover;
        background-color: $navigation-desktop-ordering-dashboard-link-bg-color-hover;
      }
    }
  }
}