<section>
  <mcs-item orientation="separated">
    <mcs-note>
      <p [innerHTML]="'message.avdDailyUserNote' | translate"></p>
    </mcs-note>

    <div></div>

    <mcs-item>
      <mcs-field-select size="medium" auto-width
        mcsId="select-month"
        [label]="'label.month' | translate"
        [dataSource]="'Month' | mcsFieldSelect"
        [formControl]="fcMonth"
        [disabled]="dataProcess.inProgress$ | async">
      </mcs-field-select>
    </mcs-item>
  </mcs-item>

  <mcs-avd-daily-users-service-widget
    [dataProcess]="dataProcess"
    [dataRecords]="dailyUsers$ | async">
  </mcs-avd-daily-users-service-widget>
</section>