<div mat-dialog-title>
  <h3>{{ dialogData?.title }}</h3>
</div>

<div mat-dialog-content>
  <ng-container *ngIf="isMessageTemplate; else messageTemplate">
    <ng-container *ngTemplateOutlet="dialogData?.message"></ng-container>
  </ng-container>
  <ng-template #messageTemplate>
    <span [innerHTML]="dialogData?.message"></span>
  </ng-template>

  <mat-form-field appearance="outline" margin-top-large>
    <mat-label>{{ dialogData.placeholder }}</mat-label>

    <input matInput type="text" [formControl]="fcInput">
    <mat-error *ngIf="fcInput?.hasError('required')">
      {{ 'message.fieldIsRequired' | translate }}
    </mat-error>
    <mat-error *ngIf="fcInput?.hasError('mismatched') && !fcInput?.hasError('required')">
      {{ 'message.fieldInputMismatched' | translate }}
    </mat-error>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">
    {{ cancelText }}
  </button>
  <button mat-flat-button color="primary" cdkFocusInitial (click)="onConfirmClick()">
    {{ confirmText }}
  </button>
</div>
