<mcs-page [header]="'mediaUpload.header' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>

    <!-- Back to Servers -->
    <mcs-top-panel-item *mcsTopPanelItemDef no-border>
      <mcs-action-item mcsAlign="end" mcsId
        mcsRouterLink="Media"
        mcsEventTracker="back-to-media-listing"
        mcsEventCategory="media"
        mcsEventLabel="create-new-server-page">
        <mcs-icon [key]="backIconKey" size="small"></mcs-icon>
        <span>{{ 'mediaUpload.backToMedia' | translate }}</span>
      </mcs-action-item>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>

    <mcs-wizard [header]="'mediaUpload.header' | translate">

      <!-- Server Details Step-->
      <mcs-wizard-step id="media-details"
        [stepTitle]="'mediaUpload.mediaStepDetails.label' | translate"
        customClass="contextual-help-page-wrapper limited-view">

        <mcs-media-upload-details></mcs-media-upload-details>
      </mcs-wizard-step>

      <!-- Go! Step  -->
      <mcs-wizard-step id="go-step"
        [stepTitle]="'mediaUpload.mediaStepGo.label' | translate"
        customClass="limited-view">

        <mcs-step-provisioning [jobs]="jobs$ | async" [requestState]="dataStatus$ | async">
          <ng-container mcsProvisioningStepDescription>
            {{ 'mediaUpload.mediaStepGo.description' | translate }}
          </ng-container>

          <ng-container mcsProvisioningStepInProgress>
            {{ 'mediaUpload.mediaStepGo.dataInProgress' | translate }}
          </ng-container>
        </mcs-step-provisioning>
      </mcs-wizard-step>
    </mcs-wizard>

  </mcs-content-panel>
</mcs-page>