<div style="margin-bottom: 16px;">
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>

<mat-accordion #accordion="matAccordion" multi displayMode="flat" class="workflow-provision-panel">
  <mat-expansion-panel *ngFor="let workflow of workflows" [class.parent]="workflow.serviceId" [expanded]="true">
    <mat-expansion-panel-header style="position: relative;">
      <mat-panel-title>
        <h3>{{ workflow.title }}</h3>
      </mat-panel-title>
      <mat-panel-description style="flex-grow: 0;">
        {{ workflow.serviceId }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div>
      <span>{{ getTaskInfo(workflow)?.description }}</span>
      <small style="position: absolute; right: 21px;">{{ getTaskInfo(workflow)?.summaryInformation }}</small>
      <br />
      <br />
      <mat-progress-bar [mode]="getTaskInfo(workflow)?.status < 2 ? 'indeterminate' : 'determinate'" [color]="getTaskInfo(workflow)?.status < 3 ? 'primary' : 'warn'"></mat-progress-bar>
      <br />
      <!-- <p>
        13-10-2020 07:30:20 Something is done
      </p>
      <p>
        13-10-2020 07:30:20 Something is done
      </p> -->
    </div>
  </mat-expansion-panel>
</mat-accordion>