<div style="margin-bottom: 16px;">
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>

<mat-accordion #accordion="matAccordion" multi displayMode="flat" class="workflow-provision-panel">
  <mat-expansion-panel
    *ngFor="let workflow of workflows"
    [class.parent]="workflow.serviceId"
    [class.child]="workflow.parentReferenceId"
    [expanded]="true">
    <mat-expansion-panel-header style="position: relative;">
      <mat-panel-title>
        <h3>{{ workflow.title }}</h3>
      </mat-panel-title>
      <mat-panel-description style="flex-grow: 0;">
        {{ workflow.serviceId }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div>
      <div>
        <span>{{ getTaskInfo(workflow)?.description }}</span>
        <span style="position: absolute; right: 21px;">{{ getTaskInfo(workflow)?.summaryInformation }}</span>
      </div>
      <div style="margin-top: 10px" *ngIf="getTaskInfo(workflow)?.status >= 3">
        <small>{{ getTaskInfo(workflow)?.errorMessage }}</small>
      </div>
      <br />
      <mat-progress-bar [mode]="getTaskInfo(workflow)?.status < 2 ? 'indeterminate' : 'determinate'" [color]="getTaskInfo(workflow)?.status < 3 ? 'primary' : 'warn'"></mat-progress-bar>
      <br />
      <mcs-cta-list>
        <mcs-cta-list-panel *ngFor="let log of getTaskInfo(workflow)?.logs" [icon]="log.logType === 'ERROR' ? errorIcon : infoIcon" compact="true">
          <mcs-cta-list-body>
            <small> {{ log.loggedOn | mcsStdDateFormat }} </small>
          </mcs-cta-list-body>
          <mcs-cta-list-action>
            <small>{{ log.message }}</small>
          </mcs-cta-list-action>
        </mcs-cta-list-panel>
      </mcs-cta-list>
    </div>
  </mat-expansion-panel>
</mat-accordion>
