<!-- Input Field -->
<mat-form-field appearance="outline" #viewFormField
  class="mcs-tree-dropdown-trigger"
  [class.mcs-tree-dropdown-trigger-fullwidth]="alwaysShowPanel"
  (click)="onTogglePanel()">
  <mat-label>{{ treeViewLabel }}</mat-label>

  <ng-container *ngIf="hideChips; else chipsView">
    <input matInput *ngIf="selectedNodes$ | async"
      [disabled]="disabled"
      (blur)="onBlurInput()"
      (keydown)="onKeyDown($event)"
      [formControl]="fcTreeSearch">
  </ng-container>

  <ng-template #chipsView>
    <mat-chip-list #chipList *ngIf="selectedNodes$ | async as selectedNodes">
      <mat-chip *ngFor="let node of selectedNodes"
        [selectable]="false"
        [removable]="false">
        {{ node.name }}
      </mat-chip>

      <input matInput
        [disabled]="disabled"
        [placeholder]="displayedLabel"
        (blur)="onBlurInput()"
        (keydown)="onKeyDown($event)"
        [formControl]="fcTreeSearch"
        [matChipInputFor]="chipList">
    </mat-chip-list>
  </ng-template>

  <mcs-loader margin-bottom-small *ngIf="processOnGoing$ | async" size="small" matSuffix></mcs-loader>
  <mat-error mcsFieldErrorMessage="selectTreeView">{{ displayedErrorMessage }}</mat-error>
</mat-form-field>

<!-- Show / Hide the content panel -->
<ng-container *ngIf="!alwaysShowPanel; else alwaysShowViewTemplate">
  <div cdkOverlayOrigin #viewOverlayTrigger="cdkOverlayOrigin">
    <!-- Template for tree view -->
    <ng-template cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="viewOverlayTrigger"
      [cdkConnectedOverlayMinWidth]="itemWidthInPx"
      [cdkConnectedOverlayOpen]="panelOpen">

      <ng-container *ngIf="panelOpen">
        <div role="tree" [tabindex]="0"
          class="mcs-tree-node-panel">

          <cdk-virtual-scroll-viewport #viewPortScroll
            [itemSize]="itemHeightInPx" appendOnly
            [style.height]="viewportHeight"
            class="mcs-tree-scroll-container">

            <ng-container *cdkVirtualFor="let node of treeDatasource; trackBy: trackByIndex">
              <ng-container *ngTemplateOutlet="optionViewTemplate; context: {$implicit: node}"></ng-container>
            </ng-container>
          </cdk-virtual-scroll-viewport>

          <ng-container *ngIf="!noDisplayOnNoRecords">
            <div [mcsGreyedOut]="true" padding-small *ngIf="treeControl?.dataNodes?.length === 0">
              {{ noItemsText }}
            </div>
          </ng-container>

          <div padding-small *ngIf="processOnGoing$ | async">
            {{ 'message.loadingItems' | translate }}
          </div>
        </div>
      </ng-container>
    </ng-template>
  </div>
</ng-container>

<!-- Always show panel view template -->
<ng-template #alwaysShowViewTemplate>
  <div role="tree" [tabindex]="0"
    class="mcs-tree-node-panel"
    [class.mcs-tree-node-panel-always-open]="alwaysShowPanel">

    <ng-container *ngFor="let node of treeControl?.dataNodes; trackBy: trackByIndex">
      <ng-container *ngTemplateOutlet="optionViewTemplate; context: {$implicit: node}"></ng-container>
    </ng-container>

    <ng-container *ngIf="!noDisplayOnNoRecords">
      <div [mcsGreyedOut]="true" padding-small *ngIf="treeControl?.dataNodes?.length === 0">
        {{ noItemsText }}
      </div>
    </ng-container>

    <div padding-small *ngIf="processOnGoing$ | async">
      {{ 'message.loadingItems' | translate }}
    </div>
  </div>
</ng-template>

<!-- Option View Template for common rendering -->
<ng-template #optionViewTemplate let-node>
  <mcs-option role="treeitem" class="mcs-tree-node-option"
    (click)="onClickItem($event, node)"
    [ngStyle]="{'pointer-events': 'auto'}"
    [disabled]="node.disableWhen && node.disableWhen(node.data)"
    [mcsTooltip]="node.tooltipFunc && node.tooltipFunc(node.data)"
    [mcsTooltipShow]="node.disableWhen && node.disableWhen(node.data)"
    [style.padding-left]="node.level * 12 + 'px'">

    <!-- Non-expandable view by default -->
    <ng-container *ngIf="!node.expandable; else expandableTemplate">
      <div class="mcs-node-expand-trigger" disabled></div>

      <ng-container *ngIf="node.selectable && multiple; else nonSelectableView">
        <mcs-checkbox
          [disabled]="node.disableWhen && node.disableWhen(node.data)"
          [checked]="itemIsChecked(node)">
          <div [mcsTextTruncate]="node.name">
            <span [innerHTML]="node.name"></span>
            <small [mcsGreyedOut]="true" *ngIf="node.inlinescript" class="mcs-inline-script">{{ node.inlinescript }}</small>
            <small [mcsGreyedOut]="true" *ngIf="node.subscript" class="mcs-subscript">{{ node.subscript }}</small>
          </div>
        </mcs-checkbox>
      </ng-container>

      <ng-template #nonSelectableView>
        <div [mcsTextTruncate]="node.name">
          <span [innerHTML]="node.name"></span>
          <small [mcsGreyedOut]="true" *ngIf="node.inlinescript" class="mcs-inline-script">{{ node.inlinescript }}</small>
          <small [mcsGreyedOut]="true" *ngIf="node.subscript" class="mcs-subscript">{{ node.subscript }}</small>
        </div>
      </ng-template>
    </ng-container>

    <!-- For Expandable view -->
    <ng-template #expandableTemplate>
      <div class="mcs-node-expand-trigger" (click)="onToggleNode($event, node)">
        <div [@rotate45]="itemIsExpanded(node) ? 'rotate' : 'void'">
          <mcs-icon size="small" key="chevron-right"></mcs-icon>
        </div>
      </div>

      <ng-container *ngIf="node.selectable && multiple; else nonSelectableView">
        <mcs-checkbox
          [disabled]="node.disableWhen && node.disableWhen(node.data)"
          [indeterminate]="itemIsInDeterminate(node)"
          [checked]="itemIsChecked(node)">

          <div [mcsTextTruncate]="node.name">
            <span [innerHTML]="node.name"></span>
            <small [mcsGreyedOut]="true" *ngIf="node.inlinescript" class="mcs-inline-script">{{ node.inlinescript }}</small>
            <small [mcsGreyedOut]="true" *ngIf="node.subscript" class="mcs-subscript">{{ node.subscript }}</small>
          </div>
        </mcs-checkbox>
      </ng-container>

      <ng-template #nonSelectableView>
        <div [mcsTextTruncate]="node.name">
          <span [innerHTML]="node.name" class="mcs-node-expandable-text"></span>
          <small [mcsGreyedOut]="true" *ngIf="node.inlinescript" class="mcs-inline-script">{{ node.inlinescript }}</small>
          <small [mcsGreyedOut]="true" *ngIf="node.subscript" class="mcs-subscript">{{ node.subscript }}</small>
        </div>
      </ng-template>
    </ng-template>
  </mcs-option>
</ng-template>
