<div class="tree-node-label">
  <button disabled mcsButton="icon"></button>

  <mcs-checkbox (statusChange)="onTickCheckbox($event)"
    [checked]="selected"
    [disabled]="!checkable">
    <ng-container *ngTemplateOutlet="labelContentTemplate"></ng-container>
  </mcs-checkbox>

  <ng-template #labelContentTemplate>
    <ng-content></ng-content>
  </ng-template>
</div>

<!-- Tree Node Context when toggled -->
<div [@expansionVertical]="selected ? 'expanded' : 'collapsed'" class="tree-node-content">
  <ng-content select="[mcsTreeNodeContent]"></ng-content>
</div>