<ng-container [ngSwitch]="serverManagementView" *ngIf="serverDetails$ | async as serverDetails">
  <!-- Management view by default -->
  <div [@fadeIn] *ngSwitchDefault>

    <mcs-grid>
      <mcs-grid-row>
        <!-- VM Properties -->
        <mcs-grid-column sizeSm="12">
          <mcs-presentation-panel mcsId="vm-properties">
            <ng-container mcsPresentationPanelHeader>
              <h2>{{ 'serverManagement.vmProperties.title' | translate }}</h2>
            </ng-container>

            <mcs-item>
              <span>{{ 'serverManagement.vmProperties.status' | translate }}:</span>
              <span [innerHTML]="serverDetails.server.statusLabel | mcsDataLabel"></span>
            </mcs-item>

            <mcs-item>
              <span>{{ 'serverManagement.vmProperties.image' | translate }}:</span>
              <span [innerHTML]="serverDetails.server.operatingSystem?.guestOs | mcsDataLabel"></span>
            </mcs-item>

            <mcs-item>
              <span>{{ 'serverManagement.vmProperties.zone' | translate }}:</span>
              <span [innerHTML]="serverDetails.server.availabilityZone | mcsDataLabel"></span>
            </mcs-item>

            <mcs-item>
              <span>{{ 'serverManagement.vmProperties.configuration' | translate }}:</span>
              <span>{{ serverDetails.server.compute?.memoryMB | mcsDataSize: 'MB' }}</span>
              <span> / </span>
              <span>{{ serverDetails.server.compute?.cpuCount | number }} vCPU</span>
              <ng-container *mcsAccessControl="serverPermision.vmEdit">
                <mcs-loader *ngIf="scaleInProgress" size="small"
                  [mcsTooltip]="'serverManagement.manageScale.scaling' | translate"></mcs-loader>
                <ng-container *ngIf="serverDetails.server.scaleable">
                  <a *ngIf="!scaleInProgress"
                    (click)="setViewMode(serverManagementViewEnum.ManageScale)"
                    mcsId
                    mcsEventTracker="scale-option"
                    mcsEventCategory="server"
                    mcsEventLabel="server-details-page"
                    [disabled]="!serverDetails.server.executable">
                    {{ 'serverManagement.manageScale.scale' | translate }}</a>
                </ng-container>
              </ng-container>
              <ng-container *mcsAccessControl="[OrderEdit]; feature: 'enableManagedServerScale'">
                <ng-container *ngIf="!serverDetails.server.isDedicated && !serverDetails.server.isSelfManaged">
                  <a (click)="navigateToScaleManagedServer(serverDetails.server)"
                    mcsId="scale-manage-server"
                    mcsEventTracker="scale-managed-server-click"
                    mcsEventCategory="orders"
                    mcsEventLabel="scale-managed-server"
                    [disabled]="!serverDetails.server.executable">
                    {{ 'serverManagement.manageScale.scale' | translate }}</a>
                </ng-container>
              </ng-container>
            </mcs-item>

            <mcs-item>
              <span>{{ 'serverManagement.vmProperties.vmwareTools' | translate }}:</span>
              <ng-container *ngIf="serverDetails.server.vmwareTools?.hasTools; else vmwareTemplate">
                <span>{{ serverDetails.server.vmwareTools?.version }}</span>
              </ng-container>

              <ng-template #vmwareTemplate>
                <mcs-data-status-empty [mcsTooltip]="'servers.toolsUnavailable' | translate">
                  {{ 'servers.toolsNotInstalled' | translate }}
                </mcs-data-status-empty>
              </ng-template>
            </mcs-item>

            <mcs-item *ngIf="serverDetails.server.vApp && !serverDetails.server.isDedicated">
              <span>{{ 'serverManagement.vmProperties.vApp' | translate }}:</span>
              <span [innerHTML]="serverDetails.server.vApp"></span>
            </mcs-item>
          </mcs-presentation-panel>
        </mcs-grid-column>

        <!-- VM Console -->
        <mcs-grid-column sizeSm="12" hidden-small
          *mcsAccessControl="[]; feature: 'enableDedicatedVmConsole';
            validateWhen: serverDetails.server.isDedicated">

          <mcs-presentation-panel mcsId="vm-console">
            <ng-container mcsPresentationPanelHeader>
              <h2>{{ 'serverManagement.vmConsole.title' | translate }}</h2>
            </ng-container>

            <ng-container *ngIf="!serverDetails.server.consoleEnabled; else consoleTemplate">
              <mcs-item orientation="block">
                <div>
                  <mcs-icon [key]="consoleIconKey" size="110px"></mcs-icon>
                </div>
                <div read-only>
                  <span *ngIf="serverDetails.server.isPoweredOff">
                    {{ 'serverManagement.vmConsole.serverPoweredOff' | translate }}
                  </span>
                  <span *ngIf="serverDetails.server.isSuspended">
                    {{ 'serverManagement.vmConsole.serverSuspended' | translate }}
                  </span>
                </div>
              </mcs-item>
            </ng-container>

            <ng-template #consoleTemplate>
              <div display-inline-block mcsCursor="pointer"
                [disabled]="serverDetails.server.isProcessing"
                (click)="viewConsole(serverDetails.server)"
                mcsId
                mcsEventTracker="view-console"
                mcsEventCategory="server"
                mcsEventLabel="server-details-page">
                <div class="image-thumbnail dark" mcsCursor="pointer">
                  <img display-block full-width [attr.src]="serverThumbnail$ | async"/>
                </div>
                <a>{{ 'serverManagement.vmConsole.link' | translate }}</a>
              </div>
            </ng-template>
          </mcs-presentation-panel>
        </mcs-grid-column>
      </mcs-grid-row>

      <mcs-grid-row>
        <!-- VM Storage -->
        <mcs-grid-column sizeSm="12">
          <mcs-presentation-panel mcsId="vm-storage">
            <ng-container mcsPresentationPanelHeader>
              <mcs-item>
                <h2>{{ 'serverManagement.storage.title' | translate }}</h2>
                <ng-container *mcsAccessControl="serverPermision.vmEdit">
                  <a *ngIf="!serverDetails.server.isDedicated"
                    [disabled]="!serverDetails.server.executable"
                    (click)="navigateServerDetailsTo(serverDetails.server, routeKeyEnum.ServerDetailsStorage)"
                    mcsId
                    mcsEventTracker="manage-storage"
                    mcsEventCategory="server"
                    mcsEventLabel="server-details-page">
                    {{ 'serverManagement.storage.manage' | translate }}
                  </a>
                </ng-container>
              </mcs-item>
            </ng-container>

            <ng-container *ngIf="serverDetails.server.storageDevices | mcsIsNotNullOrEmpty; else noDisks">
              <mcs-list spacing="xsmall">
                <mcs-list-item *ngFor="let storage of serverDetails.server.storageDevices">
                  <mcs-item>
                    <span>{{ storage.name }}:</span>
                    <span [innerHTML]="(storage.sizeMB | mcsDataSize: 'MB') | mcsDataLabel"></span>
                  </mcs-item>
                </mcs-list-item>
              </mcs-list>
            </ng-container>

            <ng-template #noDisks>
              <mcs-data-status-empty>
                {{ 'serverManagement.storage.noContentMessage' | translate }}
              </mcs-data-status-empty>
            </ng-template>
          </mcs-presentation-panel>
        </mcs-grid-column>

        <!-- VM NICs -->
        <mcs-grid-column sizeSm="12">
          <mcs-presentation-panel mcsId="vm-nics">
            <ng-container mcsPresentationPanelHeader>
              <mcs-item>
                <h2>{{ 'serverManagement.nics.title' | translate }}</h2>
                <ng-container *mcsAccessControl="serverPermision.vmNicEdit">
                  <a *ngIf="!serverDetails.server.isDedicated"
                    [disabled]="!serverDetails.server.executable"
                    (click)="navigateServerDetailsTo(serverDetails.server, routeKeyEnum.ServerDetailsNics)"
                    mcsId
                    mcsEventTracker="manage-nics"
                    mcsEventCategory="server"
                    mcsEventLabel="server-details-page">
                    {{ 'serverManagement.nics.manage' | translate }}
                  </a>
                </ng-container>
              </mcs-item>
            </ng-container>

            <ng-container *ngIf="serverDetails.server.nics | mcsIsNotNullOrEmpty; else noContentMessage">
              <mcs-accordion [multi]="true">
                <mcs-accordion-panel *ngFor="let nic of serverDetails.server.nics; let i = index"
                  [expanded]="i === 0">
                  <mcs-accordion-panel-header mcsPanelHeaderDef>
                    <span>{{ nic.name }}</span>
                    <span *ngIf="nic.isPrimary">({{ 'serverManagement.nics.primary' | translate }})</span>
                  </mcs-accordion-panel-header>

                  <mcs-item>
                    <span>{{ 'serverManagement.nics.ipAllocationMode' | translate }}:</span>
                    <span>{{ nic.ipAllocationModeLabel }}</span>
                  </mcs-item>
                  <mcs-item>
                    <span>{{ 'serverManagement.nics.ipAddresses' | translate }}:</span>
                    <ng-container *ngIf="nic.logicalIpAddresses; else noIpAddressTemplate">
                      <mcs-list spacing="auto">
                        <mcs-list-item *ngFor="let item of nic.logicalIpAddresses">
                          {{ item }}
                        </mcs-list-item>
                      </mcs-list>
                    </ng-container>

                    <ng-template #noIpAddressTemplate>
                      <span read-only [ngSwitch]="nic?.ipAllocationMode">
                        <ng-container *ngSwitchCase="ipAllocationModeEnum.Dhcp">
                          {{ 'serverManagement.nics.dhcpLabel' | translate }}
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          {{ 'serverManagement.nics.staticLabel' | translate }}
                        </ng-container>
                      </span>
                    </ng-template>
                  </mcs-item>
                </mcs-accordion-panel>
              </mcs-accordion>
            </ng-container>

            <ng-template #noContentMessage>
              <mcs-data-status-empty>
                {{ 'serverManagement.nics.noContentMessage' | translate }}
              </mcs-data-status-empty>
            </ng-template>
          </mcs-presentation-panel>
        </mcs-grid-column>
      </mcs-grid-row>

      <mcs-grid-row>

        <!-- VM Media -->
        <mcs-grid-column sizeSm="12" sizeLg="6"
          *mcsAccessControl="[]; feature: 'enableDedicatedVmMediaView';
          validateWhen: serverDetails.server.isDedicated">

          <mcs-presentation-panel mcsId="vm-media">
            <ng-container mcsPresentationPanelHeader>
              <mcs-item>
                <h2>{{ 'serverManagement.media.title' | translate }}</h2>
                <ng-container *mcsAccessControl="serverPermision.vmEdit">
                  <a (click)="setViewMode(serverManagementViewEnum.ManageMedia)"
                    [disabled]="!serverDetails.server.executable"
                    mcsId="attach-media"
                    mcsEventTracker="attach-media-option"
                    mcsEventCategory="server"
                    mcsEventLabel="server-details-page">
                    {{ 'serverManagement.media.attach' | translate }}
                  </a>
                </ng-container>
              </mcs-item>
            </ng-container>

            <ng-container *ngIf="serverMedia$ | async as serverMedia">
              <mcs-list spacing="xsmall"
                *ngIf="serverMedia | mcsIsNotNullOrEmpty; else noMediaTemplate">

                <mcs-list-item *ngFor="let media of serverMedia">
                  <mcs-item>
                    <ng-container *mcsAccessControl="serverPermision.vmEdit">
                      <mcs-loader *ngIf="mediaIsDetaching(media)" size="small"
                        [mcsTooltip]="serverDetails.server.processingText"></mcs-loader>

                      <mcs-icon *ngIf="!mediaIsDetaching(media)" mcsCursor="pointer"
                        [key]="ejectIconKey" size="small"
                        (click)="showDetachMediaDialog(serverDetails.server, media)"
                        mcsId="show-detach-media"
                        [mcsTooltip]="'serverManagement.media.detach' | translate"
                        mcsEventTracker="detach-media-option"
                        mcsEventCategory="server"
                        mcsEventLabel="server-details-page"></mcs-icon>
                    </ng-container>
                    <span>{{ media.name }}</span>
                  </mcs-item>
                </mcs-list-item>
              </mcs-list>
            </ng-container>

            <ng-template #noMediaTemplate>
              <mcs-data-status-empty mcsDataEmpty>
                <span>{{ 'serverManagement.media.noContentMessage' | translate }}</span>
              </mcs-data-status-empty>
            </ng-template>

          </mcs-presentation-panel>
        </mcs-grid-column>

        <!-- VM Support Identifiers -->
        <mcs-grid-column sizeSm="12" sizeLg="6">
          <mcs-presentation-panel>
            <ng-container mcsPresentationPanelHeader>
              <h2>{{ 'serverManagement.serviceInformation.title' | translate }}</h2>
            </ng-container>

            <mcs-item>
              <span>{{ 'serverManagement.serviceInformation.vdc' | translate }}:</span>
              <span [innerHTML]="serverDetails.server.platform?.resourceName | mcsDataLabel"></span>
            </mcs-item>

            <mcs-item *ngIf="serverDetails.server.serviceId && !serverDetails.server.isDedicated">
              <span>{{ 'serverManagement.serviceInformation.serviceId' | translate }}:</span>
              <span>{{ serverDetails.server.serviceId }}</span>
            </mcs-item>

            <mcs-item>
              <span>{{ 'serverManagement.serviceInformation.vmWareId' | translate }}:</span>
              <span [innerHTML]="serverDetails.server.instanceId | mcsDataLabel"></span>
            </mcs-item>
          </mcs-presentation-panel>
        </mcs-grid-column>
      </mcs-grid-row>
    </mcs-grid>
  </div>

  <!-- Manage Server Scale -->
  <div [@fadeIn] *ngSwitchCase="serverManagementViewEnum.ManageScale">
    <mcs-presentation-panel>
      <ng-container mcsPresentationPanelHeader>
        <h2>{{ 'serverManagement.manageScale.header' | translate }}</h2>
      </ng-container>
      <p>{{ 'serverManagement.manageScale.description' | translate }}</p>

      <div class="action-box" [disabled]="!serverDetails.server.executable">
        <mcs-server-manage-scale
          [resource]="serverDetails.resource"
          [serverCompute]="serverDetails.server.compute"
          (dataChange)="onScaleChanged($event)">
          <ng-container mcsManageScaleHeader>
            <h2>Scaling {{ serverDetails.server.name }}</h2>
          </ng-container>
        </mcs-server-manage-scale>

        <mcs-data-status-warning *ngIf="serverDetails.server.isPoweredOn">
          <span>{{ 'serverManagement.manageScale.warning' | translate }}</span>
        </mcs-data-status-warning>

        <div class="action-items">
          <a (click)="onCancelScale()"
            mcsId="scale-cancel"
            mcsEventTracker="scale-cancel"
            mcsEventCategory="server"
            mcsEventLabel="server-details-page">
            {{ 'serverManagement.manageScale.cancel' | translate }}
          </a>

          <button mcsButton
            arrow="right" size="small"
            [disabled]="!manageScale?.hasChanged"
            (click)="updateScale(serverDetails.server)"
            mcsId="scale-option"
            mcsEventTracker="scale-option"
            mcsEventCategory="server"
            mcsEventLabel="server-details-page">
            {{ 'serverManagement.manageScale.scale' | translate }}
          </button>
        </div>
      </div>
    </mcs-presentation-panel>
  </div>

  <!-- Manage Server Media -->
  <div [@fadeIn] *ngSwitchCase="serverManagementViewEnum.ManageMedia">
    <mcs-presentation-panel>
      <ng-container mcsPresentationPanelHeader>
        <h2>{{ 'serverManagement.media.manageHeader' | translate }}</h2>
      </ng-container>

      <div class="action-box" [disabled]="!serverDetails.server.executable">
        <mcs-server-manage-media [catalogs]="resourceCatalogs$ | async" (dataChange)="onMediaChanged($event)">
          <ng-container mcsManageMediaHeader>
            <h2>{{ 'serverManagement.media.attachHeading' | translate }}</h2>
          </ng-container>
        </mcs-server-manage-media>

        <div class="action-items">
          <a (click)="setViewMode(serverManagementViewEnum.None)"
            mcsId="attach-media-cancel"
            mcsEventTracker="attach-media-cancel"
            mcsEventCategory="server"
            mcsEventLabel="server-details-page">
            {{ 'serverManagement.media.cancel' | translate }}
          </a>

          <button mcsButton
            arrow="right" size="small"
            (click)="attachMedia(serverDetails.server, manageMedia?.catalogItem)"
            [disabled]="!manageMedia?.catalogItem"
            mcsId="attach-media"
            mcsEventTracker="attach-media"
            mcsEventCategory="server"
            mcsEventLabel="server-details-page">
            {{ 'serverManagement.media.attach' | translate }}
          </button>
        </div>
      </div>
    </mcs-presentation-panel>
  </div>
</ng-container>