@import "base";

$server-thumbnail-height: 96px;
$server-thumbnail-width: 128px;
$server-thumbnail-bg-color: $color-black;
$server-text-color: $color-black;

.thumbnail-container {
  min-height: $server-thumbnail-height;
  min-width: $server-thumbnail-width;
  background: $server-thumbnail-bg-color;

  .thumbnail {
    max-height: $server-thumbnail-height;
    min-width: $server-thumbnail-width;
  }
}