@import "../../../../../styles/shared/base";

$server-thumbnail-height: 96px;
$server-thumbnail-width: 128px;
$server-thumbnail-bg-color: $color-black;
$server-text-color: $color-black;
$server-vm-console-enabled-color: $server-text-color;
$server-vm-console-disabled-color: $color-grey-02;

.server-management-container {

  .server-thumbnail {
    margin-bottom: $space-small;
    @include display-inline-flex(column);
    justify-content: center;

    .view-console {
      @include display-inline-flex(column);
      justify-content: center;
      align-items: flex-start;
      cursor: pointer;
      @include set-items-interval(5px, vertical);

      &.enabled {
        cursor: pointer;
        * {
          cursor: pointer;
          color: $server-vm-console-enabled-color;
        }
      }

      &.disabled {
        cursor: not-allowed;
        * {
          cursor: not-allowed;
          color: $server-vm-console-disabled-color;
        }
      }

      .thumbnail-container {
        min-height: $server-thumbnail-height;
        min-width: $server-thumbnail-width;
        background: $server-thumbnail-bg-color;

        .thumbnail {
          max-height: $server-thumbnail-height;
          min-width: $server-thumbnail-width;
        }
      }
    }
  }

  .server-details {
    color: $server-text-color;
    margin: $space-xlarge 0;
    @include set-items-interval(50px, vertical);
  }
}

.server-performance-scale-container {
   @include set-items-interval(10px, vertical);
   margin: $space-xlarge 0;

  .note {
    @include display-flex(row);
    align-items: center;
    justify-content: center;
    @include font-size(16);
    @include set-items-interval(5px, horizontal);
    margin-bottom: $space-xlarge;
  }

  .scaling {
    @include display-flex(row);
    justify-content: space-between;
    align-items: center;
  }
}