@import "../../../../../styles/shared/base";

$server-thumbnail-height: 200px;

.server-management-container {

  .server-thumbnail {
    height: $server-thumbnail-height;
    margin-bottom: $space-small;
    @include display-flex(column);
    justify-content: center;
    align-items: center;

    .thumbnail {
      display: block;
      background: black;
    }
  }

  .server-details {
    margin: $space-large 0;

    .row {
      margin: $space-small -15px;

      a {
        color: $color-black;
      }
    }
  }
}

.server-performance-scale-container {
   @include set-items-interval(10, vertical);

  .note {
    @include display-flex(row);
    align-items: center;
    justify-content: center;
    @include font-size(16);
    @include set-items-interval(5, horizontal);
  }

  .scaling {
    @include display-flex(row);
    justify-content: space-between;
    align-items: center;
  }
}