<section *ngIf="server" class="server-management-container">
  <div class="server-snapshot">
    <img class="w-100" src="assets/img/server-snapshot.png" />
  </div>
  <a href="#">View Console</a>
  <!-- TODO: Waiting for mapping of api response properties to view properties -->
  <div class="server-details">
    <div class="row">
      <div class="col">
        <h3>{{ serverManagementTextContent.vmProperties.title }}</h3>
        <ul>
          <li>{{ serverManagementTextContent.vmProperties.image }}: {{ server.guestOS }}</li>
          <li>{{ serverManagementTextContent.vmProperties.zone }}: [Intellicentre 1 (Syd)]</li>
          <li>{{ serverManagementTextContent.vmProperties.configuration }}: 
            {{ server.memoryInMb }} MB / {{ server.cpuCount }} CPU <a href="#">Scale</a></li>
          <li>{{ serverManagementTextContent.vmProperties.media }}:
            <ul class="server-media" *ngIf="server.media.length < 0; else elseBlock">
              <li *ngFor="let media of server.media">{{ media.mediaName }}</li>
            </ul>
            <ng-template #elseBlock>None</ng-template>
            <a href="#">Attach</a>
          </li>
        </ul>
      </div>

      <div class="col">
        <h3>{{ serverManagementTextContent.networkInformation.title }}</h3>
        <ul class="server-interfaces">
          <li>{{ serverManagementTextContent.networkInformation.publicIp }}: {{ server.managementIpAddress }}</li>
          <li *ngFor="let interface of server.interfaces; let i = index">
            {{ serverManagementTextContent.networkInformation.interface }} {{ i }} : 
            <span>{{ interface.ipAddress.join(', ') }}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3>{{ serverManagementTextContent.storage.title }}</h3>
        <ul class="server-storage">
          <li>{{ serverManagementTextContent.storage.primaryVolume }}: {{ primaryVolume }}</li>
          <li *ngIf="secondaryVolumes">
            {{ serverManagementTextContent.storage.secondaryVolumes }}: {{ secondaryVolumes }}
          </li>
          <li>{{ serverManagementTextContent.storage.storagePolicy }}: {{ server.storagePolicy }}</li>
        </ul>
      </div>

      <div class="col">
        <h3>{{ serverManagementTextContent.supportIdentifiers.title }}</h3>
        <ul>
          <li>{{ serverManagementTextContent.supportIdentifiers.vdc }}: {{ server.vdcName }}</li>
          <li>{{ serverManagementTextContent.supportIdentifiers.macViewServiceId }}: {{ server.serviceId }}</li>
          <li>{{ serverManagementTextContent.supportIdentifiers.vmWareId }}: {{ server.instanceId }}</li>
        </ul>
      </div>
    </div>

    <hr/>

    <h3>{{ serverManagementTextContent.manageServices.title }}</h3>
    <p>{{ serverManagementTextContent.manageServices.description }}</p>

    <mcs-button iconRight="arrow-right" width="300">Configure Now</mcs-button>
  </div>

</section>