<div *ngIf="!isServerScale" class="content-responsive content-grid">
  <div class="grid-row">
    <div class="grid-column">
      <h3>{{ serverManagementTextContent.vmProperties.title }}</h3>
      <ul class="unstyled-list">
        <!-- Image -->
        <li>{{ serverManagementTextContent.vmProperties.image }}: {{ server.os }}</li>
        <!-- Zone -->
        <li>{{ serverManagementTextContent.vmProperties.zone }}: {{ server.availabilityZone }}</li>
        <!-- Configuration -->
        <li>
          <div class="server-configuration">
            <span>{{ serverManagementTextContent.vmProperties.configuration }}:</span>
            <span>{{ serverMemoryValue }} / {{ serverCpuValue }}</span>
            <span *mcsHasPermission="['VmEdit']">
              <a *ngIf="!isScaling" (click)="scaleServer()" [disabled]="isProcessing">
              {{ serverManagementTextContent.performanceScale.scale }}</a>
            </span>
            <mcs-icon *ngIf="isScaling" [key]="spinnerIconKey" size="medium"
              [mcsTooltip]="serverManagementTextContent.performanceScale.scaling"></mcs-icon>
          </div>
        </li>
        <!-- Media -->
        <li>{{ serverManagementTextContent.vmProperties.media }}:
          <ul class="unstyled-list server-media" *ngIf="hasMedia; else elseBlock">
            <li *ngFor="let media of server.media">{{ media.mediaName }}</li>
          </ul>
          <ng-template #elseBlock>None</ng-template>
        </li>
      </ul>
    </div>

    <!-- Console -->
    <div class="grid-column">
      <div class="server-thumbnail">
        <h3 class="thumbnail-title">{{ serverManagementTextContent.vmConsole.title }}</h3>
          <div (click)="onClickViewConsole()" class="view-console"
            [ngClass]="{'enabled': consoleEnabled, 'disabled': !consoleEnabled }">
            <div class="thumbnail-container">
              <img #thumbnailElement class="thumbnail"/>
            </div>
          <a>{{ serverManagementTextContent.vmConsole.link }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="grid-column">
      <h3>{{ serverManagementTextContent.storage.title }}
        <a *mcsHasPermission="['VmEdit']" [routerLink]="['../storage']">Manage</a>
      </h3>
      <span *ngIf="!hasStorageInformation" class="missing-data-info">{{ serverManagementTextContent.storage.noContentMessage }}</span>
      <ul class="unstyled-list server-storage" *ngIf="hasStorageInformation">
        <!-- Primary Volume -->
        <li>{{ serverManagementTextContent.storage.primaryVolume }}: {{ primaryVolume }}</li>
        <!-- Secondary Volume -->
        <li *ngIf="secondaryVolumes">
          {{ serverManagementTextContent.storage.secondaryVolumes }}: {{ secondaryVolumes }}
        </li>
        <!-- Storage Policy -->
        <li *ngIf="server.storagePolicy">
          {{ serverManagementTextContent.storage.storagePolicy }}: {{ server.storagePolicy }}
        </li>
      </ul>
    </div>

    <div class="grid-column">
      <h3>{{ serverManagementTextContent.networkInformation.title }}</h3>
      <span *ngIf="!hasNetworkInformation" class="missing-data-info">{{ serverManagementTextContent.networkInformation.noContentMessage }}</span>
      <ul class="unstyled-list server-interfaces">
        <!-- Network Interface -->
        <li *ngFor="let interface of server.interfaces; let i = index">
          <span>{{ serverManagementTextContent.networkInformation.interface }} {{ i }}:</span>
          <span *ngFor="let ip of interface.ipAddress" display-flex="column">
            <span>{{ ip }}</span>
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="grid-row">
    <div class="grid-column">
      <h3>{{ serverManagementTextContent.supportIdentifiers.title }}</h3>
      <ul class="unstyled-list">
        <!-- VDC -->
        <li>{{ serverManagementTextContent.supportIdentifiers.vdc }}: {{ server.vdcName }}</li>
        <!-- MacView Service ID -->
        <li>{{ serverManagementTextContent.supportIdentifiers.macViewServiceId }}: {{ server.serviceId }}</li>
        <!-- VMWare ID -->
        <li>{{ serverManagementTextContent.supportIdentifiers.vmWareId }}: {{ server.instanceId }}</li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="isServerScale" class="content-responsive server-performance-scale">
  <div [mcsLoader]="resourceSubscription">
    <h3>Scaling {{ server.managementName }}</h3>
    <mcs-server-performance-scale *ngIf="remainingMemory && remainingCpu"
      [memoryMB]="server.memoryMB" [cpuCount]="server.cpuCount"
      [availableMemoryMB]="remainingMemory" [availableCpuCount]="remainingCpu"
      (scaleChanged)="onScaleChanged($event)">

      <!--Performance scale container-->
      <span slider-details>
        {{ serverManagementTextContent.performanceScale.sliderGuidance }}
      </span>
      <span custom-details>
        {{ serverManagementTextContent.performanceScale.customGuidance }}
      </span>
    </mcs-server-performance-scale>

    <div *ngIf="isPoweredOn" class="horizontal-items-spacing-small"
      display-flex="row" align-items="center" justify-content="center">
      <mcs-icon [key]="warningIconKey" size="medium"></mcs-icon>
      <span>{{ serverManagementTextContent.performanceScale.warning }}</span>
    </div>

    <div class="scaling" display-flex="row" align-items="center" justify-content="space-between">
      <a class="text-underline" (click)="cancelScale()">
        {{ serverManagementTextContent.performanceScale.cancel }}</a>
      <mcs-button *mcsHasPermission="['VmEdit']" icon="arrow" class="scale"
        [disabled]="!hasUpdate" (click)="onClickScale()">
          {{ serverManagementTextContent.performanceScale.scale }}</mcs-button>
    </div>
  </div>
</div>