<form [formGroup]="fgScale" mcsFormGroup>
  <!-- Storage header and switcher -->
  <mcs-item orientation="separated">
    <div><ng-content select="[mcsManageStorageHeader]"></ng-content></div>
    <div *ngIf="hasAvailableCapacity">
      <a *ngIf="inputManageType === inputManageTypeEnum.Custom" mcsId
        (click)="onChangeInputManageType(inputManageTypeEnum.Auto)">
        {{ 'serverShared.manageStorage.sliderSwitch' | translate }}</a>
      <a *ngIf="inputManageType === inputManageTypeEnum.Auto" mcsId
        (click)="onChangeInputManageType(inputManageTypeEnum.Custom)">
        {{ 'serverShared.manageStorage.customSwitch' | translate }}</a>
    </div>
  </mcs-item>

  <!-- Storage profiles / datastores selection and details template -->
  <ng-container *ngIf="!detailsTemplate;else detailsTemplate">
    <mcs-form-field>
      <mcs-select [formControl]="fcSelectStorages" required
        mcsId="select-storage"
        placeholder="{{ storageProfileOrDatastorePlaceholderLabel }}">

          <mcs-option-group>
            <ng-container *mcsOptionGroupHeader>
              {{ diskStorageProfileOrDatastoreDefaultLabel }}
            </ng-container>
            <ng-container *ngFor="let storage of storages">
              <mcs-option *ngIf="storage?.isDefault"
              [value]="storage"
              [disabled]="!storage?.enabled">
                {{ storage.name }}<span *ngIf="!storage?.enabled"> - Disabled</span>
              </mcs-option>
            </ng-container>
          </mcs-option-group>
          <mcs-option-group>
            <ng-container *mcsOptionGroupHeader>
              {{ diskStorageProfileOrDatastoreOthersLabel }}
            </ng-container>
            <ng-container *ngFor="let storage of storages">
              <mcs-option *ngIf="!storage?.isDefault"
              [value]="storage"
              [disabled]="!storage?.enabled">
                {{ storage.name }}<span *ngIf="!storage?.enabled"> - Disabled</span>
              </mcs-option>
            </ng-container>
          </mcs-option-group>
      </mcs-select>
    </mcs-form-field>
  </ng-container>

  <div *ngIf="hasAvailableCapacity" [ngSwitch]="inputManageType">
    <!-- Slider selection mode -->
    <mcs-section [@fadeIn] *ngSwitchCase="inputManageTypeEnum.Auto">
      <div>
        <span>{{ 'serverShared.manageStorage.sliderMessage' | translate }} </span>
        <span *ngIf="serverIsDedicated">
          This datastore has {{ availableCapacity | mcsDataSize: 'GB' }} of usable capacity.
        </span>
        <span *ngIf="!serverIsDedicated">
          This storage profile has {{ availableCapacity | mcsDataSize: 'GB' }} of usable capacity.
        </span>
      </div>

      <div>
        <mcs-slider [min]="minValueGB" [max]="availableCapacity" [step]="10"
          mcsId="slider-capacity"
          [ngModel]="storageValue" [ngModelOptions]="{standalone: true}"
          (ngModelChange)="onSliderChanged($event)">
        </mcs-slider>
        <strong display-block text-center>{{ storageValue | mcsDataSize: 'GB' }}</strong>
      </div>
    </mcs-section>

    <!-- Custom storage mode -->
    <mcs-section [@fadeIn] *ngSwitchCase="inputManageTypeEnum.Custom">
      <div>{{ 'serverShared.manageStorage.customMessage' | translate }}</div>

      <mcs-form-field class="form-field-size-small">
        <input mcsInput placeholder="Enter storage"
          mcsId="input-storage" [formControl]="fcCustomStorage">
          <mcs-suffix mcsSuffix>{{ 'serverShared.manageStorage.unit' | translate }}</mcs-suffix>

        <mcs-hint mcsHint align="start">
            {{ 'serverShared.manageStorage.maximumStorage' | translate }}:
            {{ availableCapacity | mcsDataSize: 'GB' }}
        </mcs-hint>
        <mcs-error mcsError errorState="required">
            {{ 'serverShared.manageStorage.errors.storageRequired' | translate }}
        </mcs-error>
        <mcs-error mcsError errorState="numeric">
            {{ 'serverShared.manageStorage.errors.storageNumeric' | translate }}
        </mcs-error>
        <mcs-error mcsError errorState="min">
          {{ 'serverShared.manageStorage.errors.storageMin' |
            translate: { min_value: (minValueGB | mcsDataSize: 'GB') } }}
        </mcs-error>
        <mcs-error mcsError errorState="storageAvailable">
          {{ 'serverShared.manageStorage.errors.storageAvailable' |
            translate: { available_storage: (availableCapacity | mcsDataSize: 'GB') } }}
        </mcs-error>
      </mcs-form-field>
    </mcs-section>
  </div>

  <!-- Insufficient Storage Capacity Warning Message -->
  <div *ngIf="!hasAvailableCapacity && fcSelectStorages.value" [@fadeIn]>
    <mcs-data-status-warning>
      <ng-content select="[mcsManageStorageWarning]"></ng-content>
    </mcs-data-status-warning>
  </div>
</form>
