<div #mcsTextbox class="mcs-textbox" [ngClass]="{'invalid': !valid, 'disabled': disabled}">
  <input [ngClass]="{'has-icon': iconKey}"
    [(ngModel)]="value"
    [attr.type]="inputType"
    [attr.name]="name"
    [attr.placeholder]="placeholder"
    [attr.min]="min"
    [attr.max]="max"
    [attr.step]="step"
    [attr.readonly]="readonly"
    (focus)="onFocus($event)"
    (focusout)="onFocusOut($event)"
    (blur)="onTouched($event)"
    [disabled]="disabled" />
  <mcs-icon *ngIf="iconKey" [key]="iconKey"
    size="small" (click)="onFocus()"></mcs-icon>
</div>