@import "../../../styles/shared/base";

.mcs-textbox {
  @include border-radius($input-border-radius); 
  border: 1px solid $input-border-color;
  display: inline-flex;
  overflow: hidden;
  margin: 3px 0;
  @include breakpoint(small) {
    width: 100%;
  }

  &.active {
    outline: none;
    border-color: $color-black;
  }

  input {
    border: none;
    width: 100%;

    &.has-icon {
      padding-right: 0;
    }
  }

  .icon {
    padding: 10px;
  }
}
