@import "../../../styles/shared/base";

$textbox-icon-offset: $icon-small-font-size + 20;

:host {
  display: block;
}

.mcs-textbox {
  @include border-radius($input-border-radius);
  border: 1px solid $input-border-color;
  background-color: $input-background-color;
  @include display-inline-flex(row);
  align-items: center;
  overflow: hidden;
  margin: 3px 0;
  @include breakpoint(small) {
    width: 100%;
  }

  &.active {
    border-color: $color-primary-01;
  }

  &.grey {
    border-color: $color-grey-02;
  }

  &.black {
    border-color: $color-black;
  }

  &.invalid {
    border-color: $color-red-00;
  }

  input {
    border: none;
    width: 100%;

    &.has-icon {
      width: calc(100% - #{$textbox-icon-offset + px});
      padding-right: 0;
    }

    &[readonly] {
      @include textbox-highlight(none);
      cursor: pointer;
    }
  }

  .fa {
    padding: 0 $space-small;
    color: $color-black;
    @include font-size($icon-small-font-size);
  }

  + small {
    display: block;
    color: $color-red-00;
  }
}