<mcs-page *ngIf="deployment$ | async as deployment"
  [header]="deployment.name + ' - ' + deployment.moduleName">

  <mcs-content-panel *mcsContentPanelDef>
    <ng-container *ngIf="deployment.isProcessing">
      <mcs-busy-ribbon theme="dark" margin-bottom-small>
        <span>{{ 'message.deploymentBusy' | translate }}</span>
      </mcs-busy-ribbon>
    </ng-container>

    <mcs-tab-group [selectedTabId]="selectedTabId$ | async" (tabChanged)="onTabChanged($event, deployment)">
      <mcs-tab [label]="'label.overview' | translate" id="overview"></mcs-tab>
      <mcs-tab [label]="'label.history' | translate" id="history"></mcs-tab>

      <!-- Action tab -->
      <ng-container mcsTabHeaderCustom>
        <mat-menu #actionMenu="matMenu" mcsAlign="end">
          <button mat-menu-item (click)="planClicked(deployment)"
            mcsId="create-plan"
            mcsEventTracker="create-deployment-plan"
            mcsEventCategory="launchpad-deployment"
            mcsEventLabel="azure-deployment-details-page"
            [disabled]="deployment.isProcessing">
            {{ 'action.plan' | translate }}
          </button>

          <button mat-menu-item (click)="applyClicked(deployment)"
            mcsId="apply-deployment"
            mcsEventTracker="apply-deployment"
            mcsEventCategory="launchpad-deployment"
            mcsEventLabel="azure-deployment-details-page"
            [disabled]="deployment.isProcessing">
            {{ 'action.apply' | translate }}
          </button>

          <button mat-menu-item (click)="destroyClicked(deployment)"
            mcsId="destroy-deployment"
            mcsEventTracker="destroy-deployment"
            mcsEventCategory="launchpad-deployment"
            mcsEventLabel="azure-deployment-details-page"
            [disabled]="deployment.isProcessing">
            {{ 'action.destroy' | translate }}
          </button>

          <button mat-menu-item (click)="changeTagClicked(deployment)"
            mcsId="change-deployment-tag"
            mcsEventTracker="change-deployment-tag"
            mcsEventCategory="launchpad-deployment"
            mcsEventLabel="azure-deployment-details-page"
            [disabled]="deployment.isProcessing">
            {{ 'action.changeTag' | translate }}
          </button>

          <button mat-menu-item (click)="renameClicked(deployment)"
            mcsId="rename-deployment"
            [disabled]="deployment.isProcessing">
            {{ 'action.rename' | translate }}
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="actionMenu">
          <mcs-icon key="ellipsis-horizontal" size="large"></mcs-icon>
        </button>
      </ng-container>
    </mcs-tab-group>

    <div class="routing-tab-content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mcs-content-panel>
</mcs-page>

