<ng-template #templateRef let-notificationData="notification">
  <div class="state-notification-item" *ngIf="getDataFromString(notificationData.message) as data">
    <mcs-item>
      <mcs-icon [key]="data?.icon" size="small"></mcs-icon>

      <div class="state-notification-message">
        <span>{{ data?.message | translate }}</span>
        <a *ngIf="tryAgainFunc" href="javascript:void(0)" (click)="onClickTryAgain()">
          {{ 'message.pleaseTryAgain' | translate }}
        </a>
      </div>
    </mcs-item>

    <div class="state-notification-close">
      <button mcsButton="icon" mcsId="error-notification-close"
        (click)="onCloseNotification(notificationData.id)">
        <mcs-icon key="close" size="small"></mcs-icon>
      </button>
    </div>
  </div>
</ng-template>


<notifier-container></notifier-container>
