<ng-container *ngIf="selectedProduct$ | async as selectedProduct">

  <!-- Short description -->
  <ng-container *ngIf="selectedProductTextContent$ | async as shortTextContent">
    <div class="product-catalog-description" *ngIf="selectedProduct.shortDescription"
      [ngClass]="{'expanded': shortDescriptionExpanded}">

      <ng-container *ngIf="!shortDescriptionExpanded; else shortDescriptionTemplate">
        <span class="product-catalog-shorted-text">
          {{ shortTextContent }}</span>
      </ng-container>
      <ng-template #shortDescriptionTemplate>
        <div [@fadeIn] class="product-catalog-text">
          <div [innerHTML]="selectedProduct.shortDescription"></div>
        </div>
      </ng-template>
    </div>

    <div class="product-catalog-read-action">
      <button mcsButton="basic" *ngIf="showMoreButtonIsDisplayed"
        (click)="toggleShortDescription()">
        <ng-container *ngIf="!shortDescriptionExpanded; else showLessTemplate">
          [Read More]
        </ng-container>
        <ng-template #showLessTemplate>
          [Read Less]
        </ng-template>
      </button>
    </div>
  </ng-container>

  <div class="product-catalog-content">
    <mcs-scrollable-link-group>
      <mcs-scrollable-link label="All Information">

        <!-- Description -->
        <div class="product-catalog-item"
          *ngIf="selectedProduct.description | mcsIsNotNullOrEmpty">

          <div class="product-catalog-widget-wrapper">
            <!-- Ownerships -->
            <!-- TODO: Apply checking here -->
            <mcs-presentation-panel>
              <ng-container mcsPresentationPanelHeader>
                <span>Ownership</span>
              </ng-container>

              <mcs-list spacing="auto">
                <ng-container *mcsAccessControl="['CompanyView']">
                  <mcs-list-item class="form-field-inline"
                    *ngIf="selectedProduct.productOwners | mcsIsNotNullOrEmpty">
                    <span>Product Owners:</span>
                    <span>{{ selectedProduct.productOwners | mcsArrayCommaSeparator }}</span>
                  </mcs-list-item>
                </ng-container>

                <mcs-list-item class="form-field-inline"
                  *ngIf="selectedProduct.architectureOwners | mcsIsNotNullOrEmpty">
                  <span>Architecture Owners:</span>
                  <span>{{ selectedProduct.architectureOwners | mcsArrayCommaSeparator }}</span>
                </mcs-list-item>

                <mcs-list-item class="form-field-inline"
                  *ngIf="selectedProduct.specialistOwner?.name | mcsIsNotNullOrEmpty">
                  <span>Specialist Owners:</span>
                  <span>{{ selectedProduct.specialistOwner?.name }}</span>
                </mcs-list-item>
              </mcs-list>
            </mcs-presentation-panel>

            <!-- Dependencies -->
            <mcs-presentation-panel *ngIf="selectedProduct.dependentProducts | mcsIsNotNullOrEmpty">
              <ng-container mcsPresentationPanelHeader>
                <span>Dependencies</span>
              </ng-container>

              <div>
                <div [ngStyle]="{'float': 'right'}">
                  <mcs-icon size="100px" [key]="cloudIconKey"></mcs-icon>
                </div>
                <div class="block-items-xsmall">
                  <a *ngFor="let dependentProduct of selectedProduct.dependentProducts"
                    [mcsRouterLink]="[routeKeyEnum.ProductDetail, dependentProduct.id]"
                    mcsId="product-dependency"
                    mcsEventTracker="select-product-dependency"
                    mcsEventCategory="product"
                    mcsEventLabel="product-list-panel">
                    {{ dependentProduct.name }}
                  </a>
                </div>
              </div>
            </mcs-presentation-panel>

            <!-- Availability Zones -->
            <mcs-presentation-panel *ngIf="selectedProduct.locations | mcsIsNotNullOrEmpty">
              <ng-container mcsPresentationPanelHeader>
                <span>Availability Zones</span>
              </ng-container>

              <mcs-list spacing="small">
                <mcs-list-item *ngFor="let location of selectedProduct.locations">
                  <div>
                    <span>{{ location.name }}</span><br>
                    <small read-only>{{ location.fullAddress }}</small>
                  </div>
                </mcs-list-item>
              </mcs-list>
            </mcs-presentation-panel>
          </div>

          <div [innerHTML]="selectedProduct.description"></div>
        </div>

        <!-- Product Options -->
        <div class="product-catalog-item block-items-small"
          *ngIf="selectedProduct.productOptions | mcsIsNotNullOrEmpty">
          <h3>Product Options</h3>

          <ng-container *ngFor="let productOption of selectedProduct.productOptions">
            <div>
              <strong>{{ productOption.name }}</strong>
              <ul *ngIf="productOption.listOptions | mcsIsNotNullOrEmpty">
                <li *ngFor="let option of productOption.listOptions">{{ option }}</li>
              </ul>

              <mcs-list spacing="auto" class="space-left-medium"
                *ngIf="productOption.properties | mcsIsNotNullOrEmpty">
                <mcs-list-item class="form-field-inline"
                  *ngFor="let property of productOption.properties">
                  <span>{{ property.label }}</span>
                  <span>{{ property.value }}</span>
                </mcs-list-item>
              </mcs-list>
            </div>
          </ng-container>
        </div>

        <!-- Feature Benefit Matrix -->
        <div class="product-catalog-item"
          *ngIf="selectedProduct.featureBenefitMatrix | mcsIsNotNullOrEmpty">
          <h3>Feature Benefit Matrix</h3>
          <div [innerHTML]="selectedProduct.featureBenefitMatrix"></div>
        </div>

        <!-- Use Cases -->
        <div class="product-catalog-item"
          *ngIf="selectedProduct.useCases | mcsIsNotNullOrEmpty">
          <h3>Use Cases</h3>
          <ng-container *ngFor="let useCase of selectedProduct.useCases">
            <h3>{{ useCase.name }}</h3>
            <div [innerHTML]="useCase.description"></div>
          </ng-container>
        </div>
      </mcs-scrollable-link>

      <!-- Monitoring -->
      <mcs-scrollable-link label="Monitoring"
        *ngIf="selectedProduct.Monitoring | mcsIsNotNullOrEmpty">
        <div class="product-catalog-item">
          <h3>Monitoring</h3>
          <div [innerHTML]="selectedProduct.featureBenefitMatrix"></div>
        </div>
      </mcs-scrollable-link>

      <!-- PCI Compliance -->
      <mcs-scrollable-link label="Compliance"
        *ngIf="selectedProduct.pciDetails | mcsIsNotNullOrEmpty">
        <div class="product-catalog-item">
          <h3>PCI Compliance</h3>
          <div [innerHTML]="selectedProduct.pciDetails"></div>
        </div>
      </mcs-scrollable-link>

      <!-- More -->
      <!-- TODO: Not included on PH1. and no corresponding field for downloads -->
      <mcs-scrollable-link label="More"
        *ngIf="selectedProduct.downloads | mcsIsNotNullOrEmpty">
        <div class="product-catalog-item">
          <h3>Downloads</h3>
          <div [innerHTML]="selectedProduct.downloads"></div>
        </div>
      </mcs-scrollable-link>
    </mcs-scrollable-link-group>
  </div>
</ng-container>
