<!-- Content Panel -->
<div class="limited-view">
  <div *ngIf="selectedProduct?.description" class="container-wrapper">
    <h4 class="container-header">Product Description</h4>
    <p [innerHTML]="selectedProduct.description | mcsNewLines"></p>
  </div>

  <div *ngIf="selectedProduct?.useCases" class="container-wrapper">
    <h4 class="container-header">Use Cases</h4>
    <div [innerHTML]="selectedProduct.useCases"></div>
  </div>

  <div *ngIf="selectedProduct?.pciCompliance" class="container-wrapper">
    <h4 class="container-header">PCI Compliance</h4>
    <p [innerHTML]="selectedProduct.pciCompliance | mcsNewLines"></p>
  </div>
</div>