@import "../../../../styles/shared/base";
@import "../../../../styles/core/fonts";
@import "../../../../styles/core/elements/mcs-anchor";
@import "../../../../styles/core/elements/mcs-bold";
@import "../../../../styles/core/elements/mcs-button";
@import "../../../../styles/core/elements/mcs-form-field";
@import "../../../../styles/core/elements/mcs-heading";
@import "../../../../styles/core/elements/mcs-paragraph";
@import "../../../../styles/core/elements/mcs-small";
@import "../../../../styles/core/elements/mcs-strong";
@import "../../../../styles/core/elements/mcs-table";

$product-max-width: 100%;
$product-catalog-description-max-height: 30px;
$product-catalog-widget-size: 350px;
$product-panel-color: $color-grey-08;

.product-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  @include display-flex(column);
  max-width: $product-max-width;
  max-height: 100%;
  overflow: hidden;
}

.product-catalog-description {
  @include flex(1 0 auto);
  @include display-flex(column);
  margin: $space-large $space-medium;
  margin-bottom: 0;
  position: relative;
  max-height: $product-catalog-description-max-height;
  overflow: hidden;

  &.expanded {
    height: auto;
    max-height: unset;
    overflow: unset;
  }

  .product-catalog-shorted-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-catalog-text {
    display: block;
  }
}

.product-catalog-read-action {
  @include flex(1 0 auto);
}

.product-catalog-content {
  @include flex(1);
  @include display-flex(column);
}

.product-catalog-item {
  margin: 0;
}

.product-catalog-banner {
  @include display-flex(column);
  @include align-items(center);
  justify-content: center;

  @include breakpoint(small) {
    position: absolute;
  }
}

.product-catalog-widget-wrapper {
  float: right;
  @include set-items-interval($space-medium);
  width: 100%;
  max-width: $product-catalog-widget-size;
  margin: $space-large;
  @include display-flex(column);

  @include breakpoint(small) {
    float: none;
    margin: 0;
  }

  .product-catalog-widget {
    .product-catalog-widget-item {
      border-left: 1px solid $border-color-light;
      border-right: 1px solid $border-color-light;
      border-bottom: 1px solid $border-color-light;
      padding: $space-small;
      @include display-flex(column);
      @include set-items-interval($space-xsmall);
    }
  }
}
