@import "shared/index";

.system-message-page-wrapper {
  @include display-flex(column);
  height: 100%;

  .system-message-header {
    @include flex(0 0 auto);
  }

  .system-message-page-content {
    @include display-flex(column);
    @include align-items(center);
    @include flex(1);
    justify-content: center;

    .system-message-content {
      max-width: 50%;
      @include display-flex(column);
      @include align-items(center);
      @include set-items-interval($space-medium);
      justify-content: center;
    }

    .system-message-page-title {
      @include font-size($shared-notification-title-font-size);
      color: $color-scheme-primary;
    }

  }
}
