
<mcs-system-message-header class="system-message-header"></mcs-system-message-header>

<div class="system-message-page-content" *ngIf="systemMessage$ | async as systemMessage">
  <div class="system-message-content">
    <mcs-icon [key]="warningBlueIconKey" 
      size="120px"
      color="primary"></mcs-icon>

    <div class="system-message-page-title" text-center>{{ 'systemMessagePage.title' | translate }}</div>

    <span text-center>{{ systemMessage.message }}</span>
    
    <span *mcsAccessControl="['SystemMessageView']; else: secondaryAdvisoryLabelTemplate" text-center>
      {{ 'systemMessagePage.internalAdvisoryLabel' | translate }}
    </span>
     
    <ng-template #secondaryAdvisoryLabelTemplate>
      <span [innerHTML]="secondaryLabel(systemMessage.macquarieViewFallback)" text-center></span>
    </ng-template>   

    <div *ngIf="systemMessage.macquarieViewFallback">
      <!-- Go to Macquarie Action -->
      <button mcsButton  
        mcsId="go-to-macquarie"
        (click)="goToMacquarieView()"
        mcsEventTracker="go-to-macquarie"
        mcsEventCategory="system-message-page"
        mcsEventLabel="go-to-macquarie-label">
        {{ 'systemMessagePage.goToMacquarie' | translate }}
      </button>
    </div>

    <div *mcsAccessControl="['SystemMessageView']">
      <!-- Proceed to Portal Action -->
      <button mcsButton  
        mcsId="proceed-to-portal"
        (click)="proceedToPortal(systemMessage)"
        mcsEventTracker="proceed-to-portal"
        mcsEventCategory="system-message-page"
        mcsEventLabel="proceed-to-portal-label">
        {{ 'systemMessagePage.proceedToPortal' | translate }}
      </button>
    </div>
  </div>
</div>
