<mcs-page leftPanelExpandedByDefault="true" [header]="pageHeader">
  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'dnsListing.leftPanelHeader' | translate">
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <div class="listing-panel-wrapper">
        <mcs-search #search mcsId="dns-details-panel-search"></mcs-search>

        <mcs-list-panel [dataSource]="listViewDatasource" [config]="listViewConfig?.panelSettings">
          <ng-container *mcsListPanelContent="let entity">
              <a *ngIf="entity.billingDescription"
                [mcsRouterLink]="[routeKeyEnum.DnsDetails, entity.id]"
                mcsId="select-dns"
                mcsEventTracker="select-dns"
                mcsEventCategory="dns"
                mcsEventLabel="dns-details-panel">
                <mcs-option [value]="entity"
                [selected]="selectedDnsId === entity.id">
                  <mcs-item>
                    <span>{{ entity.billingDescription }}</span>
                  </mcs-item>
                </mcs-option>
              </a>
          </ng-container>
        </mcs-list-panel>
      </div>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <mcs-content-panel *mcsContentPanelDef>
    <div class="routing-tab-wrapper" *mcsComponentHandler>
      <ng-container>

        <mcs-tab-group>
          <!-- Management Tab -->
          <mcs-tab [label]="'dnsListing.details.management.tabName' | translate" id="management">
          </mcs-tab>

          <!-- Zones Tab -->
          <ng-container *ngIf="isPrimaryDns">
            <mcs-tab [label]="'dnsListing.details.zones.tabName' | translate" id="services">
            </mcs-tab>
          </ng-container>

          <!-- Action tab -->
          <ng-container mcsTabHeaderCustom>
            <button mcsButton="icon" mcsId="dns-action"  mcsAlign="end"
              #popoverActionElement="mcsPopover" [autoCalculatePosition]="false"
              mcsPopover placement="bottom" orientation="left"
              theme="light" padding="none" [content]="actionContent">
              <mcs-icon [key]="cogIconKey" size="large"></mcs-icon>
            </button>
            <ng-template #actionContent>
              <ng-container *ngIf="hasServiceChangeAccess(selectedDns$ | async)">
                  <div *mcsAccessControl="['OrderEdit']"
                    class="cog-actions-wrapper">
                    <a mcsButton="basic" color="white" labelPlacement="left"
                      [href]="onRequestChange(selectedDns$ | async)"
                      mcsId="dns-details-request-change"
                      mcsEventTracker="dns-details-request-change"
                      mcsEventCategory="dnsDetails"
                      mcsEventLabel="dns-details-page">
                      {{ 'dnsListing.requestChange' | translate }}
                    </a>
                </div>
              </ng-container>
              <div *mcsAccessControl="['TicketCreate']"
                class="cog-actions-wrapper">
                <a mcsButton="basic" color="white" labelPlacement="left"
                  [href]="onRaiseTicket(selectedDns$ | async)"
                  mcsId="dns-details-raise-ticket"
                  mcsEventTracker="dns-details-raise-ticket"
                  mcsEventCategory="dnsDetails"
                  mcsEventLabel="dns-details-page">
                  {{ 'dnsListing.raiseTicket' | translate }}
                </a>
              </div>
            </ng-template>
          </ng-container>

        </mcs-tab-group>

        <!-- Tab content for routing tab -->
        <div class="routing-tab-content-wrapper limited-view">
          <router-outlet></router-outlet>
        </div>
      </ng-container>
    </div>
  </mcs-content-panel>
</mcs-page>
