<div mat-dialog-title>
  <h3>{{ dialogData?.title }}</h3>
</div>

<div mat-dialog-content>
  <ng-container *ngIf="isMessageTemplate; else messageTemplate">
    <ng-container *ngTemplateOutlet="dialogData?.message"></ng-container>
  </ng-container>
  <ng-template #messageTemplate>
    <span [innerHTML]="dialogData?.message"></span>
  </ng-template>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onCancelClick()">
    {{ cancelText }}
  </button>
  <button mat-raised-button (click)="onConfirmClick()" cdkFocusInitial color="primary">
    {{ confirmText }}
  </button>
</div>