<div mat-dialog-title>
  <h3>{{ dialogData?.title }}</h3>
</div>

<div mat-dialog-content>
  <ng-container *ngIf="isMessageTemplate; else messageTemplate">
    <ng-container *ngTemplateOutlet="dialogData?.message"></ng-container>
  </ng-container>
  <ng-template #messageTemplate>
    <span [innerHTML]="dialogData?.message"></span>
  </ng-template>
</div>

<div mat-dialog-actions class="space-between">
  <button mat-button (click)="onCancelClick()">
    {{ cancelText }}
  </button>
  <button mat-flat-button [color]="buttonColor" (click)="onConfirmClick()" cdkFocusInitial>
    {{ confirmText }}
  </button>
</div>