@import "../../../styles/shared/base";

$snack-bar-padding: $space-small $space-medium;
// Dark theme
$snack-bar-dark-bg-color: $dark-bg-color;
$snack-bar-dark-color: $dark-bg-text-color;
// Light theme
$snack-bar-light-bg-color: $light-bg-color;
$snack-bar-light-color: $light-bg-text-color;

.snack-bar-wrapper {
  @include display-flex(row);
  @include align-items(center);
  padding: $snack-bar-padding;
  background: $snack-bar-light-bg-color;
  color: $snack-bar-light-color;

  &.snack-bar-dark {
    background: $snack-bar-dark-bg-color;
    color: $snack-bar-dark-color;
  }

  .snack-bar-spacer {
    width: $space-medium;
    height: 1px;
  }

  .snack-bar-icon {
    @include display-flex(row);
    @include align-items(center);
    position: relative;
    right: 0;
  }
}