@import "base";

$snackbar-spacer-height: 1px;
$snackbar-spacer-width: $space-medium;

.snack-bar-wrapper {
  @include display-flex(row);
  @include align-items(center);

  .snack-bar-spacer {
    width: $snackbar-spacer-width;
    height: $snackbar-spacer-height;
  }

  .snack-bar-icon {
    @include display-flex(row);
    @include align-items(center);
    position: relative;
    right: 0;
  }
}