<mcs-page header="Private Cloud Overview">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>
    <mcs-top-panel-item *mcsTopPanelItemDef class="hide-on-print">
      <!-- Nav Menu -->
      <mcs-action-item *ngIf="hasPrivateAndPublicCloudAccess"
        mcsResponsivePanelItem hidden-small [matMenuTriggerFor]="menu">
        <mcs-icon size="xlarge" [key]="arrowDropDownBlackIconKey" ></mcs-icon>
      </mcs-action-item>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="active" (click)="onClickPrivateCloud()">Private Cloud</button>
        <button mat-menu-item (click)="onClickPublicCloud()">Public Cloud</button>
      </mat-menu>

      <!-- PDF Icon -->
      <mcs-action-item mcsResponsivePanelItem hidden-small
        [disabled]="pdfDownloadInProgress || widgetsLoading()"
        [mcsTooltip]="'tooltip.exportPdf' | translate"
        (click)="onClickExportPdf($event)">
        <mcs-icon key="pdf-black" size="large" mcsCursor="pointer"></mcs-icon>
     </mcs-action-item>

      <!-- Word Icon -->
      <mcs-action-item mcsResponsivePanelItem hidden-small
        [disabled]="widgetsLoading() || pdfDownloadInProgress"
        [mcsTooltip]="'tooltip.exportWord' | translate"
        (click)="onClickExportWord()">
        <mcs-icon key="word-black" size="large" mcsCursor="pointer"></mcs-icon>
      </mcs-action-item>

      <ng-container *ngIf="pdfDownloadInProgress">
        <mcs-loader size="small"
          [mcsTooltip]="'tooltip.tooltipText' | translate"
          mcsTooltipPosition="right"></mcs-loader>
      </ng-container>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef class="full-width dashboard-content">
    <div class="report-wrapper">
      <div class="widget-box" *ngIf="!hasCloudVmAccess">
        <div class="widget">{{ 'privateCloudDashboard.overview.description' | translate }}</div>
      </div>
      <div class="widget-wrapper">
        <ul>
          <li *mcsAccessControl="['CloudVmAccess', 'FirewallConfigurationView']">
            <mcs-private-cloud-services-overview-widget (serviceOverviewDataChange)="serviceOverviewDataChange($event)">
            </mcs-private-cloud-services-overview-widget>
          </li>
          <li *mcsAccessControl="['OrderEdit']">
            <mcs-change-requests-widget class="hide-on-print"
              [isPrivateCloud]="true"
              [vdcList]="vdcList$ | async"
              [orderItemTypes]="orderItemTypes$ | async"></mcs-change-requests-widget>
          </li>
          <li *ngIf="showBackupSecurity() && (vdcList$ | async) | mcsIsNotNullOrEmpty">
            <mcs-backup-security-widget
              class="hide-on-print"
              [orderItemTypes]="orderItemTypes$ | async"></mcs-backup-security-widget>
          </li>
          <li *mcsAccessControl="['OrganizationVdcView']">
            <mcs-storage-profile-utilisation-widget (dataChange)="resourceStorageUtilisationDataChange($event)">
            </mcs-storage-profile-utilisation-widget>
          </li>
          <li>
            <mcs-azure-tickets-widget (dataChange)="azureTicketsDataChange($event)"
              [title]="'label.openPrivateCloudTickets' | translate"
              [serviceId]="'!AZ'"></mcs-azure-tickets-widget>
          </li>
          <li>
            <mcs-contact-us-widget (dataChange)="contactUsDataChange($event)"></mcs-contact-us-widget>
          </li>
        </ul>
      </div>
    </div>
  </mcs-content-panel>
</mcs-page>
