<div class="server-ip-address-container">
  <!--Component Description that is positioned in the left side of the component-->
  <div class="description">
    <ng-content select="[title]"></ng-content>
    <ng-content *ngIf="inputManageType == inputManageTypeEnum.Buttons"
      select="[buttons-details]"></ng-content>
    <ng-content *ngIf="inputManageType == inputManageTypeEnum.Custom"
      select="[custom-details]"></ng-content>
  </div>

  <!--Switch to trigger if the component is radio buttons or custom-->
  <div class="custom-ip-address">
    <a *ngIf="inputManageType == inputManageTypeEnum.Buttons"
      (click)="onChangeInputManageType(inputManageTypeEnum.Custom)">
        {{ textContent.custom }}</a>
    <a *ngIf="inputManageType == inputManageTypeEnum.Custom"
      (click)="onChangeInputManageType(inputManageTypeEnum.Buttons)">
        {{ textContent.default }}</a>
  </div>

  <p *ngIf="inputManageType == inputManageTypeEnum.Buttons">
    {{ textContent.defaultMessage }}</p>
  <p *ngIf="inputManageType == inputManageTypeEnum.Custom">
    {{ textContent.customMessage }}
  </p>

  <!--Custom IP Address content element-->
  <form [formGroup]="formGroupIpAddress">
    <div *ngIf="inputManageType == inputManageTypeEnum.Custom">
      <div animate trigger="fadeIn" class="custom-ip-address-content">
        <mcs-form-field [ngStyle]="{width: '300px'}">
          <input mcsInput placeholder="Enter IP Address"
            [formControl]="fcIpdAdrress">

          <mcs-error mcsError errorState="required">
            {{ textContent.errors.ipAddressRequired }}
          </mcs-error>
          <mcs-error mcsError errorState="ipAddress">
            {{ textContent.errors.ipAddressInvalid }}
          </mcs-error>
          <mcs-error mcsError errorState="ipRange">
            {{ ipRangeError }}
          </mcs-error>
        </mcs-form-field>
      </div>
    </div>
  </form>

  <!--Radio Buttons content element-->
  <div *ngIf="inputManageType == inputManageTypeEnum.Buttons">
    <div animate [trigger]="fadeIn" class="radio-button-group">
      <mcs-radio-button-group [items]="ipAddressItems"
        [ngModel]="ipAddressValue"
        (ngModelChange)="onRadioButtonChanged($event)"
        orientation="vertical"></mcs-radio-button-group>
    </div>
  </div>
</div>