<section class="server-container">
  <div class="server-list-panel-wrapper hidden-medium">
    <div class="server-list-panel" [mcsLoader]="serverListSource.serverListSubscription">
        <mcs-search #search [delayInSeconds]="0" mcsListSearchDef></mcs-search>
        <mcs-list-panel mcsListPanelDef [listSource]="serverListSource" 
          [selectedListItem]="selectedItem" [searchMode]="serverListSource.searchMode">
          <ng-container mcsListDef>
            <mcs-list-header *mcsListHeaderDef="let vdc; propertyName: 'vdcName';"
              [groupName]="vdc">
              <span>{{ vdc }}</span>
            </mcs-list-header>
            <mcs-list-item *mcsListItemDef="let server"
              [itemId]="server.id" [groupName]="server.vdcName"
              (click)="onServerSelect(server.id)">

              <mcs-icon *ngIf="server.powerState" [key]="getStateIconKey(server.powerState)"></mcs-icon>
              <mcs-icon *ngIf="!server.powerState" [key]="spinnerIconKey"
                mcsPopover trigger="hover" maxWidth="250px" padding="narrow"
                [content]="loadingContent"></mcs-icon>
              <ng-template #loadingContent>
                <span class="loading-content-popover">
                  {{ getActiveServerTooltip(server.id) }}
                </span>
              </ng-template>

              <a>{{ server.name }}</a>
            </mcs-list-item>
          </ng-container>

          <!-- List Items Status Integration -->
          <ng-container mcsListItemsStatusDef>
            <mcs-list-items-empty *mcsListItemsEmptyDef>
              <span>{{ serversTextContent.noServers }}</span>
            </mcs-list-items-empty>
            <mcs-list-items-error *mcsListItemsErrorDef>
              <div class="data-error">
                <span>{{ serversTextContent.errorMessage }}</span>
                <a (click)="retryListsource()">{{ serversTextContent.retry }}</a>.
              </div>
            </mcs-list-items-error>
          </ng-container>
        </mcs-list-panel>
      </div>
  </div>

  <div class="server-features-wrapper loader-container">
    <div class="server-features" [mcsLoader]="serverSubscription">
      <h2 class="server-name">{{ server.managementName }}</h2>
      <div class="mcs-tabs">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab"
              [routerLink]="['management']" routerLinkActive="active">
                {{ serverTextContent.management.label }}</a>
          </li>
          <!-- TODO: Temporarily hidden for phase one -->
          <!-- <li *ngIf="isManaged" class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab"
              [routerLink]="['services']" routerLinkActive="active">Services</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab"
              [routerLink]="['storage']" routerLinkActive="active">
                {{ serverTextContent.storage.label }}</a>
          </li>
          <!-- TODO: Temporarily hidden for phase one -->
          <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab"
              [routerLink]="['backups']" routerLinkActive="active">Backups</a>
          </li> -->
          <li class="nav-item hidden-medium server-cog" *mcsHasPermission="['VmPowerStateEdit']">
            <mcs-server-command [command]="getActionStatus(server)"
              (onClick)="executeServerCommand(server, $event)"></mcs-server-command>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" role="tabpanel">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>