<mcs-page [header]="server.managementName">
  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="serverTextContent.leftPanelHeader">
    <!-- listing panel -->
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="serverTextContent.panel">
      <div class="listing-panel-wrapper">
        <mcs-search #search [delayInSeconds]="0"></mcs-search>
        <mcs-list-panel [listSource]="serverListSource" [selectedListItem]="selectedItem"
          [searchMode]="serverListSource?.searchMode"
          [mcsLoader]="serverListSource?.serverListSubscription">
          <ng-container mcsListPanelDef>
            <mcs-list-panel-header *mcsListPanelHeaderDef="let vdc; propertyName: 'vdcName';"
              [groupName]="vdc">
              <span>{{ vdc }}</span>
            </mcs-list-panel-header>
            <mcs-list-panel-item *mcsListPanelItemDef="let server"
              [itemId]="server.id" [groupName]="server.vdcName"
              (click)="onServerSelect(server.id)">

              <mcs-icon *ngIf="server.powerState"
                [key]="getStateIconKey(server.powerState)"></mcs-icon>
              <mcs-icon *ngIf="!server.powerState" [key]="spinnerIconKey"
                [mcsTooltip]="getActiveServerTooltip(server.id)"
                mcsTooltipPosition="right"></mcs-icon>

              <a>{{ server.name }}</a>
            </mcs-list-panel-item>
          </ng-container>

          <!-- List Items Status Integration -->
          <ng-container mcsListItemsStatusDef>
            <mcs-list-items-empty *mcsListItemsEmptyDef>
              <span>{{ serversTextContent.noServers }}</span>
            </mcs-list-items-empty>
            <mcs-list-items-error *mcsListItemsErrorDef>
              <div class="data-error">
                <span>{{ serversTextContent.errorMessage }}</span>
                <a (click)="retryListsource()">{{ serversTextContent.retry }}</a>.
              </div>
            </mcs-list-items-error>
          </ng-container>
        </mcs-list-panel>
      </div>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <mcs-content-panel *mcsContentPanelDef [mcsLoader]="serverSubscription">
    <div class="content-wrapper">
      <div class="mcs-tabs">
        <ul class="nav nav-tabs" role="tablist">

          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab"
              [routerLink]="['management']" routerLinkActive="active">
                {{ serverTextContent.management.label }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab"
              [routerLink]="['storage']" routerLinkActive="active">
                {{ serverTextContent.storage.label }}</a>
          </li>

          <li class="nav-item action-cog" *mcsHasPermission="['VmPowerStateEdit']">
            <mcs-server-command [commandList]="serverCommandList"
              [command]="getActionStatus(server)"
              (onClick)="executeServerCommand(server, $event)">
            </mcs-server-command>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" role="tabpanel">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </mcs-content-panel>
</mcs-page>