<section class="server-container">
  <div class="row">
    <div class="col-sm-4 hidden-medium">
      <mcs-server-list-panel [serverListData]="servers"
        [selectedServerId]="server.id"
          (serverSelectChange)="onServerSelect($event)">
      </mcs-server-list-panel>
    </div>

    <div class="col-sm-8 server-features">
      <div class="mcs-tabs">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab"
              [routerLink]="['management']" routerLinkActive="active">
                {{ serverTextContent.management.label }}</a>
          </li>
          <li *ngIf="isManaged" class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab"
              [routerLink]="['services']" routerLinkActive="active">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab"
              [routerLink]="['storage']" routerLinkActive="active">
                {{ serverTextContent.storage.label }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" role="tab"
              [routerLink]="['backups']" routerLinkActive="active">Backups</a>
          </li>
          <li class="nav-item hidden-medium">
            <mcs-server-command [command]="getActionStatus(server)"
              (onClick)="executeServerCommand(server, $event)"></mcs-server-command>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" role="tabpanel">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>