@import "base";

$tooltip-dark-color: $color-white;
$tooltip-dark-bg-color: rgba($color-black, 0.87);
$tooltip-light-color: $color-grey-00;
$tooltip-light-bg-color: $color-white;
$tooltip-border-radius: 2px;
$tooltip-padding: $space-xsmall $space-small;

.tooltip-wrapper {
  @include display-flex(column);
  position: relative;
  max-width: 500px;

  .tooltip-panel {
    @include border-radius($tooltip-border-radius);
    margin: $space-small;
    padding: $tooltip-padding;
  }

  &.dark {
    .tooltip-panel {
      color: $tooltip-dark-color;
      background-color: $tooltip-dark-bg-color;
    }
  }

  &.light {
    .tooltip-panel {
      color: $tooltip-light-color;
      background-color: $tooltip-light-bg-color;
      @include box-shadow(0 5px 10px rgba($color-black,0.2));
    }
  }
}
