@import "../../../../styles/shared/base";

.content-wrapper {
  max-width: 1100px;
  width: 70vw;

  @include breakpoint(large) {
    width: 720px;
  }

  @include breakpoint(medium) {
    width: 100%;
  }

  h2 {
    margin: $space-medium 0;
  }

  .widget-label {
    margin-bottom: $space-medium;
  }

  .label-below-chart {
    margin-bottom: $space-medium;
  }

  .tech-review {
    page-break-before: always;
  }

  .insight-header {
    margin-bottom: $space-large;

    &.tech-review {
      margin-top: $space-xxlarge;

      @include print() {
        margin: 0;
        padding: 0;
      }
    }
  }

  .tab-bar {
    border-bottom: 1px $color-black solid;
    padding: $space-small 0;
    display: flex;

    div {
      padding: $space-small $space-large;
      display: inline;

      &:hover {
        border-bottom: 3px $color-black solid;
        font-weight: 700;
        cursor: pointer;
      }
    }

    a {
      text-decoration: none;
      color: $color-black;
      @include font-size($font-size-default);
    }
  }

  .options-container {
    margin-top: $space-medium;
    @include display-flex(row);
    justify-content: space-between;

    .subtitle-container {
      padding-top: $space-large;

      @include breakpoint(small) {
        padding-top: 0;
      }
    }
  }

  .label-with-dropdown {
    margin-top: -15px;

    @include breakpoint(small) {
      margin-top: 0;
    }

    @include print() {
      margin-top: 0;
    }
  }

  section {
    padding: $space-xlarge;

    @include print() {
      width: 1100px;
      padding: 0;
      margin: 0;
    }

    margin-bottom: $space-large;
    background-color: $color-white;
  }
}

