<mcs-page header="Insights">
  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>
    <div class="report-wrapper limited-wide-view">
      <div class="content-wrapper">
        <div class="hide-on-print options-container">
          <div style="padding-top: 10px;">
            <span>
              Insights gives you visibility into your Azure environment, powered by
              <a href="#">
                VMware CloudHealth.
              </a>
            </span>
          </div>
          <div style="background-color: white; width: 150px;">
            <mcs-select [(ngModel)]="selectedPeriod">
              <mcs-option *ngFor="let opt of periodOptions" [value]="opt">
                {{ opt.label }}
              </mcs-option>
            </mcs-select>
          </div>
        </div>

        <div class="chart no-break-on-print">
          <h1>1. Costs</h1>
          <br />
          <h2>1.1 Services Overview</h2>
          <br />
          <mcs-services-cost-overview-widget [period]="selectedPeriod.period"></mcs-services-cost-overview-widget>
          <h2>1.2 Virtual Machine Breakdown</h2>
          <br />
          <mcs-virtual-machine-breakdown-widget [period]="selectedPeriod.period"></mcs-virtual-machine-breakdown-widget>
        </div>

        <div class="chart no-break-on-print">
          <h1>2. Tech Review</h1>
          <br />
          <div class="options-container">
            <div style="padding-top: 10px;">
              <h2>2.2 Performance and Scalability</h2>
            </div>
            <div class="hide-on-print" style="width: 150px;">
              <mcs-select [(ngModel)]="selectedPerformanceMonth">
                <mcs-option *ngFor="let opt of monthOptions" [value]="opt">
                  {{ opt.label }}
                </mcs-option>
              </mcs-select>
            </div>
          </div>

          <br />
          <mcs-performance-and-scalability-widget [period]="selectedPerformanceMonth.period"></mcs-performance-and-scalability-widget>
        </div>
      </div>
    </div>
  </mcs-content-panel>
</mcs-page>
