<mcs-page header="Insights">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>
    <mcs-top-panel-item *mcsTopPanelItemDef padding-left-medium class="hide-on-print">
      <!-- PDF Icon -->
      <mcs-action-item mcsResponsivePanelItem hidden-small
        [disabled]="pdfDownloadInProgress || widgetsLoading()"
        [mcsTooltip]="'tooltip.exportPdf' | translate"
        (click)="onClickExportPdf($event)">
        <mcs-icon key="pdf-black" size="large" mcsCursor="pointer"></mcs-icon>
      </mcs-action-item>

      <!-- Word Icon -->
      <mcs-action-item mcsResponsivePanelItem hidden-small
        [disabled]="widgetsLoading() || pdfDownloadInProgress"
        [mcsTooltip]="'tooltip.exportWord' | translate"
        (click)="onClickExportWord()">
        <mcs-icon key="word-black" size="large" mcsCursor="pointer"></mcs-icon>
      </mcs-action-item>

      <ng-container *ngIf="pdfDownloadInProgress">
        <mcs-loader size="small"
          [mcsTooltip]="'tooltip.tooltipText' | translate"
          mcsTooltipPosition="right"></mcs-loader>
      </ng-container>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef class="dashboard-content">
    <div class="report-wrapper limited-wide-view">
      <div class="content-wrapper">
        <div *ngIf="hasManagementService" class="hide-on-print tab-bar">
          <a><div (click)="scrollToElement(costsSection)">Costs</div></a>
          <a><div (click)="scrollToElement(techReview)">Tech Review</div></a>
        </div>
        <div class="hide-on-print options-container">
          <div class="subtitle-container">
            <span>
              {{ 'reports.insights.subtitle' | translate }}
              <a href="{{ cloudHealthUrl }}/dashboard"
                target="_blank"
                mcsId="dashboard-insight-cloudhealth-link"
                mcsEventTracker="navigate-to-cloudhealth"
                mcsEventCategory="cloudhealth"
                mcsEventLabel="dashboard-insight-page">
                {{ 'label.vmWareCloudHealth' | translate }}
              </a>
            </span>
          </div>
          <!-- Subscriptions -->
          <div>
            <mat-form-field appearance="outline">
              <mat-label>{{ 'label.subscriptions' | translate }}</mat-label>
              <mat-select multiple [(value)]="subscriptionIdsFilter">
                <mat-option *ngFor="let subscription of subscriptions" [value]="subscription.id">
                  {{ subscription.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="insight-header costs" #costsSection>
          <h1><span class="show-on-print-only">1. </span>{{ 'label.costs' | translate }}</h1>
        </div>
        <section>
          <div class="sub-section">
            <!-- Service Overview -->
            <h2><span class="show-on-print-only">1.1 </span>{{ 'label.servicesOverview' | translate }}</h2>
            <div class="widget-label">
              The <a href="{{ cloudHealthUrl }}/olap_reports/azure_cost/history"
              target="_blank"
              mcsId="azure-history-cost"
              mcsEventTracker="navigate-to-cloudhealth-azure-history"
              mcsEventCategory="cloudhealth"
              mcsEventLabel="azure-history-link">
              historical costs</a>
              {{ 'reports.insights.costs.serviceOverview.subTitle' | translate }}
            </div>
            <mcs-services-cost-overview-widget [subscriptionIds]="subscriptionIdsFilter" (chartChange)="serviceCostUri($event)" class="test"></mcs-services-cost-overview-widget>

            <mat-divider></mat-divider>
            <!-- Resource Cost -->
            <div class="options-container">
              <div>
                <h2><span class="show-on-print-only">1.2 </span>{{ 'reports.insights.costs.resourceCost.title' | translate }} {{ selectedResourceCostMonth?.label }}</h2>
              </div>
              <div class="hide-on-print">
                <mcs-field-select-month-period [formControl]="fcResourceCostMonthPeriod" (periodOption)="getPeriodOptions($event)"></mcs-field-select-month-period>
              </div>
            </div>
            <div class="widget-label label-with-dropdown">
              The <a href="{{ cloudHealthUrl }}/olap_reports/azure_cost/current"
              target="_blank"
              mcsId="azure-cost"
              mcsEventTracker="navigate-to-cloudhealth-azure-cost-link"
              mcsEventCategory="dashboard-navigation"
              mcsEventLabel="cloudhealth-azure-cost-link">
              total cost</a>
              {{ 'reports.insights.costs.resourceCost.subTitle' | translate }}
            </div>
            <mcs-resource-monthly-cost-widget [subscriptionIds]="subscriptionIdsFilter" [config]="resourceMonthlyCostConfig" [noDataForOneYear]="noDataForOneYear" (dataReceived)="resourceMonthDataReceived($event)"
              (chartChange)="monthlyCostUri($event)"></mcs-resource-monthly-cost-widget>
            <mat-divider></mat-divider>

            <!-- Virtual Machine Breakdown -->
            <h2><span class="show-on-print-only">1.3 </span>{{ 'reports.insights.costs.vmBreakdown.title' | translate }}</h2>
            <div class="widget-label">
              The <a href="{{ cloudHealthUrl }}/olap_reports/azure_usage/vm"
              target="_blank"
              mcsId="azure-usage-vm"
              mcsEventTracker="navigate-to-cloudhealth-azure-usage-vm"
              mcsEventCategory="dashboard-navigation"
              mcsEventLabel="azure-usage-vm-link">
              number of virtual machines</a>
              {{ 'reports.insights.costs.vmBreakdown.subTitle' | translate }}
            </div>
            <mcs-virtual-machine-usage-breakdown-widget [subscriptionIds]="subscriptionIdsFilter" (chartChange)="vmBreakdownUri($event)"></mcs-virtual-machine-usage-breakdown-widget>
            <mat-divider></mat-divider>

            <!-- Operational Savings -->
            <h2><span class="show-on-print-only">1.4 </span>{{ 'reports.insights.costs.operationalSavings.title' | translate }}</h2>
            <div class="widget-label">{{ 'reports.insights.costs.operationalSavings.subTitle' | translate }}</div>
            <div class="label-below-chart">
              {{ 'reports.insights.costs.operationalSavings.labelBelowChart' | translate }} 
              <a href="{{ cloudHealthUrl }}/pulse/azure-health-check"
                target="_blank"
                mcsId="operational-savings-vmware-cloudhealth"
                mcsEventTracker="navigate-to-vmware-cloudhealth"
                mcsEventCategory="dashboard-navigation"
                mcsEventLabel="vmware-cloudhealth-link">
                VMware CloudHealth</a>.
            </div>
            <mcs-operational-monthly-savings-widget (dataChange)="operationalSavingsDataChange($event)"></mcs-operational-monthly-savings-widget>
            <mat-divider></mat-divider>

            <!-- VM Rightsizing -->
            <h2><span class="show-on-print-only">1.5 </span>{{ 'reports.insights.costs.vmRightsizing.title' | translate }}</h2>
            <div class="widget-label">{{ 'reports.insights.costs.vmRightsizing.subTitle' | translate }}</div>
            <div class="label-below-chart">
              {{ 'reports.insights.costs.vmRightsizing.labelBelowChart' | translate }} Virtual Machine Rightsizing statistics provided by
              <a href="{{ azureVmRightsizingCloudHealthUrl }}"
                target="_blank"
                mcsId="vm-rightsizing-vmware-cloudhealth"
                mcsEventTracker="navigate-to-vmware-cloudhealth"
                mcsEventCategory="dashboard-navigation"
                mcsEventLabel="vmware-cloudhealth-link">
                VMware CloudHealth</a>.
            </div>
            <mcs-vm-rightsizing-widget (dataChange)="vmRightSizingDataChange($event)" (vmCostChange)="vmCostDataChange($event)"></mcs-vm-rightsizing-widget>
            <mat-divider></mat-divider>
            
            <!-- Inefficient VMs -->
            <h2><span class="show-on-print-only">1.6 </span>{{ 'reports.insights.costs.inefficientVms.title' | translate }}</h2>
            <div class="widget-label">{{ 'reports.insights.costs.inefficientVms.subTitle' | translate }}</div>
            <div class="label-below-chart">
              {{ 'reports.insights.costs.inefficientVms.secondSubtitle' | translate }}
              <a href="{{ azureVmRightsizingCloudHealthUrl }}"
                target="_blank"
                mcsId="inefficient-vms-cloudhealth"
                mcsEventTracker="navigate-to-vmware-cloudhealth"
                mcsEventCategory="dashboard-navigation"
                mcsEventLabel="vmware-cloudhealth-link">
                VMware CloudHealth</a>.
            </div>
            <mcs-inefficient-vms-widget [subscriptionIds]="subscriptionIdsFilter" (dataChange)="inefficientVmsDataChange($event)"></mcs-inefficient-vms-widget>
          </div>
        </section>
        <div #techReview>
          <ng-container *ngIf="hasManagementService">
            <div class="insight-header tech-review">
              <h1><span class="show-on-print-only">2. </span>{{ 'label.techReview' | translate }}</h1>
            </div>
            <section>
              <div class="sub-section">
                <!-- Security -->
                <h2><span class="show-on-print-only">2.1 </span>{{ 'reports.insights.techReview.security.title' | translate }}</h2>
                <mcs-security-widget (dataChange)="securityScoreDataChange($event)"></mcs-security-widget>
                <mat-divider></mat-divider>

                <!-- Compliance -->
                <h2><span class="show-on-print-only">2.2 </span>{{ 'reports.insights.techReview.compliance.title' | translate }}</h2>
                <div class="widget-label">
                  An overarching <a href="{{ complianceAzurePortalUrl }}"
                  target="_blank"
                  mcsId="compliance-view"
                  mcsEventTracker="navigate-to-compliance-view"
                  mcsEventCategory="dashboard-navigation"
                  mcsEventLabel="compliance-view-link">
                  compliance view</a>
                    {{ 'reports.insights.techReview.compliance.subTitle' | translate }}</div>
                <mcs-compliance-widget [subscriptionIds]="subscriptionIdsFilter"
                  (dataChange)="complianceDataChange($event)"
                  (chartChange)="complianceChartUri($event)"></mcs-compliance-widget>
                <mat-divider></mat-divider>

                <!-- Resource Health -->
                <h2><span class="show-on-print-only">2.3 </span>{{ 'reports.insights.techReview.resourceHealth.title' | translate }}</h2>
                <div class="widget-label">{{ 'reports.insights.techReview.resourceHealth.subTitle' | translate }}
                  <a href="{{ resourceHealthAzurePortalUrl }}"
                  target="_blank"
                  mcsId="azure-security-center"
                  mcsEventTracker="navigate-to-azure-security-center"
                  mcsEventCategory="dashboard-navigation"
                  mcsEventLabel="azure-security-center-link">
                  Azure Security Center</a>.
                </div>
                <mcs-resource-health-widget (chartChange)="resourceHealthUri($event)"></mcs-resource-health-widget>
                <mat-divider></mat-divider>

                <!-- Performance and Scalability -->
                <div class="options-container">
                  <div>
                    <h2><span class="show-on-print-only">2.4 </span>{{ 'reports.insights.techReview.performanceScalability.title' | translate }}</h2>
                  </div>
                  <div class="hide-on-print">
                    <mat-form-field appearance="outline">
                      <mat-label>{{ 'label.subscriptions' | translate }}</mat-label>
                      <mat-select [(value)]="performanceSubscriptionIdsFilter">
                        <mat-option *ngFor="let subscription of performanceSubscriptions" [value]="subscription.id">
                          {{ subscription.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="widget-label label-with-dropdown">
                  A summary of aggregate
                  <a href="{{ cloudHealthUrl }}/olap_reports/azure_performance/virtual_machine"
                  target="_blank"
                  mcsId="azure-performance"
                  mcsEventTracker="navigate-to-cloudhealth-azure-performance"
                  mcsEventCategory="dashboard-navigation"
                  mcsEventLabel="azure-performance-link">
                  VM memory, file system and CPU usage,</a>
                  {{ 'reports.insights.techReview.performanceScalability.subTitle' | translate }}
                </div>
                <mcs-performance-and-scalability-widget [subscriptionIds]="performanceSubscriptionIdsFilter"
                  (chartChange)="performanceScalabilityUri($event)"></mcs-performance-and-scalability-widget>
                <mat-divider></mat-divider>

                <!-- Monitoring and Alerting -->
                <div class="options-container">
                  <div>
                    <h2><span class="show-on-print-only">2.5 </span>{{ 'reports.insights.techReview.monitoringAlerting.title' | translate }}</h2>
                  </div>
                  <div class="hide-on-print">
                    <mcs-field-select-monitoring-period [formControl]="fcMonitoringPeriod"></mcs-field-select-monitoring-period>
                  </div>
                </div>
                <div class="widget-label label-with-dropdown">
                  A count of <a href="{{ monitoringAlertingAzurePortalUrl }}"
                  target="_blank"
                  mcsId="azure-monitor"
                  mcsEventTracker="navigate-to-azure-monitor"
                  mcsEventCategory="dashboard-navigation"
                  mcsEventLabel="azure-monitor-link">
                  Azure Monitor alerts</a>
                  {{ 'reports.insights.techReview.monitoringAlerting.subTitle' | translate }}
                </div>
                <mcs-monitoring-and-alerting-widget [config]="monitoringAlertingConfig" [subscriptionIds]="subscriptionIdsFilter"
                  (chartChange)="monitoringAlertingUri($event)" (alertChange)="monitoringAlertingTotalAlertsDataChange($event)"></mcs-monitoring-and-alerting-widget>
                <mat-divider></mat-divider>

                <!-- Defender Cloud Alerts -->
                <div class="options-container">
                  <div>
                    <h2><span class="show-on-print-only">2.6 </span>{{ 'reports.insights.techReview.defenderCloudAlerts.title' | translate }}</h2>
                  </div>
                  <div class="hide-on-print">
                    <mcs-field-select-month-period [formControl]="fcDefenderCloudAlertMonthPeriod"></mcs-field-select-month-period>
                  </div>
                </div>
                <mcs-defender-cloud-alerts-widget [config]="defenderCloudAlertsConfig" (dataChange)="defenderCLoudAlertsDataChange($event)"></mcs-defender-cloud-alerts-widget>
                <mat-divider></mat-divider>

                <!-- Audit Alerts -->
                <div class="options-container">
                  <div>
                    <h2><span class="show-on-print-only">2.6 </span>{{ 'reports.insights.techReview.auditAlerts.title' | translate }}</h2>
                  </div>
                  <div class="hide-on-print">
                    <mcs-field-select-month-period [formControl]="fcAuditAlertMonthPeriod"></mcs-field-select-month-period>
                  </div>
                </div>
                <div class="widget-label label-with-dropdown">
                  {{ 'reports.insights.techReview.auditAlerts.subTitle' | translate }}
                  <a href="{{ auditAlertsAzurePortalUrl }}"
                    target="_blank"
                    mcsId="azure-portal"
                    mcsEventTracker="navigate-to-azure-portal"
                    mcsEventCategory="dashboard-navigation"
                    mcsEventLabel="azure-portal-link">{{ 'reports.insights.techReview.auditAlerts.viewInAzurePortal' | translate }}</a>.
                </div>
                <mcs-audit-alerts-widget [subscriptionIds]="subscriptionIdsFilter"
                  [config]="auditAlertsConfig"
                  (dataChange)="auditAlertsDataChange($event)"></mcs-audit-alerts-widget>
                <mat-divider></mat-divider>

                <!-- Update Management -->
                <h2><span class="show-on-print-only">2.7 </span>{{ 'reports.insights.techReview.updateManagement.title' | translate }}</h2>
                <div class="widget-label">
                  {{ 'reports.insights.techReview.updateManagement.subTitle' | translate }}
                </div>
                <mcs-update-management-widget (dataChange)="updateManagementDataChange($event)"></mcs-update-management-widget>
              </div>
            </section>
          </ng-container>
        </div>
      </div>
    </div>
  </mcs-content-panel>
</mcs-page>
