<mcs-page header="Insights">
  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>
    <div class="report-wrapper limited-wide-view">
      <div class="content-wrapper">
        <div *ngIf="hasManagementService" class="hide-on-print tab-bar">
          <a><div (click)="scrollToElement(costsSection)">Costs</div></a>
          <a><div (click)="scrollToElement(techReview)">Tech Review</div></a>
        </div>
        <div class="hide-on-print options-container">
          <div class="subtitle-container">
            <span>
              {{ 'reports.insights.subtitle' | translate }}
              <a href="{{ cloudHealthUrl }}/dashboard" target="_blank">
                {{ 'reports.insights.vmCloudHealthLink' | translate }}
              </a>
            </span>
          </div>
          <!-- Subscriptions -->
          <div>
            <mat-form-field appearance="outline">
              <mat-label>{{ 'reports.insights.subscriptionText' | translate }}</mat-label>
              <mat-select multiple [(value)]="subscriptionIdsFilter">
                <mat-option *ngFor="let subscription of subscriptions" [value]="subscription.id">
                  {{ subscription.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="insight-header costs" #costsSection>
          <h1><span class="show-on-print-only">1. </span>{{ 'reports.insights.costs.label' | translate }}</h1>
        </div>
        <section>
          <div class="sub-section">
            <!-- Service Overview -->
            <h2><span class="show-on-print-only">1.1 </span>{{ 'reports.insights.costs.serviceOverview.title' | translate }}</h2>
            <div class="widget-label">
              The <a href="{{ cloudHealthUrl }}/olap_reports/azure_cost/history"
              target="_blank"
              mcsId="azure-history-cost"
              mcsEventTracker="navigate-to-azure-history"
              mcsEventCategory="dashboard-navigation"
              mcsEventLabel="azure-history-link">
              historical costs</a>
              {{ 'reports.insights.costs.serviceOverview.subTitle' | translate }}
            </div>
            <mcs-services-cost-overview-widget [subscriptionIds]="subscriptionIdsFilter"></mcs-services-cost-overview-widget>

            <mat-divider></mat-divider>
            <!-- Resource Cost -->
            <div class="options-container">
              <div>
                <h2><span class="show-on-print-only">1.2 </span>{{ 'reports.insights.costs.resourceCost.title' | translate }} {{ selectedResourceCostMonth.label }}</h2>
              </div>
              <div class="hide-on-print">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'reports.insights.monthLabel' | translate }}</mat-label>
                  <mat-select [(ngModel)]="selectedResourceCostMonth">
                    <mat-option *ngFor="let opt of monthOptions" [value]="opt">
                      {{ opt.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="widget-label monthly-cost">
              The <a href="{{ cloudHealthUrl }}/olap_reports/azure_cost/current"
              target="_blank"
              mcsId="azure-cost"
              mcsEventTracker="navigate-to-azure-cost"
              mcsEventCategory="dashboard-navigation"
              mcsEventLabel="azure-cost-link">
              total cost</a>
              {{ 'reports.insights.costs.resourceCost.subTitle' | translate }}
            </div>
            <mcs-resource-monthly-cost-widget [subscriptionIds]="subscriptionIdsFilter" [config]="resourceMonthlyCostConfig" (dataReceived)="resourceMonthDataReceived($event)"></mcs-resource-monthly-cost-widget>
            <mat-divider></mat-divider>

            <!-- Virtual Machine Breakdown -->
            <h2><span class="show-on-print-only">1.3 </span>{{ 'reports.insights.costs.vmBreakdown.title' | translate }}</h2>
            <div class="widget-label">
              The <a href="{{ cloudHealthUrl }}/olap_reports/azure_usage/vm"
              target="_blank"
              mcsId="azure-usage-vm"
              mcsEventTracker="navigate-to-azure-usage-vm"
              mcsEventCategory="dashboard-navigation"
              mcsEventLabel="azure-usage-vm-link">
              number of virtual machines</a>
              {{ 'reports.insights.costs.vmBreakdown.subTitle' | translate }}
            </div>
            <mcs-virtual-machine-usage-breakdown-widget [subscriptionIds]="subscriptionIdsFilter"></mcs-virtual-machine-usage-breakdown-widget>
            <mat-divider></mat-divider>

            <!-- Operational Savings -->
            <h2><span class="show-on-print-only">1.4 </span>{{ 'reports.insights.costs.operationalSavings.title' | translate }}</h2>
            <div class="widget-label">{{ 'reports.insights.costs.operationalSavings.subTitle' | translate }}</div>
            <div class="label-below-chart">
              {{ 'reports.insights.costs.operationalSavings.labelBelowChart' | translate }} 
              <a href="{{ cloudHealthUrl }}/pulse/azure-health-check"
                target="_blank"
                mcsId="operational-savings-vmware-cloudhealth"
                mcsEventTracker="navigate-to-vmware-cloudhealth"
                mcsEventCategory="dashboard-navigation"
                mcsEventLabel="vmware-cloudhealth-link">
                VMware CloudHealth</a>.
            </div>
            <mcs-operational-monthly-savings-widget></mcs-operational-monthly-savings-widget>
            <mat-divider></mat-divider>

            <!-- VM Rightsizing -->
            <h2><span class="show-on-print-only">1.5 </span>{{ 'reports.insights.costs.vmRightsizing.title' | translate }}</h2>
            <div class="widget-label">{{ 'reports.insights.costs.vmRightsizing.subTitle' | translate }}</div>
            <div class="label-below-chart">
              {{ 'reports.insights.costs.vmRightsizing.labelBelowChart' | translate }} Virtual Machine Rightsizing statistics provided by
              <a href="{{ cloudHealthUrl }}/reports/metrics/azure-vm-rightsizing/current"
                target="_blank"
                mcsId="vm-rightsizing-vmware-cloudhealth"
                mcsEventTracker="navigate-to-vmware-cloudhealth"
                mcsEventCategory="dashboard-navigation"
                mcsEventLabel="vmware-cloudhealth-link">
                VMware CloudHealth</a>.
            </div>
            <mcs-vm-rightsizing-widget></mcs-vm-rightsizing-widget>
          </div>
        </section>
        <div #techReview>
          <ng-container *ngIf="hasManagementService">
            <div class="insight-header tech-review">
              <h1><span class="show-on-print-only">2. </span>{{ 'reports.insights.techReview.label' | translate }}</h1>
            </div>
            <section>
              <div class="sub-section">
                <!-- Security -->
                <h2><span class="show-on-print-only">2.1 </span>{{ 'reports.insights.techReview.security.title' | translate }}</h2>
                <mcs-security-widget></mcs-security-widget>
                <mat-divider></mat-divider>

                <!-- Compliance -->
                <h2><span class="show-on-print-only">2.2 </span>{{ 'reports.insights.techReview.compliance.title' | translate }}</h2>
                <div class="widget-label">
                  An overarching <a href="https://portal.azure.com/#blade/Microsoft_Azure_Policy/PolicyMenuBlade/Overview"
                  target="_blank"
                  mcsId="compliance-view"
                  mcsEventTracker="navigate-to-compliance-view"
                  mcsEventCategory="dashboard-navigation"
                  mcsEventLabel="compliance-view-link">
                  compliance view</a>
                    {{ 'reports.insights.techReview.compliance.subTitle' | translate }}</div>
                <mcs-compliance-widget [subscriptionIds]="subscriptionIdsFilter"></mcs-compliance-widget>
                <mat-divider></mat-divider>

                <!-- Resource Health -->
                <h2><span class="show-on-print-only">2.3 </span>{{ 'reports.insights.techReview.resourceHealth.title' | translate }}</h2>
                <div class="widget-label">{{ 'reports.insights.techReview.resourceHealth.subTitle' | translate }}
                  <a href="{{ azureSecurityUrl }}/5"
                  target="_blank"
                  mcsId="azure-security-center"
                  mcsEventTracker="navigate-to-azure-security-center"
                  mcsEventCategory="dashboard-navigation"
                  mcsEventLabel="azure-security-center-link">
                  Azure Security Center</a>.
                </div>
                <mcs-resource-health-widget></mcs-resource-health-widget>
                <mat-divider></mat-divider>

                <!-- Performance and Scalability -->
                <div class="options-container">
                  <div>
                    <h2><span class="show-on-print-only">2.4 </span>{{ 'reports.insights.techReview.performanceScalability.title' | translate }}</h2>
                  </div>
                  <div class="hide-on-print">
                    <mat-form-field appearance="outline">
                      <mat-label>{{ 'reports.insights.subscriptionText' | translate }}</mat-label>
                      <mat-select [(value)]="performanceSubscriptionIdsFilter">
                        <mat-option *ngFor="let subscription of performanceSubscriptions" [value]="subscription.id">
                          {{ subscription.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="widget-label">
                  A summary of aggregate
                  <a href="{{ cloudHealthUrl }}/olap_reports/azure_performance/virtual_machine"
                  target="_blank"
                  mcsId="azure-performance"
                  mcsEventTracker="navigate-to-azure-performance"
                  mcsEventCategory="dashboard-navigation"
                  mcsEventLabel="azure-performance-link">
                  VM memory, file system and CPU usage,</a>
                  {{ 'reports.insights.techReview.performanceScalability.subTitle' | translate }}
                </div>
                <mcs-performance-and-scalability-widget [subscriptionIds]="performanceSubscriptionIdsFilter"></mcs-performance-and-scalability-widget>
                <mat-divider></mat-divider>

                <!-- Monitoring and Alerting -->
                <h2><span class="show-on-print-only">2.5 </span>{{ 'reports.insights.techReview.monitoringAlerting.title' | translate }}</h2>
                <div class="widget-label">
                  A count of <a href="https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AzureMonitoringBrowseBlade/alertsV2"
                  target="_blank"
                  mcsId="azure-monitor"
                  mcsEventTracker="navigate-to-azure-monitor"
                  mcsEventCategory="dashboard-navigation"
                  mcsEventLabel="azure-monitor-link">
                  Azure Monitor alerts</a>
                  {{ 'reports.insights.techReview.monitoringAlerting.subTitle' | translate }}
                </div>
                <mcs-monitoring-and-alerting-widget></mcs-monitoring-and-alerting-widget>
              </div>
            </section>
          </ng-container>
        </div>
      </div>
    </div>
  </mcs-content-panel>
</mcs-page>
