@import "shared/index";

$error-notification-top-offset: $shared-top-panel-size
+ $shared-header-panel-height
+ $shared-navigation-panel-height;

$error-notification-right-offset: 30px;
$error-notification-large-width: 300px;
$error-notification-medium-width: 200px;
$error-notification-small-width: 80%;
$error-notification-min-height: 50px;
$error-notification-max-height: 200px;
$error-notification-bg-color: $color-white;
$error-notification-color: $color-black;
$error-notification-hide-duration: 10s;
$animation-start-time: 0s;

.error-notification-wrapper {
  @include display-flex(column);
  position: fixed;
  top: $error-notification-top-offset;
  right: $error-notification-right-offset;
  z-index: $zindex-notifications;
  width: $error-notification-large-width;

  @include breakpoint(medium) {
    width: $error-notification-medium-width;
  }
  @include breakpoint(small) {
    width: $error-notification-small-width;
  }

  .error-template-wrapper {
    @include display-flex(row);
    position: relative;
    top: 0;
    left: 0;
    background: $error-notification-bg-color;
    color: $error-notification-color;
    overflow: hidden;
    @include border-radius($border-radius-small);
    @include box-shadow((
      0 3px 6px rgba(0,0,0,0.16),
      0 3px 6px rgba(0,0,0,0.23)
    ));
    min-height: $error-notification-min-height;
    max-height: $error-notification-max-height;
    margin-bottom: $space-medium;
    @include animation(hideErrorNotificationAnimation $animation-start-time ease-in $error-notification-hide-duration forwards);

    .error-template-close {
      position: absolute;
      right: 0;
    }
  }

  @keyframes hideErrorNotificationAnimation {
    to {
      width: 0;
      height: 0;
    }
  }
  @-webkit-keyframes hideErrorNotificationAnimation {
    to {
      width: 0;
      height: 0;
    }
  }
}
