<!-- Before Pagination -->
<div class="tab-header-pagination-before"
  mcsRipple [disabled]="disableScrollBefore"
  [class.tab-header-pagination-disabled]="disableScrollBefore"
  (click)="scrollHeader('before')">
  <mcs-icon [key]="chevronLeftKey"></mcs-icon>
</div>

<!-- Header label content -->
<div class="tab-header-labels-container" #tabListContainer>
  <div class="tab-header-tab-list" #tabList>
    <div class="tab-header-labels-wrapper">
      <ng-content></ng-content>
    </div>
    <mcs-tab-border-bar></mcs-tab-border-bar>
  </div>
</div>

<!-- After Pagination -->
<div class="tab-header-pagination-after"
  mcsRipple [disabled]="disableScrollAfter"
  [class.tab-header-pagination-disabled]="disableScrollAfter"
  (click)="scrollHeader('after')">
  <mcs-icon [key]="chevronRightKey"></mcs-icon>
</div>