<mcs-page header="Draft Workflows" leftPanelExpandedByDefault="true">
  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>
    <p>Unfinished workflows stored in this browser</p>
    <table class="mcs-basic-table">
      <thead>
        <tr>
          <th>Company</th>
          <th>Workflow</th>
          <th>Source</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let state of savedState">
          <td>
            <button mat-button (click)="onClick(state)">
              {{ state.companyName ? state.companyName : state.companyId }}
            </button>
          </td>
          <td>
            <button mat-button (click)="onClick(state)">
              {{ getWorkflowGroupId(state.workflowGroupId) }}
            </button>
          </td>
          <td>{{ state.source }}</td>
        </tr>
        <tr *ngIf="!savedState">
          <td colspan="5" style="padding: 0;">
            <mcs-alert type="warn">
              <span>No draft workflows yet.</span>
            </mcs-alert>
          </td>
        </tr>
      </tbody>
    </table>

  </mcs-content-panel>
</mcs-page>
