<mcs-page [header]="'launchPadCrispOrders.header' | translate" leftPanelExpandedByDefault="true">
  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>
    <mcs-launch-pad #launchPad [context]="context" *ngIf="!processing"></mcs-launch-pad>

    <div *ngIf="processing" class="placeholder-content">
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
    </div>

    <!-- <div *ngIf="!processing">
      <h1>LAUNCH Pad </h1>
      <p>An err</p>
    </div> -->

  </mcs-content-panel>
</mcs-page>
