<mcs-page header="Run LaunchPad Workflow" leftPanelExpandedByDefault="true">
  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>
    <mcs-workflow-core #launchPad [context]="context" *ngIf="!processing"></mcs-workflow-core>

    <div *ngIf="processing" class="placeholder-content">
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
      <div class="placeholder-content_item"></div>
    </div>

  </mcs-content-panel>
</mcs-page>
