<div class="account-panel-wrapper">
  <mcs-list header="Account">
    <!-- <mcs-list-item>
      <a cursor="pointer" (click)="notifySelectionChange('settings')">
        {{ textContent.accountSettings }}
      </a>
    </mcs-list-item>
    <mcs-list-item>
      <a cursor="pointer" (click)="notifySelectionChange('profile')">
        {{ textContent.profile }}
      </a>
    </mcs-list-item> -->
    <mcs-list-item *mcsAccessControl="['TicketView']">
      <a cursor="pointer" [mcsRouterLink]="routeKeyEnum.Tickets"
        (click)="notifySelectionChange('tickets')"
        mcsEventTracker="navigate-to-tickets"
        mcsEventCategory="navigation"
        mcsEventLabel="user-panel">
        {{ textContent.tickets }}
      </a>
    </mcs-list-item>
    <mcs-list-item *mcsAccessControl="['OrderView']">
      <ng-container *mcsAccessControl="[]; feature: 'enableOrdering'; else: macviewOrdersTemplate">
        <a cursor="pointer" [mcsRouterLink]="routeKeyEnum.Orders"
          (click)="notifySelectionChange('orders')"
          mcsEventTracker="navigate-to-orders"
          mcsEventCategory="navigation"
          mcsEventLabel="user-panel">
          {{ textContent.orders }}
        </a>
      </ng-container>

      <ng-template #macviewOrdersTemplate>
        <a cursor="pointer" [href]="macviewOrdersUrl" target="_blank"
          (click)="notifySelectionChange('orders')"
          mcsEventTracker="navigate-to-orders"
          mcsEventCategory="navigation"
          mcsEventLabel="user-panel">
          {{ textContent.orders }}
        </a>
      </ng-template>
    </mcs-list-item>
    <mcs-list-item>
      <a cursor="pointer" [href]="macviewChangePasswordUrl" target="_blank"
        (click)="notifySelectionChange('change-password')"
        mcsEventTracker="navigate-to-change-password"
        mcsEventCategory="navigation"
        mcsEventLabel="user-panel">
        {{ textContent.changePassword }}
      </a>
    </mcs-list-item>
  </mcs-list>
</div>