<div class="account-panel-wrapper">
  <mcs-list header="Account">
    <!-- <mcs-list-item>
      <a cursor="pointer" (click)="notifySelectionChange('settings')">
        {{ textContent.accountSettings }}
      </a>
    </mcs-list-item>
    <mcs-list-item>
      <a cursor="pointer" (click)="notifySelectionChange('profile')">
        {{ textContent.profile }}
      </a>
    </mcs-list-item> -->
    <mcs-list-item>
      <a cursor="pointer" [routerLink]="['/tickets']"
        *mcsAccessControl="['TicketView']" (click)="notifySelectionChange('tickets')"
        mcsEventTracker="navigate-to-ticket"
        mcsEventCategory="navigation"
        mcsEventLabel="user-panel">
        {{ textContent.tickets }}
      </a>
    </mcs-list-item>
  </mcs-list>
</div>