@import "shared/index";

:host {
  display: block;
}

.account-panel-wrapper {
  @include flex(0 0 auto);
  @include display-flex(column);

  a {
    color: $color-grey-05;
    text-decoration: none;
    &:hover {
      color: $color-scheme-primary;
      text-decoration: none;
    }
  }

  .account-info {
    margin-bottom: 5px;
    display: none;

    @include breakpoint(small) {
      display: block;
    }
  }
}