<mcs-page header="Overview">
  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef class="full-width">
    <div class="report-wrapper">
      <div class="widget-wrapper">
        <ul>
          <li>
            <mcs-services-overview-widget></mcs-services-overview-widget>
          </li>
          <li>
            <mcs-azure-resources-widget></mcs-azure-resources-widget>
          </li>
          <li>
            <mcs-cost-recommendations-widget></mcs-cost-recommendations-widget>
          </li>
          <li>
            <mcs-change-requests-widget class="hide-on-print" *mcsAccessControl="['OrderEdit'];"></mcs-change-requests-widget>
          </li>
          <li>
            <mcs-contact-us-widget></mcs-contact-us-widget>
          </li>
          <li>
            <mcs-resource-changes-widget></mcs-resource-changes-widget>
          </li>
          <li>
            <mcs-azure-tickets-widget></mcs-azure-tickets-widget>
          </li>
          <li>
            <mcs-top-vms-by-cost-widget></mcs-top-vms-by-cost-widget>
          </li>
        </ul>
      </div>
    </div>
  </mcs-content-panel>
</mcs-page>
