<mcs-page header="Overview">
   <!-- Top Panel -->
   <mcs-top-panel *mcsTopPanelDef>
    <mcs-top-panel-item *mcsTopPanelItemDef padding-left-medium class="hide-on-print">
      <!-- PDF Icon -->
      <mcs-action-item mcsResponsivePanelItem hidden-small
        [disabled]="pdfDownloadInProgress || widgetsLoading()"
        [mcsTooltip]="'tooltip.exportPdf' | translate"
        (click)="onClickExportPdf($event)">
        <mcs-icon key="pdf-black" size="large" mcsCursor="pointer"></mcs-icon>
     </mcs-action-item>

      <!-- Word Icon -->
      <mcs-action-item mcsResponsivePanelItem hidden-small
        [disabled]="widgetsLoading() || pdfDownloadInProgress"
        [mcsTooltip]="'tooltip.exportWord' | translate"
        (click)="onClickExportWord()">
        <mcs-icon key="word-black" size="large" mcsCursor="pointer"></mcs-icon>
      </mcs-action-item>

      <ng-container *ngIf="pdfDownloadInProgress">
        <mcs-loader size="small"
          [mcsTooltip]="'tooltip.tooltipText' | translate"
          mcsTooltipPosition="right"></mcs-loader>
      </ng-container>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef class="full-width dashboard-content">
    <div class="report-wrapper">
      <div class="widget-wrapper">
        <ul>
          <li>
            <mcs-services-overview-widget (azureSubscriptionChange)="azureSubscription($event)"
              (licenseSubscriptionChange)="licenseSubscription($event)"></mcs-services-overview-widget>
          </li>
          <li>
            <mcs-azure-resources-widget (chartChange)="azureResourceUri($event)"></mcs-azure-resources-widget>
          </li>
          <li>
            <mcs-cost-recommendations-widget (dataChange)="costRecommendations($event)"></mcs-cost-recommendations-widget>
          </li>
          <li>
            <mcs-change-requests-widget class="hide-on-print"
              [isPrivateCloud]="false"
              *mcsAccessControl="['OrderEdit'];"></mcs-change-requests-widget>
          </li>
          <li>
            <mcs-contact-us-widget (dataChange)="contactUs($event)"></mcs-contact-us-widget>
          </li>
          <li>
            <mcs-resource-changes-widget (chartChange)="resourceCountUri($event)"></mcs-resource-changes-widget>
          </li>
          <li>
            <mcs-azure-tickets-widget (dataChange)="azureTickets($event)"></mcs-azure-tickets-widget>
          </li>
          <li>
            <mcs-top-vms-by-cost-widget (dataChange)="topVmsByCost($event)"></mcs-top-vms-by-cost-widget>
          </li>
          <li *mcsAccessControl="[]; feature: ['EnablePlatformSecurityAdvisoryListing']">
            <mcs-platform-security-advisories-widget (dataChange)="platformSecurityDataChange($event)"></mcs-platform-security-advisories-widget>
          </li>
        </ul>
      </div>
    </div>
  </mcs-content-panel>
</mcs-page>
