@import '../../../styles/shared/base';

header {
  @include breakpoint(small) {
    position: fixed;
    top: 0;
    width: 100%;
    padding-right: 0;
    z-index: $header-z-index;
  }
}

.header-container {
  align-items: center;
  padding: $space-large 0;
  @include breakpoint(medium) {
    padding: $space-medium 0;
    border-right: 1px solid $color-grey-01;
  }
  @include breakpoint(small) {
    border-right: none;
  }
  @include display-flex(row);

  i {
    @include breakpoint(small) {
      @include font-size($icon-small-font-size);
    }
  }

  .logo {
    margin-right: auto;
    img {
      width: auto;
      height: 40px;
      @include breakpoint(small) {
        height: 25px;
      }
    }
  }

  // TODO: Move to specific folder of user panel component
  .notification {
    padding: 0 $space-large;
    @include breakpoint(small) {
      padding: 0 $space-medium;
    }
  }

  .exit {
    padding: 0 $space-medium;
    border-left: 1px solid $color-grey-01;
    display: none;
    @include breakpoint(small) {
      display: inline-block;
    }
  }

  .user-panel {
    max-height: 40px;
    padding: 0 $space-large;
    text-align: center;
    @include breakpoint(medium) {
      border-left: 1px solid $color-grey-01;
    }
    @include breakpoint(small) {
      padding: 0 $space-medium;
      border-left: 1px solid $color-grey-01;
    }
    .user-icon {
      display: none;
      @include breakpoint(small) {
        display: inline-block;
      }
    }
    .user-info {
      display: block;
      @include breakpoint(small) {
        display: none;
      }
      color:  $color-grey-01;
      @include font-size($caption-xsmall-font-size, $caption-xsmall-line-height);
    }
  }
}
