<div class="widget flat">
  <div class="resource-health-wrapper" *ngIf="!processing && !hasError">
    <div *ngIf="empty; else resourceHealth">
      <mcs-status-message type="info">
        {{ 'reports.insights.techReview.empty' | translate }}
      </mcs-status-message>
    </div>
    <ng-template #resourceHealth>
      <mcs-pie-chart
        [config]="chartConfig"
        [chartLabels]="chartLabels"
        [data]="chartSeries"
        (chartChange)="updateChartUri($event?.imgURI)">
      </mcs-pie-chart>
    </ng-template>
  </div>

  <mcs-report-widget-data-status type="info" [processing]="processing" [hasError]="hasError" (retry)="getData()">
  </mcs-report-widget-data-status>
</div>
  