@import "shared/index";

.resource-health-wrapper {
  .apexcharts-datalabels-group {
    .apexcharts-datalabel-label {
      font-size: 1.75em;
    }

    .apexcharts-datalabel-value {
      font-size: 2em;
      font-weight: 700;
    }
  }

  .apexcharts-pie-label {
    display: none;

    @include print() {
      display: block;
    }
  }
}