<section class="notifications-container">
  <div class="mcs-page-title bordered-bottom">
    <div class="main-title">
      <h2>{{ notificationsTextContent.header }}</h2>
    </div>
    <div class="notifications-count">
      <span>{{ totalNotificationsCount }} {{ notificationsTextContent.header }}</span>
    </div>
  </div>

  <span class="notifications-description">
    {{ notificationsTextContent.description }}
  </span>

  <div class="notifications-search">
    <mcs-textbox class="search-keyword" name="search" [ngModel]="keyword"
      (ngModelChange)="onSearchEvent($event)" width="350px"
      placeholder="Type to filter..." (keyup.enter)="onEnterSearchEvent()"></mcs-textbox>

    <mcs-filter-selector class="hidden-small" key="notificationListingFilter"
      (onGetFilters)="onUpdateColumnSettings($event)"></mcs-filter-selector>
  </div>

  <table class="mcs-table table">
    <thead class="head">
      <tr>
        <th class="text-center">{{ notificationsTextContent.tableHeader.status }}</th>
        <th>{{ notificationsTextContent.tableHeader.user }}</th>
        <th>{{ notificationsTextContent.tableHeader.notification }}</th>
        <th *ngIf="columnSettings['startTime'].value" class="hidden-small">
          {{ columnSettings['startTime'].text }}
        </th>
        <th *ngIf="columnSettings['completed'].value" class="hidden-small">
          {{ columnSettings['completed'].text }}
        </th>
        <th *ngIf="columnSettings['vdc'].value" class="hidden-small">
          {{ columnSettings['vdc'].text }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let notification of notifications">
        <td class="text-center align-top">
          <mcs-icon [key]="getStatusIconKey(notification.status)"
            [color]="getStatusIconColor(notification.status)" size="small"></mcs-icon>
        </td>
        <td class="text-left align-top">
          {{ notification.ownerName }}
        </td>
        <td class="text-left align-top">
          <a href="#">
            <u>
              {{ notification.description }}<br/>
              {{ notification.summaryInformation }}
            </u>
          </a>
        </td>
        <td *ngIf="columnSettings['startTime'].value" class="text-left align-top hidden-small">
          {{ convertDateTimeToString(notification.startedOn) }}
        </td>
        <td *ngIf="columnSettings['completed'].value" class="text-left align-top hidden-small">
          {{ convertDateTimeToString(notification.endedOn) }}
        </td>
        <td *ngIf="columnSettings['vdc'].value" class="text-left align-top hidden-small">
          <!--TODO: Set the actual VDC here:-->
          M2VDC27117006
        </td>
      </tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>

  <div class="status-information">
    <div *ngIf="isLoading">
      <mcs-icon [key]="spinnerIconKey" size="small"></mcs-icon>
       {{ notificationsTextContent.loading }}
    </div>

    <a *ngIf="(getDisplayNotificationsCount() < totalNotificationsCount) && !isLoading"
      (click)="onClickMoreEvent()">{{ notificationsTextContent.viewMore }}
      <mcs-icon [key]="arrowDownIconKey" size="small"></mcs-icon>
    </a>

    <span *ngIf="!loadedSuccessfully && !isLoading">
      {{ notificationsTextContent.errorMessage }} <br/>
      <a (click)="getNotifications()">Try again shortly</a>.
    </span>

    <span *ngIf="noNotifications">{{ notificationsTextContent.noNotifications }}</span>
    <span *ngIf="emptySearchResult">{{ notificationsTextContent.emptySearchResult }}</span>
  </div>
</section>