@import "../../../styles/shared/base";

.notifications-container {
  position: relative;
  @include display-flex(column);

  .notifications-description {
    margin-bottom: $space-large;
  }

  .status-information {
    display: block;
    padding-bottom: $space-large;
    text-align: center;
  }
}