<mcs-page [header]="'notifications.header' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>

    <!-- Notifications Action -->
    <mcs-top-panel-item *mcsTopPanelItemDef>
      <div class="listing-action-wrapper">
        <div class="total-record-count">
          <span>{{ totalRecordsCount | mcsPlural:
                ('notifications.dataSingular' | translate) : ('notifications.dataPlural' | translate) }}
          </span>
        </div>
      </div>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'notifications.leftPanelHeader' | translate">
    <!-- Search -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <mcs-search *ngIf="!isMobile" #search mcsId="notifications-desktop-search"></mcs-search>
    </mcs-left-panel-item>

    <!-- Column Filter -->
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="'notifications.filterColumn' | translate" offset="medium">
      <mcs-filter-selector [key]="columnSettingsKey" #filterSelector
        (filtersChange)="updateColumnSettings($event)"></mcs-filter-selector>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>
    <div class="listing-table-wrapper">
      <!-- Search -->
      <mcs-search *ngIf="isMobile" #search mcsId="notifications-mobile-search"></mcs-search>

      <!-- Table -->
      <mcs-table [dataSource]="dataSource" [columnFilter]="filterSelector">

        <!-- Notification Column -->
        <ng-container mcsColumnDef="notification">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ columnSettings.notification.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" text-wrap>
            <mcs-item>
              <ng-container *ngIf="row.inProgress; else iconTemplate">
                <mcs-loader size="small"></mcs-loader>
              </ng-container>
              <ng-template #iconTemplate>
                <mcs-icon [key]="row.dataStatusIconKey" size="small"></mcs-icon>
              </ng-template>
              <span>
                {{ row.description }}<br/>
                {{ row.summaryInformation }}
              </span>
            </mcs-item>
          </mcs-data-cell>
        </ng-container>

        <!-- User Column -->
        <ng-container mcsColumnDef="user">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ columnSettings.user.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            <span>{{ row.initiatorFullName }}</span><br/>
            <span read-only *ngIf="(activeCompany$ | async)?.id !== row.initiatorCompanyId">
              {{ 'notifications.account' | translate }}
            </span>
          </mcs-data-cell>
        </ng-container>

        <!-- Start Time Column -->
        <ng-container mcsColumnDef="startTime">
          <mcs-header-cell *mcsHeaderCellDef hidden-small>
            {{ columnSettings.startTime.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" hidden-small>
              {{ row.startedOn | mcsStdDateFormat }}
          </mcs-data-cell>
        </ng-container>

        <!-- Completed Column -->
        <ng-container mcsColumnDef="completed">
          <mcs-header-cell *mcsHeaderCellDef hidden-small>
            {{ columnSettings.completed.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" hidden-small>
              {{ row.endedOn | mcsStdDateFormat }}
          </mcs-data-cell>
        </ng-container>

        <!-- Data Status Integration -->
        <ng-container mcsDataStatusDef>
          <mcs-data-empty *mcsDataEmptyDef>
            <span>{{ 'notifications.noNotifications' | translate }}</span>
          </mcs-data-empty>
          <mcs-data-error *mcsDataErrorDef>
            <div class="listing-status-wrapper">
              <span>{{ 'notifications.errorMessage' | translate }}</span>
              <a (click)="retryDatasource()"
                mcsId
                mcsEventTracker="retry-loading-notifications"
                mcsEventCategory="notification"
                mcsEventLabel="notification-listing-page">{{ 'notifications.retry' | translate }}</a>.
            </div>
          </mcs-data-error>
        </ng-container>

        <!-- Header and Data row -->
        <mcs-header-row *mcsHeaderRowDef="dataColumns"></mcs-header-row>
        <mcs-data-row *mcsDataRowDef="let row; columns: dataColumns;"
          mcsCursor="pointer"
          (click)="navigateToNotification(row)"
          mcsId="notification-row"
          mcsEventTracker="try-navigate-to-job-details"
          mcsEventCategory="notification"
          mcsEventLabel="notification-listing-page"></mcs-data-row>
      </mcs-table>

      <!-- Paginator -->
      <mcs-paginator #paginator
        [hidden]="isSearching"
        [totalCount]="totalRecordsCount">
      </mcs-paginator>
    </div>
  </mcs-content-panel>
</mcs-page>
