<div class="widget">
  <h3>
    {{ 'reports.widgets.azureResourcesWidget.title' | translate }}
    <a
      class="hide-on-print"
      href="{{ cloudHealthUrl }}"
      target="_blank"
      style="float: right;"
      mcsId="services-overview-cloudhealth-link"
      mcsEventTracker="navigate-to-cloudhealth"
      mcsEventCategory="cloudhealth"
      mcsEventLabel="azure-resources-widget">
        <span>{{ 'reports.widgets.azureResourcesWidget.cloudHealthLinkLabel' | translate }}</span>
    </a>
  </h3>

  <mcs-horizontal-bar-chart
    *ngIf="!processing && !hasError"
    height="380px"
    [data]="data$ | async"
    [distributed]="false">
  </mcs-horizontal-bar-chart>

  <mcs-report-widget-data-status type="info" [processing]="processing" [hasError]="hasError" (retry)="getData()">
  </mcs-report-widget-data-status>
</div>
