<div class="widget">
  <h3>
    {{ 'reports.overview.azureResourcesWidget.title' | translate }}
    <a
      class="hide-on-print"
      href="{{ cloudHealthUrl }}/dashboard"
      target="_blank"
      style="float: right;"
      mcsId="services-overview-cloudhealth-link"
      mcsEventTracker="navigate-to-cloudhealth"
      mcsEventCategory="cloudhealth"
      mcsEventLabel="azure-resources-widget">
        <span>{{ 'label.viewInCloudHealth' | translate }}</span>
    </a>
  </h3>

  <mcs-horizontal-bar-chart
    *ngIf="!processing && !hasError"
    [data]="data$ | async"
    [config]="chartConfig"
    (chartChange)="updateChartUri($event?.imgURI)">
  </mcs-horizontal-bar-chart>

  <mcs-report-widget-data-status type="info" [processing]="processing" [hasError]="hasError" (retry)="getData()">
  </mcs-report-widget-data-status>
</div>
