<div class="widget">
  <h3>
    {{ 'reports.widgets.azureResourcesWidget.title' | translate }}
    <a
      class="hide-on-print"
      href="#"
      style="float: right;"
      mcsId
      mcsEventTracker="navigate-to-cloudhealth"
      mcsEventCategory="cloudhealth"
      mcsEventLabel="azure-resources-widget">
        <span>{{ 'reports.widgets.azureResourcesWidget.cloudHealthLinkLabel' | translate }}</span>
    </a>
  </h3>
  <mcs-bar-chart [data]="data$ | async" [showLegend]="false" *ngIf="!processing && !hasError"></mcs-bar-chart>

  <mcs-report-widget-data-status type="info" [processing]="processing" [hasError]="hasError" (retry)="getData()">
  </mcs-report-widget-data-status>
</div>
