<div mat-dialog-title>
  <h3>{{ dialogData?.title }}</h3>
</div>

<div mat-dialog-content>
  <ng-container *ngIf="isMessageTemplate; else messageTemplate">
    <ng-container *ngTemplateOutlet="dialogData?.message"></ng-container>
  </ng-container>
  <ng-template #messageTemplate>
    <span [innerHTML]="dialogData?.message"></span>
  </ng-template>

  <mat-form-field appearance="outline" margin-top-large>
    <mat-label>{{ dialogData.placeholder }}</mat-label>

    <input matInput type="text" [formControl]="fcName">
    <!-- <mat-error *ngIf="fcName?.required">Name is required.</mat-error>
    <mat-error *ngIf="fcName?.mismatch">Name inputted mismatched.</mat-error> -->
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onCancelClick()">
    {{ cancelText }}
  </button>
  <button mat-raised-button (click)="onConfirmClick()" cdkFocusInitial color="primary">
    {{ confirmText }}
  </button>
</div>
