<div class="server-performance-scale-container">
  <div class="description">
    <ng-content select="[title]"></ng-content>
    <ng-content *ngIf="inputManageType == inputManageTypeEnum.Slider"
      select="[slider-details]"></ng-content>
    <ng-content *ngIf="inputManageType == inputManageTypeEnum.Custom"
      select="[custom-details]"></ng-content>
  </div>

  <div class="custom-size">
    <a *ngIf="inputManageType == inputManageTypeEnum.Slider"
      (click)="onChangeInputManageType(inputManageTypeEnum.Custom)">
        {{ textContent.customSwitch }}</a>
    <a *ngIf="inputManageType == inputManageTypeEnum.Custom"
      (click)="onChangeInputManageType(inputManageTypeEnum.Slider)">
        {{ textContent.sliderSwitch }}</a>
  </div>

  <!--Custom size content element-->
  <form [formGroup]="serverScaleForm">
    <div *ngIf="inputManageType == inputManageTypeEnum.Custom">
      <div animate trigger="fadeIn" display-flex="column"
        align-items="flex-start" class="vertical-items-spacing-medium">

        <div class="field-wrapper">
          <span class="label">{{ textContent.ramLabel + ':'}} </span>

          <mcs-form-field [ngStyle]="{width: '150px'}">
            <input mcsInput placeholder="Enter RAM"
              [ngModel]="customMemoryGBValue"
              [formControl]="serverScaleCustomRam">
            <mcs-suffix mcsSuffix>{{ textContent.ramUnit }}</mcs-suffix>

            <mcs-error mcsError errorState="required">
              {{ textContent.errors.ramRequired }}
            </mcs-error>
            <mcs-error mcsError errorState="min">
              {{ ramMinValueText }}
            </mcs-error>
            <mcs-error mcsError errorState="numeric">
              {{ textContent.errors.ramNumeric }}
            </mcs-error>
            <mcs-error mcsError errorState="invalidRam">
              {{ invalidCustomMemoryValueMessage }}
            </mcs-error>
            <mcs-error mcsError errorState="maxRamError">
              {{ invalidCustomMemoryMaxValueMessage }}
            </mcs-error>
          </mcs-form-field>
        </div>

        <div class="field-wrapper">

          <span class="label">{{ textContent.cpuLabel + ':'}} </span>
          <mcs-form-field [ngStyle]="{width: '150px'}">
            <input mcsInput placeholder="Enter CPU"
              [ngModel]="customCpuCountValue"
              [formControl]="serverScaleCustomCpu">
            <mcs-suffix mcsSuffix>{{ textContent.cpuUnit }}</mcs-suffix>

            <mcs-error mcsError errorState="required">
              {{ textContent.errors.cpuRequired }}
            </mcs-error>
            <mcs-error mcsError errorState="min">
              {{ cpuMinValueText }}
            </mcs-error>
            <mcs-error mcsError errorState="numeric">
              {{ textContent.errors.cpuNumeric }}
            </mcs-error>
            <mcs-error mcsError errorState="maxCpuError">
              {{ invalidCustomCpuMaxValueMessage }}
            </mcs-error>
          </mcs-form-field>
        </div>
      </div>

    </div>
  </form>

  <!--Slider content element-->
  <div *ngIf="inputManageType == inputManageTypeEnum.Slider">
    <div class="scale">
      <mcs-slider animate trigger="fadeIn"
        [min]="minimum" [max]="maximum"
        [ngModel]="sliderValue"
        (ngModelChange)="onSliderChanged($event)"></mcs-slider>
      <span class="scale-label">
        {{ currentServerScale.memoryMB + ' ' +
          textContent.ramUnit + ' ' +
            textContent.ramLabel }} /
        {{ currentServerScale.cpuCount + ' ' + textContent.cpuUnit }}
      </span>
      <span class="available-label">
        ({{ remainingMemoryMB + ' ' +
          textContent.ramUnit + ' ' +
            textContent.ramLabel }} /
              {{ remainingCpuCount + ' ' +
                textContent.cpuUnit }} available)
      </span>
    </div>
  </div>
</div>