@import "../../../../../styles/shared/base";

:host {
  display: block;
}

.server-performance-scale-container {
  @include display-flex(row);
  @include flex-wrap(wrap);
  @include set-items-interval(10px, vertical);

  * {
    @include flex(1 1 100%);
  }

  .custom-size {
    margin: 0;
    text-align: right;
    @include flex(0 1 25%);
    @include breakpoint(small) {
      @include flex(0 1 50%);
    }
  }

  .description {
    @include flex(0 1 75%);
    @include display-flex(column);
    @include breakpoint(small) {
      @include flex(0 1 50%);
    }
  }

  .custom-size-content {
    min-height: 100px;

    .custom-size-inputs {
      @include set-items-interval($space-small, vertical);

      li {
        .input-group {
          @include display-flex(row);
          align-items: center;

          .label {
            @include flex(0 1 15%);
            @include breakpoint(small) {
              @include flex(0 1 20%);
            }
          }

          .input {
            @include flex(0 1 30%);
            @include breakpoint(small) {
              @include flex(0 1 50%);
            }
          }

          .unit {
            @include flex(0 1 55%);
            @include breakpoint(small) {
              @include flex(0 1 30%);
            }
          }
        }

        .custom-size-input-error {
          display: block;
          margin-left: 0;
          > span {
            text-align: center;
          }
        }
      }
    }

    @include breakpoint(small) {
      @include display-flex(column);
      * {
        margin-left: 0;
      }
    }
  }

  .scale {
    min-height: 100px;
    > .scale-label,
    > .available-label {
      display: block;
      text-align: center;
    }

    > .scale-label {
      font-family: $base-font-bold;
    }
  }
}