<div class="server-performance-scale-container">
  <div class="description">
    <ng-content select="[title]"></ng-content>
    <ng-content *ngIf="inputManageType == inputManageTypeEnum.Slider"
      select="[slider-details]"></ng-content>
    <ng-content *ngIf="inputManageType == inputManageTypeEnum.Custom"
      select="[custom-details]"></ng-content>
  </div>

  <div class="custom-size">
    <a *ngIf="inputManageType == inputManageTypeEnum.Slider"
      (click)="onChangeInputManageType(inputManageTypeEnum.Custom)">
        {{ serverScalePerformanceTextContent.customSwitch }}</a>
    <a *ngIf="inputManageType == inputManageTypeEnum.Custom"
      (click)="onChangeInputManageType(inputManageTypeEnum.Slider)">
        {{ serverScalePerformanceTextContent.sliderSwitch }}</a>
  </div>

  <!--Custom size content element-->
  <form [formGroup]="serverScaleForm">
    <div *ngIf="inputManageType == inputManageTypeEnum.Custom">
      <div animate trigger="fadeIn" class="custom-size-content">
        <ul class="custom-size-inputs unstyled-list">
          <li>
            <div class="input-group">
              <span class="label">{{ serverScalePerformanceTextContent.ramLabel }} : </span>
              <span class="input">
                <mcs-textbox width="150px"
                  placeholder="RAM"
                  formControlName="serverScaleCustomRam"
                  [(ngModel)]="customMemoryGBValue"
                  [valid]="isControlValid(serverScaleCustomRam)"
                  [suffix]="serverScalePerformanceTextContent.ramUnit">
                </mcs-textbox>
              </span>
            </div>
            <mcs-validation-message [control]="serverScaleCustomRam"></mcs-validation-message>
          </li>
          <li>
            <div class="input-group">
              <span class="label">{{ serverScalePerformanceTextContent.cpuLabel }} : </span>
              <span class="input">
                <mcs-textbox width="150px"
                  placeholder="CPUs"
                  formControlName="serverScaleCustomCpu"
                  [(ngModel)]="customCpuCountValue"
                  [valid]="isControlValid(serverScaleCustomCpu)"
                  [suffix]="serverScalePerformanceTextContent.cpuUnit">
                </mcs-textbox>
              </span>
            </div>
            <mcs-validation-message [control]="serverScaleCustomCpu"></mcs-validation-message>
          </li>
        </ul>

      </div>
    </div>
  </form>

  <!--Slider content element-->
  <div *ngIf="inputManageType == inputManageTypeEnum.Slider">
    <div class="scale">
      <mcs-slider animate trigger="fadeIn"
        [min]="minimum" [max]="maximum"
        [ngModel]="sliderValue"
        (ngModelChange)="onSliderChanged($event)"></mcs-slider>
      <span class="scale-label">
        {{ currentServerScale.memoryMB + ' ' +
          serverScalePerformanceTextContent.ramUnit + ' ' +
            serverScalePerformanceTextContent.ramLabel }} /
        {{ currentServerScale.cpuCount + ' ' + serverScalePerformanceTextContent.cpuUnit }}
      </span>
      <span class="available-label">
        ({{ remainingMemoryMB + ' ' +
          serverScalePerformanceTextContent.ramUnit + ' ' +
            serverScalePerformanceTextContent.ramLabel }} /
              {{ remainingCpuCount + ' ' +
                serverScalePerformanceTextContent.cpuUnit }} available)
      </span>
    </div>
  </div>
</div>