@import "../../../../styles/shared/base";

.audit-alerts-widget {
  margin-bottom: $space-large;

  @include print() {
    width: 850px;
    overflow-x: visible;
    height: auto;
    max-height: none;
    margin-top: $space-large;
    display: table;
  }
  .listing-table-wrapper {
    max-height: 500px;
    max-width: 100%;
    overflow-x: auto;
    min-width: 100%;

    @include print() {
      display: table;
    }

    .mat-table {
      padding: 0;
      margin: 0;

      @include print() {
        display: table-row-group;
        overflow: visible;
      }
  
      th {
        position: sticky;
        top: 0;
        background: $color-black;

        @include print() {
          position: relative;
          white-space: pre-wrap;
          vertical-align: bottom;
        }
      }
  
      td {
        @include print() {
          white-space: pre-wrap;
          vertical-align: middle;
        }
      }
    }

    .listing-status-wrapper {
      justify-content: center;
    }
  }
}