@import "shared/index";

.operational-savings-container {
  margin-bottom: $space-large;
}

.operational-savings-wrapper {
  @include print() {
    width: 850px;
    height: auto;
    overflow: auto;
    page-break-before: auto;
    page-break-after: auto;
  }

  .item-wrapper {
    margin-bottom: $space-large;

    .icon {
      margin-right: $space-large;
    }
  }

  .error-wrapper {
    margin-bottom: $space-large;
  }

  table.mcs-compact-table {
    width: 100%;

    @include print() {
      overflow: auto;
    }

    tr {
      td:last-child {
        text-align: right;
        padding-right: 24px;
      }
    }
  }
  .mat-expansion-panel-header {
    height: auto;
    padding: $space-large 24px;

    .mat-expansion-panel-header-description {
      justify-content: flex-end;
      align-items: center;
    }
  }
}
