@import "../../../styles/shared/base";

$presentation-panel-header-font-size: 14;
$presentation-panel-header-font: $base-font-bold;
$presentation-panel-header-padding: 5px 13px;
$presentation-panel-content-padding: 13px;

.presentation-panel-wrapper {
  @include display-flex(column);

  &.presentation-card {
    @include box-shadow((
      0 2px 2px rgba($color-black, 0.24),
      0 0 2px rgba($color-black, 0.12)
    ));
    border: 1px solid $color-grey-07;
  }
}

.presentation-panel-header {
  @include display-flex(row);
  @include align-items(center);
  padding: $presentation-panel-header-padding;
  background-color: $color-grey-07;
  @include font-size($presentation-panel-header-font-size);
  font-family: $presentation-panel-header-font;
}

.presentation-panel-content {
  @include display-flex(column);
  padding: $presentation-panel-content-padding;
}

