@import "shared/index";

$shadow-effect: 1px solid #e3e3e3;
$widget-border-radius: 3px;

.widget-box {
  .widget {
    margin-bottom: $space-large;
    padding: $space-large;
    background-color: $color-white;
    border-bottom: $shadow-effect;
    border-right: $shadow-effect;
    border-radius: $widget-border-radius;
    @include break(avoid);

    @include print() {
      padding-bottom: 0;
      padding-top: 0;
      page-break-before: auto !important;
      page-break-after: auto !important;
      page-break-inside: avoid !important;
      border-bottom: none;
      border-right: none;

      .apexcharts-toolbar {
        display: none;
      }
    }

    mcs-cta-list-panel:last-child {
      .item-wrapper {
        margin-bottom: 0;
      }
    }

    .error-wrapper {
      margin: $space-large 0 0;
    }

    &.flat {
      padding: 0;
      border-bottom: none;
      border-right: none;
    }

    &>h3 {
      margin-bottom: 10px;
    }

    .title {
      align-items: flex-start;
    }

    .icon-container {
      svg {
        fill: $color-black !important;
      }
    }
  }

  .reporting-table-widget {
    margin-bottom: $space-large;

    @include print() {
      width: 850px;
    }

    .label-with-dropdown {
      margin-top: -15px;

      @include breakpoint(small) {
        margin-top: 0;
      }

      @include print() {
        margin-top: 0;
      }
    }
  }
}