@import "../../../styles/shared/base";

$shadow-effect: 1px solid #e3e3e3;

.widget-box {
  .widget {
    margin-bottom: $space-large;
    padding: $space-large;
    background-color: $color-white;
    border-bottom: $shadow-effect;
    border-right: $shadow-effect;

    @include print() {
      padding-bottom: 0;
      padding-top: 0;
    }

    .error-wrapper {
      margin: $space-large 0;
    }

    @include print() {
      page-break-before: auto !important;
      page-break-after: auto !important;
      page-break-inside: avoid !important;
      border-bottom: none;
      border-right: none;

      .apexcharts-toolbar {
        display: none;
      }
    }

    &.flat {
      margin-bottom: 0;
      padding: 0;
      border-bottom: none;
      border-right: none;
    }

    &>h3 {
      margin-bottom: 10px;
    }
  }
}