@import "../../../styles/shared/base";

$shadow-effect: 1px solid #e3e3e3;
$table-max-height: 350px;

.widget-box {
  .widget {
    margin-bottom: $space-large;
    padding: $space-large;
    background-color: $color-white;
    border-bottom: $shadow-effect;
    border-right: $shadow-effect;
    @include break(avoid);

    @include print() {
      padding-bottom: 0;
      padding-top: 0;
      page-break-before: auto !important;
      page-break-after: auto !important;
      page-break-inside: avoid !important;
      border-bottom: none;
      border-right: none;

      .apexcharts-toolbar {
        display: none;
      }
    }

    mcs-cta-list-panel:last-child {
      .item-wrapper {
        margin-bottom: 0;
      }
    }

    .error-wrapper {
      margin: $space-large 0 0;
    }

    &.flat {
      padding: 0;
      border-bottom: none;
      border-right: none;
    }

    &>h3 {
      margin-bottom: 10px;
    }
  }
  .listing-table-wrapper {
    max-height: $table-max-height;
    max-width: 100%;
    min-width: 100%;
    margin-top: $space-large;
    overflow-x: auto;

    @include print() {
      display: table;
    }

    .listing-status-wrapper {
      justify-content: center;
    }

    .mat-table {
      padding: 0;
      margin: 0;
      min-width: 100%;

      @include print() {
        overflow: visible;
      }

      th {
        position: sticky;
        top: 0;
        background: $color-black;

        @include print() {
          position: relative;
          white-space: pre-wrap;
          vertical-align: bottom;
        }
      }

      td {
        @include print() {
          white-space: pre-wrap;
          vertical-align: middle;
        }
      }
    }

    .item-wrapper.item-block {
      margin: 0;
  
      > div {
        margin-top: $space-large;
      }
    }
  }
}