<div class="data-wrapper">
  <div style="text-align: center;">
    <div *ngIf="processing; else done" class="placeholder-content" style="height: 280px;">
    </div>
  </div>

  <ng-template #done>
    <ng-content *ngIf="!hasError; else error"></ng-content>
    <ng-template #error>
      <div class="error-wrapper">
        <mcs-status-message type="error">
          {{ 'reports.errorMessage' | translate }}<a style="margin-left: 5px;" mcsId (click)="tryAgain()">{{ 'reports.retryLabel' | translate }}</a>
        </mcs-status-message>
      </div>
    </ng-template>
  </ng-template>
</div>
