<ng-container *ngIf="selectedAzureManagementService$ | async as selectedAzureManagementService">

  <mcs-page [header]="selectedAzureManagementService.description">

    <!-- Left Panel -->
    <mcs-left-panel *mcsLeftPanelDef="'azureManagementService.leftPanelHeader' | translate">
      <!-- listing panel -->
      <mcs-left-panel-item *mcsLeftPanelItemDef>
        <div class="listing-panel-wrapper">
          <mcs-search #search mcsId="azure-management-service-listing-panel-search"></mcs-search>

          <mcs-list-panel [dataSource]="listviewDatasource" [config]="listviewDatasource?.config?.panelSettings">
            <ng-container *mcsListPanelContent="let azureManagementService">
              <a [mcsRouterLink]="[routeKeyEnum.AzureManagementServicesDetails, azureManagementService.id]"
                mcsId="select-azure-management-service"
                mcsEventTracker="azure-management-services-list-panel-item"
                mcsEventCategory="public-cloud"
                mcsEventLabel="azure-management-service-detail-view-list-panel">
                <mcs-option [value]="azureManagementService"
                  [selected]="selectedAzureManagementService.id === azureManagementService.id">
                  <mcs-item>
                    <span [innerHTML]="azureManagementService.description | mcsDataLabel"></span>
                  </mcs-item>
                </mcs-option>
              </a>
            </ng-container>
          </mcs-list-panel>
        </div>
      </mcs-left-panel-item>
    </mcs-left-panel>

    <mcs-content-panel *mcsContentPanelDef>
      <div class="routing-tab-wrapper">
        <mcs-tab-group [selectedTabId]="selectedTabId$ | async" (tabChanged)="onTabChanged($event)">
          <!-- Overview Tab -->
          <mcs-tab [label]="'azureManagementService.overview.label' | translate" id="overview">
          </mcs-tab>

          <!-- Children Tab -->
          <mcs-tab
            [label]="'azureManagementService.children.label' | translate" id="children">
          </mcs-tab>

          <!-- Action tab -->
          <ng-container mcsTabHeaderCustom>
            <ng-container *ngIf="hasContextMenuItems(selectedAzureManagementService)"> 
              <button mcsButton="icon" mcsId="management-service-action" mcsAlign="end"
                mcsPopover placement="bottom" orientation="left"
                theme="light" padding="none" [content]="actionContent">
                <mcs-icon [key]="cogIconKey" size="large"></mcs-icon>
              </button>

              <ng-template #actionContent>
                <div class="cog-actions-wrapper">
                  <ng-container *ngIf="hasAccessToServiceRequest(selectedAzureManagementService)">
                    <a mcsButton="basic" color="white" labelPlacement="left"
                      (click)="navigateToServiceRequest(selectedAzureManagementService)"
                      mcsId="azure-management-service-service-request-link"
                      mcsEventTracker="azure-management-service-service-request"
                      mcsEventCategory="azure-management-service"
                      mcsEventLabel="azure-management-service-details-page">
                      {{ 'azureSubscriptions.serviceRequest' | translate }}
                    </a>
                  </ng-container>

                  <mcs-context-menu-link
                    mcsAlign="end"
                    [serviceId]="selectedAzureManagementService.serviceId"
                    [serviceChangeAvailable]="selectedAzureManagementService.serviceChangeAvailable"
                    [hasMenuButton]="false"
                    [eventCategory]="'azure-management-service'"
                    [eventLabel]="'azure-management-service-details-page'">
                </mcs-context-menu-link>
                </div>
              </ng-template>
            </ng-container>
          </ng-container>
        </mcs-tab-group>

        <!-- Tab content for routing tab -->
        <div class="routing-tab-content-wrapper limited-view">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mcs-content-panel>
  </mcs-page>

  <mcs-help-widget *mcsAccessControl="['TicketCreate']"
    [serviceId]="selectedAzureManagementService.serviceId"
    mcsEventTracker="azure-management-services-help"
    mcsEventCategory="help"
    mcsEventLabel="help-panel">
  </mcs-help-widget>

</ng-container>
