<div class="container-fluid footer-wrapper">
  <div class="container">
    <footer class="footer-container">
      <div class="copyright">
        <span>&copy; {{ copyright }}</span>
      </div>
      <div class="links">
        <ul class="unstyled-list">
          <li>
            <a href="#">{{ links.privacyPolicy }}</a>
          </li>
          <li>
            <a href="#">{{ links.termsUse }}</a>
          </li>
          <li>
            <a href="#">{{ links.licenseAgreement }}</a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</div>