<footer class="container-fluid dark">
  <div class="container footer-container">
    <div class="copyright">
      <span>&copy; {{ copyright }}</span>
    </div>
    <div class="links">
      <ul class="unstyled-list">
        <li>
          <a href="#">
            {{ links.privacyPolicy }}
          </a>
        </li>
        <li>
          <a href="#">
            {{ links.termsOfUse }}
          </a>
        </li>
        <li>
          <a href="#">
            {{ links.serviceAgreement }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>