<mcs-page [header]="'orders.header' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>

    <!-- Order Count -->
    <mcs-top-panel-item *mcsTopPanelItemDef>
      <div class="listing-action-wrapper">
        <div class="total-record-count">
          <span>{{ dataSource?.totalRecordsCount | mcsPlural:
                  ('orders.dataSingular' | translate) :
                  ('orders.dataPlural' | translate) }}
          </span>
        </div>
      </div>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'orders.leftPanelHeader' | translate">
    <!-- Search -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <mcs-search *ngIf="!isMobile" #search mcsId="orders-desktop-search"></mcs-search>
    </mcs-left-panel-item>

    <!-- Column Filter -->
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="'orders.filterColumn' | translate" offset="medium">
      <mcs-filter-selector [key]="columnSettingsKey" #filterSelector
        (filtersChange)="updateColumnSettings($event)"></mcs-filter-selector>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>

    <div class="listing-table-wrapper">

      <!-- Search -->
      <mcs-search *ngIf="isMobile" #search mcsId="orders-mobile-search"></mcs-search>

      <!-- Table -->
      <mcs-table [dataSource]="dataSource" [columnFilter]="filterSelector">
        <!-- Description Column -->
        <ng-container mcsColumnDef="description">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ columnSettings.description.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            <a [mcsRouterLink]="[routeKeyEnum.OrderDetails, row.id]"
              mcsId="select-order"
              mcsEventTracker="navigate-to-order"
              mcsEventCategory="order"
              mcsEventLabel="order-listing-page">
              {{ row.description }}</a>
          </mcs-data-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container mcsColumnDef="status">
          <mcs-header-cell *mcsHeaderCellDef hidden-xsmall>
            {{ columnSettings.status.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" hidden-xsmall>
            {{ row.workflowStatusLabel }}
          </mcs-data-cell>
        </ng-container>

        <!-- Order ID Column -->
        <ng-container mcsColumnDef="orderId">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ columnSettings.orderId.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            {{ row.orderId }}
          </mcs-data-cell>
        </ng-container>

        <!-- Created By Column -->
        <ng-container mcsColumnDef="createdBy">
          <mcs-header-cell *mcsHeaderCellDef hidden-xsmall>
            {{ columnSettings.createdBy.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" hidden-xsmall>
            {{ row.createdBy }}
          </mcs-data-cell>
        </ng-container>

        <!-- Created On Column -->
        <ng-container mcsColumnDef="createdOn">
          <mcs-header-cell *mcsHeaderCellDef hidden-xsmall>
            {{ columnSettings.createdOn.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" hidden-xsmall>
            {{ row.createdOn | mcsStdDateFormat }}
          </mcs-data-cell>
        </ng-container>

        <!-- Data Status Integration -->
        <ng-container mcsDataStatusDef>
          <mcs-data-empty *mcsDataEmptyDef>
            <div class="listing-status-wrapper">
              <span>{{ 'orders.noOrders' | translate }} </span>
            </div>
          </mcs-data-empty>
          <mcs-data-error *mcsDataErrorDef>
            <div class="listing-status-wrapper">
              <span>{{ 'orders.errorMessage' | translate }}</span>
              <a (click)="retryDatasource()"
                mcsId
                mcsEventTracker="retry-orders"
                mcsEventCategory="order"
                mcsEventLabel="order-listing-page">{{ 'orders.retry' | translate }}</a>.
            </div>
          </mcs-data-error>
        </ng-container>

        <!-- Header and Data row -->
        <mcs-header-row *mcsHeaderRowDef="dataColumns"></mcs-header-row>
        <mcs-data-row *mcsDataRowDef="let row; columns: dataColumns;"
          mcsCursor="pointer" (click)="navigateToOrder(row)"
          mcsId="order-row"
          mcsEventTracker="navigate-to-order"
          mcsEventCategory="order"
          mcsEventLabel="order-listing-page"></mcs-data-row>
      </mcs-table>

      <!-- Paginator -->
      <mcs-paginator #paginator
        [hidden]="isSearching"
        [totalCount]="dataSource?.totalRecordsCount">
      </mcs-paginator>
    </div>
  </mcs-content-panel>
</mcs-page>
