@import "../../../styles/shared/base";

$dropdown-container-width: 184px;
$border: 1px solid $color-black;

.mat-selection-list,
.mat-list {
  div {
    @include font-size($font-size-default);
    line-height: normal;

    @include breakpoint(small) {
      @include font-size($font-size-small);
    }
  }
}