<mcs-item full-width>
  <div mcsAlign="end" [ngStyle]="{'width': '20rem'}">
    <mcs-field-select-tree-view #treeViewSelect size="large"
      [label]="'label.services' | translate"
      [hideChips]="true"
      [multiple]="true"
      [formControl]="fcBillingService"
      [dataSource]="servicesDatasource"
      [expandFirst]="true"
      [selectAllByDefault]="true">
    </mcs-field-select-tree-view>
  </div>
</mcs-item>

<div class="widget flat">
  <ng-container *ngIf="processingStatus.completed$ | async">
    <mcs-vertical-bar-chart
      class="custom-chart"
      [config]="chartConfig"
      [data]="chartItems$ | async"
      (chartChange)="updateChartUri($event)">
    </mcs-vertical-bar-chart>
  </ng-container>

  <mcs-report-widget-data-status type="info"
    [dataStatus]="processingStatus"
    (retry)="displayAllBillingServices()">
  </mcs-report-widget-data-status>
</div>
