<ng-container *ngIf="deployment$ | async" class="limited-view">

  <mcs-grid>
    <mcs-grid-row>
      <!-- Deployment Properties -->
      <mcs-grid-column sizeSm="12">
        <mcs-presentation-panel mcsId="deployment-properties">
          <ng-container mcsPresentationPanelHeader>
            <h2>Deployment Properties</h2>
          </ng-container>

          <mcs-item>
            <span>{{ 'label.lastDeployment' | translate }}:</span>
            <mcs-icon size="small" [key]="deployment?.statusIconKey"></mcs-icon>
            <span [innerHTML]="deployment.status | mcsDataLabel"></span>
          </mcs-item>

          <mcs-item>
            <span>{{ 'label.subscription' | translate }}:</span>
            <span [innerHTML]="deployment.subscriptionName | mcsDataLabel"></span>
          </mcs-item>

          <mcs-item>
            <span>{{ 'label.company' | translate }}:</span>
            <span [innerHTML]="deployment.company | mcsDataLabel"></span>
            <span> ({{ deployment.companyId | mcsDataLabel }})</span>
          </mcs-item>

          <mcs-item>
            <span>{{ 'label.tenant' | translate }}:</span>
            <span [innerHTML]="deployment.tenantName | mcsDataLabel"></span>
          </mcs-item>

          <mcs-item>
            <span>{{ 'label.lastUpdated' | translate }}:</span>
            <span [innerHTML]="deployment.updatedOn | mcsDataLabel | mcsStdDateFormat"></span>
          </mcs-item>

          <mcs-item>
            <span>{{ 'label.created' | translate }}:</span>
            <span [innerHTML]="deployment.createdOn | mcsDataLabel | mcsStdDateFormat"></span>
          </mcs-item>
        </mcs-presentation-panel>
      </mcs-grid-column>

      <!-- Module Details -->
      <mcs-grid-column sizeSm="12">
        <mcs-presentation-panel mcsId="module-details">
          <ng-container mcsPresentationPanelHeader>
            <h2>Module Details</h2>
          </ng-container>

          <mcs-item>
            <span>{{ 'label.name' | translate }}:</span>
            <span [innerHTML]="deployment.moduleName | mcsDataLabel"></span>
          </mcs-item>

          <mcs-item>
            <span>{{ 'label.description' | translate }}:</span>
            <span [innerHTML]="deployment.description | mcsDataLabel"></span>
          </mcs-item>

          <mcs-item>
            <span>{{ 'label.category' | translate }}:</span>
            <span [innerHTML]="deployment.category | mcsDataLabel"></span>
          </mcs-item>

          <mcs-item>
            <span>{{ 'label.tag' | translate }}:</span>
            <span [innerHTML]="deployment.tagName | mcsDataLabel"></span>
          </mcs-item>
        </mcs-presentation-panel>
      </mcs-grid-column>
    </mcs-grid-row>

    <mcs-grid-row>
      <!-- Variables -->
      <mcs-grid-column sizeSm="12" sizeLg="12">
        <mcs-presentation-panel mcsId="deployment-tfvars">
          <ng-container mcsPresentationPanelHeader>
            <mcs-item>
              <h2>{{ 'label.terraformVariables' | translate }}</h2>
              <a *ngIf="!variablesEditMode"
                mcsCursor="pointer"
                display-inline-block
                orientation="block"
                mcsId="edit-deployment-variables"
                mcsEventTracker="edit-deployment-variables"
                mcsEventCategory="launchpad-deployment"
                mcsEventLabel="azure-deployment-details-page"
                (click)="edit()">
                {{ 'action.edit' | translate }}
              </a>
              <a *ngIf="variablesEditMode"
                mcsCursor="pointer"
                display-inline-block
                orientation="block"
                mcsId="cancel-deployment-variables"
                mcsEventTracker="cancel-deployment-variable-changes"
                mcsEventCategory="launchpad-deployment"
                mcsEventLabel="azure-deployment-details-page"
                [disabled]="deployment.isProcessing"
                (click)="resetVariables()">
                {{ 'action.cancel' | translate }}
              </a>
              <a *ngIf="variablesEditMode"
                mcsCursor="pointer"
                display-inline-block
                orientation="block"
                mcsId="save-deployment-variables"
                mcsEventTracker="save-deployment-variable-changes"
                mcsEventCategory="launchpad-deployment"
                mcsEventLabel="azure-deployment-details-page"
                [disabled]="deployment.isProcessing || !hasVariableChanges"
                (click)="saveVariables()">
                {{ 'action.save' | translate }}
              </a>
            </mcs-item>
          </ng-container>

          <ng-container>
            <mcs-code-editor-form-field
              (onValueChanged)="onVariablesChanged($event)"
              [(ngModel)]="deployment.tfvars"
              [disabled]="!variablesEditMode || deployment.isProcessing"
              [height]="405">
            </mcs-code-editor-form-field>
          </ng-container>
        </mcs-presentation-panel>
      </mcs-grid-column>
    </mcs-grid-row>

  </mcs-grid>
</ng-container>