@import "../../../styles/shared/base";

// Console wrapper
$console-page-wrapper-bg-color: $color-black;
// Console menu bar
$console-menu-height: 35px;
$console-menu-bg-color: $color-white;
// Console menu bar buttons
$console-menu-button-border-color: $color-grey-04;

body {
  margin: 0 !important;
  padding: 0 !important;
}

.console-page-wrapper {
  @include display-flex(column);
  @include align-items(center);
  background-color: $console-page-wrapper-bg-color;
  justify-content: center;
  overflow: auto;
  width: 100%;
  height: 100%;

  &.console-disconnected,
  &.console-connecting {
    .console-ui-wrapper {
      opacity: 0.5;
    }
  }
}

.console-page-menu-wrapper {
  @include flex(0 0 auto);
  @include display-flex(row);
  @include align-items(center);
  @include set-items-interval($space-small, horizontal);
  width: 100%;
  height: $console-menu-height;
  background-color: $console-menu-bg-color;
  padding: 0 $space-medium;

  .console-message {
    margin: auto;
  }

  .console-buttons {
    @include set-items-interval($space-large, horizontal);

    .console-button-command-action {
      border-right: 1px solid $console-menu-button-border-color;
      padding-right: $space-large;
      @include display-flex(row);
      @include align-items(center);
      @include set-items-interval($space-large, horizontal);
    }
  }
}

.console-ui-wrapper {
  @include flex(1 1 auto);
  position: relative;
}