<mcs-page-notifications></mcs-page-notifications>

<!-- Menu header -->
<div class="console-page-menu-wrapper" *ngIf="serverDetails$ | async as serverDetails">

  <ng-container *ngIf="isConsoleClose; else statusBarTemplate">
    <div class="console-message">
      <span [innerHTML]="stoppingText"></span>
    </div>
  </ng-container>

  <ng-template #statusBarTemplate>
    <ng-container [ngSwitch]="stateChange | async">
      <!-- Connecting state -->
      <ng-container *ngSwitchCase="consoleStatusEnum.Connecting">
        <mcs-item class="console-message">
          <mcs-loader></mcs-loader>
          <span>{{ 'consolePage.loading' | translate }}</span>
        </mcs-item>
      </ng-container>

      <!-- Disconnected state -->
      <ng-container *ngSwitchCase="consoleStatusEnum.Disconnected">
        <div class="console-message">
          <span>{{ 'consolePage.disconnectedMessage' | translate }}</span>
        </div>
      </ng-container>

      <!-- Error state -->
      <ng-container *ngSwitchCase="consoleStatusEnum.Error">
        <div class="console-message">
          <span>{{ 'consolePage.errorMessage' | translate }}</span>
        </div>
      </ng-container>

      <!-- Connected state -->
      <ng-container *ngSwitchCase="consoleStatusEnum.Connected">
        <div mcsAlign="start">
          <strong>{{ serverDetails?.name }}</strong>
        </div>

        <div class="console-page-controls" *ngIf="isControllable">
          <button mcsButton="basic" [disabled]="!serverDetails?.stoppable" (click)="stopServer(serverDetails)">
            <mcs-item>
              <mcs-icon [key]="stopIconKey"></mcs-icon>
              <span>{{ 'consolePage.stop' | translate }}</span>
            </mcs-item>
          </button>

          <button mcsButton="basic" [disabled]="!serverDetails?.restartable" (click)="restartServer(serverDetails)">
            <mcs-item>
              <mcs-icon [key]="restartIconKey"></mcs-icon>
              <span>{{ 'consolePage.restart' | translate }}</span>
            </mcs-item>
          </button>

          <button mcsButton="basic" [disabled]="!serverDetails?.executable" (click)="onClickCtrlAltDelete()">
            <mcs-item>
              <mcs-icon [key]="keyboardIconKey"></mcs-icon>
              <span>{{ 'consolePage.sendCtrlAltDelete' | translate }}</span>
            </mcs-item>
          </button>
          <button mcsButton="basic" [disabled]="!serverDetails?.isPoweredOn"
            #popoverActionElement="mcsPopover" [autoCalculatePosition]="autoCalculatePosition"
            mcsPopover placement="bottom" orientation="left" maxWidth="auto"
            theme="light" padding="none" [content]="pasteContent"
            mcsId="console-page-paste-text-button"
            mcsEventTracker="console-page-paste-text-click"
            mcsEventCategory="console"
            mcsEventLabel="console-page-paste-text-button">
            <mcs-item>
              <mcs-icon [key]="clipboardIconKey"></mcs-icon>
              <span>{{ 'consolePage.pasteText' | translate }}</span>
            </mcs-item>
          </button>
        </div>
      </ng-container>
    </ng-container>
  </ng-template>

  <ng-template #pasteContent>
    <div>
      <div [style.padding]="'6px'" [style.min-width]="'300px'">
        <mcs-item>
          <ng-container *ngIf="!isPasswordType; else passwordType">
            <textarea mcsId="console-page-paste-text-area" [style.resize]="'vertical'" [style.min-width]="'300px'" [style.min-height]="'100px'"
              [(ngModel)]="pasteTextValue" [ngModelOptions]="{standalone: true}">
            </textarea>
          </ng-container>

          <ng-template #passwordType>
            <input mcsId="console-page-paste-password" [style.min-width]="'300px'" type="password"
            [(ngModel)]="pasteTextValue" [ngModelOptions]="{standalone: true}">
          </ng-template>
        </mcs-item>

        <mcs-item orientation="separated">
          <mcs-checkbox [(ngModel)]="isPasswordType">
            {{ 'consolePage.password' | translate }}
          </mcs-checkbox>
          <button mcsButton size="xsmall"
            mcsId="console-page-paste-button"
            mcsEventTracker="console-page-paste-click"
            mcsEventCategory="console"
            mcsEventLabel="console-page-paste-button"
            [disabled]="isPasteTextEmpty(pasteTextValue)"
            (click)="onPasteText(pasteTextValue)">
            {{ 'consolePage.paste' | translate }}
          </button>
        </mcs-item>
      </div>
    </div>
  </ng-template>
</div>

<!-- Console content -->
<div class="console-page-content" #consoleUiElement tabindex="-1"
  [disabled]="(stateChange | async) !== consoleStatusEnum.Connected"></div>