<!-- Menu header -->
<div class="console-page-menu-wrapper">
  <ng-container [ngSwitch]="consoleStatus">
    <!-- Connecting state -->
    <ng-container *ngSwitchCase="vmConsoleStatusEnum.Connecting">
      <div class="inline-items-small console-message">
        <mcs-icon [key]="loadingIconKey"></mcs-icon>
        <span>{{ textContent.loading }}</span>
      </div>
    </ng-container>

    <!-- Disconnected state -->
    <ng-container *ngSwitchCase="vmConsoleStatusEnum.Disconnected">
      <div class="console-message">
        <span>{{ textContent.disconnectedMessage }}</span>
      </div>
    </ng-container>

    <!-- Closing state -->
    <ng-container *ngSwitchCase="vmConsoleStatusEnum.Closing">
      <div class="console-message">
        <span [innerHTML]="stoppingText"></span>
      </div>
    </ng-container>

    <!-- Error state -->
    <ng-container *ngSwitchCase="vmConsoleStatusEnum.Error">
      <div class="console-message">
        <span>{{ textContent.errorMessage }}</span>
      </div>
    </ng-container>

    <!-- Connected state -->
    <ng-container *ngSwitchCase="vmConsoleStatusEnum.Connected">
      <div class="left-align">
        <span>{{ server?.name }}</span>
      </div>

      <div class="inline-items-medium">
        <div class="console-button-command-action">
          <!-- Stop -->
          <mcs-icon [key]="stopIconKey" size="small"
            [disabled]="!server?.stoppable"
            [mcsTooltip]="textContent.stop"
            mcsTooltipPosition="left"
            cursor="pointer"
            (click)="executeServerCommand(serverCommandEnum.Stop)"></mcs-icon>

          <!-- Restart -->
          <mcs-icon [key]="restartIconKey" size="small"
            [disabled]="!server?.restartable"
            [mcsTooltip]="textContent.restart"
            mcsTooltipPosition="left"
            cursor="pointer"
            (click)="executeServerCommand(serverCommandEnum.Restart)"></mcs-icon>
        </div>

        <!-- Ctrl + Alt + Del -->
        <mcs-icon [key]="keyboardIconKey"
          [mcsTooltip]="textContent.sendCtrlAltDelete"
          mcsTooltipPosition="left"
          cursor="pointer"
          (click)="onClickCtrlAltDelete()">
        </mcs-icon>
      </div>
    </ng-container>
  </ng-container>
</div>

<!-- VM Console container -->
<div id="wmksContainer" #consoleUiElement
  [disabled]="consoleStatus !== vmConsoleStatusEnum.Connected"
  class="console-ui-wrapper"></div>