<mcs-page-notifications></mcs-page-notifications>

<!-- Menu header -->
<div class="console-page-menu-wrapper" *ngIf="serverDetails$ | async as serverDetails">

  <ng-container *ngIf="isConsoleClose; else statusBarTemplate">
    <div class="console-message">
      <span [innerHTML]="stoppingText"></span>
    </div>
  </ng-container>

  <ng-template #statusBarTemplate>
    <ng-container [ngSwitch]="stateChange | async">
      <!-- Connecting state -->
      <ng-container *ngSwitchCase="consoleStatusEnum.Connecting">
        <mcs-item class="console-message">
          <mcs-loader></mcs-loader>
          <span>{{ 'consolePage.loading' | translate }}</span>
        </mcs-item>
      </ng-container>

      <!-- Disconnected state -->
      <ng-container *ngSwitchCase="consoleStatusEnum.Disconnected">
        <div class="console-message">
          <span>{{ 'consolePage.disconnectedMessage' | translate }}</span>
        </div>
      </ng-container>

      <!-- Error state -->
      <ng-container *ngSwitchCase="consoleStatusEnum.Error">
        <div class="console-message">
          <span>{{ 'consolePage.errorMessage' | translate }}</span>
        </div>
      </ng-container>

      <!-- Connected state -->
      <ng-container *ngSwitchCase="consoleStatusEnum.Connected">
        <div mcsAlign="start">
          <strong>{{ serverDetails?.name }}</strong>
        </div>

        <div class="console-page-controls" *ngIf="isControllable">
          <button mcsButton="basic" [disabled]="!serverDetails?.stoppable" (click)="stopServer(serverDetails)">
            <mcs-item>
              <mcs-icon [key]="stopIconKey"></mcs-icon>
              <span>{{ 'consolePage.stop' | translate }}</span>
            </mcs-item>
          </button>

          <button mcsButton="basic" [disabled]="!serverDetails?.restartable" (click)="restartServer(serverDetails)">
            <mcs-item>
              <mcs-icon [key]="restartIconKey"></mcs-icon>
              <span>{{ 'consolePage.restart' | translate }}</span>
            </mcs-item>
          </button>

          <button mcsButton="basic" [disabled]="!serverDetails?.executable" (click)="onClickCtrlAltDelete()">
            <mcs-item>
              <mcs-icon [key]="keyboardIconKey"></mcs-icon>
              <span>{{ 'consolePage.sendCtrlAltDelete' | translate }}</span>
            </mcs-item>
          </button>
        </div>
      </ng-container>
    </ng-container>
  </ng-template>
</div>

<!-- Console content -->
<div class="console-page-content" #consoleUiElement
  [disabled]="(stateChange | async) !== consoleStatusEnum.Connected"></div>
