<mcs-presentation-panel mcsId="dns-zone" *ngIf="dns$ | async as dns">
  <ng-container mcsPresentationPanelHeader>
    <h2>{{ 'label.manageZones' | translate }}</h2>
  </ng-container>

  <mcs-section>
    <p [innerHTML]="'message.dnsDescription' | translate"></p>

    <!-- Zones -->
    <mcs-section>
      <strong>{{ 'label.zones' | translate }}</strong>

      <ng-container *ngIf="dns.detailZoneCount > 0; else noZonesTemplate">
        <mcs-tab-group>
          <ng-container *ngFor="let zone of dns.zones">
            <mcs-tab [label]="zone.name" [id]="zone.name">

              <mcs-section>
                <p>
                  <span>{{ 'message.ttlDescription' | translate: { ttlSeconds: zone.ttlSeconds } }} </span>
                  <a (click)="editZoneTtl(zone)"
                    mcsId="edit-dns-zone-ttl"
                    mcsEventTracker="edit-dns-zone-ttl"
                    mcsEventCategory="dns"
                    mcsEventLabel="edit-dns-zone-ttl-page">
                    {{ 'action.edit' | translate }}
                  </a>
                  <br/><br/>
                  <span>{{ 'message.zoneDescription' | translate }} </span>
                </p>
                <strong>{{ 'label.records' | translate }}</strong>
                <mcs-dns-zone-manage [dnsId]="dns.id" [zone]="zone"
                  (requestUpdate)="onUpdateRequest($event)">
                </mcs-dns-zone-manage>
              </mcs-section>
            </mcs-tab>
          </ng-container>
        </mcs-tab-group>
      </ng-container>

      <ng-template #noZonesTemplate>
        <p>{{ 'message.noDnsZones' | translate }}</p>
      </ng-template>
    </mcs-section>
  </mcs-section>
</mcs-presentation-panel>
