<form [formGroup]="fgSmacSharedForm" mcsFormGroup>
  <!-- Test Cases -->
  <mcs-item orientation='block' *ngIf="config?.testCaseConfig?.isIncluded">
    <mcs-dynamic-list
      mcsId="list-test-cases"
      mcsEventTracker="list-test-cases"
      mcsEventCategory="order"
      mcsEventLabel="order-shared-smac-form"
      [placeholder]="config?.testCaseConfig?.placeholder"
      [formControl]="fcTestCases">
    </mcs-dynamic-list>
  </mcs-item>

  <!-- Notes -->
  <mcs-item orientation='block' *ngIf="config?.notesConfig?.isIncluded">
    <span align-self-start>{{ config?.notesConfig?.label }}</span>
    <mcs-form-field>
      <textarea mcsInput rows="3" #notesInput
        mcsId="input-notes"
        mcsEventTracker="input-notes"
        mcsEventCategory="order"
        mcsEventLabel="order-shared-smac-form"
        [maxlength]="config?.notesConfig?.maxlength"
        [placeholder]="config?.notesConfig?.placeholder"
        [formControl]="fcNotes"
        [required]="config?.notesConfig?.isRequired"></textarea>

      <mcs-hint mcsHint align="start">
        {{ 'smacShared.form.notes.hint' | translate: { max_char: notesInput?.maxLength } }}
      </mcs-hint>
      <mcs-hint mcsHint align="end">
        {{ notesInput?.value?.length }} / {{ notesInput?.maxLength }}
      </mcs-hint>
      <mcs-error mcsError errorState="required">
        {{ 'smacShared.form.notes.errors.required' | translate }}
      </mcs-error>
    </mcs-form-field>
  </mcs-item>

  <!-- Contact -->
  <mcs-item orientation="block" *ngIf="config?.contactConfig?.isIncluded">
    <span align-self-start>{{ config?.contactConfig?.label }}</span>

      <ng-container *ngIf="contactOptions$ | async as contactOptions">
        <mcs-radio-button-group orientation="horizontal" [formControl]="fcContact">
          <mcs-radio-button *ngFor="let contact of contactOptions" [value]="contact.value"
            mcsId="select-contact"
            mcsEventTracker="select-contact"
            mcsEventCategory="order"
            mcsEventLabel="order-shared-smac-form">
            {{ contact.text }}
          </mcs-radio-button>
        </mcs-radio-button-group>
      </ng-container>
      <ng-container *ngIf="config.contactConfig.phoneNumber">
        <!-- TODO: add a new shared directive / global color classes for coloring font elements-->
        <span [mcsGreyedOut]="true">{{ 'smacShared.form.contact.description' | translate: { phone_number: config?.contactConfig?.phoneNumber } }}</span>
      </ng-container>
  </mcs-item>

  <!-- Customer Reference Number -->
  <mcs-item orientation='block' *ngIf="config?.customerReferenceConfig?.isIncluded">
    <span align-self-start>{{ config?.customerReferenceConfig?.label }}</span>
    <mcs-form-field>
      <input mcsInput
        [formControl]="fcCustomerReference"
        mcsId="input-customer-reference"
        mcsEventTracker="input-customer-reference"
        mcsEventCategory="order"
        mcsEventLabel="order-shared-smac-form">
    </mcs-form-field>
  </mcs-item>
</form>