<!-- Data content -->
<div class="select-item-content">
  <ng-content></ng-content>
  <mcs-icon *ngIf="hasSubgroup" size="small" [key]="carretRightIconKey"></mcs-icon>
</div>

<!-- Ripple element -->
<ng-container *ngIf="!hasSubgroup">
  <mcs-ripple mcsRipple [rippleTrigger]="getHostElement()"></mcs-ripple>
</ng-container>

<!-- Sub-group content -->
<div *ngIf="subGroupOpen">
  <div [@transformVertical] class="select-item-subgroup-panel">
    <div [@fadeIn]>
      <ng-content select="[sub-group]"></ng-content>
    </div>
  </div>
</div>