<!-- Data content -->
<div mcsCursor="pointer" (click)="onClickItem($event)"
  class="select-item-content" #triggerElement>
  <ng-content></ng-content>
  <ng-container *ngIf="hasSubgroup">
    <mcs-icon [@rotate90]="subGroupOpen ? 'rotate' : 'void'"
      [style.transform]="transformRotate"
      size="small" [key]="carretRightIconKey"></mcs-icon>
  </ng-container>

  <!-- Ripple element -->
  <ng-container *ngIf="!hasSubgroup">
    <mcs-ripple mcsRipple [rippleTrigger]="getHostElement()"></mcs-ripple>
  </ng-container>
</div>

<!-- Sub-group content -->
<div [@expansionVertical]="subGroupOpen ? 'expanded' : 'collapsed'"
  class="select-item-subgroup-panel">
  <ng-content select="[sub-group]"></ng-content>
</div>