@import "../../../styles/shared/base";

// Table
$table-default-minimum-width: 800px;
$table-medium-minimum-width: 650px;
$table-small-minimum-width: 100%;

// Table header
$table-header-background-color: $color-black;
$table-header-font-color: $color-white;
$table-header-border-radius: $space-xsmall;
$table-header-cell-padding: $space-small;
$table-header-font-size: $font-size-default;

// Table rows
$table-data-even-background-color: $color-grey-07;
$table-data-font-size: $font-size-default;
$table-data-cell-padding: $space-xsmall $space-small;

// Table cells
$table-cell-divider-color: $color-white;
$table-cell-divider-opacity: 0.70;

%cell-style {
  display: table-cell;
  border-right: 1px solid rgba($table-cell-divider-color, $table-cell-divider-opacity);
  &:last-child {
    border-right: none;
  }
}

// Host Component Element
mcs-table {
  display: block;
  @include set-items-interval($space-large);
}

.mcs-table-wrapper {
  display: table;
  border-collapse: collapse;
  min-width: $table-default-minimum-width;
  @include breakpoint(medium) {
    min-width: $table-medium-minimum-width;
  }
  @include breakpoint(small) {
    min-width: $table-small-minimum-width;
  }
  max-width: 100%;

  mcs-header-row {
    display: table-row;
    text-align: left;
    background-color: $table-header-background-color;
    color: $table-header-font-color;
    white-space: nowrap;

    mcs-header-cell {
      @extend %cell-style;
      @include font-size($table-header-font-size);
      font-family: $circular-pro-book;
      padding: $table-header-cell-padding;
    }
  }

  mcs-data-row {
    display: table-row;
    text-align: left;
    white-space: nowrap;

    &:nth-of-type(even) {
      background-color: $table-data-even-background-color;
    }

    mcs-data-cell {
      @extend %cell-style;
      @include font-size($table-data-font-size);
      font-family: $circular-pro-book;
      padding: $table-data-cell-padding;
    }
  }
}

.mcs-table-footer-wrapper {

  mcs-data-empty,
  mcs-data-error,
  .mcs-data-loading, {
    @include display-flex(row);
    align-items: center;
    justify-content: center;
    min-height: $space-xlarge;
  }
}
