<div class="mcs-table-content">
  <!-- All header cells will be created within this container -->
  <ng-container mcsHeaderPlaceholder></ng-container>

  <!-- All Data/Row cells will be created within this container -->
  <ng-container mcsDataPlaceholder></ng-container>
</div>

<div class="mcs-table-footer-wrapper">
  <!-- Data Loading -->
  <ng-container *ngIf="dataStatusChange$ | async as dataStatus">
    <mcs-loader *ngIf="dataStatus === dataStatusEnum.InProgress"
      class="mcs-data-loading" type="ellipsis" size="large"></mcs-loader>
  </ng-container>

  <!-- Data status content will be created within this container -->
  <ng-container mcsDataStatusPlaceholder></ng-container>
</div>