@import "../../../styles/shared/base";

// Table
$table-cell-side-padding: $space-medium;
$table-action-cell-size: 55px;

// Table header
$table-header-background-color: $color-black;
$table-header-font-color: $dark-bg-text-color;
$table-header-border-radius: $space-xsmall;
$table-header-cell-padding: $space-small $table-cell-side-padding;
$table-header-font-size: $font-size-default;

// Table rows
$table-data-even-background-color: $color-grey-07;
$table-data-font-size: $font-size-default;
$table-data-cell-padding: $space-small $table-cell-side-padding;
$table-data-border-color: $color-grey-05;
$table-data-hover-background-color: $color-grey-07;

// Table cells
$table-cell-divider-color: $color-white;
$table-cell-divider-opacity: 0.70;

// Table information
$table-information-border-color: $color-grey-05;

%cell-style {
  display: table-cell;
  border-right: 1px solid rgba($table-cell-divider-color, $table-cell-divider-opacity);
  &:last-child {
    border-right: none;
  }
}

// Host Component Element
.mcs-table-wrapper {
  display: block;
}

.mcs-table-content {
  display: table;
  border-collapse: collapse;
  width: 100%;

  mcs-header-row {
    display: table-row;
    text-align: left;
    white-space: nowrap;
    background-color: $table-header-background-color;
    color: $table-header-font-color;

    mcs-header-cell {
      @extend %cell-style;
      @include font-size($table-header-font-size);
      vertical-align: middle;
      font-family: $circular-pro-book;
      padding: $table-header-cell-padding;

      &.action-header-cell {
        min-width: $table-action-cell-size;
        width: $table-action-cell-size;
        padding: 0;
      }
    }
  }

  mcs-data-row {
    display: table-row;
    text-align: left;
    white-space: nowrap;
    border-bottom: 1px solid $table-data-border-color;

    &:hover {
      background-color: $table-data-hover-background-color;
    }

    mcs-data-cell {
      @extend %cell-style;
      @include font-size($table-data-font-size);
      vertical-align: middle;
      border-right: none;
      font-family: $circular-pro-book;
      padding: $table-data-cell-padding;

      &.action-data-cell {
        min-width: $table-action-cell-size;
        width: $table-action-cell-size;
        padding: 0;
      }

      &.active-data-row {
        background-color: $hover-bg-color;
      }
    }
  }
}

.mcs-table-footer-wrapper {
  mcs-data-empty,
  mcs-data-error,
  .mcs-data-loading {
    margin-top: $space-small;
    @include display-flex(row);
    @include align-items(center);
    justify-content: center;
    min-height: $space-xlarge;
  }

  mcs-data-empty,
  mcs-data-error {
    margin-top: 0;
    padding-top: $space-medium;
    padding-bottom: $space-medium;
    border: 1px solid $table-information-border-color;
  }
}