<form [formGroup]="fgSqlServer">

  <!-- Sql Server version -->
  <mcs-item orientation="separated">
    <span>{{ 'serverShared.addOnSqlServer.version.label' | translate }}:</span>
    <mcs-form-field class="form-field-size-medium">
      <mcs-select required
        [placeholder]="'serverShared.addOnSqlServer.version.placeholder' | translate"
        [formControl]="fcSqlServer" mcsId="select-sql-server">

        <ng-container *ngFor="let sqlOption of sqlServerOptions$ | async">
          <mcs-option-group>
            <ng-container *mcsOptionGroupHeader>
              <span>{{ sqlOption.category }}</span>
            </ng-container>

            <mcs-option *ngFor="let sqlOption of sqlOption.options" [value]="sqlOption">
              {{ sqlOption }}
            </mcs-option>
          </mcs-option-group>
        </ng-container>
      </mcs-select>
    </mcs-form-field>
  </mcs-item>
</form>