<section class="provisioning-notifications-container">
  <!-- Progress Information -->
  <div class="progress-container">
    <h3 class="title">{{ getTitle() }}</h3>
    <mcs-progress-bar *ngIf="progressBarVisibility" [@animate]="progressbarAnimation"
      [(ngModel)]="progressValue" [maxValue]="progressMax"></mcs-progress-bar>
  </div>

  <!-- Job Details -->
  <div class="jobs-container">
    <div *ngFor="let job of jobs">
      <h3 *ngIf="isMultiJobs">{{ job.description }}</h3>

      <!-- Tasks content -->
      <div class="task-content" *ngIf="job.tasks">
        <div *ngFor="let task of job.tasks" class="status-details">

          <mcs-icon [ngClass]="getStatusIcon(task.status).class"
            [key]="getStatusIcon(task.status).key"
            [color]="getStatusIcon(task.status).color"
            size="small"></mcs-icon>
          <span>{{ task.description }}</span>
        </div>
      </div>

      <!-- Job completed -->
      <div *ngIf="isJobCompleted(job)" class="job-completed">
        <!-- In case of success -->
        <div *ngIf="isJobSuccessful(job)" class="status-details">
          <mcs-icon [ngClass]="getStatusIcon('Completed').class"
            [key]="getStatusIcon('Completed').key"
            [color]="getStatusIcon('Completed').color"
            size="small"></mcs-icon>
          <span class="bold">{{ textContent.deploymentCompleted }}</span>
        </div>
        <a *ngIf="isJobSuccessful(job)" (click)="onViewServerPage()"
          class="link">{{ textContent.viewServerLink }}</a>

        <!-- In case of Error -->
        <div *ngIf="!isJobSuccessful(job)" class="status-details">
          <mcs-alert type="failed" [title]="textContent.deploymentFailed">
            <span>{{ job.errorMessage }}</span>
          </mcs-alert>
        </div>
      </div>
    </div>
  </div>
</section>