<form [formGroup]="formGroupNewServer"
  class="new-self-managed-server-container" [@animate]="'fadeIn'">

  <div class="server-details">
    <!-- TODO: Temporary removed, it is under discussion -->
    <!-- <div class="control-group">
      <mcs-dropdown name="vApp"
        [dropdownData]="vAppItems"></mcs-dropdown>
      <mcs-validation-message [control]="formControlVapp"></mcs-validation-message>
    </div> -->

    <div class="control-group">
      <mcs-dropdown name="VM Template"
        formControlName="formControlVTemplate"
        [dropdownData]="vTemplateItems"
        [mcsContextualHelp]="contextualTextContent.serverTemplate"></mcs-dropdown>
      <mcs-validation-message [control]="formControlVTemplate"></mcs-validation-message>
    </div>
  </div>

  <div class="computer-details">
    <div class="computer-information">
      <mcs-server-performance-scale
        [memoryMB]="memoryMB" [cpuCount]="cpuCount"
        [availableMemoryMB]="availableMemoryMB" [availableCpuCount]="availableCpuCount"
        (scaleChanged)="onScaleChanged($event)">
        <!--Performance scale contents on the left hand side (title and description)-->
        <div title>
          <span class="label">Compute Size: </span>
        </div>
      </mcs-server-performance-scale>
    </div>

    <div class="storage-information">
      <mcs-server-manage-storage
        [memoryMB]="storageMemoryMB" [availableMemoryMB]="storageAvailableMemoryMB"
        [storageProfileList]="storageItems" (storageChanged)="onStorageChanged($event)">
        <!--Server manage storage contents on the left hand side (title and description)-->
        <div title>
          <span class="label">Storage: </span>
        </div>
      </mcs-server-manage-storage>
    </div>
  </div>

  <div class="network-details">
    <span class="label">Network:</span>

    <div class="control-group">
      <mcs-dropdown name="Primary Network"
        formControlName="formControlNetwork"
        [dropdownData]="networkItems"
        [mcsContextualHelp]="contextualTextContent.network"></mcs-dropdown>
      <mcs-validation-message [control]="formControlNetwork"></mcs-validation-message>
    </div>

    <mcs-server-ip-address [gateway]="selectedNetwork.gateway"
      [subnetMask]="selectedNetwork.netmask"
      (ipAddressChanged)="onIpAddressChanged($event)">
      <!--Ip address contents on the left hand side (title and description)-->
      <div title>
        <span class="label">IP Address: </span>
      </div>
    </mcs-server-ip-address>
  </div>
</form>