@import "shared/index";

.mat-expansion-panel {
  box-shadow: none !important;
  border-radius: 0 !important;
  border: 1px solid $color-grey-04;
  margin-top: 0;
  margin-bottom: 0;

  &.mat-expanded {
    margin-bottom: 0;
  }

  &.child {
    margin-top: -1px;
    background-color: $color-grey-07;
    border-top: 1px dashed $color-grey-04;

    &.mat-expanded {
      border-top: 1px solid $color-grey-04;
      background-color: $color-white;
      margin-top: $space-medium;
    }
  }

  .workflow-label {
    max-width: 400px;
  }
}
