<mat-expansion-panel #panel [expanded]="required || openPanelByDefault" (opened)="panelOpened()" (closed)="panelClosed()" hideToggle="true" [class.child]="parentReferenceId">
  <mat-expansion-panel-header style="position: relative;">
    <mat-panel-title>
      <h1>{{ title }}</h1>
    </mat-panel-title>
    <mat-panel-description style="flex-grow: 0; margin-right: 30px;">
      {{ serviceId }}
    </mat-panel-description>
    <mat-panel-description style="position: absolute; right: 0;">
      <div>
        <mat-icon *ngIf="required && !valid && !panelOpenState" color="warn" matTooltip="This workflow is required">info</mat-icon>
        <mat-icon *ngIf="!panelOpenState && !required">add</mat-icon>
        <mat-icon *ngIf="panelOpenState && !required">close</mat-icon>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mcs-dynamic-form #form [config]="fieldData"></mcs-dynamic-form>

</mat-expansion-panel>
