@import "shared/index";

$border: 1px solid $color-black;

.field-input-list-container {
  margin-top: $space-medium;

  div {
    @include font-size($font-size-default);
    line-height: normal;

    @include breakpoint(small) {
      @include font-size($font-size-small);
    }
  }

  .mat-list-base {
    border: $border;
    padding: 0;

    .mat-list-item {
      height: 100%;

      .mat-list-item-content {
        justify-content: space-between;
        padding: $space-small $space-small 0 $space-small;
        word-break: break-all;

        .mat-form-field-wrapper {
          margin: 0;
          padding: 0 0 $space-medium;

          mat-error {
            @include font-size($font-size-small);
          }
        }

        .sub-text {
          @include font-size($font-size-small);
        }
      }
    }

    .mat-list-item:not(:last-child) {
      border-bottom: $border;
    }
  }
}