<button mcsButton="icon" mcsId="server-action"
  #popoverActionElement="mcsPopover" [autoCalculatePosition]="autoCalculatePosition"
  mcsPopover placement="bottom" orientation="left"
  theme="light" padding="none" [content]="actionContent">
  <mcs-icon [key]="gearIconKey"></mcs-icon>
</button>

<ng-template #actionContent>
  <div class="cog-actions-wrapper">
    <ng-container *ngIf="getIncludedCommand(serverCommandEnum.Start)">
      <a mcsButton="basic" color="white" labelPlacement="left"
        (click)="onExecuteCommand(serverCommandEnum.Start)"
        [disabled]="!server.startable"
        mcsId
        mcsEventTracker="start"
        mcsEventCategory="server"
        mcsEventLabel="server-command-tool">
        {{ 'servers.start' | translate }}
      </a>
    </ng-container>

    <ng-container *ngIf="getIncludedCommand(serverCommandEnum.Stop)">
      <a mcsButton="basic" color="white" labelPlacement="left"
        (click)="onExecuteCommand(serverCommandEnum.Stop)"
        [disabled]="!server.stoppable"
        mcsId
        mcsEventTracker="stop"
        mcsEventCategory="server"
        mcsEventLabel="server-command-tool">
        {{ 'servers.stop' | translate }}
      </a>
    </ng-container>

    <ng-container *ngIf="getIncludedCommand(serverCommandEnum.Restart)">
      <a mcsButton="basic" color="white" labelPlacement="left"
        (click)="onExecuteCommand(serverCommandEnum.Restart)"
        [disabled]="!server.restartable"
        mcsId
        mcsEventTracker="restart"
        mcsEventCategory="server"
        mcsEventLabel="server-command-tool">
        {{ 'servers.restart' | translate }}
      </a>
    </ng-container>

    <ng-container *ngIf="getIncludedCommand(serverCommandEnum.Suspend)">
      <a mcsButton="basic" color="white" labelPlacement="left"
        (click)="onExecuteCommand(serverCommandEnum.Suspend)"
        [disabled]="!server.suspendable"
        mcsId
        mcsEventTracker="suspend"
        mcsEventCategory="server"
        mcsEventLabel="server-command-tool">
        {{ 'servers.suspend' | translate }}
      </a>
    </ng-container>

    <ng-container *ngIf="getIncludedCommand(serverCommandEnum.Resume)">
      <a mcsButton="basic" color="white" labelPlacement="left"
        (click)="onExecuteCommand(serverCommandEnum.Resume)"
        [disabled]="!server.resumable"
        mcsId
        mcsEventTracker="resume"
        mcsEventCategory="server"
        mcsEventLabel="server-command-tool">
        {{ 'servers.resume' | translate }}
      </a>
    </ng-container>

    <ng-container *ngIf="getIncludedCommand(serverCommandEnum.Scale)">
      <a mcsButton="basic" color="white" labelPlacement="left"
        (click)="onExecuteCommand(serverCommandEnum.Scale)"
        [disabled]="!server.scaleable"
        mcsId
        mcsEventTracker="scale"
        mcsEventCategory="server"
        mcsEventLabel="server-command-tool"
        *mcsAccessControl="[]; feature: 'EnableOrderingManagedServerScale';
        validateWhen: !server.isSelfManaged">
        {{ 'servers.scale' | translate }}
      </a>
    </ng-container>

    <ng-container *ngIf="server.isSelfManaged">
      <ng-container *ngIf="getIncludedCommand(serverCommandEnum.Clone)">
        <a mcsButton="basic" color="white" labelPlacement="left"
          (click)="onExecuteCommand(serverCommandEnum.Clone)"
          [disabled]="!server.cloneable"
          mcsId
          mcsEventTracker="clone"
          mcsEventCategory="server"
          mcsEventLabel="server-command-tool">
          {{ 'servers.clone' | translate }}
        </a>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="server.isSelfManaged">
      <a mcsButton="basic" color="white" labelPlacement="left"
        (click)="onExecuteCommand(serverCommandEnum.Rename)"
        [disabled]="!server.renameable"
        mcsId
        mcsEventTracker="rename"
        mcsEventCategory="server"
        mcsEventLabel="server-command-tool"
        *mcsAccessControl="[]; feature: 'EnableDedicatedVmRename';
          validateWhen: server.isDedicated">
        {{ 'servers.rename' | translate }}
      </a>
    </ng-container>

    <ng-container *ngIf="getIncludedCommand(serverCommandEnum.Delete)">
      <ng-container *ngIf="server.isSelfManaged">
        <a mcsButton="basic" color="white" labelPlacement="left"
          (click)="onExecuteCommand(serverCommandEnum.Delete)"
          [disabled]="!server.deletable"
          mcsId
          mcsEventTracker="delete"
          mcsEventCategory="server"
          mcsEventLabel="server-command-tool">
          {{ 'servers.delete' | translate }}
        </a>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="getIncludedCommand(serverCommandEnum.ViewVCloud)">
      <a mcsButton="basic" color="white" labelPlacement="left"
        (click)="onExecuteCommand(serverCommandEnum.ViewVCloud)"
        [disabled]="server.isDeleting"
        mcsId
        mcsEventTracker="view-in-portal"
        mcsEventCategory="server"
        mcsEventLabel="server-command-tool">
        {{ 'servers.viewVCloud' | translate }}
      </a>
    </ng-container>

    <ng-container *ngIf="getIncludedCommand(serverCommandEnum.ResetVmPassword)">
      <a mcsButton="basic" color="white" labelPlacement="left"
        (click)="onExecuteCommand(serverCommandEnum.ResetVmPassword)"
        [disabled]="!server.canResetPassword"
        mcsId
        mcsEventTracker="reset-password"
        mcsEventCategory="server"
        mcsEventLabel="server-command-tool"
        *mcsAccessControl="[]; feature: 'EnableDedicatedVmPasswordReset';
          validateWhen: server.isDedicated">
        {{ 'servers.resetVmPassword' | translate }}
      </a>
    </ng-container>
  </div>
</ng-template>