@import "shared/index";

$divider-width: 1px;

.divider-wrapper {
  @include align-self(normal);
  display: block;
  margin: 0;
  border-top-width: $divider-width;
  border-top-style: solid;

  &.divider-vertical {
    border-top: 0;
    border-right-width: $divider-width;
    border-right-style: solid;
  }
}