@import "../../../../../styles/shared/base";

$job-process-padding: 10px 25px;
$job-description-padding: 10px;
$job-context-interval: 55px;

.job-progress-container {
  position: relative;
  @include display-flex(row);

  .job-information {
    @include flex(1);
    @include display-flex(column);
    @include set-items-interval(10);

    @include breakpoint(large) {
      padding-right: $job-context-interval;
      border-right: 1px solid $color-black;
    }

    .description {
      @include display-flex(row);
      align-items: center;
      border-bottom: 1px solid $color-grey-05;
      padding-bottom: $job-description-padding;
      @include set-items-interval(10, horizontal);

      h3 {
        margin-bottom: 0;
      }
    }

    .job-process {
      padding: $job-process-padding;

      .job-active {
        @include display-flex(column);

        .job-tasks {
          .task-item {
            font-family: $circular-pro-book;
            @include font-size(16);
            @include set-items-interval(10, horizontal);
            margin: $space-xsmall 0;

            .active {
              color: $color-grey-02;
              + span {
                color: $color-grey-02;
              }
            }

            .failed {
              color: $color-red-00;
            }

            .completed {
              color: $color-primary-01;
            }
          }
        }
      }

      mcs-button {
        margin-top: $space-medium;
      }
    }
  }

  .context-information {
    margin-left: auto;
  }
}
