<!--TODO: Create Seperate Component for user-panel -->
<div class="mcs-user-panel">
  <aside class="notification" (click)="viewNotifications()">
    <i [ngClass]="bellIcon">
      <span *ngIf="notifications">{{ notifications }}</span>
    </i>
  </aside>
  <aside class="user-panel">
    <div class="dropdown d-inline-block link">
      <a class="dropdown-toggle" id="useroptions"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="user-icon" [ngClass]="userIcon"></i>
        <span class="hidden-small">Shaun Domingo</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="useroptions">
        <button class="dropdown-item">Account Settings</button>
        <button class="dropdown-item">Profile</button>
        <button class="dropdown-item">Logout</button>
      </div>
    </div>
    <small class="user-info">Macquarie Telecom Contoso</small>
  </aside>
  <aside class="exit">
    <i [ngClass]="caretRightIcon"></i>
  </aside>
</div>