<section>
  <!-- Firewall policy header -->
  <mcs-item>
    <h2 auto-width>
      {{ textContent.title | mcsTextPlaceholder: 'sequence': firewallPolicy?.objectSequence }}
    </h2>
    <mcs-icon [key]="closeIconKey" size="small"
      mcsCursor="pointer" mcsAlign="end"
      (click)="closePolicy()"></mcs-icon>
  </mcs-item>

  <mcs-grid>
    <mcs-grid-row>
      <!-- Firewall Policy Source -->
      <mcs-grid-column mcsId="firewall-policy-source">
        <h5 margin-bottom-small>{{ textContent.source }}</h5>
        <mcs-item>
          <span>{{ textContent.address }}:</span>
          <mcs-list spacing="auto">
            <mcs-list-item *ngFor="let sourceAddress of firewallPolicy?.sourceAddresses">
              {{ sourceAddress }}
            </mcs-list-item>
          </mcs-list>
        </mcs-item>

        <mcs-item>
          <span>{{ textContent.interface }}:</span>
          <mcs-list spacing="auto">
            <mcs-list-item *ngFor="let sourceInterfaces of firewallPolicy?.sourceInterfaces">
              {{ sourceInterfaces }}
            </mcs-list-item>
          </mcs-list>
        </mcs-item>
      </mcs-grid-column>

      <!-- Firewall Policy Destination -->
      <mcs-grid-column mcsId="firewall-policy-destination">
        <h5 margin-bottom-small>{{ textContent.destination }}</h5>
        <mcs-item>
          <span>{{ textContent.address }}:</span>
          <mcs-list spacing="auto" >
            <mcs-list-item *ngFor="let destinationAddress of firewallPolicy?.destinationAddresses">
              {{ destinationAddress }}
            </mcs-list-item>
          </mcs-list>
        </mcs-item>

        <mcs-item>
          <span>{{ textContent.interface }}:</span>
          <mcs-list spacing="auto">
            <mcs-list-item *ngFor="let destinationInterface of firewallPolicy?.destinationInterfaces">
              {{ destinationInterface }}
            </mcs-list-item>
          </mcs-list>
        </mcs-item>
      </mcs-grid-column>
    </mcs-grid-row>

    <mcs-grid-row>
      <!-- Firewall Policy Details -->
      <mcs-grid-column mcsId="firewall-policy-details">
        <h5 margin-bottom-small>{{ textContent.details }}</h5>
        <mcs-item>
          <span>{{ textContent.service }}:</span>
          <span>{{ firewallPolicy?.service }}</span>
        </mcs-item>

        <mcs-item>
          <span>{{ textContent.action }}:</span>
          <span>{{ firewallPolicy?.actionLabel }}</span>
        </mcs-item>
      </mcs-grid-column>
    </mcs-grid-row>
  </mcs-grid>
</section>