<mcs-presentation-panel>
  <ng-container mcsPresentationPanelHeader>
    <mcs-item orientation="separated" full-width>
      <h2>{{ 'serverServicesOsUpdatesSchedule.title' | translate }}</h2>
      <ng-content select="[mcsViewServicesTab]"></ng-content>
    </mcs-item>
  </ng-container>
  <p>
    <ng-container *ngIf="validToUpdateOs; else invalidToUpdateScheduleDescription">
      <span>{{ 'serverServicesOsUpdatesSchedule.description.default' | translate }}</span>
      <ng-container *ngIf="hasSchedule">
        <span *ngIf="scheduleDateType === scheduleTypeOption.Weekly">
          {{ 'serverServicesOsUpdatesSchedule.description.weekly' | translate }}
        </span>
        <span *ngIf="scheduleDateType === scheduleTypeOption.Monthly">
          <span>{{ 'serverServicesOsUpdatesSchedule.description.monthly' | translate }}</span>
        </span>
        <span *ngIf="scheduleDateType === scheduleTypeOption.Custom">
          <span>{{ 'serverServicesOsUpdatesSchedule.description.custom' | translate }}</span>
        </span>
      </ng-container>
    </ng-container>
    <ng-template #invalidToUpdateScheduleDescription>
      <span>{{ 'serverServicesOsUpdatesSchedule.description.invalidToUpdateSchedule' | translate }}</span>
    </ng-template>
  </p>

  <mcs-data-status [dataStatusFactory]="configurationStatusFactory">
    <mcs-data-status-success mcsDataSuccess>
      <ng-container *ngIf="osUpdatesScheduleConfiguration$ | async as osUpdatesScheduleConfiguration">
        <ng-container [ngSwitch]="scheduleType">
          <mcs-section>
            <form [formGroup]="fgSchedule" mcsFormGroup [disabled]="selectedServer.isProcessing">
              <mcs-grid>
                <mcs-grid-row>
                  <!-- Schedule Type -->
                  <mcs-item orientation="block">
                    <strong>{{ 'serverServicesOsUpdatesSchedule.scheduleTypeLabel' | translate }}</strong>
                    <mcs-radio-button-group [(ngModel)]="scheduleType" [ngModelOptions]="{standalone: true}"
                      mcsId="schedule-type" (ngModelChange)="onScheduleTypeChange()"
                      [disabled]="!validToUpdateOs">
                      <mcs-radio-button padding-right-xxlarge [value]="scheduleTypeOption.Weekly">
                        {{ 'serverServicesOsUpdatesSchedule.scheduleTypeOption.weekly' | translate }}
                      </mcs-radio-button>
                      <mcs-radio-button padding-right-xxlarge [value]="scheduleTypeOption.Monthly">
                        {{ 'serverServicesOsUpdatesSchedule.scheduleTypeOption.monthly' | translate }}
                      </mcs-radio-button>
                      <mcs-radio-button padding-right-xxlarge [value]="scheduleTypeOption.Custom">
                        {{ 'serverServicesOsUpdatesSchedule.scheduleTypeOption.custom' | translate }}
                      </mcs-radio-button>
                    </mcs-radio-button-group>
                  </mcs-item>
                </mcs-grid-row>

                <!-- Schedule Type Weekly -->
                <mcs-grid-row margin-top-small [@fadeIn] *ngSwitchCase="scheduleTypeOption.Weekly">
                  <mcs-grid-column>

                    <mcs-item orientation="block">
                      <strong padding-top-small>{{ 'serverServicesOsUpdatesSchedule.scheduleTimeLabel' | translate }}</strong>
                      <mcs-section orientation="horizontal" mcsAlignContent="middle-left">

                        <!-- Weekly Day Selection -->
                        <mcs-form-field class="form-field-size-small">
                          <mcs-select mcsId="select-weekly-day-os-updates" [multiSelectLimit]="1000"
                            [placeholder]="'serverServicesOsUpdatesSchedule.daysPlaceholder.multipleDays' | translate"
                            [formControl]="fcWeeklyScheduleDay" multiple required>
                            <mcs-option *ngFor="let scheduleDay of (scheduleDaysChange$ | async)" [value]="scheduleDay.day"
                              [disabled]="!validToUpdateOs"
                              [selected]="scheduleDay.checked">{{ scheduleDay.name }}</mcs-option>
                          </mcs-select>
                        </mcs-form-field>

                        <span>{{ 'serverServicesOsUpdatesSchedule.datePreposition' | translate }}</span>

                        <!-- Weekly Time Selection -->
                        <mcs-form-field class="form-field-size-xsmall" [disabled]="!validToUpdateOs">
                          <mcs-select mcsId="select-weekly-time-os-updates" [formControl]="fcWeeklyScheduleTime" required>
                            <mcs-option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{ timeOption }}</mcs-option>
                          </mcs-select>
                        </mcs-form-field>

                        <!-- Weekly Period Selection -->
                        <mcs-form-field class="form-field-size-xsmall" [disabled]="!validToUpdateOs">
                          <mcs-select mcsId="select-weekly-period-os-updates" [formControl]="fcWeeklyScheduleTimePeriod"
                            required>
                            <mcs-option *ngFor="let dayPeriodOption of dayPeriodOptions" [value]="dayPeriodOption">
                              {{ dayPeriodOption }}
                            </mcs-option>
                          </mcs-select>
                        </mcs-form-field>

                        <span>{{ 'serverServicesOsUpdatesSchedule.timezoneAbrv' | translate }}</span>
                      </mcs-section>
                    </mcs-item>
                  </mcs-grid-column>
                </mcs-grid-row>

                <!-- Schedule Type Monthly -->
                <mcs-grid-row margin-top-small [@fadeIn] *ngSwitchCase="scheduleTypeOption.Monthly">
                  <mcs-grid-column>

                    <mcs-item orientation="block">
                      <strong padding-top-small>{{ 'serverServicesOsUpdatesSchedule.scheduleTimeLabel' | translate }}</strong>
                      <mcs-section orientation="horizontal" mcsAlignContent="middle-left">
                        <!-- Monthly Week Selection-->
                        <mcs-form-field class="form-field-size-small" [disabled]="!validToUpdateOs">
                          <mcs-select mcsId="select-monthly-week-os-updates" [multiSelectLimit]="1000"
                            [placeholder]="'serverServicesOsUpdatesSchedule.weeksPlaceholder.multipleWeeks' | translate"
                            [formControl]="fcMonthlyScheduleWeek" multiple required>
                            <mcs-option *ngFor="let scheduleWeek of (scheduleWeeksChange$ | async)" [value]="scheduleWeek.week"
                              [selected]="scheduleWeek.checked">{{ scheduleWeek.name }}</mcs-option>
                          </mcs-select>
                        </mcs-form-field>

                        <!-- Monthly Day Selection-->
                        <mcs-form-field class="form-field-size-small" [disabled]="!validToUpdateOs">
                          <mcs-select mcsId="select-monthly-day-os-updates" [multiSelectLimit]="1000"
                            [placeholder]="'serverServicesOsUpdatesSchedule.daysPlaceholder.multipleDays' | translate"
                            [formControl]="fcMonthlyScheduleDay" multiple required>
                            <mcs-option *ngFor="let scheduleDay of (scheduleDaysChange$ | async)" [value]="scheduleDay.day"
                              [selected]="scheduleDay.checked">{{ scheduleDay.name }}</mcs-option>
                          </mcs-select>
                        </mcs-form-field>

                        <span>{{ 'serverServicesOsUpdatesSchedule.datePreposition' | translate }}</span>

                        <!-- Monthly Time Selection -->
                        <mcs-form-field class="form-field-size-xsmall" [disabled]="!validToUpdateOs">
                          <mcs-select mcsId="select-monthly-time-os-updates" [formControl]="fcMonthlyScheduleTime"
                            required>
                            <mcs-option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{ timeOption }}</mcs-option>
                          </mcs-select>
                        </mcs-form-field>

                        <!-- Monthly Period Selection -->
                        <mcs-form-field class="form-field-size-xsmall" [disabled]="!validToUpdateOs">
                          <mcs-select mcsId="select-monthly-period-os-updates" [formControl]="fcMonthlyScheduleTimePeriod"
                            required>
                            <mcs-option *ngFor="let dayPeriodOption of dayPeriodOptions" [value]="dayPeriodOption">{{
                              dayPeriodOption }}</mcs-option>
                          </mcs-select>
                        </mcs-form-field>

                        <span>{{ 'serverServicesOsUpdatesSchedule.timezoneAbrv' | translate }}</span>
                      </mcs-section>
                    </mcs-item>
                  </mcs-grid-column>
                </mcs-grid-row>

                <!-- Schedule Type Custom -->
                <mcs-grid-row margin-top-small [@fadeIn] *ngSwitchCase="scheduleTypeOption.Custom">
                  <mcs-grid-column>

                    <mcs-item orientation="block">
                      <strong padding-top-small>{{ 'serverServicesOsUpdatesSchedule.scheduleTimeLabel' | translate }}</strong>
                      <mcs-section orientation="horizontal" mcsAlignContent="middle-left">
                        <!-- Custom Date Selection -->
                        <mat-form-field>
                          <input matInput
                              [value]="resetDateModel"
                              [matDatepicker]="picker"
                              (dateChange)="dateChanged($event)"
                              [min]="minDate"
                              [max]="maxDate"
                              hidden/>
                              <ng-container *ngIf="dateModel?.length === 0; else multipleDatesTemplate">
                                <span read-only>{{ 'serverServicesOsUpdatesSchedule.customPlaceholder.selectDate' | translate }}</span>
                              </ng-container>
                              <ng-template #multipleDatesTemplate>
                                <span *ngIf="dateModel?.length === 1">{{ dateModel[0] | date }} </span>
                                <span *ngIf="dateModel?.length > 1">{{ dateModel[0] | date }} + {{ dateModel.length - 1}} more</span>
                              </ng-template>
                          <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker
                            #picker
                            [startAt]="defaultDate"
                            [dateClass]="dateClass"></mat-datepicker>
                        </mat-form-field>

                        <span>{{ 'serverServicesOsUpdatesSchedule.datePreposition' | translate }}</span>

                        <!-- Custom Time Selection -->
                        <mcs-form-field class="form-field-size-xsmall" [disabled]="!validToUpdateOs">
                          <mcs-select mcsId="select-custom-time-os-updates" [formControl]="fcCustomScheduleTime"
                            required>
                            <mcs-option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{ timeOption }}</mcs-option>
                          </mcs-select>
                        </mcs-form-field>

                        <!-- Custom Period Selection -->
                        <mcs-form-field class="form-field-size-xsmall" [disabled]="!validToUpdateOs">
                          <mcs-select mcsId="select-custom-period-os-updates" [formControl]="fcCustomScheduleTimePeriod"
                            required>
                            <mcs-option *ngFor="let dayPeriodOption of dayPeriodOptions" [value]="dayPeriodOption">{{
                              dayPeriodOption }}</mcs-option>
                          </mcs-select>
                        </mcs-form-field>

                        <span>{{ 'serverServicesOsUpdatesSchedule.timezoneAbrv' | translate }}</span>
                      </mcs-section>
                    </mcs-item>
                  </mcs-grid-column>
                  <!-- Custom Dates Selected -->
                  <mat-accordion *ngIf="dateModel?.length >= 1">
                    <mat-expansion-panel hideToggle class="mat-elevation-z0" [expanded]="true"
                      (opened)="updateDatePanelStatus(true)"
                      (closed)="updateDatePanelStatus(false)">
                      <mat-expansion-panel-header padding-none style="height: 28px;">
                        <mat-panel-title>
                          <mat-icon *ngIf="datePanelOpen">arrow_drop_up</mat-icon>
                          <mat-icon *ngIf="!datePanelOpen">arrow_drop_down</mat-icon>
                          <span style="font-size: 13px;">{{ 'serverServicesOsUpdatesSchedule.customPlaceholder.selectedDates' | translate }}</span>
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <mat-chip-list #chipList (click)="picker.open()">
                        <mat-chip
                          *ngFor="let value of dateModel"
                          [selectable]="false"
                          [removable]="true"
                          (removed)="removeSelectedDate(value)">
                          {{ value | date }}
                          <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                        </mat-chip>
                      </mat-chip-list>
                    </mat-expansion-panel>
                  </mat-accordion>
                </mcs-grid-row>

                <!-- Snapshot Options -->
                <mcs-grid-row margin-top-small *mcsAccessControl="[]; feature: 'EnableServerOsUpdatesSnapshot'">
                  <mcs-grid-column>
                    <mcs-item orientation="block" [disabled]="!validToUpdateOs">
                      <strong>{{ 'serverServicesOsUpdatesSchedule.snapshotOptionsLabel' | translate }}</strong>
                      <p>{{ 'serverServicesOsUpdatesSchedule.snapshotOptionsDescription' | translate }}</p>
                      <mcs-radio-button-group [(ngModel)]="snapshot" [ngModelOptions]="{standalone: true}"
                        mcsId="schedule-snapshot" >
                        <mcs-radio-button [value]="false">
                          {{ 'serverServicesOsUpdatesSchedule.snapshotOptions.updateWithoutSnapshot' | translate }}
                        </mcs-radio-button>
                        <mcs-radio-button [value]="true">
                          {{ 'serverServicesOsUpdatesSchedule.snapshotOptions.updateWithSnapshot' | translate }}
                        </mcs-radio-button>
                      </mcs-radio-button-group>
                    </mcs-item>
                  </mcs-grid-column>
                </mcs-grid-row>

                <!-- Restart Option -->
                <mcs-grid-row margin-top-small>
                  <mcs-grid-column>
                    <mcs-item orientation="block" [disabled]="!validToUpdateOs">
                      <strong>{{ 'serverServicesOsUpdatesSchedule.restartOptionsLabel' | translate }}</strong>
                      <p>{{ 'serverServicesOsUpdatesSchedule.restartOptionsDescription' | translate }}</p>
                      <mcs-radio-button-group [(ngModel)]="restart" [ngModelOptions]="{standalone: true}"
                        mcsId="schedule-restart" >
                        <mcs-radio-button [value]="false">
                          {{ 'serverServicesOsUpdatesSchedule.restartOptions.updateWithoutRestart' | translate }}
                        </mcs-radio-button>
                        <mcs-radio-button [value]="true">
                          {{ 'serverServicesOsUpdatesSchedule.restartOptions.updateWithRestart' | translate }}
                        </mcs-radio-button>
                      </mcs-radio-button-group>
                    </mcs-item>
                  </mcs-grid-column>
                </mcs-grid-row>
              </mcs-grid>
            </form>

            <section [disabled]="selectedServer.isProcessing">
                <!-- Action Buttons -->
                <mcs-item>
                  <strong>{{ 'serverServicesOsUpdatesSchedule.listLabel' | translate }}</strong>
                  <button delete-button mcsButton size="medium" mcsAlign="end"
                    mcsId="delete-schedule-button"
                    mcsEventTracker="os-updates-delete-schedule-click"
                    mcsEventCategory="server"
                    mcsEventLabel="os-updates-delete-schedule"
                    (click)="deleteExistingSchedule()"
                    [hidden]="!hasSchedule"
                    color="error"
                    [disabled]="!hasSchedule || !validToUpdateOs">
                    {{ 'serverServicesOsUpdatesSchedule.deleteScheduleButton' | translate }}
                  </button>
                  <button *ngSwitchCase="scheduleTypeOption.Weekly" mcsButton size="medium"
                    mcsId="save-weekly-button"
                    mcsEventTracker="os-updates-save-weekly-click"
                    mcsEventCategory="server"
                    mcsEventLabel="os-updates-save-weekly"
                    (click)="saveWeeklySchedule()"
                    [disabled]="isWeeklySaveButtonDisabled || !validToUpdateOs">
                    {{ 'serverServicesOsUpdatesSchedule.saveScheduleButton' | translate }}
                  </button>
                  <button *ngSwitchCase="scheduleTypeOption.Monthly" mcsButton size="medium"
                    mcsId="save-monthly-button"
                    mcsEventTracker="os-updates-save-monthly-click"
                    mcsEventCategory="server"
                    mcsEventLabel="os-updates-save-monthly"
                    (click)="saveMonthlySchedule()"
                    [disabled]="isMonthlySaveButtonDisabled || !validToUpdateOs">
                    {{ 'serverServicesOsUpdatesSchedule.saveScheduleButton' | translate }}
                  </button>
                  <button *ngSwitchCase="scheduleTypeOption.Custom" mcsButton size="medium"
                    mcsId="save-custom-button"
                    mcsEventTracker="os-updates-save-custom-click"
                    mcsEventCategory="server"
                    mcsEventLabel="os-updates-save-custom"
                    (click)="saveCustomSchedule()"
                    [disabled]="isCustomSaveButtonDisabled || !validToUpdateOs">
                    {{ 'serverServicesOsUpdatesSchedule.saveScheduleButton' | translate }}
                  </button>
                </mcs-item>
                <!-- Tree View -->
                <div class="action-box">
                  <mcs-tree *ngSwitchCase="scheduleTypeOption.Weekly"
                    mcsId="tree-view-weekly"
                    (selectionChange)="onWeeklyTreeChange($event)">
                    <mcs-tree-node-group [label]="'serverServicesOsUpdatesSchedule.listAllSelection' | translate"
                      [checkable]="validToUpdateOs">
                      <mcs-tree-node
                        *ngFor="let weeklyCategory of weeklyCategories"
                        [value]="weeklyCategory"
                        [selected]="weeklyCategory.isSelected">
                        <span>{{ weeklyCategory.name }}</span>
                      </mcs-tree-node>
                    </mcs-tree-node-group>
                  </mcs-tree>

                  <mcs-tree *ngSwitchCase="scheduleTypeOption.Monthly"
                    mcsId="tree-view-monthly"
                    (selectionChange)="onMonthlyTreeChange($event)">
                    <mcs-tree-node-group [label]="'serverServicesOsUpdatesSchedule.listAllSelection' | translate"
                      [checkable]="validToUpdateOs">
                      <mcs-tree-node

                        *ngFor="let monthlyCategory of monthlyCategories"
                        [value]="monthlyCategory"
                        [selected]="monthlyCategory.isSelected">
                        <span>{{ monthlyCategory.name }}</span>
                      </mcs-tree-node>
                    </mcs-tree-node-group>
                  </mcs-tree>

                  <mcs-tree *ngSwitchCase="scheduleTypeOption.Custom"
                    mcsId="tree-view-custom"
                    (selectionChange)="onCustomTreeChange($event)">
                    <mcs-tree-node-group [label]="'serverServicesOsUpdatesSchedule.listAllSelection' | translate"
                      [checkable]="validToUpdateOs">
                      <mcs-tree-node

                        *ngFor="let customCategory of customCategories"
                        [value]="customCategory"
                        [selected]="customCategory.isSelected">
                        <span>{{ customCategory.name }}</span>
                      </mcs-tree-node>
                    </mcs-tree-node-group>
                  </mcs-tree>
                </div>
            </section>
          </mcs-section>
        </ng-container>
      </ng-container>
    </mcs-data-status-success>

    <mcs-data-status-in-progress mcsDataInProgress>
      <span>{{ 'serverServicesOsUpdatesSchedule.osUpdatesCategoryloadingContent' | translate }}</span>
    </mcs-data-status-in-progress>

    <mcs-data-status-error mcsDataError>
      <span>{{ 'serverServicesOsUpdatesSchedule.errorGettingOsUpdatesCategory' | translate }}</span>
    </mcs-data-status-error>
  </mcs-data-status>
</mcs-presentation-panel>
