
<!-- TO DO: create tab component for remove and modify -->
<!-- <div class="firewall-tab-wrapper" *mcsComponentHandler>
    <mcs-tab-group [selectedTabId]="selectedTabId$ | async" (tabChanged)="onTabChanged($event)">
              <mcs-tab [label]="'orderSimpleFirewallChanges.detailsStep.addRuleTabLabel' | translate" id="addRule">
              </mcs-tab>
              
              <mcs-tab [label]="'orderSimpleFirewallChanges.detailsStep.modifyRuleTabLabel' | translate" id="modifyRule">
              </mcs-tab>

              <mcs-tab [label]="'orderSimpleFirewallChanges.detailsStep.removeRuleTabLabel' | translate" id="removeRule">
              </mcs-tab>
            </mcs-tab-group>
    
            <div class="routing-tab-content-wrapper limited-view">
              <router-outlet></router-outlet>
            </div>
</div> -->

<!-- Changes To Apply Form -->
<form [formGroup]="formGroup" mcsFormGroup>
      <div> {{ 'orderSimpleFirewallChanges.detailsStep.sharedRuleForm.add.label' | translate }} </div>
        <mcs-grid [mcsContextualHelp]="'orderSimpleFirewallChanges.detailsStep.sharedRuleForm.add.helptext' | translate">
          <mcs-grid-row [gapSize]="4">
            <mcs-grid-column sizeLg="6">
              <mcs-form-field>
                <mcs-select [formControl]="formGroup?.controls['fcActionType']" required
                  (selectionChange)="onActionTypeSelectionChange($event)"
                  mcsId="select-order-simple-firewall-change-action-type"
                  mcsEventTracker="select-order-simple-firewall-change-action-type"
                  mcsEventCategory="order"
                  mcsEventLabel="simple-firewall-change-page">

                  <mcs-option *ngFor="let actionType of actionTypeOptions$ | async" [value]="actionType.value">
                    {{ actionType.text }}
                  </mcs-option>
                </mcs-select>
              </mcs-form-field>
            </mcs-grid-column>
          </mcs-grid-row>

          <mcs-grid-row [gapSize]="4" margin-top-small>
            <mcs-grid-column sizeLg="6">
              <mcs-form-field>
                <input mcsInput
                  [formControl]="formGroup?.controls['fcSourceZoneInterface']"
                  [placeholder]="'orderSimpleFirewallChanges.detailsStep.sharedRuleForm.add.sourceZoneOrInterface.placeholder' | translate"
                  mcsId="input-add-simple-firewall-change-source-zone-interface"
                  required>
                <mcs-error mcsError errorState="required">
                  {{ 'orderSimpleFirewallChanges.detailsStep.sharedRuleForm.add.sourceZoneOrInterface.errorRequired' | translate }}
                </mcs-error>
              </mcs-form-field>
            </mcs-grid-column>
            <mcs-grid-column sizeLg="6">
              <mcs-form-field>
                <input mcsInput
                  [formControl]="formGroup?.controls['fcSourceIpSubnet']"
                  [placeholder]="'orderSimpleFirewallChanges.detailsStep.sharedRuleForm.add.sourceIpOrSubnet.placeholder' | translate"
                  mcsId="input-add-simple-firewall-change-source-ip-subnet"
                  required>
                <mcs-error mcsError errorState="required">
                  {{ 'orderSimpleFirewallChanges.detailsStep.sharedRuleForm.add.sourceIpOrSubnet.errorRequired' | translate }}
                </mcs-error>
              </mcs-form-field>
            </mcs-grid-column>
          </mcs-grid-row>

          <mcs-grid-row [gapSize]="4" margin-top-small>
            <mcs-grid-column sizeLg="6">
              <mcs-form-field>
                <input mcsInput
                  [formControl]="formGroup?.controls['fcDestinationZoneInterface']"
                  [placeholder]="'orderSimpleFirewallChanges.detailsStep.sharedRuleForm.add.destinationZoneOrInterface.placeholder' | translate"
                  mcsId="input-add-simple-firewall-change-destination-zone-interface"
                  required>
                <mcs-error mcsError errorState="required">
                  {{ 'orderSimpleFirewallChanges.detailsStep.sharedRuleForm.add.destinationZoneOrInterface.errorRequired' | translate }}
                </mcs-error>
              </mcs-form-field>
            </mcs-grid-column>
            <mcs-grid-column sizeLg="6">
              <mcs-form-field>
                <input mcsInput
                  [formControl]="formGroup?.controls['fcDestinationIpSubnet']"
                  [placeholder]="'orderSimpleFirewallChanges.detailsStep.sharedRuleForm.add.destinationIpOrSubnet.placeholder' | translate"
                  mcsId="input-add-simple-firewall-change-destination-ip-subnet"
                  required>
                <mcs-error mcsError errorState="required">
                  {{ 'orderSimpleFirewallChanges.detailsStep.sharedRuleForm.add.destinationIpOrSubnet.errorRequired' | translate }}
                </mcs-error>
              </mcs-form-field>
            </mcs-grid-column>
          </mcs-grid-row>

          <mcs-grid-row [gapSize]="4" margin-top-small>
            <mcs-grid-column sizeLg="6">
              <mcs-form-field>
                <input mcsInput
                  [formControl]="formGroup?.controls['fcDestinationPort']"
                  [placeholder]="'orderSimpleFirewallChanges.detailsStep.sharedRuleForm.add.destinationPort.placeholder' | translate"
                  mcsId="input-add-simple-firewall-change-destination-port"
                  required>
                <mcs-error mcsError errorState="required">
                  {{ 'orderSimpleFirewallChanges.detailsStep.sharedRuleForm.add.destinationPort.errorRequired' | translate }}
                </mcs-error>
              </mcs-form-field>
            </mcs-grid-column>
            <mcs-grid-column sizeLg="6">
              <mcs-form-field>
                <mcs-select [formControl]="formGroup?.controls['fcProtocol']" required
                  mcsId="select-order-simple-firewall-change-protocol"
                  mcsEventTracker="select-order-simple-firewall-change-protocol"
                  mcsEventCategory="order"
                  mcsEventLabel="simple-firewall-change-page">
                  <mcs-option *ngFor="let protocolType of protocolTypeOptions$ | async" [value]="protocolType.value">
                    {{ protocolType.text }}
                  </mcs-option>
                </mcs-select>
              </mcs-form-field>
            </mcs-grid-column>
          </mcs-grid-row>

          <!-- <mcs-grid-row [gapSize]="4" margin-top-small>
            <mcs-grid-column sizeLg="6">
              <mcs-form-field>
                  <textarea mcsInput rows="3" required
                  [formControl]="formGroup?.controls['fcRulesToDelete']",
                  [placeholder]="'orderSimpleFirewallChanges.detailsStep.sharedRuleForm.add.destinationPort.placeholder' | translate"
                  mcsEventTracker="textarea-remove-simple-firewall-change-rule"
                  mcsEventCategory="order"
                  mcsEventLabel="order-remove-simple-firewall-change"
                  mcsId="textarea-remove-simple-firewall-change-rule"></textarea>
                <mcs-error mcsError errorState="required">
                  {{ 'orderSimpleFirewallChanges.detailsStep.sharedRuleForm.add.destinationPort.errorRequired' | translate }}
                </mcs-error>
              </mcs-form-field>
            </mcs-grid-column>
          </mcs-grid-row> -->
  </mcs-grid>
</form>