<form [formGroup]="fgCloudhealth" mcsFormGroup>
  <div margin-top-medium>
    <mcs-order-listbox *ngIf="cloudHealthPeriodRange$ | async"
      [formControl]="fcCloudhealth"
      [categoryList]="cloudHealthPeriodRange$ | async"
      [selectedItemList]="cloudHealthAlerts$ | async"
      [isProcessing]="isChProcessing"
      [noItemsFallbackText]="'message.noCloudHealthAlertsDisplay' | translate"
      (categoryChange)="onClickPeriodRange($event)"
      (selectedItemChange)="onClickCloudHealthAlert($event)">
    </mcs-order-listbox>

    <!-- Cloudhealth alert list by Type-->
    <div margin-top-medium>
      <ng-container *ngIf="isChByIdProcessing; else cloudHealthByIdTemplate">
        <mcs-loader padding-top-medium size="medium"></mcs-loader>
      </ng-container>
      <ng-template #cloudHealthByIdTemplate>
        <ng-container *ngIf="alertType">
          <span [innerHTML]="chALertInfo.description | mcsNewLines"></span>
          <ng-container *ngIf="cloudHealthAlertOptions?.length === 0; else hasDataTemplate">
            <span display-block>{{ 'message.noDataFound' | translate }}</span>
          </ng-container>

          <ng-template #hasDataTemplate>
            <ng-container *ngIf="chALertInfo.controlType === chAlertFieldTypeEnum.Dropdown">
              <mcs-field-select-list
                [optionList]="cloudHealthAlertOptions"
                [dropdownOptions]="dropdownOptions"
                [formControl]="fcDropdown">
              </mcs-field-select-list>
            </ng-container>
    
            <ng-container *ngIf="chALertInfo.controlType === chAlertFieldTypeEnum.Checkbox">
              <mcs-checkbox-list
                [optionList]="cloudHealthAlertOptions"
                [formControl]="fcCheckbox">
              </mcs-checkbox-list>
            </ng-container>

            <ng-container *ngIf="chALertInfo.controlType === chAlertFieldTypeEnum.Input">
              <mcs-field-input-list
                [optionList]="cloudHealthAlertOptions"
                [inputType]="chALertInfo.inputType"
                [formControl]="fcInputText">
              </mcs-field-input-list>
            </ng-container>
          </ng-template>
        </ng-container>
      </ng-template>
    </div>
  </div>
</form>