@import "../../../styles/shared/base";

$job-server-link-left-offset: 25px;

.jobs-provisioning-container {
  @include display-flex(column);
  @include set-items-interval($space-medium);

  .jobs-container {
    @include display-flex(column);
    @include set-items-interval($space-xxlarge);

    .job-completed {
      @include display-flex(column);
      align-items: flex-start;
      margin-top: $space-large;

      .link {
        display: inline-block;
        text-decoration: underline;
        margin-left: $job-server-link-left-offset;
      }
    }
  }
}
