<section>
  <!-- Job Details -->
  <section *ngFor="let job of jobs">

    <!-- Progress Description -->
    <h2 *ngIf="job.clientReferenceObject?.resourceDescription; else resourceDescriptionTemplate">
      {{ job.clientReferenceObject.resourceDescription }}
    </h2>
    <ng-template #resourceDescriptionTemplate>
      <h2>{{ job.description }} <span class="sub-label">{{ getServiceId(job) }}</span></h2>
    </ng-template>

    <!-- In Progress Text -->
    <div *ngIf="loadingTextIsDisplay">
      <ng-container *ngTemplateOutlet="jobsProvisioningLoadingText?.templateRef"></ng-container>
    </div>

    <!-- Progress bar -->
    <ng-container *ngIf="!isProgressbarHidden">
      <mcs-progress-bar [@fadeIn]
        [(ngModel)]="progressValue"
        [maxValue]="progressMax"
        (completed)="onProgressCompleted()"></mcs-progress-bar>
    </ng-container>

    <!-- Tasks content -->
    <ng-container *ngIf="job.tasks">
      <mcs-list *ngFor="let task of job.tasks">

        <mcs-item orientation="block">
          <mcs-item>
            <mcs-loader *ngIf="task.inProgress" size="small"></mcs-loader>
            <mcs-icon *ngIf="!task.inProgress"
              [key]="getStatusIconKey(task.dataStatus)" size="small"></mcs-icon>
            <span>{{ task.description }}</span>
          </mcs-item>

          <ng-container *ngIf="task.dataStatus !== dataStatusEnum.Success">
            <mcs-item *ngIf="task.summaryInformation" read-only margin-left-xlarge>
              <mcs-icon [key]="dotIconKey" size="xxsmall"></mcs-icon>
              <span>{{ task.summaryInformation }}</span>
            </mcs-item>
          </ng-container>

          <!-- <mcs-list *ngFor="let task of job.tasks">
            <mcs-item *ngFor="let log of task.logs" [icon]="log.logType === 'ERROR' ? errorIcon : infoIcon" compact="true">
              <small> {{ log.loggedOn | mcsStdDateFormat }} </small>
              <small>{{ log.message }}</small>
            </p>
          </mcs-item> -->

        </mcs-item>
      </mcs-list>
    </ng-container>

    <!-- Job content when ended -->
    <mcs-list *ngIf="!job.inProgress">

      <ng-container [ngSwitch]="job.dataStatus">
        <!-- Job Success -->
        <ng-container *ngSwitchCase="dataStatusEnum.Success">
          <mcs-alert type="success" [header]="job.summaryInformation"></mcs-alert>
          <mcs-item *ngIf="resourceLink(job) && !isActionHidden(job)">
            <a mcsButton arrow="right" size="small" mcsId="view-job" margin-top-small
              [mcsRouterLink]="resourceLink(job)">
              {{ 'shared.jobsProvisioning.viewDetails' | translate }}
            </a>
          </mcs-item>
        </ng-container>

        <!-- Job Error -->
        <ng-container *ngSwitchCase="dataStatusEnum.Error">
          <mcs-alert type="error" [header]="job.summaryInformation">
            <span>{{ job.errorMessage }}</span>
          </mcs-alert>
        </ng-container>
      </ng-container>

      <div style="margin-left: 15px;" *ngIf="showLogs">
        <mcs-cta-list *ngFor="let task of job.tasks">
          <mcs-cta-list-panel *ngFor="let log of task.logs" [icon]="log.logType === 'ERROR' ? errorIcon : infoIcon" compact="true">
            <mcs-cta-list-body>
              <small> {{ log.loggedOn | mcsStdDateFormat }} </small>
            </mcs-cta-list-body>
            <mcs-cta-list-action>
              <small>{{ log.message }}</small>
            </mcs-cta-list-action>
          </mcs-cta-list-panel>
          <div *mcsAccessControl="['InternalEngineerAccess'];">
            <div *ngIf="validReferenceObject(task.referenceObject)">
              <h3>Response</h3>
              <mcs-json-viewer [obj]="clone(task.referenceObject)"></mcs-json-viewer>
            </div>
          </div>
        </mcs-cta-list>
      </div>

    </mcs-list>
  </section>
</section>