<ng-container [ngSwitch]="hasJobs">
  <!-- When job received -->
  <ng-container *ngSwitchCase="true">
    <div class="jobs-provisioning-container">
      <!-- Progress Information -->
      <div class="vertical-items-spacing-medium">
        <ng-content *ngIf="hasInProgressJob" select="[mcsProvisioningText]"></ng-content>
        <h2 class="title">{{ getTitle() }}</h2>
        <mcs-progress-bar *ngIf="hasInProgressJob" [@fadeIn]
          [(ngModel)]="progressValue"
          [maxValue]="progressMax"></mcs-progress-bar>
      </div>

      <!-- Job Details -->
      <div class="jobs-container">
        <div *ngFor="let job of jobs">
          <h2 *ngIf="isMultiJobs">{{ job.description }}</h2>

          <!-- Tasks content -->
          <div class="task-content" *ngIf="job.tasks">
            <div *ngFor="let task of job.tasks" class="status-details">
              <div [ngSwitch]="task.dataStatus">
                <!-- In progress -->
                <ng-container *ngSwitchCase="dataStatusEnum.InProgress">
                  <div class="inline-items-small">
                    <mcs-loader size="small"></mcs-loader>
                    <span read-only>{{ task.description }}</span>
                  </div>
                </ng-container>

                <!-- Success -->
                <ng-container *ngSwitchCase="dataStatusEnum.Success">
                  <div class="inline-items-small">
                    <mcs-icon [key]="checkIconKey" size="small" color="green"></mcs-icon>
                    <span read-only>{{ task.description }}</span>
                  </div>
                </ng-container>

                <!-- Error -->
                <ng-container *ngSwitchCase="dataStatusEnum.Error">
                  <div class="inline-items-small">
                    <mcs-icon [key]="closeIconKey" size="small" color="red"></mcs-icon>
                    <span read-only>{{ task.description }}</span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

          <!-- Job completed -->
          <div *ngIf="isJobCompleted(job)" class="job-completed">

            <div [ngSwitch]="job.dataStatus">
              <!-- In progress -->
              <ng-container *ngSwitchCase="dataStatusEnum.InProgress">
                <div class="inline-items-small">
                  <mcs-loader size="small"></mcs-loader>
                  <span>{{ textContent.deploymentInProgress }}</span>
                </div>
              </ng-container>

              <!-- Success -->
              <ng-container *ngSwitchCase="dataStatusEnum.Success">
                <div class="inline-items-small">
                  <mcs-icon [key]="checkIconKey" size="small" color="green"></mcs-icon>
                  <span>{{ textContent.deploymentCompleted }}</span>
                </div>
                <div class="space-top-medium">
                  <button mcsButton arrow="right" size="small"
                    (click)="onViewServerPage(job.tasks)" mcsId="view-job">
                    {{ getRedirectionLinkText(job.tasks) }}
                  </button>
                </div>
              </ng-container>

              <!-- Error -->
              <ng-container *ngSwitchCase="dataStatusEnum.Error">
                <mcs-alert type="error" [header]="textContent.deploymentFailed">
                  <span>{{ job.errorMessage }}</span>
                </mcs-alert>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- When no job received yet -->
  <ng-container *ngSwitchCase="false">
    <div class="inline-items-small">
      <mcs-loader size="small"></mcs-loader>
      <span read-only>{{ textContent.deploymentInProgress }}</span>
    </div>
  </ng-container>
</ng-container>

