<ng-container [ngSwitch]="hasJobs">
  <!-- When job received -->
  <ng-container *ngSwitchCase="true">
    <section>
      <!-- Progress Information -->
      <div *ngIf="hasInProgressJob">
        <ng-content select="[mcsProvisioningText]"></ng-content>
      </div>
      <h2 class="title">{{ getTitle() }}</h2>
      <ng-container *ngIf="!isProgressbarHidden">
        <mcs-progress-bar [@fadeIn]
          [(ngModel)]="progressValue"
          [maxValue]="progressMax"></mcs-progress-bar>
      </ng-container>

      <!-- Job Details -->
      <section *ngFor="let job of jobs">
        <h2 *ngIf="isMultiJobs">{{ job.description }}</h2>

        <!-- Tasks content -->
        <ng-container *ngIf="job.tasks">
          <mcs-list *ngFor="let task of job.tasks">

            <ng-container *ngTemplateOutlet="statusTemplate; context: {
              $implicit: task.dataStatus,
              inProgressText: task.description,
              errorText: task.description,
              successText: task.description
            }"></ng-container>
          </mcs-list>
        </ng-container>

        <!-- Job ended -->
        <mcs-list *ngIf="isJobEnded(job)">

          <ng-container *ngTemplateOutlet="statusTemplate; context: {
            $implicit: job.dataStatus,
            inProgressText: textContent.deploymentInProgress,
            errorText: job.errorMessage,
            isErrorAlert: true,
            successText: textContent.deploymentCompleted
          }"></ng-container>

          <mcs-item *ngIf="job.dataStatus === dataStatusEnum.Success">
            <a mcsButton arrow="right" size="small" mcsId="view-job" margin-top-small
              [mcsRouterLink]="job.resourceLink">
              {{ textContent.viewDetails }}
            </a>
          </mcs-item>
        </mcs-list>
      </section>
    </section>
  </ng-container>

  <!-- When no job received yet -->
  <ng-container *ngSwitchCase="false">
    <mcs-item>
      <mcs-loader size="small"></mcs-loader>
      <span read-only>{{ textContent.deploymentInProgress }}</span>
    </mcs-item>
  </ng-container>
</ng-container>

<ng-template #statusTemplate
  let-dataStatus
  let-inProgressText="inProgressText"
  let-errorText="errorText"
  let-isErrorAlert="isErrorAlert"
  let-successText="successText">

  <ng-container [ngSwitch]="dataStatus">
    <!-- In progress -->
    <ng-container *ngSwitchCase="dataStatusEnum.InProgress">
      <mcs-item>
        <mcs-loader size="small"></mcs-loader>
        <span read-only>{{ inProgressText }}</span>
      </mcs-item>
    </ng-container>

    <!-- Success -->
    <ng-container *ngSwitchCase="dataStatusEnum.Success">
      <mcs-item>
        <mcs-icon [key]="successIconKey" size="small"></mcs-icon>
        <span>{{ successText }}</span>
      </mcs-item>
    </ng-container>

    <!-- Error -->
    <ng-container *ngSwitchCase="dataStatusEnum.Error">
      <mcs-alert type="error" *ngIf="isErrorAlert; else iconType"
        [header]="textContent.deploymentFailed">
        <span>{{ errorText }}</span>
      </mcs-alert>

      <ng-template #iconType>
        <mcs-item>
          <mcs-icon [key]="errorIconKey" size="small"></mcs-icon>
          <span>{{ errorText }}</span>
        </mcs-item>
      </ng-template>
    </ng-container>

  </ng-container>
</ng-template>


