<mcs-presentation-panel>
  <ng-container mcsPresentationPanelHeader>
    <h2>{{ 'mediaServers.title' | translate }}</h2>
  </ng-container>

  <mcs-section *ngIf="selectedMedium$ | async as selectedMedium">
    <table mat-table [dataSource]="serversDataSource">
      <!-- Name Column -->
      <ng-container mcsColumnDef="name">
        <th mat-header-cell *mcsHeaderCellDef>
          {{ 'columnHeader.name' | translate }}
        </th>
        <td mat-cell *matCellDef="let row">
          <mcs-item>
            <ng-container *ngIf="serverIsInProgress(row)">
              <mcs-loader size="small" [mcsTooltip]="selectedMedium.processingText"></mcs-loader>
            </ng-container>
            <span>{{ row.name }}</span>
          </mcs-item>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container mcsColumnDef="action">
        <th *mcsHeaderCellDef class="action-header-cell">
        </th>
        <td mat-cell *matCellDef="let row">
          <a (click)="showDetachDialog(selectedMedium, row)"
            [disabled]="mediaIsProcessing(selectedMedium)"
            mcsId
            mcsEventTracker="detach-action"
            mcsEventCategory="media"
            mcsEventLabel="media-details-page">
            {{ 'mediaServers.detachAction' | translate }}
          </a>
        </td>
      </ng-container>

      <!-- Header and Data row -->
      <tr mat-header-row *matHeaderRowDef="serversDataSource?.dataColumns$ | async"></tr>
      <tr mat-row *matRowDef="let row; columns: serversDataSource?.dataColumns$ | async;"></tr>
    </table>

    <!-- Table Statuses -->
    <mcs-item orientation="block">
      <div *ngIf="serversDataSource?.isInProgress$ | async" align="center">
        <mcs-loader size="medium"></mcs-loader>
      </div>
      <div *ngIf="serversDataSource?.hasNoRecords$ | async" text-center>
        <span>{{ 'mediaServers.noMediaServers' | translate }} </span>
      </div>
      <div *ngIf="serversDataSource?.hasError$ | async" text-center>
        <div class="listing-status-wrapper">
          <span>{{ 'mediaServers.errorMediaServers' | translate }}</span>
        </div>
      </div>
    </mcs-item>

    <!-- Attach servers -->
    <div class="action-box" [disabled]="mediaIsProcessing(selectedMedium)">
      <mcs-media-manage-servers (dataChange)="onChangeManageServers($event)" [media]="selectedMedium">
        <ng-container mcsManageServerHeader>
          <h2>{{ 'mediaServers.attachServersHeader' | translate }}</h2>
        </ng-container>
      </mcs-media-manage-servers>

      <div class="action-items">
        <button mcsButton
          arrow="right" size="small"
          [disabled]="!manageServers?.valid"
          (click)="attachServer(selectedMedium)"
          mcsId
          mcsEventTracker="attach-server"
          mcsEventCategory="media"
          mcsEventLabel="media-details-page">
          {{ 'mediaServers.attachAction' | translate }}
        </button>
      </div>
    </div>
  </mcs-section>
</mcs-presentation-panel>