<mcs-presentation-panel>
  <ng-container mcsPresentationPanelHeader>
    <h2>{{ 'mediaServers.title' | translate }}</h2>
  </ng-container>

  <mcs-section *ngIf="selectedMedium$ | async as selectedMedium">
    <mcs-table [dataSource]="serversDataSource">
      <!-- Name Column -->
      <ng-container mcsColumnDef="name">
        <mcs-header-cell *mcsHeaderCellDef>
          {{ 'mediaServers.columnHeaders.name' | translate }}
        </mcs-header-cell>
        <mcs-data-cell *mcsDataCellDef="let row">
          <mcs-item>
            <ng-container *ngIf="serverIsInProgress(row)">
              <mcs-loader size="small" [mcsTooltip]="selectedMedium.processingText"></mcs-loader>
            </ng-container>
            <span>{{ row.name }}</span>
          </mcs-item>
        </mcs-data-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container mcsColumnDef="action">
        <mcs-header-cell *mcsHeaderCellDef class="action-header-cell">
        </mcs-header-cell>
        <mcs-data-cell *mcsDataCellDef="let row">
          <a (click)="showDetachDialog(selectedMedium, row)"
            [disabled]="mediaIsProcessing(selectedMedium)"
            mcsId
            mcsEventTracker="detach-action"
            mcsEventCategory="media"
            mcsEventLabel="media-details-page">
            {{ 'mediaServers.detachAction' | translate }}
          </a>
        </mcs-data-cell>
      </ng-container>

      <!-- Data Status Integration -->
      <ng-container mcsDataStatusDef>
        <mcs-data-empty *mcsDataEmptyDef>
          <span>{{ 'mediaServers.noMediaServers' | translate }} </span>
        </mcs-data-empty>
        <mcs-data-error *mcsDataErrorDef>
          <span>{{ 'mediaServers.errorMediaServers' | translate }}</span>
        </mcs-data-error>
      </ng-container>

      <!-- Header and Data row -->
      <mcs-header-row *mcsHeaderRowDef="serversColumns"></mcs-header-row>
      <mcs-data-row *mcsDataRowDef="let row; columns: serversColumns;"></mcs-data-row>
    </mcs-table>

    <!-- Attach servers -->
    <div class="action-box" [disabled]="mediaIsProcessing(selectedMedium)">
      <mcs-media-manage-servers (dataChange)="onChangeManageServers($event)" [media]="selectedMedium">
        <ng-container mcsManageServerHeader>
          <h2>{{ 'mediaServers.attachServersHeader' | translate }}</h2>
        </ng-container>
      </mcs-media-manage-servers>

      <div class="action-items">
        <button mcsButton
          arrow="right" size="small"
          [disabled]="!manageServers?.valid"
          (click)="attachServer(selectedMedium)"
          mcsId
          mcsEventTracker="attach-server"
          mcsEventCategory="media"
          mcsEventLabel="media-details-page">
          {{ 'mediaServers.attachAction' | translate }}
        </button>
      </div>
    </div>
  </mcs-section>
</mcs-presentation-panel>