<mcs-page header="Gadgets">
  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>
    <section class="gadgets-container">

      <!-- Icons -->
      <div class="gadgets-container-item">
        <h3 class="title">ICONS</h3>
        <h5>GIF Icons</h5>
        <div class="all-icons">
          <mcs-icon *ngFor="let icon of gifIcons"
            size="large" [key]="icon"></mcs-icon>
        </div>

        <h5>SVG Icons</h5>
        <div class="all-icons">
          <mcs-icon *ngFor="let icon of svgIcons"
            size="large" [key]="icon"></mcs-icon>
        </div>

        <h5>FONT Icons</h5>
        <div class="all-icons">
          <mcs-icon *ngFor="let icon of fontIcons"
            size="large" [key]="icon"></mcs-icon>
        </div>
      </div>

      <!-- Wizard -->
      <div class="gadgets-container-item">
        <h3 class="title">WIZARD</h3>

        <mcs-wizard cancelText="Return" completedText="Done" [ngStyle]="{position: 'relative'}">
            <!-- Step 1  -->
            <mcs-wizard-step stepTitle="1. Name">
              <h3>Cutomer name details</h3>

              <form [formGroup]="fgTestWizard" mcsFormGroup>
                <label>First Name: </label>
                <mcs-form-field>
                  <input mcsInput placeholder="Enter your first name"
                    [formControl]="fcFirstName">
                </mcs-form-field>

                <label>Middle Name: </label>
                <mcs-form-field>
                  <input mcsInput placeholder="Enter your middle name"
                    [formControl]="fcMiddleName">
                </mcs-form-field>

                <label>Last Name: </label>
                <mcs-form-field>
                  <input mcsInput placeholder="Enter your last name"
                    [formControl]="fcLastName">
                </mcs-form-field>
              </form>
            </mcs-wizard-step>

            <!-- Step 2  -->
            <mcs-wizard-step stepTitle="2. Contact Details">
              <h3>Contact Information</h3>
              <form [formGroup]="fgWizardSecondForm">
                <label>Email Address: </label>
                <mcs-form-field>
                  <input mcsInput placeholder="Enter your email address"
                    [formControl]="fcEmailAddress">
                </mcs-form-field>

                <label>Contact Number: </label>
                <mcs-form-field>
                  <input mcsInput placeholder="Enter your contact number"
                    [formControl]="fcContactNo">
                </mcs-form-field>
              </form>
            </mcs-wizard-step>

            <!-- Step 3  -->
            <mcs-wizard-step stepTitle="3. Summary">
              <h3>Summary: </h3>

              <h5>Full Name: </h5>
              <span>{{ fcFirstName.value }}
                {{ fcMiddleName.value }}
                {{ fcLastName.value }}
              </span><br/><br/>

              <h5>Contacts: </h5>
              <span><b>       Mobile:</b> {{ fcEmailAddress.value }}</span><br/>
              <span><b>Email Address:</b> {{ fcContactNo.value }}</span>
            </mcs-wizard-step>
          </mcs-wizard>
      </div>

      <!-- Fonts -->
      <div class="gadgets-container-item">
        <h3 class="title">FONTS</h3>
        <h1>The quick brown fox jumps over the lazy dog. - H1</h1>
        <h2>The quick brown fox jumps over the lazy dog. - H2</h2>
        <h3>The quick brown fox jumps over the lazy dog. - H3</h3>
        <h4>The quick brown fox jumps over the lazy dog. - H4</h4>
        <a href="#">The quick brown fox jumps over the lazy dog.</a>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has <span>Sample Span</span> only five centuries, <a href="#">Sample Link</a> but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets <small>Sample Small</small>.Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>

      <!-- Popover -->
      <div class="row">
        <div class="col">
          <div class="gadgets-container-item">
            <h3 class="title">Popover Top and Bottom</h3>
            <div class="content">
              <small><em>Hover me to display dark Popover</em></small> <br/>
              <ng-template #tipContent> Hello guys <br/> this is just a sample tooltip</ng-template>
              <button mcsButton mcsPopover
                theme="dark" trigger="hover"
                maxWidth="200px" [content]="tipContent"
                placement="top" orientation="center">Dark</button><br/>

              <small><em>Hover me to display light Popover</em></small> <br/>
              <button mcsButton mcsPopover
                theme="light" trigger="hover"
                maxWidth="200px" [content]="tipContent"
                placement="bottom" orientation="center">Light</button><br/>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="gadgets-container-item">
            <ng-template #popoverSideContent>
              <mcs-form-field [ngStyle]="{width: '200px'}">
                <input mcsInput placeholder="Type to search...">
              </mcs-form-field>
            </ng-template>

            <h3 class="title">Popover Left and Right</h3>
            <div class="content">
              <small><em>Popover left placement and bottom orientation</em></small> <br/>
              <button mcsButton mcsPopover
                theme="dark" trigger="manual" maxWidth="300px" [content]="popoverSideContent"
                placement="left" orientation="bottom">LeftBottom</button><br/>

              <small><em>Popover right placement and top orientation</em></small> <br/>
              <button mcsButton mcsPopover
                theme="light" trigger="manual" maxWidth="300px" [content]="popoverSideContent"
                placement="right" orientation="top">RightTop</button><br/>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="gadgets-container-item">
            <ng-template #popoverContent>
              <mcs-form-field [ngStyle]="{width: '200px'}">
                <input mcsInput placeholder="Type to search...">
              </mcs-form-field><br/>
              <button mcsButton size="small" width="200">Search</button>
            </ng-template>

            <h3 class="title">Popover Top and Bottom</h3>
            <div class="content">
              <small><em>Popover top placement and left orientation</em></small> <br/>
              <button mcsButton mcsPopover
                theme="dark" trigger="manual" maxWidth="300px" [content]="popoverContent"
                placement="top" orientation="left">TopLeft</button><br/>

              <small><em>Popover bottom placement and right orientation</em></small> <br/>
              <button mcsButton mcsPopover
                theme="light" trigger="manual" maxWidth="300px"
                [content]="popoverContent"
                placement="bottom" orientation="right">BottomRight</button><br/>
            </div>
          </div>
        </div>
      </div>

      <!-- List Panel -->
      <div class="gadgets-container-item">
        <h3 class="title">LIST PANEL</h3>
        <mcs-search #listPanelSearch [delayInSeconds]="0" [style.width]="'300px'"></mcs-search>

        <mcs-list-panel [listSource]="listingSource"
          [selectedListItem]="listingSource?.selectedElement"
          [searchMode]="listingSource?.filterMode">

          <ng-container mcsListPanelDef>
            <!-- Header List Definition -->
            <mcs-list-panel-header *mcsListPanelHeaderDef="let propValue; propertyName: 'color';"
              [groupName]="propValue">
              <a >{{ propValue }}</a>
            </mcs-list-panel-header>

            <!-- Item List Definition -->
            <mcs-list-panel-item *mcsListPanelItemDef="let item"
              [itemId]="item.id" [groupName]="item.color">
              <mcs-icon key="add-blue"></mcs-icon>
              <a>{{ item.name }}</a>
            </mcs-list-panel-item>
          </ng-container>
        </mcs-list-panel>
      </div>

      <!-- Table -->
      <div class="gadgets-container-item">
        <h3 class="title">TABLE</h3>
        <div class="table-container">
          <mcs-search #search [style.width]="'300px'"></mcs-search>

          <mcs-table [dataSource]="dataSource">
            <ng-container mcsColumnDef="userId">
              <mcs-header-cell *mcsHeaderCellDef> ID </mcs-header-cell>
              <mcs-data-cell *mcsDataCellDef="let row"> {{row.id}} </mcs-data-cell>
            </ng-container>

            <ng-container mcsColumnDef="progress">
              <mcs-header-cell *mcsHeaderCellDef> Progress </mcs-header-cell>
              <mcs-data-cell *mcsDataCellDef="let row"> {{row.progress}}% </mcs-data-cell>
            </ng-container>

            <ng-container mcsColumnDef="userName">
              <mcs-header-cell *mcsHeaderCellDef class="hidden-xsmall"> Name </mcs-header-cell>
              <mcs-data-cell *mcsDataCellDef="let row"
                class="text-center hidden-xsmall"> {{row.name}} </mcs-data-cell>
            </ng-container>

            <ng-container mcsColumnDef="color">
              <mcs-header-cell *mcsHeaderCellDef> Color </mcs-header-cell>
              <mcs-data-cell *mcsDataCellDef="let row" [style.color]="row.color">
                {{row.color}}
              </mcs-data-cell>
            </ng-container>

            <mcs-header-row *mcsHeaderRowDef="displayedColumns"></mcs-header-row>
            <mcs-data-row *mcsDataRowDef="let row; columns: displayedColumns;"></mcs-data-row>
          </mcs-table>

          <mcs-paginator #paginator
            [totalCount]="gadgetsDatabase.data.length"
            [pageIndex]="0"
            [pageSize]="5">
          </mcs-paginator>
        </div>
      </div>

      <!-- Lightbox -->
      <div class="gadgets-container-item">
        <h3 class="title">LIGHTBOX</h3>
        <small><em>Lightbox with icon, title, subtitle</em></small> <br/>
        <button mcsButton [mcsModal]="modal1Content" #mcsModal1="mcsModal">
          Lightbox 1
        </button><br/>
        <ng-template #modal1Content>
          <div modal-title>
            <span>Lightbox 1</span>
          </div>
          <div modal-body>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              It has <span>Sample Span</span> only five centuries, <a href="#">Sample Link</a> but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the release of
              Letraset sheets <small>Sample Small</small>.Lorem Ipsum passages, and more recently with desktop publishing
              software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <button mcsButton (click)="mcsModal1.close()">Close</button>
            <button mcsButton (click)="mcsModal1.close()">Save changes</button>
          </div>
        </ng-template>

        <button mcsButton [mcsModal]="modal2Content">
          Lightbox 2
        </button><br/>
        <ng-template #modal2Content>
          <div modal-title>
            <span>Lightbox 2</span>
          </div>
          <div modal-body>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to maktypespecimen book.
              It has <span>Sample Span</span> only five centuries, <a href="#">SamLink</a>but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the releaseof
              Letraset sheets <small>Sample Small</small>.Lorem Ipsum passages, and morerecenwith desktop publishing
              software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
        </ng-template>

        <button mcsButton [mcsModal]="modal3Content" #mcsModal3="mcsModal">
          Lightbox 3
        </button><br/>
        <ng-template #modal3Content>
          <div modal-title>
            <span>Lightbox 3</span>
          </div>
          <div modal-subtitle>
            <span>This is the subtitle</span>
          </div>
          <div modal-body>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to maktypespecimen book.
              It has <span>Sample Span</span> only five centuries, <a href="#">SamLink</a>but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the releaseof
              Letraset sheets <small>Sample Small</small>.Lorem Ipsum passages, and morerecenwith desktop publishing
              software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to maktypespecimen book.
              It has <span>Sample Span</span> only five centuries, <a href="#">SamLink</a>but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the releaseof
              Letraset sheets <small>Sample Small</small>.Lorem Ipsum passages, and morerecenwith desktop publishing
              software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to maktypespecimen book.
              It has <span>Sample Span</span> only five centuries, <a href="#">SamLink</a>but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the releaseof
              Letraset sheets <small>Sample Small</small>.Lorem Ipsum passages, and morerecenwith desktop publishing
              software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to maktypespecimen book.
              It has <span>Sample Span</span> only five centuries, <a href="#">SamLink</a>but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the releaseof
              Letraset sheets <small>Sample Small</small>.Lorem Ipsum passages, and morerecenwith desktop publishing
              software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <button mcsButton (click)="mcsModal3.close()">Close</button>
            <button mcsButton (click)="mcsModal3.close()">Save changes</button>
          </div>
        </ng-template>
      </div>

      <!-- Filter Selector -->
      <div class="gadgets-container-item">
        <h3 class="title">FILTER SELECTOR</h3>
        <mcs-filter-selector key="columnMainFilter"
        (onGetFilters)="onGetFilterItems($event)"></mcs-filter-selector>
       <table class="mcs-table table">
         <thead class="head">
           <tr>
             <th *ngIf="filterItems['serverName'].value">{{ filterItems['serverName'].text }}</th>
             <th *ngIf="filterItems['networking'].value">{{ filterItems['networking'].text }}</th>
             <th *ngIf="filterItems['catalog'].value">{{ filterItems['catalog'].text }}</th>
             <th *ngIf="filterItems['others'].value">{{ filterItems['others'].text }}</th>
             <th *ngIf="filterItems['dashboard'].value">{{ filterItems['dashboard'].text }}</th>
           </tr>
         </thead>
       </table>
      </div>

      <!-- Progressbar -->
      <div class="gadgets-container-item">
        <h3 class="title">PROGRESSBAR</h3>
        <mcs-form-field [ngStyle]="{width: '200px'}">
          <input mcsInput placeholder="Type to search..."
            [(ngModel)]="progressValue"
            type="number">
        </mcs-form-field>
        <span>Update model value to move the progress bar</span>
        <mcs-progress-bar [(ngModel)]="progressValue" maxValue="100"></mcs-progress-bar>
      </div>

      <!-- Radio button group -->
      <div class="gadgets-container-item">
        <h3 class="title">RADIO BUTTON GROUP</h3>

        <span>Horizontal orientation</span>
        <mcs-radio-button-group [items]="getRadioButtonGroup()"
          [(ngModel)]="radioButtonHorizontal"
          orientation="horizontal"></mcs-radio-button-group><br/>
        <pre>Model value: {{ radioButtonHorizontal }}</pre>

        <span>Vertical orientation</span>
        <mcs-radio-button-group [items]="getRadioButtonGroup()"
          [(ngModel)]="radioButtonVertical"
          orientation="vertical"></mcs-radio-button-group><br/>
        <pre>Model value: {{ radioButtonVertical }}</pre>
      </div>

      <!-- Buttons -->
      <div class="gadgets-container-item">
        <h3 class="title">BUTTONS</h3>

        <div class="vertical-items-spacing-medium">
            <div>
              <button mcsButton color="white">Basic</button>
              <button mcsButton color="primary">Primary</button>
              <button mcsButton color="success">Success</button>
              <button mcsButton color="warning">Warning</button>
              <button mcsButton color="danger">Danger</button>
              <button mcsButton color="danger" disabled>disabled</button>
            </div>

            <div>
              <button mcsButton type="basic" color="white">Basic</button>
              <button mcsButton type="basic" color="primary">Primary</button>
              <button mcsButton type="basic" color="success">Success</button>
              <button mcsButton type="basic" color="warning">Warning</button>
              <button mcsButton type="basic" color="danger">Danger</button>
              <button mcsButton type="basic" disabled>disabled</button>
            </div>

            <div>
              <button mcsButton size="small" color="white">Basic</button>
              <button mcsButton size="small" color="primary">Primary</button>
              <button mcsButton size="small" color="success">Success</button>
              <button mcsButton size="small" color="warning">Warning</button>
              <button mcsButton size="small" color="danger">Danger</button>
              <button mcsButton size="small" disabled>disabled</button>
            </div>

            <div>
              <button mcsButton arrow="right" color="white">Basic</button>
              <button mcsButton arrow="right" color="primary">Primary</button>
              <button mcsButton arrow="right" color="success">Success</button>
              <button mcsButton arrow="right" color="warning">Warning</button>
              <button mcsButton arrow="right" color="danger">Danger</button>
              <button mcsButton arrow="right" disabled>disabled</button>
            </div>

            <div>
              <button mcsButton color="white">
                Basic
                <mcs-icon [key]="calendarIconKey" size="small"></mcs-icon>
              </button>
              <button mcsButton color="primary">
                Primary
                <mcs-icon [key]="calendarIconKey" size="small" color="white"></mcs-icon>
              </button>
              <button mcsButton color="success">
                Success
                <mcs-icon [key]="calendarIconKey" size="small" color="white"></mcs-icon>
              </button>
              <button mcsButton color="warning">
                Warning
                <mcs-icon [key]="calendarIconKey" size="small" color="white"></mcs-icon>
              </button>
              <button mcsButton color="danger">
                Danger
                <mcs-icon [key]="calendarIconKey" size="small" color="white"></mcs-icon>
              </button>
              <button mcsButton disabled>
                disabled
                <mcs-icon [key]="calendarIconKey" size="small" color="white"></mcs-icon>
              </button>
            </div>
          </div>
      </div>

      <!-- Slider -->
      <div class="gadgets-container-item">
        <h3 class="title">SLIDER</h3>

        <span class="title font-weight-bold">Storage :</span>
        <mcs-slider [step]="10"
          [(ngModel)]="sliderValue"></mcs-slider>
        <p class="text-sm-center font-weight-bold">{{ sliderValue }} GB</p>
      </div>

      <!-- Alerts -->
      <div class="gadgets-container-item">
        <h3 class="title">ALERTS</h3>

        <span class="title font-weight-bold">Alert Success</span>
        <mcs-alert type="success" title="All Done">
          <a href="#"> View your server.</a>
        </mcs-alert>

        <span class="title font-weight-bold">Alert Failed</span>
        <mcs-alert type="failed" title="Deploying Failed">
          <a href="#"> View your server.</a>
        </mcs-alert>

        <span class="title font-weight-bold">Alert Warning</span>
        <mcs-alert type="warning" title="Warning">
          <a href="#"> View your server.</a>
        </mcs-alert>

        <span class="title font-weight-bold">Alert Info</span>
        <mcs-alert type="info" title="Info">
          <a href="#"> View your server.</a>
        </mcs-alert>
      </div>

      <!-- Textbox -->
      <div class="gadgets-container-item">
        <h3 class="title">TEXTBOXES</h3>

        <form [ngStyle]="{width: '300px'}">
          <label for="textDefault"><strong>Default Textbox</strong></label> <br/>
            <mcs-form-field>
              <input mcsInput placeholder="Enter text here...">
            </mcs-form-field>
          <br/><br/>

          <label for="textIcon"><strong>Textbox w/ Icon</strong></label> <br/>
            <mcs-form-field>
              <input mcsInput placeholder="Type to filter...">
              <mcs-icon [key]="searchIconKey" size="small"></mcs-icon>
            </mcs-form-field>
          <br/><br/>

          <label for="textCustom"><strong>Textbox w/ Icon & Custom Width</strong></label> <br/>
            <mcs-form-field [ngStyle]="{width: '200px'}">
              <input mcsInput placeholder="Type to filter...">
              <mcs-icon [key]="searchIconKey" size="small"></mcs-icon>
            </mcs-form-field>
          <br/><br/>

          <label for="textModel"><strong>Textbox w/ Model Binding</strong></label> <br/>

            <mcs-form-field>
              <input mcsInput placeholder="Type to filter..."
                [formControl]="fcInputBinding">
            </mcs-form-field>
            <div class="textbox-content">
              Textbox Value : {{ fcInputBinding.value }}
            </div>
          <br/>
        </form>
      </div>

      <!-- Accordion -->
    <div class="gadgets-container-item">
      <h3 class="title">ACCORDION</h3>

      <div class="accordion-sample-wrapper">
        <mcs-accordion [ngStyle]="{width: '600px'}">
          <!-- Panel 1 -->
          <mcs-accordion-panel>
            <mcs-accordion-panel-header panel-header-def>
              <mcs-icon [key]="notificationBellSvgKey"></mcs-icon>
              <h4 [ngStyle]="{'margin': '0px', 'padding-left': '20px'}">Single Panel Expanded</h4>
            </mcs-accordion-panel-header>

            <span>Standard management network for this VDC.</span>
            <span>
              <b>Gateway:</b> 172.30.18.94/27
            </span>
          </mcs-accordion-panel>

          <!-- Panel 2 -->
          <mcs-accordion-panel [expanded]="true">
            <mcs-accordion-panel-header panel-header-def>
              <mcs-icon [key]="calendarIconKey"></mcs-icon>
              <h4 [ngStyle]="{'margin': '0px', 'padding-left': '20px'}">Customer_MGMT27124449</h4>
            </mcs-accordion-panel-header>

            <span>Standard management network for this VDC.</span>
            <span>
              <b>Gateway:</b> 172.30.18.95/27
            </span>
          </mcs-accordion-panel>
        </mcs-accordion>

        <mcs-accordion [multi]="true" [ngStyle]="{width: '600px'}">
          <!-- Panel 1 -->
          <mcs-accordion-panel [expanded]="true">
            <mcs-accordion-panel-header panel-header-def>
              <mcs-icon [key]="notificationBellSvgKey"></mcs-icon>
              <h4 [ngStyle]="{'margin': '0px', 'padding-left': '20px'}">Multiple Panel Expanded</h4>
            </mcs-accordion-panel-header>
            <span>Standard management network for this VDC.</span>
            <span>
              <b>Gateway:</b> 172.30.18.94/27
            </span>
          </mcs-accordion-panel>

          <!-- Panel 2 -->
          <mcs-accordion-panel [expanded]="true">
            <mcs-accordion-panel-header panel-header-def>
              <mcs-icon [key]="calendarIconKey"></mcs-icon>
              <h4 [ngStyle]="{'margin': '0px', 'padding-left': '20px'}">Customer_MGMT27124449</h4>
            </mcs-accordion-panel-header>
            <span>Standard management network for this VDC.</span>
            <span>
              <b>Gateway:</b> 172.30.18.95/27
            </span>
          </mcs-accordion-panel>
        </mcs-accordion>
      </div>

    </div>

      <!-- Select -->
      <div class="gadgets-container-item">
        <h3 class="title">SELECT</h3>

          <mcs-select [(ngModel)]="selectedValue" placeholder="Hello placeholder"
            [ngStyle]="{width: '300px'}">
            <mcs-select-group header="Group header">
              <mcs-select-item *ngFor="let food of foods" [value]="food.value">
                {{ food.viewValue }}
              </mcs-select-item>

              <mcs-select-item> Sub-group
                <mcs-select-group sub-group>
                  <mcs-select-item *ngFor="let food of foods" [value]="food.value">
                    {{ food.viewValue }}
                  </mcs-select-item>
                </mcs-select-group>
              </mcs-select-item>
            </mcs-select-group>

            <mcs-select-group header="Group header">
              <mcs-select-item *ngFor="let food of foods" [value]="food.value">
                {{ food.viewValue }}
              </mcs-select-item>
            </mcs-select-group>
          </mcs-select>
          <span>Selected value is : {{ selectedValue }}</span>
      </div>

      <!-- Form -->
      <div class="gadgets-container-item">
        <h3 class="title">FORMS</h3>

        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
           <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
         </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
             <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleTextarea">Example textarea</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
        </form>
      </div>
    </section>
  </mcs-content-panel>
</mcs-page>
