@import '../../../styles/shared/base';

// Fonts
$link-text-font: $base-font-bold;

.access-denied-page-container {
  margin: $space-xxlarge 0;
  text-align: center;

  .heading {
    margin-bottom: $space-xlarge;
  }

  .link-text {
    font-family: $link-text-font;
  }
}