@import "shared/index";

$list-item-min-height: 40px;
$list-item-border: 1px solid $border-color-dark;
$none: 0;

.dynamic-list-wrapper {
  display: block;
  width: 100%;
  @include border-radius($border-radius-small);

  .dynamic-list-content {

    .list-menu {
      padding: $space-small;
      padding-bottom: $none;
    }

    .list {
      .list-item {
        @include display-flex(row);
        @include align-items(center);
        @include border-radius($border-radius-small);
        border: $list-item-border;
        min-height: $list-item-min-height;
        margin-bottom: $space-xsmall;
        padding-right: $none;

        &:last-child {
          margin-bottom: $none;
        }

        &:hover{
         background-color: $hover-bg-color
        }

        &.content {
          padding-right: $space-xxlarge;
        }

        div.action-icons {
          @include display-flex(row);
          @include align-items(center);
          button{
            mcs-icon {
              padding: $none $space-xsmall;
            }
          }
        }
      }
    }
  }
}