<ng-container *ngIf="list$ | async as list">
  <div class="dynamic-list-content">
    <mcs-form-field [disabled]="isMaximum(list)">
      <input mcsInput type="text" #inputItemFc [placeholder]="placeholder" maxlength="140" (keyup.enter)="onEnterAddItem($event, inputItemFc.value, list)">
      <mcs-icon [key]="addIconKey" size="small" mcsCursor="pointer" (click)="addListItem(inputItemFc.value, list)"></mcs-icon>
    </mcs-form-field>

    <div class="list" margin-top-xsmall>
      <mcs-item
        orientation='separated'
        *ngFor="let listItem of list; index as i; first as first; last as last"
        class="list-item" padding-left-small>
        <div text-wrap class="content" text-break-word>{{listItem?.value}}</div>
        <div class="action-icons">
          <button mcsButton="icon" theme="light" padding="none">
            <mcs-icon #upcion
              [key]="moveUpKey"
              size="small"
              mcsCursor="pointer"
              [disabled]="first"
              (click)="moveUpListItem(i, list)"></mcs-icon>
          </button>
          <button mcsButton="icon" theme="light" padding="none">
            <mcs-icon
              [key]="moveDownKey"
              size="small"
              mcsCursor="pointer"
              [disabled]="last"
              (click)="moveDownListItem(i, list)"></mcs-icon>
          </button>
          <button mcsButton="icon" theme="light" padding="none">
              <mcs-icon
              [key]="removeIconKey"
              size="small"
              mcsCursor="pointer"
              (click)="removeListItem(listItem.id, list)"></mcs-icon>
          </button>
        </div>
      </mcs-item>
    </div>
  </div>
</ng-container>