<mcs-presentation-panel mcsId="bat-linked-services" *ngIf="selectedAggregationTarget$ | async as aggregationTarget">
  <ng-container mcsPresentationPanelHeader>
    <h2>{{ 'aggregationTarget.linkedServices.label' | translate }}</h2>
  </ng-container>
  <p>{{ 'aggregationTarget.linkedServices.description' | translate }}</p>

  <!-- Table -->
  <table mat-table [dataSource]="batLinkedServicesDatasource">
    <!-- Associated Server Column -->
    <ng-container matColumnDef="associatedServer">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'columnHeader.associatedServer' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" text-wrap>
        <ng-container *mcsAccessControl="['CloudVmAccess', 'DedicatedVmAccess']; else: plainServerLabelTemplate">
          <a *ngIf="(row.associatedServer?.name | mcsIsNotNullOrEmpty); else plainServerLabelTemplate"
            [mcsRouterLink]="[routeKeyEnum.ServerDetails, row.associatedServer?.id]"
            mcsStopPropagation
            mcsId="bat-associated-server"
            mcsEventTracker="bat-associated-server"
            mcsEventCategory="bat"
            mcsEventLabel="bat-linked-services">{{ row.associatedServer?.name }}</a>
        </ng-container>

        <ng-template #plainServerLabelTemplate>
          <span [mcsGreyedOut]="!(row.associatedServer?.name | mcsIsNotNullOrEmpty)">
            {{ linkedServicePropertyLabel(row.associatedServer?.name) }}
          </span>
        </ng-template>
      </td>
    </ng-container>

    <!-- Service Type Column -->
    <ng-container matColumnDef="serviceType">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.serviceType' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small>
        <span text-wrap>{{ row.serviceTypeLabel }}</span>
      </td>
    </ng-container>

    <!-- Service ID Column -->
    <ng-container matColumnDef="serviceId">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.serviceId' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small>
        <span text-wrap>{{ row.serviceId }}</span>
      </td>
    </ng-container>

    <!-- Daily Schedule Column -->
    <ng-container matColumnDef="dailySchedule">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.dailySchedule' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small>
        <span text-wrap [mcsGreyedOut]="!(row.dailySchedule | mcsIsNotNullOrEmpty)">{{ linkedServicePropertyLabel(row.dailySchedule) }}</span>
      </td>
    </ng-container>

    <!-- Data Status Integration -->
    <ng-container mcsDataStatusDef>
      <mcs-data-empty *mcsDataEmptyDef>
        <span>{{ 'aggregationTarget.linkedServices.noContent' | translate }} </span>
      </mcs-data-empty>
      <mcs-data-error *mcsDataErrorDef>
        <span>{{ 'aggregationTarget.linkedServices.errorContent' | translate }}</span>
      </mcs-data-error>
    </ng-container>

    <!-- Header and Data row -->
    <tr mat-header-row *matHeaderRowDef="batLinkedServicesDatasource?.dataColumns$ | async"></tr>
    <tr mat-row *matRowDef="let row; columns: batLinkedServicesDatasource?.dataColumns$ | async;"
      mcsCursor="pointer"
      [mcsTriggerCursorIf]="hasAccessToService(row) && row?.associatedServer?.id | mcsIsNotNullOrEmpty"
      (click)="navigateToAssociatedServer(row)"
      mcsId="bat-linked-service-row"
      mcsEventTracker="bat-linked-service-row"
      mcsEventCategory="bat"
      mcsEventLabel="bat-linked-services"></tr>
  </table>

  <!-- Table Statuses -->
  <mcs-item orientation="block">
    <div *ngIf="batLinkedServicesDatasource?.isInProgress$ | async" align="center">
      <mcs-loader size="medium"></mcs-loader>
    </div>
    <div *ngIf="batLinkedServicesDatasource?.hasNoRecords$ | async" text-center>
      <span>{{ 'aggregationTarget.linkedServices.noContent' | translate }} </span>
    </div>
    <div *ngIf="batLinkedServicesDatasource?.hasError$ | async" text-center>
      <div class="listing-status-wrapper">
        <span>{{ 'aggregationTarget.linkedServices.errorContent' | translate }}</span>
      </div>
    </div>
  </mcs-item>
</mcs-presentation-panel>