<!-- Switch trigger -->
<div class="switch-account-wrapper" scrollable="dark" scrollbarSize="small">
  <span>{{ textContent?.header }}</span>

  <!-- Account Details -->
  <div class="account-details-content">
    <!-- Default account -->
    <mcs-list header="Default">
      <mcs-list-item>
        <div class="account-action"
          (click)="selectAccount(defaultAccount)" cursor="pointer">

          <mcs-icon [key]="arrowUpBueIconKey" size="small"></mcs-icon>
          <span>{{ getTextFormat(defaultAccount) }}</span>
        </div>
      </mcs-list-item>
    </mcs-list>
  </div>

  <!-- Companies -->
  <div class="companies-panel-content">
    <!-- Recent companies -->
    <!-- TODO: not included in PH 1.0 -->
    <!-- <mcs-list header="Recently accessed company accounts">
      <mcs-list-item [ngStyle]="{position: 'relative'}" *ngIf="!companies">
        <div [mcsLoader]="recentCompaniesSubscription"></div>
      </mcs-list-item>
      <mcs-list-item *ngFor="let item of (companies | mcsRecentCompaniesMax); trackBy: trackByFn">
        <div class="labelled-icon account-action" (click)="selectAccount(item)" cursor="pointer">
          <mcs-icon color="white" [key]="userIconKey" size="small"></mcs-icon>
          <span>{{ getTextFormat(item) }}</span>
          <mcs-icon class="arrow-right" [key]="arrowRightBueIconKey" size="small"></mcs-icon>
        </div>
      </mcs-list-item>
    </mcs-list> -->

    <!-- Company list -->
    <div class="company-list-wrapper">
      <mcs-search #search></mcs-search>

      <mcs-list header="Company Accounts" class="company-list">
        <ng-container *mcsListHeader>
          <div read-only class="space-between-inline-items">
            <span>Company Accounts</span>
            <span *ngIf="dataStatus === dataStatusEnum.Success">
              {{ filteredRecordCount }}/{{ totalRecordCount }}
            </span>
          </div>
        </ng-container>

        <mcs-list-item *ngFor="let item of displayedCompanies; trackBy: trackByFn">
          <div class="account-action" (click)="selectAccount(item)" cursor="pointer"
            [mcsTooltip]="getStatusText(item.status)" mcsTooltipColor="light">

            <mcs-icon color="white" [key]="getUserIconKey(item.status)" size="small"></mcs-icon>
            <span>{{ getTextFormat(item) }}</span>
            <mcs-icon class="arrow-right" [key]="arrowRightBueIconKey" size="small"></mcs-icon>
          </div>
        </mcs-list-item>
      </mcs-list>

      <!-- Data obtainment status -->
      <div [ngSwitch]="dataStatus" display-flex align-items="center" justify-content="center">
        <div *ngSwitchCase="dataStatusEnum.InProgress">
          <mcs-icon [key]="spinnerIconKey" size="small"></mcs-icon>
        </div>
        <div *ngSwitchCase="dataStatusEnum.Empty">
          <span>{{ textContent.noCompanies }}</span>
        </div>
        <div *ngSwitchCase="dataStatusEnum.Error">
          <span>{{ textContent.errorMessage }}</span>
          <a (click)="retry()">{{ textContent.retry }}</a>
        </div>
      </div>

      <!-- Paginator that displays when data obtainment was success -->
      <mcs-paginator #paginator
        [totalCount]="totalRecordCount"
        [pageIndex]="0"
        [pageSize]="20">
      </mcs-paginator>
    </div>
  </div>
</div>
