<!-- Switch trigger -->
<mcs-section>
  <span>{{ 'switchAccount.header' | translate }}</span>

  <!-- Default account -->
  <mcs-list header="Default">
    <mcs-list-item mcsCursor="pointer"
      (click)="selectAccount(defaultAccount)"
      mcsId="select-account"
      mcsEventTracker="use-default-account"
      mcsEventCategory="navigation"
      mcsEventLabel="switch-account-panel">

      <mcs-item>
        <mcs-icon [key]="arrowUpBueIconKey" size="small"></mcs-icon>
        <a class="unstyled-link">{{ getTextFormat(defaultAccount) }}</a>
      </mcs-item>
    </mcs-list-item>
  </mcs-list>

  <!-- Company list search -->
  <mcs-search #search></mcs-search>

  <!-- Company listing -->
  <mcs-list>
    <ng-container *mcsListHeader>
      <mcs-item read-only full-width>
        <span mcsAlign="start">Companies</span>

        <ng-container *ngIf="dataSource?.totalCount$ | async as totalCount">
          <ng-container *ngIf="dataSource?.displayedCount$ | async as displayedCount">
            <span>{{ displayedCount }}/{{ totalCount }}</span>
          </ng-container>
        </ng-container>
      </mcs-item>
    </ng-container>

    <mcs-list-item *ngFor="let item of (dataSource?.dataRecords$ | async); trackBy: trackByFn"
      (click)="selectAccount(item)" mcsCursor="pointer"
      mcsId="switch-to-account"
      mcsEventTracker="switch-to-account"
      mcsEventCategory="navigation"
      mcsEventLabel="switch-account-panel"
      [mcsTooltip]="getStatusText(item.status)" mcsTooltipColor="light">

      <mcs-item full-width>
        <mcs-icon color="light" [key]="getUserIconKey(item.status)" size="small"></mcs-icon>
        <a class="unstyled-link">{{ getTextFormat(item) }}</a>
        <mcs-icon mcsAlign="end" [key]="arrowRightBueIconKey" size="small"></mcs-icon>
      </mcs-item>
    </mcs-list-item>
  </mcs-list>

  <!-- Table Statuses -->
  <mcs-item orientation="block">
    <div *ngIf="dataSource?.isInProgress$ | async" align="center">
      <mcs-loader size="medium"></mcs-loader>
    </div>
    <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
      <span>{{ 'switchAccount.noCompanies' | translate }}</span>
    </div>
    <div *ngIf="dataSource?.hasError$ | async" text-center>
      <div class="listing-status-wrapper">
        <span>{{ 'switchAccount.errorMessage' | translate }}</span>
        <a (click)="retryDatasource()"
          mcsId
          mcsEventTracker="retry-loading-account-list"
          mcsEventCategory="navigation"
          mcsEventLabel="switch-account-panel"> {{ 'switchAccount.retry' | translate }}</a>
      </div>
    </div>
  </mcs-item>

  <!-- Paginator that displays when data obtainment was success -->
  <mcs-paginator #paginator
    [totalCount]="dataSource?.totalCount$ | async">
  </mcs-paginator>
</mcs-section>
