<!-- Switch trigger -->
<div class="block-items-small">
  <span>{{ textContent?.header }}</span>

  <!-- Default account -->
  <mcs-list header="Default">
    <mcs-list-item class="inline-items-xsmall"
      (click)="selectAccount(defaultAccount)" cursor="pointer"
      mcsEventTracker="use-default-account"
      mcsEventCategory="navigation"
      mcsEventLabel="switch-account-panel">

      <mcs-icon [key]="arrowUpBueIconKey" size="small"></mcs-icon>
      <a class="unstyled-link">{{ getTextFormat(defaultAccount) }}</a>
    </mcs-list-item>
  </mcs-list>

  <!-- Company list -->
  <div class="block-items-medium">
    <mcs-search #search></mcs-search>

    <mcs-list class="company-list">
      <ng-container *mcsListHeader>
        <div read-only class="space-between-inline-items">
          <span>Company Accounts</span>
          <span *ngIf="dataStatus === dataStatusEnum.Success">
            {{ filteredRecordCount }}/{{ totalRecordsCount }}
          </span>
        </div>
      </ng-container>

      <mcs-list-item *ngFor="let item of displayedCompanies; trackBy: trackByFn"
        class="inline-items-xsmall"
        (click)="selectAccount(item)" cursor="pointer"
        mcsEventTracker="switch-to-account"
        mcsEventCategory="navigation"
        mcsEventLabel="switch-account-panel"
        [mcsTooltip]="getStatusText(item.status)" mcsTooltipColor="light">
        <mcs-icon color="white" [key]="getUserIconKey(item.status)" size="small"></mcs-icon>
        <a class="unstyled-link">{{ getTextFormat(item) }}</a>
        <mcs-icon class="right-align" [key]="arrowRightBueIconKey" size="small"></mcs-icon>
      </mcs-list-item>
    </mcs-list>

    <!-- Data obtainment status -->
    <ng-container *ngIf="dataStatus !== dataStatusEnum.Success">
      <div [ngSwitch]="dataStatus" display-flex align-items="center" justify-content="center">
        <div *ngSwitchCase="dataStatusEnum.InProgress">
          <mcs-icon [key]="spinnerIconKey" size="small"></mcs-icon>
        </div>
        <div *ngSwitchCase="dataStatusEnum.Empty">
          <span>{{ textContent.noCompanies }}</span>
        </div>
        <div *ngSwitchCase="dataStatusEnum.Error">
          <span>{{ textContent.errorMessage }}</span>
          <a (click)="retry()"
            mcsEventTracker="retry-loading-account-list"
            mcsEventCategory="navigation"
            mcsEventLabel="switch-account-panel"> {{ textContent.retry }}</a>
        </div>
      </div>
    </ng-container>

    <!-- Paginator that displays when data obtainment was success -->
    <mcs-paginator #paginator
      [hidden]="dataStatus !== dataStatusEnum.Success"
      [totalCount]="totalRecordsCount">
    </mcs-paginator>
  </div>
</div>
