@import "base";

$switch-account-bg-color: $color-black;
$switch-account-color: $dark-bg-text-color;

.switch-account-wrapper {
  @include display-flex(column);
  color: $switch-account-color;
  background-color: $switch-account-bg-color;
}