@import "../../../../styles/shared/base";

$switch-account-trigger-color: $color-primary-01;
$switch-account-mobile-max-height: 100%;
$switch-account-desktop-max-height: 350px;
$switch-account-content-min-height: 100px;

:host {
  @include display-flex(column);
  color: $color-grey-04;
  background-color: $color-black;
}

.switch-account-wrapper {
  @include display-flex(column);
  @include set-items-interval($space-large);
  overflow-y: auto;
  overflow-x: hidden;
  max-height: $switch-account-desktop-max-height;
  padding-right: $space-small;

  @include breakpoint(small) {
    max-height: $switch-account-mobile-max-height;
  }

  .account-details-content {
    @include flex(0 0 auto);
    @include display-flex(column);
    @include set-items-interval($space-medium);
  }

  .companies-panel-content {
    position: relative;
    @include flex(0 0 auto);
    @include display-flex(column);
    @include set-items-interval($space-medium);

    .account-action {
      &:hover {
        color: $color-primary-01;
      }

      .arrow-right {
        margin-left: auto;
        padding-left: $space-medium;
      }
    }

    .company-list-wrapper {
      position: relative;
      min-height: $switch-account-content-min-height;
      @include set-items-interval($space-medium);
    }
  }
}
