<section class="copy-self-managed-server-container">

  <div class="server-configuration-details">
    <mcs-dropdown name="Server Name"
      placeholder="mongo-db-prod"
      [(ngModel)]="serverNameValue" [dropdownData]="serverNameItems"
      [mcsContextualHelp]="contextualTextContent.serverName"></mcs-dropdown>

    <mcs-dropdown name="Virtual Application"
      placeholder="prod-vApp"
      [(ngModel)]="virtualApplicationValue"
      [dropdownData]="virtualApplicationItems"></mcs-dropdown>

    <mcs-dropdown name="Server Catalog"
      placeholder="centos-7"
      [(ngModel)]="serverCatalogValue"
      [dropdownData]="serverCatalogItems"></mcs-dropdown>
  </div>

  <div class="computer-details">
    <div class="computer-information">
      <mcs-server-performance-scale
        [memoryInMb]="memoryInMb" [cpuCount]="cpuCount"
        availableMemoryInMb="32768" availableCpuCount="8"
        (scaleChanged)="onScaleChanged($event)">
        <!--Performance scale contents on the left hand side (description)-->
        <div title>
          <span class="label">Compute Size: </span>
        </div>
      </mcs-server-performance-scale>
    </div>

    <div class="storage-information">
      <mcs-server-manage-storage
        [memoryInGb]="storageMemoryInGb" [remainingMemoryInGb]="storageAvailableMemoryInGb"
        [storageProfiles]="storageProfileItems" (storageChanged)="onStorageChanged($event)">
        <!--Server manage storage contents on the left hand side (description)-->
        <div title>
          <span class="label">Storage: </span>
        </div>
      </mcs-server-manage-storage>
    </div>
  </div>

  <div class="network-details">
    <span class="label"
      [mcsContextualHelp]="contextualTextContent.network">Network:</span>

    <mcs-dropdown name="Primary Network"
      placeholder="VLAN 1501 - MXLN27117001"
      [(ngModel)]="primaryNetworkValue"
      [dropdownData]="primaryNetworkItems"></mcs-dropdown>

    <div class="ip-address-details">
      <span class="label" >IP Address: </span>
      <!--TODO: Custom size should be seperate component-->
      <span class="custom-size float-right"><u>Enter custom IP address</u></span>

      <mcs-radio-button-group [items]="getIpAddressGroup()"
        [(ngModel)]="ipAddressValue"
        orientation="vertical"></mcs-radio-button-group>
    </div>
  </div>
</section>