<form [hidden]="!visible" [formGroup]="formGroupCopyServer">

  <div class="server-configuration-details">
    <div class="control-group">
      <mcs-dropdown name="Server Name"
        formControlName="formControlTargetServer"
        [dropdownData]="serverItems"
        [mcsContextualHelp]="contextualTextContent.serverName"></mcs-dropdown>
      <mcs-validation-message [control]="formControlTargetServer"></mcs-validation-message>
    </div>

    <div class="control-group">
      <mcs-dropdown name="vApp" formControlName="formControlVApp"
        [dropdownData]="vAppItems"></mcs-dropdown>
      <mcs-validation-message [control]="formControlVApp"></mcs-validation-message>
    </div>
  </div>

  <div class="computer-details">
    <div class="computer-information">
      <mcs-server-performance-scale
        [memoryMB]="memoryMB" [cpuCount]="cpuCount"
        [availableMemoryMB]="availableMemoryMB" [availableCpuCount]="availableCpuCount"
        (scaleChanged)="onScaleChanged($event)">
        <!--Performance scale contents on the left hand side (title and description)-->
        <div title>
          <span class="label">Compute Size: </span>
        </div>
      </mcs-server-performance-scale>
    </div>

    <div class="storage-information" *ngIf="storageItems">
      <mcs-server-manage-storage
        [memoryMB]="storageMemoryMB"
        [availableMemoryMB]="storageAvailableMemoryMB"
        [minimumMB]="storageMemoryMB"
        [storageProfileList]="storageItems"
        [storageSliderValues]="storageSliderValues"
        (storageChanged)="onStorageChanged($event)">
        <!--Server manage storage contents on the left hand side (title and description)-->
        <div title>
          <span class="label">Storage: </span>
        </div>
      </mcs-server-manage-storage>
    </div>
  </div>

  <div class="network-details">
    <span class="label">Network:</span>

    <div class="control-group">
      <mcs-dropdown name="Primary Network"
        formControlName="formControlNetwork"
        [dropdownData]="networkItems"
        [mcsContextualHelp]="contextualTextContent.network"></mcs-dropdown>
      <mcs-validation-message [control]="formControlNetwork"></mcs-validation-message>
    </div>

    <mcs-server-ip-address [gateway]="selectedNetwork.gateway"
      [subnetMask]="selectedNetwork.netmask"
      (ipAddressChanged)="onIpAddressChanged($event)">
      <!--Ip address contents on the left hand side (title and description)-->
      <div title>
        <span class="label">IP Address: </span>
      </div>
    </mcs-server-ip-address>
  </div>
</form>