<form [hidden]="!visible" [formGroup]="formGroupCopyServer">

  <div class="server-configuration-details">
    <div class="field">
      <mcs-select formControlName="formControlTargetServer">
        <mcs-select-item [value]="">Select Server</mcs-select-item>
        <mcs-select-group header="Servers">
          <mcs-select-item *ngFor="let server of serverItems" [value]="server.value">
            {{ server.text }}
          </mcs-select-item>
        </mcs-select-group>
      </mcs-select>
      <mcs-validation-message [control]="formControlTargetServer"></mcs-validation-message>
    </div>

    <div class="field">
      <mcs-select formControlName="formControlVApp">
        <mcs-select-item [value]="">Select VApp</mcs-select-item>
        <mcs-select-group header="Virtual Applications">
          <mcs-select-item *ngFor="let vApp of vAppItems" [value]="vApp.value">
            {{ vApp.text }}
          </mcs-select-item>
        </mcs-select-group>
      </mcs-select>
    </div>
  </div>

  <div class="computer-details">
    <div class="computer-information">
      <mcs-server-performance-scale
        [memoryMB]="memoryMB" [cpuCount]="cpuCount"
        [availableMemoryMB]="availableMemoryMB" [availableCpuCount]="availableCpuCount"
        (scaleChanged)="onScaleChanged($event)">
        <!--Performance scale contents on the left hand side (title and description)-->
        <div title>
          <span class="label">Compute Size: </span>
        </div>
      </mcs-server-performance-scale>
    </div>

    <div class="storage-information" *ngIf="storageItems">
      <mcs-server-manage-storage
        [minimumMB]="storageMemoryMB"
        [storageProfileList]="storageItems"
        (storageChanged)="onStorageChanged($event)">
        <!--Server manage storage contents on the left hand side (title and description)-->
        <div title>
          <span class="label">Storage: </span>
        </div>
      </mcs-server-manage-storage>
    </div>
  </div>

  <div class="network-details">
    <div class="field">
      <span class="label">Network</span>
      <mcs-select formControlName="formControlNetwork"
        [mcsContextualHelp]="contextualTextContent.network">
        <mcs-select-item [value]="">Select Network</mcs-select-item>
        <mcs-select-group header="Networks">
          <mcs-select-item *ngFor="let network of networkItems" [value]="network.value">
            {{ network.text }}
          </mcs-select-item>
        </mcs-select-group>
      </mcs-select>
      <mcs-validation-message [control]="formControlNetwork"></mcs-validation-message>
    </div>

    <div class="field">
      <mcs-server-ip-address [gateway]="selectedNetwork.gateway"
        [subnetMask]="selectedNetwork.netmask"
        (ipAddressChanged)="onIpAddressChanged($event)">
        <!--Ip address contents on the left hand side (title and description)-->
        <div title>
          <span class="label">IP Address: </span>
        </div>
      </mcs-server-ip-address>
    </div>
  </div>
</form>