@import "../../../styles/shared/base";

:host {
  display: block;
}

.modal-content {
  .modal-header {
    align-items: flex-start;
    padding: $space-xxlarge $space-xxlarge 0;
    border-bottom: none;

  i {
    @include font-size($icon-large-font-size);
    margin-right: 10px;
  }
}

.modal-subtitle{
  padding-right: $space-xxlarge;
  padding-left: $space-xxlarge;
  p {
    margin-bottom: 0;
  }
}

  .modal-body {
    padding: $space-small $space-xxlarge $space-xxlarge;
  }
}

// Vertical centering
.modal-dialog {
  min-height: calc(100vh - 60px);   // For vertical alignment of the modal dialog
  @include display-flex(column);
  justify-content: center;
  overflow: auto;
  @include breakpoint(small) {
    min-height: calc(100vh - 20px);
  }
}