<div #modalElement [@dialog] *ngIf="visible" class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div #modalIconElement>
        <!--Modal icon element content inserted here-->
      </div>
      <h3 #modalTitleElement class="modal-title">
        <!--Modal title element content inserted here-->
      </h3>
      <button type="button" class="close" (click)="onClickCloseButton($event)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div #modalSubtitleElement class="modal-subtitle">
      <!--Modal subtitle content inserted here-->
    </div>
    <div #modalBodyElement class="modal-body">
      <!--Modal body content inserted here-->
    </div>
  </div>
</div>
<mcs-modal-backdrop #modalBackdropElement></mcs-modal-backdrop>