<mat-form-field
  *ngIf="visible"
  appearance="outline"
  [hintLabel]="data.hint"
  [matBadge]="hasError ? '!' : ''"
  matBadgePosition="before"
  matBadgeColor="warn"
  matBadgeSize="small"
  [matTooltip]="hasError ? 'Failed to load options' : ''"
  matTooltipPosition="above">
  <mat-label [attr.for]="id" >{{ isLoading ? 'Loading...' : label }}</mat-label>

  <mat-select
    [id]="id"
    [required]="required"
    [disabled]="disabled"
    [(value)]="data.value"
    (selectionChange)="valueChange($event)">
    <mat-option *ngIf="!required">-- None --</mat-option>
    <mat-option *ngFor="let opt of data.options" [value]="opt.key">
      {{ opt.value }}
    </mat-option>
  </mat-select>

  <mat-spinner *ngIf="isLoading" class="spinner" diameter="20" matSuffix></mat-spinner>

  <button mat-icon-button matSuffix
    (click)="retrieveOptions()"
    *ngIf="hasError"
    matTooltip="Retry"
    matTooltipPosition="above">
    <mat-icon color="primary">refresh</mat-icon>
  </button>

</mat-form-field>
