<mcs-page [storageKey]="featureName"
  [defaultFilters]="defaultColumnFilters"
  [header]="'internet.header' | translate">

  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>

    <!-- Internet Ports Count -->
    <mcs-top-panel-item *mcsTopPanelItemDef>
      <div class="listing-action-wrapper">
        <ng-container *ngIf="dataSource?.isSorting$ | async; else totalCountTemplate">
          <div class="sorting-label">
            <span padding-right-small>{{ 'label.sorting' | translate }}</span><mcs-loader size="medium"></mcs-loader>
          </div>
        </ng-container>
        <ng-template #totalCountTemplate>
          <div class="total-record-count" *ngIf="dataSource?.totalCount$ | async as totalCount">
            <span>{{ totalCount | mcsPlural:
                    ('internet.dataSingular' | translate) :
                    ('internet.dataPlural' | translate) }}
            </span>
          </div>
        </ng-template>
      </div>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'internet.leftPanelHeader' | translate">
    <!-- Search -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <mcs-search *ngIf="!isMobile" #search mcsId="internet-desktop-search"></mcs-search>
    </mcs-left-panel-item>

    <!-- Column Filter -->
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="'internet.columnFilter' | translate" offset="medium">
      <mcs-column-selector #columnFilter
        [storageKey]="featureName"
        [defaultFilters]="defaultColumnFilters">
      </mcs-column-selector>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>

    <div class="listing-table-wrapper">

      <!-- Search -->
      <mcs-search *ngIf="isMobile" #search mcsId="internet-mobile-search"></mcs-search>

      <!-- Table -->
      <table mat-table [dataSource]="dataSource" matSort #sort="matSort">
         <!-- Service Column -->
         <ng-container matColumnDef="service">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="billingDescription" disableClear>
            {{ 'columnHeader.service' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <a [mcsRouterLink]="[routeKeyEnum.InternetDetails, row.id]"
              mcsId="select-internet"
              mcsEventTracker="navigate-to-internet-port"
              mcsEventCategory="internet"
              mcsEventLabel="internet-port-listing-page">
            </a>
            <span [innerHTML]="row.description | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Speed Column -->
        <ng-container matColumnDef="speed">
          <th mat-header-cell *matHeaderCellDef hidden-xsmall>
            {{ 'columnHeader.speed' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-xsmall>
            <ng-container *ngIf="row.portSpeedMbps">
            {{ row.portSpeedMbps }} {{ 'internet.speedUnit' | translate }}
            </ng-container>
            <ng-container *ngIf="!row.portSpeedMbps">
              <span [innerHTML]="row.portSpeedMbps | mcsDataLabel: 'Unknown'">
              </span>
            </ng-container>
          </td>
        </ng-container>

        <!-- Plan Column -->
        <ng-container matColumnDef="plan">
          <th mat-header-cell *matHeaderCellDef hidden-xsmall>
            {{ 'columnHeader.plan' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-xsmall>
            <span [innerHTML]="row.planLabel | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Zone Column -->
        <ng-container matColumnDef="zone">
          <th mat-header-cell *matHeaderCellDef hidden-xsmall mat-sort-header="availabilityZone" disableClear>
            {{ 'columnHeader.zone' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-xsmall>
            <span [innerHTML]="row.availabilityZoneLabel | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Service ID Column -->
        <ng-container matColumnDef="serviceId">
          <th mat-header-cell *matHeaderCellDef hidden-xsmall mat-sort-header="serviceId" disableClear>
            {{ 'columnHeader.serviceId' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-xsmall>
            <ng-container *ngIf="row.serviceId; else noServiceIdTemplate">
              <span>{{ row.serviceId }}</span>
            </ng-container>
            <ng-template #noServiceIdTemplate>
              <mcs-data-status-empty
                [mcsTooltip]="'label.ticketingOrderingUnavailable' | translate"
                [mcsTooltipShow]="!row.serviceId">
                {{ 'label.unknown' | translate }}
              </mcs-data-status-empty>
            </ng-template>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef hidden-small></th>
          <td mat-cell *matCellDef="let row" hidden-small text-center>
            <mcs-context-menu-link mcsStopPropagation
              [serviceId]="row.serviceId"
              [serviceChangeAvailable]="row.serviceChangeAvailable"
              [hasMenuButton]="true"
              [eventCategory]="'internet'"
              [eventLabel]="'internet-listing-page'">
            </mcs-context-menu-link>
          </td>
        </ng-container>

        <!-- Header and Data row -->
        <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async"
          [disabled]="dataSource?.isInProgress$ | async"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"
          mcsCursor="pointer"
          (click)="navigateToInternet(row)"
          mcsId="internet-row"
          mcsEventTracker="navigate-to-internet-row"
          mcsEventCategory="internet"
          mcsEventLabel="internet-listing-page">
        </tr>
      </table>

       <!-- Table Status -->
       <mcs-item orientation="block">
        <div *ngIf="dataSource?.isInProgress$ | async" align="center">
          <mcs-loader size="medium"></mcs-loader>
        </div>
        <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
          <span>{{ 'internet.noInternetPorts' | translate }}</span>
        </div>
        <div *ngIf="dataSource?.hasError$ | async" text-center>
          <div class="listing-status-wrapper">
            <span>{{ 'internet.errorMessage' | translate }}</span>
            <a (click)="retryDatasource()"
              mcsId
              mcsEventTracker="retry-internet-ports"
              mcsEventCategory="internet"
              mcsEventLabel="internet-ports-listing-page">{{ 'internet.retry' | translate }}</a>.
          </div>
        </div>
      </mcs-item>

      <!-- Paginator -->
      <mcs-paginator #paginator [totalCount]="dataSource?.totalCount$ | async">
      </mcs-paginator>
    </div>
  </mcs-content-panel>
</mcs-page>
