<mcs-page [header]="textContent.header">
  <mcs-left-panel *mcsLeftPanelDef="textContent.leftPanelHeader">
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="textContent.creationDetails" offset="small">
      <div class="inline-items-small">
        <span read-only>{{ textContent.serverHeader }}: </span>
        <span>{{ job?.description }}</span>
      </div>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <mcs-content-panel *mcsContentPanelDef>
    <mcs-data-status [dataStatusFactory]="dataStatusFactory">
      <mcs-data-status-success mcsDataSuccess>
        <div class="limited-view">
          <ng-container *ngIf="job">
            <mcs-provisioning-notifications [jobs]="[job]">
              <p mcsProvisioningText>{{ textContent.description }}</p>
            </mcs-provisioning-notifications>
          </ng-container>
        </div>
      </mcs-data-status-success>

      <mcs-data-status-in-progress mcsDataInProgress>
        <span>{{ textContent.loadingJob }}</span>
      </mcs-data-status-in-progress>

      <mcs-data-status-empty mcsDataEmpty>
        <span>{{ textContent.noJob }}</span>
      </mcs-data-status-empty>

      <mcs-data-status-error mcsDataError>
        <span>{{ textContent.errorGettingJob }}</span>
      </mcs-data-status-error>
    </mcs-data-status>
  </mcs-content-panel>
</mcs-page>