<mcs-grid *ngIf="selectedAzureManagementService$ | async as azureManagementService">
  <mcs-grid-row>
    <!-- Azure Management Service Properties -->
    <mcs-grid-column sizeSm="12" sizeLg="6">
      <mcs-presentation-panel mcsId="azure-management-service-properties">
        <ng-container mcsPresentationPanelHeader>
          <h2>{{ 'azureManagementService.overview.properties.title' | translate }}</h2>
        </ng-container>

        <mcs-item>
          <span>{{ 'azureManagementService.overview.properties.type' | translate }}:</span>
          <span [innerHTML]="azureManagementService.AzureManagementServiceType | mcsDataLabel"></span>
        </mcs-item>

        <mcs-item>
          <span>{{ 'azureManagementService.overview.properties.children' | translate }}:</span>
          <span [innerHTML]="azureManagementService.children | mcsDataLabel"></span>
        </mcs-item>

        <mcs-item>
          <span>{{ 'azureManagementService.overview.properties.serviceId' | translate }}:</span>
          <span [innerHTML]="azureManagementService.serviceId | mcsDataLabel"></span>
        </mcs-item>
      </mcs-presentation-panel>
    </mcs-grid-column>
  </mcs-grid-row>
</mcs-grid>
