<div class="mcs-user-panel">
  <aside class="notification">
    <a class="icon-link" mcsPopover #popoverInstance="mcsPopover"
      (onClose)="onCloseNotificationPanel()" maxWidth="350px" padding="none"
      placement="bottom" orientation="center" theme="light"
      [title]="notificationsTitle" [content]="notificationsContent">
      <i [ngClass]="bellIcon">
        <span *ngIf="notifications.length > 0">{{ notifications.length }}</span>
      </i>
    </a>

    <ng-template #notificationsTitle>
      <span class="mcs-notification-title">{{ notificationTextContent.title }}</span>
    </ng-template>

    <ng-template #notificationsContent>
      <div class="mcs-notification-content">
        <ul class="unstyled-list">
          <li class="no-notifications" *ngIf="notifications.length == 0 && !hasConnectionError">
            <span>{{ notificationTextContent.noRecord }}</span>
          </li>
          <li class="error-connection" *ngIf="hasConnectionError">
            <span>{{ notificationTextContent.connectionError }}</span>
          </li>
          <li *ngFor="let notification of (notifications | mcsNotificationMaxDisplay)">
            <mcs-notification-ui *ngIf="popoverInstance.componentRef"
              [attribute]="notification"></mcs-notification-ui>
          </li>
          <li class="view-all-notifications">
            <a class="icon-link" (click)="viewNotificationsPage()">
              {{ notificationTextContent.viewMore }}
            </a>
          </li>
        </ul>
      </div>
    </ng-template>
  </aside>
  <aside class="user-panel">
    <div class="dropdown d-inline-block link">
      <a class="dropdown-toggle" id="useroptions"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="user-icon" [ngClass]="userIcon"></i>
        <span class="hidden-small">Shaun Domingo</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="useroptions">
        <button class="dropdown-item">Account Settings</button>
        <button class="dropdown-item">Profile</button>
        <button class="dropdown-item">Logout</button>
      </div>
    </div>
    <small class="user-info">Macquarie Telecom Contoso</small>
  </aside>
  <aside class="exit">
    <i [ngClass]="caretRightIcon"></i>
  </aside>
</div>