<mat-form-field
  *ngIf="visible"
  appearance="outline"
  [matBadge]="hasError ? '!' : ''"
  matBadgePosition="before"
  matBadgeColor="warn"
  matBadgeSize="small"
  [matTooltip]="hasError ? 'Failed to load options' : ''"
  matTooltipPosition="above"
  [hintLabel]="config.hint">
  <mat-label [attr.for]="id" >{{ isLoading ? 'Loading...' : label }}</mat-label>
  <mat-select
    [mcsId]="id"
    [required]="required"
    [disabled]="disabled"
    [(value)]="config.value"
    (selectionChange)="valueChange($event)">
    <mat-option *ngIf="!required && !hasError">-- None --</mat-option>
    <mat-optgroup *ngFor="let group of config.options" [label]="group.name" [disabled]="group.disabled">
      <mat-option *ngFor="let opt of group.options"
        [disabled]="opt.disabled"
        [value]="opt.key">
          {{opt.value}}
          <span *ngIf="config.disableStretched && opt.disabled"> - {{opt.hint}}</span>
      </mat-option>
    </mat-optgroup>
  </mat-select>
  <mat-spinner *ngIf="isLoading" class="spinner" diameter="20" matSuffix></mat-spinner>
  <button mat-icon-button matSuffix
    (click)="retrieveOptions()"
    *ngIf="hasError"
    matTooltip="Retry"
    matTooltipPosition="above">
    <mat-icon color="primary">refresh</mat-icon>
  </button>
</mat-form-field>

<mat-error *ngIf="noVdcForServiceFound">
  {{ config.noVdcForServiceFallback }}
</mat-error>