<div [@expansionVertical]="showSubNavigation ? 'expanded' : 'collapsed'"
  class="box-shadow-bottom-small" full-width>
  <!-- Sub-navigation desktop mode -->
  <mcs-sub-navigation-desktop>
    <ng-container *ngTemplateOutlet="subNavigationItemsTemplate"></ng-container>
  </mcs-sub-navigation-desktop>

  <!-- Sub-navigation mobile mode -->
  <mcs-sub-navigation-mobile [routeCategory]="activeRouteCategory">
    <ng-container *ngTemplateOutlet="subNavigationItemsTemplate"></ng-container>
  </mcs-sub-navigation-mobile>
</div>

<!-- Router templates -->
<ng-template #subNavigationItemsTemplate>
  <div [ngSwitch]="activeRouteCategory" class="sub-navigation-content">
    <!-- Compute Category -->
    <ng-container *ngSwitchCase="routeCategoryEnum.Compute">
      <a [mcsRouterLink]="routeKeyEnum.Servers" mcsRouterLinkActive="active"
        class="sub-navigation-item unstyled-link"
        mcsId
        mcsEventTracker="navigate-to-servers"
        mcsEventCategory="navigation"
        mcsEventLabel="main-nav">
        {{ 'navigation.virtual' | translate }}
      </a>
      <a [mcsRouterLink]="routeKeyEnum.Media" mcsRouterLinkActive="active"
        *mcsAccessControl="['TemplateView','CatalogView']; feature: 'EnableMediaCatalog'"
        class="sub-navigation-item unstyled-link"
        mcsId
        mcsEventTracker="navigate-to-medias"
        mcsEventCategory="navigation"
        mcsEventLabel="sub-nav">
        {{ 'navigation.medias' | translate }}
      </a>
    </ng-container>

    <!-- Network Category -->
    <ng-container *ngSwitchCase="routeCategoryEnum.Network">
      <ng-container *mcsAccessControl="['FirewallConfigurationView']">
        <a [mcsRouterLink]="routeKeyEnum.Firewalls" mcsRouterLinkActive="active"
          class="sub-navigation-item unstyled-link"
          mcsId
          mcsEventTracker="navigate-to-firewalls"
          mcsEventCategory="navigation"
          mcsEventLabel="sub-nav">
          {{ 'navigation.firewalls' | translate }}
        </a>
      </ng-container>

      <ng-container *mcsAccessControl="['InternetView']; feature: 'EnableInternetPortView'">
        <a [mcsRouterLink]="routeKeyEnum.Internet" mcsRouterLinkActive="active"
          class="sub-navigation-item unstyled-link"
          mcsId
          mcsEventTracker="navigate-to-internet"
          mcsEventCategory="navigation"
          mcsEventLabel="sub-nav">
          {{ 'navigation.internet' | translate }}
        </a>
      </ng-container>
    </ng-container>

    <!-- Storage Category -->
    <ng-container *mcsAccessControl="[]; feature: 'EnableBatView'">
      <ng-container *ngSwitchCase="routeCategoryEnum.Storage">
          <a [mcsRouterLink]="routeKeyEnum.BackupAggregationTargets" mcsRouterLinkActive="active"
            class="sub-navigation-item unstyled-link"
            mcsId
            mcsEventTracker="navigate-to-backup-aggregation-targets"
            mcsEventCategory="navigation"
            mcsEventLabel="sub-nav">
            {{ 'navigation.backup' | translate }}
          </a>
      </ng-container>
    </ng-container>
  </div>
</ng-template>