<mat-grid-list cols="2" rowHeight="20px">
  <mat-grid-tile colspan="1" rowspan="1">
    <h4>Overall security score</h4>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <h4>Security score by category</h4>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile colspan="2" rowspan="2">
    <div class="score-panel overall">
      <div class="info">
        <mcs-icon key="small-document-new-black" color="light" size="large"></mcs-icon>
        <div class="label">
          <span class="score">
            <strong>
              622
            </strong>
            / 1316
          </span>
        </div>
      </div>
      <mat-progress-bar mode="determinate" value="30" style="height: 10px;"></mat-progress-bar>
    </div>
  </mat-grid-tile>

  <mat-grid-tile *ngFor="let number of [0,1,2,3]" colspan="1" rowspan="1">
    <div class="score-panel">
      <div class="info">
        <mcs-icon key="small-document-new-black" color="light" size="large"></mcs-icon>
        <div class="label">
          <span>Category name</span>
          <span class="score">
            <strong>
              622
            </strong>
            / 1316
          </span>
        </div>
      </div>

      <mat-progress-bar mode="determinate" value="30" style="height: 10px;"></mat-progress-bar>
    </div>
  </mat-grid-tile>
</mat-grid-list>