<div class="widget flat">
  <div class="security-compliance-wrapper" *ngIf="!hasError && !processing; else error">
    <div class="security-score">
      <h4>{{ 'reports.insights.techReview.securityCompliance.overAllSecurityScore' | translate }}</h4>
      <div *ngIf="empty; else secureScore">
        <mcs-status-message type="info">
          {{ 'reports.insights.techReview.empty' | translate }}
        </mcs-status-message>
      </div>
      <!-- Overall Security Score -->
      <ng-template #secureScore>
        <div class="score-panel overall">
          <div class="info">
            <mcs-icon key="small-lock-black" color="light" size="large"></mcs-icon>
            <div class="label">
              <span class="score">
                <strong>
                  {{ securityScore.currentScore }}
                </strong>
                / {{ securityScore.maxScore }}
              </span>
            </div>
          </div>
          <mat-progress-bar mode="determinate" value="{{ securityScorePercentage }}" style="height: 10px;"></mat-progress-bar>
          <div style="margin-top: 20px;">
            <a href="https://portal.azure.com/#blade/Microsoft_Azure_Security/SecurityMenuBlade/5" target="_blank">
              {{ 'reports.insights.techReview.securityCompliance.viewRecommendation' | translate }}
            </a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <ng-template #error>
    <mcs-report-widget-data-status type="info" [processing]="processing"
      [hasError]="hasError" (retry)="getSecurityScore()">
    </mcs-report-widget-data-status>
  </ng-template>

  <div class="security-compliance-wrapper" *ngIf="!hasErrorCompliance && !processingCompliance; else errorResourceCompliance">
    <div class="resource-compliance-wrapper">
      <div *ngIf="emptyCompliance; else resourceComplianceData">
        <h4>{{ 'reports.insights.techReview.securityCompliance.overAllResourceCompliance' | translate }}</h4>
        <mcs-status-message type="info">
          {{ 'reports.insights.techReview.empty' | translate }}
        </mcs-status-message>
      </div>
      <ng-template #resourceComplianceData>
        <!-- Overall Resource Compliance Score -->
        <div class="resource-compliance">
          <h4>
            {{ 'reports.insights.techReview.securityCompliance.overAllResourceCompliance' | translate }}
            <mcs-icon [key]="statusIconKey" size="xsmall" color="light"></mcs-icon>
          </h4>
          <div class="score-panel overall">
            <div class="info">
              <div class="label">
                <span class="score">
                  <strong>
                    {{ resourceCompliance.resourceCompliancePercentage }}%
                  </strong>
                </span>
              </div>
            </div>
            <mat-progress-bar mode="determinate" value="{{ resourceCompliancePercentage }}" style="height: 10px;"></mat-progress-bar>
            <div>
              <span class="total-compliance-resources">
                {{ resourceCompliance.compliantResources }} of {{ resourceCompliance.totalResources }}
              </span>
            </div>
          </div>
        </div>

        <!-- Resources by Compliance state -->
        <div class="resource-compliance-state" *ngIf="resources">
          <h4>
            {{ 'reports.insights.techReview.securityCompliance.complianceState' | translate }}
            <mcs-icon [key]="statusIconKey" size="xsmall" color="light"></mcs-icon>
          </h4>
          <div *ngIf="emptyComplianceState; else complianceStateChart">
            <mcs-status-message type="info">
              {{ 'reports.insights.techReview.empty' | translate }}
            </mcs-status-message>
          </div>
          <ng-template #complianceStateChart>
            <mcs-pie-chart
              [config]="chartConfig"
              [data]="resources">
            </mcs-pie-chart>
          </ng-template>
        </div>

        <!-- Non compliant initiatives -->
        <div class="resource-compliance-state">
          <h4>
            {{ 'reports.insights.techReview.securityCompliance.nonCompliantInitiatives' | translate }}
            <mcs-icon [key]="statusIconKey" size="xsmall" color="light"></mcs-icon>
          </h4>
          <div class="score-panel overall">
            <div>
              <span class="initial-compliant-label">
                  {{ resourceCompliance.nonCompliantInitiatives }}
              </span>
              <span class="total-compliant-label">
                out of {{ resourceCompliance.totalInitiatives }}
              </span>
            </div>
          </div>
        </div>

        <!-- Non compliant policies -->
        <div class="resource-compliance-state">
          <h4>
            {{ 'reports.insights.techReview.securityCompliance.nonCompliantPolicies' | translate }}
            <mcs-icon [key]="statusIconKey" size="xsmall" color="light"></mcs-icon>
          </h4>
          <div class="score-panel overall">
            <div>
              <span class="initial-compliant-label">
                  {{ resourceCompliance.nonCompliantPolicies }}
              </span>
              <span class="total-compliant-label">
                out of {{ resourceCompliance.totalPolicies }}
              </span>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <ng-template #errorResourceCompliance>
    <mcs-report-widget-data-status type="info" [processing]="processingCompliance"
      [hasError]="hasErrorCompliance" (retry)="getResourceCompliance()">
    </mcs-report-widget-data-status>
  </ng-template>
</div>