@import '../../../../styles/shared/base';

$custom-breakpoint: 820px;

.context-switch-wrapper {
  width: 100%;
  text-align: center;

  .standard-switch {
    margin-left: 40px;
    min-width: 215px;

    @include breakpoint($custom-breakpoint) {
      min-width: 100px;
    }

    .item-wrapper {
      display: inline-block;
      padding-bottom: 5px;

      &:not(:first-child) {
        margin-left: 30px;

        @include breakpoint($custom-breakpoint) {
          margin-left: 10px;
        }
      }

      a {
        text-decoration: none;
        color: $color-white;
        background-color: $color-black;
        @include font-size($font-size-large);
        font-family: $circular-pro-bold;

        @include breakpoint($custom-breakpoint) {
          @include font-size($font-size-default);
          font-family: $circular-pro-book;

          span {
            display: none;
          }
        }
        
        &:hover {
          text-decoration: none;
          color: $color-white;
        }
      }

      &.selected {
        border-bottom: 2px solid $color-primary-01;

        a {
          color: $color-primary-01;
        }

        &:hover {
          border-bottom: 2px solid $color-primary-01;
          cursor: default;
        }
      }

      &:hover {
        border-bottom: 2px solid $color-white;
        cursor: pointer;
      }
    }
  }

  .mobile-switch {
    .navigation-item {
      padding-left: 0;

      a {
        text-decoration: none;
        @include font-size($font-size-large);
        color: $color-white;
        background-color: $color-black;
        
        &.selected {
          color: $color-primary-01;
        }

        &:hover {
          text-decoration: none;
          background-color: $color-primary-01;
          color: $color-white;
        }
      }
    }
  }
}
