<div #mcsDropdown class="mcs-dropdown" (click)="toggleDropdown($event)">
  <mcs-textbox [name]="name" [icon]="iconClass" width="100%" borderColor="black"
    [(ngModel)]="selectedItem.value" [placeholder]="placeholder" readonly="true"></mcs-textbox>

  <div *ngIf="isOpen" class="dropdown-options">
    <ul class="option-group">
      <li *ngFor="let groupName of dropdownData.getGroupNames()">
        <span #mcsDropdownGroupName>{{ groupName }}</span>
        <ul class="option-item">
          <li *ngFor="let listItem of dropdownData.getGroup(groupName)"
            (click)="onClickItem(listItem)">
            {{ listItem.value }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
