<div #mcsDropdown class="mcs-dropdown" 
  [ngClass]="{'disabled': disabled}"
  (click)="toggleDropdown($event)">

  <div class="dropdown-value">
    <span>{{ selectedItem.value }}</span>
    <mcs-icon [key]="caretDownIconKey" size="small"></mcs-icon>
  </div>

  <div *ngIf="isOpen" class="dropdown-options">
    <ul class="option-group">
      <li *ngFor="let groupName of dropdownData.getGroupNames()">
        <span class="group-name" #mcsDropdownGroupName>{{ groupName }}</span>
        <ul class="option-item">
          <li *ngFor="let listItem of dropdownData.getGroup(groupName)"
            (click)="onClickItem(listItem)">
            <span class="item-value">{{ listItem.value }}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
