<mcs-page [header]="'orderServiceRaiseInview.title' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>

    <!-- Back to VDC Details -->
    <mcs-top-panel-item *mcsTopPanelItemDef no-border>
      <mcs-action-item mcsAlign="end"
        mcsNavigateBackward
        mcsId="navigate-back"
        mcsEventTracker="navigate-back-click"
        mcsEventCategory="orders"
        mcsEventLabel="navigate-back">
        <mcs-icon [key]="backIconKey" size="small"></mcs-icon>
        <span>{{'shared.wizard.previous' | translate}}</span>
      </mcs-action-item>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <mcs-content-panel *mcsContentPanelDef>

    <mcs-wizard (stepChange)="onWizardStepChanged($event)">

      <!-- Error message -->
      <ng-container mcsWizardErrorTemplate>
        <mcs-form-message #formMessage></mcs-form-message>
      </ng-container>

      <!-- Service Details Step-->
      <mcs-wizard-step id="service-details-step"
        [stepTitle]="'orderServiceRaiseInview.serviceDetails.stepTitle' | translate"
        customClass="contextual-help-page-wrapper limited-view">
        <form [formGroup]="fgServiceInviewDetails" mcsFormGroup>
          <!-- Contextual Catalog Link -->
          <ng-container *ngIf="orderItemType$ | async as orderItemType">
            <mcs-contextual-catalog-link
              [eventLabel]="'vdc-vm-instance-product-catalog-link'"
              [orderProductId]="orderItemType.productId">
            </mcs-contextual-catalog-link>
          </ng-container>

          <mcs-item-order-lead-time [orderItemType]="orderItemType$ | async"></mcs-item-order-lead-time>

          <p>{{ 'orderServiceRaiseInview.serviceDetails.service.label' | translate }}</p>
          <mcs-form-field *ngIf="(managedServers$ | async) | mcsIsNotNullOrEmpty">
            <mcs-select [formControl]="fcService" required autoSelect="false"
              (selectionChange)="onChangeService($event)"
              [placeholder]="'orderServiceRaiseInview.serviceDetails.service.placeholder' | translate"
              [mcsContextualHelp]="'orderServiceRaiseInview.serviceDetails.service.contextualHelp' | translate"
              mcsId="select-service">

              <ng-template #serversTemplate let-serversGroup let-title="serverTitle">
                <mcs-option-group>
                  <ng-container *mcsOptionGroupLabel>
                    <span>{{ title }}</span>
                  </ng-container>

                  <mcs-option-group  mcsId="server-option-group"
                    [label]="serverGroup.resourceName"
                    *ngFor="let serverGroup of serversGroup">

                    <mcs-option *ngFor="let server of serverGroup.servers" [value]="server"
                      [selected]="(selectedServiceId$ | async) === server.serviceId">
                      {{ server.name }} <span read-only>- {{ server.inviewLevelLabel }}</span>
                    </mcs-option>
                  </mcs-option-group>

                </mcs-option-group>
              </ng-template>

              <ng-container *ngTemplateOutlet="serversTemplate;
                context: { $implicit: (managedServers$ | async), serverTitle: 'Servers'}">
              </ng-container>

            </mcs-select>
          </mcs-form-field>
          <span read-only>{{ noServicesFallbackText | translate }}</span>

          <ng-container *ngIf="fcService?.value?.isProcessing; else contentTemplate">
            <p text-center>{{ 'orderServiceRaiseInview.serviceDetails.inview.inProcessing' | translate }}</p>
          </ng-container>
          <ng-template #contentTemplate>
            <p *ngIf="fcService?.value">{{ inviewLevelLabel(fcService?.value) }}</p>
            <div class="action-items">
              <button mcsButton arrow="right"
                mcsWizardStepNext
                (click)="onSubmitServiceInviewDetails(fcService?.value)"
                [disabled]="!formIsValid || !validOrderInviewLevel"
                mcsId="step-1-next"
                mcsEventTracker="step-1-next"
                mcsEventCategory="orders"
                mcsEventLabel="service-inview-raise">{{ 'shared.wizard.next' | translate }}</button>
            </div>
          </ng-template>
        </form>
      </mcs-wizard-step>

      <!-- Confirm Step  -->
      <mcs-wizard-step id="confirm-step"
        [stepTitle]="'shared.wizard.confirm' | translate"
        customClass="contextual-help-page-wrapper limited-view">
        <mcs-step-order-details [order]="order$ | async"
          [orderItemType]="orderItemType$ | async"
          [requestState]="dataStatus$ | async"
          [eventTrack]="orderEventTrack.billingDetailsStep"
          (dataChange)="onServiceInviewRaiseConfirmOrderChange($event)"
          (submitOrder)="onSubmitOrder($event, fcService?.value?.id)">
        </mcs-step-order-details>
      </mcs-wizard-step>

      <!-- Go! Step  -->
      <mcs-wizard-step id="go-step"
        [stepTitle]="'shared.wizard.completed' | translate"
        customClass="limited-view">
        <mcs-step-provisioning [jobs]="jobs$ | async" [requestState]="dataStatus$ | async">
          <ng-container mcsProvisioningStepDescription>
            {{ 'orderServiceRaiseInview.raise.description' | translate }}
          </ng-container>

          <ng-container mcsProvisioningStepInProgress>
            <span *ngIf="orderIsToBeSubmitted">{{ 'orderServiceRaiseInview.raise.dataInProgress' | translate }}</span>
            <span *ngIf="!orderIsToBeSubmitted">{{ 'provisioningStep.savingOrder' | translate }}</span>
          </ng-container>
        </mcs-step-provisioning>
      </mcs-wizard-step>
    </mcs-wizard>

  </mcs-content-panel>
</mcs-page>