<a mcsPopover #popoverActionElement="mcsPopover" padding="none"
  placement="bottom" orientation="left" theme="light"
  [content]="cogContent">
  <mcs-icon [key]="gearIconKey" size="large"></mcs-icon>
</a>

<ng-template #cogContent>
<div class="cog-container">
    <a (click)="onExecuteCommand('Start')"
      [attr.disabled]="getStartStatus()">
      Start
    </a>
    <a (click)="onExecuteCommand('Stop')"
      [attr.disabled]="getStopStatus()">
      Stop
    </a>
    <a (click)="onExecuteCommand('Restart')"
      [attr.disabled]="getRestartStatus()">
      Restart
    </a>
  </div>
</ng-template>