@import "../../../../../styles/shared/base";

// TODO: temporary set the font-size of gear to 25px
.fa-gear {
  @include font-size($icon-large-font-size);
}

.cog-container {
  @include display-flex(column);

  a {
    padding: 5px;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    &[disabled] {
      opacity: 0.4;
      -webkit-touch-callout: none;
      cursor: not-allowed;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
