<a mcsPopover #popoverActionElement="mcsPopover" padding="none"
  placement="bottom" orientation="left" theme="light"
  [content]="cogContent">
  <mcs-icon [key]="gearIconKey" size="medium"></mcs-icon>
</a>

<ng-template #cogContent>
  <div class="cog-container">
    <a *ngFor="let serverCommand of commandList"
      (click)="onExecuteCommand(serverCommand)"
      [disabled]="disableAction(serverCommand)"
      class="no-wrap with-hover-background">
      {{ getServerCommandLabel(serverCommand) }}
    </a>
  </div>
</ng-template>