<a mcsPopover #popoverActionElement="mcsPopover" padding="none" priority="low"
  placement="bottom" orientation="left" theme="light" [content]="cogContent">
  <mcs-icon [key]="gearIconKey" size="medium"></mcs-icon>
</a>

<ng-template #cogContent>
  <div class="cog-container">
    <ng-container *ngIf="getIncludedCommand(serverCommandEnum.Start)">
      <a (click)="onExecuteCommand(serverCommandEnum.Start)"
        [disabled]="!getEnabledCommand(serverCommandEnum.Start)"
        mcsEventTracker="start"
        mcsEventCategory="server"
        mcsEventLabel="server-command-tool">
        {{ textContent.start }}
      </a>
    </ng-container>

    <ng-container *ngIf="getIncludedCommand(serverCommandEnum.Stop)">
      <a (click)="onExecuteCommand(serverCommandEnum.Stop)"
        [disabled]="!getEnabledCommand(serverCommandEnum.Stop)"
        mcsEventTracker="stop"
        mcsEventCategory="server"
        mcsEventLabel="server-command-tool">
        {{ textContent.stop }}
      </a>
    </ng-container>

    <ng-container *ngIf="getIncludedCommand(serverCommandEnum.Restart)">
      <a (click)="onExecuteCommand(serverCommandEnum.Restart)"
        [disabled]="!getEnabledCommand(serverCommandEnum.Restart)"
        mcsEventTracker="restart"
        mcsEventCategory="server"
        mcsEventLabel="server-command-tool">
        {{ textContent.restart }}
      </a>
    </ng-container>

    <ng-container *ngIf="getIncludedCommand(serverCommandEnum.Suspend)">
      <a (click)="onExecuteCommand(serverCommandEnum.Suspend)"
        [disabled]="!getEnabledCommand(serverCommandEnum.Suspend)"
        mcsEventTracker="suspend"
        mcsEventCategory="server"
        mcsEventLabel="server-command-tool">
        {{ textContent.suspend }}
      </a>
    </ng-container>

    <ng-container *ngIf="getIncludedCommand(serverCommandEnum.Resume)">
      <a (click)="onExecuteCommand(serverCommandEnum.Resume)"
        [disabled]="!getEnabledCommand(serverCommandEnum.Resume)"
        mcsEventTracker="resume"
        mcsEventCategory="server"
        mcsEventLabel="server-command-tool">
        {{ textContent.resume }}
      </a>
    </ng-container>

    <!-- Remove temporarily -->
    <ng-container *mcsIsSelfManagedServer="server">
      <ng-container *ngIf="getIncludedCommand(serverCommandEnum.Scale)">
        <a (click)="onExecuteCommand(serverCommandEnum.Scale)"
          [disabled]="!getEnabledCommand(serverCommandEnum.Scale)"
          mcsEventTracker="scale"
          mcsEventCategory="server"
          mcsEventLabel="server-command-tool">
          {{ textContent.scale }}
        </a>
      </ng-container>
    </ng-container>

    <ng-container *mcsIsSelfManagedServer="server">
      <ng-container *ngIf="getIncludedCommand(serverCommandEnum.Clone)">
        <a (click)="onExecuteCommand(serverCommandEnum.Clone)"
          [disabled]="!getEnabledCommand(serverCommandEnum.Clone)"
          mcsEventTracker="clone"
          mcsEventCategory="server"
          mcsEventLabel="server-command-tool">
          {{ textContent.clone }}
        </a>
      </ng-container>
    </ng-container>

    <ng-container *mcsIsSelfManagedServer="server">
      <a (click)="onExecuteCommand(serverCommandEnum.Rename)"
        [disabled]="!getEnabledCommand(serverCommandEnum.Rename)"
        mcsEventTracker="rename"
        mcsEventCategory="server"
        mcsEventLabel="server-command-tool">
        {{ textContent.rename }}
      </a>
    </ng-container>

    <ng-container *ngIf="getIncludedCommand(serverCommandEnum.Delete)">
      <ng-container *mcsIsSelfManagedServer="server">
        <a (click)="onExecuteCommand(serverCommandEnum.Delete)"
          [disabled]="!getEnabledCommand(serverCommandEnum.Delete)"
          mcsEventTracker="delete"
          mcsEventCategory="server"
          mcsEventLabel="server-command-tool">
          {{ textContent.delete }}
        </a>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="getIncludedCommand(serverCommandEnum.ViewVCloud)">
      <a (click)="onExecuteCommand(serverCommandEnum.ViewVCloud)"
        [disabled]="!getEnabledCommand(serverCommandEnum.ViewVCloud)"
        mcsEventTracker="view-in-portal"
        mcsEventCategory="server"
        mcsEventLabel="server-command-tool">
        {{ textContent.viewVCloud }}
      </a>
    </ng-container>

    <ng-container *ngIf="getIncludedCommand(serverCommandEnum.ResetVmPassword)">
      <a (click)="onExecuteCommand(serverCommandEnum.ResetVmPassword)"
        [disabled]="!getEnabledCommand(serverCommandEnum.ResetVmPassword)"
        mcsEventTracker="reset-password"
        mcsEventCategory="server"
        mcsEventLabel="server-command-tool">
        {{ textContent.resetVmPassword }}
      </a>
    </ng-container>
  </div>
</ng-template>