<mat-form-field
  [hidden]="!hasMultipleBillingAccount"
  appearance="outline">
  <mat-label>{{ 'label.billingAccounts' | translate }}</mat-label>

  <mat-select multiple
    [formControl]="ngControl?.control"
    mcsTooltipPosition="bottom"
    [mcsTooltip]="'reports.billing.avdBillingAccountDropdownTooltip' | translate">

    <mat-option *ngFor="let billingAccount of (billingOptions$ | async)"
      [value]="billingAccount.value"
      [disabled]="isDisabled">
      {{ billingAccount.text }}
    </mat-option>
  </mat-select>
</mat-form-field>
