<mat-form-field
  [hidden]="!hasMultipleBillingAccount"
  appearance="outline" >
  <mat-label>{{ 'label.billingAccounts' | translate }}</mat-label>

  <mat-select multiple
    [formControl]="ngControl?.control"
    mcsTooltipPosition="bottom"
    [mcsTooltip]="'reports.billing.billingAccountDropdownTooltip' | translate">

    <mat-option *ngFor="let billingAccount of (billingAccounts$ | async)"
      [value]="billingAccount.value">
      {{ billingAccount.text }}
    </mat-option>
  </mat-select>
</mat-form-field>