@import "../../../styles/shared/base";

$loader-offset: $space-xsmall;

.loader-wrapper {
  background: $color-white;
  position: absolute;
  top: -$loader-offset;
  left: -$loader-offset;
  right: -$loader-offset;
  bottom: -$loader-offset;
  @include display-flex(row);
  align-items: center;
  justify-content: center;
  z-index: $zindex-loader;
}