<footer class="dark">
  <div class="footer-container">
    <div class="copyright">
      <span>&copy; {{ 'footer.copyright' | translate }}</span>
      <span>{{ currentDate.getFullYear() }}</span>
      <span>{{ 'footer.company' | translate }}</span>
    </div>
    <div class="links">
      <ul class="unstyled-list">
        <li>
          <a href="#">
            {{ 'footer.links.privacyPolicy' | translate }}
          </a>
        </li>
        <li>
          <a href="#">
            {{ 'footer.links.termsOfUse' | translate }}
          </a>
        </li>
        <li>
          <a href="#">
            {{ 'footer.links.serviceAgreement' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>