<footer class="dark">
  <div class="footer-container">
    <div class="copyright">
      <span>&copy; {{ footerTextContent.copyright }}</span>
      <span>{{ this.currentDate.getFullYear() }}</span>
      <span>{{ footerTextContent.company }}</span>
    </div>
    <div class="links">
      <ul class="unstyled-list">
        <li>
          <a href="#">
            {{ links.privacyPolicy }}
          </a>
        </li>
        <li>
          <a href="#">
            {{ links.termsOfUse }}
          </a>
        </li>
        <li>
          <a href="#">
            {{ links.serviceAgreement }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>