@import "../../../../styles/shared/base";

.monitoring-alerting-wrapper {
  .total-alerts-wrapper {
    margin-bottom: $space-large;

    .total-alerts {
      font-size: $space-xlarge;
      line-height: 1;
      color: $color-primary-00;
    }
  }
}