<section class="dashboard-container">
  <span>{{ title }}</span>

  <div class="row">
    <div class="col">

     <!--Radio Button Implementation-->
     <div class="dashboard-container-item">
       <span class="title">Radio Button Implementation Example</span>
       <div class="content">
         <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
           <label class="btn btn-primary">
             <input type="radio" [value]="1"> Left (pre-checked)
           </label>
           <label class="btn btn-primary">
            <input type="radio" value="middle"> Middle
           </label>
           <label class="btn btn-primary">
             <input type="radio" [value]="false"> Right
          </label>
         </div>
       </div>
     </div>

     <!--Status Notification Implementation-->
     <div class="dashboard-container-item">
       <span class="title">Status Notification Implementation Example</span>
       <div class="content">
         <button class="btn btn-success btn-sm" (click)="OnDisplayStatusBox()">Toggle Notification</button>
         <mcs-status-box [attribute]="statusBoxAttr"></mcs-status-box>
       </div>
     </div>

     <!--Dropdown Implementation-->
     <div class="dashboard-container-item">
       <span class="title">Dropdown Implementation Example</span>
       <div class="content">
         <div ngbDropdown class="d-inline-block">
           <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Toggle dropdown</button>
           <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
             <button class="dropdown-item">Action - 1</button>
             <button class="dropdown-item">Another Action</button>
             <button class="dropdown-item">Something else is here</button>
           </div>
         </div>
       </div>
     </div>

    <!--Date Picker Implementation-->
    <div class="dashboard-container-item">
      <span class="title">Date Picker Implementation Example</span>
      <div class="content">
        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
        <hr/>
        <button class="btn btn-sm btn-outline-primary" (click)="OnSelectToday()">Select Today</button>
        <button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo()">To current month</button>
        <button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>
        <hr/>
        <pre>Month: {{ date.month }}.{{ date.year }}</pre>
        <pre>Model: {{ model | json }}</pre>
      </div>
    </div>

    <!--Customizing ng-bootstrap components Implementation-->
    <div class="dashboard-container-item">
      <span class="title">Customizing ng-bootstrap components using directives Implementation Example</span>
      <div class="content">
        <button class="btn btn-primary" mcsFlat mcsRed>Custom Color</button>
      </div>
    </div>
  </div>

    <div class="col">
      <!--Forms Implementation-->
      <div class="dashboard-container-item">
        <span class="title">Forms Implementation Example</span>
        <div class="content">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
           <div class="form-group">
             <label for="exampleInputPassword1">Password</label>
             <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
           </div>
           <div class="form-group">
             <label for="exampleSelect1">Example select</label>
             <select class="form-control" id="exampleSelect1">
             <option>1</option>
             <option>2</option>
             <option>3</option>
             <option>4</option>
             <option>5</option>
           </select>
           </div>
           <div class="form-group">
             <label for="exampleSelect2">Example multiple select</label>
             <select multiple class="form-control" id="exampleSelect2">
             <option>1</option>
             <option>2</option>
             <option>3</option>
             <option>4</option>
             <option>5</option>
           </select>
         </div>
         <div class="form-group">
           <label for="exampleTextarea">Example textarea</label>
           <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
         </div>
         <div class="form-group">
           <label for="exampleInputFile">File input</label>
           <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
           <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
         </div>
         <fieldset class="form-group">
           <legend>Radio buttons</legend>
           <div class="form-check">
             <label class="form-check-label">
             <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
             Option one is this and that&mdash;be sure to include why it's great
           </label>
           </div>
           <div class="form-check">
             <label class="form-check-label">
             <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
             Option two can be something else and selecting it will deselect option one
           </label>
           </div>
           <div class="form-check disabled">
             <label class="form-check-label">
             <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
             Option three is disabled
           </label>
           </div>
         </fieldset>
         <div class="form-check">
           <label class="form-check-label">
           <input type="checkbox" class="form-check-input">
           Check me out
         </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
         </form>
       </div>
      </div>
    </div>
  </div>
</section>