@import "../../../styles/shared/base";

mcs-content-panel {
  background-color: rgb(235, 235, 235);
  @include print() {
    background-color: transparent;
  }
}
.report-wrapper {
  
  @include print() {
    width: 721px !important;
    max-width: 721px !important;
  }


  .widget-wrapper {
    max-width: 1863px;
    margin-left: auto;
    margin-right: auto;

    @include print() {
      mcs-grid-row, mcs-grid-column {
        display: block !important;
      }
      mcs-grid-column {
        width: 721px !important;
        max-width: 721px !important;
        margin-top: 0 !important;
      }
    }
  }

  h1 {
    color: $color-primary-01;

    @include print() {
      margin-top: $space-medium;
    }
  }

  .chart {
    width: 1100px;
    padding: 30px;

    @include print() {
      width: 1100px;
      padding: 0;
    }
    margin-bottom: 20px;
    background-color: $color-white;
  }
}
