@import "../../../styles/shared/base";

mcs-content-panel {
  background-color: rgb(235, 235, 235);
  @include print() {
    background-color: transparent;
  }
}
.report-wrapper {

  @include print() {
    width: 721px !important;
    max-width: 721px !important;
  }

  .options-container {
    @include display-flex(row);
    justify-content: space-between;
    margin-bottom: $space-large;
  }

  h1 {
    color: $color-scheme-primary;

    @include print() {
      margin-top: $space-medium;
    }
  }

  .content-wrapper {
    max-width: 1100px;
    width: 70vw;

    @include breakpoint(large) {
      width: 720px;
    }

    @include breakpoint(medium) {
      width: 100%;
    }

    .chart {
      padding: 30px;

      @include print() {
        width: 1100px;
        padding: 0;
      }

      margin-bottom: 20px;
      background-color: $color-white;
    }
  }

}
