@import "../../../styles/shared/base";

mcs-content-panel {
  background-color: rgb(235, 235, 235);
  @include print() {
    background-color: transparent;
  }
}
.report-wrapper {
  @include print() {
    width: 721px !important;
    max-width: 721px !important;
  }

  h1 {
    color: $color-scheme-primary;

    @include print() {
      margin-top: $space-medium;
    }
  }
}
