<mcs-presentation-panel>
  <ng-container mcsPresentationPanelHeader>
    <mcs-item orientation="separated" full-width>
      <h2>{{ 'serverServicesVmBackupDetails.title' | translate }}</h2>
      <ng-content select="[mcsViewServicesTab]"></ng-content>
    </mcs-item>
  </ng-container>
  <p>{{ 'serverServicesVmBackupDetails.description' | translate }}</p>
  <p *ngIf="retentionPeriod">{{ 'serverServicesVmBackupDetails.retentionLabel' | translate: {retention: retentionPeriod} }}</p>
  <p *ngIf="isInviewPremium">{{ 'serverServicesVmBackupDetails.inviewLabel' | translate }}</p>

  <!-- Table -->
  <table mat-table [dataSource]="vmBackupLogsDatasource">
    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'columnHeader.status' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" text-wrap>
        <mcs-item>
          <mcs-icon size="small"
            [key]="backupStatusTypeIconKey(row.status)"
            [mcsTooltip]="backupStatusToolTip(row.status)"
            [mcsTooltipShow]="backupStatusToolTip(row.status)">
          </mcs-icon>
          <span>{{backupStatusText(row.status)}}</span>
        </mcs-item>
      </td>
    </ng-container>

    <!-- Start Date Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.startDate' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small>
        <span text-wrap>{{ row.startedOn | mcsStdDateFormat }}</span>
      </td>
    </ng-container>

    <!-- End Date Column -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.endDate' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small>
        <span text-wrap>{{ row.finishedOn | mcsStdDateFormat }}</span>
      </td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.duration' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small>
        <span text-wrap>{{ row.durationInMinutes }}</span>
      </td>
    </ng-container>

    <!-- MB Modified Column -->
    <ng-container matColumnDef="mbModified">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.mbModified' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small text-center>
        <span text-wrap>{{ row.modifiedMB }}</span>
      </td>
    </ng-container>

    <!-- Data Protection Volume Column -->
    <ng-container matColumnDef="dataProtectionVolume">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.dataProtectionVolume' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small text-center>
        <span text-wrap>{{ row.dataProtectionVolumeGB }}</span>
      </td>
    </ng-container>

    <!-- Header and Data row -->
    <tr mat-header-row *matHeaderRowDef="vmBackupLogsDatasource?.dataColumns$ | async"></tr>
    <tr mat-row *matRowDef="let row; columns: vmBackupLogsDatasource?.dataColumns$ | async;"></tr>
  </table>

  <!-- Table Statuses -->
  <mcs-item orientation="block">
    <div *ngIf="vmBackupLogsDatasource?.isInProgress$ | async" align="center">
      <mcs-loader size="medium"></mcs-loader>
    </div>
    <div *ngIf="vmBackupLogsDatasource?.hasNoRecords$ | async" text-center>
      <span>{{ 'serverServicesVmBackupDetails.noContent' | translate }} </span>
    </div>
    <div *ngIf="vmBackupLogsDatasource?.hasError$ | async" text-center>
      <div class="listing-status-wrapper">
        <span>{{ 'serverServicesVmBackupDetails.errorContent' | translate }}</span>
      </div>
    </div>
  </mcs-item>
</mcs-presentation-panel>
