<ng-container *ngIf="selectedAggregationTarget$ | async as selectedAggregationTarget">

  <mcs-page [header]="selectedAggregationTarget.description">

    <!-- Left Panel -->
    <mcs-left-panel *mcsLeftPanelDef="'aggregationTarget.leftPanelHeader' | translate">
      <!-- listing panel -->
      <mcs-left-panel-item *mcsLeftPanelItemDef>
        <div class="listing-panel-wrapper">
          <mcs-search #search mcsId="aggregation-target-listing-panel-search"></mcs-search>
          <mcs-list-panel [dataSource]="listViewDatasource" [config]="listViewConfig?.panelSettings">
            <ng-container *mcsListPanelContent="let aggregationTarget">
              <a [mcsRouterLink]="[routeKeyEnum.BackupAggregationTargetsDetails, aggregationTarget.id]"
                mcsId="select-aggregation-target"
                mcsEventTracker="aggregation-targets-list-panel-item"
                mcsEventCategory="storage"
                mcsEventLabel="aggregation-target-detail-view-list-panel">
                <mcs-option [value]="aggregationTarget"
                  [selected]="selectedAggregationTarget.id === aggregationTarget.id">
                  <mcs-item>
                    <span>{{ aggregationTarget.description }}</span>
                  </mcs-item>
                </mcs-option>
              </a>
            </ng-container>
          </mcs-list-panel>
        </div>
      </mcs-left-panel-item>
    </mcs-left-panel>

    <mcs-content-panel *mcsContentPanelDef>
      <div class="routing-tab-wrapper">
        <mcs-tab-group [selectedTabId]="selectedTabId$ | async" (tabChanged)="onTabChanged($event)">
          <!-- Management Tab -->
          <mcs-tab [label]="'aggregationTarget.management.label' | translate" id="management">
          </mcs-tab>
        </mcs-tab-group>

        <!-- Tab content for routing tab -->
        <div class="routing-tab-content-wrapper limited-view">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mcs-content-panel>
  </mcs-page>

  <mcs-help-widget *mcsAccessControl="['TicketCreate']"
    [serviceId]="selectedAggregationTarget.serviceId"
    mcsEventTracker="aggregation-targets-help"
    mcsEventCategory="help"
    mcsEventLabel="help-panel">
  </mcs-help-widget>

</ng-container>