<a mcsStopPropagation mcsPopover #popoverActionElement="mcsPopover" padding="none"
  placement="bottom" orientation="left" theme="light" [content]="cogContent">
  <mcs-icon [key]="gearIconKey" size="large"></mcs-icon>
</a>

<ng-template #cogContent>
  <div class="cog-actions-wrapper">
    <a mcsButton="basic" color="white" labelPlacement="left"
      mcsId
      mcsEventTracker="attach"
      mcsEventCategory="media"
      mcsEventLabel="media-command-tool">
      {{ mediaCommandAttachText }}
    </a>

    <a mcsButton="basic" color="white" labelPlacement="left"
      mcsId
      mcsEventTracker="delete"
      mcsEventCategory="media"
      mcsEventLabel="media-command-tool">
      {{ mediaCommandDeleteText }}
    </a>

    <a mcsButton="basic" color="white" labelPlacement="left"
      mcsId
      mcsEventTracker="rename"
      mcsEventCategory="media"
      mcsEventLabel="media-command-tool">
      {{ mediaCommandRenameText }}
    </a>
  </div>
</ng-template>