<mcs-page header="Scale Managed Server">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>

    <!-- Back to Server Details -->
    <mcs-top-panel-item *mcsTopPanelItemDef no-border>
      <mcs-action-item mcsAlign="end"
        mcsNavigateBackward
        mcsId="navigate-back"
        mcsEventTracker="navigate-back-click"
        mcsEventCategory="orders"
        mcsEventLabel="navigate-back">
        <mcs-icon [key]="backIconKey" size="small"></mcs-icon>
        <span>{{'shared.wizard.previous' | translate}}</span>
      </mcs-action-item>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <mcs-content-panel *mcsContentPanelDef>

    <mcs-wizard (stepChange)="onWizardStepChanged($event)">

      <!-- Error message -->
      <ng-container mcsWizardErrorTemplate>
        <mcs-form-message #formMessage></mcs-form-message>
      </ng-container>

      <!-- Server Details Step-->
      <mcs-wizard-step id="server-details-step"
        [stepTitle]="'orderServerManagedScale.vmDetails.stepTitle' | translate"
        customClass="contextual-help-page-wrapper limited-view">
        <form [formGroup]="fgServerManagedScaleDetails" mcsFormGroup>
          <p>{{ 'orderServerManagedScale.vm.label' | translate }}</p>
          <mcs-form-field>
            <mcs-select [placeholder]="'orderServerManagedScale.vm.placeholder' | translate"
              required mcsId="select-server"
              [formControl]="fcManageServer"
              (selectionChange)="onChangeServer($event)"
              [mcsContextualHelp]="'orderServerManagedScale.vm.contextualHelp' | translate">

              <mcs-option-group>
                <ng-container *mcsOptionGroupHeader>
                  <span>{{ 'orderServerManagedScale.vm.optionGroupLabel' | translate }}</span>
                </ng-container>
                <ng-container *ngIf="resources$ | async as resources">
                  <mcs-option-group [label]="iterator.key" *ngFor="let iterator of resources | mcsMapIterable">
                    <mcs-option *ngFor="let server of iterator.value" [value]="server">
                      {{ server.name }}
                    </mcs-option>
                  </mcs-option-group>
                </ng-container>
              </mcs-option-group>
            </mcs-select>
          </mcs-form-field>

          <ng-container *ngIf="fcManageServer?.value?.isProcessing; else contentTemplate">
            <p text-center>{{ 'orderServerManagedScale.vmDetails.inProcessing' | translate }}</p>
          </ng-container>
          <ng-template #contentTemplate>
            <div class="action-box" *mcsComponentHandler>
              <mcs-server-manage-scale #fgManageScale
                [osType]="fcManageServer?.value?.operatingSystem?.type"
                [resource]="resource$ | async"
                [serverCompute]="fcManageServer?.value?.compute"
                [minimumCpu]="minimumCpu"
                [minimumMemoryGB]="minimumMemoryGB"
                [mcsContextualHelp]="'orderServerManagedScale.vmDetails.contextualHelp' | translate"
                (dataChange)="onScaleChanged($event, fcManageServer?.value)">

                <ng-container mcsManageScaleHeader>
                  <h2>{{ 'orderServerManagedScale.vmDetails.label' | translate }}</h2>
                </ng-container>
              </mcs-server-manage-scale>
              <mcs-data-status-warning *ngIf="fcManageServer?.value?.isPoweredOn">
                <span>{{ 'orderServerManagedScale.vmDetails.warning' | translate }}</span>
              </mcs-data-status-warning>
            </div>

            <div class="action-items">
              <button mcsButton arrow="right"
                mcsWizardStepNext
                (click)="onSubmitScaleDetails()"
                [disabled]="!formIsValid"
                mcsId="step-1-next"
                mcsEventTracker="step-1-next"
                mcsEventCategory="orders"
                mcsEventLabel="scale-managed-server">{{ 'shared.wizard.next' | translate }}</button>
            </div>
          </ng-template>
        </form>

      </mcs-wizard-step>

      <!-- Confirm Step  -->
      <mcs-wizard-step id="confirm-step"
        [stepTitle]="'orderServerManagedScale.confirm.stepTitle' | translate"
        customClass="contextual-help-page-wrapper limited-view">

        <mcs-step-order-details [order]="order$ | async"
          [orderItemType]="orderItemType$ | async"
          [requestState]="dataStatus$ | async"
          (dataChange)="onServerConfirmOrderChange($event)"
          (submitOrder)="onSubmitOrder($event, fcManageServer?.value?.id)">
        </mcs-step-order-details>
      </mcs-wizard-step>

      <!-- Go! Step  -->
      <mcs-wizard-step id="go-step"
        stepTitle="Go!"
        customClass="limited-view">
        <mcs-step-provisioning [jobs]="jobs$ | async" [requestState]="dataStatus$ | async">
          <ng-container mcsProvisioningStepDescription>
            {{ 'orderServerManagedScale.scaling.description' | translate }}
          </ng-container>

          <ng-container mcsProvisioningStepInProgress>
            {{ 'orderServerManagedScale.scaling.dataInProgress' | translate}}
          </ng-container>
        </mcs-step-provisioning>
      </mcs-wizard-step>
    </mcs-wizard>

  </mcs-content-panel>
</mcs-page>