<form [formGroup]="form">
  <mat-slide-toggle
    *ngIf="hasMoreFields && !hideMoreFieldsToggle"
    (change)="setFieldVisiblity($event.checked)"
    color="primary">
    Show More Options
  </mat-slide-toggle>

  <div *ngIf="hasFields" [class.contextual-help-page-wrapper]="hasContextualHelp"
    [class.dynamic-form]="hasContextualHelp">
    <div *ngFor="let input of config" class="form-row" [mcsContextualHelp]="input.contextualHelp">
      <div  [ngSwitch]="input.template">
        <mat-error *ngIf="!isValidField(input.key)">
          {{ getErrorMessage(input.key) }}
        </mat-error>

        <mcs-dff-input-text-field *ngSwitchCase="'input-text'"
          #control [formControlName]="input.key" [config] ="input" (dataChange)="onDataChange($event)">
        </mcs-dff-input-text-field>

        <mcs-dff-input-hidden-field *ngSwitchCase="'input-hidden'"
          #control [formControlName]="input.key" [config] ="input" (dataChange)="onDataChange($event)">
        </mcs-dff-input-hidden-field>

        <mcs-dff-input-ip-field *ngSwitchCase="'input-ip'"
          #control [formControlName]="input.key" [config] ="input" (dataChange)="onDataChange($event)">
        </mcs-dff-input-ip-field>

        <mcs-dff-input-number-field *ngSwitchCase="'input-number'"
          #control [formControlName]="input.key" [config] ="input" (dataChange)="onDataChange($event)">
        </mcs-dff-input-number-field>

        <mcs-dff-input-password-field *ngSwitchCase="'input-password'"
          #control [formControlName]="input.key" [config] ="input" (dataChange)="onDataChange($event)">
        </mcs-dff-input-password-field>

        <mcs-dff-input-random-field *ngSwitchCase="'input-random'"
          #control [formControlName]="input.key" [config] ="input" (dataChange)="onDataChange($event)">
        </mcs-dff-input-random-field>

        <mcs-dff-select-chips-field *ngSwitchCase="'select-chips'"
          #control [formControlName]="input.key" [config] ="input" (dataChange)="onDataChange($event)">
        </mcs-dff-select-chips-field>

        <mcs-dff-select-chips-vm-field *ngSwitchCase="'select-chips-vm'"
          #control [formControlName]="input.key" [config] ="input" (dataChange)="onDataChange($event)">
        </mcs-dff-select-chips-vm-field>

        <mcs-dff-select-field *ngSwitchCase="'select'"
          #control [formControlName]="input.key" [config] ="input" (dataChange)="onDataChange($event)">
        </mcs-dff-select-field>

        <mcs-dff-select-group-field *ngSwitchCase="'select-group'"
          #control [formControlName]="input.key" [config] ="input" (dataChange)="onDataChange($event)">
        </mcs-dff-select-group-field>

        <mcs-dff-select-multiple-field *ngSwitchCase="'select-multiple'"
          #control [formControlName]="input.key" [config] ="input" (dataChange)="onDataChange($event)">
        </mcs-dff-select-multiple-field>

        <mcs-dff-select-network-field *ngSwitchCase="'select-network'"
          #control [formControlName]="input.key" [config] ="input" (dataChange)="onDataChange($event)">
        </mcs-dff-select-network-field>

        <mcs-dff-select-os-field *ngSwitchCase="'select-os'"
          #control [formControlName]="input.key" [config] ="input" (dataChange)="onDataChange($event)">
        </mcs-dff-select-os-field>

        <mcs-dff-select-storage-profile-field *ngSwitchCase="'select-storage-profile'"
          #control [formControlName]="input.key" [config] ="input" (dataChange)="onDataChange($event)">
        </mcs-dff-select-storage-profile-field>

        <mcs-dff-select-vdc-field *ngSwitchCase="'select-vdc'"
          #control [formControlName]="input.key" [config] ="input" (dataChange)="onDataChange($event)">
        </mcs-dff-select-vdc-field>

        <mcs-dff-select-vm-field *ngSwitchCase="'select-vm'"
          #control [formControlName]="input.key" [config] ="input" (dataChange)="onDataChange($event)">
        </mcs-dff-select-vm-field>

        <mcs-dff-slide-toggle-field *ngSwitchCase="'slide-toggle'"
          #control [formControlName]="input.key" [config] ="input" (dataChange)="onDataChange($event)">
        </mcs-dff-slide-toggle-field>
      </div>
    </div>
  </div>

  <div *ngIf="!hasFields">
    This form has no changeable fields.
  </div>
</form>
