<ng-template #formTemplate let-viewmodel>
  <form [formGroup]="viewmodel.fgDnsZone">
    <mcs-grid>
      <mcs-grid-row>
        <!-- Host -->
        <mcs-grid-column sizeWd="6" sizeMd="12" *ngIf="viewmodel.fcHostName?.enabled">
          <mcs-field-input
            size="full"
            [label]="'label.name' | translate"
            [formControl]="viewmodel.fcHostName">
          </mcs-field-input>
        </mcs-grid-column>

        <!-- TTL -->
        <mcs-grid-column sizeWd="6" sizeMd="12" *ngIf="viewmodel.fcTtlSeconds?.enabled">
          <mcs-field-input
            size="full"
            [label]="'label.ttlSeconds' | translate"
            [interpolations]="{ min_value: viewmodel.ttlMinValue, max_value: viewmodel.ttlMaxValue }"
            [formControl]="viewmodel.fcTtlSeconds">
          </mcs-field-input>
        </mcs-grid-column>

        <!-- Zone Type -->
        <mcs-grid-column sizeWd="6" sizeMd="12" *ngIf="viewmodel.targetForCreate">
          <mcs-field-select-dns-zone-type
            size="full"
            [label]="'label.recordType' | translate"
            [formControl]="viewmodel.fcZoneType">
          </mcs-field-select-dns-zone-type>
        </mcs-grid-column>

        <!-- Data -->
        <mcs-grid-column sizeWd="6" sizeMd="12" *ngIf="viewmodel.fcData?.enabled">
          <mcs-field-input *ngIf="!viewmodel.dataFieldIsArray; else dataFieldArrayTemplate"
            size="full"
            [label]="'label.data' | translate"
            [formControl]="viewmodel.fcData">
          </mcs-field-input>

          <!-- TODO(apascual): Improve this dynamic list and move to mcs-field-input -->
          <ng-template #dataFieldArrayTemplate>
            <mcs-form-field class="dynamic-list" [ngStyle]="{'margin-top': '8px'}">
              <mcs-dynamic-list
                [placeholder]="'label.data' | translate"
                [required]="true"
                [formControl]="viewmodel.fcData">
              </mcs-dynamic-list>

              <mcs-error mcsError errorState="required">
                {{ 'message.dataFieldRequired' | translate }}
              </mcs-error>
            </mcs-form-field>
          </ng-template>
        </mcs-grid-column>

        <!-- Priority -->
        <mcs-grid-column sizeWd="6" sizeMd="12" *ngIf="viewmodel.fcPriority?.enabled">
          <mcs-field-input
            size="full"
            [label]="'label.priority' | translate"
            [interpolations]="{ min_value: viewmodel.intMinValue, max_value: viewmodel.intMaxValue }"
            [formControl]="viewmodel.fcPriority">
          </mcs-field-input>
        </mcs-grid-column>

        <!-- Service -->
        <mcs-grid-column sizeWd="6" sizeMd="12" *ngIf="viewmodel.fcService?.enabled">
          <mcs-field-input
            size="full"
            [label]="'label.service' | translate"
            [interpolations]="{ max_length: viewmodel.serviceMaxLength }"
            [formControl]="viewmodel.fcService">
          </mcs-field-input>
        </mcs-grid-column>

        <!-- Protocol -->
        <mcs-grid-column sizeWd="6" sizeMd="12" *ngIf="viewmodel.fcProtocol?.enabled">
          <mcs-field-input
            size="full"
            [label]="'label.protocol' | translate"
            [interpolations]="{ max_length: viewmodel.protocolMaxLength }"
            [formControl]="viewmodel.fcProtocol">
          </mcs-field-input>
        </mcs-grid-column>

        <!-- Target -->
        <mcs-grid-column sizeWd="6" sizeMd="12" *ngIf="viewmodel.fcTarget?.enabled">
          <mcs-field-input
            size="full"
            [label]="'label.target' | translate"
            [formControl]="viewmodel.fcTarget">
          </mcs-field-input>
        </mcs-grid-column>

        <!-- Weight -->
        <mcs-grid-column sizeWd="6" sizeMd="12" *ngIf="viewmodel.fcWeight?.enabled">
          <mcs-field-input
            size="full"
            [label]="'label.weight' | translate"
            [interpolations]="{ min_value: viewmodel.intMinValue, max_value: viewmodel.intMaxValue }"
            [formControl]="viewmodel.fcWeight">
          </mcs-field-input>
        </mcs-grid-column>

        <!-- Port -->
        <mcs-grid-column sizeWd="6" sizeMd="12" *ngIf="viewmodel.fcPort?.enabled">
          <mcs-field-input
            size="full"
            [label]="'label.port' | translate"
            [interpolations]="{ min_value: viewmodel.intMinValue, max_value: viewmodel.intMaxValue }"
            [formControl]="viewmodel.fcPort">
          </mcs-field-input>
        </mcs-grid-column>

        <!-- Order -->
        <mcs-grid-column sizeWd="6" sizeMd="12" *ngIf="viewmodel.fcOrder?.enabled">
          <mcs-field-input
            size="full"
            [label]="'label.order' | translate"
            [formControl]="viewmodel.fcOrder">
          </mcs-field-input>
        </mcs-grid-column>

        <!-- Preference -->
        <mcs-grid-column sizeWd="6" sizeMd="12" *ngIf="viewmodel.fcPreference?.enabled">
          <mcs-field-input
            size="full"
            [label]="'label.preference' | translate"
            [formControl]="viewmodel.fcPreference">
          </mcs-field-input>
        </mcs-grid-column>

        <!-- Flags -->
        <mcs-grid-column sizeWd="6" sizeMd="12" *ngIf="viewmodel.fcFlags?.enabled">
          <mcs-field-input
            size="full"
            [label]="'label.flags' | translate"
            [formControl]="viewmodel.fcFlags">
          </mcs-field-input>
        </mcs-grid-column>

        <!-- Regex -->
        <mcs-grid-column sizeWd="6" sizeMd="12" *ngIf="viewmodel.fcRegex?.enabled">
          <mcs-field-input
            size="full"
            [label]="'label.regularExpression' | translate"
            [formControl]="viewmodel.fcRegex">
          </mcs-field-input>
        </mcs-grid-column>

        <!-- Replacement -->
        <mcs-grid-column sizeWd="6" sizeMd="12" *ngIf="viewmodel.fcReplacement?.enabled">
          <mcs-field-input
            size="full"
            [label]="'label.replacement' | translate"
            [formControl]="viewmodel.fcReplacement">
          </mcs-field-input>
        </mcs-grid-column>
      </mcs-grid-row>
    </mcs-grid>
  </form>
</ng-template>

<!-- Add View Model -->
<ng-container *ngTemplateOutlet="formTemplate;
  context: { $implicit: addViewModel }">
</ng-container>

<div margin-top-medium class="action-items">
  <button mcsButton arrow="right"
    mcsId="add-zone-record"
    [disabled]="processOnGoing$ | async"
    (click)="onClickAddDnsZoneRecord()">
    {{ 'action.add' | translate }}
  </button>
</div>

<!-- Zone Records Table -->
<div class="listing-table-wrapper">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
    <!-- Record Type Column -->
    <ng-container matColumnDef="recordType">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'columnHeader.recordType' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" text-top>
        {{ row.recordInfo?.zoneType }}
      </td>
    </ng-container>

    <!-- Hostname Column -->
    <ng-container matColumnDef="hostName">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'columnHeader.name' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" text-top>
        {{ row.recordInfo?.hostName }}
      </td>
    </ng-container>

    <!-- Target / Data Column -->
    <ng-container matColumnDef="target">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'columnHeader.value' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" text-top>
        <ng-container *ngIf="row.isNaptr; else defaultTargetTemplate">
          <span [mcsGreyedOut]="true">{{ 'message.editToView' | translate }}</span>
        </ng-container>

        <ng-template #defaultTargetTemplate>
          {{ row.targetOrDataValue }}
        </ng-template>
      </td>
    </ng-container>

    <!-- TTL(Seconds) Column -->
    <ng-container matColumnDef="ttlSeconds">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'columnHeader.ttlSeconds' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" text-top>
        <span [mcsGreyedOut]="row.isTtlSecondsFromZone">
          {{ row.recordInfo?.ttlSeconds }}
        </span>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let row" text-top
      [mcsTooltip]="'message.reservedDnsRecord' | translate"
      [mcsTooltipShow]="row.isReservedRecord">
        <mcs-item>
          <ng-container *ngIf="row.updating; else readonlyViewTemplate">
            <a (click)="onClickCancelEdit(row)"
               mcsId
               mcsEventTracker="cancel-dns-zone-record"
               mcsEventCategory="dns"
               mcsEventLabel="dns-zone-page">
              {{ 'action.cancel' | translate }}
            </a>
            <a (click)="onClickSaveDnsZoneRecord(row)"
              mcsId
              mcsEventTracker="save-dns-zone-record"
              mcsEventCategory="dns"
              mcsEventLabel="dns-zone-page">
              {{ 'action.save' | translate }}
            </a>
          </ng-container>

          <ng-template #readonlyViewTemplate>
            <a (click)="onClickEditDnsZoneRecord(row)"
               [disabled]="(row.inProgress$ | async) || row.isReservedRecord"
               mcsId
               mcsEventTracker="edit-dns-zone-record"
               mcsEventCategory="dns"
               mcsEventLabel="dns-zone-page">
              {{ 'action.edit' | translate }}
            </a>
            <a (click)="onClickDeleteDnsZoneRecord(row)"
              [disabled]="(row.inProgress$ | async) || row.isReservedRecord"
              mcsId
              mcsEventTracker="delete-dns-zone-record"
              mcsEventCategory="dns"
              mcsEventLabel="dns-zone-page">
              {{ 'action.delete' | translate }}
            </a>
          </ng-template>
        </mcs-item>
      </td>
    </ng-container>

    <!-- Expanded row content -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let row" [attr.colspan]="5">
        <div [@expansionVertical]="row.updating ? 'expanded' : 'collapsed'">
          <ng-container *ngIf="row.updating">
            <ng-container *ngTemplateOutlet="formTemplate;
              context: { $implicit: row }">
            </ng-container>
          </ng-container>
        </div>
      </td>
    </ng-container>

    <!-- Header and Data row -->
    <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async"></tr>

    <tr mat-row *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"
      class="expandable-row"
      [class.expandable-row-expanded]="row.updating"
      [disabled]="row.inProgress$ | async"></tr>

    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
      [class.expandable-detail-row-collapsed]="!row.updating"
      [disabled]="row.inProgress$ | async"></tr>
  </table>

  <!-- Table Statuses -->
  <mcs-item orientation="block">
    <div *ngIf="dataSource?.isInProgress$ | async" align="center">
      <mcs-loader size="medium"></mcs-loader>
    </div>
    <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
      {{ 'message.noDnsZoneRecords' | translate }}
    </div>
    <div *ngIf="dataSource?.hasError$ | async" text-center>
      <div class="listing-status-wrapper">
        <span>{{ 'message.errorObtainingDnsZoneRecords' | translate }}</span>
      </div>
    </div>
  </mcs-item>
</div>
