<!-- Add Zone Record Panel -->
<form [formGroup]="addViewModel.fgDnsZone" mcsFormGroup>
  <mcs-grid>
    <mcs-grid-row>
      <mcs-grid-column sizeLg="12">
        <mcs-field-select-dns-zone-type
          size="full"
          [label]="'label.zoneType' | translate"
          [formControl]="addViewModel.fcZoneType">
        </mcs-field-select-dns-zone-type>
      </mcs-grid-column>
    </mcs-grid-row>

    <mcs-grid-row>
      <mcs-grid-column sizeLg="6">
        <mcs-field-input
          size="full"
          [label]="'label.hostName' | translate"
          [formControl]="addViewModel.fcHostName">
        </mcs-field-input>
      </mcs-grid-column>

      <mcs-grid-column sizeLg="6">
        <mcs-field-input
          size="full"
          [label]="'label.target' | translate"
          [formControl]="addViewModel.fcTarget">
        </mcs-field-input>
      </mcs-grid-column>
    </mcs-grid-row>

    <mcs-grid-row>
      <mcs-grid-column sizeLg="6">
        <mcs-field-input
          size="full"
          [label]="'label.ttl' | translate"
          [formControl]="addViewModel.fcTtlSeconds">
        </mcs-field-input>
      </mcs-grid-column>
    </mcs-grid-row>
  </mcs-grid>
</form>

<div class="action-items">
  <button mcsButton arrow="right"
    mcsId="add-zone-record"
    [disabled]="processOnGoing$ | async"
    (click)="onClickAddDnsZoneRecord()">
    {{ 'action.add' | translate }}
  </button>
</div>

<!-- Zone Records Table -->
<div class="listing-table-wrapper">
  <table mat-table [dataSource]="dataSource">
    <!-- Record Type Column -->
    <ng-container matColumnDef="recordType">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'columnHeader.recordType' | translate }}
      </th>
      <td mat-cell *matCellDef="let row">
        <mcs-field-select-dns-zone-type size="full"
          [readonlyElement]="!row.updating"
          [formControl]="row.fcZoneType">
        </mcs-field-select-dns-zone-type>
      </td>
    </ng-container>

    <!-- Hostname Column -->
    <ng-container matColumnDef="hostName">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'columnHeader.hostName' | translate }}
      </th>
      <td mat-cell *matCellDef="let row">
        <mcs-field-input size="full"
          [readonlyElement]="!row.updating"
          [formControl]="row.fcHostName">
        </mcs-field-input>
      </td>
    </ng-container>

    <!-- Target Column -->
    <ng-container matColumnDef="target">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'columnHeader.target' | translate }}
      </th>
      <td mat-cell *matCellDef="let row">
        <mcs-field-input size="full"
          [readonlyElement]="!row.updating"
          [formControl]="row.fcTarget">
        </mcs-field-input>
      </td>
    </ng-container>

    <!-- TTL(Seconds) Column -->
    <ng-container matColumnDef="ttlSeconds">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'columnHeader.ttlSeconds' | translate }}
      </th>
      <td mat-cell *matCellDef="let row">
        <mcs-field-input size="full"
          [readonlyElement]="!row.updating"
          [formControl]="row.fcTtlSeconds">
        </mcs-field-input>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let row">
        <mcs-item>
          <ng-container *ngIf="row.updating; else readonlyViewTemplate">
            <a (click)="onClickCancelEdit(row)"
               mcsId
               mcsEventTracker="canel-dns-zone-record"
               mcsEventCategory="dns-zone"
               mcsEventLabel="dns-zone-page">
              {{ 'action.cancel' | translate }}
            </a>
            <a (click)="onClickSaveDnsZoneRecord(row)"
              mcsId
              mcsEventTracker="save-dns-zone-record"
              mcsEventCategory="dns-zone"
              mcsEventLabel="dns-zone-page">
              {{ 'action.save' | translate }}
            </a>
          </ng-container>

          <ng-template #readonlyViewTemplate>
            <a (click)="onClickEditDnsZoneRecord(row)"
               [disabled]="row.inProgress$ | async"
               mcsId
               mcsEventTracker="edit-dns-zone-record"
               mcsEventCategory="dns-zone"
               mcsEventLabel="dns-zone-page">
              {{ 'action.edit' | translate }}
            </a>
            <a (click)="onClickDeleteDnsZoneRecord(row)"
              [disabled]="row.inProgress$ | async"
              mcsId
              mcsEventTracker="delete-dns-zone-record"
              mcsEventCategory="dns-zone"
              mcsEventLabel="dns-zone-page">
              {{ 'action.delete' | translate }}
            </a>
          </ng-template>
        </mcs-item>
      </td>
    </ng-container>

    <!-- Header and Data row -->
    <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async"></tr>
    <tr mat-row
      [disabled]="row.inProgress$ | async"
      *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"></tr>
  </table>

  <!-- Table Statuses -->
  <mcs-item orientation="block">
    <div *ngIf="dataSource?.isInProgress$ | async" align="center">
      <mcs-loader size="medium"></mcs-loader>
    </div>
    <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
      {{ 'message.noDnsZoneRecords' | translate }}
    </div>
    <div *ngIf="dataSource?.hasError$ | async" text-center>
      <div class="listing-status-wrapper">
        <span>{{ 'message.errorObtainingDnsZoneRecords' | translate }}</span>
      </div>
    </div>
  </mcs-item>
</div>