<mcs-interstitial-header class="system-message-header"></mcs-interstitial-header>

<div class="interstitial-page-content">
  <div class="interstitial-content">
    <span class="interstitial-page-title" text-center>
      {{ 'knowledgeBaseInterstitial.header' | translate }}
    </span>

    <mcs-icon [key]="hourglassBlueIconKey" no-margin size="250px"></mcs-icon>

    <span no-margin text-center class="interstitial-page-subtitle">
      {{ 'knowledgeBaseInterstitial.subtitle' | translate }}
    </span>
  </div>
</div>
