@import "../../../../styles/shared/base";

$ticket-meta-item-color: $color-grey-07;
$ticket-meta-item-hover-color: $color-grey-06;

.ticket-meta-wrapper {
  @include display-flex(row);
  @include flex-wrap(wrap);
  justify-content: space-between;

  * {
    @include flex(1 1 0);
  }
}

.ticket-info-wrapper {
  display: block;

  .unstyled-list {
    // text-decoration: underline;

    li {
      display: inline-block;
      @include breakpoint(small) {
        display: block;
      }
      margin-right: $space-small;
      padding: $space-xsmall;
      margin-bottom: $space-xsmall;

      &.rollover {
        background-color: $ticket-meta-item-color;

        &:hover {
          background-color: $ticket-meta-item-hover-color;
        }
      }
    }
  }

  .ticket-activities-header {
    @include display-flex(row);
    align-items: center;
    margin: $space-large 0;

    .create-new-comment-wrapper {
      position: relative;
    }
  }
}
