<mcs-page [header]="getTicketHeader(selectedTicket$ | async)">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>

    <!-- Back to Tickets -->
    <mcs-top-panel-item *mcsTopPanelItemDef>
      <mcs-action-item class="right-align" (click)="gotoTickets()"
        mcsId
        mcsEventTracker="navigate-to-ticket-listing"
        mcsEventCategory="ticket"
        mcsEventLabel="ticket-details-page">
        <mcs-icon [key]="backIconKey" size="large"></mcs-icon>
        <span>{{ textContent.backToTickets }}</span>
      </mcs-action-item>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>
    <div class="limited-view" *ngIf="selectedTicket$ | async as selectedTicket">
      <!-- Ticket description -->
      <div class="container-wrapper">
        <h2 class="container-header">{{ textContent.description }}</h2>
        <p><strong [innerHTML]="selectedTicket.shortDescription | mcsNewLines"></strong></p>
        <p [innerHTML]="selectedTicket.description | mcsNewLines"></p>
      </div>

      <!-- Ticket details -->
      <div class="container-wrapper">
        <h2 class="container-header">{{ textContent.information }}</h2>
        <div class="grid-row vspace-medium">
          <div class="grid-column">
            <mcs-list spacing="xsmall">
              <mcs-list-item class="form-field-inline">
                <span>{{ textContent.requestor }}:</span>
                <span [innerHTML]="selectedTicket.requestor | mcsDataLabel"></span>
              </mcs-list-item>

              <mcs-list-item class="form-field-inline">
                <span>{{ textContent.createdDate }}:</span>
                <span>{{ selectedTicket.createdOn | mcsStdDateFormat }}</span>
              </mcs-list-item>

              <mcs-list-item class="form-field-inline">
                <span>{{ textContent.customerReference }}:</span>
                <span [innerHTML]="selectedTicket.customerReference | mcsDataLabel: 'None'"></span>
              </mcs-list-item>
            </mcs-list>
          </div>

          <div class="grid-column">
            <mcs-list spacing="xsmall">
              <mcs-list-item class="form-field-inline">
                <span>{{ textContent.status }}:</span>
                <mcs-icon *ngIf="selectedTicket.resolved" [key]="checkIconKey" size="small"></mcs-icon>
                <span [innerHTML]="selectedTicket.stateLabel | mcsDataLabel"></span>
                <span *ngIf="selectedTicket.resolved">({{ selectedTicket.createdOn | mcsStdDateFormat }})</span>
              </mcs-list-item>

              <mcs-list-item class="form-field-inline">
                <span>{{ textContent.type }}:</span>
                <span>{{ getSubTypeString(selectedTicket.subType) }}</span>
              </mcs-list-item>
            </mcs-list>
          </div>
        </div>
      </div>

      <!-- Ticket closure details -->
      <div class="container-wrapper" *ngIf="selectedTicket.closed">
        <h2 class="container-header">{{ textContent.closureDetails }}</h2>

        <div class="grid-row">
          <div class="grid-column">
            <mcs-list spacing="xsmall">
              <mcs-list-item class="form-field-inline">
                <span>{{ textContent.closureDate }}:</span>
                <span [innerHTML]="(selectedTicket.closureInformation?.closedAt |
                  mcsStdDateFormat) | mcsDataLabel"></span>
              </mcs-list-item>

              <mcs-list-item class="form-field-inline">
                <span>{{ textContent.closureNotes }}:</span>
                <span [innerHTML]="selectedTicket.closureInformation?.closeNotes |
                  mcsDataLabel: 'None'"></span>
              </mcs-list-item>
            </mcs-list>
          </div>

          <div class="grid-column">
            <mcs-list spacing="xsmall">
              <mcs-list-item class="form-field-inline">
                <span>{{ textContent.rootCause }}:</span>
                <span [innerHTML]="selectedTicket.closureInformation?.closeProblem |
                  mcsDataLabel: 'None'"></span>
              </mcs-list-item>

              <mcs-list-item class="form-field-inline">
                <span>{{ textContent.resolution }}:</span>
                <span [innerHTML]="selectedTicket.closureInformation?.closeResolution |
                  mcsDataLabel: 'None'"></span>
              </mcs-list-item>
            </mcs-list>
          </div>
        </div>
      </div>

      <!-- Ticket Services and Attachments -->
      <div class="grid-row">
        <div class="container-wrapper grid-column">
          <h2 class="container-header">{{ textContent.services }}</h2>
          <ng-container *ngIf="selectedTicket.serviceId | mcsIsNotNullOrEmpty; else noServices">
            <mcs-list spacing="auto">
              <mcs-list-item *ngFor="let service of selectedTicket.serviceId">
                <span>{{ service }}</span>
              </mcs-list-item>
            </mcs-list>
          </ng-container>

          <ng-template #noServices>
            <mcs-data-status-empty>
              {{ textContent.missingServicesLabel }}
            </mcs-data-status-empty>
          </ng-template>
        </div>

        <div class="container-wrapper grid-column">
          <h2 class="container-header">{{ textContent.attachments }}</h2>
          <ng-container *ngIf="selectedTicket.attachments | mcsIsNotNullOrEmpty; else noAttachments">
            <mcs-list spacing="small">
              <mcs-list-item *ngFor="let attachment of selectedTicket.attachments">
                <mcs-file-download [fileType]="attachment.contentType"
                  [downloading]="isDownloading(attachment?.id)"
                  (download)="downloadAttachment(selectedTicket, attachment)"
                  mcsId="download-attachment"
                  mcsEventTracker="download-attachment"
                  mcsEventCategory="ticket"
                  mcsEventLabel="ticket-details-page">
                  {{ attachment.fileName }}
                </mcs-file-download>
              </mcs-list-item>
            </mcs-list>
          </ng-container>

          <ng-template #noAttachments>
            <mcs-data-status-empty>
              {{ textContent.missingAttachmentsLabel }}
            </mcs-data-status-empty>
          </ng-template>
        </div>
      </div>

      <!-- Ticket Activities -->
      <div class="container-wrapper">
        <h2 class="container-header">{{ textContent.activity }}</h2>
      </div>
      <div class="block-items-medium">
        <ng-container *mcsAccessControl="['TicketCommentCreate']">
          <div *mcsExclusiveForAccount="'default'" class="position-relative">
            <mcs-comment-box attachedLimit="single" [disabled]="creatingComment$ | async"
              [allowedMimeType]="['image/jpeg', 'image/png', 'image/bmp', 'text/plain']"
              (onAddComment)="createComment(selectedTicket, $event)">
            </mcs-comment-box>
          </div>
        </ng-container>

        <ng-container *ngIf="ticketActivites$ | async as ticketActivities">
          <div *ngIf="ticketActivities | mcsIsNotNullOrEmpty; else noActivities">
            <mcs-ticket-activity *ngFor="let activity of ticketActivities"
              class="vspace-xsmall"
              [ticketId]="selectedTicket.id"
              [activity]="activity">
            </mcs-ticket-activity>
          </div>
          <ng-template #noActivities>
            <mcs-data-status-empty>
              {{ textContent.missingActivitiesLabel }}
            </mcs-data-status-empty>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </mcs-content-panel>
</mcs-page>