<form [formGroup]="fgCatalog" mcsFormGroup>
  <!-- Media header -->
  <ng-content select="[mcsManageMediaHeader]"></ng-content>

  <!-- Media selection -->
  <mcs-form-field>
    <mcs-select [formControl]="fcCatalogItem" placeholder="Select media" mcsId="select-media">

      <ng-container *ngFor="let catalog of catalogs">
        <mcs-option-group *ngIf="catalog.items | mcsIsNotNullOrEmpty">
          <ng-container *mcsOptionGroupHeader>
            <span>{{ catalog.name }}</span>
          </ng-container>

          <mcs-option *ngFor="let catalogItem of catalog.items" [value]="catalogItem">
            {{ catalogItem.name }}
          </mcs-option>
        </mcs-option-group>
      </ng-container>
    </mcs-select>
  </mcs-form-field>
</form>
