<section class="dashboard-container">
  <div class="row">
    <div class="col">
      <h1>The quick brown fox jumps over the lazy dog. - H1</h1>
      <h2>The quick brown fox jumps over the lazy dog. - H2</h2>
      <h3>The quick brown fox jumps over the lazy dog. - H3</h3>
      <h4>The quick brown fox jumps over the lazy dog. - H4</h4>
      <a href="#">The quick brown fox jumps over the lazy dog.</a>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has <span>Sample Span</span> only five centuries, <a href="#">Sample Link</a> but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets <small>Sample Small</small>.Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">

     <!--Filter Selectors Component Implementation-->
     <div class="dashboard-container-item">
       <span class="title">Filter Selector Component Implementation Example</span>
       <div class="content">
         <mcs-filter-selector key="columnMainFilter"
         (onGetFilters)="onGetFilterItems($event)"></mcs-filter-selector>

         <table class="mcs-table table">
           <thead class="head">
             <tr>
               <th *ngIf="filterItems['serverName'].value">{{ filterItems['serverName'].text }}</th>
               <th *ngIf="filterItems['networking'].value">{{ filterItems['networking'].text }}</th>
               <th *ngIf="filterItems['catalog'].value">{{ filterItems['catalog'].text }}</th>
               <th *ngIf="filterItems['others'].value">{{ filterItems['others'].text }}</th>
               <th *ngIf="filterItems['dashboard'].value">{{ filterItems['dashboard'].text }}</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let dashboard of dashboards">
               <td *ngIf="filterItems['serverName'].value">{{dashboard.serverName}}</td>
               <td *ngIf="filterItems['networking'].value">{{dashboard.networking}}</td>
               <td *ngIf="filterItems['catalog'].value">{{dashboard.catalog}}</td>
               <td *ngIf="filterItems['others'].value">{{dashboard.others}}</td>
               <td *ngIf="filterItems['dashboard'].value">{{dashboard.dashboard}}</td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>

    <!--Button Implementation-->
    <div class="dashboard-container-item">
      <span class="title">Button Implementation Example</span>
      <div class="content">
        <small><em>Regular Default Button</em></small> <br/>
        <mcs-button>Add New Server</mcs-button> <br/>
        <small><em>Regular Default Button w/ Custom Width</em></small> <br/>
        <mcs-button width="200">Add New Server</mcs-button> <hr/>

        <small><em>Small Default Button</em></small> <br/>
        <mcs-button size="small">Manage</mcs-button> <br/>
        <small><em>Small Default Button w/ Custom Width</em></small> <br/>
        <mcs-button size="small" width="200">Manage</mcs-button> <hr/>

        <small><em>Regular Button w/ Right Icon</em></small> <br/>
        <mcs-button iconRight="arrow-right">Next</mcs-button> <br/>
        <small><em>Regular Button w/ Right Icon and Custom Width</em></small> <br/>
        <mcs-button iconRight="arrow-right" width="200">Next</mcs-button> <hr/>

        <small><em>Regular Button w/ Left & Right Icon</em></small> <br/>
        <mcs-button iconLeft="credit-card" iconRight="arrow-right">Create New Server</mcs-button> <br/>
        <small><em>Create New Server</em></small> <br/>
        <mcs-button iconLeft="credit-card" iconRight="arrow-right" width="500">Create New Server</mcs-button> <hr/>

        <small><em>Regular Button w/ OnClick Event</em></small> <br/>
        <mcs-button iconRight="arrow-right" mcsLoader #loader="mcsLoader"
          (onClick)="onButtonClicked(loader)">Submit</mcs-button>
      </div>
    </div>
  </div>

    <div class="col">
      <!--Textbox Implementation-->
      <div class="dashboard-container-item">
        <span class="title">Textbox Implementation Example</span>
        <div class="content">
          <form>
            <label for="textDefault"><strong>Default Textbox</strong></label> <br/>
            <mcs-textbox name="textDefault" placeholder="Enter text here..."></mcs-textbox>
            <br/><br/>

            <label for="textIcon"><strong>Textbox w/ Icon</strong></label> <br/>
            <mcs-textbox name="textIcon" icon="search" placeholder="Type to filter..."></mcs-textbox>
            <br/><br/>

            <label for="textCustom"><strong>Textbox w/ Icon & Custom Width</strong></label> <br/>
            <mcs-textbox name="textCustom" icon="search" width="300" placeholder="Type to filter..."></mcs-textbox>
            <br/><br/>

            <label for="textModel"><strong>Textbox w/ Model Binding</strong></label> <br/>
            <mcs-textbox name="textModel" icon="search" width="300"
              [(ngModel)]="textboxValue" placeholder="Type to filter..."></mcs-textbox>
            <pre>Textbox Value : {{ textboxValue }}</pre>
            <br/>

            <label><strong>Inline Textboxes</strong></label> <br/>
            <mcs-textbox name="textDefault" placeholder="Enter text here..."></mcs-textbox>
            <mcs-textbox name="textIcon" icon="search" placeholder="Type to filter..."></mcs-textbox>
            <br/><br/>

            <label><strong>List of Textboxes</strong></label> <br/>
            <mcs-textbox name="textDefault" width="500" placeholder="Enter text here..."></mcs-textbox> <br/>
            <mcs-textbox name="textIcon" icon="search" width="500" placeholder="Type to filter..."></mcs-textbox>
            <mcs-textbox name="textModel" icon="search" width="500"
              [(ngModel)]="textboxValue" placeholder="Type to filter..."></mcs-textbox>

          </form>
        </div>
      </div>

      <!--Forms Implementation-->
      <div class="dashboard-container-item">
        <span class="title">Forms Implementation Example</span>
        <div class="content">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleTextarea">Example textarea</label>
              <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>