<section class="dashboard-container">
  <span>{{ title }}</span>

  <div class="row">
    <div class="col">

     <!--Filter Selectors Component Implementation-->
     <div class="dashboard-container-item">
       <span class="title">Filter Selector Component Implementation Example</span>
       <div class="content">
         <mcs-filter-selector key="columnMainFilter"
         (onGetFilters)="onGetFilterItems($event)"></mcs-filter-selector>

         <table class="mcs-table table">
           <thead class="head">
             <tr>
               <th *ngIf="filterItems['serverName'].value">{{ filterItems['serverName'].text }}</th>
               <th *ngIf="filterItems['networking'].value">{{ filterItems['networking'].text }}</th>
               <th *ngIf="filterItems['catalog'].value">{{ filterItems['catalog'].text }}</th>
               <th *ngIf="filterItems['others'].value">{{ filterItems['others'].text }}</th>
               <th *ngIf="filterItems['dashboard'].value">{{ filterItems['dashboard'].text }}</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let dashboard of dashboards">
               <td *ngIf="filterItems['serverName'].value">{{dashboard.serverName}}</td>
               <td *ngIf="filterItems['networking'].value">{{dashboard.networking}}</td>
               <td *ngIf="filterItems['catalog'].value">{{dashboard.catalog}}</td>
               <td *ngIf="filterItems['others'].value">{{dashboard.others}}</td>
               <td *ngIf="filterItems['dashboard'].value">{{dashboard.dashboard}}</td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>

     <!--Radio Button Implementation-->
     <div class="dashboard-container-item">
       <span class="title">Radio Button Implementation Example</span>
       <div class="content">
         <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
           <label class="btn btn-primary">
             <input type="radio" [value]="1"> Left (pre-checked)
           </label>
           <label class="btn btn-primary">
            <input type="radio" value="middle"> Middle
           </label>
           <label class="btn btn-primary">
             <input type="radio" [value]="false"> Right
          </label>
         </div>
       </div>
     </div>

     <!--Status Notification Implementation-->
     <div class="dashboard-container-item">
       <span class="title">Status Notification Implementation Example</span>
       <div class="content">
         <button class="btn btn-success btn-sm" (click)="onDisplayStatusBox()">Toggle Notification</button>
         <mcs-status-box [attribute]="statusBoxAttribute"></mcs-status-box>
       </div>
     </div>

     <!--Dropdown Implementation-->
     <div class="dashboard-container-item">
       <span class="title">Dropdown Implementation Example</span>
       <div class="content">
         <div ngbDropdown class="d-inline-block">
           <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Toggle dropdown</button>
           <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
             <button class="dropdown-item">Action - 1</button>
             <button class="dropdown-item">Another Action</button>
             <button class="dropdown-item">Something else is here</button>
           </div>
         </div>
       </div>
     </div>

    <!--Date Picker Implementation-->
    <div class="dashboard-container-item">
      <span class="title">Date Picker Implementation Example</span>
      <div class="content">
        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
        <hr/>
        <button class="btn btn-sm btn-outline-primary" (click)="onSelectToday()">Select Today</button>
        <button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo()">To current month</button>
        <button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>
        <hr/>
        <pre>Month: {{ date.month }}.{{ date.year }}</pre>
        <pre>Model: {{ model | json }}</pre>
      </div>
    </div>

    <!--Customizing ng-bootstrap components Implementation-->
    <div class="dashboard-container-item">
      <span class="title">Customizing ng-bootstrap components using directives Implementation Example</span>
      <div class="content">
        <button class="btn btn-primary" mcsFlat mcsRed>Custom Color</button>
      </div>
    </div>

    <!--Button Implementation-->
    <div class="dashboard-container-item">
      <span class="title">Button Implementation Example</span>
      <div class="content">
        <small><em>Regular Default Button</em></small> <br/>
        <mcs-button>Add New Server</mcs-button> <br/>
        <small><em>Regular Default Button w/ Custom Width</em></small> <br/>
        <mcs-button width="200">Add New Server</mcs-button> <hr/>

        <small><em>Small Default Button</em></small> <br/>
        <mcs-button size="small">Manage</mcs-button> <br/>
        <small><em>Small Default Button w/ Custom Width</em></small> <br/>
        <mcs-button size="small" width="200">Manage</mcs-button> <hr/>

        <small><em>Regular Button w/ Right Icon</em></small> <br/>
        <mcs-button iconRight="arrow-right">Next</mcs-button> <br/>
        <small><em>Regular Button w/ Right Icon and Custom Width</em></small> <br/>
        <mcs-button iconRight="arrow-right" width="200">Next</mcs-button> <hr/>

        <small><em>Regular Button w/ Left & Right Icon</em></small> <br/>
        <mcs-button iconLeft="credit-card" iconRight="arrow-right">Create New Server</mcs-button> <br/>
        <small><em>Create New Server</em></small> <br/>
        <mcs-button iconLeft="credit-card" iconRight="arrow-right" width="500">Create New Server</mcs-button> <hr/>

        <small><em>Regular Button w/ OnClick Event</em></small> <br/>
        <mcs-button iconRight="arrow-right" (onClick)="onButtonClicked()">Show Alert</mcs-button>
      </div>
    </div>
  </div>

    <div class="col">
      <!--Textbox Implementation-->
      <div class="dashboard-container-item">
        <span class="title">Textbox Implementation Example</span>
        <div class="content">
          <form>
            <label for="textDefault"><strong>Default Textbox</strong></label> <br/>
            <mcs-textbox name="textDefault" placeholder="Enter text here..."></mcs-textbox>
            <br/><br/>

            <label for="textIcon"><strong>Textbox w/ Icon</strong></label> <br/>
            <mcs-textbox name="textIcon" icon="search" placeholder="Type to filter..."></mcs-textbox>
            <br/><br/>

            <label for="textCustom"><strong>Textbox w/ Icon & Custom Width</strong></label> <br/>
            <mcs-textbox name="textCustom" icon="search" width="300" placeholder="Type to filter..."></mcs-textbox>
            <br/><br/>

            <label for="textModel"><strong>Textbox w/ Model Binding</strong></label> <br/>
            <mcs-textbox name="textModel" icon="search" width="300"
              [(ngModel)]="textboxValue" placeholder="Type to filter..."></mcs-textbox>
            <pre>Textbox Value : {{ textboxValue }}</pre>
            <br/>

            <label><strong>Inline Textboxes</strong></label> <br/>
            <mcs-textbox name="textDefault" placeholder="Enter text here..."></mcs-textbox>
            <mcs-textbox name="textIcon" icon="search" placeholder="Type to filter..."></mcs-textbox>
            <br/><br/>

            <label><strong>List of Textboxes</strong></label> <br/>
            <mcs-textbox name="textDefault" width="500" placeholder="Enter text here..."></mcs-textbox> <br/>
            <mcs-textbox name="textIcon" icon="search" width="500" placeholder="Type to filter..."></mcs-textbox>
            <mcs-textbox name="textModel" icon="search" width="500"
              [(ngModel)]="textboxValue" placeholder="Type to filter..."></mcs-textbox>

          </form>
        </div>
      </div>

      <!--Forms Implementation-->
      <div class="dashboard-container-item">
        <span class="title">Forms Implementation Example</span>
        <div class="content">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
           <div class="form-group">
             <label for="exampleInputPassword1">Password</label>
             <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
           </div>
           <div class="form-group">
             <label for="exampleSelect1">Example select</label>
             <select class="form-control" id="exampleSelect1">
             <option>1</option>
             <option>2</option>
             <option>3</option>
             <option>4</option>
             <option>5</option>
           </select>
           </div>
           <div class="form-group">
             <label for="exampleSelect2">Example multiple select</label>
             <select multiple class="form-control" id="exampleSelect2">
             <option>1</option>
             <option>2</option>
             <option>3</option>
             <option>4</option>
             <option>5</option>
           </select>
         </div>
         <div class="form-group">
           <label for="exampleTextarea">Example textarea</label>
           <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
         </div>
         <div class="form-group">
           <label for="exampleInputFile">File input</label>
           <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
           <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
         </div>
         <fieldset class="form-group">
           <legend>Radio buttons</legend>
           <div class="form-check">
             <label class="form-check-label">
             <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
             Option one is this and that&mdash;be sure to include why it's great
           </label>
           </div>
           <div class="form-check">
             <label class="form-check-label">
             <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
             Option two can be something else and selecting it will deselect option one
           </label>
           </div>
           <div class="form-check disabled">
             <label class="form-check-label">
             <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
             Option three is disabled
           </label>
           </div>
         </fieldset>
         <div class="form-check">
           <label class="form-check-label">
           <input type="checkbox" class="form-check-input">
           Check me out
         </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
         </form>
       </div>
      </div>
    </div>
  </div>
</section>