<apx-chart #chartObject [class.hidden]="!hasData"
  [chart]="options.chart"
  [dataLabels]="options.dataLabels"
  [legend]="options.legend"
  [plotOptions]="options.plotOptions"
  [series]="options.series"
  [stroke]="options.stroke"
  [title]="options.title"
  [tooltip]="options.tooltip"
  [xaxis]="options.xaxis"
  [labels]="options.labels"
  [colors]="options.colors"
  [yaxis]="options.yaxis">
</apx-chart>
<mcs-status-message type="info" [class.hidden]="hasData">
  No billing information to display
</mcs-status-message>
