<div class="order-listbox-container">
  <div class="left-container">
    <mcs-item *ngFor="let category of categoryList">
      <a (click)="onClickCategory(category)"
        mcsId="{{ categoryId }}"
        mcsEventTracker="{{ categoryEventTracker }}"
        mcsEventCategory="{{ eventCategory }}"
        mcsEventLabel="{{ eventLabel }}"
        [ngClass]="{'active': selectedCategory?.text === category?.text}">
        {{ category.text }}
        <mat-icon color="black" style="float: right">arrow_right</mat-icon>
      </a>
    </mcs-item>
  </div>
  <div class="right-container">
    <ng-container *ngIf="isProcessing">
      <mcs-loader padding-left-small size="medium"></mcs-loader>
    </ng-container>
    <ng-container *ngIf="selectedItemList?.length === 0; else selectedItemListTemplate">
      <mcs-item mcsAlign="center">
        <span padding-left-small>{{ noItemsFallbackText }}</span>
      </mcs-item>
    </ng-container>
    <ng-template #selectedItemListTemplate>
      <mcs-item *ngFor="let item of selectedItemList">
        <a (click)="onClickSelectedItem(item)"
          mcsId="{{ selectedItemId }}"
          mcsEventTracker="{{ selectedItemEventTracker }}"
          mcsEventCategory="{{ eventCategory }}"
          mcsEventLabel="{{ eventLabel }}"
          [ngClass]="{'active': selectedItem === item?.value}">
          {{ item.text }}
        </a>
      </mcs-item>
    </ng-template>
  </div>
</div>