@import "shared/index";

.workflow-group-wrapper {
  max-width: 650px;
  min-width: 550px;

  .parent {
    margin-top: 15px;
  }

  .new {
    animation-name: workflowHighlight;
    animation-duration: 2s;
  }

  @keyframes workflowHighlight {
    from {background-color: white;}
    to { background-color: $color-grey-06; }
  }
}

.mat-expansion-panel {
  box-shadow: none !important;
  border-radius: 0 !important;
  border: 1px solid $color-grey-04;
  margin-top: 0;
  margin-bottom: 0;

  &.child {
    margin-top: -1px;
    background-color: $color-grey-07;
    border-top: 1px dashed $color-grey-04;

    &.mat-expanded {
      background-color: $color-white;
    }
  }
}
