<!-- Core layouts -->
<mcs-main-loader></mcs-main-loader>
<mcs-header class="header hide-on-print"></mcs-header>
<mcs-main-navigation class="main-navigation" *isExperimental="false"></mcs-main-navigation>
<mcs-sub-navigation class="sub-navigation" *isExperimental="false"></mcs-sub-navigation>
<mcs-content class="content"></mcs-content>

<!-- All Notifications -->
<mcs-state-change-notifications class="hide-on-print"></mcs-state-change-notifications>
<mcs-page-notifications class="hide-on-print"></mcs-page-notifications>