@import '../styles/shared/base';

.site-wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -114px;
  /* Pad bottom by footer height */
  padding: 0 0 114px;
  @include breakpoint(small) {
    margin: 0 auto -96px;
    padding: 0 0 96px;
  }
}