<!-- Template binding -->
<ng-template #placeholderTemplate>
  <span read-only>{{ getPlaceholder() }}</span>
</ng-template>

<!-- Selection trigger -->
<div class="select-trigger" [ngClass]="size"
  mcsCursor="pointer" (click)="toggle()">

  <span *ngIf="selectionModel?.hasValue();else placeholderTemplate">
    {{ displayedText }}
  </span>
  <mcs-icon size="small" [key]="carretDownIconKey"></mcs-icon>
</div>

<!-- Group Items container -->
<div>
  <div [@transformVertical]="panelOpen ? 'transform' : 'void'"
    mcsScrollable class="select-group-panel-wrapper">
    <ng-content></ng-content>
  </div>
</div>