@import "../../../styles/shared/base";

// Select component trigger wrapper
$select-trigger-default-padding: $space-small $space-medium;
$select-trigger-small-padding: 0 $space-xsmall;
$select-trigger-border-color: $color-black;
$select-trigger-border-radius: $border-radius-small;
// Select group panel
$select-group-panel-wrapper-max-height: 400px;
$select-group-panel-bg-color: $color-white;
$select-group-panel-border-color: $color-grey-03;
$select-group-panel-border-radius: $border-radius-small;
$select-group-panel-padding: $space-small;
// Select group wrapper
$select-group-wrapper-padding: $space-small 0;
$select-group-wrapper-border-color: $select-group-panel-border-color;
// Select Item
$select-item-min-width: 100px;
$select-item-padding: $space-xsmall $space-small;
$select-item-sub-group-padding: 0 $space-small;
$select-item-hover-color: $color-grey-07;
$select-item-selected-color: $color-grey-06;
// Select sub-group
$select-sub-group-padding: $space-small;
$select-sub-group-bg-color: $color-white;
$select-sub-group-border-color: $color-grey-03;
$select-sub-group-box-shadow: $color-black;
$select-sub-group-max-height: 400px;
$select-sub-group-expanded-bg-color: $color-white;

.select-wrapper {
  display: block;
  width: 100%;
  outline: none;
  position: relative;

  .animation {
    animation-timing-function: ease-out;
    animation-duration: 200ms;
  }
}

.select-trigger {
  border: 1px solid $select-trigger-border-color;
  @include border-radius($select-trigger-border-radius);

  &.default {
    padding: $select-trigger-default-padding;
  }

  &.small {
    padding: $select-trigger-small-padding;
  }
}

.select-group-panel-wrapper {
  background-color: $select-group-panel-bg-color;
  border: 1px solid $select-group-panel-border-color;
  position: absolute;
  width: 100%;
  @include border-radius($select-group-panel-border-radius);
  padding: $select-group-panel-padding;
  z-index: $zindex-select;
  transform-origin: 50% 24px 0px;
  @include box-shadow((
    0 2px 4px -1px rgba($select-sub-group-box-shadow, 0.2),
    0 4px 5px 0 rgba($select-sub-group-box-shadow, 0.14),
    0 1px 10px 0 rgba($select-sub-group-box-shadow, 0.12)
  ));
  max-height: $select-group-panel-wrapper-max-height;
}

.select-group-wrapper {
  @include flex(0 0 auto);
  @include display-flex(column);
  border-top: 1px solid $select-group-wrapper-border-color;
  padding: $select-group-wrapper-padding;

  &:first-child {
    border-top: none;
  }

  .select-group-header {
    h4 {
      margin: 0;
    }
  }
}

.select-item-wrapper {
  display: block;
  @include flex(0 0 auto);
  position: relative;
  white-space: nowrap;
  min-width: $select-item-min-width;
  outline: none;

  &:hover,
  &:focus,
  &.active {
    background-color: $select-item-hover-color;
  }

  &.sub-group-expanded {
    &.active,
    &:focus,
    &:hover {
      background-color: $select-sub-group-expanded-bg-color;
    }
  }

  &.selected {
    background-color: $select-item-selected-color;
  }

  .select-item-content {
    @include display-flex(row);
    @include align-items(center);
    justify-content: space-between;
    padding: $select-item-padding;
  }

  .select-item-subgroup-panel {
    padding: $select-item-sub-group-padding;
  }
}