<!-- Template binding -->
<ng-template #placeholderTemplate>
  <span read-only>{{ getPlaceholder() }}</span>
</ng-template>

<!-- Selection trigger -->
<div class="select-trigger" [ngClass]="size"
  mcsCursor="pointer" (click)="toggle()">

  <span *ngIf="displayedText; else placeholderTemplate">
    <ng-container *ngIf="labelTemplate; else labelContentTemplate">
      <ng-container *ngTemplateOutlet="labelTemplate?.templateRef"></ng-container>
    </ng-container>
    <ng-template #labelContentTemplate>
      <div>{{ displayedText }}
        <small read-only *ngIf="selectedOptions?.length > 1">
          (+{{ selectedOptions.length - 1}} others)</small>
      </div>
    </ng-template>
  </span>
  <mcs-icon size="small" [key]="carretDownIconKey"></mcs-icon>
</div>

<!-- Group Items container -->
<div>
  <div [@transformVertical]="panelOpen ? 'transform' : 'void'"
    mcsScrollable class="select-group-panel-wrapper">
    <ng-content></ng-content>
  </div>
</div>