<!-- Template binding -->
<ng-template #placeholderTemplate>
  <span read-only>{{ getPlaceholder() }}</span>
</ng-template>

<!-- Selection trigger -->
<div class="select-trigger" [ngClass]="size"
  display-flex justify-content="space-between"
  align-items="center" cursor="pointer" (click)="toggle()">

  <span *ngIf="value;else placeholderTemplate">
    {{ displayedText }}
  </span>
  <mcs-icon size="small" [key]="carretDownIconKey"></mcs-icon>
</div>

<!-- Group Items container -->
<ng-container *ngIf="panelOpen">
  <div [@transformPanel]="'showing'" class="select-group-panel-wrapper">
    <div [@fadeInContent]="'showing'">
      <ng-content></ng-content>
    </div>
  </div>
</ng-container>