<mcs-presentation-panel>
  <ng-container mcsPresentationPanelHeader>
    <h2>{{ 'firewall.policies.header' | translate }}</h2>
  </ng-container>

  <ng-container [ngSwitch]="firewallPoliciesMode">
    <!-- Firewall Policies Listing  -->
    <div [@fadeIn] *ngSwitchCase="firewallPoliciesModeEnum.Listing">
      <div class="listing-table-wrapper">
        <!-- Search -->
        <mcs-item>
          <mcs-search #search mcsId="firewall-policy-search"></mcs-search>
          <mcs-icon [key]="columnFilterIconKey" size="large" hidden-small
            mcsPopover placement="bottom" orientation="left" theme="light"
            padding="narrow" [content]="filterSelectorTemplate" mcsCursor="pointer">
          </mcs-icon>
          <ng-template #filterSelectorTemplate>
            <mcs-filter-selector #filterSelector [key]="columnSettingsKey"
              (filtersChange)="updateColumnSettings($event)"></mcs-filter-selector>
          </ng-template>

          <div mcsAlign="end" hidden-small>
            <span> {{ totalRecordsCount | mcsPlural:
               ('firewall.policies.dataSingular' | translate) : ('firewall.policies.dataPlural' | translate) }}
            </span>
          </div>
        </mcs-item>

        <!-- Table -->
        <mcs-table [dataSource]="dataSource" [columnFilter]="filterSelector">
          <!-- Action column -->
          <ng-container mcsColumnDef="action">
            <mcs-header-cell *mcsHeaderCellDef hidden-small>
              {{ columnSettings.action.text }}
            </mcs-header-cell>
            <mcs-data-cell *mcsDataCellDef="let row" hidden-small text-center>
              <mcs-icon [key]="row.actionIconKey" size="medium"
                mcsPopover trigger="hover" maxWidth="250px" padding="narrow"
                [content]="tooltipContent"></mcs-icon>
              <ng-template #tooltipContent>
                <span>
                  {{ row.actionLabel }}
                </span>
              </ng-template>
            </mcs-data-cell>
          </ng-container>

          <!-- Sequence Column -->
          <ng-container mcsColumnDef="sequence">
            <mcs-header-cell *mcsHeaderCellDef hidden-small>
              {{ columnSettings.sequence.text }}
            </mcs-header-cell>
            <mcs-data-cell *mcsDataCellDef="let row" hidden-small>
              <span>{{ row.objectSequence }}</span>
            </mcs-data-cell>
          </ng-container>

          <!-- Source Interfaces Column -->
          <ng-container mcsColumnDef="sourceInterfaces">
            <mcs-header-cell *mcsHeaderCellDef hidden-small>
              {{ columnSettings.sourceInterfaces.text }}
            </mcs-header-cell>
            <mcs-data-cell *mcsDataCellDef="let row" text-left hidden-small>
              <mcs-list spacing="auto">
                <mcs-list-item *ngFor="let sourceInterfaces of row.sourceInterfaces">
                    <span>{{ sourceInterfaces }}</span>
                </mcs-list-item>
              </mcs-list>
            </mcs-data-cell>
          </ng-container>

          <!-- Desination Interfaces Column -->
          <ng-container mcsColumnDef="destinationInterfaces">
            <mcs-header-cell *mcsHeaderCellDef hidden-small>
              {{ columnSettings.destinationInterfaces.text }}
            </mcs-header-cell>
            <mcs-data-cell *mcsDataCellDef="let row" text-left hidden-small>
              <mcs-list spacing="auto">
                <mcs-list-item *ngFor="let destinationInterface of row.destinationInterfaces">
                  {{ destinationInterface }}
                </mcs-list-item>
              </mcs-list>
            </mcs-data-cell>
          </ng-container>

          <!-- Source Column -->
          <ng-container mcsColumnDef="source" >
            <mcs-header-cell *mcsHeaderCellDef>
              {{ columnSettings.source.text }}
            </mcs-header-cell>
            <mcs-data-cell *mcsDataCellDef="let row" text-wrap>
              <strong visible-small>Address</strong>
              <mcs-list spacing="auto">
                <mcs-list-item *ngFor="let source of row.sourceAddresses">
                  {{ source }}
                </mcs-list-item>
              </mcs-list>

              <strong visible-small>Interface</strong>
              <mcs-list spacing="auto" visible-small>
                <mcs-list-item *ngFor="let sourceInterfaces of row.sourceInterfaces">
                  {{ sourceInterfaces }}
                </mcs-list-item>
              </mcs-list>
            </mcs-data-cell>
          </ng-container>

          <!-- Destination Interfaces Column -->
          <ng-container mcsColumnDef="destination">
            <mcs-header-cell *mcsHeaderCellDef>
              {{ columnSettings.destination.text }}
            </mcs-header-cell>
            <mcs-data-cell *mcsDataCellDef="let row" text-wrap>
              <strong visible-small>Address</strong>
              <mcs-list spacing="auto">
                <mcs-list-item *ngFor="let destination of row.destinationAddresses">
                  {{ destination }}
                </mcs-list-item>
              </mcs-list>

              <strong visible-small>Interface</strong>
              <mcs-list spacing="auto" visible-small>
                <mcs-list-item *ngFor="let destinationInterface of row.destinationInterfaces">
                  {{ destinationInterface }}
                </mcs-list-item>
              </mcs-list>
            </mcs-data-cell>
          </ng-container>

          <!-- Label Column -->
          <ng-container mcsColumnDef="label">
            <mcs-header-cell *mcsHeaderCellDef hidden-small>
              {{ columnSettings.label.text }}
            </mcs-header-cell>
            <mcs-data-cell *mcsDataCellDef="let row" text-left hidden-small>
              <span>{{ row.label }}</span>
            </mcs-data-cell>
          </ng-container>

          <!-- Schedule Column -->
          <ng-container mcsColumnDef="schedule">
            <mcs-header-cell *mcsHeaderCellDef hidden-small>
              {{ columnSettings.schedule.text }}
            </mcs-header-cell>
            <mcs-data-cell *mcsDataCellDef="let row" text-left hidden-small>
              <mcs-list spacing="auto">
                <mcs-list-item *ngFor="let schedule of row.schedule">
                  {{ schedule }}
                </mcs-list-item>
              </mcs-list>
            </mcs-data-cell>
          </ng-container>

          <!-- Service Column -->
          <ng-container mcsColumnDef="service">
            <mcs-header-cell *mcsHeaderCellDef>
              {{ columnSettings.service.text }}
            </mcs-header-cell>
            <mcs-data-cell *mcsDataCellDef="let row" text-wrap>
              <mcs-list spacing="auto">
                <mcs-list-item *ngFor="let service of row.service">
                  {{ service }}
                </mcs-list-item>
              </mcs-list>
            </mcs-data-cell>
          </ng-container>

          <!-- Details Column -->
          <ng-container mcsColumnDef="details">
            <mcs-header-cell *mcsHeaderCellDef hidden-small>
              {{ columnSettings.details.text }}
            </mcs-header-cell>
            <mcs-data-cell *mcsDataCellDef="let row" text-center hidden-small>
              <mcs-icon [key]="infoIconKey" size="medium"
                (click)="showFirewallPolicyDetails(row)"
                mcsId="select-policy"
                mcsEventTracker="select-policy"
                mcsEventCategory="firewall"
                mcsEventLabel="firewall-details-page"
                mcsCursor="pointer"></mcs-icon>
            </mcs-data-cell>
          </ng-container>

          <!-- Data Status Integration -->
          <ng-container mcsDataStatusDef>
            <mcs-data-empty *mcsDataEmptyDef>
              <span>{{ 'firewall.policies.noPolicies' | translate }}</span>
            </mcs-data-empty>
            <mcs-data-error *mcsDataErrorDef>
              <div class="data-error">
                <span>{{ 'firewall.policies.errorMessage' | translate }}</span>
                <a (click)="retryDatasource()"
                  mcsId
                  mcsEventTracker="retry-policies"
                  mcsEventCategory="firewall"
                  mcsEventLabel="firewall-details-page">{{ 'firewall.policies.retry' | translate }}</a>.
              </div>
            </mcs-data-error>
          </ng-container>

          <mcs-header-row *mcsHeaderRowDef="dataColumns"></mcs-header-row>
          <mcs-data-row *mcsDataRowDef="let row; columns: dataColumns;"
            mcsCursor="pointer" (click)="showFirewallPolicyDetails(row)"></mcs-data-row>
        </mcs-table>

        <!-- Paginator -->
        <mcs-paginator #paginator
          [hidden]="isSearching"
          [totalCount]="totalRecordsCount">
        </mcs-paginator>
      </div>
    </div>

    <!-- Firewall Policy Details -->
    <div [@fadeIn] *ngSwitchCase="firewallPoliciesModeEnum.Details">
      <div class="action-box">
        <mcs-firewall-policy
          [firewallPolicy]="selectedFirewallPolicy"
          (close)="hideFirewallPolicyDetails()"></mcs-firewall-policy>
      </div>
    </div>
  </ng-container>
</mcs-presentation-panel>
