<mcs-item full-width>
  <div mcsAlign="end">
    <mcs-field-select-billing-service
      [billingServices]="billingServices"
      [formControl]="fcBillingService">
    </mcs-field-select-billing-service>
  </div>
</mcs-item>

<div class="widget flat">
  <mcs-vertical-bar-chart
    *ngIf="!processing && !hasError"
    [config]="chartConfig"
    [data]="chartItems$ | async"
    (chartChange)="updateChartUri($event)">
  </mcs-vertical-bar-chart>

  <mcs-report-widget-data-status type="info"
    [processing]="processing"
    [hasError]="hasError"
    (retry)="displayAllBillingServices()">
  </mcs-report-widget-data-status>
</div>
