<div class="bar-chart-layout-wrapper">
  <apx-chart 
    [class.hidden]="!hasData"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [stroke]="chartOptions.stroke"
    [legend]="chartOptions.legend"
    [title]="chartOptions.title">
  </apx-chart>
  <mcs-status-message type="info" [class.hidden]="hasData">
    No data found
  </mcs-status-message>
</div>