<mcs-page [header]="'launchPadSearch.header' | translate: { keyword: keyword }">
  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'launchPadSearch.filterHeader' | translate">
    <!-- Column Filter -->
    <mcs-left-panel-item *mcsLeftPanelItemDef offset="0">
      <mcs-column-selector #crispElementsColumnFilter
        [hidden]="selectedTabIndex !== 0"
        storageKey="crispElements"
        [defaultFilters]="defaultCrispElementsColumnFilters">
      </mcs-column-selector>

      <mcs-column-selector #installedServicesColumnFilter
        [hidden]="selectedTabIndex !== 1"
        storageKey="installedServices"
        [defaultFilters]="defaultInstalledServicesColumnFilters">
      </mcs-column-selector>

    </mcs-left-panel-item>
  </mcs-left-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>
    <div class="listing-table-wrapper">
      <mat-tab-group [(selectedIndex)]="selectedTabIndex">
        <mat-tab label="Elements">
        </mat-tab>
        <mat-tab label="Services">
        </mat-tab>
      </mat-tab-group>
      <mcs-launch-pad-search-elements-result [hidden]="selectedTabIndex !== 0" #searchElementsResult [keyword]="keyword" [columnFilter]="elementsTableFilters"></mcs-launch-pad-search-elements-result>
      <mcs-launch-pad-search-services-result [hidden]="selectedTabIndex !== 1" #searchServicesResult [keyword]="keyword" [columnFilter]="servicesTableFilters"></mcs-launch-pad-search-services-result>
    </div>
  </mcs-content-panel>
</mcs-page>
