@import "../../../../styles/shared/base";

.action-wrapper {
  @include display-flex(row);
  justify-content: flex-end;
  margin-top: $space-medium;

  > * {
    margin-left: $space-medium;
  }
}

.console-wrapper {
  padding: $space-medium;
  border: 1px solid $color-grey-02;
}