<mcs-page [header]="'media.header' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>
    <ng-container *ngIf="hasResources$ | async">
      <mcs-top-panel-item *mcsTopPanelItemDef>
        <mcs-action-item *mcsAccessControl="['TemplateEdit']; feature: 'EnableResourceMediaUpload'"
          (click)="navigateToMediaUpload()"
          mcsId
          mcsEventTracker="upload-media"
          mcsEventCategory="media"
          mcsEventLabel="media-listing-top-panel">
          <mcs-icon [key]="addIconKey"></mcs-icon>
          <span>{{ 'media.uploadMedia' | translate }}</span>
        </mcs-action-item>
      </mcs-top-panel-item>
    </ng-container>

    <mcs-top-panel-item *mcsTopPanelItemDef [ngStyle]="{overflow: 'auto'}">
      <div class="listing-action-wrapper">
        <div class="total-record-count">
          <span>{{ totalRecordsCount | mcsPlural:
              ('media.dataSingular' | translate) : ('media.dataPlural' | translate) }}
          </span>
        </div>
      </div>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'media.leftPanelHeader' | translate">
    <!-- Search -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <mcs-search *ngIf="!isMobile" #search mcsId="media-desktop-search"></mcs-search>
    </mcs-left-panel-item>

    <!-- Column Filter -->
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="'media.columnFilter' | translate" offset="medium">
      <mcs-column-selector #columnFilter
        storageKey="media"
        [defaultFilters]="defaultColumnFilters">
      </mcs-column-selector>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>

    <div class="listing-table-wrapper">
      <!-- Search -->
      <mcs-search *ngIf="isMobile" #search mcsId="media-mobile-search"></mcs-search>

      <!-- Table -->
      <table mat-table [dataSource]="dataSource">
        <!-- Media Name Column -->
        <ng-container matColumnDef="media">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.media' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <a [mcsRouterLink]="[routeKeyEnum.Medium, row.id]"
              mcsId="select-media"
              mcsEventTracker="navigate-to-media"
              mcsEventCategory="media"
              mcsEventLabel="media-listing-page">
              <span [innerHTML]="row.name | mcsDataLabel: 'Unknown'">
              </span>
            </a>
          </td>
        </ng-container>

        <!-- Media Size Column -->
        <ng-container matColumnDef="mediaSize">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.mediaSize' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            {{ row.sizeMB | mcsDataSize: 'MB' }}
          </td>
        </ng-container>

        <!-- Uploaded Date Column -->
        <ng-container matColumnDef="uploadedDate">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.uploadedDate' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            <ng-container *ngIf="row.createdOn">
            {{ row.createdOn | mcsStdDateFormat }}
            </ng-container>
            <span *ngIf="!row.createdOn" [innerHTML]="row.name | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- VDC Column -->
        <ng-container matColumnDef="vdc">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.vdc' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            <span [innerHTML]="row.resourceName | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- Attached To Column -->
        <ng-container matColumnDef="attachedTo">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.attachedTo' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <span [innerHTML]="(row.usageCount | mcsPlural: 'Server') | mcsDataLabel: 'None'">
            </span>
          </td>
        </ng-container>

        <!-- Header and Data row -->
        <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"
          mcsCursor="pointer"
          (click)="navigateToMedia(row)"
          mcsId="select-media"
          mcsEventTracker="navigate-to-media"
          mcsEventCategory="media"
          mcsEventLabel="media-listing-page"></tr>
      </table>

      <!-- Table Statuses -->
      <mcs-item orientation="block">
        <div *ngIf="dataSource?.isInProgress$ | async" align="center">
          <mcs-loader size="medium"></mcs-loader>
        </div>
        <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
          <span>{{ 'media.noMedia' | translate }} </span>
          <ng-container *mcsAccessControl="['TemplateEdit']">
            <span *mcsAccessControl="['TemplateEdit']; feature: 'EnableResourceMediaUpload'">
              Click <a (click)="navigateToMediaUpload()"
              mcsEventTracker="upload-media"
              mcsEventCategory="media"
              mcsEventLabel="empty-media-listing-option">here</a> to upload media.
            </span>
          </ng-container>
        </div>
        <div *ngIf="dataSource?.hasError$ | async" text-center>
          <div class="listing-status-wrapper">
            <span>{{ 'media.errorMessage' | translate }}</span>
            <a (click)="retryDatasource()"
              mcsId
              mcsEventTracker="retry-media"
              mcsEventCategory="media"
              mcsEventLabel="media-listing-page">{{ 'media.retry' | translate }}</a>.
          </div>
        </div>
      </mcs-item>

      <!-- Paginator -->
      <mcs-paginator #paginator
        [hidden]="!hasNextPage"
        [totalCount]="dataSource?.totalCount$ | async">
      </mcs-paginator>
    </div>
  </mcs-content-panel>
</mcs-page>
