<!-- Collapsible content -->
<div #panelElement [@expansionVertical]="collapse ? 'collapsed' : 'expanded'">
  <div class="pricing-calculator-panel">
    <mcs-item orientation="separated">
      <span>{{ 'pricingCalculator.oneOffCost' | translate }}</span>
      <span>${{ order?.charges?.oneOff || 0 }}</span>
    </mcs-item>
  </div>
</div>

<!-- Pricing calculator handler -->
<div class="pricing-calculator-header" mcsCursor="pointer" (click)="toggleWidget()">
  <ng-container *ngIf="isInProgress; else headerTemplate">
    <ng-container *ngTemplateOutlet="inProgressTemplate"></ng-container>
  </ng-container>

  <div class="pricing-calculator-toggle">
    <mcs-icon [@rotate180]="collapse ? 'void' : 'show'"
      color="white" [key]="toggleIconKey"></mcs-icon>
  </div>
</div>

<!-- Pricing calculator header -->
<ng-template #headerTemplate>
  <mcs-item>
    <span>{{ 'pricingCalculator.monthlyCost' | translate }}:</span>
    <span>${{ order?.charges?.monthly || 0 }}</span>
  </mcs-item>
</ng-template>

<!-- Pricing calculator loader -->
<ng-template #inProgressTemplate>
  <mcs-item>
    <mcs-loader></mcs-loader>
    <span>{{ 'pricingCalculator.loading' | translate }} </span>
  </mcs-item>
</ng-template>
