@import "../../../styles/shared/base";

// Scrollable link group
$scrollable-link-group-border: $border-color-light;
// Scrollable link header
$scrollable-link-header-item-min-width: 100px;
$scrollable-link-header-color: $color-grey-02;
$scrollable-link-header-padding: $space-small $space-medium;
$scrollable-link-header-font-size: 16;
$scrollable-link-header-font: $base-font-bold;
// Scrollable link body
$scrollable-link-padding: $space-large;
$scrollable-link-label-color: $color-primary-01;

.scrollable-link-group-wrapper {
  @include display-flex(column);
  @include flex(auto);
  position: relative;
  overflow: hidden;
}

.scrollable-link-wrapper {
  .scroll-link-label {
    margin-bottom: $space-medium;
    color: $scrollable-link-label-color;
  }
}

.scrollable-link-group-header-wrapper {
  display: block;
  @include flex(none);
  border-bottom: 1px solid $scrollable-link-group-border;

  .scrollable-link-header-wrapper {
    cursor: pointer;
    position: relative;
    @include display-flex(row);
    @include align-items(center);
    min-width: $scrollable-link-header-item-min-width;
    padding: $scrollable-link-header-padding;
    color: $scrollable-link-header-color;
    white-space: nowrap;
    @include font-size($scrollable-link-header-font-size);
    font-family: $scrollable-link-header-font;
    height: 100%;
  }
}

.scrollable-link-group-body-wrapper {
  @include display-flex(column);
  @include flex(1);
  padding: $scrollable-link-padding;
}