<!-- Scrollable link group header -->
<div *ngIf="hasMultipleLinks" class="scrollable-link-group-header-wrapper" #headerContainer>
  <mcs-responsive-panel>
    <ng-container *ngFor="let scrollableLink of scrollableLinks">
      <mcs-scrollable-link-header mcsId mcsRipple
        mcsResponsivePanelItem
        [mcsResponsivePanelItemSelectable]="true"
        (click)="onClickLink(scrollableLink)">

        <ng-container *ngIf="!scrollableLink.labelTemplate; else labelTemplate">
          <span>{{ scrollableLink.label }}</span>
        </ng-container>
        <ng-template #labelTemplate>
          <ng-container *ngTemplateOutlet="scrollableLink.labelTemplate.templateRef"></ng-container>
        </ng-template>
      </mcs-scrollable-link-header>
    </ng-container>
  </mcs-responsive-panel>
</div>

<!-- Scrollabe link body wrapper -->
<div class="scrollable-link-group-body-wrapper" mcsScrollable>
  <ng-content></ng-content>
</div>