@import "../../../styles/shared/base";

$large-icon-width: 42px;
$compact-icon-width: 22px;

.cta-list-wrapper {
  .items-container {
    .item-wrapper {
      margin-bottom: $space-large;

      .icon {
        font-size: 46px;
        margin-top: 15px;

        &.compact {
          font-size: 30px;
          margin-top: 0;
        }
      }

      &:not(:first-child) {
        margin-top: $space-medium;
      }

      @include display-flex(row);

      .content-wrapper {
        width: 100%;
        margin-left: $space-large;

        h5, p {
          margin-bottom: $space-xsmall
        }

        h5 {
          line-height: 1rem;
        }
      }
    }
  }
}