<mcs-page [header]="'orderMsLicenseCountChange.title' | translate">
    <!-- Top Panel -->
    <mcs-top-panel *mcsTopPanelDef>

      <!-- Back to previous URL -->
      <mcs-top-panel-item *mcsTopPanelItemDef no-border>
        <mcs-action-item mcsAlign="end"
          mcsNavigateBackward
          mcsId="navigate-back"
          mcsEventTracker="navigate-back"
          mcsEventCategory="order"
          mcsEventLabel="ms-license-count-change">
          <mcs-icon [key]="backIconKey" size="small"></mcs-icon>
          <span>{{ 'shared.wizard.previous' | translate }}</span>
        </mcs-action-item>
      </mcs-top-panel-item>
    </mcs-top-panel>

    <mcs-content-panel *mcsContentPanelDef>

      <mcs-wizard (stepChange)="onWizardStepChanged($event)">

        <!-- Error message -->
        <ng-container mcsWizardErrorTemplate>
          <mcs-form-message #formMessage></mcs-form-message>
        </ng-container>

        <!-- License Count Details Step-->
        <mcs-wizard-step id="license-count-change-details-step"
          [stepTitle]="'orderMsLicenseCountChange.detailsStep.title' | translate"
          customClass="contextual-help-page-wrapper limited-view">

          <form [formGroup]="fgMsLicenseCount" mcsFormGroup>
            <!-- Contextual Catalog Link -->
            <ng-container *ngIf="orderItemType$ | async as orderItemType">
              <mcs-contextual-catalog-link
                [eventLabel]="'license-count-change-product-catalog-link'"
                [orderProductId]="orderItemType.productId">
              </mcs-contextual-catalog-link>
            </ng-container>

            <mcs-item-order-lead-time [orderItemType]="orderItemType$ | async"></mcs-item-order-lead-time>

            <!-- Base License -->
            <mcs-item orientation="block" *ngIf="childLicensesFcConfig$ | async as childLicensesFcConfig">
              <mcs-item>
                <h2 align-self-start>{{ 'orderMsLicenseCountChange.detailsStep.baseLicense.label' | translate }}</h2>
              </mcs-item>
              <mcs-form-field *ngIf="(licenses$ | async) | mcsArrayHasElement">
                <mcs-select required autoSelect="false"
                  [formControl]="fcLicenses"
                  [placeholder]="'orderMsLicenseCountChange.detailsStep.baseLicense.placeholder' | translate"
                  [mcsContextualHelp]="'orderMsLicenseCountChange.detailsStep.baseLicense.helpText' | translate"
                  (selectionChange)="onChangeLicense($event, childLicensesFcConfig)"
                  mcsId="select-ms-license">
                  <mcs-option *ngFor="let license of licenses$ | async"
                    [value]="license.value"
                    [disabled]="isCurrentLicenseHasActiveJob(license?.value?.serviceId, activeJob$ | async)">
                      {{ license.text }}
                  </mcs-option>
                </mcs-select>
              </mcs-form-field>
              <span read-only>{{ noServicesFallbackText | translate }}</span>
            </mcs-item>

            <mcs-item orientation="block" *ngIf="isLoading && fcLicenses?.value?.serviceId">
              <mcs-loader size="small" [mcsTooltip]="loadingText" mcsTooltipPosition="right"></mcs-loader>
            </mcs-item>

            <ng-container *ngIf="!isLoading && fcLicenses?.value?.serviceId; else licenseNoServiceIdTemplate">
              <mcs-item orientation="block" *ngIf="(licenses$ | async) | mcsArrayHasElement"
                [disabled]="isCurrentLicenseHasActiveJob(fcLicenses?.value?.serviceId, activeJob$ | async)"
                [mcsContextualHelp]="'orderMsLicenseCountChange.detailsStep.baseLicense.labelHelpText' | translate">
                <ng-container *ngIf="!fcLicenses?.value?.isTrial; else baseTrialTemplate">
                  <ng-container [ngSwitch]="fcLicenses?.value?.status">
                    <mcs-item orientation="block" *ngSwitchCase="licenseStatusOption.Active">
                      <span align-self-start *ngIf="fcLicenses?.value?.renewalDate | mcsIsNotNullOrEmpty; else baseNoRenewalTemplate">
                        {{ 'orderMsLicenseCountChange.detailsStep.baseLicense.activeLabel' | translate:
                          { renewalDate: fcLicenses?.value?.renewalDate | mcsStdDateFormat }
                        }}
                      </span>
                      <ng-template #baseNoRenewalTemplate>
                        <span align-self-start>
                          {{ 'orderMsLicenseCountChange.detailsStep.baseLicense.activeLabelNoRenewal' | translate }}
                        </span>
                      </ng-template>
                    </mcs-item>
                    <mcs-item *ngSwitchCase="licenseStatusOption.Pending">
                      <span align-self-start>{{ 'orderMsLicenseCountChange.detailsStep.baseLicense.pendingLabel'  | translate }}</span>
                    </mcs-item>
                    <mcs-item *ngSwitchCase="licenseStatusOption.Suspended">
                      <span align-self-start>{{ 'orderMsLicenseCountChange.detailsStep.baseLicense.suspendedLabel'  | translate }}</span>
                    </mcs-item>
                    <mcs-item *ngSwitchDefault>
                      <span>{{ 'orderMsLicenseCountChange.detailsStep.baseLicense.noneStatusLabel' | translate }}</span>
                    </mcs-item>
                  </ng-container>
                </ng-container>
                <ng-template #baseTrialTemplate>
                  <mcs-item >
                    <span>{{ 'orderMsLicenseCountChange.detailsStep.baseLicense.trialLabel' | translate }}</span>
                  </mcs-item>
                </ng-template>
                <mcs-item orientation="block" *ngIf="fcLicenses?.value?.serviceId">
                  <span align-self-start>
                    {{ 'orderMsLicenseCountChange.detailsStep.serviceId' |  translate:  {serviceId:fcLicenses?.value?.serviceId} }}
                  </span>
                </mcs-item>
                <mcs-item orientation="block">
                  <span align-self-start>
                    {{ 'orderMsLicenseCountChange.detailsStep.msSubscriptionId' |  translate:  {msSubscriptionId:fcLicenses?.value?.subscriptionId} }}
                  </span>
                </mcs-item>
                <mcs-item orientation="block">
                  <ng-container *ngIf="fcLicenses?.value?.tenantPrimaryDomain; else noTenantPrimaryDomainTemplate">
                    <span align-self-start>
                      {{ 'orderMsLicenseCountChange.detailsStep.tenant' |  translate:  {tenant:fcLicenses.value.tenantPrimaryDomain} }}
                    </span>
                  </ng-container>
                  <ng-template #noTenantPrimaryDomainTemplate>
                    <span align-self-start>
                      {{ 'orderMsLicenseCountChange.detailsStep.tenant' |  translate:  {tenant:''} }}
                      <span read-only>{{'label.unknown' | translate}}</span>
                    </span>
                  </ng-template>
                </mcs-item>
                <!-- TODO: Orch side finding a way to add this field -->
                <!-- <mcs-item orientation="block">
                  <span align-self-start>
                    {{ 'orderMsLicenseCountChange.detailsStep.provisioningId' |  translate:  {provisioningId:fcLicenses?.value?.pcSubscriptionId} }}
                  </span>
                </mcs-item> -->
                <mcs-item orientation="block"
                  [disabled]="!fcLicenses?.value?.isChangeable">
                  <mcs-field-input-number-arrow
                    [formControl]="fcLicenseCount"
                    [minValue]="minLicenseCountBase"
                    [maxValue]="licenseCountMax(fcLicenses?.value)"
                    [errorMessage]="licenseCountQuantityErrorMessages(fcLicenses?.value)"
                    [suffix]="fcLicenses?.value?.unit"
                    [mcsId]="'input-ms-license-count'">
                  </mcs-field-input-number-arrow>

                  <mcs-hint mcsHint align="start">
                    <span>{{ 'orderMsLicenseCountChange.detailsStep.baseLicense.hint' | translate }}
                     {{ fcLicenses.value?.quantity }} {{ convertUnit(fcLicenses.value?.unit, fcLicenses.value?.quantity)}}
                     {{ getCountLabel(fcLicenses?.value, fcLicenseCount) }}
                    </span>
                  </mcs-hint>
                  <mcs-hint *ngIf="showCooldownPeriodText(fcLicenses?.value)" mcsHint align="start">
                    <span>{{ 'orderMsLicenseCountChange.detailsStep.baseLicense.cooldownPeriodLapsed' | translate }}</span>
                  </mcs-hint>
                  <mcs-hint *ngIf="getProRatedLabel(fcLicenses?.value)" mcsHint align="start">
                    <span>{{ getProRatedLabel(fcLicenses?.value) }}</span>
                  </mcs-hint>
                </mcs-item>
              </mcs-item>

              <!-- AddOns -->
              <mcs-item orientation="block" [disabled]="!fcLicenses?.value?.isChangeable">
                <ng-container *ngIf="childLicensesFcConfig$ | async as childLicensesFcConfig">
                  <ng-container *ngIf="childLicensesFcConfig | mcsArrayHasElement">
                    <h2 align-self-start padding-top-medium>{{ 'orderMsLicenseCountChange.detailsStep.addons.label' | translate }}</h2>
                    <ng-container *ngFor="let childLicensesFcItem of childLicensesFcConfig">
                      <mcs-item orientation="block"
                        [mcsContextualHelp]="'orderMsLicenseCountChange.detailsStep.addons.helpText' | translate">
                        <mcs-item orientation="block">
                          <strong align-self-start>{{ childLicensesFcItem?.license?.name  }} </strong>
                        </mcs-item>
                        <ng-container *ngIf="!childLicensesFcItem?.license?.isTrial; else addOnTrialTemplate">
                          <ng-container [ngSwitch]="childLicensesFcItem?.license?.status">
                            <mcs-item orientation="block" *ngSwitchCase="licenseStatusOption.Active">
                              <span align-self-start *ngIf="fcLicenses?.value?.renewalDate | mcsIsNotNullOrEmpty; else baseNoRenewalTemplate">
                                {{ 'orderMsLicenseCountChange.detailsStep.addons.activeLabel' | translate:
                                  { renewalDate: childLicensesFcItem?.license?.renewalDate | mcsStdDateFormat }
                                }}
                              </span>
                              <ng-template #baseNoRenewalTemplate>
                                <span align-self-start>
                                  {{ 'orderMsLicenseCountChange.detailsStep.addons.activeLabelNoRenewal' | translate }}
                                </span>
                              </ng-template>
                            </mcs-item>
                            <mcs-item *ngSwitchCase="licenseStatusOption.Pending">
                              <span align-self-start>{{ 'orderMsLicenseCountChange.detailsStep.addons.pendingLabel' | translate }}</span>
                            </mcs-item>
                            <mcs-item *ngSwitchCase="licenseStatusOption.Suspended">
                              <span align-self-start>{{ 'orderMsLicenseCountChange.detailsStep.addons.suspendedLabel' | translate }}</span>
                            </mcs-item>
                            <mcs-item *ngSwitchDefault>
                              <span>{{ 'orderMsLicenseCountChange.detailsStep.addons.noneStatusLabel' | translate }}</span>
                            </mcs-item>
                          </ng-container>
                        </ng-container>
                        <ng-template #addOnTrialTemplate>
                          <mcs-item >
                            <span>{{ 'orderMsLicenseCountChange.detailsStep.addons.trialLabel' | translate }}</span>
                          </mcs-item>
                        </ng-template>
                        <mcs-item orientation="block" *ngIf="childLicensesFcItem?.license?.serviceId">
                          <span align-self-start>
                            {{ 'orderMsLicenseCountChange.detailsStep.serviceId' |  translate:  { serviceId: childLicensesFcItem?.license?.serviceId } }}
                          </span>
                        </mcs-item>
                        <mcs-item orientation="block">
                          <span align-self-start>
                            {{ 'orderMsLicenseCountChange.detailsStep.msSubscriptionId' |  translate:  { msSubscriptionId: childLicensesFcItem?.license?.subscriptionId } }}
                          </span>
                        </mcs-item>
                        <mcs-item orientation="block">
                          <ng-container *ngIf="childLicensesFcItem?.license?.tenantPrimaryDomain; else noChildLicenseTenantPrimaryDomainTemplate">
                            <span align-self-start>
                              {{ 'orderMsLicenseCountChange.detailsStep.tenant' |  translate:  {tenant:childLicensesFcItem.license.tenantPrimaryDomain} }}
                            </span>
                          </ng-container>
                          <ng-template #noChildLicenseTenantPrimaryDomainTemplate>
                            <span align-self-start>
                              {{ 'orderMsLicenseCountChange.detailsStep.tenant' |  translate:  {tenant:''} }}
                              <span read-only>{{'label.unknown' | translate}}</span>
                            </span>
                          </ng-template>
                        </mcs-item>
                        <!-- TODO: Orch side finding a way to add this field -->
                        <!-- <mcs-item orientation="block">
                          <span align-self-start>
                            {{ 'orderMsLicenseCountChange.detailsStep.provisioningId' |  translate:  {provisioningId:fcLicenses?.value?.pcSubscriptionId} }}
                          </span>
                        </mcs-item> -->
                        <mcs-item orientation="block"
                          [disabled]="!childLicensesFcItem?.license?.isChangeable">
                          <mcs-field-input-number-arrow
                            [formControl]="getFormControl(childLicensesFcItem?.childFormControlName)"
                            [minValue]="getMinLicenseCount(childLicensesFcItem?.license)"
                            [maxValue]="licenseCountMax(childLicensesFcItem?.license)"
                            [errorMessage]="licenseCountQuantityErrorMessages(childLicensesFcItem?.license)"
                            [suffix]="childLicensesFcItem?.license?.unit"
                            [mcsId]="'input-ms-license-count'">
                          </mcs-field-input-number-arrow>

                          <mcs-hint mcsHint align="start">
                            <span>{{ 'orderMsLicenseCountChange.detailsStep.baseLicense.hint' | translate }}
                             {{ childLicensesFcItem?.license?.quantity }}
                             {{ convertUnit(childLicensesFcItem?.license?.unit, childLicensesFcItem?.license?.quantity) }}
                             {{ getCountLabel(childLicensesFcItem?.license, getFormControl(childLicensesFcItem?.childFormControlName)) }}
                            </span>
                          </mcs-hint>
                          <mcs-hint *ngIf="showCooldownPeriodText(childLicensesFcItem?.license)" mcsHint align="start">
                            <span>{{ 'orderMsLicenseCountChange.detailsStep.baseLicense.cooldownPeriodLapsed' | translate }}</span>
                          </mcs-hint>
                          <mcs-hint *ngIf="getProRatedLabel(childLicensesFcItem?.license)" mcsHint align="start">
                            <span>{{ getProRatedLabel(childLicensesFcItem?.license) }}</span>
                          </mcs-hint>
                        </mcs-item>
                      </mcs-item>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </mcs-item>

              <div class="action-items">
                <button mcsButton arrow="right"
                  mcsWizardStepNext
                  (click)="onSubmitMsLicenseCountChangeDetails(fcLicenses?.value)"
                  [disabled]="!(formIsValid && (licensesHasValueChange$ | async))"
                  mcsId="step-1-next"
                  mcsEventTracker="step-1-next"
                  mcsEventCategory="order"
                  mcsEventLabel="ms-license-count-change">{{ 'shared.wizard.next' | translate }}</button>
              </div>
            </ng-container>
            <ng-template #licenseNoServiceIdTemplate>
              <ng-container *ngIf="fcLicenses?.value && !fcLicenses?.value?.serviceId">
                <mcs-item>
                  <span>{{ 'orderMsLicenseCountChange.detailsStep.baseLicense.noServiceId' | translate }}</span>
                </mcs-item>
              </ng-container>
            </ng-template>
          </form>
        </mcs-wizard-step>

        <!-- Confirm Step  -->
        <mcs-wizard-step id="confirm-step"
          [stepTitle]="'shared.wizard.confirm' | translate"
          customClass="contextual-help-page-wrapper limited-view">

          <mcs-step-order-details [order]="order$ | async"
            [orderItemType]="orderItemType$ | async"
            [requestState]="dataStatus$ | async"
            [eventTrack]="orderEventTrack.billingDetailsStep"
            (dataChange)="onOrderDetailsChange($event)"
            (submitOrder)="onSubmitOrder($event)">
          </mcs-step-order-details>
        </mcs-wizard-step>

        <!-- Go! Step  -->
        <mcs-wizard-step id="go-step"
          [stepTitle]="'shared.wizard.completed' | translate"
          customClass="limited-view">

          <mcs-step-provisioning [jobs]="jobs$ | async" [requestState]="dataStatus$ | async">
            <ng-container mcsProvisioningStepDescription>
              {{ 'orderMsLicenseCountChange.provisioningStep.description' | translate }}
            </ng-container>

            <ng-container mcsProvisioningStepInProgress>
              <span *ngIf="orderIsToBeSubmitted">{{ 'orderMsLicenseCountChange.provisioningStep.dataInProgress' | translate }}</span>
              <span *ngIf="!orderIsToBeSubmitted">{{ 'provisioningStep.savingOrder' | translate }}</span>
            </ng-container>
          </mcs-step-provisioning>
        </mcs-wizard-step>
      </mcs-wizard>

    </mcs-content-panel>
  </mcs-page>
