<mcs-grid>
  <mcs-grid-row>
    <mcs-grid-column>
      <span>{{ textContent.serviceVariant.label }}:</span>
    </mcs-grid-column>
    <mcs-grid-column>
      <mcs-select [(ngModel)]="selectedHidsServiceVariant"
        (change)="onServiceVariantChanged()"
        [placeholder]="textContent.serviceVariant.placeholder"
        class="form-field-size-small">
        <mcs-option *ngFor="let serviceVariant of hidsServiceVariants" [value]="serviceVariant">
          {{ serviceVariant }}
        </mcs-option>
      </mcs-select>
    </mcs-grid-column>
  </mcs-grid-row>

  <mcs-grid-row>
    <mcs-grid-column>
      <span>{{ textContent.protectionLevel.label }}:</span>
    </mcs-grid-column>
    <mcs-grid-column>
      <mcs-select [(ngModel)]="selectedHidsProtectionLevel"
        (change)="onProtectionLevelChanged()"
        [placeholder]="textContent.protectionLevel.placeholder"
        class="form-field-size-small">
        <ng-container *ngFor="let protectionLevel of hidsProtectionLevels">
          <mcs-option [value]="protectionLevel">
            {{ protectionLevel }}
          </mcs-option>
        </ng-container>
      </mcs-select>
    </mcs-grid-column>
  </mcs-grid-row>

  <mcs-grid-row>
    <mcs-grid-column>
      <span>{{ textContent.policyTemplate.label }}:</span>
    </mcs-grid-column>
    <mcs-grid-column>
      <mcs-select [(ngModel)]="selectedHidsPolicyTemplate"
        (change)="onPolicyTemplateChanged()"
        [placeholder]="textContent.policyTemplate.placeholder"
        class="form-field-size-small">
        <mcs-option
          *ngFor="let policyTemplate of hidsPolicyTemplates"
          [value]="policyTemplate">
          {{ policyTemplate }}
        </mcs-option>
      </mcs-select>
    </mcs-grid-column>
  </mcs-grid-row>
</mcs-grid>
