<mcs-page [storageKey]="featureName"
  [defaultFilters]="defaultColumnFilters"
  [header]="'networkDb.vlans.header' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef [active]="dataSelection?.someItemsAreSelected()">

    <!-- Meta Data -->
    <mcs-top-panel-item *mcsTopPanelItemDef [ngStyle]="{overflow: 'auto'}">
      <div class="listing-action-wrapper">
        <ng-container *ngIf="dataSource?.isSorting$ | async; else totalCountTemplate">
          <div class="sorting-label">
            <span padding-right-small>{{ 'label.sorting' | translate }}</span><mcs-loader size="medium"></mcs-loader>
          </div>
        </ng-container>
        <ng-template #totalCountTemplate>
          <div class="total-record-count" *ngIf="dataSource?.totalCount$ | async as totalCount">
            <span>{{ totalCount | mcsPlural:
                  ('networkDb.vlans.dataSingular' | translate) : ('networkDb.vlans.dataPlural' | translate) }}
            </span>
          </div>
        </ng-template>
      </div>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'networkDb.vlans.leftPanelHeader' | translate">
    <!-- Search -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <mcs-search *ngIf="!isMobile" #search mcsId="deployments-desktop-search"></mcs-search>
    </mcs-left-panel-item>

    <!-- Column Filter -->
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="'networkDb.vlans.columnFilter' | translate" offset="medium">
      <mcs-column-selector #columnFilter
        [storageKey]="featureName"
        [defaultFilters]="defaultColumnFilters">
      </mcs-column-selector>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>

    <div class="listing-table-wrapper">
      <!-- Search -->
      <mcs-search *ngIf="isMobile" #search mcsId="network-db-vlans-mobile-search"></mcs-search>

      <table mat-table [dataSource]="dataSource" margin-top-none matSort #sort="matSort">

        <!-- Number Column -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="number" disableClear>
            {{ 'columnHeader.number' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.number }}
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef hidden-xsmall mat-sort-header="status" disableClear>
            {{ 'columnHeader.status' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-xsmall>
            {{ getStatusText(row.status) }}
          </td>
        </ng-container>

        <!--Is Infrastructure Flag Column -->
        <ng-container matColumnDef="isInfrastructure">
          <th mat-header-cell *matHeaderCellDef hidden-xsmall mat-sort-header="isInfrastructure" disableClear>
            {{ 'columnHeader.isInfrastructure' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-xsmall>
            {{ row.isInfrastructure }}
          </td>
        </ng-container>

        <!-- POD Column -->
        <ng-container matColumnDef="pod">
          <th mat-header-cell *matHeaderCellDef hidden-xsmall mat-sort-header="podName" disableClear>
            {{ 'columnHeader.pod' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-xsmall>
            <ng-container *ngIf="!row.podLabel; else podNameView">
              <span [innerHTML]="row.podLabel | mcsDataLabel: 'Unknown'"></span>
            </ng-container>

            <ng-template #podNameView>
              <mcs-item orientation="block" spacing="xs">
                <span [innerHTML]="row.podName | mcsDataLabel: 'Unknown'"></span>
                <span read-only>(<span no-margin [innerHTML]="row.podSiteName | mcsDataLabel: 'Unknown'"></span>)</span>
              </mcs-item>
            </ng-template>
          </td>
        </ng-container>

        <!-- Network Column -->
        <ng-container matColumnDef="network">
          <th mat-header-cell *matHeaderCellDef hidden-xsmall mat-sort-header="networkName" disableClear>
            {{ 'columnHeader.network' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-xsmall>
            <ng-container *ngIf="row.networkName; else networkView">
              <mcs-item orientation="block" spacing="xs">
                <a [mcsRouterLink]="[routeKeyEnum.LaunchPadNetworkDbNetworkDetails, row.networkId?.toString()]"
                  mcsId mcsStopPropagation
                  mcsEventTracker="navigate-to-network"
                  mcsEventCategory="network"
                  mcsEventLabel="vlan-listing-page">
                  {{ row.networkName }}
                </a>
                <span read-only *ngIf="row.networkServiceId">(<span no-margin [innerHTML]="row.networkServiceId"></span>)</span>
              </mcs-item>
            </ng-container>

            <ng-template #networkView>
              <span [innerHTML]="row.networkLabel | mcsDataLabel: 'Unknown'"></span>
            </ng-template>
          </td>
        </ng-container>

        <!-- Network Company Column -->
        <ng-container matColumnDef="networkCompany">
          <th mat-header-cell *matHeaderCellDef hidden-xsmall>
            {{ 'columnHeader.networkCompany' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-xsmall>
            <ng-container *ngIf="!row.networkCompanyLabel; else networkCompanyView">
              <span [innerHTML]="row.networkCompanyLabel | mcsDataLabel: 'None'"></span>
            </ng-container>

            <ng-template #networkCompanyView>
              <mcs-item orientation="block" spacing="xs">
                <span [innerHTML]="row.networkCompanyName | mcsDataLabel: 'Unknown'"></span>
                <span read-only>(<span no-margin [innerHTML]="row.networkCompanyId | mcsDataLabel: 'Unknown'"></span>)</span>
              </mcs-item>
            </ng-template>
          </td>
        </ng-container>

        <!-- Updated On Column -->
        <ng-container matColumnDef="updatedOn">
          <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="updatedOn" disableClear>
            {{ 'columnHeader.updatedOn' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            {{ row.updatedOn | mcsStdDateFormat }}
          </td>
        </ng-container>

        <!-- Created By Column -->
        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="createdBy" disableClear>
            {{ 'columnHeader.createdBy' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            {{ row.createdBy }}
          </td>
        </ng-container>

        <!-- Created On Column -->
        <ng-container matColumnDef="createdOn">
          <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="createdOn" disableClear>
            {{ 'columnHeader.createdOn' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            {{ row.createdOn | mcsStdDateFormat }}
          </td>
        </ng-container>

        <!-- Updated By Column -->
        <ng-container matColumnDef="updatedBy">
          <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="updatedBy" disableClear>
            {{ 'columnHeader.updatedBy' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            {{ row.updatedBy }}
          </td>
        </ng-container>

        <!-- Header and Data row -->
        <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async"
          [disabled]="dataSource?.isInProgress$ | async"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"
          mcsCursor="pointer"
          (click)="navigateToVlan(row)"
          mcsId="vlan-{{ row.number }}"
          mcsEventTracker="navigate-to-vlan"
          mcsEventCategory="launchpad-network-db"
          mcsEventLabel="vlans-listing-page"></tr>
      </table>

      <!-- Table Statuses -->
      <mcs-item orientation="block">
        <div *ngIf="dataSource?.isInProgress$ | async" align="center">
          <mcs-loader size="medium"></mcs-loader>
        </div>
        <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
          {{ 'networkDb.vlans.noRecordsFound' | translate }}
        </div>
        <div *ngIf="dataSource?.hasError$ | async" text-center>
          <div class="listing-status-wrapper">
            <span>{{ 'networkDb.vlans.errorMessage' | translate }}</span>
            <a (click)="retryDatasource()"
              mcsId
              mcsEventTracker="retry-loading-network-db-site-list"
              mcsEventCategory="launchpad-network-db"
              mcsEventLabel="vlans-listing-page">{{ 'networkDb.vlans.retry' | translate }}</a>.
          </div>
        </div>
      </mcs-item>

      <!-- Paginator -->
      <mcs-paginator #paginator
        [totalCount]="dataSource?.totalCount$ | async">
      </mcs-paginator>
    </div>
  </mcs-content-panel>
</mcs-page>
