<ng-container *ngIf="loadingInProgress; else serviceTemplate">
  <mcs-loader size="small"
    mcsTooltipPosition="right"></mcs-loader>
</ng-container>
<ng-template #serviceTemplate>
  <ng-container>
    <mcs-item [mcsGreyedOut]="true">
      <p [innerHTML]="description | mcsNewLines"></p>
    </mcs-item>
  </ng-container>
  <mcs-item orientation="block">
    <ng-container *ngIf="colocationGroups | mcsIsNotNullOrEmpty">
      <mcs-form-field>
        <mcs-select
          mcsId="colocation-service"
          mcsEventTracker="select-rack-service"
          mcsEventCategory="order"
          mcsEventLabel="{{eventLabel}}"
          [formControl]="ngControl?.control"
          [placeholder]="config.placeholderText"
          [mcsContextualHelp]="config.contextualHelpText">
          <mcs-option-group *ngFor="let colocationGroup of colocationGroups">
            <ng-container *mcsOptionGroupLabel>
              <span>{{ colocationGroup?.groupName }}</span>
            </ng-container>
            <mcs-option *ngFor="let service of colocationGroup.options"  [value]="service.value">
              {{ service.text }}
            </mcs-option>
          </mcs-option-group>
        </mcs-select>
        <mcs-error mcsError errorState="required"
          [innerHTML]="('smacShared.fallback.colocationService' | translate)">
        </mcs-error>
      </mcs-form-field>
    </ng-container>
    <span read-only>{{ noServicesFallbackText | translate }}</span>
  </mcs-item>
</ng-template>