@import "base";

// Header definitions
$system-message-header-bg-color: $color-black;
$system-message-header-color: $color-white;
$system-message-header-large-padding: $space-large;
$system-message-header-small-padding: $space-medium;

.system-message-wrapper {
  @include display-flex(row);
  @include align-items(center);
  z-index: $zindex-header;
  height: $shared-header-panel-height;
  padding-left: $system-message-header-large-padding;
  padding-right: $system-message-header-large-padding;
  background-color: $system-message-header-bg-color;
  color: $system-message-header-color;

  @include breakpoint(small) {
    padding-left: $system-message-header-small-padding;
    padding-right: $system-message-header-small-padding;
  }
}
