<mat-form-field
  *ngIf="visible"
  appearance="outline"
  [hintLabel]="config.hint">
  <mat-label [attr.for]="id">{{ label }}</mat-label>

  <input #control matInput
    [id]="id"
    [required]="required"
    [disabled]="disabled"
    [readonly]="config.readonly"
    [placeholder]="config.placeholder"
    [maxlength]="config.validators?.maxlength"
    [minlength]="config.validators?.minlength"
    [(ngModel)]="config.value"
    (input)="valueChange($event)"/>
  <button mat-icon-button matSuffix
    type="button"
    (click)="copy(control)"
    matTooltip="Copy to clipboard"
    matTooltipPosition="above">
    <mat-icon color="primary">content_copy</mat-icon>
  </button>
  <button mat-icon-button matPrefix
    type="button"
    (click)="generate()"
    matTooltip="Generate random string"
    matTooltipPosition="above">
    <mat-icon>refresh</mat-icon>
  </button>

  <mat-hint align="end" *ngIf="config.validators?.maxlength > 0">{{control.value?.length || 0}}/{{ config.validators?.maxlength }}</mat-hint>
</mat-form-field>
