@import "shared/index";

.image-wrapper {
  @include display-inline-flex(row);
  @include align-items(center);
  justify-content: center;
  vertical-align: middle;
  width: 100%;
}

.image-container {
  @include display-flex(row);
  @include align-items(center);
  justify-content: center;
  width: 100%;
  background-repeat: no-repeat;
}