<div class="widget azure-ticket-wrapper mat-elevation-z2">
  <h3>
    {{ title }}
  </h3>
  <ng-container *mcsAccessControl="['TicketView']; else noTicketView">
    <span *mcsExclusiveForAccount="'default'">
      <a *mcsAccessControl="['TicketCreate']"
        class="hide-on-print new-ticket-link"
        [mcsRouterLink]="[routeKeyEnum.TicketCreate]"
        mcsId
        mcsEventTracker="create-new-ticket"
        mcsEventCategory="ticket"
        mcsEventLabel="azure-tickets-widget">
        {{ 'label.new' | translate }}
      </a>
    </span>
    <div class="listing-table-wrapper table-widget-wrapper">
      <!-- Table -->
      <table mat-table #table [dataSource]="dataSource">
        <!-- Summary Column -->
        <ng-container matColumnDef="summary">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.summary' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" [mcsTextTruncate]="row.shortDescription" mcsTextTruncateSize="100px">
            <mcs-icon [key]="getStatusIcon(row.stateLabel)" size="small" style="margin-right: 5px;"></mcs-icon>
            <span>{{ row.shortDescription }}</span>
          </td>
        </ng-container>

        <!-- Last Updated Date Column -->
        <ng-container matColumnDef="lastUpdatedDate">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.lastUpdatedDate' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.updatedOn | mcsStdDateFormat: 'friendly' }}
          </td>
        </ng-container>

        <!-- Header and Data row -->
        <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"
          (click)="navigateToTicket(row)"
          mcsCursor="pointer"
          mcsId="ticket-row"
          mcsEventTracker="navigate-to-ticket"
          mcsEventCategory="reports-widget"
          mcsEventLabel="azure-tickets-widget"></tr>
      </table>

      <!-- Data Status Integration -->
      <mcs-item orientation="block">
        <div *ngIf="dataSource?.isInProgress$ | async" align="center">
          <mcs-loader size="medium"></mcs-loader>
        </div>
        <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
          <span>{{ 'reports.overview.azureTicketsWidget.empty' | translate }}</span>
          <ng-container *mcsAccessControl="['TicketCreate']">
            <span *mcsExclusiveForAccount="'default'">
              Click <a [mcsRouterLink]="[routeKeyEnum.TicketCreate]"
              mcsId
              mcsEventTracker="create-new-ticket"
              mcsEventCategory="ticket"
              mcsEventLabel="azure-tickets-widget">here</a> to create new ticket.
            </span>
          </ng-container>
        </div>
        <div *ngIf="dataSource?.hasError$ | async" text-center>
          <mcs-data-status-error mcsDataError>
            <span>{{ 'reports.errorMessage' | translate }} </span>
            <a (click)="retryDatasource()"
              mcsId
              mcsEventTracker="retry-loading-ticket-list"
              mcsEventCategory="ticket"
              mcsEventLabel="azure-tickets-widget">{{ 'message.tryAgain' | translate }}</a>
          </mcs-data-status-error>
        </div>
      </mcs-item>

      <!-- More -->
      <div style="text-align: center" *ngIf="hasMore">
        <a
          class="hide-on-print"
          [mcsRouterLink]="[routeKeyEnum.Tickets]"
          mcsId
          mcsEventTracker="navigate-to-ticket-listing"
          mcsEventCategory="ticket"
          mcsEventLabel="azure-tickets-widget">
          {{ 'label.viewAll' | translate }}
        </a>
      </div>
    </div>
  </ng-container>
  <ng-template #noTicketView>
    <mcs-status-message type="info">
      {{ 'reports.overview.azureTicketsWidget.noTicketViewPermission' | translate }}
    </mcs-status-message>
  </ng-template>
</div>
