@import "../../../../styles/shared/base";

.azure-ticket-wrapper {
  position: relative;

  .new-ticket-link {
    position: absolute;
    top: $space-large;
    right: $space-large;
  }

  .listing-table-wrapper {
    max-width: 100%;
    min-width: 100%;
    overflow-x: auto;

    .mat-table {
      min-width: 100%;
    }
  }
}