<ng-container [ngSwitch]="dataStatus">
  <!-- In Progress status -->
  <div *ngSwitchCase="dataStatusEnum.InProgress">
    <ng-content select="[mcsDataInProgress]"></ng-content>
  </div>

  <!-- Successfull status -->
  <div *ngSwitchCase="dataStatusEnum.Success">
    <ng-content select="[mcsDataSuccess]"></ng-content>
  </div>

  <!-- Empty records status -->
  <div *ngSwitchCase="dataStatusEnum.Empty">
    <ng-content select="[mcsDataEmpty]"></ng-content>
  </div>

  <!-- Error obtainment status -->
  <div *ngSwitchCase="dataStatusEnum.Error">
    <ng-content select="[mcsDataError]"></ng-content>
  </div>
</ng-container>