<ng-container [ngSwitch]="dataStatus">
  <!-- In Progress status -->
  <div *ngSwitchCase="dataStatusEnum.InProgress">
    <ng-content select="[mcsDataInProgress]"></ng-content>
  </div>

  <!-- Successfull status -->
  <div *ngSwitchCase="dataStatusEnum.Success" [@fadeIn]>
    <ng-content select="[mcsDataSuccess]"></ng-content>
  </div>

  <!-- Empty records status -->
  <div *ngSwitchCase="dataStatusEnum.Empty" [@fadeIn]>
    <ng-content select="[mcsDataEmpty]"></ng-content>
  </div>

  <!-- Error obtainment status -->
  <div *ngSwitchCase="dataStatusEnum.Error" [@fadeIn]>
    <ng-container *ngIf="errorTemplate; else defaultErrorTemplate">
      <ng-content select="[mcsDataError]"></ng-content>
    </ng-container>
    <ng-template #defaultErrorTemplate>
      <mcs-data-status-error>
        <span>{{ textContent.errorMessage }}</span>
      </mcs-data-status-error>
    </ng-template>
  </div>
</ng-container>