@import "../../../styles/shared/base";

$data-status-size: 30px;

.data-status-wrapper {
  display: block;
  &.left {
    .data-status-content-wrapper {
      justify-content: flex-start;
    }
  }

  &.center {
    .data-status-content-wrapper {
      justify-content: center;
    }
  }

  &.right {
    .data-status-content-wrapper {
      justify-content: flex-end;
    }
  }
}

.data-status-content-wrapper {
  @include display-flex(row);
  @include align-items(center);
  @include set-items-interval($space-small, horizontal);
  min-height: $data-status-size;

  &.center {
    justify-content: center;
  }

  .data-status-empty-wrapper,
  .data-status-error-wrapper,
  .data-status-in-progress-wrapper{
    display: block;
  }

  .data-status-success-wrapper {
    display: block;
    width: 100%;
  }
}