<div class="ticket-server-wrapper">
  <!-- Service header main wrapper -->
  <div class="services-name-wrapper">
    <div *ngFor="let item of services; trackBy: trackByFn"
      class="service-item" [ngClass]="{active: isActive(item)}">
      <a (click)="setSelectedService(item)">{{ item.serviceName }}</a>
      <mcs-icon [key]="caretRightIconKey"></mcs-icon>
    </div>
  </div>

  <!-- Service items wrapper -->
  <div class="services-items-wrapper">
    <div class="search">
      <mcs-search #search delayInSeconds="none"></mcs-search>
    </div>
    <div class="services">
      <ng-container *ngIf="displayedServices">
        <ul class="unstyled-list">
          <li *ngFor="let serviceItem of (displayedServices | mcsTicketServicePipe)">
            <mcs-checkbox
              [label]="serviceItem.name"
              [(ngModel)]="serviceItem.isChecked"
              (change)="onCheckedService(serviceItem)"></mcs-checkbox>
          </li>
        </ul>
      </ng-container>
    </div>
  </div>
</div>