@import '../../../../styles/shared/base';

// State change notificaiton UI (Individual)
$state-change-notification-width: 450px;
$state-change-notification-padding: 10px 20px;
$state-change-notification-border: 2px solid $color-grey-02;
$state-change-notification-status-font-size: 14;
$state-change-notification-message-font-size: 12;
$state-change-notification-icon-font-size: 30;
$state-change-notification-icon-width: $state-change-notification-icon-font-size + px;

.state-change-notification-container {
  position: relative;
  width: 100%;
  padding: $state-change-notification-padding;
  border: $state-change-notification-border;
  @include display-flex(row);
  color: $color-white;
  background-color: rgba($color-black, 0.87);

  .information {
    @include flex(1);
    @include display-flex(column);
    padding-right: $space-large;
    border-right: 1px solid gray;
    @include breakpoint(medium) {
      border-right: none;
    }
    .status {
      @include set-items-interval(20px, horizontal);
      @include display-flex(row);
      align-items: center;
      margin-bottom: $space-small;

      .icon {
        width: $state-change-notification-icon-width;
        @include font-size($state-change-notification-icon-font-size);

        &.completed {
          color: $color-green-00;
        }
        &.active {
          color: $color-black;
        }
        &.failed {
          color: $color-red-00;
        }
      }

      .description-container {
        @include set-items-interval(5px, vertical);
        .main {
          @include font-size($state-change-notification-status-font-size);
          font-family: $base-font-bold;
          vertical-align: top;
        }
        .sub {
          @include font-size($state-change-notification-message-font-size);
          font-family: $base-font;
          vertical-align: top;
        }
      }
    }

    .failure-message {
      clear: both;
      margin-bottom: $space-xsmall;
      font-family: $base-font;
      @include font-size($state-change-notification-message-font-size);
    }
  }

  .owner-info {
    color: $color-grey-02;
    font-family: $base-font;
    margin: 0 $space-large;
    width: 90px;
    @include font-size($state-change-notification-message-font-size);
  }
}