<div class="state-change-notification-container" [@animate]="animate">
  <div class="information">
    <div class="status">
      <mcs-icon class="icon" [key]="iconStatusKey"
        [color]="iconStatusColor" size="medium"></mcs-icon>

      <div class="description-container">
        <span class="main">{{ attribute.description }}</span><br/>
        <span class="sub">{{ attribute.summaryInformation }}</span>
      </div>
    </div>
    <div *ngIf="displayErrorMessage(attribute.status)" class="failure-message">
      <span>{{ attribute.errorMessage }}</span>
    </div>
  </div>

  <div class="owner-info">
    <span>{{ getStartTime() }}</span><br/>
    <span>{{ attribute.ownerName }}</span>
  </div>

  <a class="icon-link" (click)="onClickCloseBtn()">
    <mcs-icon class="icon" [key]="closeIconKey" size="small"></mcs-icon>
  </a>
</div>