@import "../../../../styles/shared/base";

$option-padding: $space-xsmall $space-small;
$option-hover-color: $hover-bg-color;
$option-active-color: $active-bg-color;
$option-selected-color: $selected-bg-color;

.option-wrapper {
  display: block;
  outline: none;
  cursor: pointer;
  padding: $option-padding;

  .option-checkbox-icon {
    pointer-events: none;
  }

  &.option-disabled {
    cursor: default;
    font-style: italic;
    opacity: 0.5;
  }

  &.option-selected:not(.option-checkable) {
    background-color: $option-selected-color;
  }

  &.option-active {
    background-color: $option-active-color;
  }

  &:hover {
    background-color: $option-hover-color;
  }
}