<div class="widget">
  <h3>{{ 'reports.overview.changeRequestsWidget.title' | translate }}</h3>
  <div class="data-wrapper">
    <mcs-cta-list>
      <mcs-cta-list-panel [icon]="azureServiceRequestIcon" *mcsAccessControl="['OrderEdit']; feature: ['EnableOrderingMicrosoftRequestChange']">
        <mcs-cta-list-header link="servers">
          <a href="{{ azureServiceRequestLink }}">
            {{ 'reports.overview.changeRequestsWidget.changeServiceRequest.link' | translate }}
          </a>
        </mcs-cta-list-header>
        <mcs-cta-list-body>
          {{ 'reports.overview.changeRequestsWidget.changeServiceRequest.description' | translate }}
        </mcs-cta-list-body>
      </mcs-cta-list-panel>
      <mcs-cta-list-panel [icon]="changeLicenseCountIcon" *mcsAccessControl="['OrderEdit'];">
        <mcs-cta-list-header link="servers">
          <a href="{{ changeLicenseCountLink }}">
            {{ 'reports.overview.changeRequestsWidget.changeLicenseCount.link' | translate }}
          </a>
        </mcs-cta-list-header>
        <mcs-cta-list-body>
          {{ 'reports.overview.changeRequestsWidget.changeLicenseCount.description' | translate }}
        </mcs-cta-list-body>
      </mcs-cta-list-panel>
      <!-- temporarily hidden until Change DNS page is available -->
      <!-- <mcs-cta-list-panel [icon]="changeDnsZoneIcon" *mcsAccessControl="['OrderEdit']; feature: ['EnableOrderingDnsCustomRequest']">
        <mcs-cta-list-header link="servers">
          <a href="{{ changeManagedDnsLink }}">
            {{ 'reports.overview.changeRequestsWidget.changeDNSZone.link' | translate }}
          </a>
        </mcs-cta-list-header>
        <mcs-cta-list-body>
          {{ 'reports.overview.changeRequestsWidget.changeDNSZone.description' | translate }}
        </mcs-cta-list-body>
      </mcs-cta-list-panel> -->
    </mcs-cta-list>
  </div>
</div>