// Form Field
$field-bottom-margin: $space-medium;

// Label
$label-font: $base-font-bold;
$label-font-size: $font-size-large;
$label-line-height: 45;
$label-min-width: 70px;

.basic-form, form {
  .field {
    margin-bottom: $field-bottom-margin;
  }

  .inline-field {
    @include display-flex(row);
    @include align-items(flex-start);
    @include set-items-interval($space-large, horizontal);
    margin-bottom: $field-bottom-margin;
  }

  span.label, label.label {
    margin: 0;
    font-family: $label-font;
    min-width: $label-min-width;
    @include font-size($label-font-size, $label-line-height);

    &.no-line-height {
      line-height: 0;
    }
  }
}
