// Variables settings
$scrollbar-box-shadow-bg-color: $color-black;
$scrollbar-border-radius: 10px;
$scrollbar-track-color: $color-grey-08;
$scrollbar-small: 6px;
$scrollbar-medium: 12px;
$scrollbar-default-bg-color: $color-primary-01;
$scrollbar-dark-bg-color: $color-grey-00;

// Scrollbar Default
.scrollbar-default::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba($scrollbar-box-shadow-bg-color, 0.3);
  border-radius: $scrollbar-border-radius;
  background-color: $scrollbar-track-color;
}

.scrollbar-default::-webkit-scrollbar-thumb
{
  border-radius: $scrollbar-border-radius;
  -webkit-box-shadow: inset 0 0 6px rgba($scrollbar-box-shadow-bg-color, 0.3);
  background-color: $scrollbar-default-bg-color;
}

// Scrollbar Dark
.scrollbar-dark::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba($scrollbar-box-shadow-bg-color, 0.3);
  border-radius: $scrollbar-border-radius;
  background-color: $scrollbar-track-color;
}

.scrollbar-dark::-webkit-scrollbar-thumb
{
  border-radius: $scrollbar-border-radius;
  -webkit-box-shadow: inset 0 0 6px rgba($scrollbar-box-shadow-bg-color, 0.3);
  background-color: $scrollbar-dark-bg-color;
}

// Scrollbar small
.scrollbar-small::-webkit-scrollbar {
  width: $scrollbar-small;
  height: $scrollbar-small;
}

// Scrollbar medium
.scrollbar-medium::-webkit-scrollbar {
  width: $scrollbar-medium;
  height: $scrollbar-medium;
}
