$image-thumbnail-height: 96px;
$image-thumbnail-width: 128px;
$image-thumbnail-dark-bg-color: $color-black;

.image-responsive {
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}

.image-inherit {
  @extend .image-responsive;
  width: inherit;
}

.image-thumbnail {
  height: $image-thumbnail-height;
  width: $image-thumbnail-width;

  &.dark {
    background: $image-thumbnail-dark-bg-color;
  }
}

.image-footer {
  margin-top: $space-xsmall;
  padding: $space-xsmall $space-small;

  &.image-dark {
    background: $dark-bg-color;
    color: $dark-bg-text-color;
  }

  &.image-primary {
    background: $primary-bg-color;
    color: $primary-bg-text-color;
  }
}