$spinner-size: 50px;
$spinner-thickness: 10px;

// Spinner Animation
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba($color-black, 0.85);

  > div {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -($spinner-size * 0.5);
    margin-top: -($spinner-size * 0.5);

    border: $spinner-thickness solid $color-scheme-primary;
    border-radius: 50%;
    border-top: $spinner-thickness solid transparent;
    width: $spinner-size;
    height: $spinner-size;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
}

// Tombstone loader
.placeholder-content {
  overflow: hidden;
  background: #000;
  position: relative;

  // Animation
  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;
  background: #f6f7f8;
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
  background-size: 1300px; // Animation Area
}

@keyframes placeholderAnimate {
  0%{ background-position: -650px 0; }
  100%{ background-position: 650px 0; }
}