@import "../../shared/base";

table.mcs-table {
  margin: 30px 0;

  thead {
    background-color: $black;
    color: $white;

    th {
      white-space: nowrap;
    }
  }

  tr {

    &:nth-of-type(even) {
      background-color: $grey-03; 
    }

    %border-override {
      border-top: none;
      border-right: 1px solid $grey-02;

      &:last-child {
        border-right: none;
      }
    }

    th {
      font-family: $base-font-bold;
      padding: 20px;
      @include breakpoint(medium) {
        padding: 10px;
      }
      @include breakpoint(small) {
        @include font-size($font-size-base-small);
        padding: 5px;
      }
      @extend %border-override;

      &:first-child {
        @include border-top-left-radius(5px);
      }

      &:last-child {
        @include border-top-right-radius(5px);
      }

      &:nth-child(2) {
        @include breakpoint(small) {
          @include border-top-left-radius(5px);
        }
      } 
    }

    td {
      @extend %border-override;
      vertical-align: middle;
      position: relative;
      word-break: break-word;
      @include breakpoint(medium) {
        padding: 10px;
      }
      @include breakpoint(small) {
        @include font-size($font-size-base-small);
        padding: 5px;
      }

      .fa-check {
        color: $green-01;
      }

      .fa-exclamation {
        color: $red-01;
      }

      .action-button {
        @include font-size($icon-size-large);
        @include breakpoint(medium) {
          @include font-size($icon-size-medium);
        }
        color: $black;
        text-decoration: none;
      }
    }
  }
}

.paging {

  a {
    color: $black;
    text-decoration: underline;
  }
}