
.grid-row {
  @include display-flex(row);
  @include flex-wrap(wrap);

  + .grid-row {
    > .grid-column {
      margin-top: $space-xlarge;
    }
  }
}

.grid-column {
  position: relative;
  @include flex(1 1 0);
  max-width: 100%;
  min-height: 1px;
  padding-left: $space-medium;
  padding-right: $space-medium;

  &:first-child {
    padding-right: $space-medium;
    padding-left: 0;
  }
  &:last-child {
    padding-left: $space-medium;
    padding-right: 0;
  }

  &.right-orientation {
    @include display-flex(row);
    @include align-items(flex-start);
    justify-content: flex-end;
  }

  @include breakpoint(xsmall) {
    padding-left: 0;
    padding-right: 0;
    &:first-child,
    &:last-child {
      padding-left: 0;
      padding-right: 0;
    }

    &.break-on-small {
      @include flex(1 1 100%);
    }
  }
}
