.hide-on-print {
  @include print() {
    display: none !important;
  }
}

.show-on-print-only {
  display: none !important;

  @include print() {
    display: initial !important;
  }
}

.no-break-on-print {
  @include print() {
    page-break-before: auto !important;
    page-break-after: auto !important;
    page-break-inside: avoid !important;
  }
}