// Form Field
$field-bottom-margin: $space-medium;

// Label
$label-font: $base-font-bold;
$label-font-size: $font-size-large;
$label-line-height: 45;
$label-min-width: 70px;

// Form field size
$form-field-size-small: 200px;
$form-field-size-medium: 300px;
$form-field-size-large: 400px;

.basic-form, form {
  .field {
    margin-bottom: $field-bottom-margin;
  }

  .inline-field {
    @include display-flex(row);
    @include align-items(flex-start);
    @include set-items-interval($space-large, horizontal);
    margin-bottom: $field-bottom-margin;
  }

  span.label, label.label {
    margin: 0;
    font-family: $label-font;
    min-width: $label-min-width;
    @include font-size($label-font-size, $label-line-height);

    &.no-line-height {
      line-height: 0;
    }
  }
}

.form-field-size-small {
  max-width: $form-field-size-small;
}

.form-field-size-medium {
  max-width: $form-field-size-medium;
}

.form-field-size-large {
  max-width: $form-field-size-large;
}

.form-field-inline {
  @include display-flex(row);
  @include flex-wrap(wrap);
  @include set-items-interval($space-xsmall, horizontal);
}

.form-field-label {
  color: $readonly-color;
}