$chart-font-size: 12;
$chart-max-width: 20rem;

.chart-list {
  @include display-flex(column);
  max-width: $chart-max-width;
  background-color: rgba(0, 0, 0, 0.4);

  .chart-title {
    display: block;
    margin-bottom: $space-small;
    padding: $space-xsmall $space-medium;
    @include font-size($chart-font-size);
    background-color: rgba(0, 0, 0, 0.75);
  }

  .chart-item {
    padding: 0 $space-medium;
    @include display-flex(row);
    @include set-items-interval(8px, horizontal);
    @include font-size($chart-font-size);

    .chart-value {
      white-space: pre-wrap;
    }

    &:last-child() {
      margin-bottom: $space-small;
    }
  }
}

.chart-note {
  @include display-flex(row);
  @include font-size($chart-font-size);
  max-width: $chart-max-width;
  margin-top: $space-small;
  padding: $space-xsmall $space-medium;

  white-space: pre-wrap;
  color: $readonly-color-on-dark;
}
