table.mcs-table {
  margin: $space-large 0;

  thead {
    background-color: $color-black;
    color: $color-white;

    th {
      white-space: nowrap;
      font-weight: normal;
      padding: $space-medium;
      font-family: $table-header-font;

      @include breakpoint(medium) {
        padding: $space-small;
      }
      @include breakpoint(small) {
        @include font-size($font-size-small, $line-height-small);
        padding: $space-xsmall;
      }
      @extend %border-override;

      &:first-child {
        @include border-top-left-radius($table-border-radius);
      }

      &:last-child {
        @include border-top-right-radius($table-border-radius);
      }

      &:nth-child(2) {
        @include breakpoint(small) {
          @include border-top-left-radius($table-border-radius);
        }
      }
    }
  }

  tr {

    &:nth-of-type(even) {
      background-color: $color-grey-07; 
    }

    %border-override {
      border-top: none;
      border-right: 1px solid $color-grey-07;

      &:last-child {
        border-right: none;
      }
    }

    td {
      @extend %border-override;
      vertical-align: middle;
      position: relative;
      word-break: break-word;
      @include breakpoint(medium) {
        padding: $space-small;
      }
      @include breakpoint(small) {
        @include font-size($font-size-small, $line-height-small);
        padding: $space-xsmall;
      }

      .action-button {
        @include font-size(22); // TODO: Must be standardized
        @include breakpoint(medium) {
          @include font-size(18); // TODO: Must be standardized
        }
        color: $color-black;
        text-decoration: none;
      }
    }
  }
}