$label-spacer: 40;

.basic-form, form {
  .field {
    margin-bottom: $space-medium;

    span.label, label.label {
      margin: 0;
      font-family: $base-font-bold;
      @include font-size($font-size-large, 45);

      &.no-line-height {
        line-height: 0;
      }
    }
  }

  .basic-action-bar {
    @include display-flex(row);
    align-items: center;
    margin-top: $space-medium;
    justify-content: space-between;
  }
}


