// Action items
.action-items {
  @include display-flex(row);
  @include align-items(center);
  justify-content: flex-end;
  @include set-items-interval($space-medium, horizontal);
  margin-bottom: $space-medium;
}

// Action box
.action-box {
  border: 1px solid $border-color-dark;
  @include border-radius($border-radius-small);
  padding: $space-large;
  @include display-flex(column);
  @include set-items-interval($space-medium);
}