.cog-container {
  @include display-flex(column);

  a {
    @extend .no-wrap;
    @extend .with-hover-background;

    padding: $space-xsmall $space-medium;
    text-decoration: none;

    &:not([href]):not([tabindex]) {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}