$routing-routing-tab-content-min-height: 300px;

.routing-tab-wrapper {
  display: inline-block;
  @include breakpoint(medium) {
    display: block;
  }

  .routing-tab-content-wrapper {
    position: relative;
    min-height: $routing-routing-tab-content-min-height;
  }
}