.cog-container {
  @include display-flex(column);

  a {
    padding: $space-xsmall $space-medium;
    text-decoration: none;
    white-space: nowrap;
    &:hover {
      background-color: $color-grey-07;
    }

    &:not([href]):not([tabindex]) {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}