
.grid-row {
  @include display-flex(row);
  @include flex-wrap(wrap);
}

.grid-column {
  position: relative;
  @include flex(1 1 0);
  max-width: 100%;
  min-height: 1px;
  padding-left: $space-medium;
  padding-right: $space-medium;

  @include breakpoint(xsmall) {
    @include flex(1 1 100%);
    padding-top: $space-medium;
    padding-bottom: $space-medium;
    padding-left: 0;
    padding-right: 0;
  }
}

.grid-content-header {
  position: relative;
  margin-bottom: $space-medium;
  max-width: 100%;
  min-height: 1px;
  outline: none;
}

.grid-content-body {
  position: relative;
  max-width: 100%;
  min-height: 1px;
  outline: none;
}