$container-header-bg-color: $color-grey-07;

.container-wrapper {
  display: block;
  margin-bottom: $space-xlarge;

  .container-header {
    position: relative;
    max-width: 100%;
    min-height: 1px;
    outline: none;
    padding: $space-xsmall $space-medium;
    margin-bottom: $space-medium;
    background-color: $container-header-bg-color;

    @include breakpoint(xsmall) {
      @include flex(1 1 100%);
      padding-left: $space-xsmall;
      padding-right: $space-xsmall;
    }
  }

  > * {
    padding-left: $space-medium;
    padding-right: $space-medium;

    @include breakpoint(xsmall) {
      @include flex(1 1 100%);
      padding-left: $space-xsmall;
      padding-right: $space-xsmall;
    }
  }
}