@import "../../../styles/shared/base";

$navlink-padding: 9px;
$content-responsive-width-desktop: 750px;
$content-responsive-width-mobile: 500px;
$grid-row-spacing: 50px;
$table-filter-search-max-width: 300px;
$table-filter-selector-width: 100px;

.mcs-tabs {
  .nav-tabs {
    border-bottom: 1px solid $color-grey-07;
    align-items: center;
    margin-bottom: $space-medium;

    .nav-item {
      &.action-cog {
        margin-left: auto;
      }

      .nav-link {
        @include font-size(18);
        font-family: $base-font-bold;
        color: $color-grey-02;
        border: none;
        border-bottom: 8px solid transparent;
        text-decoration: none;
        padding: $navlink-padding;
        margin-right: $space-xlarge;
        @include breakpoint(small) {
          @include font-size($link-small-font-size);
          margin-right: $space-small;
        }

        &.active {
          color: $color-black;
          border-bottom-color: $color-black;
        }
        &.enabled {
          color: $color-black;
        }
      }
    }
  }

  .tab-content {
    .content-responsive {
      width: $content-responsive-width-desktop;
      white-space: nowrap;
      @include breakpoint(small) {
        width: $content-responsive-width-mobile;
      }
      @include breakpoint(xsmall) {
        width: 100%;
      }
    }

    .content-grid {
      @include set-items-interval($grid-row-spacing, vertical);
      @include breakpoint(xsmall) {
        @include set-items-interval($space-xlarge, vertical);
      }

      .grid-row {
        @include display-flex(row);
        @include breakpoint(xsmall) {
          @include display-flex(column);
          @include set-items-interval($space-xlarge, vertical);
        }
      }

      .grid-column {
        @include flex(1 0 50%);
        @include breakpoint(small) {
          &:first-of-type {
            @include flex(1 0 auto)
          }
        }
        @include breakpoint(xsmall) {
          @include flex(1)
        }

        ul {
          @include set-items-interval($space-xsmall, vertical);

          &.listing {
            padding-left: $space-xsmall;
            margin-bottom: $space-xsmall;
          }
        
          li {
            @include display-flex(row);
            align-items: center;
            @include set-items-interval($space-xsmall, horizontal);
          }
        }
      }
    }
  }
}

.action-container {
  width: 100px;
  
  a, a:hover {
    display: block;
    text-decoration: none;
  }
}