.hide-on-print {
  @include print() {
    display: none !important;
  }
}

.no-break-on-print {
  @include print() {
    page-break-before: auto !important;
    page-break-after: auto !important;
    page-break-inside: avoid !important;
  }
}