$contextual-help-page-information-padding: 55px;
$contextual-help-page-information-border-color: $color-grey-04;

.contextual-help-page-wrapper {
  @include display-flex(column);
  @include set-items-interval($space-medium);
  max-width: 70%;
  padding-right: $contextual-help-page-information-padding;
  border-right: 1px solid $contextual-help-page-information-border-color;

  @include breakpoint(medium) {
    padding-right: 0;
    border-right: none;
    max-width: 100%;
  }
}