$overlay-transparent-color: none;
$overlay-light-color: $color-white;
$overlay-dark-color: rgba($color: $color-black, $alpha: 0.4);
$overlay-black-color: $color-black;
$overlay-item-position-offset: 0;

.mcs-overlay-wrapper {
  position: fixed;
  z-index: $zindex-overlay;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.mcs-overlay-item-wrapper {
  @include display-flex(row);
  z-index: $zindex-overlay;
  position: absolute;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.mcs-overlay-backdrop {
  position: absolute;
  pointer-events: auto;
  z-index: $zindex-overlay;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.transparent-backdrop {
    background: $overlay-transparent-color;
  }

  &.light-backdrop {
    background: $overlay-light-color;
  }

  &.dark-backdrop {
    background: $overlay-dark-color
  }

  &.black-backdrop {
    background: $overlay-black-color
  }
}

.mcs-overlay-pane {
  @include display-flex(row);
  pointer-events: auto;
  z-index: $zindex-overlay;
  position: absolute;

  &.center {
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
  }

  // Top placement
  &.top-center {
    top: 0;
    left: 50%;
    @include translate(-50%, 0);
  }
  &.top-start {
    top: 0;
    left: 0;
  }
  &.top-end {
    top: 0;
    right: 0;
  }

  // Bottom placement
  &.bottom-center {
    bottom: 0;
    left: 50%;
    @include translate(-50%, 0);
  }
  &.bottom-start {
    bottom: 0;
    left: 0;
  }
  &.bottom-end {
    bottom: 0;
    right: 0;
  }

  // Left Placement
  &.left-center {
    left: 0;
    top: 50%;
    @include translate(0, -50%);
  }
  &.left-start {
    left: 0;
    top: 0;
  }
  &.left-end {
    left: 0;
    bottom: 0;
  }

  // Right Placement
  &.right-center {
    right: 0;
    top: 50%;
    @include translate(0, -50%);
  }
  &.right-start {
    right: 0;
    top: 0;
  }
  &.right-end {
    right: 0;
    bottom: 0;
  }
}