$filter-search-max-width: 300px;
$action-cell-width: 55px;

.listing-table-wrapper {
  display: inline-block;
  @include set-items-interval($space-xlarge);

  @include breakpoint(small) {
    display: block;
  }

  .filter-section {
    @include set-items-interval($space-medium, horizontal);
    @include display-flex(row);
    align-items: center;

    mcs-search {
      max-width: $filter-search-max-width;
    }

    .record-count {
      margin-left: auto;
    }
  }

  .action-cell {
    width: $action-cell-width;
    max-width: $action-cell-width;
  }

  .active-row {
    background-color: $color-grey-07;
  }
}

.listing-action-wrapper {
  @include flex(1 1 auto);
  @include display-flex(row);
  @include align-items(center);

  .total-record-count {
    margin-right: $space-large;
  }
}

.listing-status-wrapper {
  @include display-flex(row);
  @include align-items(center);
  @include set-items-interval($space-xsmall, horizontal);
}