
// Status
.read-only {
  opacity: 0.6 !important;
}

// Special effects
.rotate-sideways {
  @include transform(translateX(-50%) translateY(-50%) rotate(-90deg));
}

.dropzone {
  border: 5px dashed transparent;

  &.file-hover {
    border: 5px dashed $color-grey-04;
  }
}

// Limited view to all the page
.limited-view {
  @include flex(0 0 auto !important); // Force the page to not apply flex auto
  width: $limited-view-width;

  @include breakpoint(medium) {
    width: 100%;
  }
}

// TODO: This is an experimental view, we may change the whole app to use this
// after some testing
.limited-wide-view {
  @include flex(0 0 auto !important); // Force the page to not apply flex auto
  max-width: $limited-wide-view-width;

  @include breakpoint(medium) {
    width: 100%;  
  }
}

// Disabled element
.disabled-element {
  opacity: 0.4 !important;
  pointer-events: none;
}

// Hide element
.hide-element {
  display: none !important;
}
