// Text color pallette
.light-text {
  color: $color-white;
}

.dark-text {
  color: $color-black;
}

.grey-text {
  color: $color-grey-05;
}

.blue-text {
  color: $color-primary-01;
}

// Panel color pallette
.light-panel {
  color: $light-bg-text-color;
  background-color: $light-bg-color;
}

.dark-panel {
  color: $dark-bg-text-color;
  background-color: $dark-bg-color;
}

.grey-panel {
  color: $color-black;
  background-color: $color-grey-08;
}