
.grid-row {
  @include display-flex(row);
  @include flex-wrap(wrap);

  @include breakpoint(small) {
    @include display-flex(column);
    @include set-items-interval($space-small);
  }

  + .grid-row {
    > .grid-column {
      margin-top: $space-xlarge;
    }
  }
}

.grid-column {
  position: relative;
  @include flex(1);
  max-width: 100%;
  min-height: 1px;
  padding-left: $space-medium;
  padding-right: $space-medium;

  &:first-child {
    padding-right: $space-medium;
    padding-left: 0;
  }
  &:last-child {
    padding-left: $space-medium;
    padding-right: 0;
  }

  &.vertical-center {
    @include display-flex(row);
    @include align-items(center);
  }

  &.horizontal-center {
    @include display-flex(row);
    justify-content: center;
  }

  @include breakpoint(small) {
    padding-left: 0;
    padding-right: 0;

    &:first-child,
    &:last-child {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
