$grid-row-spacing: 50px;
$action-box-border-color: $color-grey-00;
$routing-routing-tab-content-min-height: 300px;

.routing-tab-wrapper {
  display: inline-block;
  @include breakpoint(medium) {
    display: block;
  }

  .routing-tab-content-wrapper {
    position: relative;
    min-height: $routing-routing-tab-content-min-height;

    .content-grid {
      @include set-items-interval($grid-row-spacing, vertical);
      @include breakpoint(small) {
        @include set-items-interval($space-xxlarge, vertical);
      }
      @include breakpoint(xsmall) {
        @include set-items-interval(0, vertical);
      }
    }

    .action-box {
      @include set-items-interval($space-medium, vertical);
      border: 1px solid $action-box-border-color;
      @include border-radius($input-border-radius);
      padding: $space-large;
    }
  }
}