.mcs-search {
  @include flex(0 1 400px);
  @include display-flex(row);
  align-items: center;
  margin-right: auto;

  mcs-textbox {
    @include flex(0 1 100%);
  }

  mcs-filter-selector {
    margin-left: 20px;
  }

  @include breakpoint(small) {
    @include flex(1);
    margin-right: 30px;
  }
}