// Hiding elements
.hidden-medium {
  @include breakpoint(medium) {
    display: none !important;
  }
}

.hidden-small {
  @include breakpoint(small) {
    display: none !important;
  }
}

.hidden-xsmall {
  @include breakpoint(xsmall) {
    display: none !important;
  }
}

// Showing elements
.visible-small {
  display: none !important;
  @include breakpoint(small) {
    display: block !important;
  }
}

.visible-medium {
  display: none !important;
  @include breakpoint(medium) {
    display: block !important;
  }
}

.visible-large {
  display: none !important;
  @include breakpoint(large) {
    display: block !important;
  }
}
