.mcs-global-element-wrapper {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: $zindex-contextual-help;
}

.mcs-global-element-item {
  @include display-flex(row);
  pointer-events: auto;
  position: absolute;
}
