@import "../../../styles/shared/base";

.main-navigation {
  background-color: $color-primary-01;
  color: $color-black;
  padding: 0;

  .container {
    padding: 0;
  }
  .navbar-nav {
    > li {
      &:hover,
      &:focus,
      &.active {
        background-color: $color-white;
      }
    }
    a {
      font-weight: bold;
      text-decoration: none;
      color: $color-black;
      padding: 10px 15px;
    }
  }
}