<nav class="navbar navbar-toggleable-md navbar-light main-navigation">

  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand">
      <img src="/assets/img/apple-touch-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['./dashboard']"
          (click)="setTitle(textContent.dashboard.title)">{{ textContent.navigation.dashboard }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['./servers']"
          (click)="setTitle(textContent.servers.title)">{{ textContent.navigation.servers }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['./networking']"
          (click)="setTitle(textContent.networking.title)">{{ textContent.navigation.networking }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['./catalog']"
          (click)="setTitle(textContent.catalog.title)">{{ textContent.navigation.catalog }}</a>
        </li>

        <!-- Example on how to check the available link based on user type (admin/user)-->
        <li class="nav-item" routerLinkActive="active" *ngIf="!isUser()">
          <a class="nav-link" [routerLink]="['./others']"
          (click)="setTitle(textContent.others.title)">{{ textContent.navigation.others }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>