@import "../../../styles/shared/base";

.main-navigation {
  background-color: $primary-color;
  color: $black;
  padding: 0;

  .navbar-nav {
    > li {
      &:hover,
      &:focus,
      &.active {
        background-color: $white;
      }
    }
    a {
      font-weight: bold;
    }
  }
}