<mcs-page [header]="'tools.header' | translate">
  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>

    <div class="listing-table-wrapper limited-view">
      <!-- Table -->
      <mcs-table [dataSource]="dataSource">
        <!-- Service Column -->
        <ng-container mcsColumnDef="name">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ 'tools.table.header.name' | translate }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" text-top>
            {{ row.name }}
          </mcs-data-cell>
        </ng-container>

        <!-- Description Column -->
        <ng-container mcsColumnDef="resourceSpecific">
          <mcs-header-cell *mcsHeaderCellDef hidden-small>
            {{ 'tools.table.header.description' | translate }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" hidden-small text-top>
            {{ toolDescription.get(row.name) }}
          </mcs-data-cell>
        </ng-container>

        <!-- Access Column -->
        <ng-container mcsColumnDef="portalAccess">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ 'tools.table.header.access' | translate }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" text-top>
            <div *ngFor="let access of row.portalAccess">
              <a [href]="access.url" target="_blank"
                mcsId="select-tool"
                mcsEventTracker="navigate-to-othertools"
                mcsEventCategory="tools"
                mcsEventLabel="tools-listing-page">{{ access.name }}</a>
            </div>
          </mcs-data-cell>
        </ng-container>

        <!-- Data Status Integration -->
        <ng-container mcsDataStatusDef>
          <mcs-data-empty *mcsDataEmptyDef>
            <span>{{ 'tools.table.noRecordsFoundMessage' | translate }}</span>
          </mcs-data-empty>
          <mcs-data-error *mcsDataErrorDef>
            <div class="data-error">
              <span>{{ 'tools.table.errorMessage' | translate }}</span>
              <a (click)="retryDatasource()"
                mcsId="retry-datasource"
                mcsEventTracker="retry-tools"
                mcsEventCategory="tools"
                mcsEventLabel="tools-listing-page">{{ 'tools.table.retry' | translate }}</a>
            </div>
          </mcs-data-error>
        </ng-container>

        <!-- Header and Data row -->
        <mcs-header-row *mcsHeaderRowDef="dataColumns"></mcs-header-row>
        <mcs-data-row *mcsDataRowDef="let row; columns: dataColumns;"></mcs-data-row>
      </mcs-table>

      <button mcsButton="icon">
        <mcs-icon key="check-box"></mcs-icon>
      </button>

      <mcs-tag-list>
        <mcs-tag *ngFor="let item of tagList">{{ item }}</mcs-tag>
        <input mcsTagInput #inputTemplate (mcsTagInputOnAdd)="onAddTag(inputTemplate.value)">
      </mcs-tag-list>
    </div>
  </mcs-content-panel>
</mcs-page>