<mcs-page [header]="'tools.header' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>
    <mcs-top-panel-item *mcsTopPanelItemDef>
      <div class="listing-action-wrapper">
        <ng-container *ngIf="isSorting; else totalCountTemplate">
          <div class="sorting-label">
            <span padding-right-small>{{ 'label.sorting' | translate }}</span><mcs-loader size="medium"></mcs-loader>
          </div>
        </ng-container>
        <ng-template #totalCountTemplate>
          <div class="total-record-count"  *ngIf="dataSource?.totalCount$ | async as totalCount">
            <span>{{ totalCount | mcsPlural:
                  ('tools.dataSingular' | translate) : ('tools.dataPlural' | translate) }}
            </span>
          </div>
        </ng-template>
      </div>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <mcs-content-panel *mcsContentPanelDef>

    <div class="listing-table-wrapper limited-view">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">
        <!-- Service Column -->
        <ng-container matColumnDef="portal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name" disableClear>
            {{ 'columnHeader.portal' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" text-top>
            {{ row.name }}
          </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.description' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small text-top>
            {{ toolDescriptionMap.get(row.name) }}
          </td>
        </ng-container>

        <!-- Access Column -->
        <ng-container matColumnDef="access">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.access' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" text-top>
            <ng-container *ngIf="row.resourceSpecific; else notResourceSpecific">
              <div *ngFor="let access of row.portalAccess; let accessIndex = index;">
                <a *ngIf="(access.name && access.url) && (accessIndex <= 10 || overflowShown(row.name))" [href]="access.url" target="_blank"
                  mcsId="select-tool"
                  mcsEventTracker="navigate-to-othertools"
                  mcsEventCategory="tools"
                  mcsEventLabel="tools-listing-page">
                  <span *ngIf="access.billingDescription">{{ access.billingDescription }} - </span>
                  {{ access.name }}</a>
              </div>
              <a read-only *ngIf="row.portalAccess.length > 10 && !overflowShown(row.name)" (click)=showOverflow(row.name)>{{ 'label.viewAllElliptic' | translate }}</a>
            </ng-container>
            <ng-template #notResourceSpecific>
              <div *ngFor="let access of row.portalAccess; let accessIndex = index;">
                <a *ngIf="(access.url) && (accessIndex <= 10 || overflowShown(row.name))" [href]="access.url" target="_blank"
                  mcsId="select-tool"
                  mcsEventTracker="navigate-to-othertools"
                  mcsEventCategory="tools"
                  mcsEventLabel="tools-listing-page">{{row.name }}</a>
              </div>
              <a read-only *ngIf="row.portalAccess.length > 10 && !overflowShown(row.name)" (click)=showOverflow(row.name)>{{ 'label.viewAllElliptic' | translate }}</a>
            </ng-template>
          </td>
        </ng-container>

        <!-- Header and Data row -->
        <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async"
          [disabled]="dataSource?.isInProgress$ | async"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"></tr>
      </table>

      <mcs-item orientation="block">
        <div *ngIf="dataSource?.isInProgress$ | async" align="center">
          <mcs-loader size="medium"></mcs-loader>
        </div>
        <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
          {{ 'tools.table.noRecordsFoundMessage' | translate }}
        </div>
        <div *ngIf="dataSource?.hasError$ | async" text-center>
          <span margin-right-small>{{ 'tools.table.errorMessage' | translate }}</span>
          <a (click)="retryDatasource()"
            mcsId="retry-datasource"
            mcsEventTracker="retry-tools"
            mcsEventCategory="tools"
            mcsEventLabel="tools-listing-page">{{ 'tools.table.retry' | translate }}</a>
        </div>
      </mcs-item>
    </div>
  </mcs-content-panel>
</mcs-page>
