<form [formGroup]="fgCreateMessage" mcsFormGroup>
  <!-- Start Date -->
  <mcs-form-field>
    <input mcsInput mcsSetFocus #startInput
      mcsId="inp-start"
      (change)="updateExpiryValidation()"
      [placeholder]="'systemMessageCreate.placeholders.start' | translate"
      [formControl]="fcStart"
      [mcsContextualHelp]="'systemMessageCreate.contextualHelp.start' | translate">

    <mcs-hint mcsHint align="start">
      {{ dateNow | mcsStdDateFormat: 'isoDate' }}
    </mcs-hint>
    <mcs-error mcsError errorState="invalidDate">
      {{ 'systemMessageCreate.errors.date' | translate }}
    </mcs-error>
    <mcs-error mcsError errorState="invalidDateFormat">
      {{ 'systemMessageCreate.errors.dateFormat' | translate }}
    </mcs-error>
    <mcs-error mcsError errorState="invalidStartDate">
      {{ 'systemMessageCreate.errors.start' | translate }}
    </mcs-error>
  </mcs-form-field>

  <!-- Expiry Date -->
  <mcs-form-field>
    <input mcsInput #expiryInput
      mcsId="inp-expiry"
      [placeholder]="'systemMessageCreate.placeholders.expiry' | translate"
      [formControl]="fcExpiry"
      [mcsContextualHelp]="'systemMessageCreate.contextualHelp.expiry' | translate">

    <mcs-hint mcsHint align="start">
      {{ dateNow | mcsStdDateFormat: 'isoDate' }}
    </mcs-hint>
    <mcs-error mcsError errorState="invalidDate">
      {{ 'systemMessageCreate.errors.date' | translate }}
    </mcs-error>
    <mcs-error mcsError errorState="invalidDateFormat">
      {{ 'systemMessageCreate.errors.dateFormat' | translate }}
    </mcs-error>
    <mcs-error mcsError errorState="invalidExpiryDate">
      {{ 'systemMessageCreate.errors.expiry' | translate }}
    </mcs-error>
  </mcs-form-field>

  <!-- Message Type -->
  <mcs-form-field>
    <mcs-select
      mcsId="select-type" required
      [placeholder]="'systemMessageCreate.placeholders.type' | translate"
      [formControl]="fcType"
      [mcsContextualHelp]="'systemMessageCreate.contextualHelp.type' | translate">

      <mcs-option-group>
        <ng-container *mcsOptionGroupHeader>
          {{ 'systemMessageCreate.typeHeader' | translate }}
        </ng-container>
        <mcs-option *ngFor="let messageType of messageTypeList"
          [value]="messageType.value">
          {{ messageType.text }}
        </mcs-option>
      </mcs-option-group>
    </mcs-select>
    <mcs-error mcsError errorState="required">
      {{ 'systemMessageCreate.errors.type' | translate }}
    </mcs-error>
  </mcs-form-field>

  <!-- Severity -->
  <mcs-form-field>
    <mcs-select
      mcsId="select-severity" required
      [placeholder]="'systemMessageCreate.placeholders.severity' | translate"
      [formControl]="fcSeverity"
      [mcsContextualHelp]="'systemMessageCreate.contextualHelp.severity' | translate">

      <mcs-option-group>
        <ng-container *mcsOptionGroupHeader>
          {{ 'systemMessageCreate.severityHeader' | translate }}
        </ng-container>
        <mcs-option *ngFor="let severity of severityList"
          [value]="severity.value" selected>
          {{ severity.text }}
        </mcs-option>
      </mcs-option-group>
    </mcs-select>
    <mcs-error mcsError errorState="required">
      {{ 'systemMessageCreate.errors.severity' | translate }}
    </mcs-error>
  </mcs-form-field>

  <!-- Message -->
  <mcs-form-field>
    <textarea mcsInput rows="3" #messageInput required
      mcsId="inp-message"
      [placeholder]="'systemMessageCreate.placeholders.message' | translate" maxlength="300"
      [formControl]="fcMessage"
      [mcsContextualHelp]="'systemMessageCreate.contextualHelp.message' | translate"></textarea>

    <mcs-hint mcsHint align="start">
      {{ 'systemMessageCreate.hints.message' | translate: { max_char: messageInput.maxLength } }}
    </mcs-hint>
    <mcs-hint mcsHint align="end">
      {{ messageInput.value.length }} / {{ messageInput.maxLength }}
    </mcs-hint>
    <mcs-error mcsError errorState="required">
      {{ 'systemMessageCreate.errors.message' | translate }}
    </mcs-error>
  </mcs-form-field>

  <!-- Enabled -->
  <mcs-checkbox
    mcsId="inp-enabled"
    [formControl]="fcEnabled">
    <h2>{{ 'systemMessageCreate.labels.enabled' | translate }}</h2>
  </mcs-checkbox>
</form>