<!-- TODO: extract all static texts and transfer to translate -->
<ng-container *ngIf="product$ | async as selectedProduct">
  <mcs-scrollable-link-group #scrollableLinkGroup>
    <mcs-scrollable-link label="All Information">

      <!-- Description -->
      <div class="product-catalog-item">

        <div class="product-catalog-widget-wrapper">
          <!-- Ownerships -->
          <mcs-presentation-panel [embossed]="true" *mcsAccessControl="['CompanyView']">
            <ng-container mcsPresentationPanelHeader>
              <strong>Ownership</strong>
            </ng-container>

            <mcs-list>
              <mcs-list-item *ngIf="selectedProduct.primaryOwner?.name">
                <span>{{ selectedProduct.primaryOwner.name }} -
                  <small read-only> Primary Product Owner</small>
                </span>
              </mcs-list-item>

              <mcs-list-item *ngIf="selectedProduct.secondaryOwner?.name">
                <span>{{ selectedProduct.secondaryOwner.name }} -
                  <small read-only> Secondary Product Owner</small>
                </span>
              </mcs-list-item>

              <mcs-list-item *ngIf="selectedProduct.architectOwnerPrimary?.name">
                <span>{{ selectedProduct.architectOwnerPrimary.name }} -
                  <small read-only> Primary Architecture Owner</small>
                </span>
              </mcs-list-item>

              <mcs-list-item *ngIf="selectedProduct.architectOwnerSecondary?.name">
                <span>{{ selectedProduct.architectOwnerSecondary.name }} -
                  <small read-only> Secondary Architecture Owner</small>
                </span>
              </mcs-list-item>

              <mcs-list-item *ngIf="selectedProduct.specialistOwner?.name">
                <span>{{ selectedProduct.specialistOwner.name }} -
                  <small read-only> Specialist Product Owner</small>
                </span>
              </mcs-list-item>
            </mcs-list>
          </mcs-presentation-panel>

          <!-- Dependencies -->
          <mcs-presentation-panel [embossed]="true"
            *ngIf="selectedProduct.dependentProducts | mcsIsNotNullOrEmpty">
            <ng-container mcsPresentationPanelHeader>
              <strong>Dependencies</strong>
            </ng-container>

            <div>
              <div [ngStyle]="{'float': 'right'}">
                <mcs-icon size="100px" [key]="cloudIconKey"></mcs-icon>
              </div>
              <mcs-item *ngFor="let dependentProduct of selectedProduct.dependentProducts">
                <a [mcsRouterLink]="[routeKeyEnum.CatalogProduct, dependentProduct.id]"
                  mcsId="product-dependency"
                  mcsEventTracker="select-product-dependency"
                  mcsEventCategory="catalog"
                  mcsEventLabel="catalog-product-detail-view">
                  {{ dependentProduct.name }}
                </a>
              </mcs-item>
            </div>
          </mcs-presentation-panel>

          <!-- Locations -->
          <mcs-presentation-panel [embossed]="true"
            *ngIf="selectedProduct.locations | mcsIsNotNullOrEmpty">
            <ng-container mcsPresentationPanelHeader>
              <strong>Locations</strong>
            </ng-container>

            <mcs-list spacing="small">
              <mcs-list-item *ngFor="let location of selectedProduct.locations">
                <div>
                  <span>{{ location.name }}</span><br>
                  <small read-only>{{ location.fullAddress }}</small>
                </div>
              </mcs-list-item>
            </mcs-list>
          </mcs-presentation-panel>
        </div>

        <!-- Short description -->
        <div *ngIf="selectedProduct.shortDescription | mcsIsNotNullOrEmpty" margin-bottom-large>
          <h2>Short Description</h2>
          <div [innerHTML]="selectedProduct.shortDescription"></div>
        </div>

        <!-- Use Cases -->
        <div class="product-catalog-item" *ngIf="selectedProduct.useCases | mcsIsNotNullOrEmpty">
          <h2 margin-bottom-medium>Use Cases</h2>

          <ng-container *ngFor="let useCase of selectedProduct.useCases">
            <mcs-item orientation="block">
              <strong>{{ useCase.name }}</strong>
              <div [innerHTML]="useCase.description"></div>
            </mcs-item>
          </ng-container>
        </div>

        <!-- description -->
        <div class="product-catalog-item" *ngIf="selectedProduct.description | mcsIsNotNullOrEmpty">
          <h2>Description</h2>
          <div [innerHTML]="selectedProduct.description"></div>
        </div>
      </div>

      <!-- Product Options -->
      <div class="product-catalog-item" *ngIf="selectedProduct.productOptions | mcsIsNotNullOrEmpty">
        <h2>Product Options</h2>

        <mcs-table [dataSource]="selectedProduct.productOptions" class="limited-view">
          <ng-container mcsColumnDef="name">
            <mcs-header-cell *mcsHeaderCellDef>
              Name
            </mcs-header-cell>
            <mcs-data-cell *mcsDataCellDef="let row">
              {{ row.name }}
            </mcs-data-cell>
          </ng-container>

          <ng-container mcsColumnDef="options" >
            <mcs-header-cell *mcsHeaderCellDef>
              Options
            </mcs-header-cell>
            <mcs-data-cell *mcsDataCellDef="let row">
              <mcs-tag-list>
                <ng-container *ngIf="selectedProduct.hasProductProperties">
                  <mcs-tag *ngFor="let property of getFormattedProperties(row)" [removable]="false">
                    {{ property }}
                  </mcs-tag>
                </ng-container>
                <ng-container *ngIf="selectedProduct.hasProductListOptions">
                  <mcs-tag *ngFor="let item of row.listOptions" [removable]="false">
                    {{ item }}
                  </mcs-tag>
                </ng-container>
              </mcs-tag-list>
            </mcs-data-cell>
          </ng-container>
          <mcs-header-row *mcsHeaderRowDef="productOptionsColumns"></mcs-header-row>
          <mcs-data-row *mcsDataRowDef="let row; columns: productOptionsColumns;"></mcs-data-row>
        </mcs-table>
      </div>

      <!-- Feature Benefit Matrix -->
      <div class="product-catalog-item"
        *ngIf="selectedProduct.featureBenefitMatrix | mcsIsNotNullOrEmpty">
        <h2>Feature Benefit Matrix</h2>
        <div [innerHTML]="selectedProduct.featureBenefitMatrix"></div>
      </div>
    </mcs-scrollable-link>

    <!-- Monitoring -->
    <mcs-scrollable-link label="Monitoring"
      *ngIf="selectedProduct.inviewPremium | mcsIsNotNullOrEmpty">
      <div class="product-catalog-item">
        <h2>Inview</h2>
        <ng-template let-inviews let-title="inviewTitle" #inviewTemplate>
          <h3>{{ title }}</h3>
          <mcs-grid>

            <ng-container *ngFor="let inview of inviews">
              <mcs-grid-row >
                <mcs-grid-column sizeSm="12">
                  <h4>{{ inview.name }}</h4>
                  <p [innerHTML]="inview.description" no-margin></p>
                </mcs-grid-column>
              </mcs-grid-row>

              <mcs-grid-row no-margin>
                <mcs-grid-column padding-large
                  *ngIf="inview.graphUrl | mcsIsNotNullOrEmpty" sizeSm="12" sizeMd="12" sizeLg="8">
                  <div>
                    <img [src]="inview.graphUrl" class="image-inherit">
                  </div>
                </mcs-grid-column>
              </mcs-grid-row>

              <mcs-grid-row *ngIf="inview?.thresholds | mcsIsNotNullOrEmpty">
                <mcs-grid-column>
                  <mcs-table [dataSource]="inview.thresholds">
                    <!-- Description Column -->
                    <ng-container mcsColumnDef="description">
                      <mcs-header-cell *mcsHeaderCellDef>
                        Description
                      </mcs-header-cell>
                      <mcs-data-cell text-wrap *mcsDataCellDef="let row">
                        {{ row.description }}
                      </mcs-data-cell>
                    </ng-container>

                    <!-- Threshold Utilisation Column -->
                    <ng-container mcsColumnDef="alertThreshold">
                      <mcs-header-cell *mcsHeaderCellDef>
                        Alert Threshold
                      </mcs-header-cell>
                      <mcs-data-cell text-wrap *mcsDataCellDef="let row">
                        {{ row.defaultAlertThreshold }}
                      </mcs-data-cell>
                    </ng-container>

                    <!-- Header and Data row -->
                    <mcs-header-row *mcsHeaderRowDef="thresholdColumns"></mcs-header-row>
                    <mcs-data-row *mcsDataRowDef="let row; columns: thresholdColumns;"></mcs-data-row>
                  </mcs-table>
                </mcs-grid-column>
              </mcs-grid-row>
            </ng-container>

          </mcs-grid>
        </ng-template>

        <ng-container *ngTemplateOutlet="inviewTemplate;
          context: {
            $implicit: selectedProduct.inviewStandard,
            inviewTitle: 'Standard'
          }"></ng-container>

        <ng-container *ngTemplateOutlet="inviewTemplate;
          context: {
            $implicit: selectedProduct.inviewPremium,
            inviewTitle: 'Premium'
          }"></ng-container>
      </div>
    </mcs-scrollable-link>

    <!-- PCI Compliance -->
      <mcs-scrollable-link label="Compliance" *ngIf="selectedProduct.pciDetails | mcsIsNotNullOrEmpty">
      <div class="product-catalog-item">
        <h2>PCI Compliance</h2>
        <mcs-table [dataSource]="sortPciDetails(selectedProduct.pciDetails)">
          <!-- Raci Column -->
          <ng-container mcsColumnDef="raci">
            <mcs-header-cell *mcsHeaderCellDef>
              RACI
            </mcs-header-cell>
            <mcs-data-cell text-wrap *mcsDataCellDef="let row">
              {{ row.raci }}
            </mcs-data-cell>
          </ng-container>

          <!-- MCS Responsibility Definition Column -->
          <ng-container mcsColumnDef="mcsResponsibilityDefinition">
            <mcs-header-cell *mcsHeaderCellDef>
              MCS Responsibility Definition
            </mcs-header-cell>
            <mcs-data-cell text-wrap *mcsDataCellDef="let row">
              {{ row.mcsResponsibilityDefinition }}
            </mcs-data-cell>
          </ng-container>

          <!-- Customer Responsibility Definition -->
          <ng-container mcsColumnDef="customerResponsibilityDefinition">
            <mcs-header-cell *mcsHeaderCellDef>
              Customer Responsibility Definition
            </mcs-header-cell>
            <mcs-data-cell text-wrap *mcsDataCellDef="let row">
              {{ row.customerResponsibilityDefinition }}
            </mcs-data-cell>
          </ng-container>

          <!-- Not Applicable Justification Column -->
          <ng-container mcsColumnDef="notApplicableJustification">
            <mcs-header-cell *mcsHeaderCellDef>
              Not Applicable Justification
            </mcs-header-cell>
            <mcs-data-cell text-wrap *mcsDataCellDef="let row">
              {{ row.notApplicableJustification }}
            </mcs-data-cell>
          </ng-container>

          <!-- Control Column -->
          <ng-container mcsColumnDef="control">
            <mcs-header-cell *mcsHeaderCellDef>
              Control
            </mcs-header-cell>
            <mcs-data-cell text-wrap *mcsDataCellDef="let row">
              {{ row.control }}
            </mcs-data-cell>
          </ng-container>

          <!-- Requirement Column -->
          <ng-container mcsColumnDef="requirement">
            <mcs-header-cell *mcsHeaderCellDef>
              Requirement
            </mcs-header-cell>
            <mcs-data-cell text-wrap *mcsDataCellDef="let row">
              {{ row.requirement }}
            </mcs-data-cell>
          </ng-container>

          <!-- Version Column -->
          <ng-container mcsColumnDef="version">
            <mcs-header-cell *mcsHeaderCellDef>
              Version
            </mcs-header-cell>
            <mcs-data-cell text-wrap *mcsDataCellDef="let row">
              {{ row.version }}
            </mcs-data-cell>
          </ng-container>

          <!-- Header and Data row -->
          <mcs-header-row *mcsHeaderRowDef="pciComplianceColumns"></mcs-header-row>
          <mcs-data-row *mcsDataRowDef="let row; columns: pciComplianceColumns;"></mcs-data-row>
        </mcs-table>
      </div>
    </mcs-scrollable-link>

    <!-- More -->
    <mcs-scrollable-link label="More"
      *ngIf="selectedProduct.downloads | mcsIsNotNullOrEmpty">
      <div class="product-catalog-item">
        <h2>Downloads</h2>
        <div [innerHTML]="selectedProduct.downloads"></div>
      </div>
    </mcs-scrollable-link>
  </mcs-scrollable-link-group>
</ng-container>
