<!-- Stomp error status connection template as snackbar -->
<ng-template #stompErrorStatusTemplate>
  <mcs-snack-bar [snackBarRef]="stompErrorStatusBarRef" theme="dark" [hideCloseButton]="true">
    <mcs-item>
      <span>{{ 'pageNotifications.webStomp.connectionError' | translate }}</span>
      <span (click)="reconnectWebsocket()" mcsCursor="pointer" text-color-primary>
        {{ 'pageNotifications.webStomp.connectionRetryButton' | translate }}
      </span>
    </mcs-item>
  </mcs-snack-bar>
</ng-template>

<!-- Temporarily hidden while fixing stomp issue -->
<!-- Stomp success status connection template as snackbar -->
<!-- <ng-template #stompSucessStatusTemplate>
  <mcs-snack-bar [snackBarRef]="stompSuccessStatusBarRef" theme="dark">
    <mcs-item>
      <mcs-icon [key]="checkIconKey" size="small" color="green"></mcs-icon>
      <span>{{ textContent.connectionSuccess }}</span>
    </mcs-item>
  </mcs-snack-bar>
</ng-template> -->