@import "base";

// Ticket Activity Variables
$ticket-activity-separator-color: $color-grey-06;
$ticket-activity-active-color: $color-grey-07;

.ticket-activity-wrapper {
  @include display-flex(row);
  padding: $space-small $space-xsmall;
  border-top: 1px solid $ticket-activity-separator-color;

  &:hover,
  &.worknotes {
    background-color: $ticket-activity-active-color;
  }
}