<!-- Ticket Activity Icon Wrapper -->
<div class="space-right-medium">
  <mcs-icon [key]="activityIconKey"></mcs-icon>
</div>

<div class="block-items-medium" flex="auto">
  <!-- Header (User details) -->
  <div class="space-between-inline-items">
    <strong>{{ activity.header }}</strong>
    <span class="hidden-small" read-only>
      {{ activity.date | mcsStdDateFormat }}
    </span>
  </div>

  <!-- Comment message -->
  <div>
    <p *ngIf="!isAttachment" [innerHTML]="activity.content | mcsNewLines"></p>
    <p *ngIf="isAttachment">
      <mcs-file-download [downloading]="downloading"
        (download)="downloadAttachment()">
        {{ activity.content }}
      </mcs-file-download>
    </p>
  </div>

  <!-- Work note footer -->
  <div class="right-align" *ngIf="isWorkNotes">
    <span read-only>
      {{ textContent.worknotes }}
    </span>
  </div>
</div>