<!-- Ticket Activity Wrapper -->
<div [ngClass]="{attachment: isAttachment}" class="ticket-activity-wrapper">

  <!-- Ticket Activity Icon Wrapper -->
  <div class="icon-wrapper">
    <mcs-icon [key]="activityIconKey" size="large"></mcs-icon>
  </div>

  <!-- Ticket Activity Header Wrapper (Header, Content) -->
  <div class="information-wrapper">
    <div class="header">
      <strong>{{ activity.header }}</strong>
      <span class="right-align hidden-small">{{ convertDateTimeToString(activity.date) }}</span>
    </div>

    <div class="content">
      <p *ngIf="!isAttachment">{{ activity.content }}</p>
      <p *ngIf="isAttachment">
        <mcs-icon [hidden]="!downloading" [key]="spinnerIconKey" size="small"></mcs-icon>
        <a [hidden]="downloading" (click)="downloadAttachment()">{{ activity.content }}</a>
      </p>
    </div>
  </div>
</div>