<!-- Ticket Activity Icon Wrapper -->
<div margin-right-medium>
  <mcs-icon [key]="activityIconKey"></mcs-icon>
</div>

<mcs-section full-width>
  <!-- Header (User details) -->
  <mcs-item orientation="separated">
    <strong>{{ activity.header }}</strong>
    <span hidden-small read-only>
      {{ activity.date | mcsStdDateFormat }}
    </span>
  </mcs-item>

  <!-- Comment message -->
  <div>
    <p *ngIf="!isAttachment" [innerHTML]="activity.content | mcsNewLines"></p>
    <p *ngIf="isAttachment">
      <mcs-file-download [downloading]="downloading"
        (download)="downloadAttachment()">
        {{ activity.content }}
      </mcs-file-download>
    </p>
  </div>

  <!-- Work note footer -->
  <div mcsAlign="end" *ngIf="isWorkNotes">
    <span read-only>
      {{ 'ticketShared.activity.worknotes' | translate }}
    </span>
  </div>
</mcs-section>