@import "../../../../../styles/shared/base";

// Ticket Activity Variables
$ticket-activity-separator-color: $color-grey-06;

:host {
  display: block;

  &:hover {
    background-color: $color-grey-07;
  }
}

.ticket-activity-wrapper {
  @include display-flex(row);
  align-items: center;
  padding-top: $space-small;
  border-top: 1px solid $ticket-activity-separator-color;

  .icon-wrapper {
    margin-bottom: auto;
  }

  .information-wrapper {
    margin-left: $space-small;
    width: 100%;
    @include set-items-interval($space-small);

    .header {
      @include display-flex(row);
      align-items: center;
      justify-content: space-between;
    }

    .content {
      display: block;

      p {
        text-align: left;
      }
    }
  }
}