@import "base";

.list-wrapper {
  @include flex(0 0 auto);
  @include flex-wrap(wrap);

  &.list-horizontal {
    @include display-flex(row);

    @each $space-key in map-keys($space-breakpoints) {
      $space-value: map-get($space-breakpoints, $space-key);
      &.#{$space-key} {
        @include set-items-interval($space-value, horizontal);
      }
    }
  }

  &.list-vertical {
    @include display-flex(column);

    @each $space-key in map-keys($space-breakpoints) {
      $space-value: map-get($space-breakpoints, $space-key);
      &.#{$space-key} {
        @include set-items-interval($space-value, vertical);
      }
    }
  }

  // @deprecated: use mcs-item instead
  .list-item-wrapper {
    @include flex(0 0 auto);
    @include display-flex(row);
  }

  &.items-offset-small {
    .list-item-wrapper {
      margin-left: $space-small;
    }
  }

  &.items-offset-medium {
    .list-item-wrapper {
      margin-left: $space-medium;
    }
  }

  &.items-offset-large {
    .list-item-wrapper {
      margin-left: $space-large;
    }
  }
}