<ng-container *ngIf="selectedDns$ | async as selectedDns">
  <mcs-grid-row>
    <!-- DNS Properties -->
    <mcs-grid-column sizeSm="12">
      <mcs-presentation-panel mcsId="vm-properties">
        <ng-container mcsPresentationPanelHeader>
          <h2>{{ 'dnsListing.details.management.dnsProperties.label' | translate }}</h2>
        </ng-container>

          <mcs-item>
            <span>{{ 'dnsListing.details.management.dnsProperties.type' | translate }}</span>
            <span>{{ isPrimary(selectedDns) }}</span>
          </mcs-item>

          <mcs-item>
            <span>{{ 'dnsListing.details.management.dnsProperties.zoneCount' | translate }}</span>
            <span>{{ selectedDns.zoneCountTmp }}</span>
          </mcs-item>
      </mcs-presentation-panel>
    </mcs-grid-column>

    <!-- Service Information -->
    <mcs-grid-column sizeSm="12" hidden-small>
      <mcs-presentation-panel mcsId="vm-console">
        <ng-container mcsPresentationPanelHeader>
          <h2>{{ 'dnsListing.details.management.serviceInformation.label' | translate }}</h2>
        </ng-container>

        <div>
          <span>{{ 'dnsListing.details.management.serviceInformation.serviceId' | translate }}</span>
          <span>{{ selectedDns?.serviceId }}</span>
        </div>
      </mcs-presentation-panel>
    </mcs-grid-column>
  </mcs-grid-row>
</ng-container>
