@import '../../../styles/shared/base';

.state-change-notifications-container {
  position: fixed;
  left: $state-change-notifications-margin;
  bottom: $state-change-notifications-margin;
  width: $state-change-notifications-width;
  z-index: $notifications-z-index;

  ul {
    li {
      margin: $state-change-notifications-interval 0;
    }
  }
}