<div class="ticket-attachment-wrapper dropzone"
  ng2FileDrop [ngClass]="{'file-hover': hasDropZone}"
  (fileOver)="onFileOver($event)"
  [uploader]="fileUploader">

  <!-- File Selection Zone Area -->
  <div class="ticket-attachment-filezone-wrapper">

    <!-- Drop zone -->
    <div >
      <mcs-icon [key]="attachmentIconKey"></mcs-icon>
      <span>{{ textContent.dragDropZone }}</span>
    </div>

    <!-- Selection zone -->
    <mcs-button size="small" (onClick)="chooFileElement.click()">
      <input #chooFileElement type="file"
        ng2FileSelect [uploader]="fileUploader" (change)="onSelectFile()"/>
      {{ textContent.chooseFile }}
    </mcs-button>
  </div>

  <!-- Attached files -->
  <div class="ticket-attached-files-wrapper" *ngIf="attachedFiles">
    <ul class="inline-list rollover">
      <li (click)="removeAttachment(attachedItem)"
        class="enable-pointer"
        *ngFor="let attachedItem of attachedFiles">
        <mcs-icon [key]="closeIconKey" size="small"></mcs-icon>
        <span>{{ attachedItem?.file.name }}</span>
      </li>
    </ul>
  </div>
</div>