@import "../../../../../styles/shared/base";

// Attachment component
$ticket-attachment-bg-color: $color-grey-07;
$ticket-attachment-padding: $space-small;
// Filezone selection
$ticket-attachment-filezone-bg-color: $color-white;
$ticket-attachment-filezone-box-shadow-color: $color-black;
$ticket-attachment-filezone-padding: $space-medium;
// File wrapper variables
$ticket-attachment-files-padding: $space-medium;

:host {
  display: block;
}

.ticket-attachment-wrapper {
  padding: $ticket-attachment-padding;
  @include display-flex(column);
  justify-content: center;
  @include set-items-interval($space-small);
  background-color: $ticket-attachment-bg-color;

  .ticket-attachment-filezone-wrapper {
    @include display-flex(row);
    justify-content: space-between;
    align-items: center;
    padding: $ticket-attachment-filezone-padding;
    background-color: $ticket-attachment-filezone-bg-color;
    @include box-shadow(0 0 5px 1px rgba($ticket-attachment-filezone-box-shadow-color, 0.2));

    input[type="file"] {
      display: none;
    }
  }

  .ticket-attached-files-wrapper {
    @include display-flex(column);
    @include set-items-interval($space-small);
    padding: $ticket-attachment-files-padding;

    .ticket-attached-item {
      @include display-flex(row);
      align-items: center;
      @include set-items-interval($space-small, horizontal);
    }
  }
}
