<mcs-grid>
  <mcs-grid-row>
    <mcs-grid-column sizeLg="9">
      <mcs-item orientation="block">
        <strong>{{ 'serverServices.operatingSystemUpdates.updatesStatusTitleLabel' | translate }}</strong>
        <mcs-item>
          <mcs-icon [key]="updatesStatusIcon" size="small"></mcs-icon>
          <div>
            <span mcsId="status-label">{{ updatesStatusLabel }}</span><br />
            <small read-only *ngIf="!hasErrors">
              <mcs-item orientation="inline">
                <span mcsId="status-sublabel">
                  {{ updatesStatusSubtitleLabel }}
                </span>
                <ng-container *ngIf="inspectButtonShown">
                  <a mcsId="inspect-server-link"
                    mcsEventTracker="os-updates-inspect-server-click"
                    mcsEventCategory="server"
                    mcsEventLabel="os-updates-inspect-server"
                    (click)="inspectForAvailableOsUpdates()"
                    *mcsAccessControl="serverPermission?.vmPatchManagement"
                    [disabled]="inspectNowButtonDisabled()">
                    {{ 'serverServices.operatingSystemUpdates.updatesAnalysisLabel' | translate }}
                  </a>
                </ng-container>
              </mcs-item>
            </small>
          </div>
        </mcs-item>
      </mcs-item>
    </mcs-grid-column>

    <mcs-grid-column mcsAlignContent="middle-right">
      <ng-container *ngIf="updateNowButtonShown">
        <button mcsButton size="xsmall"
          *mcsAccessControl="serverPermission?.vmPatchManagement"
          mcsId="update-now-button"
          mcsEventTracker="os-updates-update-now-click"
          mcsEventCategory="server"
          mcsEventLabel="os-updates-update-now"
          (click)="changeView()"
          [disabled]="server.isProcessing">
          {{ 'serverServices.operatingSystemUpdates.updatesNowButtonLabel' | translate }}
        </button>
      </ng-container>
    </mcs-grid-column>
  </mcs-grid-row>
</mcs-grid>