@import '../../../styles/shared/base';

:host {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-family: $popover-font-family;
  z-index: $zindex-popover;
  min-width: $popover-min-width;
}

@mixin popover-container($text-color, $background-color, $border-color: "transparent") {
  position: relative;
  width: 100%;
  color: $text-color;
  @include font-size($popover-font-size);
  @include display-flex(column);
  @include border-radius($popover-border-radius);

  // Adjust the arrow to remove the overllaping gradient
  $popover-arrow-offset: -($popover-arrow-width) !default;
  @if #{$border-color} != transparent {
    $popover-arrow-offset: -($popover-arrow-width - 1);
  } @else {
    &::before {
      display: none !important;
    }
  }

  &::before,
  &::after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border-style: solid;
    border-color: transparent;
  }
  &::before {
    border-width: $popover-arrow-border-width;
  }
  &::after {
    border-width: $popover-arrow-width;
  }

  &.arrow-top {
    top: $popover-arrow-border-width;
    &::before,
    &::after {
      left: 50%;
      border-top: 0;
    }
    &::after {
      top: $popover-arrow-offset;
      margin-left: -$popover-arrow-width;
      border-bottom-color: $background-color;

    }
    &::before {
      top: -($popover-arrow-border-width - 1);
      margin-left: -$popover-arrow-border-width;
      border-bottom-color: #{$border-color};
    }
  }

  &.arrow-right {
    right: $popover-arrow-border-width;
    &::before,
    &::after {
      top: 50%;
      border-right: 0;
    }
    &::after {
      right: $popover-arrow-offset;
      margin-top: -$popover-arrow-width;
      border-left-color: $background-color;
    }
    &::before {
      right: -($popover-arrow-border-width - 1);
      margin-top: -$popover-arrow-border-width;
      border-left-color: #{$border-color};
    }
  }

  &.arrow-left {
    left: $popover-arrow-border-width;
    &::before,
    &::after {
      top: 50%;
      border-left: 0;
    }
    &::after {
      left: $popover-arrow-offset;
      margin-top: -$popover-arrow-width;
      border-right-color: $background-color;
    }
    &::before {
      left: -($popover-arrow-border-width - 1);
      margin-top: -$popover-arrow-border-width;
      border-right-color: #{$border-color};
    }
  }

  &.arrow-down {
    bottom: $popover-arrow-border-width;
    &::before,
    &::after {
      left: 50%;
      border-bottom: 0;
    }
    &::after {
      bottom: $popover-arrow-offset;
      margin-left: -$popover-arrow-width;
      border-top-color: $background-color;
    }
    &::before {
      bottom: -($popover-arrow-border-width - 1);
      margin-left: -$popover-arrow-border-width;
      border-top-color: #{$border-color};
    }
  }

  .mcs-popover-content {
    position: inherit;
    @include border-radius($popover-border-radius);
    @include display-flex(column);
    border: 1px solid #{$border-color};
    background-color: $background-color;
    @content;

    &.default-padding {
      padding: $popover-padding;
    }

    .mcs-popover-template {
      @include font-size($popover-font-size - 2);
      word-wrap: break-word;
    }
  }
}

.mcs-popover-container {
  &.light {
    @include popover-container($color-black, $color-white, $color-grey-04) {
      box-shadow: 0 5px 10px rgba($color-black,0.2);
    }
  }

  &.dark {
    @include popover-container($color-white, rgba($color-black, 0.8));
  }

  &.gray {
    @include popover-container($color-black, $color-grey-07, $color-grey-04);
  }
}