@import "shared/index";

// Alerts
$alert-border-radius: $border-radius-small;
$alert-bg-opacity: 0.09;
$alert-bg-color-success: $color-scheme-success;
$alert-bg-color-error: $color-scheme-danger;
$alert-bg-color-warning: $color-scheme-warning;
$alert-bg-color-info: $color-scheme-primary;

.alert-wrapper {
  padding: $space-medium;
  @include display-flex(row);
  @include align-items(center);
  @include border-radius($alert-border-radius);

  @include breakpoint(small) {
    @include display-flex(column);
    @include set-items-interval($space-small);
  }

  .alert-content-wrapper {
    @include flex(1);
    @include display-flex(row);
    @include align-items(center);

    .alert-icon {
      @include flex(0);
      margin-right: $space-medium;
    }

    .alert-content {
      @include flex(1);
      @include display-flex(column);
    }
  }

  .alert-actions {
    @include flex(0);
    @include align-self(flex-end);
    @include display-flex(row);
    @include flex-wrap(nowrap);
    text-transform: uppercase;
  }

  &.success {
    background-color: rgba($alert-bg-color-success, $alert-bg-opacity);
  }

  &.error {
    background-color: rgba($alert-bg-color-error, $alert-bg-opacity);
  }

  &.warning {
    background-color: rgba($alert-bg-color-warning, $alert-bg-opacity);
  }

  &.info {
    background-color: rgba($alert-bg-color-info, $alert-bg-opacity);
  }
}
