@import "../../../styles/shared/base";

// Alerts
$alert-border-radius: $border-radius-small;
$alert-bg-opacity: 0.09;
$alert-bg-color-success: $color-green-00;
$alert-bg-color-error: $color-red-00;
$alert-bg-color-warning: $color-yellow-00;
$alert-bg-color-info: $color-primary-01;

.alert-wrapper {
  @include display-flex(row);
  @include align-items(center);
  padding: $space-medium;
  @include border-radius($alert-border-radius);

  .alert-icon {
    margin-right: $space-medium;
  }

  .alert-content {
    @include display-flex(column);
  }

  &.success {
    background-color: rgba($alert-bg-color-success, $alert-bg-opacity);
  }

  &.error {
    background-color: rgba($alert-bg-color-error, $alert-bg-opacity);
  }

  &.warning {
    background-color: rgba($alert-bg-color-warning, $alert-bg-opacity);
  }

  &.info {
    background-color: rgba($alert-bg-color-info, $alert-bg-opacity);
  }
}
