<mcs-page [storageKey]="featureName"
  [defaultFilters]="defaultColumnFilters"
  [header]="'plannedWorkListing.header'| translate">

  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>
   <mcs-top-panel-item *mcsTopPanelItemDef>
     <div class="listing-action-wrapper">
      <ng-container *ngIf="dataSource?.isSorting$ | async; else totalCountTemplate">
        <div class="sorting-label">
          <span padding-right-small>{{ 'label.sorting' | translate }}</span><mcs-loader size="medium"></mcs-loader>
        </div>
      </ng-container>
      <ng-template #totalCountTemplate>
        <div class="total-record-count" *ngIf="dataSource?.totalCount$ | async as totalCount">
          <span>{{ totalCount | mcsPlural:
                ('plannedWorkListing.dataSingular' | translate) : ('plannedWorkListing.dataPlural' | translate) }}
          </span>
        </div>
      </ng-template>
     </div>
   </mcs-top-panel-item>
 </mcs-top-panel>

 <!-- Left Panel -->
 <mcs-left-panel *mcsLeftPanelDef="'plannedWorkListing.leftPanelHeader' | translate">
  <!-- Search -->
  <mcs-left-panel-item *mcsLeftPanelItemDef>
    <mcs-search *ngIf="!isMobile" #search mcsId="planned-work-desktop-search" [defaultValue]="urlParamSearchKeyword"></mcs-search>
  </mcs-left-panel-item>

   <!-- Column Filter -->
   <mcs-left-panel-item *mcsLeftPanelItemDef [header]="'plannedWorkListing.columnFilter' | translate" offset="medium">
    <mcs-column-selector #columnFilter
      [storageKey]="featureName"
      [defaultFilters]="defaultColumnFilters"
      [filterPredicate]="filterPredicate">
    </mcs-column-selector>
    </mcs-left-panel-item>
 </mcs-left-panel>

 <!-- Content Panel -->
 <mcs-content-panel *mcsContentPanelDef>
   <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChanged()">
      <mat-tab label="Current and Future" id="0">
      </mat-tab>
      <mat-tab label="Past" id="1">
      </mat-tab>
      <mat-tab label="All" id="2">
      </mat-tab>
   </mat-tab-group>
   <div class="listing-table-wrapper">
    <!-- Search -->
    <mcs-search *ngIf="isMobile" #search mcsId="planned-work-mobile-search"></mcs-search>

     <!-- Table -->
     <table mat-table  #table [dataSource]="dataSource" matSort #sort="matSort">

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="id" disableClear>
          {{ 'columnHeader.id' | translate }}
        </th>
        <td mat-cell *matCellDef="let row" hidden-small>
          <span [innerHTML]="row.id | mcsDataLabel: 'Unknown'">
          </span>
        </td>
      </ng-container>

      <!-- Reference Id Column -->
      <ng-container matColumnDef="referenceId">
        <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="referenceId" disableClear>
          {{ 'columnHeader.referenceId' | translate }}
        </th>
        <td mat-cell *matCellDef="let row" hidden-small>
          <span [innerHTML]="row.referenceId | mcsDataLabel: 'Unknown'">
          </span>
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef hidden-small>
          {{ 'columnHeader.status' | translate }}
        </th>
        <td mat-cell *matCellDef="let row" hidden-small
          [innerHtml]="row.statusLabel | mcsDataLabel: 'Unknown'">
        </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef hidden-small>
          {{ 'columnHeader.type' | translate }}
        </th>
        <td mat-cell *matCellDef="let row" hidden-small
          [innerHtml]="row.typeLabel | mcsDataLabel: 'Unknown'">
        </td>
      </ng-container>

      <!-- Summary Column -->
      <ng-container matColumnDef="summary">
        <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="summary" disableClear>
          {{ 'columnHeader.summary' | translate }}
        </th>
        <td mat-cell *matCellDef="let row" hidden-small>
          <ng-container *ngIf="(row.summary); else NoSummary">
            <span [matTooltipDisabled]="(row.summary.length <= 60)" [matTooltip]="row.summary">
              {{ (row.summary.length > 60)? (row.summary | slice:0:60)+'..':(row.summary) }}
            </span>
          </ng-container>
          <ng-template #NoSummary>
            <span [mcsGreyedOut]="true">None</span>
          </ng-template>
        </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="description" disableClear>
          {{ 'columnHeader.description' | translate }}
        </th>
        <td mat-cell *matCellDef="let row" hidden-small>
          <ng-container *ngIf="(row.description); else NoDesc">
            <span [matTooltipDisabled]="(row.description.length <= 60)" [matTooltip]="row.description">
              {{ (row.description.length > 60)? (row.description | slice:0:60)+'..':(row.description) }}
            </span>
          </ng-container>
          <ng-template #NoDesc>
            <span [mcsGreyedOut]="true">None</span>
          </ng-template>
        </td>
      </ng-container>

      <!-- Planned Start Date Column-->
      <ng-container matColumnDef="plannedStart">
        <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="plannedStart" disableClear>
          <mcs-item>
            <div>
              <span>{{ 'columnHeader.plannedStart' | translate }}</span>
            </div>
            <span class="material-icons timezone-icon" [matTooltip]="timeZone">info_outline</span>
          </mcs-item>
        </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="(row.plannedStart); else NoPlannedStart">
            <span> {{  row.plannedStart | mcsStdDateFormat }}</span>
          </ng-container>
          <ng-template #NoPlannedStart>
            <span [mcsGreyedOut]="true">{{'plannedWorkListing.noScheduleDate' | translate}}</span>
          </ng-template>
        </td>
      </ng-container>

      <!-- Planned End Date Column-->
      <ng-container matColumnDef="plannedEnd">
        <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="plannedEnd" disableClear>
          <mcs-item>
            <div>
              <span>{{ 'columnHeader.plannedEnd' | translate }}</span>
            </div>
            <span class="material-icons timezone-icon" [matTooltip]="timeZone">info_outline</span>
          </mcs-item>
        </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="(row.plannedEnd); else NoPlannedEnd">
            <span> {{  row.plannedEnd | mcsStdDateFormat }}</span>
          </ng-container>
          <ng-template #NoPlannedEnd>
            <span [mcsGreyedOut]="true">{{'plannedWorkListing.noScheduleDate' | translate}}</span>
          </ng-template>
        </td>
      </ng-container>

      <!-- Outage Duration Column -->
      <ng-container matColumnDef="outageDurationMinutes">
        <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="outageDurationMinutes" disableClear>
          {{ 'columnHeader.outageDurationMinutes' | translate }}
        </th>
        <td mat-cell *matCellDef="let row" hidden-small>
          <ng-container *ngIf="(row.outageDuration !== null && row.outageDuration !== undefined); else NoOutageDuration">
            <mcs-item>
              <span>{{ row.outageDuration }} {{ 'label.minutes' | translate }}</span>
            </mcs-item>
          </ng-container>
          <ng-template #NoOutageDuration>
            <span [mcsGreyedOut]="true">{{'plannedWorkListing.noOutageDuration' | translate}}</span>
          </ng-template>
        </td>
      </ng-container>

       <!-- Header and Data row -->
       <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async"
        [disabled]="dataSource?.isInProgress$ | async"></tr>
       <tr mat-row *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"
         mcsCursor="pointer"
         mcsId="planned-work-listing-row"
         (click)="navigateToPlannedWorkDetails(row)"
         mcsEventTracker="navigate-to-planned-work-details"
         mcsEventCategory="planned-work"
         mcsEventLabel="planned-work-listing-page"></tr>
     </table>

     <!-- Table Status -->
     <mcs-item orientation="block">
       <div *ngIf="dataSource?.isInProgress$ | async" align="center">
         <mcs-loader size="medium"></mcs-loader>
       </div>
       <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
         {{ 'plannedWorkListing.noRecordsFoundMessage' | translate }}
       </div>
       <div *ngIf="dataSource?.hasError$ | async" text-center>
         <div class="listing-status-wrapper">
           <span>{{ 'plannedWorkListing.errorMessage' | translate }}</span>
           <a (click)="retryDatasource()"
             mcsId
             mcsEventTracker="retry-loading-planned-work-listing"
             mcsEventCategory="planned-work"
             mcsEventLabel="planned-work-listing-page">{{ 'plannedWorkListing.retry' | translate }}</a>.
         </div>
       </div>
     </mcs-item>

       <!-- Paginator -->
       <mcs-paginator #paginator
         [hidden]="!hasNextPage"
         [totalCount]="dataSource?.totalCount$ | async">
       </mcs-paginator>
     </div>
   </mcs-content-panel>
</mcs-page>
