@import "variables";
@import "icons";

.mcs-icon {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  display:inline-block;
}