%mcs-icon-base {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  display:inline-block;
}

.mcs-toggle-nav-icon {
  width: 17px;
  height: 14px;
  @extend %mcs-icon-base;
  background-image: url($icon-toggle-nav);
}

.mcs-arrow-right-icon {
  width: 40px;
  height: 40px;
  @extend %mcs-icon-base;
  background-image: url($icon-arrow-right);
}

.mcs-arrow-up-icon {
  width: 11px;
  height: 19px;
  @extend %mcs-icon-base;
  background-image: url($icon-arrow-up);
}

.mcs-filter-selector-icon {
  width: 25px;
  height: 25px;
  @extend %mcs-icon-base;
  background-image: url($icon-filter-selector);
}

.mcs-toggle-nav-icon {
  width: 17px;
  height: 14px;
  @extend %mcs-icon-base;
  background-image: url($icon-toggle-nav);
}

.mcs-state-running-large-icon {
  width: 30px;
  height: 30px;
  @extend %mcs-icon-base;
  background-image: url($icon-state-running);
}

.mcs-state-restarting-large-icon {
  width: 30px;
  height: 30px;
  @extend %mcs-icon-base;
  background-image: url($icon-state-restarting);
}

.mcs-state-stopped-large-icon {
  width: 30px;
  height: 30px;
  @extend %mcs-icon-base;
  background-image: url($icon-state-stopped);
}

.mcs-state-running-medium-icon {
  width: 20px;
  height: 20px;
  @extend %mcs-icon-base;
  background-image: url($icon-state-running);
}

.mcs-state-restarting-medium-icon {
  width: 20px;
  height: 20px;
  @extend %mcs-icon-base;
  background-image: url($icon-state-restarting);
}

.mcs-state-stopped-medium-icon {
  width: 20px;
  height: 20px;
  @extend %mcs-icon-base;
  background-image: url($icon-state-stopped);
}

.mcs-state-running-small-icon {
  width: 10px;
  height: 10px;
  @extend %mcs-icon-base;
  background-image: url($icon-state-running);
}

.mcs-state-restarting-small-icon {
  width: 10px;
  height: 10px;
  @extend %mcs-icon-base;
  background-image: url($icon-state-restarting);
}

.mcs-state-stopped-small-icon {
  width: 10px;
  height: 10px;
  @extend %mcs-icon-base;
  background-image: url($icon-state-stopped);
}