/**
* Icons Path
*/
$icons-path: '/assets/icon/';

$icon-arrow-right: $icons-path + 'arrow-right.png';
$icon-arrow-up: $icons-path + 'arrow-up.png';
$icon-filter-selector: $icons-path + 'filter-selector.png';
$icon-toggle-nav: $icons-path + 'toggle-nav.png';
$icon-state-running: $icons-path + 'state-running.png';
$icon-state-restarting: $icons-path + 'state-restarting.png';
$icon-state-stopped: $icons-path + 'state-stopped.png';