<mat-form-field>
  <input matInput [ngxMatDatetimePicker]="picker" [placeholder]="label"
    [min]="minDate"
    [max]="maxDate"
    disabled
    [required]="required"
    (dateInput)="onDateTimePickerChange($event)"
    color="primary">
  <mat-datepicker-toggle
   matSuffix [for]="picker">
  </mat-datepicker-toggle>
  <ngx-mat-datetime-picker #picker
  [showSpinners]="true"
  [startAt]="minDate"
  [defaultTime]="defaultTime"
  [showSeconds]="false"
  [stepHour]="stepHour"
  [stepMinute]="stepMinute"
  [enableMeridian]="true"
  disabled="false">
  </ngx-mat-datetime-picker>
</mat-form-field>