<mcs-page [header]="textContent.header">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>
    <mcs-top-panel-item *mcsTopPanelItemDef>
      <div class="listing-action-wrapper">
        <div class="total-record-count right-align">
          <span>{{ recordsFoundLabel }}</span>
        </div>
      </div>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="textContent.leftPanelHeader">
    <!-- Search -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <mcs-search *ngIf="!isMobile" #search></mcs-search>
    </mcs-left-panel-item>

    <!-- Column Filter -->
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="textContent.filterColumn" offset="medium">
      <mcs-filter-selector [key]="columnSettingsKey"
        (onGetFilters)="updateColumnSettings($event)"></mcs-filter-selector>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>

    <p>{{ textContent.description }}</p>

    <div class="listing-table-wrapper">
      <!-- Search -->
      <mcs-search *ngIf="isMobile" #search></mcs-search>

      <!-- Table -->
      <mcs-table [dataSource]="dataSource">
        <!-- Firewall Column -->
        <ng-container mcsColumnDef="firewall">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ columnSettings.firewall.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" class="emphasize squishy-cell">
            <mcs-icon [key]="getConnectionStatusIconKey(row.connectionStatus)" size="small"></mcs-icon>
            <a [routerLink]="['/networking/firewalls', row.id]">{{ row.managementName }}</a>
          </mcs-data-cell>
        </ng-container>

        <!-- Serial Number Column -->
        <ng-container mcsColumnDef="serialNumber" >
          <mcs-header-cell *mcsHeaderCellDef class="hidden-small">
            {{ columnSettings.serialNumber.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" class="hidden-small">
            {{ row.serialNumber }}
          </mcs-data-cell>
        </ng-container>

        <!-- Firmware Version Column -->
        <ng-container mcsColumnDef="firmwareVersion">
          <mcs-header-cell *mcsHeaderCellDef class="hidden-small">
            {{ columnSettings.firmwareVersion.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" class="hidden-small">
            {{ row.osVendor }} {{ row.osRelease }}
          </mcs-data-cell>
        </ng-container>

        <!-- IP Address Column -->
        <ng-container mcsColumnDef="ipAddress">
          <mcs-header-cell *mcsHeaderCellDef class="hidden-small">
            {{ columnSettings.ipAddress.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" class="hidden-small">
            {{ row.managementIpAddress }}
          </mcs-data-cell>
        </ng-container>

        <!-- Role Column -->
        <ng-container mcsColumnDef="role">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ columnSettings.role.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            {{ row.haRole }}
          </mcs-data-cell>
        </ng-container>

        <!-- Service ID Column -->
        <ng-container mcsColumnDef="serviceId">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ columnSettings.serviceId.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            {{ row.serviceId }}
          </mcs-data-cell>
        </ng-container>

        <!-- Action Column TODO: add restriction here -->
        <ng-container mcsColumnDef="action">
          <mcs-header-cell *mcsHeaderCellDef class="hidden-small"></mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" class="text-center hidden-small">
            <mcs-icon class="action" [key]="cogIconKey" size="medium"
              mcsPopover placement="bottom" orientation="left" theme="light"
              padding="none" [content]="actionContent" cursor="pointer">
            </mcs-icon>
            <ng-template #actionContent>
              <div class="cog-container">
                <a [href]="row.url" target="_blank">
                  View in Portal
                </a>
              </div>
            </ng-template>
          </mcs-data-cell>
        </ng-container>

        <!-- Data Status Integration -->
        <ng-container mcsDataStatusDef>
          <mcs-data-empty *mcsDataEmptyDef>
            <span>{{ textContent.noFirewalls }}</span>
          </mcs-data-empty>
          <mcs-data-error *mcsDataErrorDef>
            <div class="listing-status-wrapper">
              <span>{{ textContent.errorMessage }}</span>
              <a (click)="retryDatasource()">{{ textContent.retry }}</a>.
            </div>
          </mcs-data-error>
        </ng-container>

        <!-- Header and Data row -->
        <mcs-header-row *mcsHeaderRowDef="dataColumns"></mcs-header-row>
        <mcs-data-row *mcsDataRowDef="let row; columns: dataColumns;"></mcs-data-row>
      </mcs-table>

      <!-- Paginator -->
      <mcs-paginator #paginator
        [totalCount]="totalRecordCount"
        [pageIndex]="0"
        [pageSize]="25">
      </mcs-paginator>
    </div>
  </mcs-content-panel>
</mcs-page>
