<mcs-presentation-panel>
  <ng-container mcsPresentationPanelHeader>
    <mcs-item orientation="separated" full-width>
      <h2>{{ 'serverServicesHidsDetails.title' | translate }}</h2>
      <ng-content select="[mcsViewServicesTab]"></ng-content>
    </mcs-item>
  </ng-container>
  <mcs-grid>
    <mcs-grid-row>
      <mcs-grid-column sizeLg="11">
        <p [innerHTML]="('serverServicesHidsDetails.description' | translate) | mcsNewLines"></p>
      </mcs-grid-column>
      <mcs-grid-column sizeLg="1">
        <mcs-icon mcsStopPropagation [key]="ellipsisKey" size="large"
          mcsPopover placement="bottom" orientation="left" theme="light"
          padding="none" [content]="actionContent" mcsCursor="pointer">
        </mcs-icon>
        <ng-template #actionContent>
          <div class="cog-actions-wrapper">
            <a mcsButton="basic" color="white" labelPlacement="left"
              target="_blank"
              [href]="trendDsmLink"
              mcsId
              mcsEventTracker="view-in-trend-dsm-hids"
              mcsEventCategory="server"
              mcsEventLabel="server-services-view-in-trend-dsm-hids">
              {{ 'serverServicesHidsDetails.viewInTrendDsmLabel' | translate }}
            </a>
          </div>
        </ng-template>
      </mcs-grid-column>
    </mcs-grid-row>
  </mcs-grid>

   <!-- Table -->
  <table mat-table [dataSource]="hidsDatasource">
    <!-- Threat Column -->
    <ng-container matColumnDef="threat">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'columnHeader.threat' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" text-wrap>
        <span text-wrap>{{ row.description }}</span>
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.date' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small>
        <span text-wrap>{{ row.detectedOn | mcsStdDateFormat }}</span>
      </td>
    </ng-container>

    <!-- Application Type Column -->
    <ng-container matColumnDef="applicationType">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.applicationType' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small>
        <span text-wrap>{{ row.applicationType }}</span>
      </td>
    </ng-container>

    <!-- Interface Type Column -->
    <ng-container matColumnDef="interface">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.interface' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small>
        <span text-wrap>{{ row.interface }}</span>
      </td>
    </ng-container>

    <!-- Source Ip Column -->
    <ng-container matColumnDef="sourceIp">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.sourceIp' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small>
        <span text-wrap>{{ row.sourceIpAddress }}</span>
      </td>
    </ng-container>

    <!-- Destination Ip Column -->
    <ng-container matColumnDef="destinationIp">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.destinationIp' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small>
        <span text-wrap>{{ row.destinationIpAddress }}</span>
      </td>
    </ng-container>

    <!-- Action Taken Column -->
    <ng-container matColumnDef="actionTaken">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.actionTaken' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small>
        <span text-wrap>{{ row.actionTaken }}</span>
      </td>
    </ng-container>

    <!-- Severity Column -->
    <ng-container matColumnDef="severity">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.severity' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small>
        <span text-wrap>{{ severityLabel(row.severity) }}</span>
      </td>
    </ng-container>

    <!-- Header and Data row -->
    <tr mat-header-row *matHeaderRowDef="hidsDatasource?.dataColumns$ | async"></tr>
    <tr mat-row *matRowDef="let row; columns: hidsDatasource?.dataColumns$ | async;"></tr>
  </table>

  <!-- Table Statuses -->
  <mcs-item orientation="block">
    <div *ngIf="hidsDatasource?.isInProgress$ | async" align="center">
      <mcs-loader size="medium"></mcs-loader>
    </div>
    <div *ngIf="hidsDatasource?.hasNoRecords$ | async" text-center>
      <span>{{ 'serverServicesHidsDetails.noContent' | translate }} </span>
    </div>
    <div *ngIf="hidsDatasource?.hasError$ | async" text-center>
      <div class="listing-status-wrapper">
        <span>{{ 'serverServicesHidsDetails.errorContent' | translate }}</span>
      </div>
    </div>
  </mcs-item>
</mcs-presentation-panel>
