<!-- TODO: extract all static texts and transfer to translate -->
<ng-container *ngIf="product$ | async as selectedProduct">
  <mcs-scrollable-link-group #scrollableLinkGroup>
    <mcs-scrollable-link label="All Information">

      <!-- Description -->
      <div class="product-catalog-item">

        <div class="product-catalog-widget-wrapper">
          <!-- Enquire Now -->
          <mcs-presentation-panel [embossed]="true">
            <ng-container mcsPresentationPanelHeader>
              <strong>{{ 'label.learnMore' | translate }}</strong>
            </ng-container>

            <p>{{ 'message.enquireNow' | translate }}</p>

            <button mcsButton arrow="right" *ngIf="!showEnquiryForm"
              (click)="showEnquiryForm = true"
              mcsId="enquire-now">
              {{ 'action.enquireNow' | translate }}
            </button>

            <mcs-enquiry-form *ngIf="showEnquiryForm"
              (submitted)="onSubmitEnquiry($event, selectedProduct.id)">
            </mcs-enquiry-form>
          </mcs-presentation-panel>

          <!-- Ownerships -->
          <mcs-presentation-panel [embossed]="true" *mcsAccessControl="['CompanyView']">
            <ng-container mcsPresentationPanelHeader>
              <strong>{{ 'label.ownership' | translate }}</strong>
            </ng-container>

            <mcs-list>
              <mcs-list-item *ngIf="selectedProduct.primaryOwner?.name">
                <span>{{ selectedProduct.primaryOwner.name }} -
                  <small read-only> Primary Product Owner</small>
                </span>
              </mcs-list-item>

              <mcs-list-item *ngIf="selectedProduct.secondaryOwner?.name">
                <span>{{ selectedProduct.secondaryOwner.name }} -
                  <small read-only> Secondary Product Owner</small>
                </span>
              </mcs-list-item>

              <mcs-list-item *ngIf="selectedProduct.architectOwnerPrimary?.name">
                <span>{{ selectedProduct.architectOwnerPrimary.name }} -
                  <small read-only> Primary Architecture Owner</small>
                </span>
              </mcs-list-item>

              <mcs-list-item *ngIf="selectedProduct.architectOwnerSecondary?.name">
                <span>{{ selectedProduct.architectOwnerSecondary.name }} -
                  <small read-only> Secondary Architecture Owner</small>
                </span>
              </mcs-list-item>

              <mcs-list-item *ngIf="selectedProduct.specialistOwner?.name">
                <span>{{ selectedProduct.specialistOwner.name }} -
                  <small read-only> Specialist Product Owner</small>
                </span>
              </mcs-list-item>
            </mcs-list>
          </mcs-presentation-panel>

          <!-- Dependencies -->
          <mcs-presentation-panel [embossed]="true"
            *ngIf="selectedProduct.dependentProducts | mcsIsNotNullOrEmpty">
            <ng-container mcsPresentationPanelHeader>
              <strong>Dependencies</strong>
            </ng-container>

            <div>
              <div [ngStyle]="{'float': 'right'}">
                <mcs-icon size="100px" [key]="cloudIconKey"></mcs-icon>
              </div>
              <mcs-item *ngFor="let dependentProduct of selectedProduct.dependentProducts">
                <a [mcsRouterLink]="[routeKeyEnum.CatalogProduct, dependentProduct.id]"
                  mcsId="product-dependency"
                  mcsEventTracker="select-product-dependency"
                  mcsEventCategory="catalog"
                  mcsEventLabel="catalog-product-detail-view">
                  {{ dependentProduct.name }}
                </a>
              </mcs-item>
            </div>
          </mcs-presentation-panel>

          <!-- Locations -->
          <mcs-presentation-panel [embossed]="true"
            *ngIf="selectedProduct.locations | mcsIsNotNullOrEmpty">
            <ng-container mcsPresentationPanelHeader>
              <strong>Locations</strong>
            </ng-container>

            <mcs-list spacing="small">
              <mcs-list-item *ngFor="let location of selectedProduct.locations">
                <div>
                  <span>{{ location.name }}</span><br>
                  <small read-only>{{ location.fullAddress }}</small>
                </div>
              </mcs-list-item>
            </mcs-list>
          </mcs-presentation-panel>
        </div>

        <!-- Short description -->
        <div *ngIf="selectedProduct.shortDescription | mcsIsNotNullOrEmpty" margin-bottom-large>
          <div [innerHTML]="selectedProduct.shortDescription"></div>
        </div>

        <!-- Use Cases -->
        <div class="product-catalog-item" *ngIf="selectedProduct.useCases | mcsIsNotNullOrEmpty">
          <h2 margin-bottom-medium>
            <span>Use Cases</span><br/>
            <small read-only text-italic>Click to learn more</small>
          </h2>

          <mat-chip-list>
            <mat-chip *ngFor="let useCase of selectedProduct.useCases"
              [value]="useCase"
              (click)="onClickUseCase(useCase)"
              mcsCursor="pointer">
              {{ useCase.name }}
            </mat-chip>
          </mat-chip-list>

          <ng-container *ngIf="selectedUseCase$ | async as selectedUseCase">
            <mcs-note type="outlined" margin-top-medium>
              <span [innerHTML]="selectedUseCase?.description"></span>
            </mcs-note>
          </ng-container>
        </div>

        <!-- description -->
        <div class="product-catalog-item" *ngIf="selectedProduct.description | mcsIsNotNullOrEmpty">
          <h2>Description</h2>
          <div [innerHTML]="selectedProduct.description"></div>
        </div>
      </div>

      <!-- Product Options -->
      <div class="product-catalog-item" *ngIf="selectedProduct.productOptions | mcsIsNotNullOrEmpty">
        <h2>Product Options</h2>

        <table mat-table [dataSource]="selectedProduct.productOptions" class="limited-view">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              Name
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="options" >
            <th mat-header-cell *matHeaderCellDef>
              Options
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-chip-list>
                <ng-container *ngIf="selectedProduct.hasProductProperties">
                  <mat-chip *ngFor="let property of getFormattedProperties(row)">
                    {{ property }}
                  </mat-chip>
                </ng-container>
                <ng-container *ngIf="selectedProduct.hasProductListOptions">
                  <mat-chip *ngFor="let item of row.listOptions">
                    {{ item }}
                  </mat-chip>
                </ng-container>
              </mat-chip-list>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="productOptionsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: productOptionsColumns;"></tr>
        </table>
      </div>

      <!-- Feature Benefit Matrix -->
      <div class="product-catalog-item"
        *ngIf="selectedProduct.featureBenefitMatrix | mcsIsNotNullOrEmpty">
        <h2>Feature Benefit Matrix</h2>
        <div [innerHTML]="selectedProduct.featureBenefitMatrix"></div>
      </div>
    </mcs-scrollable-link>

    <!-- Monitoring -->
    <mcs-scrollable-link label="Monitoring"
      *ngIf="selectedProduct.inviewPremium | mcsIsNotNullOrEmpty">
      <div class="product-catalog-item">
        <h2>Inview</h2>
        <ng-template let-inviews let-title="inviewTitle" #inviewTemplate>
          <h3>{{ title }}</h3>
          <mcs-grid>

            <ng-container *ngFor="let inview of inviews">
              <mcs-grid-row>
                <mcs-grid-column sizeSm="12">
                  <h4>{{ inview.name }}</h4>
                  <p [innerHTML]="inview.description" no-margin></p>
                </mcs-grid-column>
              </mcs-grid-row>

              <mcs-grid-row no-margin>
                <mcs-grid-column padding-large
                  *ngIf="inview.graphUrl | mcsIsNotNullOrEmpty" sizeSm="12" sizeMd="12" sizeLg="8">
                  <div>
                    <img [src]="inview.graphUrl" class="image-inherit">
                  </div>
                </mcs-grid-column>
              </mcs-grid-row>

              <mcs-grid-row *ngIf="inview?.thresholds | mcsIsNotNullOrEmpty">
                <mcs-grid-column>
                  <table [dataSource]="inview.thresholds">
                    <!-- Description Column -->
                    <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef>
                        Description
                      </th>
                      <td text-wrap mat-cell *matCellDef="let row">
                        {{ row.description }}
                      </td>
                    </ng-container>

                    <!-- Threshold Utilisation Column -->
                    <ng-container matColumnDef="alertThreshold">
                      <th mat-header-cell *matHeaderCellDef>
                        Alert Threshold
                      </th>
                      <td text-wrap mat-cell *matCellDef="let row">
                        {{ row.defaultAlertThreshold }}
                      </td>
                    </ng-container>

                    <!-- Header and Data row -->
                    <tr mat-header-row *matHeaderRowDef="thresholdColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: thresholdColumns;"></tr>
                  </table>
                </mcs-grid-column>
              </mcs-grid-row>
            </ng-container>

          </mcs-grid>
        </ng-template>

        <ng-container *ngTemplateOutlet="inviewTemplate;
          context: {
            $implicit: selectedProduct.inviewStandard,
            inviewTitle: 'Standard'
          }"></ng-container>

        <ng-container *ngTemplateOutlet="inviewTemplate;
          context: {
            $implicit: selectedProduct.inviewPremium,
            inviewTitle: 'Premium'
          }"></ng-container>
      </div>
    </mcs-scrollable-link>

    <!-- PCI Compliance -->
      <mcs-scrollable-link label="Compliance" *ngIf="selectedProduct.pciDetails | mcsIsNotNullOrEmpty">
      <div class="product-catalog-item">
        <h2>PCI Compliance</h2>
        <table [dataSource]="sortPciDetails(selectedProduct.pciDetails)">
          <!-- Raci Column -->
          <ng-container matColumnDef="raci">
            <th mat-header-cell *matHeaderCellDef>
              RACI
            </th>
            <td text-wrap mat-cell *matCellDef="let row">
              {{ row.raci }}
            </td>
          </ng-container>

          <!-- MCS Responsibility Definition Column -->
          <ng-container matColumnDef="mcsResponsibilityDefinition">
            <th mat-header-cell *matHeaderCellDef>
              MCS Responsibility Definition
            </th>
            <td text-wrap mat-cell *matCellDef="let row">
              {{ row.mcsResponsibilityDefinition }}
            </td>
          </ng-container>

          <!-- Customer Responsibility Definition -->
          <ng-container matColumnDef="customerResponsibilityDefinition">
            <th mat-header-cell *matHeaderCellDef>
              Customer Responsibility Definition
            </th>
            <td text-wrap mat-cell *matCellDef="let row">
              {{ row.customerResponsibilityDefinition }}
            </td>
          </ng-container>

          <!-- Not Applicable Justification Column -->
          <ng-container matColumnDef="notApplicableJustification">
            <th mat-header-cell *matHeaderCellDef>
              Not Applicable Justification
            </th>
            <td text-wrap mat-cell *matCellDef="let row">
              {{ row.notApplicableJustification }}
            </td>
          </ng-container>

          <!-- Control Column -->
          <ng-container matColumnDef="control">
            <th mat-header-cell *matHeaderCellDef>
              Control
            </th>
            <td text-wrap mat-cell *matCellDef="let row">
              {{ row.control }}
            </td>
          </ng-container>

          <!-- Requirement Column -->
          <ng-container matColumnDef="requirement">
            <th mat-header-cell *matHeaderCellDef>
              Requirement
            </th>
            <td text-wrap mat-cell *matCellDef="let row">
              {{ row.requirement }}
            </td>
          </ng-container>

          <!-- Version Column -->
          <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef>
              Version
            </th>
            <td text-wrap mat-cell *matCellDef="let row">
              {{ row.version }}
            </td>
          </ng-container>

          <!-- Header and Data row -->
          <tr mat-header-row *matHeaderRowDef="pciComplianceColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: pciComplianceColumns;"></tr>
        </table>
      </div>
    </mcs-scrollable-link>

    <!-- More -->
    <mcs-scrollable-link label="More"
      *ngIf="selectedProduct.downloads | mcsIsNotNullOrEmpty">
      <div class="product-catalog-item">
        <h2>Downloads</h2>
        <div [innerHTML]="selectedProduct.downloads"></div>
      </div>
    </mcs-scrollable-link>
  </mcs-scrollable-link-group>
</ng-container>
