<mcs-presentation-panel mcsId="storage" *ngIf="server$ | async as server">
  <ng-container mcsPresentationPanelHeader>
    <h2>{{ 'serverStorage.title' | translate }}</h2>
  </ng-container>

  <!-- Description -->
  <ng-container *mcsAccessControl="serverPermision.vmEdit; else noEditableDiskTemplate">
    <p>{{ 'serverStorage.hasEditableDiskDescription' | translate }}</p>
  </ng-container>
  <ng-template #noEditableDiskTemplate>
    <p>{{ 'serverStorage.noEditableDiskDescription' | translate }}</p>
  </ng-template>

  <ng-container [ngSwitch]="diskMethodType">
    <mcs-section [@fadeIn] *ngSwitchCase="serverDiskMethodTypeEnum.AddDisk">

      <!-- DISKs Table -->
      <mcs-table [dataSource]="disksDataSource">
        <!-- Storage Device Column -->
        <ng-container mcsColumnDef="storageDevice">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ 'serverStorage.columnHeaders.storageDevice' | translate }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" text-wrap>
            <mcs-item>
              <ng-container *ngIf="diskIsInProgress(row); else defaultStorageIconTemplate">
                <mcs-loader size="small"
                  [mcsTooltip]="server.processingText"
                  mcsTooltipPosition="right"></mcs-loader>
              </ng-container>
              <ng-template #defaultStorageIconTemplate>
                <mcs-icon [key]="storageIconKey" size="small"></mcs-icon>
              </ng-template>
              <span [innerHTML]="row.name | mcsDataLabel"></span>
            </mcs-item>
          </mcs-data-cell>
        </ng-container>

        <!-- Storage Profile Column -->
        <ng-container mcsColumnDef="storageProfile">
          <mcs-header-cell *mcsHeaderCellDef hidden-small>
            {{ 'serverStorage.columnHeaders.storageProfile' | translate }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" hidden-small text-wrap>
            <span [innerHTML]="row.storageProfile | mcsDataLabel"></span>
          </mcs-data-cell>
        </ng-container>

        <!-- Capacity Column -->
        <ng-container mcsColumnDef="capacity">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ 'serverStorage.columnHeaders.capacity' | translate }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            <span [innerHTML]="(row.sizeMB | mcsDataSize: 'MB') | mcsDataLabel"></span>
          </mcs-data-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container mcsColumnDef="action" *mcsAccessControl="serverPermision.vmEdit">
          <mcs-header-cell *mcsHeaderCellDef class="action-header-cell">
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            <mcs-item *ngIf="(resource$ | async)?.hasStorage">
              <a [disabled]="!server.executable"
                  (click)="openExpandDiskWindow(row)"
                  mcsId
                  mcsEventTracker="show-expand-disk"
                  mcsEventCategory="server"
                  mcsEventLabel="server-details-page">
                {{ 'serverStorage.expandStorageLink' | translate }}
              </a>
              <a *ngIf="!row.isPrimary"
                [disabled]="!server.executable"
                (click)="deleteDisk(server, row)"
                mcsId
                mcsEventTracker="delete-disk"
                mcsEventCategory="server"
                mcsEventLabel="server-details-page">
                {{ 'serverStorage.deleteStorageLink' | translate }}
              </a>
            </mcs-item>
          </mcs-data-cell>
        </ng-container>

        <!-- Data Status Integration -->
        <ng-container mcsDataStatusDef>
          <mcs-data-empty *mcsDataEmptyDef>
            <span>{{ 'serverStorage.noDisks' | translate }} </span>
          </mcs-data-empty>
          <mcs-data-error *mcsDataErrorDef>
            <span>{{ 'serverStorage.errorGettingDisks' | translate }}</span>
          </mcs-data-error>
        </ng-container>

        <!-- Header and Data row -->
        <mcs-header-row *mcsHeaderRowDef="disksColumns"></mcs-header-row>
        <mcs-data-row *mcsDataRowDef="let row; columns: disksColumns;"></mcs-data-row>
      </mcs-table>

      <!-- Adding Disk -->
      <ng-container *mcsAccessControl="serverPermision.vmEdit">
        <ng-container *ngIf="resourceStorages$ | async as resourceStorages">
          <div class="action-box" *ngIf="canAddDisk(server, resourceStorages)"
            [@fadeIn] [disabled]="!server.executable">

            <mcs-server-manage-storage *mcsComponentHandler
              [storages]="resourceStorages"
              (dataChange)="onStorageChanged($event)">

              <ng-container mcsManageStorageHeader>
                <h2>{{ 'serverStorage.addStorageHeading' | translate }}</h2>
              </ng-container>
              <ng-container mcsManageStorageWarning>
                <span>{{ 'serverStorage.fullStorageSpace' | translate }}</span>
              </ng-container>
            </mcs-server-manage-storage>

            <div class="action-items">
              <button mcsButton arrow="right" size="small"
                [disabled]="!addDiskEnabled"
                (click)="addDisk(server)"
                mcsId
                mcsEventTracker="add-disk"
                mcsEventCategory="server"
                mcsEventLabel="server-details-page">
                {{ 'serverStorage.addButton' | translate }}
              </button>
            </div>
          </div>
        </ng-container>

        <mcs-data-status-warning *ngIf="hasReachedDisksLimit(server)">
          <span>{{ 'serverStorage.reachedStorageLimit' | translate }}</span>
        </mcs-data-status-warning>
      </ng-container>
    </mcs-section>

    <!-- Expand Disk -->
    <mcs-section [@fadeIn] *ngSwitchCase="serverDiskMethodTypeEnum.ExpandDisk">
      <div class="action-box" [disabled]="!server.executable">
        <mcs-server-manage-storage
          [storages]="resourceStorages$ | async"
          [targetDisk]="selectedDisk"
          [detailsTemplate]="diskDetailsTemplate"
          (dataChange)="onStorageChanged($event)">

          <ng-container mcsManageStorageHeader>
            <h2>{{ 'serverStorage.expandStorageHeading' | translate }}</h2>
          </ng-container>
        </mcs-server-manage-storage>

        <ng-template #diskDetailsTemplate>
          <mcs-item>
            <strong>{{ 'serverStorage.columnHeaders.storageDevice' | translate }}:</strong>
            <span>{{ selectedDisk.name }}</span>
          </mcs-item>
          <mcs-item>
            <strong>{{ 'serverStorage.columnHeaders.storageProfile' | translate }}:</strong>
            <span>{{ selectedDisk.storageProfile }}</span>
          </mcs-item>
          <mcs-item>
            <strong>{{ 'serverStorage.columnHeaders.capacity' | translate }}:</strong>
            <span>{{ selectedDisk.sizeMB | mcsDataSize: 'MB' }}</span>
          </mcs-item>
        </ng-template>

        <div class="action-items">
          <a (click)="closeExpandDiskWindow()"
            mcsId
            mcsEventTracker="expand-disk-close"
            mcsEventCategory="server"
            mcsEventLabel="server-details-page">
            {{ 'serverStorage.cancelButton' | translate }}
          </a>

          <button mcsButton arrow="right" size="small"
            [disabled]="!manageStorage?.hasChanged"
            (click)="expandDisk(server)"
            mcsId
            mcsEventTracker="expand-disk"
            mcsEventCategory="server"
            mcsEventLabel="server-details-page">
            {{ 'serverStorage.updateButton' | translate }}
          </button>
        </div>
      </div>
    </mcs-section>
  </ng-container>
</mcs-presentation-panel>
