<div class="mcs-server-storage">
  <h3 class="heading">{{ serverStorageText.title }}</h3>

  <div *ngIf="hasstorageDevice">
     <div *ngIf="!expandStorage" class="details">
      <div class="storage-container">
        <ul class="unstyled-list storage">
          <li>
            <span class="storage-device-label">
              <strong>{{ serverStorageText.storageDevice }}</strong>
            </span>
            <span class="storage-profile-label">
              <strong>{{ serverStorageText.storageProfile }}</strong>
            </span>
            <span class="capacity-label">
              <strong>{{ serverStorageText.capacity }}</strong>
            </span>
          </li>
          <li *ngFor="let storage of storageDevices">
            <span class="name">
              <mcs-icon [key]="storageIconKey" size="small" class="hidden-small"></mcs-icon>
              <span>{{ storage.name }}</span>
            </span>
            <span class="storage-profile">{{ storage.storageProfile }}</span>
            <span class="capacity">
              <span class="value">{{ appendGbUnit(convertStorageInGb(storage.sizeMB)) }}</span>
              <span class="expand text-right">
                <a (click)="onExpandStorage(storage)">{{ serverStorageText.expandStorage }}</a>
              </span>
              <span class="delete text-right">
                <a [mcsModal]="deleteStorageAlert" modalSize="medium"
                  #deleteStorageModal="mcsModal">
                    {{ serverStorageText.deleteStorage }}</a>
                <ng-template #deleteStorageAlert>
                  <div modal-title>
                    <span>Delete {{ storage.name }} Storage</span>
                  </div>
                  <div modal-body>
                    <div class="delete-storage-alert-container">
                      <mcs-alert type="warning"
                        [title]="getDeleteStorageAlertMessage(storage)">
                          <span>{{ serverStorageText.deleteStorageConfirmation }}</span>
                      </mcs-alert>
                      <div class="confirm">
                        <a (click)="deleteStorageModal.close()">Cancel</a>
                        <mcs-button icon="arrow" (click)="onDeleteStorage(storage)">Yes</mcs-button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </span>
            </span>
          </li>
        </ul>
      </div>
      <div class="add-new-storage">
         <mcs-server-manage-storage 
          [storageProfileList]="storageProfileList"
          [memoryMB]="newStorageDevice.sizeMB"
          [availableMemoryMB]="getStorageAvailableMemory(newStorageDevice)"
          (storageChanged)="onStorageChanged($event)">
          <!--Server manage storage contents on the left hand side (description)-->
           <div title>
            <h4>{{ serverStorageText.addStorage }}</h4>
          </div>
        </mcs-server-manage-storage>
        <div class="attach">
          <mcs-button icon="arrow" (click)="onClickAttach()"
            [disabled]="!storageChangedValue.valid">Attach</mcs-button>
        </div>
      </div>
    </div>

    <div *ngIf="expandStorage" class="increase-storage">
       <mcs-server-manage-storage
        [memoryMB]="selectedStorageDevice.sizeMB"
        [availableMemoryMB]="getStorageAvailableMemory(selectedStorageDevice)"
        (storageChanged)="onStorageChanged($event)">
        <!--Server manage storage contents on the left hand side (description)-->
         <div title>
          <h4>{{ serverStorageText.resizeStorage }}</h4>
        </div>

        <div details>
          <p><strong>Storage Device : </strong> <span>{{ selectedStorageDevice.name}}</span></p>
          <p><strong>Storage Profile : </strong> <span>{{ selectedStorageDevice.storageProfile}}</span></p>
          <p>
            <strong>Current Size : </strong>
            <span>{{ appendGbUnit(convertStorageInGb(selectedStorageDevice.sizeMB)) }}</span>
          </p>
        </div>
      </mcs-server-manage-storage>
      <div class="update">
        <a (click)="closeExpandStorageBox()">Cancel</a>
        <mcs-button icon="arrow" (click)="onClickUpdate()"
          [disabled]="!storageChangedValue.valid">Update</mcs-button>
      </div>
    </div>
  </div>
</div>