@import "../../../../../styles/shared/base";

$server-storage-title-font: $base-font-bold;
$server-storage-title-font-size: $h4-default-font-size;
$server-storage-form-border-color: $color-grey-00;

:host {
  display: block;
  position: relative;
}

%disabled {
  cursor: not-allowed;
  opacity: $disabled-opacity;
}

.server-storage {
  .heading {
    margin-bottom: $space-large;
  }

  .primary {
    @include display-flex(row);
    align-items: center;

    .title {
      @include font-size($server-storage-title-font-size);
      font-family: $server-storage-title-font;
      @include breakpoint(medium) {
        @include flex(2)
      }
    }

    > * {
      @include flex(1);

      &.increase {
        @include flex(3);
      }
    }
  }

  .add-new-storage {
    border: 1px solid $server-storage-form-border-color;
    @include border-radius($input-border-radius);
    padding: $space-large;
    margin-top: $space-xlarge;

    .attach {
      text-align: right;
    }
  }

  .storage-limit-warning {
    @include display-flex(row);
    align-items: center;
    justify-content: center;
    margin-top: $space-xlarge;

    h4 {
      margin-left: $space-large;
      margin-bottom: 0;
    }
  }

  .increase-storage {
    .update {
      @include display-flex(row);
      align-items: center;
      justify-content: space-between;

      .disabled {
        @extend %disabled;
      }
    }
  }

  .loading-spinner {
    margin-top: $space-xlarge;
    text-align: center;
  }
}

.delete-storage-alert-container {
  .confirm {
    @include display-flex(row);
    align-items: center;
    justify-content: space-between;
    margin-top: $space-small;

    mcs-button {
      margin-left: $space-small;
    }

    .disabled {
      @extend %disabled;
    }
  }
}