<mcs-presentation-panel mcsId="storage" *ngIf="serverDetails$ | async as serverDetails">
  <ng-container mcsPresentationPanelHeader>
    <h2>{{ textContent.title }}</h2>
  </ng-container>

  <!-- Description -->
  <ng-container *mcsAccessControl="['VmEdit']; else noEditableDiskTemplate">
    <p>{{ textContent.hasEditableDiskDescription }}</p>
  </ng-container>
  <ng-template #noEditableDiskTemplate>
    <p>{{ textContent.noEditableDiskDescription }}</p>
  </ng-template>

  <ng-container [ngSwitch]="diskMethodType">
    <mcs-section [@fadeIn] *ngSwitchCase="serverDiskMethodTypeEnum.AddDisk">

      <!-- DISKs Table -->
      <mcs-table [dataSource]="disksDataSource">
        <!-- Storage Device Column -->
        <ng-container mcsColumnDef="storageDevice">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ textContent.columnHeaders.storageDevice }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" text-wrap>
            <mcs-item>
              <ng-container *ngIf="diskIsInProgress(row); else defaultStorageIconTemplate">
                <mcs-loader size="small"
                  [mcsTooltip]="serverDetails.server.processingText"
                  mcsTooltipPosition="right"></mcs-loader>
              </ng-container>
              <ng-template #defaultStorageIconTemplate>
                <mcs-icon [key]="storageIconKey" size="small"></mcs-icon>
              </ng-template>
              <span [innerHTML]="row.name | mcsDataLabel"></span>
            </mcs-item>
          </mcs-data-cell>
        </ng-container>

        <!-- Storage Profile Column -->
        <ng-container mcsColumnDef="storageProfile">
          <mcs-header-cell *mcsHeaderCellDef hidden-small>
            {{ textContent.columnHeaders.storageProfile }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" hidden-small text-wrap>
            <span [innerHTML]="row.storageProfile | mcsDataLabel"></span>
          </mcs-data-cell>
        </ng-container>

        <!-- Capacity Column -->
        <ng-container mcsColumnDef="capacity">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ textContent.columnHeaders.capacity }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            <span [innerHTML]="(row.sizeMB | mcsDataSize: 'MB') | mcsDataLabel"></span>
          </mcs-data-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container mcsColumnDef="action" *mcsAccessControl="['VmEdit']">
          <mcs-header-cell *mcsHeaderCellDef class="action-header-cell">
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            <mcs-item>
              <a [disabled]="!serverDetails.server.executable"
                  (click)="openExpandDiskWindow(row)"
                  mcsId
                  mcsEventTracker="show-expand-disk"
                  mcsEventCategory="server"
                  mcsEventLabel="server-details-page">
                {{ textContent.expandStorageLink }}
              </a>
              <a [disabled]="!serverDetails.server.executable"
                *ngIf="canDeleteDisk(serverDetails.server)"
                (click)="deleteDisk(serverDetails.server, row)"
                mcsId
                mcsEventTracker="delete-disk"
                mcsEventCategory="server"
                mcsEventLabel="server-details-page">
                {{ textContent.deleteStorageLink }}
              </a>
            </mcs-item>
          </mcs-data-cell>
        </ng-container>

        <!-- Data Status Integration -->
        <ng-container mcsDataStatusDef>
          <mcs-data-empty *mcsDataEmptyDef>
            <span>{{ textContent.noDisks }} </span>
          </mcs-data-empty>
          <mcs-data-error *mcsDataErrorDef>
            <span>{{ textContent.errorGettingDisks }}</span>
          </mcs-data-error>
        </ng-container>

        <!-- Header and Data row -->
        <mcs-header-row *mcsHeaderRowDef="disksColumns"></mcs-header-row>
        <mcs-data-row *mcsDataRowDef="let row; columns: disksColumns;"></mcs-data-row>
      </mcs-table>

      <!-- Adding Disk -->
      <ng-container *mcsAccessControl="['VmEdit']">
        <ng-container *ngIf="resourceStorages$ | async as resourceStorages">
          <div class="action-box" *ngIf="canAddDisk(serverDetails.server, resourceStorages)"
            [@fadeIn] [disabled]="!serverDetails.server.executable">

            <mcs-server-manage-storage *mcsComponentHandler
              [storages]="resourceStorages"
              (dataChange)="onStorageChanged($event)">

              <ng-container mcsManageStorageHeader>
                <h2>{{ textContent.addStorageHeading }}</h2>
              </ng-container>
              <ng-container mcsManageStorageWarning>
                <span>{{ textContent.fullStorageSpace }}</span>
              </ng-container>
            </mcs-server-manage-storage>

            <div class="action-items">
              <button mcsButton arrow="right" size="small"
                [disabled]="!addDiskEnabled"
                (click)="addDisk(serverDetails.server)"
                mcsId
                mcsEventTracker="add-disk"
                mcsEventCategory="server"
                mcsEventLabel="server-details-page">
                {{ textContent.addButton }}
              </button>
            </div>
          </div>
        </ng-container>

        <mcs-data-status-warning *ngIf="hasReachedDisksLimit(serverDetails.server)">
          <span>{{ textContent.reachedStorageLimit }}</span>
        </mcs-data-status-warning>
      </ng-container>
    </mcs-section>

    <!-- Expand Disk -->
    <mcs-section [@fadeIn] *ngSwitchCase="serverDiskMethodTypeEnum.ExpandDisk">
      <div class="action-box" [disabled]="!serverDetails.server.executable">
        <mcs-server-manage-storage
          [storages]="resourceStorages$ | async"
          [targetDisk]="selectedDisk"
          [detailsTemplate]="diskDetailsTemplate"
          (dataChange)="onStorageChanged($event)">

          <ng-container mcsManageStorageHeader>
            <h2>{{ textContent.expandStorageHeading }}</h2>
          </ng-container>
        </mcs-server-manage-storage>

        <ng-template #diskDetailsTemplate>
          <mcs-item>
            <strong>{{ textContent.columnHeaders.storageDevice }}:</strong>
            <span>{{ selectedDisk.name }}</span>
          </mcs-item>
          <mcs-item>
            <strong>{{ textContent.columnHeaders.storageProfile }}:</strong>
            <span>{{ selectedDisk.storageProfile }}</span>
          </mcs-item>
          <mcs-item>
            <strong>{{ textContent.columnHeaders.capacity }}:</strong>
            <span>{{ selectedDisk.sizeMB | mcsDataSize: 'MB' }}</span>
          </mcs-item>
        </ng-template>

        <div class="action-items">
          <a (click)="closeExpandDiskWindow()"
            mcsId
            mcsEventTracker="expand-disk-close"
            mcsEventCategory="server"
            mcsEventLabel="server-details-page">
            {{ textContent.cancelButton }}
          </a>

          <button mcsButton arrow="right" size="small"
            [disabled]="!manageStorage?.hasChanged"
            (click)="expandDisk(serverDetails.server)"
            mcsId
            mcsEventTracker="expand-disk"
            mcsEventCategory="server"
            mcsEventLabel="server-details-page">
            {{ textContent.updateButton }}
          </button>
        </div>
      </div>
    </mcs-section>
  </ng-container>
</mcs-presentation-panel>
