@import "../../../../../styles/shared/base";

.mcs-server-storage {
  .heading {
    margin-bottom: $space-medium;
  }

  .primary {
    @include display-flex(row);
    align-items: center;

    .title {
      @include font-size($h4-default-font-size);
      font-family: $base-font-bold;
      @include breakpoint(medium) {
        @include flex(2)
      }
    }

    > * {
      @include flex(1);

      &.increase {
        @include flex(3);
      }
    }
  }

  .storage {
    li {
      @include display-flex(row);
      align-items: center;
      justify-content: flex-end;
      @include set-items-interval($space-small, horizontal);

      &:first-child {
        margin-bottom: $space-small;
      }

      .storage-device-label {
        @include flex(0 1 25%);
      }

      .storage-profile-label {
        @include flex(0 1 25%);
      }

      .capacity-label {
        @include flex(0 1 50%);
      }

      .name {
        @include flex(0 1 25%);
        @include display-flex(row);
        align-items: center;
        @include breakpoint(medium) {
          @include flex(2)
        }

        span {
          margin-left: $space-small;
        }
      }

      .storage-profile {
        @include flex(0 1 25%);
      }

      .capacity {
        @include flex(0 1 50%);
        @include display-flex(row);
        align-items: center;

        .value {
          @include flex(2);
          @include breakpoint(medium) {
            @include flex(1)
          }
        }

        .expand {
          @include flex(1);
        }

        .delete {
          @include flex(1);
        }
      }
    }
  }

  .loading-spinner {
    margin-top: $space-large;
    text-align: center;
  }

  .add-new-storage {
    border: 1px solid $color-grey-00;
    @include border-radius($input-border-radius);
    padding: $space-medium;
    margin-top: $space-large;

    .attach {
      text-align: right;
    }
  }

  .storage-limit-warning {
    @include display-flex(row);
    align-items: center;
    justify-content: center;

    h4 {
      margin-left: $space-small;
      margin-bottom: 0;
    }
  }

  .increase-storage {
    .update {
      @include display-flex(row);
      align-items: center;
      justify-content: space-between;
    }
  }
}

.delete-storage-alert-container {
  .confirm {
    @include display-flex(row);
    align-items: center;
    justify-content: space-between;
    margin-top: $space-small;

    mcs-button {
      margin-left: $space-small;
    }
  }
}