<mat-form-field
  *ngIf="visible"
  appearance="outline"
  [hintLabel]="config.hint">
  <mat-label [attr.for]="id">{{ label }}</mat-label>

  <input #control matInput [type]="showPassword ? 'text' : 'password'"
    [id]="id"
    [required]="required"
    [disabled]="disabled"
    [placeholder]="config.placeholder"
    [maxlength]="config.validators?.maxlength"
    [minlength]="config.validators?.minlength"
    [pattern]="config.pattern"
    [(ngModel)]="config.value"
    (input)="valueChange($event)"/>

  <button mat-icon-button matSuffix
    type="button"
    (click)="showPassword = !showPassword"
    [matTooltip]="showPassword ? 'Hide Password' : 'Show Password'"
    matTooltipPosition="above">
    <mat-icon color="primary">{{ showPassword ? 'lock_open' : 'lock' }}</mat-icon>
  </button>

  <mat-hint align="end" *ngIf="config.validators?.maxlength > 0">{{control.value?.length || 0}}/{{ config.validators?.maxlength }}</mat-hint>

</mat-form-field>
