<mcs-page [header]="(selectedDnsService$ | async)?.billingDescription">
  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'dns.leftPanelHeader' | translate">
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <div class="listing-panel-wrapper">
        <mcs-search #search mcsId="dns-service-details-panel-search"></mcs-search>

        <mcs-list-panel [dataSource]="listviewDatasource" [config]="listviewDatasource?.config?.panelSettings">
          <ng-container *mcsListPanelContent="let entity">
            <mcs-option-group [selected]="entity.group?.id === (selectedDnsService$ | async)?.id">
              <ng-container *mcsOptionGroupLabel>
                <a mcsStopPropagation 
                  [mcsRouterLink]="[routeKeyEnum.DnsServiceDetails, entity.group?.id]"
                  mcsId="select-dns-service"
                  mcsEventTracker="select-dns-service"
                  mcsEventCategory="dns"
                  mcsEventLabel="dns-list-panel">
                  <span [innerHTML]="entity.group.billingDescription | mcsDataLabel: 'Unknown'"></span>
                </a>
              </ng-container>

              <a *ngFor="let zone of entity?.zones"
                [mcsRouterLink]="[routeKeyEnum.DnsZoneDetails, zone.id]"
                mcsId="select-dns-zone"
                mcsEventTracker="select-dns-zone"
                mcsEventCategory="dns"
                mcsEventLabel="dns-list-panel">

                <mcs-option [value]="zone">
                  <mcs-item>
                    <span [innerHTML]="zone.name | mcsDataLabel"></span>
                  </mcs-item>
                </mcs-option>
              </a>
            </mcs-option-group>
          </ng-container>
        </mcs-list-panel>
      </div>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <mcs-content-panel *mcsContentPanelDef>
    <div class="routing-tab-wrapper" *mcsComponentHandler>
      <ng-container *ngIf="selectedDnsService$ | async as selectedDnsService">

        <mcs-tab-group [selectedTabId]="selectedTabId$ | async" (tabChanged)="onTabChanged($event)">
          <!-- Overview Tab -->
          <mcs-tab [label]="'label.overview' | translate" id="overview">
          </mcs-tab>

          <!-- Action tab -->
          <ng-container mcsTabHeaderCustom>
            <button *ngIf="actionsEnabled(selectedDnsService) && selectedDnsService.serviceId"
              mcsButton="icon" mcsId="dns-action"  mcsAlign="end"
              #popoverActionElement="mcsPopover" [autoCalculatePosition]="false"
              mcsPopover placement="bottom" orientation="left"
              theme="light" padding="none" [content]="actionContent">
              <mcs-icon [key]="cogIconKey" size="large"></mcs-icon>
            </button>

            <ng-template #actionContent>
              <ng-container *ngIf="hasServiceChangeAccess(selectedDnsService)">
                <div class="cog-actions-wrapper">
                  <a mcsButton="basic" color="white" labelPlacement="left"
                    (click)="onRequestChange(selectedDnsService)"
                    mcsId="dns-service-details-request-change"
                    mcsEventTracker="dns-service-details-request-change"
                    mcsEventCategory="dns"
                    mcsEventLabel="dns-service-details-page">
                    {{ 'action.requestRecordChange' | translate }}
                  </a>
                </div>
              </ng-container>

              <div *mcsAccessControl="['TicketCreate']" class="cog-actions-wrapper">
                <a mcsButton="basic" color="white" labelPlacement="left"
                  (click)="onRaiseTicket(selectedDnsService)"
                  mcsId="dns-service-details-raise-ticket"
                  mcsEventTracker="dns-service-details-raise-ticket"
                  mcsEventCategory="dns"
                  mcsEventLabel="dns-service-details-page">
                  {{ 'action.raiseTicket' | translate }}
                </a>
              </div>
            </ng-template>
          </ng-container>
        </mcs-tab-group>

        <!-- Tab content for routing tab -->
        <div class="routing-tab-content-wrapper limited-view">
          <router-outlet></router-outlet>
        </div>
      </ng-container>
    </div>
  </mcs-content-panel>
</mcs-page>
