@import "../../../../styles/shared/base";

.vm-rightsizing-wrapper {
  margin-bottom: $space-large;

  @include print() {
    width: 850px;
  }

  .item-wrapper {
    .icon {
      margin-right: $space-large;
    }

    .content-wrapper {
      text-align: left;
    }
  }
}