/**
  @title: Spacing Utilities
  @description: Creates a padding and margin based on the space-map
**/

[no-padding] {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

[no-margin] {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@each $space-key in map-keys($space-breakpoints) {
  $space-value: map-get($space-breakpoints, $space-key);

  [padding-#{$space-key}] {
    padding: $space-value !important;
  }

  [margin-#{$space-key}] {
    margin: $space-value !important;
  }

  @each $direction in $direction-breakpoints {
    [padding-#{$direction}-#{$space-key}] {
      padding-#{$direction}: $space-value !important;
    }

    [margin-#{$direction}-#{$space-key}] {
      margin-#{$direction}: $space-value !important;
    }
  }
}