<mcs-presentation-panel *ngIf="!isStatusUnknown">
  <ng-container mcsPresentationPanelHeader>
    <h2>{{ 'serverServices.vmBackup.title' | translate }}</h2>
  </ng-container>

  <mcs-section>
    <mcs-item orientation="block" *ngIf="serverBackupVm?.provisioned; else vmBackupUnprovisionedTemplate">
      <mcs-item>
        <mcs-icon [key]="statusIcon" size="small" mcsId="backup-vm-status-icon" [mcsTooltip]="statusTooltip" [mcsTooltipShow]="statusTooltip"></mcs-icon>
        <div>
          <span mcsId="backup-vm-status-label">{{ statusLabel }}</span><br />
          <small read-only>
            <mcs-item orientation="inline">
              <span mcsId="backup-vm-status-sublabel">
                {{ statusSublabel }}
              </span>
              <ng-container *mcsAccessControl="[]; feature: ['EnableAddonVmBackupDetailsView']">
                <a *ngIf="statusDetailsLinkFlag"
                  mcsId="backup-vm-status-details-link"
                  mcsEventTracker="backup-vm-status-details-link"
                  mcsEventCategory="server"
                  mcsEventLabel="server-services"
                  (click)="changeView()">
                  {{ 'serverServices.vmBackup.detailsLink' | translate }}
                </a>
              </ng-container>
            </mcs-item>
          </small>
          <ng-container *ngIf="serverBackupVm?.aggregationTargetServiceId | mcsIsNotNullOrEmpty">
            {{ 'serverServices.vmBackup.batLinkDescription' | translate }}
            <ng-container *ngIf="hasBatDetailsView(); else batServiceIdTemplate">
              <a mcsId="backup-vm-bat-details-link"
                mcsEventTracker="backup-vm-bat-details-link"
                mcsEventCategory="server"
                mcsEventLabel="server-services"
                [mcsRouterLink]="[routeKeyEnum.BackupAggregationTargetsDetails, serverBackupVm?.aggregationTargetId]">
                {{ 'serverServices.vmBackup.batLinkLabel' | translate }}
              </a>
            </ng-container>
            <ng-template #batServiceIdTemplate>
              {{ 'serverServices.vmBackup.batDefaultLabel' | translate: { serviceId: serverBackupVm?.aggregationTargetServiceId } }}
            </ng-template>
          </ng-container>
        </div>
      </mcs-item>
    </mcs-item>
    <ng-template #vmBackupUnprovisionedTemplate>
      <mcs-status-message type="info">
        {{ 'serverServices.vmBackup.unprovisionedFallback' | translate }}
        <ng-container *ngIf="disableMessage(server); else vmBackupOrderLinkTemplate">
          <span>{{ disableMessage(server) }}</span>
          <ng-container *ngIf="server.getServiceOrderState() === ServiceOrderStateOption.OsAutomationNotReady">
            <ng-container *mcsAccessControl="['TicketCreate']">
              or
              <a (click)="onCreateNewTicket()"
              mcsId="create-new-ticket"
              mcsEventTracker="raise-a-ticket"
              mcsEventCategory="ticket"
              mcsEventLabel="server-services">{{ 'serverServices.vmBackup.raiseTicketLabel' | translate }}</a>
            </ng-container>.
          </ng-container>
        </ng-container>
        <ng-template #vmBackupOrderLinkTemplate>
          <a *mcsAccessControl="['OrderEdit']; feature: ['EnableOrderingVmBackupProvision']"
          (click)="onAddVmBackup(server)"
          [disabled]="server.isProcessing"
          mcsId="add-new-vm-backup"
          mcsEventTracker="add-new-vm-backup"
          mcsEventCategory="order"
          mcsEventLabel="server-services">{{ 'serverServices.vmBackup.orderlinkLabel' | translate }}</a>
        </ng-template>
      </mcs-status-message>
    </ng-template>
  </mcs-section>
</mcs-presentation-panel>
