<mcs-presentation-panel *ngIf="!isStatusUnknown">
  <ng-container mcsPresentationPanelHeader>
    <h2>{{ 'serverServices.vmBackup.title' | translate }}</h2>
  </ng-container>

  <mcs-section>
    <mcs-item orientation="block" *ngIf="serverBackupVm?.provisioned; else vmBackupUnprovisionedTemplate">
      <mcs-item>
        <mcs-icon [key]="statusIcon" size="small" mcsId="backup-vm-status-icon" [mcsTooltip]="statusTooltip" [mcsTooltipShow]="statusTooltip"></mcs-icon>
        <div>
          <span mcsId="backup-vm-status-label">{{ statusLabel }}</span><br />
          <small read-only>
            <mcs-item orientation="inline">
              <span mcsId="backup-vm-status-sublabel">
                {{ statusSublabel }}
              </span>
              <ng-container *mcsAccessControl="[]; feature: ['EnableAddonVmBackupDetailsView']">
                <a *ngIf="statusDetailsLinkFlag"
                  mcsId="backup-vm-status-details-link"
                  mcsEventTracker="backup-vm-status-details-link-click"
                  mcsEventCategory="server"
                  mcsEventLabel="backup-vm-status-details-view"
                  (click)="changeView()">
                  {{ 'serverServices.vmBackup.detailsLink' | translate }}
                </a>
              </ng-container>
            </mcs-item>
          </small>
        </div>
      </mcs-item>
    </mcs-item>
    <ng-template #vmBackupUnprovisionedTemplate>
      <mcs-status-message type="info">
        {{ 'serverServices.vmBackup.unprovisionedFallback' | translate }}
      </mcs-status-message>
    </ng-template>
  </mcs-section>
</mcs-presentation-panel>
