<h2 mat-dialog-title>You have an unfinished workflow</h2>
<mat-dialog-content class="mat-typography">
  <table style="width: 550px;">
    <tbody>
      <tr *ngFor="let workflow of workflows">
        <td>
          {{ workflow.serviceId ? '' : '+ ' }}
          {{ workflow.title }}
        </td>
        <td>
          <strong>{{ workflow.serviceId }}</strong>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <p>How do you want to proceed?</p>
  <small>Note: Closing this dialog will allow overwriting when you save a new workflow.</small>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-raised-button mat-dialog-close color="warn" [mat-dialog-close]="false">Discard</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Continue Working</button>
</mat-dialog-actions>