<h3 mat-dialog-title>You have an unfinished workflow</h3>

<mat-dialog-content class="mat-typography">
  <table class="mcs-compact-table" style="width: 550px;">
    <tbody>
      <tr *ngFor="let workflow of workflows">
        <td>
          {{ workflow.serviceId ? '' : '+ ' }}
          {{ workflow.title }}
        </td>
        <td>
          <strong>{{ workflow.serviceId }}</strong>
        </td>
      </tr>
    </tbody>
  </table>
  <small>Starting new will override this unfinished workflow.</small>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="warn" [mat-dialog-close]="false" style="margin-right: auto;">Discard</button>
  <button mat-stroked-button mat-dialog-close>Start New</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Continue Working</button>
</mat-dialog-actions>
