@import "../../../styles/shared/base";

$viewer-background-color: #23241f;
$viewer-font-color: $color-white;
$viewer-font: $monospaced-font;
$viewer-font-size: 12;

.task-log-stream-header-wrapper {
  @include display-flex(row-reverse);
  justify-content: space-between;

  .status-wrapper {
    margin-left: $space-small;

    .status-info {
      line-height: 40px; margin-left: $space-small;
    }
  }
}

.task-log-stream-wrapper {
  margin-bottom: $space-medium;

  .log-viewer {
    background-color:$viewer-background-color;
    font-family: $viewer-font;
    color: $viewer-font-color;
    padding: $space-small;
    overflow-y: auto;
    overflow-x: auto;
    @include font-size($viewer-font-size);
    white-space: pre-wrap;
  }
}