<table mat-table [dataSource]="dataSource">
  <!-- User Column -->
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'columnHeader.user' | translate }}
    </th>
    <td mat-cell *matCellDef="let row">
      <span text-wrap [innerHTML]="row.username | mcsDataLabel: 'Unknown'">
      </span>
    </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'columnHeader.status' | translate }}
    </th>
    <td mat-cell *matCellDef="let row" hidden-small>
      <mcs-icon  [key]="row.userStatusStateIconKey" size="small"></mcs-icon>
      <ng-container *ngIf="row.userStatusLabel !== 'Unknown'; else unknownStatusTemplate">
        {{ row.userStatusLabel }}
      </ng-container>
      <ng-template #unknownStatusTemplate>
        <span read-only> {{ row.userStatusLabel }}</span>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async" style="background-color: #000;"></tr>
  <tr mat-row *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"
    [hidden]="dataSource?.isInProgress$ | async"></tr>
</table>

<mcs-item orientation="block">
  <div *ngIf="dataSource?.isInProgress$ | async" align="center">
    <mcs-loader size="medium"></mcs-loader>
  </div>
  <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
    <span>{{ 'saasBackup.users.noData' | translate }} </span>
  </div>
  <div *ngIf="dataSource?.hasError$ | async" text-center>
    <div class="listing-status-wrapper">
      <span>{{ 'saasBackup.users.errorMessage' | translate }}</span>
      <a (click)="retryDatasource()"
        mcsId
        mcsEventTracker="retry-saas-backup-users"
        mcsEventCategory="storage"
        mcsEventLabel="saas-backup-users-listing-page">{{ 'action.tryAgainShortly' | translate }}</a>.
    </div>
  </div>
</mcs-item>
