<section>
  <p>{{ consoleDescription }}</p>

  <form [formGroup]="viewModel.fgGroup">
    <!-- Server Select -->
    <mcs-field-select size="auto"
      mcsId="select-server"
      [label]="'label.server' | translate"
      [disabled]="hideSelection$ | async"
      [dataSource]="'ServerConsole' | mcsFieldSelect"
      (optionsChange)="onDataChange($event)"
      [formControl]="viewModel.fcServer">
    </mcs-field-select>
  </form>

  <!-- Action buttons -->
  <div class="action-items">
    <button mcsButton arrow="right" mcsId="open-console"
      mcsEventTracker="open-console"
      mcsEventCategory="console"
      mcsEventLabel="header"
      (click)="onViewConsole()"
      [disabled]="!hasSelectedVm">
      {{ 'label.open-console' | translate }}
    </button>
  </div>
</section>