$link-hover-color: $color-primary-01;

a {
  font-family: inherit;
  color: inherit;
  outline: none;
  text-decoration: underline;
  @include font-size($font-size-default);
  @include breakpoint(small) {
    @include font-size($font-size-small);
  }

  &:not([href]) {
    text-decoration: underline;
  }

  &.active {
    color: $link-hover-color;
  }

  &:hover {
    cursor: pointer;
    color: $link-hover-color;
  }

  &.unstyled-link {
    text-decoration: none;
    &.active {
      text-decoration: none;
    }
  }
}