a {
  font-family: $link-font;
  color: inherit;
  text-decoration: underline;
  @include font-size($link-default-font-size);
  @include breakpoint(small) {
    @include font-size($font-size-small);
  }

  &:not([href]) {
    text-decoration: underline;
  }

  &.active {
    font-family: $base-font-bold;
  }

  &:hover {
    cursor: pointer;
    color: $link-hover-color;
  }

  &.unstyled-link {
    text-decoration: none;
    &.active {
      text-decoration: none;
    }
  }
}