a {
  font-family: $link-font;
  color: inherit;
  text-decoration: underline;

  &:not([href]) {
    text-decoration: underline;
  }

  &.active {
    font-family: $base-font-bold;
  }

  &:hover {
    cursor: pointer;
    color: $link-hover-color;
  }

  &.unstyled-link {
    text-decoration: none;
    &.active {
      text-decoration: none;
    }
  }
}