// Form field size
$form-field-size-small: 200px;
$form-field-size-medium: 300px;
$form-field-size-large: 400px;

.form-field-size-small {
  max-width: $form-field-size-small;
}

.form-field-size-medium {
  max-width: $form-field-size-medium;
}

.form-field-size-large {
  max-width: $form-field-size-large;
}

// Input
$input-font: $base-font;
$input-font-size: $font-size-default;
$input-border-width: 1px;
$input-border-style: solid;
$input-border-color: $color-black;
$input-border-color-focused: $color-primary-01;
$input-text-color: $color-black;
$input-placeholder-text-color: $color-grey-02;
$input-border-radius: $border-radius-small;
$input-padding: $space-small $space-medium;

input,
textarea,
select,
input.form-control,
textarea.form-control,
select.form-control {
  font-family: $input-font;
  @include font-size($input-font-size);
  color: $input-text-color;
  border-width: $input-border-width;
  border-style: $input-border-style;
  border-color: $input-border-color;
  padding: $input-padding;
  @include border-radius($input-border-radius);
  @include set-placeholder-color($input-placeholder-text-color);

  @include breakpoint(small) {
    @include font-size($font-size-small);
  }

  &:focus {
    outline: none;
    border-color: $input-border-color-focused;
  }
}

input::-ms-clear{
  display: none;
}
