// Table
$table-row-size: 2.5rem;
$table-cell-side-padding: $space-medium;
$table-margin-size: $space-medium;
$table-action-cell-size: 55px;

// Table header
$table-header-background-color: $color-black;
$table-header-font-color: $dark-bg-text-color;
$table-header-cell-padding: $space-small $table-cell-side-padding;
$table-header-font-size: $font-size-default;
$calendar-table-header-row-size: 2rem;

// Table rows
$table-data-even-background-color: $color-grey-07;
$table-data-font-size: $font-size-default;
$table-data-cell-padding: $space-small $table-cell-side-padding;
$table-data-border-color: $color-grey-05;
$table-data-hover-background-color: $color-grey-07;

// Table cells
$table-cell-divider-color: $color-white;
$table-cell-divider-opacity: 0.70;

%cell-style {
  display: table-cell;
  border-right: 1px solid rgba($table-cell-divider-color, $table-cell-divider-opacity);
  font-weight: normal;
  &:last-child {
    border-right: none;
  }
}

table {
  margin-top: $table-margin-size;
  margin-bottom: $table-margin-size;
  border-collapse: collapse;
  width: 100%;

  thead {
    tr,
    tr.mat-header-row {
      text-align: left;
      white-space: nowrap;
      background-color: $table-header-background-color;
      height: $table-row-size;

      th,
      td,
      th.mat-header-cell {
        @extend %cell-style;
        @include font-size($table-header-font-size);
        vertical-align: middle;
        padding: $table-header-cell-padding;
        font-family: $circular-pro-book;
        color: $table-header-font-color;
      }

      th.action-header-cell {
        min-width: $table-action-cell-size;
        width: $table-action-cell-size;
        padding: 0;
      }
    }
  }

  tbody {
    tr,
    tr.mat-row {
      text-align: left;
      white-space: nowrap;
      border-bottom: 1px solid $table-data-border-color;
      height: $table-row-size;

      &:hover {
        background-color: $table-data-hover-background-color;
      }

      td,
      td.mat-cell {
        @extend %cell-style;
        @include font-size($table-data-font-size);
        vertical-align: middle;
        border-right: none;
        font-family: $circular-pro-book;
        padding: $table-data-cell-padding;
      }

      td.action-data-cell {
        min-width: $table-action-cell-size;
        width: $table-action-cell-size;
        padding: 0;
      }

      td.action-data-row {
        background-color: $hover-bg-color;
      }
    }
  }
}

table.mcs-compact-table {
  border-collapse: collapse;
  width: auto;
  @include font-size($font-size-default);

  .right-align {
    text-align: right;
  }

  td, th {
    border-bottom: 1px dashed $color-grey-05;
    border-top: 1px dashed $color-grey-05;
    padding: $space-medium;
  }

  tr:hover { background-color: $color-grey-05; }

  th {
    padding-top: $space-small;
    padding-bottom: $space-small;
    text-align: left;
    background-color: $color-black;
    color: $color-white;
  }

  &.alternate-highlight {
    tr:nth-child(odd) {
      background-color: $color-grey-07;
    }
  }
}

table.mcs-basic-table {
  margin-top: $table-margin-size;
  margin-bottom: $table-margin-size;
  border-collapse: collapse;
  width: 100%;

  thead {
    tr {
      text-align: left;
      white-space: nowrap;
      background-color: $table-header-background-color;
      height: $table-row-size;

      th {
        @extend %cell-style;
        @include font-size($table-header-font-size);
        vertical-align: middle;
        padding: $table-header-cell-padding;
        font-family: $circular-pro-book;
        color: $table-header-font-color;
      }

      th.action-header-cell {
        min-width: $table-action-cell-size;
        width: $table-action-cell-size;
        padding: 0;
      }
    }
  }

  tbody {
    tr {
      text-align: left;
      white-space: nowrap;
      border-bottom: 1px solid $table-data-border-color;
      height: $table-row-size;

      &:hover {
        background-color: $table-data-hover-background-color;
      }

      td {
        @extend %cell-style;
        @include font-size($table-data-font-size);
        vertical-align: middle;
        border-right: none;
        font-family: $circular-pro-book;
        padding: $table-data-cell-padding;
      }

      td.action-data-cell {
        min-width: $table-action-cell-size;
        width: $table-action-cell-size;
        padding: 0;
      }

      td.action-data-row {
        background-color: $hover-bg-color;
      }
    }
  }
}

table.mat-calendar-table {
  .mat-calendar-table-header {
    tr {
      background-color: transparent;
      height: $calendar-table-header-row-size;

      &:not(:first-child) {
        height: auto;
      }
    }
  }
}
