// Headers
$heading-scale-size: 1;
$heading-font: $base-font-bold;
$heading-font-large-size: $font-size-default;
$heading-font-medium-size: $font-size-default - 1;
$heading-font-small-size: $heading-font-medium-size - 1;

@for $index from 1 through 6 {
  h#{$index} {
    width: 100%;
    font-family: $heading-font;
    @include font-size($heading-font-large-size + ($heading-scale-size * (6 - $index)));
    @include breakpoint(medium) {
      @include font-size($heading-font-medium-size + ($heading-scale-size * (6 - $index)));
    }
    @include breakpoint(small) {
      @include font-size($heading-font-small-size + ($heading-scale-size * (6 - $index)));
    }
  }
}