input,
textarea,
select,
input.form-control,
textarea.form-control,
select.form-control {
  font-family: $input-font;
  @include font-size($input-font-size);
  color: $input-text-color;
  border-width: $input-border-width;
  border-style: $input-border-style;
  border-color: $input-border-color;
  padding: $input-padding;
  @include border-radius($input-border-radius);
  @include set-placeholder-color($input-placeholder-text-color);

  &:focus {
    outline: none;
    border-color: $input-border-color-focused;
  }
}

input::-ms-clear{
  display: none;
}
