<mcs-presentation-panel *ngIf="resource$ | async as resource">
  <ng-container mcsPresentationPanelHeader>
    <h2>{{ 'serversVdcStorage.title' | translate }}</h2>
  </ng-container>

  <p>{{ 'serversVdc.storageRefreshMessage' | translate }}</p>

  <mcs-table [dataSource]="storageDatasource">
    <!-- Storage Profile Column -->
    <ng-container mcsColumnDef="storageProfile">
      <mcs-header-cell *mcsHeaderCellDef>
        {{ 'serversVdcStorage.columnHeaders.storageProfile' | translate }}
      </mcs-header-cell>
      <mcs-data-cell *mcsDataCellDef="let row" text-wrap>
        <mcs-item>
          <mcs-icon [key]="storageIconKey" size="small"></mcs-icon>
          <span text-wrap>{{ row.name }}</span>
        </mcs-item>
      </mcs-data-cell>
    </ng-container>

    <!-- Usage Column -->
    <ng-container mcsColumnDef="usage">
      <mcs-header-cell *mcsHeaderCellDef hidden-small>
        {{ 'serversVdcStorage.columnHeaders.usage' | translate }}
      </mcs-header-cell>
      <mcs-data-cell *mcsDataCellDef="let row" hidden-small>
        <mcs-capacity-bar
          [(ngModel)]="row.usedMB"
          [maxValue]="row.limitMB"></mcs-capacity-bar>
      </mcs-data-cell>
    </ng-container>

    <!-- Tier Column -->
    <ng-container mcsColumnDef="tier">
      <mcs-header-cell *mcsHeaderCellDef hidden-small>
        {{ 'serversVdcStorage.columnHeaders.tier' | translate }}
      </mcs-header-cell>
      <mcs-data-cell *mcsDataCellDef="let row" hidden-small>
        <span [innerHTML]="(iopsLabelPlaceholder |
          mcsTextPlaceholder: 'iops': row.iops) |
          mcsDataLabel"></span>
      </mcs-data-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container mcsColumnDef="action" *mcsAccessControl="['OrderEdit']; feature: 'EnableOrderingVdcStorageExpand'">
      <mcs-header-cell *mcsHeaderCellDef class="action-header-cell">
      </mcs-header-cell>
      <mcs-data-cell *mcsDataCellDef="let row">
        <mcs-item>
          <a (click)="navigateToExpandVdcStorage(resource, row)"
            mcsId="navigate-to-expand-vdc-storage"
            mcsEventTracker="expand-vdc-storage-click"
            mcsEventCategory="orders"
            mcsEventLabel="navigate-to-expand-vdc-storage">
            {{ 'serversVdcStorage.expandLink' | translate }}
          </a>
        </mcs-item>
      </mcs-data-cell>
    </ng-container>

    <!-- Data Status Integration -->
    <ng-container mcsDataStatusDef>
      <mcs-data-empty *mcsDataEmptyDef>
        <span>{{ 'serversVdcStorage.noStorage' | translate }} </span>
      </mcs-data-empty>
      <mcs-data-error *mcsDataErrorDef>
        <span>{{ 'serversVdcStorage.errorGettingStorage' | translate }}</span>
      </mcs-data-error>
    </ng-container>

    <!-- Header and Data row -->
    <mcs-header-row *mcsHeaderRowDef="storageColumns"></mcs-header-row>
    <mcs-data-row *mcsDataRowDef="let row; columns: storageColumns;"></mcs-data-row>
  </mcs-table>
</mcs-presentation-panel>