<div class="container-wrapper">
  <h2 class="container-header">{{ textContent.title }}</h2>
  <!-- Resource Storage Table -->
  <mcs-table [dataSource]="storageDatasource">
    <!-- Storage Profile Column -->
    <ng-container mcsColumnDef="storageProfile">
      <mcs-header-cell *mcsHeaderCellDef>
        {{ textContent.columnHeaders.storageProfile }}
      </mcs-header-cell>
      <mcs-data-cell *mcsDataCellDef="let row" class="word-wrap">
        <div class="form-field-inline">
          <mcs-icon [key]="storageIconKey" size="small"></mcs-icon>
          <span class="break-word-all">{{ row.name }}</span>
        </div>
      </mcs-data-cell>
    </ng-container>

    <!-- Usage Column -->
    <ng-container mcsColumnDef="usage">
      <mcs-header-cell *mcsHeaderCellDef class="hidden-small">
        {{ textContent.columnHeaders.usage }}
      </mcs-header-cell>
      <mcs-data-cell *mcsDataCellDef="let row" class="hidden-small">
        <mcs-capacity-bar
          [(ngModel)]="row.usedMB"
          [maxValue]="row.limitMB"></mcs-capacity-bar>
      </mcs-data-cell>
    </ng-container>

    <!-- Tier Column -->
    <ng-container mcsColumnDef="tier">
      <mcs-header-cell *mcsHeaderCellDef class="hidden-small">
        {{ textContent.columnHeaders.tier }}
      </mcs-header-cell>
      <mcs-data-cell *mcsDataCellDef="let row" class="hidden-small">
        <span [innerHTML]="(iopsLabelPlaceholder |
          mcsTextPlaceholder: 'iops': row.iops) |
          mcsDataLabel"></span>
      </mcs-data-cell>
    </ng-container>

    <!-- Data Status Integration -->
    <ng-container mcsDataStatusDef>
      <mcs-data-empty *mcsDataEmptyDef>
        <span>{{ textContent.noStorage }} </span>
      </mcs-data-empty>
      <mcs-data-error *mcsDataErrorDef>
        <span>{{ textContent.errorGettingStorage }}</span>
      </mcs-data-error>
    </ng-container>

    <!-- Header and Data row -->
    <mcs-header-row *mcsHeaderRowDef="storageColumns"></mcs-header-row>
    <mcs-data-row *mcsDataRowDef="let row; columns: storageColumns;"></mcs-data-row>
  </mcs-table>
</div>