<div class="status-box-container" [@enterLeave]="attribute.dialogState">

  <div class="sb-main">
    <div class="icon">
      <img src="{{ imageUrl }}" alt="Icon">
    </div>
    <div class="title">
      <span>{{ attribute.title }}</span>
    </div>
    <div class="status">
      <span>{{ status }}</span>
    </div>
    <div class="user">
      <span>{{ time }} <br> {{ attribute.user }}</span>
    </div>
  </div>

  <div class="sb-description">
    <span>{{ attribute.description }}</span>
  </div>

  <div class="sb-close">
    <a (click)="OnClickCloseBtn()">x</a>
  </div>
</div>