<div class="basic-form">
  <!-- Comment text area -->
  <div class="field">
    <textarea [(ngModel)]="comment" class="full-width" rows="3"></textarea>
  </div>

  <div class="field">
    <!-- Uploader of attachment wrapper -->
    <mcs-ticket-attachment attachedType="single"
      (attachedFilesChanged)="onChangedAttachments($event)">
    </mcs-ticket-attachment>

    <!-- Ticket comment/attachment creation -->
    <div class="basic-action-bar">
      <a (click)="cancelComment()">{{ textContent.cancelActivity }}</a>

      <mcs-button (onClick)="createComment()">{{ textContent.addActivity }}</mcs-button>
    </div>
  </div>
</div>