<div class="basic-form">
  <form [formGroup]="fgCreateComment">
    <!-- Comment text area -->
    <div class="field">
      <textarea formControlName="fcComment" class="full-width" rows="3"></textarea>
      <mcs-validation-message [control]="fcComment"></mcs-validation-message>
    </div>

    <div class="field">
      <!-- Uploader of attachment wrapper -->
      <mcs-attachment attachedLimit="single"
        [allowedMimeType]="['image/jpeg', 'image/png', 'image/bmp', 'text/plain']"
        (attachedFilesChanged)="onChangedAttachments($event)">
      </mcs-attachment>
    </div>

    <!-- Ticket comment/attachment creation -->
    <div class="field basic-action-bar">
      <a (click)="cancelComment()">{{ textContent.cancelActivity }}</a>
      <button mcsButton id="ctaAddTicketActivity"
        [disabled]="!fgCreateComment.valid" (click)="createComment()">
        {{ textContent.addActivity }}
      </button>
    </div>
  </form>
</div>