<div class="ticket-new-comment-wrapper">

  <!-- Comment text area -->
  <div class="ticket-comment">
    <textarea [(ngModel)]="comment" rows="3"></textarea>
  </div>

  <div class="ticket-action-wrapper">
    <!-- Uploader of attachment wrapper -->
    <mcs-ticket-attachment attachedType="single"
      (attachedFilesChanged)="onChangedAttachments($event)">
    </mcs-ticket-attachment>

    <!-- Ticket comment/attachment creation -->
    <div class="ticket-create-wrapper">
      <mcs-button size="small" (onClick)="cancelComment()">Cancel</mcs-button>
      <mcs-button size="small" (onClick)="createComment()">Add</mcs-button>
    </div>
  </div>
</div>