<!-- Network header -->
<div><ng-content select="[mcsManageNetworkHeader]"></ng-content></div>

<!-- Network selection -->
<div class="space-bottom-large">
  <mcs-form-field>
    <mcs-select [(ngModel)]="selectedNetwork" mcsId="select-network" placeholder="Select network">
    <mcs-option-group>
      <ng-container *mcsOptionGroupHeader>Networks</ng-container>
      <mcs-option *ngFor="let network of networks" [value]="network">
        {{ network.name }}
      </mcs-option>
    </mcs-option-group>
    </mcs-select>
  </mcs-form-field>
</div>

<!-- Network switcher -->
<div class="space-between-inline-items">
  <h2 class="space-bottom-small auto-width">IP address</h2>
  <a *ngIf="inputManageType === inputManageTypeEnum.Custom" mcsId
    (click)="onChangeInputManageType(inputManageTypeEnum.Buttons)">
    {{ textContent.buttonSwitch }}</a>
  <a *ngIf="inputManageType === inputManageTypeEnum.Buttons" mcsId
    (click)="onChangeInputManageType(inputManageTypeEnum.Custom)">
    {{ textContent.customSwitch }}</a>
</div>

<div [ngSwitch]="inputManageType" [ngStyle]="{'min-height': '140px'}">
  <!-- Ip address DHCP Mode -->
  <div [@fadeIn] *ngSwitchCase="inputManageTypeEnum.Buttons" class="block-items-medium">
    <span>{{ textContent.buttonMessage }}</span>

    <mcs-radio-button-group orientation="vertical"
      [ngModel]="selectedIpAddressMode" (ngModelChange)="onRadioButtonChanged($event)">
      <mcs-radio-button *ngFor="let item of ipAddressItems" [value]="item.value" mcsId>
        {{ item.text }}
      </mcs-radio-button>
    </mcs-radio-button-group>

    <ng-content select="[mcsManageNetworkWarning]"></ng-content>
  </div>

  <!-- IP address custom mode -->
  <div [@fadeIn] *ngSwitchCase="inputManageTypeEnum.Custom" class="block-items-medium">
    <span>{{ textContent.customMessage }}</span>

    <form [formGroup]="fgCustomIpAddress" class="form-field-block">
      <span read-only *ngIf="netMask">
        {{ textContent.hints.ipRange }}: {{ netMask.first }} - {{ netMask.last }}
      </span>
      <mcs-form-field class="form-field-size-medium">
        <input mcsInput placeholder="Enter IP Address" #customInput
          mcsId="input-ipaddress" [formControl]="fcCustomIpAddress">

        <mcs-error mcsError errorState="required">
          {{ textContent.errors.ipAddressRequired }}
        </mcs-error>
        <mcs-error mcsError errorState="ipAddress">
          {{ textContent.errors.ipAddressInvalid }}
        </mcs-error>
        <mcs-error mcsError errorState="ipRange">
          {{ ipRangeErrorText }}
        </mcs-error>
      </mcs-form-field>
    </form>

    <mcs-data-status [dataStatusFactory]="ipAddressesStatusFactory"
      *ngIf="isIpAddressInUsed(customInput?.value)">
      <mcs-data-status-success mcsDataSuccess class="inline-block">
        <mcs-data-status-warning class="justify-content-start" [@fadeInOut]>
          <span [innerHTML]="textContent.inUsedEnteredIpMessage | mcsNewLines"></span>
        </mcs-data-status-warning>
      </mcs-data-status-success>
      <mcs-data-status-in-progress mcsDataInProgress>
        <span>{{ textContent.loadingIpInUsed }}</span>
      </mcs-data-status-in-progress>
    </mcs-data-status>
  </div>
</div>