<nav class="main-navigation-wrapper">

  <!-- Mobile Mode -->
  <mcs-navigation-mobile class="navigation-mobile">
    <ng-container mcsNavigationMobileItems></ng-container>
  </mcs-navigation-mobile>

  <!-- Desktop Mode -->
  <mcs-navigation-desktop class="navigation-desktop">
    <ng-container mcsNavigationDesktopItems></ng-container>
  </mcs-navigation-desktop>

  <!-- All Routing -->
  <ng-template #navigationList>
    <!-- Servers -->
    <div class="navigation-item" routerLinkActive="active" *mcsAccessControl="['VmAccess']">
      <mcs-icon [key]="caretRightIconKey" color="white"
        size="medium" class="navigation-mobile"></mcs-icon>
      <a [routerLink]="['/servers']" (click)="setTitle(textContent.servers.title)">
        {{ textContent.navigation.servers }}
      </a>
    </div>

    <!-- Firewalls -->
    <!-- TODO: Replaced texts to Firewalls and added temporary firewall restriction for Phase 1 -->
    <div class="navigation-item" routerLinkActive="active"
      *mcsAccessControl="['FirewallConfigurationView']">
      <mcs-icon [key]="caretRightIconKey" color="white"
        size="medium" class="navigation-mobile"></mcs-icon>
      <a [routerLink]="['/networking/firewalls']" (click)="setTitle(textContent.firewalls.title)">
        {{ textContent.navigation.firewalls }}
      </a>
    </div>

    <!-- Other Tools -->
    <div class="navigation-item hidden-small" routerLinkActive="active">
      <mcs-icon [key]="caretRightIconKey" color="white"
        size="medium" class="navigation-mobile"></mcs-icon>
      <a [routerLink]="['/tools']" (click)="setTitle(textContent.tools.title)">
        {{ textContent.navigation.tools }}
      </a>
    </div>
  </ng-template>
</nav>