<nav class="main-navigation-content box-shadow-bottom-small">

  <!-- Mobile Mode -->
  <mcs-navigation-mobile class="navigation-mobile">
    <ng-container *ngTemplateOutlet="navigationList"></ng-container>
  </mcs-navigation-mobile>

  <!-- Desktop Mode -->
  <mcs-navigation-desktop class="navigation-desktop">
    <ng-container *ngTemplateOutlet="navigationList"></ng-container>
  </mcs-navigation-desktop>

  <!-- All Routing -->
  <ng-template #navigationList>
    <!-- Dashboard -->
    <ng-container *ngIf="hasDefaultPageAccess; else dashboardNavTemplate"></ng-container>
    <ng-template #dashboardNavTemplate>
      <div class="navigation-item" routerLinkActive="active">
        <mcs-icon [key]="caretRightIconKey" color="light"
          size="medium" class="navigation-mobile"></mcs-icon>
        <a [mcsRouterLink]="routeKeyEnum.Dashboard"
          mcsId
          mcsEventTracker="navigate-to-dashboard"
          mcsEventCategory="navigation"
          mcsEventLabel="main-nav">
          {{ 'navigation.dashboard' | translate }}
        </a>
      </div>
    </ng-template>

    <ng-container *ngIf="isPrivateCloudRoute">
      <!-- ADD PUBLIC CLOUD MENU ITEMS HERE -->

      <!-- Compute Category -->
      <div class="navigation-item"
        [class.active]="selectedCategory === routerCategoryEnum.Compute"
        *mcsAccessControl="['DedicatedVmAccess','CloudVmAccess']">

        <mcs-icon [key]="caretRightIconKey" color="light"
          size="medium" class="navigation-mobile"></mcs-icon>
        <a (click)="navigateToRouteCategoryDefault(routerCategoryEnum.Compute)" mcsId>
          {{ getCategoryLabel(routerCategoryEnum.Compute) }}
        </a>
      </div>

      <!-- Networking Category -->
      <div class="navigation-item"
        [class.active]="selectedCategory === routerCategoryEnum.Network"
        *mcsAccessControl="['FirewallConfigurationView', 'InternetView']">

        <mcs-icon [key]="caretRightIconKey" color="light"
          size="medium" class="navigation-mobile"></mcs-icon>
        <a (click)="navigateToRouteCategoryDefault(routerCategoryEnum.Network)" mcsId>
          {{ getCategoryLabel(routerCategoryEnum.Network) }}
        </a>
      </div>

      <!-- Storage Category -->
      <div class="navigation-item"
        [class.active]="selectedCategory === routerCategoryEnum.Storage"
        *mcsAccessControl="[]; feature: 'EnableBatView'">

        <mcs-icon [key]="caretRightIconKey" color="light"
          size="medium" class="navigation-mobile"></mcs-icon>
        <a (click)="navigateToRouteCategoryDefault(routerCategoryEnum.Storage)" mcsId>
          {{ getCategoryLabel(routerCategoryEnum.Storage) }}
        </a>
      </div>
    </ng-container>

    <ng-container *ngIf="isPublicCloudRoute">
      <!-- ADD PUBLIC CLOUD MENU ITEMS HERE -->
      <div class="navigation-item" hidden-small mcsRouterLinkActive="active"
        *mcsAccessControl="[]; feature: 'EnablePublicCloud'">
        <mcs-icon [key]="caretRightIconKey" color="light"
          size="medium" class="navigation-mobile"></mcs-icon>
        <a [mcsRouterLink]="routeKeyEnum.Licenses">
          {{ 'navigation.licenses' | translate }}
        </a>
      </div>
    </ng-container>

    <!-- Other Tools -->
    <div class="navigation-item" hidden-small mcsRouterLinkActive="active">
      <mcs-icon [key]="caretRightIconKey" color="light"
        size="medium" class="navigation-mobile"></mcs-icon>
      <a [mcsRouterLink]="routeKeyEnum.OtherTools"
        mcsId
        mcsEventTracker="navigate-to-other-tools"
        mcsEventCategory="navigation"
        mcsEventLabel="main-nav">
        {{ 'navigation.tools' | translate }}
      </a>
    </div>

    <!-- Catalog -->
    <ng-container *mcsAccessControl="[]; feature: 'EnableProductCatalog'">
      <div class="navigation-item" hidden-small mcsRouterLinkActive="active"
        *mcsAccessControl="[]; feature: ['EnableCatalogProductListing', 'EnableCatalogSolutionListing']">
        <mcs-icon [key]="caretRightIconKey" color="light"
          size="medium" class="navigation-mobile"></mcs-icon>
        <a [mcsRouterLink]="routeKeyEnum.Catalog"
          mcsId
          mcsEventTracker="navigate-to-catalog"
          mcsEventCategory="navigation"
          mcsEventLabel="main-nav">
          {{ 'navigation.catalog' | translate }}
        </a>
      </div>
    </ng-container>
    
  </ng-template>
</nav>