@import "../../../styles/shared/base";

$main-navigation-large-padding: 0 $space-large;
$main-navigation-small-padding: 0 $space-medium;
$main-navigation-color: $color-black;
$main-navigation-bg-color: $color-primary-01;
$main-navigation-box-shadow-color: $color-black;
$navigation-item-font-size: $h4-default-font-size;

:host {
  z-index: $zindex-navigation;
}

.main-navigation-wrapper {
  background-color: $main-navigation-bg-color;
  color: $main-navigation-color;
  padding: $main-navigation-large-padding;

  @include box-shadow((
    0 3px 4px 0 rgba($main-navigation-box-shadow-color, 0.14),
    0 3px 3px -2px rgba($main-navigation-box-shadow-color, 0.2),
    0 1px 8px 0 rgba($main-navigation-box-shadow-color, 0.12)
  ));

  @include breakpoint(small) {
    padding: $main-navigation-small-padding;
    }
  
  .navigation-item {
    a {
      @include font-size($navigation-item-font-size);
    }
  }

  .navigation-mobile {
    display: none;
    @include breakpoint(small) {
      display: block;
    }
  }

  .navigation-desktop {
    display: block;
    @include breakpoint(small) {
      display: none;
    }
  }
}