@import "../../../styles/shared/base";

// Main navigation variables are declared in the shared

.main-navigation-wrapper {
  background-color: $main-navigation-bg-color;
  color: $main-navigation-color;
  padding: $main-navigation-large-padding;

  @include box-shadow((
    0 3px 4px 0 rgba($main-navigation-box-shadow-color, 0.14),
    0 3px 3px -2px rgba($main-navigation-box-shadow-color, 0.2),
    0 1px 8px 0 rgba($main-navigation-box-shadow-color, 0.12)
  ));

  @include breakpoint(small) {
    padding: $main-navigation-small-padding;
  }

  .navigation-mobile {
    display: none;
    @include breakpoint(small) {
      display: block;
    }
  }

  .navigation-desktop {
    display: block;
    @include breakpoint(small) {
      display: none;
    }
  }
}