<nav class="main-navigation-content box-shadow-bottom-small">

  <!-- Mobile Mode -->
  <mcs-navigation-mobile class="navigation-mobile">
    <ng-container *ngTemplateOutlet="navigationList"></ng-container>
  </mcs-navigation-mobile>

  <!-- Desktop Mode -->
  <mcs-navigation-desktop class="navigation-desktop">
    <ng-container *ngTemplateOutlet="navigationList"></ng-container>
  </mcs-navigation-desktop>

  <!-- All Routing -->
  <ng-template #navigationList>
    <!-- Dashboard -->
    <ng-container *ngIf="hasHostingAccess; else dashboardNavTemplate"></ng-container>
    <ng-template #dashboardNavTemplate>
      <div class="navigation-item" routerLinkActive="active">
        <mcs-icon [key]="caretRightIconKey" color="white"
          size="medium" class="navigation-mobile"></mcs-icon>
        <a [mcsRouterLink]="routeKeyEnum.Dashboard"
          mcsId
          mcsEventTracker="navigate-to-dashboard"
          mcsEventCategory="navigation"
          mcsEventLabel="main-nav">
          {{ 'navigation.dashboard' | translate }}
        </a>
      </div>
    </ng-template>

    <!-- Compute Category -->
    <div class="navigation-item"
      [class.active]="selectedCategory === routerCategoryEnum.Compute"
      *mcsAccessControl="['DedicatedVmAccess','CloudVmAccess']">

      <mcs-icon [key]="caretRightIconKey" color="white"
        size="medium" class="navigation-mobile"></mcs-icon>
      <a [mcsRouterLink]="routeKeyEnum.Servers" mcsId>
        {{ getCategoryLabel(routerCategoryEnum.Compute) }}
      </a>
    </div>

    <!-- Networking Category -->
    <div class="navigation-item"
      [class.active]="selectedCategory === routerCategoryEnum.Network"
      *mcsAccessControl="['FirewallConfigurationView']">

      <mcs-icon [key]="caretRightIconKey" color="white"
        size="medium" class="navigation-mobile"></mcs-icon>
      <a [mcsRouterLink]="routeKeyEnum.Firewalls" mcsId>
        {{ getCategoryLabel(routerCategoryEnum.Network) }}
      </a>
    </div>

    <!-- Other Tools -->
    <div class="navigation-item" hidden-small mcsRouterLinkActive="active">
      <mcs-icon [key]="caretRightIconKey" color="white"
        size="medium" class="navigation-mobile"></mcs-icon>
      <a [mcsRouterLink]="routeKeyEnum.OtherTools"
        mcsId
        mcsEventTracker="navigate-to-other-tools"
        mcsEventCategory="navigation"
        mcsEventLabel="main-nav">
        {{ 'navigation.tools' | translate }}
      </a>
    </div>
  </ng-template>
</nav>