@import "../../../styles/shared/base";

$main-navigation-large-padding: 0 $space-large;
$main-navigation-small-padding: 0 $space-medium;
$main-navigation-color: $color-black;
$main-navigation-bg-color: $color-primary-01;
$navigation-item-font-size: $h4-default-font-size;

.main-navigation-wrapper {
  z-index: $zindex-navigation;
}

.main-navigation-content {
  background-color: $main-navigation-bg-color;
  color: $main-navigation-color;
  padding: $main-navigation-large-padding;

  @include breakpoint(small) {
    padding: $main-navigation-small-padding;
  }

  .navigation-item {
    a {
      text-decoration: none;
      @include font-size($navigation-item-font-size);

      &:hover {
        text-decoration: none;
      }
    }
  }

  .navigation-mobile {
    display: none;
    @include breakpoint(small) {
      display: block;
    }
  }

  .navigation-desktop {
    display: block;
    @include breakpoint(small) {
      display: none;
    }
  }
}