<nav>
  <div class="nav-wrapper">
    <ul>
      <!-- Temp Dashboard -->
      <li *ngIf="!hasDefaultPageAccess">
        <a [mcsRouterLink]="routeKeyEnum.Dashboard"
          mcsRouterLinkActive="active"
          mcsId
          mcsEventTracker="navigate-to-dashboard"
          mcsEventCategory="navigation"
          mcsEventLabel="main-nav">
          {{ 'navigation.dashboard' | translate }}
        </a>
      </li>
      <!-- LAUNCH Pad -->
      <ng-container *ngIf="!isImpersonating">
        <li *mcsAccessControl="[]; feature: 'EnableLaunchPad'" hidden-small>
          <a (click)="toggleThis('showLaunchPadMenu')"
            [class.active]="selectedCategory === routerCategoryEnum.LaunchPad"
            mcsId>
            {{ 'navigation.launchPad.label' | translate }}
            <mcs-icon [key]="showLaunchPadMenu ? caretUpIconKey : caretDownIconKey" color="light" size="small"></mcs-icon>
          </a>
          <ul *ngIf="showLaunchPadMenu">
            <li>
              <a [mcsRouterLink]="routeKeyEnum.LaunchPadWorkflows"
                mcsId="launch-pad-workflows-link"
                mcsEventTracker="navigate-to-launch-pad-workflows"
                mcsEventCategory="navigation"
                mcsEventLabel="main-nav"
                mcsRouterLinkActive="active">
                Workflows
              </a>
            </li>
          </ul>
        </li>
      </ng-container>

      <!-- Private Cloud -->
      <li *ngIf="hasPrivateCloudAccess">
        <a (click)="toggleThis('showPrivateCloudMenu')"
          [class.active]="isPrivateCloudRoute"
          mcsId>
          {{ 'navigation.privateCloud.label' | translate }}
          <mcs-icon [key]="showPrivateCloudMenu ? caretUpIconKey : caretDownIconKey" color="light" size="small"></mcs-icon>
        </a>
        <ul *ngIf="showPrivateCloudMenu">
          <!-- Compute -->
          <li *mcsAccessControl="['DedicatedVmAccess','CloudVmAccess']">
            <a (click)="toggleThis('showComputeSubmenu')"
              [class.active]="selectedCategory === routerCategoryEnum.Compute"
              mcsId="compute-link">
              {{ 'navigation.privateCloud.compute.label' | translate }}
              <mcs-icon [key]="showComputeSubmenu ? caretUpIconKey : caretDownIconKey" color="light" size="small"></mcs-icon>
            </a>
            <ul [class.hidden]="!showComputeSubmenu">
              <!-- Virtual -->
              <li>
                <a [mcsRouterLink]="routeKeyEnum.Servers"
                  mcsRouterLinkActive="active"
                  class="sub-navigation-item unstyled-link"
                  mcsId="virtual-link"
                  mcsEventTracker="navigate-to-servers"
                  mcsEventCategory="navigation"
                  mcsEventLabel="main-nav">
                  {{ 'navigation.privateCloud.compute.virtual' | translate }}
                </a>
              </li>
              <!-- Media -->
              <li *mcsAccessControl="['TemplateView','CatalogView']; feature: 'EnableMediaCatalog'">
                <a [mcsRouterLink]="routeKeyEnum.Media"
                  mcsRouterLinkActive="active"
                  class="sub-navigation-item unstyled-link"
                  mcsId="media-link"
                  mcsEventTracker="navigate-to-medias"
                  mcsEventCategory="navigation"
                  mcsEventLabel="sub-nav">
                  {{ 'navigation.privateCloud.compute.media' | translate }}
                </a>
              </li>
            </ul>
          </li>
          <!-- Network -->
          <li *mcsAccessControl="['FirewallConfigurationView', 'InternetView']">
            <a (click)="toggleThis('showNetworkSubmenu')"
              [class.active]="selectedCategory === routerCategoryEnum.Network"
              mcsId="network-link">
              {{ 'navigation.privateCloud.network.label' | translate }}
              <mcs-icon [key]="showNetworkSubmenu ? caretUpIconKey : caretDownIconKey" color="light" size="small"></mcs-icon>
            </a>
            <ul [class.hidden]="!showNetworkSubmenu">
              <!-- Firewalls -->
              <li *mcsAccessControl="['FirewallConfigurationView']">
                <a [mcsRouterLink]="routeKeyEnum.Firewalls"
                  mcsRouterLinkActive="active"
                  class="sub-navigation-item unstyled-link"
                  mcsId="firewalls-link"
                  mcsEventTracker="navigate-to-firewalls"
                  mcsEventCategory="navigation"
                  mcsEventLabel="sub-nav">
                  {{ 'navigation.privateCloud.network.firewalls' | translate }}
                </a>
              </li>
              <!-- Internet -->
              <li *mcsAccessControl="['InternetView'];">
                <a [mcsRouterLink]="routeKeyEnum.Internet"
                  mcsRouterLinkActive="active"
                  class="sub-navigation-item unstyled-link"
                  mcsId="internet-link"
                  mcsEventTracker="navigate-to-internet"
                  mcsEventCategory="navigation"
                  mcsEventLabel="sub-nav">
                  {{ 'navigation.privateCloud.network.internet' | translate }}
                </a>
              </li>
            </ul>
          </li>
          <!-- Storage -->
          <li>
            <a (click)="toggleThis('showStorageSubmenu')"
              [class.active]="selectedCategory === routerCategoryEnum.Storage"
              mcsId="storage-link">
              {{ 'navigation.privateCloud.storage.label' | translate }}
              <mcs-icon [key]="showStorageSubmenu ? caretUpIconKey : caretDownIconKey" color="light" size="small"></mcs-icon>
            </a>
            <ul [class.hidden]="!showStorageSubmenu">
              <!-- Backup -->
              <li>
                <a [mcsRouterLink]="routeKeyEnum.BackupAggregationTargets"
                  mcsRouterLinkActive="active"
                  class="sub-navigation-item unstyled-link"
                  mcsId="backup-link"
                  mcsEventTracker="navigate-to-backup-aggregation-targets"
                  mcsEventCategory="navigation"
                  mcsEventLabel="sub-nav">
                  {{ 'navigation.privateCloud.storage.backup' | translate }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- Public Cloud -->
      <li *ngIf="hasPublicCloudAccess">
        <a (click)="toggleThis('showPublicCloudMenu')"
          [class.active]="isPublicCloudRoute"
          mcsId="public-cloud-access-link">
          {{ 'navigation.publicCloud.label' | translate }}
          <mcs-icon [key]="showPublicCloudMenu ? caretUpIconKey : caretDownIconKey" color="light" size="small"></mcs-icon>
        </a>
        <ul *ngIf="showPublicCloudMenu">
          <!-- Dashboard -->
          <li *mcsAccessControl="[]; feature: 'EnablePublicCloudDashboard'">
            <a (click)="toggleThis('showDashboardSubmenu')"
              [class.active]="selectedCategory === routerCategoryEnum.Dashboard"
              mcsId="dashboard-link">
              {{ 'navigation.publicCloud.dashboard.label' | translate }}
              <mcs-icon [key]="showDashboardSubmenu ? caretUpIconKey : caretDownIconKey" color="light" size="small"></mcs-icon>
            </a>
            <ul [class.hidden]="!showDashboardSubmenu">
              <!-- Overview -->
              <li>
                <a [mcsRouterLink]="routeKeyEnum.ReportOverview"
                  mcsRouterLinkActive="active"
                  class="sub-navigation-item unstyled-link"
                  mcsId="overview-link"
                  mcsEventTracker="navigate-to-dashboard-overview"
                  mcsEventCategory="navigation"
                  mcsEventLabel="main-nav">
                  {{ 'navigation.publicCloud.dashboard.overview' | translate }}
                </a>
              </li>
              <!-- Insights -->
              <li>
                <a [mcsRouterLink]="routeKeyEnum.ReportInsights"
                  mcsRouterLinkActive="active"
                  class="sub-navigation-item unstyled-link"
                  mcsId="insights-link"
                  mcsEventTracker="navigate-to-dashboard-insights"
                  mcsEventCategory="navigation"
                  mcsEventLabel="sub-nav">
                  {{ 'navigation.publicCloud.dashboard.insights' | translate }}
                </a>
              </li>
            </ul>
          </li>
          <!-- Azure -->
          <li>
            <a (click)="toggleThis('showAzureSubMenu')"
              [class.active]="selectedCategory === routerCategoryEnum.Azure"
              mcsId="azure-link">
              {{ 'navigation.publicCloud.azure.label' | translate }}
              <mcs-icon [key]="showAzureSubMenu ? caretUpIconKey : caretDownIconKey" color="light" size="small"></mcs-icon>
            </a>
            <ul [class.hidden]="!showAzureSubMenu">
              <!-- Managed Services -->
              <li>
                <a [mcsRouterLink]="routeKeyEnum.AzureManagedServices"
                  mcsRouterLinkActive="active"
                  class="sub-navigation-item unstyled-link"
                  mcsId="managed-services-link"
                  mcsEventTracker="navigate-to-azure-managed-services"
                  mcsEventCategory="navigation"
                  mcsEventLabel="main-nav">
                  {{ 'navigation.publicCloud.azure.managedServices' | translate }}
                </a>
              </li>
              <!-- Resources -->
              <li *mcsAccessControl="['AzureView']; feature: 'EnablePublicCloudResourceListing'">
                <a [mcsRouterLink]="routeKeyEnum.AzureResources"
                  mcsRouterLinkActive="active"
                  class="sub-navigation-item unstyled-link"
                  mcsId="resources-link"
                  mcsEventTracker="navigate-to-azure-resources"
                  mcsEventCategory="navigation"
                  mcsEventLabel="main-nav">
                  {{ 'navigation.publicCloud.azure.resources' | translate }}
                </a>
              </li>
            </ul>
          </li>
          <!-- Licenses -->
          <li>
            <a [mcsRouterLink]="routeKeyEnum.Licenses"
              mcsId="licenses-link"
              mcsEventTracker="navigate-to-licenses"
              mcsEventCategory="navigation"
              mcsEventLabel="main-nav"
              mcsRouterLinkActive="active">
              {{ 'navigation.licenses' | translate }}
            </a>
          </li>
        </ul>
      </li>
      <!-- Tools -->
      <li hidden-small>
        <a [mcsRouterLink]="routeKeyEnum.OtherTools"
          mcsId="other-tools-link"
          mcsEventTracker="navigate-to-other-tools"
          mcsEventCategory="navigation"
          mcsEventLabel="main-nav"
          mcsRouterLinkActive="active">
          {{ 'navigation.tools' | translate }}
        </a>
      </li>
      <!-- Catalog -->
      <li hidden-small>
        <a [mcsRouterLink]="routeKeyEnum.Catalog"
          mcsId="catalog-link"
          mcsEventTracker="navigate-to-catalog"
          mcsEventCategory="navigation"
          mcsEventLabel="main-nav"
          mcsRouterLinkActive="active">
          {{ 'navigation.catalog' | translate }}
        </a>
      </li>
      <!-- Orders -->
      <li *mcsAccessControl="['OrderView']">
        <a (click)="toggleThis('showOrdersMenu')"
          [class.active]="selectedCategory === routerCategoryEnum.Orders || selectedCategory === routerCategoryEnum.MakeAChange"
          mcsId="orders-link">
          {{ 'navigation.orders.label' | translate }}
          <mcs-icon [key]="showOrdersMenu ? caretUpIconKey : caretDownIconKey" color="light" size="small"></mcs-icon>
        </a>

        <ul *ngIf="showOrdersMenu">
          <!-- Dashboard -->
          <li *mcsAccessControl="['OrderEdit'];">
            <a [mcsRouterLink]="routeKeyEnum.OrdersDashboard"
              mcsId="make-a-change-link"
              mcsEventTracker="navigate-to-order-dashboard"
              mcsEventCategory="navigation"
              mcsEventLabel="main-nav"
              mcsRouterLinkActive="active">
              {{ 'navigation.orders.dashboard' | translate }}
            </a>
          </li>
          <!-- History -->
          <a [mcsRouterLink]="routeKeyEnum.OrdersHistory"
            mcsId="orders-history-link"
            mcsEventTracker="navigate-to-orders-history"
            mcsEventCategory="navigation"
            mcsEventLabel="main-nav"
            mcsRouterLinkActive="active">
            {{ 'navigation.orders.history' | translate }}
          </a>
        </ul>
      </li>
      <!-- Tickets -->
      <li *mcsAccessControl="['TicketView']">
        <a [mcsRouterLink]="routeKeyEnum.Tickets"
          mcsId="tickets-link"
          mcsEventTracker="navigate-to-tickets"
          mcsEventCategory="navigation"
          mcsEventLabel="main-nav"
          mcsRouterLinkActive="active">
          {{ 'accountPanel.tickets' | translate }}
        </a>
      </li>
      <!-- System Message -->
      <li *mcsAccessControl="['SystemMessageView']; feature: 'EnableSystemMessages'">
        <a [mcsRouterLink]="routeKeyEnum.SystemMessages"
          mcsId="system-message-link"
          mcsEventTracker="navigate-to-system-messages"
          mcsEventCategory="navigation"
          mcsEventLabel="main-nav"
          mcsRouterLinkActive="active">
          {{ 'accountPanel.systemMessage' | translate }}
        </a>
      </li>
      <!-- Logout -->
      <li>
        <a mcsCursor="pointer" (click)="logout($event)"
          mcsId="signout-link"
          mcsEventTracker="sign-out"
          mcsEventCategory="navigation"
          mcsEventLabel="main-nav">
          {{ 'navigation.signOut' | translate }}
        </a>
      </li>
    </ul>
  </div>
</nav>
