<mcs-page [header]="textContent.header">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>
    <!-- Server Creation -->
    <mcs-top-panel-item *mcsTopPanelItemDef no-border>
      <mcs-action-item mcsAlign="end"
        (click)="gotoTickets()"
        mcsId
        mcsEventTracker="navigate-to-ticket-listing"
        mcsEventCategory="ticket"
        mcsEventLabel="create-new-ticket-page">
        <mcs-icon [key]="backIconKey" size="large"></mcs-icon>
        <span>{{ textContent.backToTickets }}</span>
      </mcs-action-item>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>
    <p [innerHTML]="textContent.description | mcsNewLines"></p>
    <div class="contextual-help-page-wrapper limited-view">
      <form [formGroup]="fgCreateTicket" mcsFormGroup>
        <!-- Ticket Type -->
        <mcs-form-field>
          <mcs-select mcsId="select-type" required
            [placeholder]="textContent.placeholders.type"
            [formControl]="fcType"
            [mcsContextualHelp]="contextualContent.type">

            <mcs-option-group>
              <ng-container *mcsOptionGroupHeader>
                {{ textContent.typeHeader }}
              </ng-container>
              <mcs-option *ngFor="let ticketType of ticketTypeList"
                [value]="ticketType.value">
                {{ ticketType.text }}
              </mcs-option>
            </mcs-option-group>
          </mcs-select>

          <mcs-error mcsError errorState="required">
            {{ textContent.errors.typeRequired }}
          </mcs-error>
        </mcs-form-field>

        <!-- Reference -->
        <mcs-form-field>
          <input mcsInput mcsSetFocus #referenceInput
            mcsId="input-reference"
            [placeholder]="textContent.placeholders.reference" maxlength="15"
            [formControl]="fcReference"
            [mcsContextualHelp]="contextualContent.reference">

          <mcs-hint mcsHint align="start">
            {{ convertMaxCharText(textContent.hints.reference, referenceInput.maxLength) }}
          </mcs-hint>
          <mcs-hint mcsHint align="end">
            {{ referenceInput.value.length }} / {{ referenceInput.maxLength }}
          </mcs-hint>
        </mcs-form-field>

        <!-- Summary -->
        <mcs-form-field>
          <input mcsInput #summaryInput required
            mcsId="input-summary"
            [placeholder]="textContent.placeholders.summary" maxlength="80"
            [formControl]="fcSummary"
            [mcsContextualHelp]="contextualContent.summary">

          <mcs-hint mcsHint align="start">
            {{ convertMaxCharText(textContent.hints.summary, summaryInput.maxLength) }}
          </mcs-hint>
          <mcs-hint mcsHint align="end">
            {{ summaryInput.value.length }} / {{ summaryInput.maxLength }}
          </mcs-hint>
          <mcs-error mcsError errorState="required">
            {{ textContent.errors.summaryRequired }}
          </mcs-error>
        </mcs-form-field>

        <!-- Details -->
        <mcs-form-field>
          <textarea mcsInput rows="3" #detailsInput required
            mcsId="input-details"
            [placeholder]="textContent.placeholders.details" maxlength="4000"
            [formControl]="fcDetails"
            [mcsContextualHelp]="contextualContent.details"></textarea>

          <mcs-hint mcsHint align="start">
            {{ convertMaxCharText(textContent.hints.details, detailsInput.maxLength) }}
          </mcs-hint>
          <mcs-hint mcsHint align="end">
            {{ detailsInput.value.length }} / {{ detailsInput.maxLength }}
          </mcs-hint>
          <mcs-error mcsError errorState="required">
            {{ textContent.errors.detailsRequired }}
          </mcs-error>
        </mcs-form-field>

        <!-- Services -->
        <section>
          <h2>{{ textContent.services }}</h2>
          <div>
            <ng-container *ngIf="services">
              <mcs-item>
                <!-- Tags -->
                <mcs-form-field full-width no-margin>
                  <mcs-tag-list [placeholder]="textContent.placeholders.services"
                    mcsId="tag-services"
                    [formControl]="fcService">

                    <mcs-tag *ngFor="let subItem of selectService.selectionSubModel.selected"
                      [selectable]="true" [removable]="true"
                      (removed)="selectService.removeSubSelection(subItem)">
                      {{ subItem.text }}
                    </mcs-tag>
                  </mcs-tag-list>

                  <mcs-error mcsError errorState="required">
                    {{ textContent.errors.servicesRequired }}
                  </mcs-error>
                </mcs-form-field>

                <!-- Icon trigger -->
                <div mcsCursor="pointer" margin-left-small
                  (click)="servicePanelOpen = !servicePanelOpen" #trigger
                  mcsId="toggle-service-panel"
                  mcsEventTracker="toggle-service-panel"
                  mcsEventCategory="ticket"
                  mcsEventLabel="create-new-ticket-page">
                  <mcs-icon [key]="toggleIconKey"></mcs-icon>
                  <mcs-ripple class="icon-ripple-wrapper"
                    mcsRipple
                    [rippleTrigger]="trigger"
                    [rippleCentered]="true">
                  </mcs-ripple>
                </div>
              </mcs-item>

              <div [@expansionVertical]="servicePanelOpen ? 'expanded' : 'collapsed'">
                <mcs-select-tag #selectService padding-small
                  (selectionChanged)="serviceItemSelectionChanged($event)">
                  <mcs-select-tag-main-item *ngFor="let service of services"
                    [header]="service.serviceName">

                  <mcs-select-tag-sub-item *ngFor="let item of service.serviceItems"
                    [searchKey]="item.name" [value]="item">
                    {{ item.name }}
                  </mcs-select-tag-sub-item>
                  </mcs-select-tag-main-item>
                </mcs-select-tag>
              </div>
            </ng-container>
          </div>
        </section>
      </form>

      <!-- Attachments -->
      <section>
        <h2>{{ textContent.attachments }}</h2>
        <mcs-file-attachment attachedLimit="multiple"
          [allowedMimeType]="['image/jpeg', 'image/png', 'image/bmp', 'text/plain']"
          (attachedFilesChanged)="onChangedAttachments($event)"
          [mcsContextualHelp]="contextualContent.attachments">
        </mcs-file-attachment>
      </section>

      <!-- Ticket Action -->
      <div class="action-items">
        <a (click)="gotoTickets()"
          mcsId
          mcsEventTracker="cancel-ticket-creation"
          mcsEventCategory="ticket"
          mcsEventLabel="create-new-ticket-page">{{ textContent.cancelActivity }}</a>

        <button mcsButton
          arrow="right"
          (click)="onLogTicket()"
          mcsId
          mcsEventTracker="submit-new-ticket"
          mcsEventCategory="ticket"
          mcsEventLabel="create-new-ticket-page">
          {{ textContent.newTicket }}
        </button>
      </div>
    </div>
  </mcs-content-panel>
</mcs-page>