<mcs-page [header]="'ticketCreate.header' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>
    <!-- Server Creation -->
    <mcs-top-panel-item *mcsTopPanelItemDef no-border>
      <mcs-action-item mcsAlign="end" mcsId
        mcsRouterLink="Tickets"
        mcsEventTracker="navigate-to-ticket-listing"
        mcsEventCategory="ticket"
        mcsEventLabel="create-new-ticket-page">
        <mcs-icon [key]="backIconKey" size="small"></mcs-icon>
        <span>{{ 'ticketCreate.backToTickets' | translate }}</span>
      </mcs-action-item>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>
    <p [innerHTML]="('ticketCreate.description' | translate) | mcsNewLines "></p>
    <div class="contextual-help-page-wrapper limited-view">
      <form [formGroup]="fgCreateTicket" mcsFormGroup>
        <!-- Ticket Type -->
        <mcs-form-field>
          <mcs-select mcsId="select-type" required
            [placeholder]="'ticketCreate.placeholders.type' | translate"
            [formControl]="fcType"
            [mcsContextualHelp]="'ticketCreate.contextualHelp.type' | translate">

            <mcs-option-group>
              <ng-container *mcsOptionGroupHeader>
                {{ 'ticketCreate.typeHeader' | translate }}
              </ng-container>
              <mcs-option *ngFor="let ticketType of ticketTypeList"
                [value]="ticketType.value">
                {{ ticketType.text }}
              </mcs-option>
            </mcs-option-group>
          </mcs-select>

          <mcs-error mcsError errorState="required">
            {{ 'ticketCreate.errors.typeRequired' | translate }}
          </mcs-error>
        </mcs-form-field>

        <!-- Reference -->
        <mcs-form-field>
          <input mcsInput mcsSetFocus #referenceInput
            mcsId="input-reference"
            [placeholder]="'ticketCreate.placeholders.reference' | translate" maxlength="15"
            [formControl]="fcReference"
            [mcsContextualHelp]="'ticketCreate.contextualHelp.reference' | translate">

          <mcs-hint mcsHint align="start">
            {{ 'ticketCreate.hints.reference' | translate: { max_char: referenceInput.maxLength } }}
          </mcs-hint>
          <mcs-hint mcsHint align="end">
            {{ referenceInput.value.length }} / {{ referenceInput.maxLength }}
          </mcs-hint>
        </mcs-form-field>

        <!-- Summary -->
        <mcs-form-field>
          <input mcsInput #summaryInput required
            mcsId="input-summary"
            [placeholder]="'ticketCreate.placeholders.summary' | translate" maxlength="80"
            [formControl]="fcSummary"
            [mcsContextualHelp]="'ticketCreate.contextualHelp.summary' | translate">

          <mcs-hint mcsHint align="start">
            {{ 'ticketCreate.hints.summary' | translate: { max_char: summaryInput.maxLength } }}
          </mcs-hint>
          <mcs-hint mcsHint align="end">
            {{ summaryInput.value.length }} / {{ summaryInput.maxLength }}
          </mcs-hint>
          <mcs-error mcsError errorState="required">
            {{ 'ticketCreate.errors.summaryRequired' | translate }}
          </mcs-error>
        </mcs-form-field>

        <!-- Details -->
        <mcs-form-field>
          <textarea mcsInput rows="3" #detailsInput required
            mcsId="input-details"
            [placeholder]="'ticketCreate.placeholders.details' | translate" maxlength="4000"
            [formControl]="fcDetails"
            [mcsContextualHelp]="'ticketCreate.contextualHelp.details' | translate"></textarea>

          <mcs-hint mcsHint align="start">
            {{ 'ticketCreate.hints.details' | translate: { max_char: detailsInput.maxLength } }}
          </mcs-hint>
          <mcs-hint mcsHint align="end">
            {{ detailsInput.value.length }} / {{ detailsInput.maxLength }}
          </mcs-hint>
          <mcs-error mcsError errorState="required">
            {{ 'ticketCreate.errors.detailsRequired' | translate }}
          </mcs-error>
        </mcs-form-field>

        <!-- Services -->
        <mcs-section [mcsContextualHelp]="'ticketCreate.contextualHelp.services' | translate" >
          <h2>{{ 'ticketCreate.services' | translate }}</h2>

          <mcs-form-field>
            <mcs-select mcsId="cta-select-service" [useTags]="true" multiple
              [placeholder]="'ticketCreate.placeholders.services' | translate"
              [formControl]="fcService">

              <mcs-search mcsSelectSearch></mcs-search>

              <ng-template #servicesTemplate let-ticketServices let-title="serviceTitle">
                <mcs-option-group>
                  <ng-container *mcsOptionGroupLabel>
                    <span>{{ title }}</span>
                  </ng-container>

                  <mcs-option *ngFor="let service of ticketServices" [value]="service"
                    [selected]="(selectedServiceId$ | async) === service.id">
                    {{ service.name }}
                  </mcs-option>
                </mcs-option-group>
              </ng-template>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (vdcServices$ | async), serviceTitle: 'VDCs'}">
              </ng-container>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (serverServices$ | async), serviceTitle: 'Servers'}">
              </ng-container>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (firewallServices$ | async), serviceTitle: 'Firewalls'}">
              </ng-container>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (internetPortServices$ | async), serviceTitle: 'Internet Ports'}">
              </ng-container>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (batServices$ | async), serviceTitle: 'Backup Aggregation Targets'}">
              </ng-container>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (licenses$ | async), serviceTitle: 'Licenses'}">
              </ng-container>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (azureServices$ | async), serviceTitle: 'Microsoft Subscriptions'}">
              </ng-container>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (colocationAntennas$ | async), serviceTitle: 'Antennas'}">
              </ng-container>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (colocationCustomDevices$ | async), serviceTitle: 'Custom Devices'}">
              </ng-container>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (colocationRooms$ | async), serviceTitle: 'Rooms'}">
              </ng-container>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (colocationStandardSqms$ | async), serviceTitle: 'Standard Square Metres'}">
              </ng-container>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (colocationRacks$ | async), serviceTitle: 'Racks'}">
              </ng-container>
              
              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (vdcStorages$ | async), serviceTitle: 'VDC Storage'}">
              </ng-container>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (dedicatedServers$ | async), serviceTitle: 'Dedicated Servers'}">
              </ng-container>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (managementServices$ | async), serviceTitle: 'Microsoft Management Services'}">
              </ng-container>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (serverBackup$ | async), serviceTitle: 'Server Backup'}">
              </ng-container>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (vmBackup$ | async), serviceTitle: 'VM Backup'}">
              </ng-container>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (antiVirus$ | async), serviceTitle: 'Anti-Virus'}">
              </ng-container>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (hids$ | async), serviceTitle: 'HIDS'}">
              </ng-container>

              <ng-container *ngTemplateOutlet="servicesTemplate;
                context: { $implicit: (dns$ | async), serviceTitle: 'DNS'}">
              </ng-container>
            </mcs-select>
          </mcs-form-field>
        </mcs-section>
      </form>

      <!-- Attachments -->
      <mcs-section>
        <h2>{{ 'ticketCreate.attachments' | translate }}</h2>
        <mcs-file-attachment attachedLimit="multiple"
          [allowedMimeType]="['image/jpeg', 'image/png', 'image/bmp', 'text/plain']"
          (attachedFilesChanged)="onChangedAttachments($event)"
          [mcsContextualHelp]="'ticketCreate.contextualHelp.attachments' | translate">
        </mcs-file-attachment>
      </mcs-section>

      <!-- Ticket Action -->
      <div class="action-items">
        <button mcsButton  arrow="right" mcsId="new-ticket" (click)="onLogTicket()"
          [disabled]="creatingTicket() | async"
          mcsEventTracker="submit-new-ticket"
          mcsEventCategory="ticket"
          mcsEventLabel="create-new-ticket-page">
          {{ 'ticketCreate.newTicket' | translate }}
        </button>
      </div>
    </div>
  </mcs-content-panel>
</mcs-page>