<mcs-presentation-panel>
  <ng-container mcsPresentationPanelHeader>
    <mcs-item orientation="separated" full-width>
      <h2>{{ 'serverServicesAvDetails.title' | translate }}</h2>
      <ng-content select="[mcsViewServicesTab]"></ng-content>
    </mcs-item>
  </ng-container>
  <mcs-grid>
    <mcs-grid-row>
      <mcs-grid-column sizeLg="11">
        <p [innerHTML]="('serverServicesAvDetails.description' | translate) | mcsNewLines"></p>
      </mcs-grid-column>
      <mcs-grid-column sizeLg="1">
        <mcs-icon mcsStopPropagation [key]="ellipsisKey" size="large"
          mcsPopover placement="bottom" orientation="left" theme="light"
          padding="none" [content]="actionContent" mcsCursor="pointer">
        </mcs-icon>
        <ng-template #actionContent>
          <div class="cog-actions-wrapper">
            <a mcsButton="basic" color="white" labelPlacement="left"
              target="_blank"
              [href]="trendDsmLink"
              mcsId
              mcsEventTracker="view-in-trend-dsm-av"
              mcsEventCategory="server"
              mcsEventLabel="server-services-view-in-trend-dsm-av">
              {{ 'serverServicesAvDetails.viewInTrendDsmLabel' | translate }}
            </a>
          </div>
        </ng-template>
      </mcs-grid-column>
    </mcs-grid-row>
  </mcs-grid>

  <!-- Table -->
  <table mat-table [dataSource]="avDatasource">
    <!-- Threat Column -->
    <ng-container matColumnDef="threat">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'columnHeader.threat' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" text-wrap>
        <span text-wrap>{{ row.description }}</span>
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.date' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small>
        <span text-wrap>{{ row.detectedOn | mcsStdDateFormat }}</span>
      </td>
    </ng-container>

    <!-- Path Column -->
    <ng-container matColumnDef="path">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.path' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small>
        <span text-wrap>{{ row.path }}</span>
      </td>
    </ng-container>

    <!-- Scan Type Column -->
    <ng-container matColumnDef="scanType">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.scanType' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small>
        <span text-wrap>{{ row.scanType }}</span>
      </td>
    </ng-container>

    <!-- Action Taken Column -->
    <ng-container matColumnDef="actionTaken">
      <th mat-header-cell *matHeaderCellDef hidden-small>
        {{ 'columnHeader.actionTaken' | translate }}
      </th>
      <td mat-cell *matCellDef="let row" hidden-small>
        <span text-wrap>{{ row.actionTaken }}</span>
      </td>
    </ng-container>

    <!-- Header and Data row -->
    <tr mat-header-row *matHeaderRowDef="avDatasource?.dataColumns$ | async"></tr>
    <tr mat-row *matRowDef="let row; columns: avDatasource?.dataColumns$ | async;"></tr>
  </table>

  <!-- Table Statuses -->
  <mcs-item orientation="block">
    <div *ngIf="avDatasource?.isInProgress$ | async" align="center">
      <mcs-loader size="medium"></mcs-loader>
    </div>
    <div *ngIf="avDatasource?.hasNoRecords$ | async" text-center>
      <span>{{ 'serverServicesAvDetails.noContent' | translate }} </span>
    </div>
    <div *ngIf="avDatasource?.hasError$ | async" text-center>
      <div class="listing-status-wrapper">
        <span>{{ 'serverServicesAvDetails.errorContent' | translate }}</span>
      </div>
    </div>
  </mcs-item>

</mcs-presentation-panel>
