<ng-container *ngIf="serverDetails$ | async as serverDetails">
  <ng-container [ngSwitch]="serverServicesView">
    <!-- Default View -->
    <mcs-presentation-panel [@fadeIn] *ngSwitchCase="serverServicesViewOption.Default">
      <ng-container mcsPresentationPanelHeader>
        <h2>{{ textContent.title }}</h2>
      </ng-container>
      <p>{{ textContent.description }}</p>
      <p>
        <mcs-form-message [type]="formType" #formMessage>
          {{textContent.formMessageDefaultError}}
        </mcs-form-message>
      </p>
      <mcs-grid>
        <mcs-data-status [dataStatusFactory]="dataStatusFactory">
          <mcs-data-status-success mcsDataSuccess>

            <!-- Status -->
            <mcs-grid-row *ngIf="updatesDetails$ | async as updatesDetails">
              <mcs-grid-column sizeLg="8">
                <strong>{{textContent.updatesStatusTitleLabel}}</strong>
                <mcs-item>
                  <mcs-icon [key]="updateStatusConfiguration.updatesStatusIcon" size="small"></mcs-icon>
                  <div>
                    <mcs-item orientation="inline">
                      <span>{{ updateStatusConfiguration.updatesStatusLabel }}</span>
                    </mcs-item>
                    <small read-only display-block *ngIf="updateStatusConfiguration.updateStatusHasNoErrors">
                      <mcs-item orientation="inline">
                        <span> {{ updatesStatusSubtitleLabel }} </span>
                        <ng-container *ngIf="updateStatusConfiguration.inspectButtonShown">
                          <a (click)="inspectForAvailableOsUpdates(serverDetails.server)" *mcsAccessControl="['VmPatchManagement']"
                            [disabled]="inspectNowButtonDisabled(serverDetails.server)">
                            {{ textContent.updatesAnalysisLabel }}
                          </a>
                        </ng-container>
                      </mcs-item>
                    </small>
                  </div>
                </mcs-item>
              </mcs-grid-column>

              <mcs-grid-column mcsAlignContent="middle-right">
                <ng-container *ngIf="updateStatusConfiguration.runNowButtonShown">
                  <button mcsButton size="xsmall" (click)="setViewMode(serverServicesViewOption.Unscheduled)"
                    *mcsAccessControl="['VmPatchManagement']" [disabled]="serverDetails.server.isProcessing">
                    {{ textContent.updatesScheduleRunNowLink }}
                  </button>
                </ng-container>
              </mcs-grid-column>
            </mcs-grid-row>

            <!-- Schedule/Jobs -->
            <mcs-grid-row *ngIf="updatesDetails$ | async as updatesDetails">
              <mcs-grid-column>

                <strong>{{textContent.updatesScheduleTitleLabel}}</strong>
                <mcs-item>
                  <mcs-icon [key]="clockKey" size="small"></mcs-icon>
                  <div>
                    <span>{{ updatesScheduleLabel }}</span>
                    <small read-only display-block *ngIf="updateStatusConfiguration.updateStatusHasNoErrors">
                      <mcs-item orientation="inline">

                        <span *ngIf="updateStatusConfiguration.hasSchedule">
                          {{ updateStatusConfiguration.updatesScheduleSubtitleLabel }}
                        </span>
                        <span [mcsTooltip]="updateStatusConfiguration.updatesScheduleConfigureHoverLabel"
                          [mcsTooltipShow]="updateStatusConfiguration.configureScheduleButtonDisabled">
                          <ng-container *ngIf="updateStatusConfiguration.updateStatusHasNoErrors">
                            <a *mcsAccessControl="['VmPatchManagement']" (click)="setViewMode(serverServicesViewOption.Scheduled)"
                              [disabled]="configureButtonDisabled(serverDetails.server)">
                              {{ textContent.updatesScheduleConfigureLink }}
                            </a>
                          </ng-container>
                        </span>
                      </mcs-item>
                    </small>
                  </div>
                </mcs-item>
                <mcs-item *ngIf="updateStatusConfiguration.updatesScheduleRunOnceWarningLabelShown">
                  <mcs-data-status-warning margin-left-large>
                    <small>
                      {{ textContent.updatesScheduleRunOnceWarningLabel }}
                    </small>
                  </mcs-data-status-warning>
                </mcs-item>

              </mcs-grid-column>
            </mcs-grid-row>
          </mcs-data-status-success>

          <mcs-data-status-in-progress mcsDataInProgress>
            <span>{{ textContent.loadingContent }}</span>
          </mcs-data-status-in-progress>

          <mcs-data-status-error mcsDataError>
            <span>{{ textContent.errorGettingServerDetails }}</span>
          </mcs-data-status-error>
        </mcs-data-status>
      </mcs-grid>
    </mcs-presentation-panel>

    <!-- Os Updates Schedule View -->
    <ng-container *ngIf="updatesDetails$ | async as updatesDetails">
      <!-- Unscheduled / Run Now / Update Now -->
      <ng-container [@fadeIn] *ngSwitchCase="serverServicesViewOption.Unscheduled">
        <mcs-server-os-updates-schedule-unscheduled [selectedServer]="serverDetails.server" (applyUpdates)="onApplyUpdates($event)">
          <ng-container mcsViewServicesTab *ngTemplateOutlet="servicesTabView"></ng-container>
        </mcs-server-os-updates-schedule-unscheduled>
      </ng-container>

      <!-- Scheduled Type Later/RunOnce or Recurring -->
      <ng-container [@fadeIn] *ngSwitchCase="serverServicesViewOption.Scheduled">
        <mcs-server-os-updates-schedule-scheduled [selectedServer]="serverDetails.server" (saveSchedule)="onSaveSchedule($event)"
          (deleteSchedule)="onDeleteSchedule($event)">
          <ng-container mcsViewServicesTab *ngTemplateOutlet="servicesTabView"></ng-container>
        </mcs-server-os-updates-schedule-scheduled>
      </ng-container>
    </ng-container>

  </ng-container>

  <!-- Go back to services tab view -->
  <ng-template #servicesTabView>
    <a mcsButton="basic" size="medium" (click)="setViewMode(serverServicesViewOption.Default)" [disabled]="serverDetails.server.isProcessing">
      <mcs-item>
        <mcs-icon [key]="chevronLeftKey" size="xsmall"></mcs-icon>
        <span>{{ textContent.label }}</span>
      </mcs-item>
    </a>
  </ng-template>
</ng-container>
