<ng-container *ngIf="server$ | async as server">
  <ng-container [ngSwitch]="serviceView$ | async">

    <!-- Default View -->
    <section [@fadeIn] *ngSwitchCase="serverServicesViewOption.Default">
      <!-- Operating System Updates -->
      <div *ngIf="server.isVCloud || server.isDedicated">
        <mcs-presentation-panel *mcsAccessControl="[] feature: 'EnableServerOsUpdates'">
          <ng-container mcsPresentationPanelHeader>
            <h2>{{ 'serverServices.operatingSystemUpdates.title' | translate }}</h2>
          </ng-container>
          <p>{{ 'serverServices.operatingSystemUpdates.description' | translate }}</p>

          <mcs-section>
            <mcs-form-message #formMessage></mcs-form-message>
            <ng-container *ngIf="server.osAutomationAvailable; else osAutomationNotAvailable">
              <mcs-data-status [dataStatusFactory]="dataStatusFactory">
                <mcs-data-status-success mcsDataSuccess>

                  <mcs-grid *ngIf="updatesDetails$ | async as updatesDetails">
                    <!-- Patch -->
                    <mcs-grid-row>
                      <mcs-grid-column>
                        <mcs-service-os-updates-patch
                          [osUpdatesDetails]="updatesDetails"
                          [server]="server"
                          [job]="currentJob$ | async"
                          (inspectAvailableUpdates)="executeAction($event)"
                          (viewChange)="onViewChange($event)">
                        </mcs-service-os-updates-patch>
                      </mcs-grid-column>
                    </mcs-grid-row>

                    <!-- Schedule -->
                    <mcs-grid-row>
                      <mcs-grid-column>
                        <mcs-service-os-updates-schedule
                          [osUpdatesDetails]="updatesDetails"
                          [server]="server"
                          [job]="currentJob$ | async" (viewChange)="onViewChange($event)">
                        </mcs-service-os-updates-schedule>
                      </mcs-grid-column>
                    </mcs-grid-row>
                  </mcs-grid>
                </mcs-data-status-success>

                <mcs-data-status-in-progress mcsDataInProgress>
                  <span>{{ 'serverServices.operatingSystemUpdates.loadingContent' | translate }}</span>
                </mcs-data-status-in-progress>

                <mcs-data-status-error mcsDataError>
                  <span>{{ 'serverServices.operatingSystemUpdates.errorGettingServerDetails' | translate }}</span>
                </mcs-data-status-error>
              </mcs-data-status>
            </ng-container>
          </mcs-section>
          <ng-template #osAutomationNotAvailable>
            <mcs-status-message type="info">
              {{ 'serverServices.operatingSystemUpdates.osAutomationNotAvailable' | translate }}
            </mcs-status-message>
          </ng-template>
        </mcs-presentation-panel>
      </div>

      <!-- InView -->
      <mcs-service-inview *ngIf="server.isVCloud" [server]="server" (raiseInviewLevel)="executeAction($event)">
      </mcs-service-inview>

      <!-- Host Security -->
      <div *ngIf="server.isVCloud">
        <ng-container *mcsAccessControl="['HidsView', 'AvView'];">
          <ng-container *ngIf="serverHostSecurityDetails$ | async as serverHostSecurityDetails">
            <mcs-presentation-panel>
              <ng-container mcsPresentationPanelHeader>
                <h2>{{ 'serverServices.hostSecurity.title' | translate }}</h2>
              </ng-container>
              <p>{{ 'serverServices.hostSecurity.description' | translate }}</p>
              <!-- Overall Status -->
              <mcs-section
                *ngIf="serverHostSecurityDetails?.hids?.enabled || serverHostSecurityDetails?.antiVirus?.enabled; else avHidsUnprovisionedTemplate">
                <mcs-grid>
                  <mcs-grid-row>
                    <mcs-grid-column>
                      <mcs-item orientation="block">
                        <strong>{{ 'serverServices.hostSecurity.statusLabel' | translate }}</strong>
                        <mcs-item>
                          <mcs-icon [key]="serverHostSecurityDetails.icon" size="small"
                            mcsId="host-security-status-icon">
                          </mcs-icon>
                          <div>
                            <span mcsId="host-security-status-label">{{ serverHostSecurityDetails.label }}</span>
                          </div>
                        </mcs-item>
                      </mcs-item>
                    </mcs-grid-column>
                  </mcs-grid-row>
                  <!-- Hids -->
                  <ng-container orientation="block" *mcsAccessControl="['HidsView'];">
                    <mcs-grid-row *ngIf="serverHostSecurityDetails?.hids?.enabled">
                      <mcs-grid-column>
                        <mcs-service-hids [server]="server" [hids]="serverHostSecurityDetails?.hids"
                          (viewChange)="onViewChange($event)">
                        </mcs-service-hids>
                      </mcs-grid-column>
                    </mcs-grid-row>
                  </ng-container>
                  <!-- Anti Virus -->
                  <ng-container orientation="block" *mcsAccessControl="['AvView'];">
                    <mcs-grid-row *ngIf="serverHostSecurityDetails?.antiVirus?.enabled">
                      <mcs-grid-column>
                        <mcs-service-anti-virus
                          [server]="server"
                          [antivirus]="serverHostSecurityDetails?.antiVirus"
                          (viewChange)="onViewChange($event)">
                        </mcs-service-anti-virus>
                      </mcs-grid-column>
                    </mcs-grid-row>
                  </ng-container>
                </mcs-grid>
              </mcs-section>
              <ng-template #avHidsUnprovisionedTemplate>
                <mcs-status-message type="info">
                  {{'serverServices.hostSecurity.unprovisionedFallback' | translate }}
                  <ng-container *ngIf="hostSecurityDisableMessage(server); else hostSecurityOrderLinkTemplate">
                    <span>{{ hostSecurityDisableMessage(server) }}</span>
                    <ng-container
                      *ngIf="server.getServiceOrderState() === ServiceOrderStateOption.OsAutomationNotReady">
                      <ng-container *mcsAccessControl="['TicketCreate']">
                        or
                        <a (click)="onCreateNewTicket(server)" mcsId="create-new-ticket"
                          mcsEventTracker="raise-a-ticket" mcsEventCategory="ticket" mcsEventLabel="server-services">{{
                          'serverServices.hostSecurity.raiseTicketLabel' | translate }}</a>
                      </ng-container>.
                    </ng-container>
                  </ng-container>
                  <ng-template #hostSecurityOrderLinkTemplate>
                    <span *mcsAccessControl="['OrderEdit'];">
                      <a (click)="onHostSecurityOrderClick(ServerServicesActionOption.AddAv, server)" mcsId="add-new-av"
                        mcsEventTracker="add-new-av" mcsEventCategory="order" mcsEventLabel="server-services">{{
                        'serverServices.hostSecurity.avLinkLabel' | translate }}</a>
                      <span> or </span>
                      <a (click)="onHostSecurityOrderClick(ServerServicesActionOption.AddHids, server)"
                        mcsId="add-new-hids" mcsEventTracker="add-new-hids" mcsEventCategory="order"
                        mcsEventLabel="server-services">{{ 'serverServices.hostSecurity.hidsLinkLabel' | translate
                        }}</a>
                    </span>
                  </ng-template>
                </mcs-status-message>
              </ng-template>
            </mcs-presentation-panel>
          </ng-container>
        </ng-container>
      </div>

      <!-- VM Backup -->
      <ng-container *ngIf="server.isVCloud && serverBackUpVm$ | async as vmBackup">
        <mcs-service-backup-vm [server]="server" [serverBackupVm]="vmBackup" (viewChange)="onViewChange($event)"
          (addVmBackup)="executeAction($event)" (createNewTicket)="onCreateNewTicket(server)">
        </mcs-service-backup-vm>
      </ng-container>

      <!-- Server Backup -->
      <ng-container *ngIf="server.isVCloud && serverBackUpServer$ | async as serverBackup">
        <mcs-service-backup-server [server]="server" [serverBackupServer]="serverBackup"
          (viewChange)="onViewChange($event)" (addServerBackup)="executeAction($event)"
          (createNewTicket)="onCreateNewTicket(server)">
        </mcs-service-backup-server>
      </ng-container>
    </section>

    <!-- Details View Os Updates Patch -->
    <ng-container [@fadeIn] *ngSwitchCase="serverServicesViewOption.OsUpdatesPatch">
      <ng-container *mcsAccessControl="serverPermission.vmPatchManagement;">
        <ng-container *ngIf="updatesDetails$ | async">
          <mcs-service-os-updates-patch-details
            [selectedServer]="server"
            (patchUpdates)="onPatchUpdates($event)">
            <ng-container mcsViewServicesTab *ngTemplateOutlet="servicesTabView"></ng-container>
          </mcs-service-os-updates-patch-details>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- Details View Os Updates Schedule -->
    <ng-container [@fadeIn] *ngSwitchCase="serverServicesViewOption.OsUpdatesSchedule">
      <ng-container *mcsAccessControl="serverPermission.vmPatchManagement;">
        <ng-container *ngIf="updatesDetails$ | async">
          <mcs-server-os-updates-schedule-details
            [selectedServer]="server"
            (saveSchedule)="onSaveSchedule($event)"
            (deleteSchedule)="onDeleteSchedule($event)">
            <ng-container mcsViewServicesTab *ngTemplateOutlet="servicesTabView"></ng-container>
          </mcs-server-os-updates-schedule-details>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- Details View Anti-Virus -->
    <ng-container [@fadeIn] *ngSwitchCase="serverServicesViewOption.AntiVirus">
      <mcs-service-anti-virus-details [serverId]="server?.id">
        <ng-container mcsViewServicesTab *ngTemplateOutlet="servicesTabView"></ng-container>
      </mcs-service-anti-virus-details>
    </ng-container>

    <!-- Details View Hids -->
    <ng-container [@fadeIn] *ngSwitchCase="serverServicesViewOption.Hids">
      <mcs-service-hids-details [serverId]="server?.id">
        <ng-container mcsViewServicesTab *ngTemplateOutlet="servicesTabView"></ng-container>
      </mcs-service-hids-details>
    </ng-container>


    <!-- Details View VM Backup -->
    <ng-container [@fadeIn] *ngSwitchCase="serverServicesViewOption.BackupVm">
      <mcs-service-backup-vm-details [serverId]="server?.id">
        <ng-container mcsViewServicesTab *ngTemplateOutlet="servicesTabView"></ng-container>
      </mcs-service-backup-vm-details>
    </ng-container>

    <!-- Details View Server Backup -->
    <ng-container [@fadeIn] *ngSwitchCase="serverServicesViewOption.BackupServer">
      <mcs-service-backup-server-details [serverId]="server?.id">
        <ng-container mcsViewServicesTab *ngTemplateOutlet="servicesTabView"></ng-container>
      </mcs-service-backup-server-details>
    </ng-container>
  </ng-container>

  <!-- Go back to services tab view -->
  <ng-template #servicesTabView>
    <a mcsButton="basic" size="medium"
      mcsId="back-to-services-link"
      mcsEventTracker="os-updates-back-to-services-click"
      mcsEventCategory="server"
      mcsEventLabel="os-updates-back-to-services"
      (click)="setViewMode(serverServicesViewOption.Default)">
      <mcs-item>
        <mcs-icon [key]="chevronLeftKey" size="medium"></mcs-icon>
        <span>{{ 'serverServices.default.label' | translate }}</span>
      </mcs-item>
    </a>
  </ng-template>
</ng-container>
