@import "shared/index";

$grid-column-item-gap: 10px;

.grid-row-wrapper {
  @include display-flex(row);
  @include flex-wrap(wrap);
  justify-content: space-between;

  + .grid-row-wrapper {
    margin-top: $space-large;
  }
}
