<mcs-page *ngIf="network$ | async as network" [header]="network.name">
  <mcs-top-panel *mcsTopPanelDef>
    <mcs-top-panel-item *mcsTopPanelItemDef>
      <ng-container>
        
      </ng-container>
      <mcs-action-item mcsId mcsAlign="end"
        [mcsRouterLink]="routeKeyEnum.LaunchPadNetworkDbNetworks" 
        mcsEventTracker="navigate-to-network-db-listing"
        mcsEventCategory="network-db" mcsEventLabel="network-db-details-page">
        <mcs-icon [key]="backIconKey" size="small"></mcs-icon>
        <span>{{ 'networkDb.backToNetworks' | translate }}</span>
      </mcs-action-item>
    </mcs-top-panel-item>
  </mcs-top-panel>


  <mcs-content-panel *mcsContentPanelDef>
    <!-- <ng-container *ngIf="network.isProcessing"> -->
    <!-- <ng-container>
      <mcs-busy-ribbon theme="dark" margin-bottom-small>
        <span>{{ 'message.deploymentBusy' | translate }}</span>
      </mcs-busy-ribbon>
    </ng-container> -->

    <mcs-tab-group [selectedTabId]="selectedTabId$ | async" (tabChanged)="onTabChanged($event, network)">
      <mcs-tab [label]="'label.overview' | translate" id="overview"></mcs-tab>
      <mcs-tab [label]="'label.events' | translate" id="events"></mcs-tab>

      <!-- Action tab -->
      <ng-container mcsTabHeaderCustom>
        <mat-menu #actionMenu="matMenu" mcsAlign="end">

          <button mat-menu-item mcsId="edit-db-network" mcsEventTracker="edit-db-network"
            mcsEventCategory="launchpad-db-network" mcsEventLabel="db-network-details-page" disabled>
            Edit
          </button>
          <button mat-menu-item mcsId="delete-db-network" mcsEventTracker="delete-db-network"
            mcsEventCategory="launchpad-db-network" mcsEventLabel="db-network-details-page" disabled>
            Delete
          </button>

        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="actionMenu">
          <mcs-icon key="ellipsis-horizontal" size="large"></mcs-icon>
        </button>
      </ng-container>
    </mcs-tab-group>

    <div class="routing-tab-content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mcs-content-panel>
</mcs-page>