<mcs-page [header]="'orderAddVmBackup.title' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>

    <!-- Back to previous URL -->
    <mcs-top-panel-item *mcsTopPanelItemDef no-border>
      <mcs-action-item mcsAlign="end"
        mcsNavigateBackward
        mcsId="navigate-back"
        mcsEventTracker="navigate-back-click"
        mcsEventCategory="orders"
        mcsEventLabel="navigate-back">
        <mcs-icon [key]="backIconKey" size="small"></mcs-icon>
        <span>{{ 'shared.wizard.previous' | translate }}</span>
      </mcs-action-item>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <mcs-content-panel *mcsContentPanelDef>

    <mcs-wizard (stepChange)="onWizardStepChanged($event)">

      <!-- Error message -->
      <ng-container mcsWizardErrorTemplate>
        <mcs-form-message #formMessage></mcs-form-message>
      </ng-container>

      <!-- VDC Details Step-->
      <mcs-wizard-step id="vm-backup-details-step"
        [stepTitle]="'orderAddVmBackup.detailsStep.title' | translate"
        customClass="contextual-help-page-wrapper limited-view">

        <form [formGroup]="fgVmBackup" mcsFormGroup>

          <mcs-item orientation="block">
            <span align-self-start>{{ 'orderAddVmBackup.detailsStep.serverLabel' | translate }}:</span>
            <mcs-form-field>
              <mcs-select [formControl]="fcServer"
                [placeholder]="'orderAddVmBackup.detailsStep.serverPlaceholder' | translate"
                [mcsContextualHelp]="'orderAddVmBackup.detailsStep.serverHelp' | translate"
                mcsId="select-server"
                mcsEventTracker="select-server-click"
                mcsEventCategory="orders"
                mcsEventLabel="order-details">

                <mcs-search mcsSelectSearch></mcs-search>

                <mcs-option-group *ngFor="let serverGroup of serverGroups$ | async">
                  <ng-container *mcsOptionGroupLabel>
                    <span>{{ serverGroup.groupName }}</span>
                  </ng-container>

                  <mcs-option *ngFor="let serverBackupDetails of serverGroup.options"
                    [value]="serverBackupDetails.value?.entity"
                    [disabled]="serverBackupDetails.value?.disabled">

                    <span [ngStyle]="{'pointer-events': 'auto'}"
                      [mcsTooltip]="serverBackupDetails.value?.message"
                      [mcsTooltipShow]="serverBackupDetails.value?.message"
                      [mcsTooltipPosition]="'right'">
                      {{ serverBackupDetails.text }}
                    </span>

                    <small *ngIf="serverBackupDetails.value?.provisioned" padding-left-small>
                      {{ 'orderAddVmBackup.detailsStep.serverProvisioned' | translate }}
                    </small>
                  </mcs-option>
                </mcs-option-group>
              </mcs-select>
            </mcs-form-field>
          </mcs-item>

          <mcs-item orientation="block">
            <mcs-server-manage-backup-vm #fgManageBackupVm
              [aggregationTargets]="aggregationTargets$ | async"
              (dataChange)="onChangeVmBackUpDetails($event)">
            </mcs-server-manage-backup-vm>
          </mcs-item>

          <div class="action-items">
            <button mcsButton arrow="right"
              mcsWizardStepNext
              [disabled]="!formIsValid"
              mcsId="step-1-next"
              mcsEventTracker="step-1-next"
              mcsEventCategory="orders"
              mcsEventLabel="create-vm-backup">{{ 'shared.wizard.next' | translate }}</button>
          </div>
        </form>
      </mcs-wizard-step>

      <!-- Confirm Step  -->
      <mcs-wizard-step id="confirm-step"
        [stepTitle]="'shared.wizard.confirm' | translate"
        customClass="contextual-help-page-wrapper limited-view">

        <mcs-step-order-details [order]="order$ | async"
          [orderItemType]="orderItemType$ | async"
          [requestState]="dataStatus$ | async"
          [eventTrack]="orderEventTrack.billingDetailsStep"
          (dataChange)="onVmBackupOrderChange($event)"
          (submitOrder)="onSubmitOrder($event, fcServer?.value?.id)">
        </mcs-step-order-details>
      </mcs-wizard-step>

      <!-- Go! Step  -->
      <mcs-wizard-step id="go-step"
        [stepTitle]="'shared.wizard.completed' | translate"
        customClass="limited-view">

        <mcs-step-provisioning [jobs]="jobs$ | async" [requestState]="dataStatus$ | async">
          <ng-container mcsProvisioningStepDescription>
            {{ 'orderAddVmBackup.provisioningStep.description' | translate }}
          </ng-container>

          <ng-container mcsProvisioningStepInProgress>
            <span *ngIf="orderIsToBeSubmitted">{{ 'orderAddVmBackup.provisioningStep.dataInProgress' | translate }}</span>
            <span *ngIf="!orderIsToBeSubmitted">{{ 'provisioningStep.savingOrder' | translate }}</span>
          </ng-container>
        </mcs-step-provisioning>
      </mcs-wizard-step>
    </mcs-wizard>

  </mcs-content-panel>
</mcs-page>