<div class="limited-view">
  <div class="contextual-help-page-wrapper">
    <p>{{ 'mediaUpload.mediaStepDetails.description' | translate }}</p>

    <form [formGroup]="fgMediaUpload" mcsFormGroup>
      <!-- Resource Select -->
      <mcs-field-select size="auto"
        mcsId="select-resource"
        [label]="'label.resource' | translate"
        [dataSource]="'Resource' | mcsFieldSelect"
        [formControl]="fcResources"
        [mcsContextualHelp]="'mediaUpload.mediaStepDetails.selectResourcesHelp' | translate">
      </mcs-field-select>

      <!-- Catalog Select -->
      <mcs-field-select size="auto"
        mcsId="select-catalog"
        [label]="'label.catalog' | translate"
        [dataSource]="'ResourceCatalog' | mcsFieldSelect: { data: resourceIdChange$ }"
        [formControl]="fcCatalogs"
        [mcsContextualHelp]="'mediaUpload.mediaStepDetails.selectCatalogHelp' | translate">
      </mcs-field-select>

      <!-- Media Name  -->
      <mcs-grid [mcsContextualHelp]="'mediaUpload.mediaStepDetails.mediaNameHelp' | translate">
        <mcs-grid-row [gapSize]="7">
          <mcs-grid-column sizeLg="10">

            <!-- Name -->
            <mcs-field-input size="auto"
              mcsId="input-media-name"
              [label]="'label.media' | translate"
              [maxLength]="25"
              [formControl]="fcMediaName">
            </mcs-field-input>
          </mcs-grid-column>

          <mcs-grid-column sizeLg="2">
            <!-- Extension -->
            <mcs-field-select size="auto"
              mcsId="select-media-extension"
              [label]="'label.ext' | translate"
              [dataSource]="'MediaExtension' | mcsFieldSelect"
              [formControl]="fcMediaExtension">
            </mcs-field-select>
          </mcs-grid-column>
        </mcs-grid-row>
      </mcs-grid>

      <!-- Media URL  -->
      <mcs-field-input-url size="auto"
        mcsId="input-media-url"
        [label]="'label.url' | translate"
        [suffix]="mediaUrlStatusIconKey"
        [maxLength]="300"
        [interpolations]="urlErrorObj"
        [formControl]="fcMediaUrl"
        [mcsContextualHelp]="'mediaUpload.mediaStepDetails.mediaUrlHelp' | translate">
      </mcs-field-input-url>

      <!-- Media Description  -->
      <mcs-field-input size="auto"
        mcsId="input-media-description"
        [label]="'label.description' | translate"
        [maxLength]="1000"
        [formControl]="fcMediaDescription"
        [mcsContextualHelp]="'mediaUpload.mediaStepDetails.mediaDescriptionHelp' | translate">
      </mcs-field-input>
    </form>

    <!-- Wizard Actions -->
    <div class="action-items">
      <button mcsButton size="small" arrow="right"
        mcsWizardStepNext
        [mcsWizardStepNextWhen]="allFormsAreValid"
        (click)="onSubmitMediaUpload()"
        [disabled]="(mediaUrlValidationInProgress$ | async)"
        mcsId="step-1-next"
        mcsEventTracker="step-1-next"
        mcsEventCategory="media"
        mcsEventLabel="upload-media-page">Next</button>
    </div>
  </div>
</div>