<mcs-page [header]="textContent.header">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>

    <!-- Ticket Action -->
    <mcs-top-panel-item *mcsTopPanelItemDef>
      <div class="listing-action-wrapper">
        <mcs-action-item
          (click)="onClickNewTicket()">
          <mcs-icon [key]="addIconKey" size="small"></mcs-icon>
          <span>{{ textContent.newTicket }}</span>
        </mcs-action-item>

        <div class="total-record-count right-align">
          <span>{{ recordsFoundLabel }}</span>
        </div>
      </div>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="textContent.leftPanelHeader">
    <!-- Search -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <mcs-search *ngIf="!isMobile" #search></mcs-search>
    </mcs-left-panel-item>

    <!-- Column Filter -->
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="textContent.filterColumn" offset="medium">
      <mcs-filter-selector [key]="columnSettingsKey"
        (onGetFilters)="updateColumnSettings($event)"></mcs-filter-selector>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>

    <div class="listing-table-wrapper">
      <!-- Search -->
      <mcs-search *ngIf="isMobile" #search></mcs-search>

      <!-- Table -->
      <mcs-table [dataSource]="dataSource">
        <!-- ID Column -->
        <ng-container mcsColumnDef="crispTicketNumber">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ columnSettings.crispTicketNumber.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            <a [routerLink]="['/tickets', row.id]">{{ row.crispTicketNumber }}</a>
          </mcs-data-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container mcsColumnDef="status">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ columnSettings.status.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            {{ getStatusString(row.state) }}
          </mcs-data-cell>
        </ng-container>

        <!-- Headline Column -->
        <ng-container mcsColumnDef="headline">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ columnSettings.headline.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" class="text-left squishy-cell word-wrap">
            <a (click)="navigateToTicket(row)">{{ row.shortDescription }}</a>
          </mcs-data-cell>
        </ng-container>

        <!-- Logged By Column -->
        <ng-container mcsColumnDef="loggedBy">
          <mcs-header-cell *mcsHeaderCellDef class="hidden-small">
            {{ columnSettings.loggedBy.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" class="hidden-small">
            {{ row.requestor }}
          </mcs-data-cell>
        </ng-container>

        <!-- Last Updated Date Column -->
        <ng-container mcsColumnDef="lastUpdatedDate">
          <mcs-header-cell *mcsHeaderCellDef class="hidden-small">
            {{ columnSettings.lastUpdatedDate.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" class="hidden-small">
            {{ convertDateTimeToString(row.updatedOn) }}
          </mcs-data-cell>
        </ng-container>

        <!-- Last Updated By Column -->
        <ng-container mcsColumnDef="lastUpdatedBy">
          <mcs-header-cell *mcsHeaderCellDef class="hidden-small">
            {{ columnSettings.lastUpdatedBy.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" class="hidden-small">
            {{ row.updatedBy }}
          </mcs-data-cell>
        </ng-container>

        <!-- Data Status Integration -->
        <ng-container mcsDataStatusDef>
          <mcs-data-empty *mcsDataEmptyDef>
            <div class="listing-status-wrapper">
              <span>{{ textContent.noRecordsFoundMessage }} </span>
              <span>
                <!-- We need to hardcode this instead of putting in the text-config
                    since it is using link -->
                Click <a (click)="onClickNewTicket()">here</a> to create new ticket.
              </span>
            </div>
          </mcs-data-empty>
          <mcs-data-error *mcsDataErrorDef>
            <div class="listing-status-wrapper">
              <span>{{ textContent.errorMessage }}</span>
              <a (click)="retryDatasource()">{{ textContent.retry }}</a>.
            </div>
          </mcs-data-error>
        </ng-container>

        <!-- Header and Data row -->
        <mcs-header-row *mcsHeaderRowDef="dataColumns"></mcs-header-row>
        <mcs-data-row *mcsDataRowDef="let row; columns: dataColumns;"
          cursor="pointer" (click)="navigateToTicket(row)"></mcs-data-row>
      </mcs-table>

      <!-- Paginator -->
      <mcs-paginator #paginator
        [hidden]="isSearching"
        [totalCount]="totalRecordCount"
        [pageIndex]="0"
        [pageSize]="25">
      </mcs-paginator>
    </div>
  </mcs-content-panel>
</mcs-page>
