@import "../../../styles/shared/base";

$tickets-search-min-width: 300px;

.tickets-table-wrapper {
  display: inline-block;
  @include set-items-interval($space-xxlarge);

  @include breakpoint(small) {
    display: block;
  }

  .search-wrapper {
    @include display-flex(row);
    align-items: center;
    @include set-items-interval($space-large, horizontal);

    @include breakpoint(small) {
      @include display-flex(column);
      align-items: stretch;
    }

    mcs-search {
      min-width: $tickets-search-min-width;
      @include breakpoint(small) {
        min-width: 100%;
      }
    }

    mcs-button {
      @include breakpoint(small) {
        margin: 0;
        display: block;
        min-width: 100%;
      }
    }

    .record-count {
      margin-left: auto;
    }
  }
}