<!-- Page Header with title, subtitle (for total record), and description -->
<mcs-page-header class="page-header-wrapper">
  <mcs-page-title *mcsPageTitleDef>
    {{ textContent.header }}
  </mcs-page-title>
  <mcs-page-description *mcsPageDescriptionDef>
    {{ textContent.description }}
  </mcs-page-description>
</mcs-page-header>

<!-- Table with filtering and pagination -->
<div class="tickets-table-wrapper">
  <!-- Search -->
  <div class="search-wrapper">
    <mcs-search #search class="search"></mcs-search>

    <mcs-filter-selector class="hidden-small" [key]="columnSettingsKey"
      (onGetFilters)="updateColumnSettings($event)"></mcs-filter-selector>

    <mcs-button (onClick)="onClickNewServerButton($event)" size="small">
      {{ textContent.newTicket }}
    </mcs-button>

    <span class="record-count">{{ totalRecordCount }} {{ textContent.header }}</span>
  </div>

  <!-- Table -->
  <mcs-table [dataSource]="dataSource">
    <!-- ID Column -->
    <ng-container mcsColumnDef="ticketId">
      <mcs-header-cell *mcsHeaderCellDef>
        {{ columnSettings.ticketId.text }}
      </mcs-header-cell>
      <mcs-data-cell *mcsDataCellDef="let row">
        <a [routerLink]="['/tickets', row.id]">{{ row.number }}</a>
      </mcs-data-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container mcsColumnDef="status">
      <mcs-header-cell *mcsHeaderCellDef>
        {{ columnSettings.status.text }}
      </mcs-header-cell>
      <mcs-data-cell *mcsDataCellDef="let row">
        {{ getStatusString(row.state) }}
      </mcs-data-cell>
    </ng-container>

    <!-- Headline Column -->
    <ng-container mcsColumnDef="headline">
      <mcs-header-cell *mcsHeaderCellDef>
        {{ columnSettings.headline.text }}
      </mcs-header-cell>
      <mcs-data-cell *mcsDataCellDef="let row" class="text-left">
        <a [routerLink]="['/tickets', row.id]">{{ row.shortDescription }}</a>
      </mcs-data-cell>
    </ng-container>

    <!-- Logged By Column -->
    <ng-container mcsColumnDef="loggedBy">
      <mcs-header-cell *mcsHeaderCellDef class="hidden-small">
        {{ columnSettings.loggedBy.text }}
      </mcs-header-cell>
      <mcs-data-cell *mcsDataCellDef="let row" class="hidden-small">
        {{ row.requestor }}
      </mcs-data-cell>
    </ng-container>

    <!-- Last Updated Date Column -->
    <ng-container mcsColumnDef="lastUpdatedDate">
      <mcs-header-cell *mcsHeaderCellDef class="hidden-small">
        {{ columnSettings.lastUpdatedDate.text }}
      </mcs-header-cell>
      <mcs-data-cell *mcsDataCellDef="let row" class="hidden-small">
        {{ convertDateTimeToString(row.updatedOn) }}
      </mcs-data-cell>
    </ng-container>

    <!-- Last Updated By Column -->
    <ng-container mcsColumnDef="lastUpdatedBy">
      <mcs-header-cell *mcsHeaderCellDef class="hidden-small">
        {{ columnSettings.lastUpdatedBy.text }}
      </mcs-header-cell>
      <mcs-data-cell *mcsDataCellDef="let row" class="hidden-small">
        {{ row.updatedBy }}
      </mcs-data-cell>
    </ng-container>

    <!-- Header and Data row -->
    <mcs-header-row *mcsHeaderRowDef="dataColumns"></mcs-header-row>
    <mcs-data-row *mcsDataRowDef="let row; columns: dataColumns;"></mcs-data-row>
  </mcs-table>

  <!-- Paginator -->
  <mcs-paginator #paginator
    [totalCount]="totalRecordCount"
    [pageIndex]="0"
    [pageSize]="25">
  </mcs-paginator>
</div>