<mcs-page [header]="'tickets.header' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>

    <!-- Ticket Action -->
    <ng-container *mcsAccessControl="['TicketCreate']">
      <mcs-top-panel-item *mcsTopPanelItemDef>
        <ng-container *mcsExclusiveForAccount="'default'">
          <mcs-action-item
            (click)="onClickNewTicket()"
            mcsId
            mcsEventTracker="create-new-ticket"
            mcsEventCategory="ticket"
            mcsEventLabel="ticket-listing-page">
            <mcs-icon [key]="addIconKey"></mcs-icon>
            <span>{{ 'tickets.newTicket' | translate }}</span>
          </mcs-action-item>
        </ng-container>
      </mcs-top-panel-item>
    </ng-container>

    <mcs-top-panel-item *mcsTopPanelItemDef overflow-auto>
      <div class="listing-action-wrapper">
        <div class="total-record-count">
          <span>{{ totalRecordsCount | mcsPlural:
                ('tickets.dataSingular' | translate) : ('tickets.dataPlural' | translate) }}
          </span>
        </div>
      </div>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'tickets.leftPanelHeader' | translate">
    <!-- Search -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <mcs-search *ngIf="!isMobile" #search mcsId="tickets-desktop-search"></mcs-search>
    </mcs-left-panel-item>

    <!-- Column Filter -->
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="'tickets.filterColumn' | translate" offset="medium">
      <mcs-filter-selector [key]="columnSettingsKey" #filterSelector
        (filtersChange)="updateColumnSettings($event)"></mcs-filter-selector>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>

    <div class="listing-table-wrapper">
      <!-- Search -->
      <mcs-search *ngIf="isMobile" #search mcsId="tickets-mobile-search"></mcs-search>

      <!-- Table -->
      <mcs-table [dataSource]="dataSource" [columnFilter]="filterSelector">
        <!-- ID Column -->
        <ng-container mcsColumnDef="crispTicketNumber">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ columnSettings.crispTicketNumber.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            <a [mcsRouterLink]="[routeKeyEnum.TicketDetails, row.id]"
              mcsId="select-ticket"
              mcsEventTracker="navigate-to-ticke"
              mcsEventCategory="ticket"
              mcsEventLabel="ticket-listing-page">{{ row.crispTicketNumber }}</a>
          </mcs-data-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container mcsColumnDef="status">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ columnSettings.status.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            {{ row.stateLabel }}
          </mcs-data-cell>
        </ng-container>

        <!-- Summary Column -->
        <ng-container mcsColumnDef="summary">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ columnSettings.summary.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" text-wrap>
            <a [mcsRouterLink]="[routeKeyEnum.TicketDetails, row.id]"
            mcsId="select-ticket"
            mcsEventTracker="navigate-to-ticket"
            mcsEventCategory="ticket"
            mcsEventLabel="ticket-listing-page">{{ row.shortDescription }}</a>
          </mcs-data-cell>
        </ng-container>

        <!-- Logged By Column -->
        <ng-container mcsColumnDef="loggedBy">
          <mcs-header-cell *mcsHeaderCellDef hidden-small>
            {{ columnSettings.loggedBy.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" hidden-small>
            {{ row.requestor }}
          </mcs-data-cell>
        </ng-container>

        <!-- Last Updated Date Column -->
        <ng-container mcsColumnDef="lastUpdatedDate">
          <mcs-header-cell *mcsHeaderCellDef hidden-small>
            {{ columnSettings.lastUpdatedDate.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" hidden-small>
            {{ row.updatedOn | mcsStdDateFormat }}
          </mcs-data-cell>
        </ng-container>

        <!-- Last Updated By Column -->
        <ng-container mcsColumnDef="lastUpdatedBy">
          <mcs-header-cell *mcsHeaderCellDef hidden-small>
            {{ columnSettings.lastUpdatedBy.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" hidden-small>
            {{ row.updatedBy }}
          </mcs-data-cell>
        </ng-container>

        <!-- Customer Reference Column -->
        <ng-container mcsColumnDef="customerReference">
          <mcs-header-cell *mcsHeaderCellDef hidden-small>
            {{ columnSettings.customerReference.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" hidden-small>
            <span [innerHTML]="row.customerReference | mcsDataLabel: 'None'"></span>
          </mcs-data-cell>
        </ng-container>

        <!-- Data Status Integration -->
        <ng-container mcsDataStatusDef>
          <mcs-data-empty *mcsDataEmptyDef>
            <div class="listing-status-wrapper">
              <span>{{ 'tickets.noRecordsFoundMessage' | translate }} </span>
              <span *mcsExclusiveForAccount="'default'">
                <!-- We need to hardcode this instead of putting in the text-config
                    since it is using link -->
                Click <a (click)="onClickNewTicket()"
                mcsId="create-new-ticket"
                mcsEventTracker="create-new-ticket"
                mcsEventCategory="ticket"
                mcsEventLabel="empty-ticket-listing-option">here</a> to create new ticket.
              </span>
            </div>
          </mcs-data-empty>
          <mcs-data-error *mcsDataErrorDef>
            <div class="listing-status-wrapper">
              <span>{{ 'tickets.errorMessage' | translate }}</span>
              <a (click)="retryDatasource()"
                mcsId
                mcsEventTracker="retry-loading-ticket-list"
                mcsEventCategory="ticket"
                mcsEventLabel="ticket-listing-page">{{ 'tickets.retry' | translate }}</a>.
            </div>
          </mcs-data-error>
        </ng-container>

        <!-- Header and Data row -->
        <mcs-header-row *mcsHeaderRowDef="dataColumns"></mcs-header-row>
        <mcs-data-row *mcsDataRowDef="let row; columns: dataColumns;"
          mcsCursor="pointer" (click)="navigateToTicket(row)"
          mcsId="ticket-row"
          mcsEventTracker="navigate-to-ticket"
          mcsEventCategory="ticket"
          mcsEventLabel="ticket-listing-page"></mcs-data-row>
      </mcs-table>

      <!-- Paginator -->
      <mcs-paginator #paginator
        [hidden]="isSearching"
        [totalCount]="totalRecordsCount">
      </mcs-paginator>
    </div>
  </mcs-content-panel>
</mcs-page>
