@import "../../../styles/shared/base";

$checkbox-icon-size: 13px;
$checkbox-label-spacer: 8px;
$checkbox-icon-ripple-size: 15px;

.checkbox-wrapper {
  @include display-inline-flex(row);
  @include align-items(center);
  vertical-align: middle;
  position: relative;
  white-space: nowrap;
  cursor: inherit;
}

.checkbox-layout-wrapper {
  @include flex(0 0 auto);
  @include display-flex(row);
  @include align-items(center);
  cursor: pointer;

  .checkbox-spacer {
    display: block;
    height: 1px;
    width: $checkbox-label-spacer;
  }

  .checkbox-inner-container {
    @include display-flex(row);
    @include align-items(center);
    width: $checkbox-icon-size;
    height: $checkbox-icon-size;

    // Override ripple radius effect
    .checkbox-ripple-wrapper {
      position: absolute;
      left: -$checkbox-icon-ripple-size;
      top: -$checkbox-icon-ripple-size;
      right: -$checkbox-icon-ripple-size;
      bottom: -$checkbox-icon-ripple-size;
      @include border-radius(50%);
      z-index: 1;
      pointer-events: none;
    }
  }
}