@import "../../../styles/shared/base";

.checkbox-wrapper {
  display: block;
}

label {
  cursor: pointer;
  max-width: 90%;
  margin: 0;
}

input[type="checkbox"] {
  display: none;

  + label:before {
    font-family: $font-icon;
    display: inline-block;
    content: "\f096";
    letter-spacing: 5px;
  }

  &:checked + label:before {
    content: "\f14a";
    color: $color-primary-00;
  }
}