@import "base";

// Tab group
$tab-group-border: $border-color-light;
// Tab header
$tab-header-item-min-width: 100px;
$tab-header-item-color: $color-grey-02;
$tab-header-item-padding: $space-small $space-xxlarge;
$tab-header-item-font-size: 16;
$tab-header-item-font: $base-font-bold;
// Tab body
$tab-body-padding: $space-medium 0;

.tab-group-wrapper {
  @include display-flex(column);
}

.tab-header-wrapper {
  border-bottom: 1px solid $tab-group-border;
}

.tab-header-item-wrapper {
  @include display-flex(row);
  @include align-items(center);
  min-width: $tab-header-item-min-width;
  padding: $tab-header-item-padding;
  color: $tab-header-item-color;
  cursor: pointer;
  position: relative;
  @include font-size($tab-header-item-font-size);
  font-family: $tab-header-item-font;
  height: 100%;
}

.tab-group-body-wrapper {
  padding: $tab-body-padding;
}