<!-- Tab header -->
<mcs-tab-header>
  <mcs-tab-header-item *ngFor="let tab of tabs"
    [active]="activeTab?.id === tab.id"
    [class.custom-tab]="!tab.supportSelection" (click)="selectTab(tab)">

    <ng-container *ngIf="tab.labelTemplate">
      <ng-container *ngTemplateOutlet="tab.labelTemplate.templateRef"></ng-container>
    </ng-container>
    <ng-container *ngIf="!tab.labelTemplate">
      <h4 class="reset-header">{{ tab.label }}</h4>
    </ng-container>
  </mcs-tab-header-item>
</mcs-tab-header>

<!-- Tab body where the content is generated -->
<div class="tab-group-body-wrapper">
  <mcs-tab-body role="tabpanel" *ngFor="let tab of tabs"
    [content]="tab.portalTemplate?.templateRef"
    [active]="activeTab?.id === tab.id">
  </mcs-tab-body>
</div>