<!-- Tab header -->
<mcs-responsive-panel class="tab-header-wrapper">
  <mcs-tab-header-item
    mcsResponsivePanelItem
    [mcsResponsivePanelItemSelectable]="tab.canSelect"
    mcsRipple
    *ngFor="let tab of tabs"
    [active]="activeTab?.id === tab.id"
    [ngClass]="tab?.customClass"
    [class.custom-tab]="!tab.canSelect" (click)="onClickTab(tab)">

    <ng-container *ngIf="tab.labelTemplate">
      <ng-container *ngTemplateOutlet="tab.labelTemplate.templateRef"></ng-container>
    </ng-container>
    <ng-container *ngIf="!tab.labelTemplate">
      <h2>{{ tab.label }}</h2>
    </ng-container>
  </mcs-tab-header-item>
</mcs-responsive-panel>

<!-- Tab body where the content is generated -->
<div class="tab-group-body-wrapper">
  <mcs-tab-body role="tabpanel" *ngFor="let tab of tabs"
    [content]="tab.portalTemplate?.templateRef"
    [active]="activeTab?.id === tab.id">
  </mcs-tab-body>
</div>