<form [formGroup]="fgNewServer">
  <!-- Server Name Input -->
  <div class="field">
    <mcs-form-field>
      <input mcsInput #serverNameInput mcsSetFocus required
        placeholder="Enter a server name" maxlength="15"
        mcsId="input-server-name"
        [formControl]="fcServerName"
        [mcsContextualHelp]="textHelpContent.serverNameField">

      <mcs-hint mcsHint align="start">
        {{ convertMaxCharText(textContent.hints.serverNameMax, serverNameInput.maxLength) }}
      </mcs-hint>
      <mcs-hint mcsHint align="end">
        {{ serverNameInput.value.length }} / {{ serverNameInput.maxLength }}
      </mcs-hint>

      <mcs-error mcsError errorState="required">
        {{ textContent.errors.serverNameRequired }}
      </mcs-error>
      <mcs-error mcsError errorState="invalidServerName">
        {{ textContent.errors.invalidServerName }}
      </mcs-error>
    </mcs-form-field>
  </div>

  <!-- Virtual Applications Selection -->
  <div class="field">
    <mcs-form-field>
      <mcs-select mcsId="select-vapp"
        [formControl]="fcVApp"
        [mcsContextualHelp]="textHelpContent.vAppField"
        [placeholder]="textContent.placeholder.vApp">
        <mcs-select-group [header]="textContent.headers.vApp">
          <mcs-select-item>{{ textContent.createNewVApp }}</mcs-select-item>
          <mcs-select-item *ngFor="let vApp of resource?.vApps" [value]="vApp">
            {{ vApp.name }}
          </mcs-select-item>
        </mcs-select-group>
      </mcs-select>

      <mcs-error mcsError errorState="required">
        {{ textContent.errors.selectVappRequired }}
      </mcs-error>
    </mcs-form-field>
  </div>

  <!-- Imges Selection -->
  <div class="field">
    <mcs-form-field>
      <mcs-select mcsId="select-image" required
        [formControl]="fcImage"
        [placeholder]="textContent.placeholder.image"
        [mcsContextualHelp]="textHelpContent.serverTemplateField">
        <!-- Os Group -->
        <mcs-select-group [header]="textContent.headers.os">
          <mcs-select-item *ngFor="let platform of (operatingSystemsMap$ | async) | mcsMapIterable">
            <span mcsSelectItemLabel>{{ platform.key }}</span>
            <mcs-select-group sub-group>
              <mcs-select-item *ngFor="let os of platform.value" [value]="os">
                {{ os.name }}
              </mcs-select-item>
            </mcs-select-group>
          </mcs-select-item>
        </mcs-select-group>

        <!-- Template Group -->
        <mcs-select-group *ngIf="customTemplates"
          [header]="textContent.headers.templates">
          <ng-container *ngFor="let template of customTemplates">
            <mcs-select-item [value]="template">
              {{ template.itemName }}
            </mcs-select-item>
          </ng-container>
        </mcs-select-group>
      </mcs-select>

      <mcs-error mcsError errorState="required">
        {{ textContent.errors.selectImageRequired }}
      </mcs-error>
    </mcs-form-field>
  </div>

  <!-- Server RAM -->
  <div class="field">
    <mcs-server-manage-scale [resource]="resource"
      (dataChange)="onScaleChanged($event)">

      <ng-container mcsManageScaleHeader>
        <h2>{{ textContent.computeSizeLabel }}</h2>
      </ng-container>
    </mcs-server-manage-scale>
  </div>

  <!-- Storage Management -->
  <div class="field">
    <mcs-server-manage-storage
      [storages]="resource?.storage"
      [minValueGB]="minimumStorageInGB"
      [deductValueGB]="currentScaleValue"
      (dataChange)="onStorageChanged($event)"
      [mcsContextualHelp]="textHelpContent.storageField">

      <ng-container mcsManageStorageHeader>
        <h2>{{ textContent.storageLabel }}</h2>
      </ng-container>
      <ng-container mcsManageStorageWarning>
        <span>{{ storageWarning }}</span>
      </ng-container>
    </mcs-server-manage-storage>
  </div>

  <!-- Server network settings -->
  <mcs-server-manage-network
    [networks]="resource?.networks"
    [resourceId]="resource?.id"
    (dataChange)="onNetworkChanged($event)"
    [mcsContextualHelp]="textHelpContent.networkField">

    <ng-container mcsManageNetworkHeader>
      <h2>{{ textContent.networkLabel }}</h2>
    </ng-container>
  </mcs-server-manage-network>
</form>