<form [formGroup]="fgNewServer" mcsFormGroup>
  <!-- Server Name Input -->
  <mcs-form-field>
    <input mcsInput #serverNameInput required mcsSetFocus
      placeholder="Enter a server name" maxlength="15"
      mcsId="input-server-name"
      [formControl]="fcServerName"
      [mcsContextualHelp]="textHelpContent.serverNameField">

    <mcs-hint mcsHint align="start">
      {{ convertMaxCharText(textContent.hints.serverNameMax, serverNameInput.maxLength) }}
    </mcs-hint>
    <mcs-hint mcsHint align="end">
      {{ serverNameInput.value.length }} / {{ serverNameInput.maxLength }}
    </mcs-hint>

    <mcs-error mcsError errorState="required">
      {{ textContent.errors.serverNameRequired }}
    </mcs-error>
    <mcs-error mcsError errorState="invalidServerName">
      {{ textContent.errors.invalidServerName }}
    </mcs-error>
  </mcs-form-field>

  <!-- Virtual Applications Selection -->
  <mcs-form-field>
    <mcs-select mcsId="select-vapp"
      [formControl]="fcVApp"
      [mcsContextualHelp]="textHelpContent.vAppField"
      [placeholder]="textContent.placeholder.vApp">

      <mcs-option>{{ textContent.createNewVApp }}</mcs-option>
      <mcs-option *ngFor="let vApp of resource?.vApps" [value]="vApp">
        {{ vApp.name }}
      </mcs-option>
    </mcs-select>

    <mcs-error mcsError errorState="required">
      {{ textContent.errors.selectVappRequired }}
    </mcs-error>
  </mcs-form-field>

  <!-- Imges Selection -->
  <mcs-form-field>
    <mcs-select mcsId="select-image" required
      [formControl]="fcImage"
      [placeholder]="textContent.placeholder.image"
      [mcsContextualHelp]="textHelpContent.serverTemplateField">
      <!-- Os Group -->
      <mcs-option-group>
        <ng-container *mcsOptionGroupHeader>
          <span>{{ textContent.headers.os }}</span>
        </ng-container>

        <mcs-option-group [label]="platform.key"
          *ngFor="let platform of (operatingSystemsMap$ | async) | mcsMapIterable">

          <mcs-option *ngFor="let os of platform.value" [value]="os">
            {{ os.name }}
          </mcs-option>
        </mcs-option-group>
      </mcs-option-group>

      <!-- Template Group -->
      <mcs-option-group *ngIf="customTemplates">
        <ng-container *mcsOptionGroupHeader>
          <span>{{ textContent.headers.templates }}</span>
        </ng-container>

        <mcs-option *ngFor="let template of customTemplates" [value]="template">
          {{ template.itemName }}
        </mcs-option>
      </mcs-option-group>
    </mcs-select>

    <mcs-error mcsError errorState="required">
      {{ textContent.errors.selectImageRequired }}
    </mcs-error>
  </mcs-form-field>

  <!-- Server RAM -->
  <div class="action-box">
    <mcs-server-manage-scale [resource]="resource"
      (dataChange)="onScaleChanged($event)">

      <ng-container mcsManageScaleHeader>
        <h2>{{ textContent.computeSizeLabel }}</h2>
      </ng-container>
    </mcs-server-manage-scale>
  </div>

  <!-- Storage Management -->
  <div class="action-box">
    <mcs-server-manage-storage
      [storages]="resource?.storage"
      [minValueGB]="minimumStorageInGB"
      [deductValueGB]="currentScaleValue"
      (dataChange)="onStorageChanged($event)"
      [mcsContextualHelp]="textHelpContent.storageField">

      <ng-container mcsManageStorageHeader>
        <h2>{{ textContent.storageLabel }}</h2>
      </ng-container>
      <ng-container mcsManageStorageWarning>
        <span>{{ storageWarning }}</span>
      </ng-container>
    </mcs-server-manage-storage>
  </div>

  <!-- Server network settings -->
  <div class="action-box">
    <mcs-server-manage-network
      [networks]="resource?.networks"
      [resourceId]="resource?.id"
      (dataChange)="onNetworkChanged($event)"
      [mcsContextualHelp]="textHelpContent.networkField">

      <ng-container mcsManageNetworkHeader>
        <h2>{{ textContent.networkLabel }}</h2>
      </ng-container>
    </mcs-server-manage-network>
  </div>
</form>