<form [formGroup]="fgNewServer" mcsFormGroup>
  <!-- Server Name Input -->
  <mcs-form-field>
    <input mcsInput #serverNameInput required mcsSetFocus
      placeholder="Enter a server name" maxlength="15"
      mcsId="input-server-name"
      [formControl]="fcServerName"
      [mcsContextualHelp]="'serverCreateDetailsStep.contextualHelp.serverNameField' | translate">

    <mcs-hint mcsHint align="start">
      {{ 'serverCreateDetailsStep.newServer.hints.serverNameMax' | translate:{max_char: serverNameInput.maxLength} }}
    </mcs-hint>
    <mcs-hint mcsHint align="end">
      {{ serverNameInput.value.length }} / {{ serverNameInput.maxLength }}
    </mcs-hint>

    <mcs-error mcsError errorState="required">
      {{ 'serverCreateDetailsStep.newServer.errors.serverNameRequired' | translate }}
    </mcs-error>
    <mcs-error mcsError errorState="invalidServerName">
      {{ 'serverCreateDetailsStep.newServer.errors.invalidServerName' | translate }}
    </mcs-error>
  </mcs-form-field>

  <!-- Virtual Applications Selection -->
  <mcs-form-field>
    <mcs-select mcsId="select-vapp"
      [formControl]="fcVApp"
      [mcsContextualHelp]="'serverCreateDetailsStep.contextualHelp.vAppField' | translate"
      [placeholder]="'serverCreateDetailsStep.newServer.placeholder.vApp' | translate">

      <mcs-option>{{ 'serverCreateDetailsStep.newServer.createNewVApp' | translate }}</mcs-option>
      <mcs-option *ngFor="let vApp of resource?.vApps" [value]="vApp">
        {{ vApp.name }}
      </mcs-option>
    </mcs-select>

    <mcs-error mcsError errorState="required">
      {{ 'serverCreateDetailsStep.newServer.errors.selectVappRequired' | translate }}
    </mcs-error>
  </mcs-form-field>

  <!-- Operating System Selection -->
  <mcs-form-field>
    <mcs-select mcsId="select-image"
      [formControl]="fcImage"
      [placeholder]="'serverCreateDetailsStep.newServer.placeholder.operatingSystem' | translate"
      [mcsContextualHelp]="'serverCreateDetailsStep.contextualHelp.serverTemplateField' | translate">
      <!-- Os Group -->
      <mcs-option-group>
        <ng-container *mcsOptionGroupHeader>
          <span>{{ 'serverCreateDetailsStep.newServer.headers.os' | translate }}</span>
        </ng-container>

        <mcs-option-group mcsId="os-option-group"
          [label]="platform.key"
          *ngFor="let platform of (operatingSystemsMap$ | async) | mcsMapIterable">

          <mcs-option *ngFor="let os of platform.value" [value]="os">
            {{ os.name }}
          </mcs-option>
        </mcs-option-group>
      </mcs-option-group>

      <!-- Template Group -->
      <mcs-option-group mcsId="template-option-group" *ngIf="customTemplates">
        <ng-container *mcsOptionGroupHeader>
          <span>{{ 'serverCreateDetailsStep.newServer.headers.templates' | translate }}</span>
        </ng-container>

        <mcs-option *ngFor="let template of customTemplates" [value]="template">
          {{ template.name }}
        </mcs-option>
      </mcs-option-group>
    </mcs-select>

    <mcs-error mcsError errorState="required">
      {{ 'serverCreateDetailsStep.newServer.errors.selectOsRequired' | translate }}
    </mcs-error>
  </mcs-form-field>

  <!-- Server RAM -->
  <div class="action-box">
    <mcs-server-manage-scale #fgManageScale
      [osType]="fcImage?.value?.type"
      [resource]="resource"
      (dataChange)="onScaleChanged($event)"
      [mcsContextualHelp]="'serverCreateDetailsStep.contextualHelp.computeField' | translate">

      <ng-container mcsManageScaleHeader>
        <h2>{{ 'serverCreateDetailsStep.newServer.computeSizeLabel' | translate }}</h2>
      </ng-container>
    </mcs-server-manage-scale>
  </div>

  <!-- Storage Management -->
  <div class="action-box">
    <mcs-server-manage-storage #fgManageStorage
      [storages]="resource?.storage"
      [minValueGB]="minimumStorageInGB"
      [deductValueGB]="currentScaleValue"
      (dataChange)="onStorageChanged($event)"
      [mcsContextualHelp]="'serverCreateDetailsStep.contextualHelp.storageField' | translate">

      <ng-container mcsManageStorageHeader>
        <h2>{{ 'serverCreateDetailsStep.newServer.storageLabel' | translate }}</h2>
      </ng-container>
      <ng-container mcsManageStorageWarning>
        <span>
          {{ 'serverCreateDetailsStep.newServer.fullStorageSpace' | translate:
            { remaining_memory : (warningStorageMemory| mcsDataSize: 'GB')}
          }}
        </span>
      </ng-container>
    </mcs-server-manage-storage>
  </div>

  <!-- Server network settings -->
  <div class="action-box">
    <mcs-server-manage-network #fgManageNetwork
      [disableDynamicIp]="resourceIsManaged"
      [networks]="resource?.networks"
      [resourceId]="resource?.id"
      (dataChange)="onNetworkChanged($event)"
      [mcsContextualHelp]="'serverCreateDetailsStep.contextualHelp.networkField' | translate">

      <ng-container mcsManageNetworkHeader>
        <h2>{{ 'serverCreateDetailsStep.newServer.networkLabel' | translate }}</h2>
      </ng-container>
    </mcs-server-manage-network>
  </div>
</form>
