<form [formGroup]="fgServerScale" mcsFormGroup>
  <!-- Scale header and switcher -->
  <mcs-item orientation="separated">
    <div><ng-content select="[mcsManageScaleHeader]"></ng-content></div>
    <div>
      <a *ngIf="inputManageType === inputManageTypeEnum.Custom" mcsId
        (click)="onChangeInputManageType(inputManageTypeEnum.Auto)">
        {{ 'serverShared.manageScale.sliderSwitch' | translate }}</a>
      <a *ngIf="inputManageType === inputManageTypeEnum.Auto" mcsId
        (click)="onChangeInputManageType(inputManageTypeEnum.Custom)">
        {{ 'serverShared.manageScale.customSwitch' | translate }}</a>
    </div>
  </mcs-item>

  <div [ngSwitch]="inputManageType">
    <!-- Slider selection mode -->
    <mcs-section [@fadeIn] *ngSwitchCase="inputManageTypeEnum.Auto">
      <div>
        <span>{{ 'serverShared.manageScale.sliderMessage' | translate }} </span>
        <span>This VDC has {{ resourceAvailableMemoryMB | mcsDataSize: 'MB' }}
          RAM and {{ resourceAvailableCpu }} vCPU available.</span>
      </div>

      <div>
        <mcs-slider [min]="0" [max]="(sliderTable?.length - 1)"
          mcsId="slider-storage"
          [ngModel]="sliderValueIndex" [ngModelOptions]="{standalone: true}"
          (ngModelChange)="onSliderChanged($event)"></mcs-slider>
        <strong display-block text-center>
          {{ sliderValue?.memoryGB | mcsDataSize: 'MB' }} {{ 'serverShared.manageScale.ramLabel' | translate }} /
          {{ sliderValue?.cpuCount | number}} {{ 'serverShared.manageScale.cpuUnit' | translate }}
        </strong>
      </div>
    </mcs-section>

    <!-- Custom scale mode -->
    <mcs-section [@fadeIn] *ngSwitchCase="inputManageTypeEnum.Custom">
      <div>{{ 'serverShared.manageScale.customMessage' | translate }}</div>

      <mcs-form-field class="form-field-size-small">
        <input mcsInput placeholder="Enter RAM"
          mcsId="input-ram" [formControl]="fcCustomMemory">
          <mcs-suffix mcsSuffix>{{ 'serverShared.manageScale.ramUnit' | translate }}</mcs-suffix>

        <mcs-hint mcsHint align="start">
            {{ 'serverShared.manageScale.maximumRam' | translate }}: {{ resourceAvailableMemoryMB | mcsDataSize: 'MB' }}
        </mcs-hint>
        <mcs-error mcsError errorState="required">
            {{ 'serverShared.manageScale.errors.ramRequired' | translate }}
        </mcs-error>
        <mcs-error mcsError errorState="numeric">
            {{ 'serverShared.manageScale.errors.ramNumeric' | translate }}
        </mcs-error>
        <mcs-error mcsError errorState="min">
            {{ 'serverShared.manageScale.errors.ramMin' | translate: {min_value:(minimumMemoryMB | mcsDataSize: 'MB')} }}
        </mcs-error>
        <mcs-error mcsError errorState="max">
            {{ 'serverShared.manageScale.errors.ramMax' | translate: {max_value:(resourceAvailableMemoryMB | mcsDataSize: 'MB')} }}
        </mcs-error>
        <mcs-error mcsError errorState="memoryInvalid">
            {{ 'serverShared.manageScale.errors.ramInvalid' | translate: {multiplier: '2'} }}
        </mcs-error>
      </mcs-form-field>

      <mcs-form-field class="form-field-size-small">
        <input mcsInput placeholder="Enter CPU"
          mcsId="enter-cpu" [formControl]="fcCustomCpu">
          <mcs-suffix mcsSuffix>{{ 'serverShared.manageScale.cpuUnit' | translate }}</mcs-suffix>

        <mcs-hint mcsHint align="start">
            {{ 'serverShared.manageScale.maximumCpu' | translate }}: {{ resourceAvailableCpu }} vCPU
        </mcs-hint>
        <mcs-error mcsError errorState="required">
            {{ 'serverShared.manageScale.errors.cpuRequired' | translate }}
        </mcs-error>
        <mcs-error mcsError errorState="numeric">
            {{ 'serverShared.manageScale.errors.cpuNumeric' | translate }}
        </mcs-error>
        <mcs-error mcsError errorState="min">
            {{ 'serverShared.manageScale.errors.cpuMin' | translate: {min_value: minimumCpuUsed} }}
        </mcs-error>
        <mcs-error mcsError errorState="max">
            {{ 'serverShared.manageScale.errors.cpuMax' | translate: {max_value: resourceAvailableCpu} }}
        </mcs-error>
        <mcs-error mcsError errorState="cpuInvalid">
            {{ 'serverShared.manageScale.errors.cpuInvalid' | translate: {multiplier: '2'} }}
        </mcs-error>
      </mcs-form-field>
    </mcs-section>
  </div>
</form>