<form [formGroup]="fgServerScale" mcsFormGroup>
  <!-- TODO: Disabled for the moment -->
  <!-- Scale header and switcher -->
  <mcs-item orientation="separated">
    <div><ng-content select="[mcsManageScaleHeader]"></ng-content></div>
    <!-- <div>
      <a *ngIf="inputManageType === inputManageTypeEnum.Custom" mcsId
        (click)="onChangeInputManageType(inputManageTypeEnum.Auto)">
        {{ 'serverShared.manageScale.sliderSwitch' | translate }}</a>
      <a *ngIf="inputManageType === inputManageTypeEnum.Auto" mcsId
        (click)="onChangeInputManageType(inputManageTypeEnum.Custom)">
        {{ 'serverShared.manageScale.customSwitch' | translate }}</a>
    </div> -->
  </mcs-item>

  <div [ngSwitch]="inputManageType">
    <!-- Slider selection mode -->
    <mcs-section [@fadeIn] *ngSwitchCase="inputManageTypeEnum.Auto">
      <div>
        <span>{{ 'serverShared.manageScale.sliderMessage' | translate }} </span>
      </div>

      <div>
        <mcs-slider [min]="0" [max]="(sliderTable?.length - 1)"
          mcsId="slider-storage"
          [ngModel]="sliderValueIndex" [ngModelOptions]="{standalone: true}"
          (ngModelChange)="onSliderChanged($event)"></mcs-slider>
        <strong display-block text-center>
          {{ 'serverShared.manageScale.sliderSelectedRamCpu' | translate:
            {
              ram_value: (sliderValue?.memoryGB | mcsDataSize: 'GB'),
              cpu_value : (sliderValue?.cpuCount | number)
            }
          }}
        </strong>
        <span display-block text-center>
          {{ 'serverShared.manageScale.sliderCurrentRamCpu' | translate:
            {
              ram_value: (currentServerMemoryGB | mcsDataSize: 'GB'),
              cpu_value : (currentServerCpu | number)
            }
          }}
        </span>
      </div>
    </mcs-section>

    <!-- Custom scale mode -->
    <mcs-section [@fadeIn] *ngSwitchCase="inputManageTypeEnum.Custom">
      <div>{{ 'serverShared.manageScale.customMessage' | translate }}</div>

      <mcs-form-field class="form-field-size-small">
        <input mcsInput placeholder="Enter RAM"
          mcsId="input-ram" [formControl]="fcCustomMemory">
        <mcs-suffix mcsSuffix>{{ 'serverShared.manageScale.ramUnit' | translate }}</mcs-suffix>

        <mcs-hint mcsHint align="start">
          <div >
            {{ 'serverShared.manageScale.availableRam' | translate: {ram_value: (resourceAvailableMemoryGB | mcsDataSize: 'GB')} }}
          </div>
        </mcs-hint>
        <mcs-error mcsError errorState="required">
            {{ 'serverShared.manageScale.errors.ramRequired' | translate }}
        </mcs-error>
        <mcs-error mcsError errorState="numeric">
            {{ 'serverShared.manageScale.errors.ramNumeric' | translate }}
        </mcs-error>
        <mcs-error mcsError errorState="scaleDown">
            {{ 'serverShared.manageScale.errors.scaledownInvalid' | translate: {service_type: serviceType} }}
        </mcs-error>
        <mcs-error mcsError errorState="min">
            {{ 'serverShared.manageScale.errors.ramMin' | translate: {min_value:(minimumMemoryGB | mcsDataSize: 'GB')} }}
        </mcs-error>
        <mcs-error mcsError errorState="max">
            {{ 'serverShared.manageScale.errors.ramMax' | translate: {max_value:(resourceAvailableMemoryGB | mcsDataSize: 'GB')} }}
        </mcs-error>
        <mcs-error mcsError errorState="memoryStep">
            {{ 'serverShared.manageScale.errors.ramInvalid' | translate: {step: memoryStep} }}
        </mcs-error>
      </mcs-form-field>

      <mcs-form-field class="form-field-size-small">
        <input mcsInput placeholder="Enter CPU"
          mcsId="enter-cpu" [formControl]="fcCustomCpu">
        <mcs-suffix mcsSuffix>{{ 'serverShared.manageScale.cpuUnit' | translate }}</mcs-suffix>

        <mcs-hint mcsHint align="start">
          <div>
            {{ 'serverShared.manageScale.availableCpu' | translate: {cpu_value:resourceAvailableCpu} }}
          </div>
        </mcs-hint>
        <mcs-error mcsError errorState="required">
            {{ 'serverShared.manageScale.errors.cpuRequired' | translate }}
        </mcs-error>
        <mcs-error mcsError errorState="numeric">
            {{ 'serverShared.manageScale.errors.cpuNumeric' | translate }}
        </mcs-error>
        <mcs-error mcsError errorState="scaleDown">
            {{ 'serverShared.manageScale.errors.scaledownInvalid' | translate: {service_type: serviceType} }}
        </mcs-error>
        <mcs-error mcsError errorState="min">
            {{ 'serverShared.manageScale.errors.cpuMin' | translate: {min_value: minimumCpu} }}
        </mcs-error>
        <mcs-error mcsError errorState="max">
            {{ 'serverShared.manageScale.errors.cpuMax' | translate: {max_value: resourceAvailableCpu} }}
        </mcs-error>
        <mcs-error mcsError errorState="cpuStep">
            {{ 'serverShared.manageScale.errors.cpuInvalid' | translate: {step: cpuStep} }}
        </mcs-error>
      </mcs-form-field>
    </mcs-section>
  </div>
</form>