<mcs-page [header]="(selectedInternetPort$ | async)?.description">

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'internetPortDetails.leftPanelHeader' | translate">
    <!-- listing panel -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <div class="listing-panel-wrapper">
        <mcs-search #search mcsId="internet-listing-panel-search"></mcs-search>

        <mcs-list-panel [dataSource]="listviewDatasource" [config]="listviewDatasource?.config?.panelSettings">
          <ng-container *mcsListPanelContent="let entity">
            <!-- With grouping -->
            <ng-container *ngIf="entity.groupName | mcsIsNotNullOrEmpty; else standaloneTemplate">
              <mcs-option-group>
                <ng-container *mcsOptionGroupLabel>
                  <span>{{ entity.groupName }}</span>
                </ng-container>

                <a *ngFor="let internetPort of entity.internetPorts"
                  [mcsRouterLink]="[routeKeyEnum.InternetDetails, internetPort.id]"
                  mcsId="select-internet-port"
                  mcsEventTracker="select-internet-port-with-group"
                  mcsEventCategory="internet"
                  mcsEventLabel="internet-port-list-panel">

                  <mcs-option [value]="internetPort"
                    [selected]="(selectedInternetPort$ | async)?.id === internetPort.id">
                    <mcs-item>
                      <span [innerHTML]="internetPort.description | mcsDataLabel"></span>
                    </mcs-item>
                  </mcs-option>
                </a>
              </mcs-option-group>
            </ng-container>

            <!-- Without grouping -->
            <ng-template #standaloneTemplate>
              <a *ngFor="let internetPort of entity.internetPorts"
                [mcsRouterLink]="[routeKeyEnum.InternetDetails, internetPort.id]"
                mcsId="select-internet-port"
                mcsEventTracker="select-internet-port-without-group"
                mcsEventCategory="internet"
                mcsEventLabel="internet-port-list-panel">

                <mcs-option [value]="internetPort"
                  [selected]="(selectedInternetPort$ | async)?.id === internetPort.id">
                  <mcs-item>
                    <span [innerHTML]="internetPort.description | mcsDataLabel"></span>
                  </mcs-item>
                </mcs-option>
              </a>
            </ng-template>
          </ng-container>
        </mcs-list-panel>
      </div>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <mcs-content-panel *mcsContentPanelDef>
    <div class="routing-tab-wrapper" *ngIf="selectedInternetPort$ | async as selectedInternetPort">
      <mcs-tab-group [selectedTabId]="selectedTabId$ | async" (tabChanged)="onTabChanged($event)">
        <!-- Management Tab -->
        <mcs-tab [label]="'internetPortManagement.label' | translate" id="management">
        </mcs-tab>

        <ng-container mcsTabHeaderCustom>
          <mcs-context-menu-link
            mcsAlign="end"
            [serviceId]="selectedInternetPort.serviceId"
            [serviceChangeAvailable]="selectedInternetPort.serviceChangeAvailable"
            [hasMenuButton]="true"
            [eventCategory]="'internet'"
            [eventLabel]="'internet-details-page'">
          </mcs-context-menu-link>
        </ng-container>
      </mcs-tab-group>

      <!-- Tab content for routing tab -->
      <div class="routing-tab-content-wrapper limited-view">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mcs-content-panel>
</mcs-page>

<mcs-help-widget *mcsAccessControl="['TicketCreate']"
  [serviceId]="(selectedInternetPort$ | async)?.serviceId"
  mcsEventTracker="toggle-help"
  mcsEventCategory="help"
  mcsEventLabel="help-panel-internet-port">
</mcs-help-widget>