<div *ngIf="isInputVisible || isLoading" class="div-container">
  <mat-form-field
    appearance="outline"
    (focusout)="focusOut(valueInput.value)"
    [hintLabel]="config.hint"
    class="gateway-ip-field">
    <mat-label [attr.for]="id" >{{ isLoading ? 'Loading...' : label }}</mat-label>

    <input *ngIf="isResourceSelfManaged"
      #control matInput type="text"
      [mcsId]="id"
      [required]="required"
      [disabled]="disabled"
      [placeholder]="config.placeholder"
      [(ngModel)]="control.value"
      (focusout)="setValue(control.value)"
      (input)="valueChange($event)"/>

    <input *ngIf="!isResourceSelfManaged"
      #valueInput matInput
      [mcsId]="id"
      [required]="required"
      [placeholder]="config.placeholder"
      [(value)]="config.value"
      (change)="setValue(valueInput.value)"
      [matAutocomplete]="auto"
      [ngClass]="{'mat-option-reserve-new': valueInput.value === reserveNewSubnetOptionText}">

      <mat-autocomplete #auto="matAutocomplete"  
        [displayWith]="getOptionValue.bind(this)"
        (optionSelected)="selected($event)">
        <mat-option [value]="reserveNewSubnetValue" class="mat-option-reserve-new mat-option">
          {{ 'action.reserveNewSubnet' | translate }}
        </mat-option>
        <mat-option *ngFor="let opt of config.options" [value]="opt.key" class="mat-option">
          {{ opt.value }}
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>
</div>

<span *ngIf="!(isInputVisible || isLoading)" class="span-text">
  {{ 'message.vdcNewSubnet' | translate }}
</span>

<span class="divider"> / </span>

<div style="max-width: 100px; display: inline-block;">
  <mat-form-field
    *ngIf="visible"
    appearance="outline"
    style="max-width: 100px;">
    <mat-label [attr.for]="id"> Prefix Length </mat-label>
  
    <input matInput type="number" class="number"
      [mcsId]="prefix"
      [required]="config.prefixValidators?.required"
      [disabled]="prefixDisabled"
      [min]="config.prefixValidators?.min"
      [max]="config.prefixValidators?.max"
      (input)="valueChange($event)"
      [(ngModel)]="prefixLength"
      (change)="prefixChange()"/>
    <mat-error *ngIf="prefixError">{{ prefixHint }}</mat-error>
  </mat-form-field>
</div>