<mat-form-field appearance="outline">
  <mat-label>{{ displayedLabel }}</mat-label>

  <mat-select [formControl]="ngControl?.control" [multiple]="multiple">
    <ng-container *ngIf="optionItems$ | async as optionItems">
      <mat-option *ngFor="let optionItem of optionItems" [ngStyle]="{'pointer-events': 'auto'}"
        [disabled]="optionItem.disabled"
        [mcsTooltip]="optionItem.helpText" [mcsTooltipShow]="showHelpText(optionItem)"
        [value]="optionItem.value">
        <mcs-item>
          <span>{{ optionItem.text }}</span>
          <small [mcsGreyedOut]="true" *ngIf="optionItem.inlinescript" class="mcs-inline-script">{{ optionItem.inlinescript }}</small>
        </mcs-item>
      </mat-option>
    </ng-container>
  </mat-select>

  <mcs-loader size="small"
    matSuffix *ngIf="dataProcess?.inProgress$ | async">
  </mcs-loader>

  <mat-error mcsFieldErrorMessage="select">{{ displayedErrorMessage }}</mat-error>
  <mat-hint *ngIf="startHint" align="start">{{ startHint }}</mat-hint>
  <mat-hint *ngIf="endHint" align="end">{{ endHint }}</mat-hint>
</mat-form-field>
