<mcs-page [header]="'label.billSummary' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>
    <mcs-top-panel-item *mcsTopPanelItemDef>
      <!-- CSV Icon -->
      <mcs-action-item mcsResponsivePanelItem hidden-small
        [disabled]="csvDownloadInProgress"
        [mcsTooltip]="'tooltip.exportCsv' | translate"
        (click)="onClickExportCsv($event)">
        <mcs-icon key="csv" size="large" mcsCursor="pointer"></mcs-icon>
      </mcs-action-item>
      <ng-container *ngIf="csvDownloadInProgress">
        <mcs-loader size="small"
          [mcsTooltip]="'tooltip.tooltipText' | translate"
          mcsTooltipPosition="right"></mcs-loader>
      </ng-container>

      <div mcsAlign="end" padding-right-xlarge>
        <mcs-field-select-billing-account
          [selectedAllByDefault]="true"
          [formControl]="fcBillingAccount">
        </mcs-field-select-billing-account>
      </div>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Page Content -->
  <mcs-content-panel *mcsContentPanelDef>
    <mcs-item orientation="inline-block" padding-bottom-xlarge>
      <div padding-right-medium><mcs-icon [key]="statusIconKey" size="large"></mcs-icon></div>
      <div>
        <span [innerHTML]="headerDescription"></span>
        <ul [style.marginTop.px]="0" [innerHTML]="headerDescriptionOuterList"></ul>
        <!-- <a href="{{ learnMoreLink }}"
          target="_blank"
          mcsId="azure-performance"
          mcsEventTracker="navigate-to-macquarie-view"
          mcsEventCategory="billing-sumamry-navigation"
          mcsEventLabel="learn-more-link">Learn more</a> -->
      </div>
    </mcs-item>

    <div full-width class="routing-tab-wrapper" *mcsComponentHandler>
      <mcs-tab-group [selectedTabId]="selectedTabId$ | async" (tabChanged)="onTabChanged($event)">
        <!-- Summary Tab -->
        <mcs-tab [label]="'label.summary' | translate" id="summary"></mcs-tab>

        <!-- Service Tab -->
        <mcs-tab [label]="'label.byService' | translate" id="service"></mcs-tab>

        <!-- Tabular Tab -->
        <!-- <mcs-tab [label]="'label.tabular' | translate" id="tabular"></mcs-tab> -->
      </mcs-tab-group>

      <!-- Tab content for routing tab -->
      <div class="routing-tab-content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mcs-content-panel>
</mcs-page>
