<mcs-page [header]="'label.billing' | translate">
  <!-- Page Content -->
  <mcs-content-panel *mcsContentPanelDef>
    <div class="routing-tab-wrapper" *mcsComponentHandler>
      <mcs-tab-group [selectedTabId]="selectedTabId$ | async" (tabChanged)="onTabChanged($event)">
        <!-- Summary Tab -->
        <mcs-tab [label]="'label.summary' | translate" id="summary"></mcs-tab>

        <!-- Service Tab -->
        <mcs-tab [label]="'label.byService' | translate" id="service"></mcs-tab>

        <!-- Tabular Tab -->
        <!-- <mcs-tab [label]="'label.tabular' | translate" id="tabular"></mcs-tab> -->
      </mcs-tab-group>

      <!-- Tab content for routing tab -->
      <div class="routing-tab-content-wrapper limited-view">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mcs-content-panel>
</mcs-page>
