<mat-form-field
  *ngIf="visible"
  appearance="outline"
  [hintLabel]="config.hint"
  style="max-width: 200px;">
  <mat-label [attr.for]="id">{{ label }}</mat-label>

  <input #control matInput type="number" class="number"
    [id]="id"
    [required]="required"
    [disabled]="disabled"
    [placeholder]="config.placeholder"
    [min]="config.validators?.min"
    [max]="config.validators?.max"
    [(ngModel)]="config.value"
    (input)="valueChange($event)"/>
  <span matPrefix class="prefix" *ngIf="config.prefix">{{config.prefix}}</span>
  <span matSuffix class="suffix" *ngIf="config.suffix">{{config.suffix}}</span>
</mat-form-field>
