<mat-form-field
  *ngIf="visible"
  appearance="outline"
  [hintLabel]="data.hint"
  style="max-width: 200px;">
  <mat-label [attr.for]="id">{{ label }}</mat-label>

  <input #control matInput type="number" class="number"
    [id]="id"
    [required]="required"
    [disabled]="disabled"
    [placeholder]="data.placeholder"
    [min]="data.validators?.min"
    [max]="data.validators?.max"
    [(ngModel)]="data.value"
    (input)="valueChange($event)"/>
  <span matPrefix class="prefix" *ngIf="data.prefix">{{data.prefix}}</span>
  <span matSuffix class="suffix" *ngIf="data.suffix">{{data.suffix}}</span>
</mat-form-field>
