<ng-container *ngIf="panelOpen">
  <div [@slideInPanel] class="sliding-panel-overlay" (click)="toggle()">

    <ng-container [ngSwitch]="placement">
      <div *ngSwitchCase="'right'" [@slideRight]
        class="sliding-panel-content" mcsStopPropagation mcsScrollable>
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </div>
      <div *ngSwitchCase="'left'" [@slideLeft]
        class="sliding-panel-content" mcsStopPropagation mcsScrollable>
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-template #contentTemplate><ng-content></ng-content></ng-template>