<mcs-presentation-panel *ngIf="!isStatusUnknown">
  <ng-container mcsPresentationPanelHeader>
    <h2>{{ 'serverServices.serverBackup.title' | translate }}</h2>
    <mcs-context-menu-link
      [serviceId]="serverBackupServer.serviceId"
      [serviceChangeAvailable]="serverBackupServer.serviceChangeAvailable"
      [hasMenuButton]="true"
      [eventCategory]="'server'"
      [eventLabel]="'backup-server-services'">
    </mcs-context-menu-link>
  </ng-container>

  <mcs-section>
    <mcs-item orientation="block" *ngIf="serverBackupServer?.provisioned; else serverBackupUnprovisionedTemplate">
      <mcs-item>
        <mcs-icon [key]="statusIcon" size="small" mcsId="backup-server-status-icon" [mcsTooltip]="statusTooltip" [mcsTooltipShow]="statusTooltip"></mcs-icon>
        <div>
          <span mcsId="backup-server-status-label">{{ statusLabel }}</span><br />
          <small read-only>
            <mcs-item orientation="inline">
              <span mcsId="backup-server-status-sublabel">
                {{ statusSublabel }}
              </span>
              <a *ngIf="statusDetailsLinkFlag"
                mcsId="backup-server-status-details-link"
                mcsEventTracker="backup-server-status-details-link"
                mcsEventCategory="server"
                mcsEventLabel="server-services"
                (click)="changeView()">
                {{ 'serverServices.serverBackup.detailsLink' | translate }}
              </a>
            </mcs-item>
          </small>
          <ng-container *ngIf="serverBackupServer?.aggregationTargetServiceId | mcsIsNotNullOrEmpty">
            {{ 'serverServices.serverBackup.batLinkDescription' | translate }}
            <a mcsId="backup-server-bat-details-link"
              mcsEventTracker="backup-server-bat-details-link"
              mcsEventCategory="server"
              mcsEventLabel="server-services"
              [mcsRouterLink]="[routeKeyEnum.BackupAggregationTargetsDetails, serverBackupServer?.aggregationTargetId]">
              {{ 'serverServices.serverBackup.batLinkLabel' | translate }}
            </a>
          </ng-container>
        </div>
      </mcs-item>
    </mcs-item>
    <ng-template #serverBackupUnprovisionedTemplate>
      <mcs-status-message type="info">
        {{ 'serverServices.serverBackup.unprovisionedFallback' | translate }}
        <ng-container *ngIf="disableMessage(server); else serverBackupOrderLinkTemplate">
          <span>{{ disableMessage(server) }}</span>
          <ng-container *ngIf="server.getServiceOrderState() === ServiceOrderStateOption.OsAutomationNotReady">
            <ng-container *mcsAccessControl="['TicketCreate']">
              or
              <a (click)="onCreateNewTicket()"
              mcsId="create-new-ticket"
              mcsEventTracker="raise-a-ticket"
              mcsEventCategory="ticket"
              mcsEventLabel="server-services">{{ 'serverServices.serverBackup.raiseTicketLabel' | translate }}</a>
            </ng-container>.
          </ng-container>
        </ng-container>
        <ng-template #serverBackupOrderLinkTemplate>
          <br/>
          <a *mcsAccessControl="['OrderEdit'];"
          (click)="onAddServerBackup(server)"
          [disabled]="server.isProcessing"
          mcsId="add-new-server-backup"
          mcsEventTracker="add-new-server-backup"
          mcsEventCategory="order"
          mcsEventLabel="server-services">{{ 'serverServices.serverBackup.orderlinkLabel' | translate }}</a>
        </ng-template>
      </mcs-status-message>
    </ng-template>
  </mcs-section>
</mcs-presentation-panel>