<div class="grid-row">
  <div class="grid-column container-wrapper">
    <h2 class="container-header">{{ textContent.vdcProperties.title }}</h2>
    <mcs-list spacing="xsmall">
      <!-- Service Type -->
      <mcs-list-item class="form-field-inline">
        <span>{{ textContent.vdcProperties.serviceType }}:</span>
        <span [innerHTML]="selectedVdc?.serviceTypeLabel | mcsDataLabel"></span>
      </mcs-list-item>
      <!-- Zone -->
      <mcs-list-item class="form-field-inline">
        <span>{{ textContent.vdcProperties.zone }}:</span>
        <span [innerHTML]="selectedVdc?.availabilityZone | mcsDataLabel"></span>
      </mcs-list-item>
      <!-- Configuration -->
      <mcs-list-item class="form-field-inline">
        <span>{{ textContent.vdcProperties.configuration }}:</span>
        <span [innerHTML]="selectedVdc?.compute?.memoryLimitMBLabel | mcsDataLabel"></span>
        <span>/</span>
        <span [innerHTML]="selectedVdc?.compute?.cpuLimitMBLabel | mcsDataLabel"></span>
      </mcs-list-item>
    </mcs-list>
  </div>

  <!-- VCloud -->
  <div class="grid-column container-wrapper">
    <h2 class="thumbnail-title container-header">{{ textContent.vcloud.title }}</h2>
    <mcs-list spacing="xsmall">
      <ng-container *mcsAccessControl="['VmEdit']">
        <mcs-list-item *ngIf="hasResources">
          <button mcsButton size="small"
            id="ctaVdcNewServer"
            (click)="createNewServer()">
            {{ textContent.vcloud.newServer }}
          </button>
        </mcs-list-item>
      </ng-container>
      <mcs-list-item *ngIf="selectedVdc.portalUrl">
        <a [href]="selectedVdc.portalUrl" target="_blank">{{ textContent.vcloud.viewVcloud}}</a>
      </mcs-list-item>
    </mcs-list>
  </div>
</div>

<div class="grid-row">
  <div class="grid-column container-wrapper">
    <h2 class="container-header container-header">{{ textContent.networkInformation.title }}</h2>
    <div class="vertical-items-spacing-medium">
      <span>{{ textContent.networkInformation.description }}</span>
      <mcs-accordion [multi]="true">
        <mcs-accordion-panel *ngFor="let network of selectedVdc.networks; let i = index"
          [expanded]="i === 0">
          <mcs-accordion-panel-header mcsPanelHeaderDef>
            {{ network.name }}
          </mcs-accordion-panel-header>
          <p>{{ textContent.networkInformation.itemDescription }}</p>
          <div class="form-field-inline">
            <span>{{ textContent.networkInformation.gateway }}:</span>
            <span [innerHTML]="network.gateway | mcsDataLabel"></span>
          </div>
        </mcs-accordion-panel>
      </mcs-accordion>
    </div>
  </div>

  <div class="grid-column container-wrapper">
    <h2 class="inline-items-small container-header">
      <mcs-icon *ngIf="hasLowStorage" [key]="warningIconKey"></mcs-icon>
      <span>{{ textContent.storageProfiles.title }}</span>
      <a (click)="navigateVdcDetailTo(routeKeyEnum.VdcDetailStorage)">
        {{ textContent.storageProfiles.manageLink }}
      </a>
    </h2>

    <div class="vertical-items-spacing-medium">
      <span *ngIf="hasLowStorage">{{ storageSummary }}</span>
      <mcs-accordion [multi]="true">
        <mcs-accordion-panel *ngFor="let storage of selectedVdc.storage; let i = index"
          [expanded]="i === 0">
          <mcs-accordion-panel-header mcsPanelHeaderDef>
            <mcs-icon size="small" [key]="getStorageStatusIconKey(storage)"></mcs-icon>
            {{ storage.name }}
          </mcs-accordion-panel-header>

          <mcs-list spacing="xsmall">
            <mcs-list-item class="form-field-inline">
              <span>{{ textContent.storageProfiles.status }}:</span>
              <span [innerHTML]="storage?.toggleLabel | mcsDataLabel"></span>
            </mcs-list-item>
            <mcs-list-item *ngIf="storage.iops" class="form-field-inline">
              <span>{{ textContent.storageProfiles.tier }}:</span>
              <span [innerHTML]="(iopsLabelPlaceholder |
                mcsTextPlaceholder: 'iops': storage.iops) |
                mcsDataLabel"></span>
            </mcs-list-item>
            <mcs-list-item class="form-field-inline">
              <span>{{ textContent.storageProfiles.utilisation }}:</span>
              <mcs-capacity-bar [(ngModel)]="storage.usedMB"
                [max]="storage.limitMB" class="full-width"></mcs-capacity-bar>
            </mcs-list-item>
          </mcs-list>

          <div *ngIf="isStorageProfileLow(storage)"
            class="inline-items-small vspace-small">
            <mcs-icon [key]="warningIconKey"></mcs-icon>
            <span>{{ textContent.storageProfiles.lowStorageProfile }}</span>
          </div>
        </mcs-accordion-panel>
      </mcs-accordion>
    </div>
  </div>
</div>