<div class="limited-view content-grid">
  <div class="grid-row">
    <div class="grid-column container-wrapper break-on-small">
      <h4 class="container-header">{{ textContent.vdcProperties.title }}</h4>
      <mcs-list>
        <!-- Service Type -->
        <mcs-list-item>
          {{ textContent.vdcProperties.serviceType }}:
          {{ vdcServiceType }}
        </mcs-list-item>
        <!-- Zone -->
        <mcs-list-item>
          {{ textContent.vdcProperties.zone }}: {{ selectedVdc.availabilityZone }}
        </mcs-list-item>
        <!-- Configuration -->
        <mcs-list-item>
          <div class="configuration">
            <span>{{ textContent.vdcProperties.configuration }}:</span>
            <span>
              {{ selectedVdc?.compute?.memoryLimitMBLabel | mcsDataLabel }} /
              {{ selectedVdc?.compute?.cpuLimitMBLabel | mcsDataLabel }}
            </span>
          </div>
        </mcs-list-item>
      </mcs-list>
    </div>

    <!-- VCloud -->
    <div class="grid-column container-wrapper break-on-small">
      <h4 class="thumbnail-title container-header">{{ textContent.vcloud.title }}</h4>
      <mcs-list>
        <ng-container *mcsAccessControl="['VmEdit']">
          <mcs-list-item *ngIf="hasResources">
            <button mcsButton size="small"
              id="ctaVdcNewServer"
              (click)="createNewServer()">
              {{ textContent.vcloud.newServer }}
            </button>
          </mcs-list-item>
        </ng-container>
        <mcs-list-item *ngIf="selectedVdc.portalUrl">
          <a [href]="selectedVdc.portalUrl" target="_blank">{{ textContent.vcloud.viewVcloud}}</a>
        </mcs-list-item>
      </mcs-list>
    </div>
  </div>

  <div class="grid-row">
    <div class="grid-column container-wrapper break-on-small">
      <h4 class="container-header container-header">{{ textContent.networkInformation.title }}</h4>
      <div class="vertical-items-spacing-medium">
        <span>{{ textContent.networkInformation.description }}</span>
        <mcs-accordion [multi]="true">
          <mcs-accordion-panel *ngFor="let network of selectedVdc.networks; let i = index" [expanded]="i === 0">
            <mcs-accordion-panel-header mcsPanelHeaderDef>
              {{ network.name }}
            </mcs-accordion-panel-header>

            <div class="vertical-items-spacing-small" display-flex="column">
              <span>Standard management network for this VDC.</span>
              <span>
                <b>{{ textContent.networkInformation.gateway }}:</b> {{ network.gateway }}
              </span>
            </div>
          </mcs-accordion-panel>
        </mcs-accordion>
      </div>
    </div>

    <div class="grid-column container-wrapper break-on-small">
      <h4 class="horizontal-items-spacing-small container-header"
        display-flex="row" align-items="center">
        <mcs-icon *ngIf="hasLowStorage" [key]="warningIconKey"></mcs-icon>
        <span>{{ textContent.storageProfiles.title }}</span>
        <a [routerLink]="['../storage']">
          {{ textContent.storageProfiles.manageLink }}
        </a>
      </h4>

      <div class="vertical-items-spacing-medium">
        <span *ngIf="hasLowStorage">{{ storageSummary }}</span>
        <mcs-accordion [multi]="true">
          <mcs-accordion-panel *ngFor="let storage of selectedVdc.storage; let i = index"
            [expanded]="i === 0">
            <mcs-accordion-panel-header mcsPanelHeaderDef>

              <mcs-icon size="small" [key]="getStorageStatusIconKey(storage)"></mcs-icon>
              {{ storage.name }}
            </mcs-accordion-panel-header>

            <mcs-list>
              <mcs-list-item>
                <strong>{{ textContent.storageProfiles.status }}:</strong>
                <span>{{ getStorageStatus(storage) }}</span>
              </mcs-list-item>
              <mcs-list-item *ngIf="storage.iops">
                <strong>{{ textContent.storageProfiles.tier }}:</strong>
                <span>{{ getStorageTierText(storage) }}</span>
              </mcs-list-item>
              <mcs-list-item>
                <div class="inline-items-xsmall">
                  <strong>{{ textContent.storageProfiles.utilisation }}:</strong>
                  <mcs-capacity-bar [(ngModel)]="storage.usedMB"
                    [max]="storage.limitMB" flex="auto"></mcs-capacity-bar>
                </div>
              </mcs-list-item>
            </mcs-list>

            <div *ngIf="isStorageProfileLow(storage)"
              class="horizontal-items-spacing-small vspace-small"
              display-flex="row" align-items="center" justify-content="center">
              <mcs-icon [key]="warningIconKey"></mcs-icon>
              <span>{{ textContent.storageProfiles.lowStorageProfile }}</span>
            </div>
          </mcs-accordion-panel>
        </mcs-accordion>
      </div>
    </div>
  </div>
</div>