<form [formGroup]="fgVdcScale" mcsFormGroup>
    <!-- Scale header and switcher -->
    <mcs-item orientation="separated">
      <div><ng-content select="[mcsVdcManageScaleHeader]"></ng-content></div>
      <div>
        <a *ngIf="inputManageType === inputManageTypeEnum.Custom" mcsId
          (click)="onChangeInputManageType(inputManageTypeEnum.Auto)">
          {{ 'vdcShared.manageScale.sliderSwitch' | translate }}</a>
        <a *ngIf="inputManageType === inputManageTypeEnum.Auto" mcsId
          (click)="onChangeInputManageType(inputManageTypeEnum.Custom)">
          {{ 'vdcShared.manageScale.customSwitch' | translate }}</a>
      </div>
    </mcs-item>

    <div [ngSwitch]="inputManageType">
      <!-- Slider selection mode -->
      <mcs-section [@fadeIn] *ngSwitchCase="inputManageTypeEnum.Auto">
        <div>
          <span>{{ 'vdcShared.manageScale.sliderMessage' | translate }} </span>
        </div>

        <div>
          <mcs-slider [min]="0" [max]="(sliderTable?.length - 1)"
            mcsId="slider-storage"
            [step]="sliderStep"
            [ngModel]="sliderValueIndex" [ngModelOptions]="{standalone: true}"
            (ngModelChange)="onSliderChanged($event)"></mcs-slider>
          <strong display-block text-center>
            {{ 'vdcShared.manageScale.sliderSelectedRamCpu' | translate:
              {
                ram_value: (sliderValue?.memoryGB | mcsDataSize: 'GB'),
                cpu_value : (sliderValue?.cpuCount | number)
              }
            }}
          </strong>
          <span display-block text-center>
            {{ 'vdcShared.manageScale.sliderCurrentRamCpu' | translate:
              {
                ram_value: (initialMemoryGB | mcsDataSize: 'GB'),
                cpu_value : (initialCpu | number)
              }
            }}
          </span>
        </div>
      </mcs-section>

      <!-- Custom scale mode -->
      <mcs-section [@fadeIn] *ngSwitchCase="inputManageTypeEnum.Custom">
        <div>{{ 'vdcShared.manageScale.customMessage' | translate }}</div>

        <mcs-form-field class="form-field-size-small">
            <input mcsInput
              placeholder="Enter CPU"
              mcsId="enter-cpu"
              [formControl]="fcCustomCpu"
              (change)="onCpuChange()">
            <mcs-suffix mcsSuffix>{{ 'vdcShared.manageScale.cpuUnit' | translate }}</mcs-suffix>

            <mcs-hint mcsHint align="start">
              <div>
                {{ 'vdcShared.manageScale.availableCpu' | translate: {cpu_value: cpuAvailable} }}
              </div>
            </mcs-hint>
            <mcs-error mcsError errorState="required">
                {{ 'vdcShared.manageScale.errors.cpuRequired' | translate }}
            </mcs-error>
            <mcs-error mcsError errorState="numeric">
                {{ 'vdcShared.manageScale.errors.cpuNumeric' | translate }}
            </mcs-error>
            <mcs-error mcsError errorState="min">
                {{ 'vdcShared.manageScale.errors.cpuMin' | translate: {min_value: cpuMin} }}
            </mcs-error>
            <mcs-error mcsError errorState="max">
                {{ 'vdcShared.manageScale.errors.cpuMax' | translate: {max_value: cpuMax} }}
            </mcs-error>
            <mcs-error mcsError errorState="cpuStep">
                {{ 'vdcShared.manageScale.errors.cpuInvalid' | translate: {step: cpuStep} }}
            </mcs-error>
            <mcs-error mcsError errorState="cpuRatio">
                {{ 'vdcShared.manageScale.errors.ratioInvalid' | translate: {cpu_value: cpuRatio, ram_value: ramRatio } }}
            </mcs-error>
          </mcs-form-field>

        <mcs-form-field class="form-field-size-small">
          <input mcsInput
            placeholder="Enter RAM"
            mcsId="input-ram"
            [formControl]="fcCustomMemory"
            (change)="onRamChange()">
          <mcs-suffix mcsSuffix>{{ 'vdcShared.manageScale.ramUnit' | translate }}</mcs-suffix>

          <mcs-hint mcsHint align="start">
            <div >
              {{ 'vdcShared.manageScale.availableRam' | translate: {ram_value: (ramAvailableGB | mcsDataSize: 'GB')} }}
            </div>
          </mcs-hint>
          <mcs-error mcsError errorState="required">
              {{ 'vdcShared.manageScale.errors.ramRequired' | translate }}
          </mcs-error>
          <mcs-error mcsError errorState="numeric">
              {{ 'vdcShared.manageScale.errors.ramNumeric' | translate }}
          </mcs-error>
          <mcs-error mcsError errorState="min">
              {{ 'vdcShared.manageScale.errors.ramMin' | translate: {min_value:(ramMin | mcsDataSize: 'GB')} }}
          </mcs-error>
          <mcs-error mcsError errorState="max">
              {{ 'vdcShared.manageScale.errors.ramMax' | translate: {max_value:(ramMax | mcsDataSize: 'GB')} }}
          </mcs-error>
          <mcs-error mcsError errorState="ramStep">
              {{ 'vdcShared.manageScale.errors.ramInvalid' | translate: {step: ramStep} }}
          </mcs-error>
          <mcs-error mcsError errorState="ramRatio">
              {{ 'vdcShared.manageScale.errors.ratioInvalid' | translate: {cpu_value: cpuRatio, ram_value: ramRatio } }}
          </mcs-error>
        </mcs-form-field>

      </mcs-section>
    </div>
  </form>