<form [formGroup]="fgBackUp" mcsFormGroup>

  <!-- Aggregation Target -->
  <ng-container *ngIf="aggregationTargetOptions$ | async as aggregationTargets">
    <ng-container *ngIf="!isAggregationTargetsEmpty(aggregationTargets)">
      <mcs-item orientation="separated">
        <span align-self-start>{{ 'serverShared.addOnBackup.vmAggregation.label' | translate }}:</span>
        <mcs-form-field class="form-field-size-small">
          <mcs-select [formControl]="fcAggregation"
            [placeholder]="'serverShared.addOnBackup.vmAggregation.placeholder' | translate"
            mcsId="addon-backup-vm-aggregation-target"
            mcsEventTracker="server-create-addon-backup-vm-aggregation-target-select"
            mcsEventCategory="server-create"
            mcsEventLabel="server-create-order-details">

            <mcs-option *ngFor="let aggregationTarget of aggregationTargets" [value]="aggregationTarget.value">
              {{ aggregationTarget.text }}
            </mcs-option>
          </mcs-select>
        </mcs-form-field>
      </mcs-item>
    </ng-container>
  </ng-container>

  <!-- Retention  -->
  <ng-container *ngIf="hasAggregation; else retentionListTemplate">
    <mcs-item orientation="block">
      <mcs-alert type="warning">
        {{ 'serverShared.addOnBackup.vmAggregation.tip' | translate }}
      </mcs-alert>
    </mcs-item>
  </ng-container>
  <ng-template #retentionListTemplate>
    <mcs-item orientation="separated">
      <span align-self-start>{{ 'serverShared.addOnBackup.retention.label' | translate }}:</span>
      <mcs-form-field class="form-field-size-small">
        <mcs-select required
          [formControl]="fcRetention"
          [placeholder]="'serverShared.addOnBackup.retention.placeholder' | translate"
          mcsId="select-addon-backup-vm-retention"
          mcsEventTracker="server-create-addon-backup-vm-retention-select"
          mcsEventCategory="server-create"
          mcsEventLabel="server-create-order-details">

          <mcs-option *ngFor="let retention of retentionOptions$ | async" [value]="retention.value">
            {{ retention.text }}
          </mcs-option>
        </mcs-select>
      </mcs-form-field>
    </mcs-item>
  </ng-template>

  <!-- InView Level  -->
  <ng-container *ngIf="isAggregationInviewPremium; else inviewTemplate">
    <mcs-item orientation="block">
      <mcs-alert type="warning">
        {{ 'serverShared.addOnBackup.vmAggregation.aggregationTargetPremium' | translate }}
      </mcs-alert>
    </mcs-item>
  </ng-container>
  <ng-template #inviewTemplate>
    <mcs-item orientation="separated">
      <span align-self-start>{{ 'serverShared.addOnBackup.inviewLevel.label' | translate }}:</span>
      <mcs-form-field class="form-field-size-small">
        <mcs-select [formControl]="fcInview" required
          [placeholder]="'serverShared.addOnBackup.inviewLevel.placeholder' | translate"
          [mcsContextualHelp]="'serverShared.addOnBackup.inviewLevel.contextualHelp' | translate"
          mcsId="select-addon-backup-vm-inview"
          mcsEventTracker="server-create-addon-backup-vm-inview-select"
          mcsEventCategory="server-create"
          mcsEventLabel="server-create-order-details">

          <mcs-option *ngFor="let inviewLevel of inviewLevelOptions$ | async" [value]="inviewLevel.value">
            {{ inviewLevel.text }}
          </mcs-option>
        </mcs-select>
      </mcs-form-field>
    </mcs-item>
  </ng-template>

  <!-- BackUp Schedule  -->
  <mcs-item orientation="separated"
    [mcsContextualHelp]="'serverShared.addOnBackup.backupSchedule.contextualHelp' | translate">
    <span align-self-start>{{ 'serverShared.addOnBackup.backupSchedule.label' | translate }}:</span>
    <mcs-form-field class="form-field-size-small">
      <mcs-select [formControl]="fcBackupSchedule" required
        [placeholder]="'serverShared.addOnBackup.backupSchedule.placeholder' | translate"
        mcsId="select-addon-backup-vm-schedule"
        mcsEventTracker="server-create-addon-backup-vm-schedule-select"
        mcsEventCategory="server-create"
        mcsEventLabel="server-create-order-details">

        <mcs-option *ngFor="let backup of scheduleBackupOptions$ | async" [value]="backup.value">
          {{ backup.text }}
        </mcs-option>
      </mcs-select>
    </mcs-form-field>
  </mcs-item>

  <!-- BackUp Quota  -->
  <mcs-item orientation="separated" [hidden]="hasAggregation">
    <span align-self-start>{{ 'serverShared.addOnBackup.dailyQuota.label' | translate }}:</span>
    <mcs-form-field class="form-field-size-small">
      <input mcsInput [formControl]="fcDailyQuota"
        [placeholder]="'serverShared.addOnBackup.dailyQuota.placeholder' | translate"
        [mcsContextualHelp]="'serverShared.addOnBackup.dailyQuota.contextualHelp' | translate"
        mcsId="input-addon-backup-vm-daily-quota"
        mcsEventTracker="server-create-addon-backup-vm-daily-quota-input"
        mcsEventCategory="server-create"
        mcsEventLabel="server-create-order-details">

      <mcs-suffix mcsSuffix>{{ 'serverShared.addOnBackup.dailyQuota.suffix' | translate }}</mcs-suffix>
      <mcs-error mcsError errorState="required">
        {{ 'serverShared.addOnBackup.dailyQuota.error.required' | translate }}
      </mcs-error>
      <mcs-error mcsError errorState="numeric">
        {{ 'serverShared.addOnBackup.dailyQuota.error.numeric' | translate }}
      </mcs-error>
      <mcs-error text-wrap mcsError errorState="min">
          {{ 'serverShared.addOnBackup.dailyQuota.error.minimum' | translate: {min_value:(dailyQuotaMin | mcsDataSize: 'GB')} }}
      </mcs-error>
      <mcs-error text-wrap mcsError errorState="max">
          {{ 'serverShared.addOnBackup.dailyQuota.error.maximum' | translate: {max_value:(dailyQuotaMax | mcsDataSize: 'GB')} }}
      </mcs-error>
      <mcs-error text-wrap mcsError errorState="valid">
          {{ 'serverShared.addOnBackup.dailyQuota.error.invalid' | translate: {step: stepQuota} }}
      </mcs-error>
    </mcs-form-field>
  </mcs-item>
</form>