<mcs-presentation-panel>
  <ng-container mcsPresentationPanelHeader>
    <mcs-item orientation="separated" full-width>
      <h2>{{ textContent.title }}</h2>
      <ng-content select="[mcsViewServicesTab]"></ng-content>
    </mcs-item>
  </ng-container>
  <p>{{ description }}</p>

  <ng-container [ngSwitch]="scheduleType">
    <form [formGroup]="fgSchedule" [disabled]="selectedServer.isProcessing">

      <mcs-grid>
        <!-- TODO: needs to integrate with data status factory -->
        <ng-template #scheduleDateTemplate>
          <mcs-grid-row>
            <mcs-grid-column>
              <mcs-item orientaion="inline" mcsAlignContent="middle-center">
                <mcs-loader [mcsTooltip]="textContent.scheduleDateloadingContent" size="small"></mcs-loader>
                <span> {{textContent.scheduleDateloadingContent}} </span>
              </mcs-item>
            </mcs-grid-column>
          </mcs-grid-row>
        </ng-template>

        <ng-container *ngIf="scheduleDate$ | async as scheduleDate; else scheduleDateTemplate">
          <mcs-grid-row>
            <!-- Schedule Type -->
            <mcs-item orientation="block">
              <strong>{{textContent.scheduleTypeLabel}}</strong>
              <mcs-radio-button-group [(ngModel)]="scheduleType" [ngModelOptions]="{standalone: true}">
                <mcs-radio-button mcsId [value]="scheduleTypeOption.RunOnce">
                  {{textContent.scheduleTypeOption.runonce}}
                </mcs-radio-button>
                <mcs-radio-button mcsId [value]="scheduleTypeOption.Recurring">
                  {{textContent.scheduleTypeOption.recurring}}
                </mcs-radio-button>
              </mcs-radio-button-group>
            </mcs-item>
          </mcs-grid-row>

          <!-- Schedule Type Recurring -->
          <mcs-grid-row [@fadeIn] *ngSwitchCase="scheduleTypeOption.Recurring">
            <mcs-grid-column>

              <mcs-item orientation="block">
                <strong>{{ textContent.scheduleTimeLabel }}</strong>
                <mcs-section orientation="horizontal" mcsAlignContent="middle-left">

                  <!-- Recurring Day Selection -->
                  <mcs-form-field class="form-field-size-small">
                    <mcs-select
                      mcsId="select-recurring-day-os-updates"
                      [placeholder]="textContent.daysPlaceholder.recurring"
                      [formControl]="fcRecurringScheduleDay"
                      (change)="toggleScheduleDay()" required multiple>
                      <mcs-option
                        *ngFor="let scheduleDay of scheduleDetails.scheduleDays"
                        [value]="scheduleDay.day"
                        [selected]="scheduleDay.checked">{{ scheduleDay.name }}</mcs-option>
                    </mcs-select>
                  </mcs-form-field>

                  <span>{{ textContent.datePreposition }}</span>

                  <!-- Recurring Time Selection -->
                  <mcs-form-field class="form-field-size-xsmall">
                    <mcs-select
                      mcsId="select-recurring-time-os-updates"
                      [formControl]="fcRecurringScheduleTime" required>
                      <mcs-option
                        *ngFor="let timeOption of timeOptions"
                        [value]="timeOption">{{ timeOption }}</mcs-option>
                    </mcs-select>
                  </mcs-form-field>

                  <!-- Recurring Period Selection -->
                  <mcs-form-field class="form-field-size-xsmall">
                    <mcs-select
                      mcsId="select-recurring-period-os-updates"
                      [formControl]="fcRecurringSchedulePeriod" required>
                      <mcs-option
                        *ngFor="let dayPeriodOption of dayPeriodOptions"
                        [value]="dayPeriodOption">{{ dayPeriodOption }}</mcs-option>
                    </mcs-select>
                  </mcs-form-field>

                  <span>{{ textContent.timezoneAbrv }}</span>
                </mcs-section>
              </mcs-item>
            </mcs-grid-column>
          </mcs-grid-row>

          <!-- Schedule Type Later/RunOnce -->
          <mcs-grid-row [@fadeIn] *ngSwitchCase="scheduleTypeOption.RunOnce">
            <mcs-grid-column>

              <mcs-item orientation="block">
                <strong>{{ textContent.scheduleTimeLabel }}</strong>
                <mcs-section orientation="horizontal" mcsAlignContent="middle-left">

                  <!-- RunOnce Day Selection-->
                  <!-- TODO : First element is selected -->
                      <mcs-form-field class="form-field-size-small">
                        <mcs-select
                          mcsId="select-runonce-day-os-updates"
                          [formControl]="fcRunOnceScheduleDay" required >
                          <mcs-option
                            *ngFor="let scheduleDay of scheduleDetails.scheduleDays"
                            [value]="scheduleDay.day"
                            [selected]="scheduleDay.checked">{{ scheduleDay.name }}</mcs-option>
                        </mcs-select>
                      </mcs-form-field>

                      <span>{{ textContent.datePreposition }}</span>

                      <!-- RunOnce Time Selection -->
                      <mcs-form-field class="form-field-size-xsmall">
                        <mcs-select
                          mcsId="select-runonce-time-os-updates"
                          [formControl]="fcRunOnceScheduleTime" required>
                          <mcs-option
                            *ngFor="let timeOption of timeOptions"
                            [value]="timeOption">{{ timeOption }}</mcs-option>
                        </mcs-select>
                      </mcs-form-field>

                      <!-- RunOnce Period Selection -->
                      <mcs-form-field class="form-field-size-xsmall">
                        <mcs-select
                          mcsId="select-runonce-period-os-updates"
                          [formControl]="fcRunOnceSchedulePeriod" required>
                          <mcs-option
                            *ngFor="let dayPeriodOption of dayPeriodOptions"
                            [value]="dayPeriodOption">{{ dayPeriodOption }}</mcs-option>
                        </mcs-select>
                      </mcs-form-field>

                      <span>{{ textContent.timezoneAbrv }}</span>
                    </mcs-section>
                  </mcs-item>

            </mcs-grid-column>
          </mcs-grid-row>
        </ng-container>
      </mcs-grid>

      <!-- Action Buttons -->
      <mcs-item>
        <strong>
          {{textContent.listLabel}}
        </strong>
        <button delete-button mcsButton mcsAlign="end" size="medium" (click)="deleteExistingSchedule()" [hidden]="!hasSchedule"
          [disabled]="!hasSchedule" color="error">
          {{ textContent.deleteScheduleButton }}
        </button>
        <button *ngSwitchCase="scheduleTypeOption.RunOnce" mcsButton size="medium" (click)="saveRunOnceSchedule()"
          [disabled]="isRunOnceSaveButtonDisabled">
          {{ textContent.saveScheduleButton }}
        </button>
        <button *ngSwitchCase="scheduleTypeOption.Recurring" mcsButton size="medium" (click)="saveRecurringSchedule()"
          [disabled]="isRecurringSaveButtonDisabled">
          {{ textContent.saveScheduleButton }}
        </button>
      </mcs-item>

      <mcs-data-status [dataStatusFactory]="categoriesStatusFactory">
        <mcs-data-status-success mcsDataSuccess>
          <!-- Tree View -->
          <div class="action-box" *ngIf="osUpdatesCategories$ | async as osUpdatesCategories">
            <mcs-tree (selectionChange)="onTreeChange($event)">
              <mcs-tree-node-group [label]="textContent.listAllSelection" checkable>
                <mcs-tree-node *ngFor="let osUpdatesCategory of osUpdatesCategories" [value]="osUpdatesCategory"
                  [selected]="tickNodeIfSelected(osUpdatesCategory)">
                  <span>{{osUpdatesCategory.name}}</span>
                </mcs-tree-node>
              </mcs-tree-node-group>
            </mcs-tree>
          </div>
        </mcs-data-status-success>

        <mcs-data-status-in-progress mcsDataInProgress>
          <span>{{ textContent.osUpdatesCategoryloadingContent }}</span>
        </mcs-data-status-in-progress>

        <mcs-data-status-error mcsDataError>
          <span>{{ textContent.errorGettingOsUpdatesCategory }}</span>
        </mcs-data-status-error>
      </mcs-data-status>

    </form>
  </ng-container>
</mcs-presentation-panel>
