<section class="servers-container">
  <h1>{{ title }}</h1>
  <div class="row">
    <div class="col-6">
      <mcs-textbox name="search" placeholder="Type to filter..."></mcs-textbox>
    </div>
    <div class="col-6 text-right">
      <mcs-button>New Server</mcs-button>
    </div>
  </div>
  <table class="mcs-table table">
    <thead class="head">
      <tr>
        <th class="text-center hidden-small"><i class="fa fa-bell-o"></i></th>
        <th>State</th>
        <th>Server</th>
        <th class="hidden-xsmall">Catalog</th>
        <th class="hidden-small">Intellicentere</th>
        <th class="hidden-xsmall">Server Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let server of servers">
        <td class="text-center hidden-small"><i class="fa fa-check"></i></td>
        <td class="text-center"><i class="fa fa-circle-o-notch"></i></td>
        <td>{{server.managementName}}</td>
        <td class="hidden-xsmall">{{server.guestOS}}</td>
        <td class="text-center hidden-small">{{server.serviceId}}</td>
        <td class="hidden-xsmall">{{server.serviceDescription}}</td>
        <td class="text-center"><a href="#" class="fa fa-gear action-button"></a></td>
      </tr>
      <div *ngIf="!loadedSuccesfully">
        Loading...
      </div>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  <div class="paging text-center">
    <a href="#">More <i class="fa fa-angle-down"></i></a>
  </div>
</section>