@import "../../../styles/shared/base";

$radio-button-icon-size: 13px;
$radio-button-icon-margin: 8px;
$radio-button-icon-ripple-size: 15px;

.radio-button-group-wrapper {
  outline: none;

  &.radio-button-group-horizontal {
    @include display-flex(row);
    @include align-items(center);
    @include set-items-interval($space-small, horizontal);
  }

  &.radio-button-group-vertical {
    @include display-flex(column);
    justify-content: center;
  }
}

.radio-button-wrapper {
  @include display-flex(row);
  position: relative;
  white-space: nowrap;
  cursor: inherit;
}

.radio-button-layout-wrapper {
  @include flex(0 0 auto);
  @include display-flex(row);
  @include align-items(center);
  cursor: pointer;

  .radio-button-inner-container {
    @include display-flex(row);
    @include align-items(center);
    width: $radio-button-icon-size;
    height: $radio-button-icon-size;
    margin-right: $radio-button-icon-margin;

    // Override ripple radius effect
    .radio-button-ripple-wrapper {
      position: absolute;
      left: -$radio-button-icon-ripple-size;
      top: -$radio-button-icon-ripple-size;
      right: -$radio-button-icon-ripple-size;
      bottom: -$radio-button-icon-ripple-size;
      @include border-radius(50%);
      z-index: 1;
      pointer-events: none;
    }
  }
}
