@import "base";

// State change notifications (Wrapper)
$state-change-large-notifications-width: 450px;
$state-change-medium-notifications-width: 400px;
$state-change-small-notifications-width: 90%;
$state-change-notifications-margin: 20px;

.state-change-notifications-content {
  position: fixed;
  left: $state-change-notifications-margin;
  bottom: $state-change-notifications-margin;
  width: $state-change-large-notifications-width;
  @include breakpoint(medium) {
    width: $state-change-medium-notifications-width;
  }
  @include breakpoint(small) {
    width: $state-change-small-notifications-width;
  }
  z-index: $zindex-notifications;

  .state-change-notification-item {
    margin: $space-small 0;
  }
}