<mcs-page [header]="textContent.header">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef [active]="selection.hasValue()">

    <!-- Server Creation -->
    <ng-container *mcsAccessControl="['VmEdit']">
      <ng-container *ngIf="hasCreateResources">
        <mcs-top-panel-item *mcsTopPanelItemDef>
          <mcs-action-item id="ctaCreateNewServer"
            (click)="onClickNewServerButton()"
            mcsEventTracker="create-new-server"
            mcsEventCategory="server"
            mcsEventLabel="server-listing-top-panel">
            <mcs-icon [key]="addIconKey" size="small"></mcs-icon>
            <span>{{ textContent.newServer }}</span>
          </mcs-action-item>
        </mcs-top-panel-item>
      </ng-container>
    </ng-container>

    <!-- Server Actions -->
    <mcs-top-panel-item *mcsTopPanelItemDef [ngStyle]="{overflow: 'auto'}">
      <div class="listing-action-wrapper">
        <mcs-responsive-panel *mcsAccessControl="['VmPowerStateEdit']">
          <mcs-action-item mcsResponsivePanelItem
            class="hidden-small"
            id="ctaStartSelectedServer"
            [disabled]="!executableAction('startable')"
            (click)="executeTopPanelAction(serverCommand.Start)"
            mcsEventTracker="start"
            mcsEventCategory="server"
            mcsEventLabel="server-listing-top-panel">
            <mcs-icon [key]="startIconKey" size="small"></mcs-icon>
            <span>{{ textContent.start }}</span>
          </mcs-action-item>

          <mcs-action-item mcsResponsivePanelItem
            class="hidden-small"
            id="ctaStopSelectedServer"
            [disabled]="!executableAction('stoppable')"
            (click)="executeTopPanelAction(serverCommand.Stop)"
            mcsEventTracker="stop"
            mcsEventCategory="server"
            mcsEventLabel="server-listing-top-panel">
            <mcs-icon [key]="stopIconKey" size="small"></mcs-icon>
            <span>{{ textContent.stop }}</span>
          </mcs-action-item>

          <mcs-action-item mcsResponsivePanelItem
            class="hidden-small"
            id="ctaRestartSelectedServer"
            [disabled]="!executableAction('restartable')"
            (click)="executeTopPanelAction(serverCommand.Restart)"
            mcsEventTracker="restart"
            mcsEventCategory="server"
            mcsEventLabel="server-listing-top-panel">
            <mcs-icon [key]="restartIconKey" size="small"></mcs-icon>
            <span>{{ textContent.restart }}</span>
          </mcs-action-item>

          <mcs-action-item mcsResponsivePanelItem
            class="hidden-small"
            id="ctaDeleteSelectedServer"
            [disabled]="!executableAction('deletable')"
            (click)="executeTopPanelAction(serverCommand.Delete)"
            mcsEventTracker="delete"
            mcsEventCategory="server"
            mcsEventLabel="server-listing-top-panel">
            <mcs-icon [key]="deleteIconKey" size="small"></mcs-icon>
            <span>{{ textContent.delete }}</span>
          </mcs-action-item>

          <mcs-action-item mcsResponsivePanelItem
            class="hidden-small"
            id="ctaSuspendSelectedServer"
            [disabled]="!executableAction('suspendable')"
            (click)="executeTopPanelAction(serverCommand.Suspend)"
            mcsEventTracker="suspend"
            mcsEventCategory="server"
            mcsEventLabel="server-listing-top-panel">
            <mcs-icon [key]="suspendIconKey" size="small"></mcs-icon>
            <span>{{ textContent.suspend }}</span>
          </mcs-action-item>

          <mcs-action-item mcsResponsivePanelItem
            class="hidden-small"
            id="ctaResumeSelectedServer"
            [disabled]="!executableAction('resumable')"
            (click)="executeTopPanelAction(serverCommand.Resume)"
            mcsEventTracker="resume"
            mcsEventCategory="server"
            mcsEventLabel="server-listing-top-panel">
            <mcs-icon [key]="resumeIconKey" size="small"></mcs-icon>
            <span>{{ textContent.resume }}</span>
          </mcs-action-item>
        </mcs-responsive-panel>

        <div class="total-record-count right-align">
          <span>{{ totalRecordsCount | mcsPlural:
                textContent.dataSingular : textContent.dataPlural }}
          </span>
        </div>
      </div>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="textContent.leftPanelHeader">
    <!-- Search -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <mcs-search *ngIf="!isMobile" #search id="virtual-desktop-search"></mcs-search>
    </mcs-left-panel-item>

    <!-- Column Filter -->
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="textContent.filterColumn" offset="medium">
      <mcs-filter-selector [key]="columnSettingsKey"
        [associatedTable]="serversTable"
        (filtersChange)="updateColumnSettings($event)"></mcs-filter-selector>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>

    <div class="listing-table-wrapper">

      <!-- Search -->
      <mcs-search *ngIf="isMobile" #search id="virtual-mobile-search"></mcs-search>

      <!-- Table -->
      <mcs-table [dataSource]="dataSource" #serversTable>
        <!-- Selection Column -->
        <ng-container mcsColumnDef="select" *mcsAccessControl="['VmPowerStateEdit']">
          <mcs-header-cell *mcsHeaderCellDef
            class="text-center action-header-cell hidden-small">
            <mcs-checkbox (change)="toggleSelectAll()"
              color="white"
              [checked]="isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mcs-checkbox>
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row"
            [disabled]="row.isProcessing" stop-propagation
            cursor="default"
            class="text-center action-data-cell hidden-small">
            <mcs-checkbox
              [checked]="selection.isSelected(row)"
              (change)="selection.toggle(row)">
            </mcs-checkbox>
          </mcs-data-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container mcsColumnDef="name">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ columnSettings.name.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            <div class="inline-items-small">
              <div *ngIf="!row.isProcessing">
                <mcs-icon [key]="row.powerStateIconKey" size="small"></mcs-icon>
              </div>
              <div *ngIf="row.isProcessing"
                [ngStyle]="{'pointer-events': 'auto'}"
                class="power-state-spinner">
                <mcs-icon [key]="spinnerIconKey" size="small"
                  [mcsTooltip]="row.processingText"></mcs-icon>
              </div>
              <a (click)="navigateToServer(row)"
                mcsEventTracker="navigate-to-server"
                mcsEventCategory="server"
                mcsEventLabel="server-listing-page">
                {{ row.name }}</a>
            </div>
          </mcs-data-cell>
        </ng-container>

        <!-- Type Column -->
        <ng-container mcsColumnDef="type" [mcsColumnDefHidden]="isColumnHidden('type')">
          <mcs-header-cell *mcsHeaderCellDef class="hidden-xsmall">
            {{ columnSettings.type.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" class="hidden-xsmall">
            {{ serverServiceTypeText[row.serviceType] }}
          </mcs-data-cell>
        </ng-container>

        <!-- Catalog Column -->
        <ng-container mcsColumnDef="catalog" [mcsColumnDefHidden]="isColumnHidden('catalog')">
          <mcs-header-cell *mcsHeaderCellDef class="hidden-xsmall">
            {{ columnSettings.catalog.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" class="hidden-xsmall">
            {{ row.operatingSystem?.edition }}
          </mcs-data-cell>
        </ng-container>

        <!-- Tools Version Column -->
        <ng-container mcsColumnDef="toolsVersion"
          [mcsColumnDefHidden]="isColumnHidden('toolsVersion')">
          <mcs-header-cell *mcsHeaderCellDef class="hidden-xsmall">
            {{ columnSettings.toolsVersion.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" class="hidden-xsmall">
            <ng-container *ngIf="row.vmwareTools?.hasTools; else toolsNotInstalled">
              <span>{{ row.vmwareTools?.version }}</span>
            </ng-container>
            <ng-template #toolsNotInstalled>
              <mcs-data-status-empty
                [mcsTooltip]="textContent.toolsUnavailable"
                [mcsTooltipShow]="!row.vmwareTools?.hasTools">
                {{ textContent.toolsNotInstalled }}
              </mcs-data-status-empty>
            </ng-template>
          </mcs-data-cell>
        </ng-container>

        <!-- Management IP Column -->
        <ng-container mcsColumnDef="managementIp"
          [mcsColumnDefHidden]="isColumnHidden('managementIp')"
          *mcsAccessControl="['VmManagementIpView']">
          <mcs-header-cell *mcsHeaderCellDef class="hidden-small">
            {{ columnSettings.managementIp.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" class="hidden-small">
            {{ row.ipAddress }}
          </mcs-data-cell>
        </ng-container>

        <!-- Zone Column -->
        <ng-container mcsColumnDef="zone" [mcsColumnDefHidden]="isColumnHidden('zone')">
          <mcs-header-cell *mcsHeaderCellDef class="hidden-small">
            {{ columnSettings.zone.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" class="hidden-small">
            {{ row.availabilityZone }}
          </mcs-data-cell>
        </ng-container>

        <!-- Service ID Column -->
        <ng-container mcsColumnDef="serviceId"
          [mcsColumnDefHidden]="isColumnHidden('serviceId')"
          *ngIf="hasManagedResource">
          <mcs-header-cell *mcsHeaderCellDef class="hidden-small">
            {{ columnSettings.serviceId.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" class="hidden-small">
            {{ row.serviceId }}
          </mcs-data-cell>
        </ng-container>

        <!-- Resource Column -->
        <ng-container mcsColumnDef="resource" [mcsColumnDefHidden]="isColumnHidden('resource')">
          <mcs-header-cell *mcsHeaderCellDef class="hidden-small">
            {{ columnSettings.resource.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" class="hidden-small">
            <a (click)="navigateToResource(row)"
              mcsEventTracker="navigate-to-resource"
              mcsEventCategory="server"
              mcsEventLabel="server-listing-page">
              {{ row.platform?.resourceName }}
            </a>
          </mcs-data-cell>
        </ng-container>

        <!-- VApp Column -->
        <ng-container mcsColumnDef="vApp" [mcsColumnDefHidden]="isColumnHidden('vApp')">
          <mcs-header-cell *mcsHeaderCellDef class="hidden-small">
            {{ columnSettings.vApp.text }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" class="hidden-small">
            {{ row.vApp }}
          </mcs-data-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container mcsColumnDef="action" *mcsAccessControl="['VmPowerStateEdit']">
          <mcs-header-cell *mcsHeaderCellDef class="action-header-cell"></mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row" stop-propagation
            cursor="default"
            class="text-center action-data-cell">
            <mcs-server-command [server]="row"
              [excluded]="excludedCommands"
              (onClick)="executeServerCommand(row, $event)"></mcs-server-command>
          </mcs-data-cell>
        </ng-container>

        <!-- Data Status Integration -->
        <ng-container mcsDataStatusDef>
          <mcs-data-empty *mcsDataEmptyDef>
            <div class="listing-status-wrapper">
              <span>{{ textContent.noServers }} </span>
              <span *ngIf="hasCreateResources && !isSearching">
                <!-- We need to hardcode this instead of putting in the text-config
                    since it is using link -->
                Click <a (click)="onClickNewServerButton()"
                mcsEventTracker="create-new-server"
                mcsEventCategory="server"
                mcsEventLabel="empty-server-listing-option">here</a> to create new server.
              </span>
            </div>
          </mcs-data-empty>
          <mcs-data-error *mcsDataErrorDef>
            <div class="listing-status-wrapper">
              <span>{{ textContent.errorMessage }}</span>
              <a (click)="retryDatasource()"
                mcsEventTracker="retry-loading-server-list"
                mcsEventCategory="server"
                mcsEventLabel="server-listing-page">{{ textContent.retry }}</a>.
            </div>
          </mcs-data-error>
        </ng-container>

        <!-- Header and Data row -->
        <mcs-header-row *mcsHeaderRowDef="dataColumns"></mcs-header-row>
        <mcs-data-row *mcsDataRowDef="let row; columns: dataColumns;"
          cursor="pointer"
          [disabled]="serverDeleting(row)"
          [ngClass]="{'active-data-row': selection.isSelected(row)}"
          (click)="navigateToServer(row)"
          mcsEventTracker="navigate-to-server"
          mcsEventCategory="server"
          mcsEventLabel="server-listing-page"></mcs-data-row>
      </mcs-table>

      <!-- Paginator -->
      <mcs-paginator #paginator
        [hidden]="isSearching"
        [totalCount]="totalRecordsCount">
      </mcs-paginator>
    </div>
  </mcs-content-panel>
</mcs-page>
