@import "../../../styles/shared/base";

.top-panel-item-wrapper {
  @include breakpoint(small) {
    &:first-child {
      border-right: none !important;
    }
  }
}

.loading-content-popover {
  display: block;
  padding: $space-small;
}

mcs-popover {
  @include breakpoint(medium) {
    display: none;
  }
}