<section class="servers-container">
  <div class="mcs-page-title bordered-bottom">
    <div class="main-title">
      <h2>{{ serversTextContent.header }}</h2>
    </div>
    <div *ngIf="loadedSuccessfully" class="server-count">
      <span>{{ totalServerCount }} {{ serversTextContent.header }}</span>
    </div>
  </div>

  <div class="filter">
    <div class="mcs-search">
      <mcs-textbox name="search" [ngModel]="keyword"
        (ngModelChange)="onSearchEvent($event)" width="350px"
        placeholder="Type to filter..." (keyup.enter)="onEnterSearchEvent()"></mcs-textbox>

      <mcs-filter-selector class="hidden-small" key="serverListingFilter"
        (onGetFilters)="onUpdateColumnSettings($event)"></mcs-filter-selector>
    </div>

    <div class="server-select">
      <mcs-button (onClick)="onClickNewServerButton($event)">New Server</mcs-button>
    </div>
  </div>

  <table class="mcs-table table">
    <thead class="head">
      <tr>
        <th *ngIf="columnSettings['state'].value" class="text-center">
          {{ columnSettings['state'].text }}
        </th>
        <th *ngIf="columnSettings['serviceId'].value" class="hidden-small text-center">
          {{ columnSettings['serviceId'].text }}
        </th>
        <th *ngIf="columnSettings['name'].value" class="text-center">
          {{ columnSettings['name'].text }}
        </th>
        <th *ngIf="columnSettings['type'].value" class="hidden-xsmall text-center">
          {{ columnSettings['type'].text }}
        </th>
        <th *ngIf="columnSettings['catalog'].value" class="hidden-xsmall text-center">
          {{ columnSettings['catalog'].text }}
        </th>
        <th *ngIf="columnSettings['privateIp'].value" class="hidden-small text-center">
          {{ columnSettings['privateIp'].text }}
        </th>
        <th *ngIf="columnSettings['zone'].value" class="hidden-small text-center">
          {{ columnSettings['zone'].text }}
        </th>
        <th *ngIf="columnSettings['vApp'].value" class="hidden-small text-center">
          {{ columnSettings['vApp'].text }}
        </th>
        <th *ngIf="columnSettings['services'].value" class="hidden-small text-center">
          {{ columnSettings['services'].text }}
        </th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let server of servers">
        <td *ngIf="columnSettings['state'].value" class="text-center align-middle">
          <div *ngIf="getServerPowerState(server)">
            <mcs-icon [key]="getStateIconKey(getServerPowerState(server))"
              size="large"></mcs-icon>
          </div>
          <div *ngIf="!getServerPowerState(server)" class="power-state-spinner">
            <mcs-icon [key]="spinnerIconKey" size="large"
              mcsPopover trigger="hover" maxWidth="250px" padding="none"
              [content]="loadingContent"></mcs-icon>
          </div>
          <ng-template #loadingContent>
            <span class="loading-content-popover">
              {{ getActiveServerInformation(server.id) }}
            </span>
          </ng-template>
        </td>
        <td *ngIf="columnSettings['serviceId'].value" class="text-center align-middle hidden-small">
          {{ server.serviceId }}
        </td>
        <td *ngIf="columnSettings['name'].value" class="text-left align-middle">
          <a [routerLink]="[server.id]"><u>{{ server.managementName }}</u></a>
        </td>
        <td *ngIf="columnSettings['type'].value" class="text-left align-middle hidden-xsmall">
          {{ server.serviceType }}
        </td>
        <td *ngIf="columnSettings['catalog'].value" class="text-left align-middle hidden-xsmall">
          {{ server.guestOs }}
        </td>
        <td *ngIf="columnSettings['privateIp'].value" class="text-center align-middle hidden-small">
          {{ server.managementIpAddress }}
        </td>
        <td *ngIf="columnSettings['zone'].value" class="text-center align-middle hidden-small">
          {{ server.availabilityZone }}
        </td>
        <td *ngIf="columnSettings['vApp'].value" class="text-left align-middle hidden-small">
          {{ server.vAppName }}
        </td>
        <td *ngIf="columnSettings['services'].value" class="text-left align-middle hidden-small">
          <a href="#">{{ server.id }}</a>
        </td>
        <td class="text-center align-middle">
          <mcs-server-command [command]="getActionStatus(server)"
            (onClick)="executeServerCommand(server, $event)"></mcs-server-command>
        </td>
      </tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>

  <div class="status-information">
    <div *ngIf="isLoading">
      <mcs-icon [key]="spinnerIconKey" size="small"></mcs-icon>
       {{ serversTextContent.loading }}
    </div>

    <a *ngIf="(getDisplayServerCount() < totalServerCount) && !isLoading"
      (click)="onClickMoreEvent()">{{ serversTextContent.viewMore }}
      <mcs-icon [key]="arrowDownIconKey" size="small"></mcs-icon>
    </a>

    <span *ngIf="!loadedSuccessfully && !isLoading">
      {{ serversTextContent.errorMessage }} <br/>
      <a (click)="getServers()">Try again shortly</a>.
    </span>

    <span *ngIf="noServers">{{ serversTextContent.noServers }}</span>
    <span *ngIf="emptySearchResult">{{ serversTextContent.emptySearchResult }}</span>
  </div>
</section>