<mcs-page [header]="'servers.header' | translate"
  [filterPanelCollapsed]="filterPanelEvents?.filterPanelCollapsed$ | async">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef [active]="dataSelection?.someItemsAreSelected()">

    <!-- Server Creation -->
    <ng-container *mcsAccessControl="['DedicatedVmEdit', 'ManagedCloudVmEdit', 'SelfManagedCloudVmEdit']">
      <ng-container *ngIf="hasCreateResources">
        <mcs-top-panel-item *mcsTopPanelItemDef>
          <mcs-action-item
            (click)="onClickNewServerButton()"
            mcsId
            mcsEventTracker="create-new-server"
            mcsEventCategory="server"
            mcsEventLabel="server-listing-top-panel">
            <mcs-icon [key]="addIconKey"></mcs-icon>
            <span>{{ 'servers.newServer' | translate }}</span>
          </mcs-action-item>
        </mcs-top-panel-item>
      </ng-container>
    </ng-container>

    <!-- Server Actions -->
    <mcs-top-panel-item *mcsTopPanelItemDef [ngStyle]="{overflow: 'auto'}">
      <div class="listing-action-wrapper">
        <mcs-responsive-panel *mcsAccessControl="['DedicatedVmPowerStateEdit','ManagedCloudVmPowerStateEdit', 'SelfManagedCloudVmPowerStateEdit']">
          <mcs-action-item mcsResponsivePanelItem hidden-small
            [disabled]="!canExecuteAction('startable')"
            (click)="startMultipleServers()"
            mcsId
            mcsEventTracker="start"
            mcsEventCategory="server"
            mcsEventLabel="server-listing-top-panel">
            <mcs-icon [key]="startIconKey"></mcs-icon>
            <span>{{ 'servers.start' | translate }}</span>
          </mcs-action-item>

          <mcs-action-item mcsResponsivePanelItem hidden-small
            [disabled]="!canExecuteAction('stoppable')"
            (click)="stopMultipleServers()"
            mcsId
            mcsEventTracker="stop"
            mcsEventCategory="server"
            mcsEventLabel="server-listing-top-panel">
            <mcs-icon [key]="stopIconKey"></mcs-icon>
            <span>{{ 'servers.stop' | translate }}</span>
          </mcs-action-item>

          <mcs-action-item mcsResponsivePanelItem hidden-small
            [disabled]="!canExecuteAction('restartable')"
            (click)="restartMultipleServers()"
            mcsId
            mcsEventTracker="restart"
            mcsEventCategory="server"
            mcsEventLabel="server-listing-top-panel">
            <mcs-icon [key]="restartIconKey"></mcs-icon>
            <span>{{ 'servers.restart' | translate }}</span>
          </mcs-action-item>

          <mcs-action-item mcsResponsivePanelItem hidden-small
            [disabled]="!canExecuteAction('deletable')"
            (click)="deleteMultipleServers()"
            mcsId
            mcsEventTracker="delete"
            mcsEventCategory="server"
            mcsEventLabel="server-listing-top-panel">
            <mcs-icon [key]="deleteIconKey"></mcs-icon>
            <span>{{ 'servers.delete' | translate }}</span>
          </mcs-action-item>

          <mcs-action-item mcsResponsivePanelItem hidden-small
            [disabled]="!canExecuteAction('suspendable')"
            (click)="suspendMultipleServers()"
            mcsId
            mcsEventTracker="suspend"
            mcsEventCategory="server"
            mcsEventLabel="server-listing-top-panel">
            <mcs-icon [key]="suspendIconKey"></mcs-icon>
            <span>{{ 'servers.suspend' | translate }}</span>
          </mcs-action-item>

          <mcs-action-item mcsResponsivePanelItem hidden-small
            [disabled]="!canExecuteAction('resumable')"
            (click)="resumeMultipleServers()"
            mcsId
            mcsEventTracker="resume"
            mcsEventCategory="server"
            mcsEventLabel="server-listing-top-panel">
            <mcs-icon [key]="resumeIconKey"></mcs-icon>
            <span>{{ 'servers.resume' | translate }}</span>
          </mcs-action-item>
        </mcs-responsive-panel>

        <ng-container *ngIf="dataSource?.isSorting$ | async; else totalCountTemplate">
          <div class="sorting-label">
            <span padding-right-small>{{ 'label.sorting' | translate }}</span><mcs-loader size="medium"></mcs-loader>
          </div>
        </ng-container>
        <ng-template #totalCountTemplate>
          <div class="total-record-count" *ngIf="dataSource?.totalCount$ | async as totalCount">
            <span>{{ totalCount | mcsPlural:
                  ('servers.dataSingular' | translate) : ('servers.dataPlural' | translate) }}
            </span>
          </div>
        </ng-template>
      </div>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'servers.leftPanelHeader' | translate">
    <!-- Search -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <mcs-search *ngIf="!isMobile" #search mcsId="virtual-desktop-search"></mcs-search>
    </mcs-left-panel-item>

    <!-- Column Filter -->
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="'servers.columnFilter' | translate" offset="medium">
      <mcs-column-selector #columnFilter
        storageKey="servers"
        [defaultFilters]="defaultColumnFilters"
        [filterPanelExpanded]="filterPanelEvents?.filterPanelExpanded"
        [filterPredicate]="filterPredicate">
      </mcs-column-selector>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>

    <div class="listing-table-wrapper">
      <!-- Search -->
      <mcs-search *ngIf="isMobile" #search mcsId="virtual-mobile-search"></mcs-search>

      <table mat-table [dataSource]="dataSource" matSort #sort="matSort">
        <!-- Selection Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef
            hidden-small text-center class="action-header-cell">
            <mcs-checkbox color="light"
              (statusChange)="toggleAllServersSelection()"
              [checked]="allServersAreSelected()"
              [indeterminate]="dataSelection?.someItemsAreSelected()">
            </mcs-checkbox>
          </th>

          <td mat-cell *matCellDef="let row"
            hidden-small text-center class="action-data-cell"
            [disabled]="row.isProcessing"
            mcsCursor="default"
            mcsStopPropagation>
            <mcs-checkbox color="dark" *mcsAccessControl="getPowerStatePermission(row).vmPowerStateEdit;"
              [checked]="dataSelection?.isItemSelected(row)"
              (statusChange)="dataSelection?.toggleItemSelection(row)">
            </mcs-checkbox>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name" disableClear>
            {{ 'columnHeader.server' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            <mcs-item>
              <div *ngIf="!row.isProcessing">
                <mcs-icon [key]="row.powerStateIconKey" size="small" [mcsTooltip]="row.statusLabel"></mcs-icon>
              </div>
              <div *ngIf="row.isProcessing" [ngStyle]="{'pointer-events': 'auto'}">
                <mcs-loader size="small" [mcsTooltip]="row.processingText"></mcs-loader>
              </div>
              <a [mcsRouterLink]="[routeKeyEnum.ServerDetails, row?.id]"
                mcsId
                mcsEventTracker="navigate-to-server"
                mcsEventCategory="server"
                mcsEventLabel="server-listing-page">
                {{ row.name }}</a>
            </mcs-item>
          </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef hidden-xsmall>
            {{ 'columnHeader.type' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-xsmall>
            {{ serverServiceTypeText[row.serviceType] }}
          </td>
        </ng-container>

        <!-- OS Edition Column -->
        <ng-container matColumnDef="osEdition">
          <th mat-header-cell *matHeaderCellDef hidden-xsmall mat-sort-header="operatingSystem.edition" disableClear>
            {{ 'columnHeader.osEdition' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-xsmall>
            <span [innerHTML]="row.operatingSystem?.edition | mcsDataLabel: 'Unknown'">
            </span>
          </td>
        </ng-container>

        <!-- vCPU Column -->
        <ng-container matColumnDef="vCPU">
          <th mat-header-cell *matHeaderCellDef hidden-xsmall>
            {{ 'columnHeader.vCPU' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-xsmall>
            <ng-container *ngIf="row.compute?.cpuCount > 0; else NoCpu">
              <span>{{ row.compute?.cpuCount | number }}</span>
            </ng-container>
            <ng-template #NoCpu>
              <span [innerHTML]="row.compute?.cpuCount > 0 | mcsDataLabel: 'Unknown'">
              </span>
            </ng-template>
          </td>
        </ng-container>

        <!-- RAM Column -->
        <ng-container matColumnDef="ram">
          <th mat-header-cell *matHeaderCellDef hidden-xsmall>
            {{ 'columnHeader.ram' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-xsmall>
            <ng-container *ngIf="row.compute?.memoryMB > 0; else NoRam">
              <span>{{ row.compute?.memoryMB | mcsDataSize: 'MB' }}</span>
            </ng-container>
            <ng-template #NoRam>
              <span [innerHTML]="row.compute?.memoryMB > 0 | mcsDataLabel: 'Unknown'">
              </span>
            </ng-template>
          </td>
        </ng-container>

        <!-- Tools Version Column -->
        <ng-container matColumnDef="toolsVersion">
          <th mat-header-cell *matHeaderCellDef hidden-xsmall mat-sort-header="vmwareTools.version" disableClear>
            {{ 'columnHeader.toolsVersion' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-xsmall>
            <ng-container *ngIf="row.vmwareTools?.hasTools; else toolsNotInstalled">
              <span>{{ row.vmwareTools?.version }}</span>
            </ng-container>
            <ng-template #toolsNotInstalled>
              <mcs-data-status-empty
                [mcsTooltip]="'servers.toolsUnavailable' | translate"
                [mcsTooltipShow]="!row.vmwareTools?.hasTools">
                {{ 'servers.toolsNotInstalled' | translate }}
              </mcs-data-status-empty>
            </ng-template>
          </td>
        </ng-container>

        <!-- Management IP Column -->
        <ng-container matColumnDef="managementIp">
          <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="ipAddress" disableClear>
            {{ 'columnHeader.managementIp' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            {{ row.ipAddress }}
          </td>
        </ng-container>

        <!-- Zone Column -->
        <ng-container matColumnDef="zone">
          <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="availabilityZone" disableClear>
            {{ 'columnHeader.zone' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            {{ row.availabilityZone }}
          </td>
        </ng-container>

        <!-- Service ID Column -->
        <ng-container matColumnDef="serviceId">
          <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="serviceId" disableClear>
            {{ 'columnHeader.serviceId' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small [mcsTooltip]="row.billingDescription" [mcsTooltipShow]="row.billingDescription">
              <ng-container *ngIf="row.serviceId; else noServiceIdTemplate">
                <span>{{ row.serviceId }}</span>
              </ng-container>
              <ng-template #noServiceIdTemplate>
                <span *ngIf="row.isSelfManaged"
                [innerHTML]="row.serviceId | mcsDataLabel: 'N/A'">
                </span>
                <mcs-data-status-empty
                  *ngIf="!row.isSelfManaged"
                  [mcsTooltip]="'label.ticketingOrderingUnavailable' | translate"
                  [mcsTooltipShow]="!row.serviceId">
                  {{ 'label.unknown' | translate }}
                </mcs-data-status-empty>
              </ng-template>
          </td>
        </ng-container>

        <!-- Resource Column -->
        <ng-container matColumnDef="resource">
          <th mat-header-cell *matHeaderCellDef hidden-small mat-sort-header="platform.resourceName" disableClear>
            {{ 'columnHeader.resource' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small matTooltip="{{ getResourceBillingDescription(row.platform?.resourceId) }}">
            <a [mcsRouterLink]="[routeKeyEnum.VdcDetails, row?.platform?.resourceId]"
              mcsId mcsStopPropagation
              mcsEventTracker="navigate-to-resource"
              mcsEventCategory="server"
              mcsEventLabel="server-listing-page">
              <span [innerHTML]="row.platform?.resourceName | mcsDataLabel: 'Unknown'">
              </span>
            </a>
          </td>
        </ng-container>
        <!-- vApp Column -->
        <ng-container matColumnDef="vApp">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.vApp' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            <span [innerHTML]="row.vApp | mcsDataLabel: 'None'">
            </span>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="action-header-cell"></th>
          <td mat-cell *matCellDef="let row"
            mcsCursor="default"
            mcsStopPropagation
            text-center
            class="action-data-cell">
            <mcs-server-command mcsId="server-command"
              *mcsAccessControl="getPowerStatePermission(row).vmPowerStateEdit;"
              [server]="row"
              [excluded]="excludedCommands"></mcs-server-command>
          </td>
        </ng-container>

        <!-- Header and Data row -->
        <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async"
          [disabled]="dataSource?.isInProgress$ | async"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"
          mcsCursor="pointer"
          [disabled]="row.isDisabled"
          [ngClass]="{'active-data-row': dataSelection?.isItemSelected(row)}"
          (click)="navigateToServer(row)"
          mcsId="server-{{ row.statusLabel }}"
          mcsEventTracker="navigate-to-server"
          mcsEventCategory="server"
          mcsEventLabel="server-listing-page"></tr>
      </table>

      <!-- Table Statuses -->
      <mcs-item orientation="block">
        <div *ngIf="dataSource?.isInProgress$ | async" align="center">
          <mcs-loader size="medium"></mcs-loader>
        </div>
        <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
          {{ 'servers.noServers' | translate }}
          <span *ngIf="hasCreateResources && !isSearching">
            Click <a (click)="onClickNewServerButton()"
            mcsEventTracker="create-new-server"
            mcsEventCategory="server"
            mcsEventLabel="empty-server-listing-option">here</a> to create new server.
          </span>
        </div>
        <div *ngIf="dataSource?.hasError$ | async" text-center>
          <div class="listing-status-wrapper">
            <span>{{ 'servers.errorMessage' | translate }}</span>
            <a (click)="retryDatasource()"
              mcsId
              mcsEventTracker="retry-loading-server-list"
              mcsEventCategory="server"
              mcsEventLabel="server-listing-page">{{ 'servers.retry' | translate }}</a>.
          </div>
        </div>
      </mcs-item>

      <!-- Paginator -->
      <mcs-paginator #paginator
        [totalCount]="dataSource?.totalCount$ | async">
      </mcs-paginator>
    </div>
  </mcs-content-panel>
</mcs-page>
