@import "../../../styles/shared/base";

.data-error {
  @include set-items-interval($space-small, horizontal);
}

.loading-content-popover {
  display: block;
  padding: $space-small;
}

mcs-popover {
  @include breakpoint(medium) {
    display: none;
  }
}