<mcs-page [header]="('order.header' | translate) + (order$ | async)?.orderId">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>

    <mcs-top-panel-item *mcsTopPanelItemDef>
      <mcs-responsive-panel *ngIf="order$ | async as selectedOrder">
        <!-- Submit order -->
        <ng-container *mcsAccessControl="['OrderApprove']; else requiresApprovalTemplate">
          <mcs-action-item mcsResponsivePanelItem mcsId
            *ngIf="selectedOrder.canBeSubmitted"
            (click)="submitOrder(selectedOrder)"
            mcsEventTracker="submit-order"
            mcsEventCategory="order"
            mcsEventLabel="order-details-top-panel">
            <mcs-icon [key]="submitIconKey"></mcs-icon>
            <span>{{ 'order.submitOrder' | translate }}</span>
          </mcs-action-item>
        </ng-container>

        <!-- Requires Approval -->
        <ng-template #requiresApprovalTemplate>
          <mcs-action-item mcsResponsivePanelItem mcsId
            *ngIf="selectedOrder.requiresApproval"
            (click)="submitForApproval(selectedOrder)"
            mcsEventTracker="submit-for-approval"
            mcsEventCategory="order"
            mcsEventLabel="order-details-top-panel">
            <mcs-icon [key]="submitIconKey"></mcs-icon>
            <span>{{ 'order.submitForApproval' | translate }}</span>
          </mcs-action-item>
        </ng-template>

        <!-- Reject order -->
        <mcs-action-item mcsResponsivePanelItem mcsId
          *ngIf="selectedOrder.rejectable"
          (click)="rejectOrder(selectedOrder)"
          mcsEventTracker="reject-order"
          mcsEventCategory="order"
          mcsEventLabel="order-details-top-panel">
          <mcs-icon [key]="cancelIconKey"></mcs-icon>
          <span>{{ 'order.rejectOrder' | translate }}</span>
        </mcs-action-item>

        <!-- Cancel order -->
        <mcs-action-item mcsResponsivePanelItem mcsId
          *ngIf="selectedOrder.cancellable"
          (click)="cancelOrder(selectedOrder)"
          mcsEventTracker="cancel-order"
          mcsEventCategory="order"
          mcsEventLabel="order-details-top-panel">
          <mcs-icon [key]="cancelIconKey"></mcs-icon>
          <span>{{ 'order.cancelOrder' | translate }}</span>
        </mcs-action-item>
      </mcs-responsive-panel>

      <mcs-action-item mcsId mcsAlign="end"
        mcsRouterLink="Orders"
        mcsEventTracker="navigate-to-order-listing"
        mcsEventCategory="order"
        mcsEventLabel="order-details-page">
        <mcs-icon [key]="backIconKey" size="small"></mcs-icon>
        <span>{{ 'order.backToOrders' | translate }}</span>
      </mcs-action-item>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>

    <section *ngIf="order$ | async as selectedOrder">
      <mcs-grid class="limited-view">
        <mcs-grid-row>
          <!-- Order details -->
          <mcs-grid-column>
            <mcs-presentation-panel>
              <ng-container mcsPresentationPanelHeader>
                <h2>{{ 'order.orderDetails' | translate }}</h2>
              </ng-container>

              <mcs-item>
                <span>{{ 'order.description' | translate }}:</span>
                <span [innerHTML]="selectedOrder.description | mcsDataLabel"></span>
              </mcs-item>

              <mcs-item>
                <span>{{ 'order.status' | translate }}:</span>
                <span [innerHTML]="selectedOrder.workflowStatusLabel | mcsDataLabel"></span>
              </mcs-item>

              <mcs-item>
                <span>{{ 'order.createdBy' | translate }}:</span>
                <span>{{ selectedOrder.createdBy }}</span>
              </mcs-item>

              <mcs-item>
                <span>{{ 'order.createdOn' | translate }}:</span>
                <span>{{ selectedOrder.createdOn | mcsStdDateFormat }}</span>
              </mcs-item>

            </mcs-presentation-panel>
          </mcs-grid-column>

          <!-- Billing Details -->
          <mcs-grid-column>
            <mcs-presentation-panel>
              <ng-container mcsPresentationPanelHeader>
                <h2>{{ 'order.billingDetails' | translate }}</h2>
              </ng-container>

              <mcs-item>
                <span>{{ 'order.contractTerm' | translate }}:</span>
                <span>
                  {{ selectedOrder.contractDurationMonths || 0 }}
                  {{ 'order.contractTermSuffix' | translate }}
                </span>
              </mcs-item>

              <mcs-item>
                <span>{{ 'order.totalOneOffCost' | translate }}:</span>
                <span>
                  {{ selectedOrder.charges?.currencySymbol }}
                  {{ selectedOrder.charges?.oneOff || 0 }}
                </span>
              </mcs-item>

              <mcs-item>
                <span>{{ 'order.totalMonthlyCost' | translate }}:</span>
                <span>
                  {{ selectedOrder.charges?.currencySymbol }}
                  {{ selectedOrder.charges?.monthly || 0 }}
                </span>
              </mcs-item>

            </mcs-presentation-panel>
          </mcs-grid-column>
        </mcs-grid-row>
      </mcs-grid>

      <!-- Order Items -->
      <mcs-table [dataSource]="getOrderItemsDatasource(selectedOrder)" class="limited-view">
        <!-- Description -->
        <ng-container mcsColumnDef="description">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ 'order.columnHeaders.description' | translate }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            {{ row.description }}
          </mcs-data-cell>
        </ng-container>

        <!-- Quantity -->
        <!-- TODO: Under confirmation on how line items could be merged -->
        <ng-container mcsColumnDef="quantity">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ 'order.columnHeaders.quantity' | translate }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            <span text-wrap>1</span>
          </mcs-data-cell>
        </ng-container>

        <!-- Cost Centre -->
        <ng-container mcsColumnDef="costCentre">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ 'order.columnHeaders.costCentre' | translate }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            <span>{{ row.costCentre }}</span>
          </mcs-data-cell>
        </ng-container>

        <!-- Billing Site -->
        <ng-container mcsColumnDef="billingSite">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ 'order.columnHeaders.billingSite' | translate }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            <span>{{ row.billingSite }}</span>
          </mcs-data-cell>
        </ng-container>

        <!-- One-off Charge Column -->
        <ng-container mcsColumnDef="oneOffCharge">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ 'order.columnHeaders.oneOffCharge' | translate }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            {{ row.charges?.currencySymbol }} {{ row.charges?.oneOff }}
          </mcs-data-cell>
        </ng-container>

        <!-- Monthly Charge Column -->
        <ng-container mcsColumnDef="monthlyCharge">
          <mcs-header-cell *mcsHeaderCellDef>
            {{ 'order.columnHeaders.monthlyCharge' | translate }}
          </mcs-header-cell>
          <mcs-data-cell *mcsDataCellDef="let row">
            {{ row.charges?.currencySymbol }} {{ row.charges?.monthly }}
          </mcs-data-cell>
        </ng-container>

        <!-- Data Status Integration -->
        <ng-container mcsDataStatusDef>
          <mcs-data-empty *mcsDataEmptyDef>
            <span>{{ 'order.noOrderItems' | translate }}</span>
          </mcs-data-empty>
          <mcs-data-error *mcsDataErrorDef>
            <span>{{ 'order.errorOnOrderItems' | translate }}</span>
          </mcs-data-error>
        </ng-container>

        <!-- Header and Data row -->
        <mcs-header-row *mcsHeaderRowDef="orderItemsColumns"></mcs-header-row>
        <mcs-data-row *mcsDataRowDef="let row; columns: orderItemsColumns;"></mcs-data-row>
      </mcs-table>
    </section>
  </mcs-content-panel>
</mcs-page>