<mcs-page [header]="('order.header' | translate) + (order$ | async)?.orderId">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>

    <mcs-top-panel-item *mcsTopPanelItemDef>
      <ng-container *ngIf="order$ | async as selectedOrder">
        <mcs-responsive-panel>
          <ng-container *ngIf="orderDetailsView === orderDetailsViewEnum.OrderDetails">

            <!-- Submit order -->
            <ng-container *mcsAccessControl="['OrderApprove']; else requiresApprovalTemplate">
              <mcs-action-item mcsResponsivePanelItem mcsId
                *ngIf="selectedOrder.canBeSubmitted"
                (click)="submitOrder(selectedOrder)"
                mcsEventTracker="submit-order"
                mcsEventCategory="order"
                mcsEventLabel="order-details-top-panel">
                <mcs-icon [key]="submitIconKey" size="medium" color="black"></mcs-icon>
                <ng-container *ngIf="(isInAwaitingApprovalState); else useSubmitOrderLabel">
                  <span>{{ 'order.approveOrder' | translate }}</span>
                </ng-container>
                <ng-template #useSubmitOrderLabel>
                  <span>{{ 'order.submitOrder' | translate }}</span>
                </ng-template>
              </mcs-action-item>
            </ng-container>

            <!-- Requires Approval -->
            <ng-template #requiresApprovalTemplate>
              <ng-container *mcsAccessControl="['OrderEdit']">
                <mcs-action-item mcsResponsivePanelItem mcsId
                  *ngIf="selectedOrder.requiresApproval && !isImpersonating"
                  (click)="selectApprover()"
                  mcsEventTracker="submit-for-approval"
                  mcsEventCategory="order"
                  mcsEventLabel="order-details-top-panel">
                  <mcs-icon [key]="submitIconKey" size="medium" color="black"></mcs-icon>
                  <span>{{ 'order.submitForApproval' | translate }}</span>
                </mcs-action-item>
              </ng-container>
            </ng-template>

            <!-- Reject order -->
            <ng-container *mcsAccessControl="['OrderApprove']">
              <mcs-action-item mcsResponsivePanelItem mcsId
                *ngIf="selectedOrder.rejectable"
                (click)="rejectOrder(selectedOrder)"
                mcsEventTracker="reject-order"
                mcsEventCategory="order"
                mcsEventLabel="order-details-top-panel">
                <mcs-icon [key]="cancelIconKey"></mcs-icon>
                <span>{{ 'order.rejectOrder' | translate }}</span>
              </mcs-action-item>
            </ng-container>

            <!-- Cancel order -->
            <ng-container *mcsAccessControl="['OrderEdit']">
              <mcs-action-item mcsResponsivePanelItem mcsId
                *ngIf="selectedOrder.cancellable"
                (click)="cancelOrder(selectedOrder)"
                mcsEventTracker="cancel-order"
                mcsEventCategory="order"
                mcsEventLabel="order-details-top-panel">
                <mcs-icon [key]="cancelIconKey"></mcs-icon>
                <span>{{ 'order.cancelOrder' | translate }}</span>
              </mcs-action-item>
            </ng-container>
          </ng-container>
        </mcs-responsive-panel>
      </ng-container>

      <mcs-action-item mcsId
        mcsRouterLink="OrdersHistory"
        mcsEventTracker="navigate-to-order-listing"
        mcsEventCategory="order"
        mcsEventLabel="order-details-page">
        <mcs-icon [key]="backIconKey" size="small"></mcs-icon>
        <span>{{ 'order.backToOrders' | translate }}</span>
      </mcs-action-item>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>

    <section [ngSwitch]="orderDetailsView" *ngIf="order$ | async as selectedOrder" display-inline-block>
      <!-- View -->
      <ng-container *ngSwitchDefault>
        <mcs-grid class="limited-view">
          <mcs-grid-row>
            <!-- Order details -->
            <mcs-grid-column>
              <mcs-presentation-panel>
                <ng-container mcsPresentationPanelHeader>
                  <h2>{{ 'order.orderDetails' | translate }}</h2>
                </ng-container>

                <mcs-item>
                  <span>{{ 'order.description' | translate }}:</span>
                  <span [innerHTML]="selectedOrder.description | mcsDataLabel"></span>
                </mcs-item>

                <mcs-item>
                  <span>{{ 'order.status' | translate }}:</span>
                  <span [innerHTML]="selectedOrder.workflowStatusLabel | mcsDataLabel"></span>
                </mcs-item>

                <mcs-item>
                  <span>{{ 'order.createdBy' | translate }}:</span>
                  <span>{{ selectedOrder.createdBy }}</span>
                  <span read-only *ngIf="createdWithDifferentCompany(selectedOrder.createdByCompanyId)">
                    {{ 'notifications.account' | translate }}
                  </span>
                </mcs-item>

                <mcs-item>
                  <span>{{ 'order.createdOn' | translate }}:</span>
                  <span>{{ selectedOrder.createdOn | mcsStdDateFormat }}</span>
                </mcs-item>

                <mcs-item>
                  <span>{{ 'order.updatedBy' | translate }}:</span>
                  <span>{{ selectedOrder.modifiedBy }}</span>
                  <span read-only *ngIf="createdWithDifferentCompany(selectedOrder.modifiedByCompanyId)">
                    {{ 'notifications.account' | translate }}
                  </span>
                </mcs-item>

                <mcs-item>
                  <span>{{ 'order.updatedOn' | translate }}:</span>
                  <span>{{ selectedOrder.modifiedOn | mcsStdDateFormat }}</span>
                </mcs-item>

              </mcs-presentation-panel>
            </mcs-grid-column>

            <!-- Billing Details -->
            <mcs-grid-column>
              <mcs-presentation-panel>
                <ng-container mcsPresentationPanelHeader>
                  <h2>{{ 'order.billingDetails' | translate }}</h2>
                </ng-container>

                <mcs-item *ngIf="isContractTermApplicable$ | async">
                  <span>{{ 'order.contractTerm' | translate }}:</span>
                  <span *ngIf="!isContractDurationZero(selectedOrder.contractDurationMonths); else contractTermCancellationTemplate">
                    {{ selectedOrder.contractDurationMonths }}
                    {{ 'order.contractTermSuffix' | translate }}
                  </span>
                  <ng-template #contractTermCancellationTemplate>
                    <span>{{ 'order.contractTermCancellation' | translate }} </span>
                  </ng-template>
                </mcs-item>

                <mcs-item *ngIf="hasMonthlyFees">
                  <span>{{ 'order.totalMonthlyCharge' | translate }}:</span>
                  <span>
                    {{ selectedOrder.charges?.currencySymbol }}{{ ((selectedOrder.charges?.monthly || 0) | number: '1.2')}}
                  </span>
                </mcs-item>

                <mcs-item>
                  <span>{{ 'order.totalOneOffCharge' | translate }}:</span>
                  <span>
                    {{ selectedOrder.charges?.currencySymbol }}{{ ((selectedOrder.charges?.oneOff || 0) | number: '1.2')}}
                  </span>
                </mcs-item>

              </mcs-presentation-panel>
            </mcs-grid-column>
          </mcs-grid-row>
        </mcs-grid>

        <p>{{ 'orderDetailsStep.orderDetails.configChangeUnspecifiedOrderChargeDescription' | translate }}</p>
        <!-- Order Items -->
        <table mat-table [dataSource]="dataSource">
          <!-- Description -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'order.columnHeaders.description' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.description }}
            </td>
          </ng-container>

          <!-- Status -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'order.columnHeaders.status' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              <span text-wrap>{{ row.itemProvisioningStatusLabel }}</span>
            </td>
          </ng-container>

          <!-- Cost Centre -->
          <ng-container matColumnDef="costCentre">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'order.columnHeaders.costCentre' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              <ng-container *ngIf="(isOrderTypeChange$ | async); else costCentreTemplate">
                <ng-container *ngTemplateOutlet="changeOrderTemplate"></ng-container>
              </ng-container>
              <ng-template #costCentreTemplate>
                <span>{{ row.costCentre }}</span>
              </ng-template>
            </td>
          </ng-container>

          <!-- Billing Site -->
          <ng-container matColumnDef="billingSite">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'order.columnHeaders.billingSite' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              <ng-container *ngIf="(isOrderTypeChange$ | async); else billingSiteTemplate">
                <ng-container *ngTemplateOutlet="changeOrderTemplate"></ng-container>
              </ng-container>
              <ng-template #billingSiteTemplate>
                <span>{{ row.billingSite }}</span>
              </ng-template>
            </td>
          </ng-container>

          <!-- Monthly Charge Column -->
          <ng-container matColumnDef="monthlyCharge">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'order.columnHeaders.monthlyCharge' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.charges?.monthlyInCurrency }}
            </td>
          </ng-container>

          <!-- Hourly Charge Column -->
          <ng-container matColumnDef="hourlyCharge">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'order.columnHeaders.hourlyCharge' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.charges?.hourlyInCurrency }}
            </td>
          </ng-container>

          <!-- One-off Charge Column -->
          <ng-container matColumnDef="oneOffCharge">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'order.columnHeaders.oneOffCharge' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.charges?.oneOffInCurrency }}
            </td>
          </ng-container>

          <!-- Excess Fee Per GB Charge Column -->
          <ng-container matColumnDef="excessFeePerGB">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'order.columnHeaders.excessFeePerGB' | translate }}
            </th>
            <td mat-cell *matCellDef="let row"
              [mcsGreyedOut]="!(row.charges?.excessUsageFeePerGB | mcsIsNotNullOrUndefined)">
              {{ row.charges?.excessUsageFeePerGbInCurrency }}
            </td>
          </ng-container>

          <!-- Schedule -->
          <ng-container matColumnDef="schedule">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'order.columnHeaders.schedule' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              <ng-container *ngIf="row.schedule | mcsIsNotNullOrEmpty; else showASAP">
                <span text-wrap>{{ row.schedule | mcsStdDateFormat }}</span>
              </ng-container>
              <ng-template #showASAP>
                <span text-wrap>{{ 'order.noSchedule' | translate }}</span>
              </ng-template>
            </td>
          </ng-container>

          <!-- Delivery Type -->
          <ng-container matColumnDef="deliveryType">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'order.columnHeaders.deliveryType' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              <span text-wrap>{{ getDeliveryType(row.deliveryType) }}</span>
            </td>
          </ng-container>

          <!-- Header and Data row -->
          <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async"></tr>
          <tr mat-row *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"
            (mouseover)="getOrderProperties(row)"
            matTooltipClass="mat-tooltip"
            matTooltip="{{lineOrderProperties}}"></tr>
        </table>

        <!-- Table Statuses -->
        <mcs-item orientation="block">
          <div *ngIf="dataSource?.isInProgress$ | async" align="center">
            <mcs-loader size="medium"></mcs-loader>
          </div>
          <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
            <span>{{ 'order.noOrderItems' | translate }}</span>
          </div>
          <div *ngIf="dataSource?.hasError$ | async" text-center>
            <div class="listing-status-wrapper">
              <span>{{ 'order.errorOnOrderItems' | translate }}</span>
            </div>
          </div>
        </mcs-item>
      </ng-container>

      <!-- Order approval -->
      <ng-container *ngSwitchCase="orderDetailsViewEnum.OrderApproval">
        <mcs-presentation-panel class="limited-view">
          <ng-container mcsPresentationPanelHeader>
            <h2>{{ 'order.submitForApprovalHeader' | translate }}</h2>

            <button mcsButton="basic" mcsAlign="right" (click)="cancelApproverSelection()">
              <mcs-item>
                <mcs-icon [key]="backIconKey" size="xsmall"></mcs-icon>
                <span>{{ 'order.backToDetails' | translate }}</span>
              </mcs-item>
            </button>
          </ng-container>

          <p>{{ 'order.submitForApprovalDescription' | translate }}</p>

          <section>
            <mcs-order-approval (dataChange)="onChangeApprover($event)"></mcs-order-approval>
            <mcs-order-agreement orderAgreementType="chargesQuoted"></mcs-order-agreement>
            <div class="action-items">
              <button mcsButton arrow="right" size="small"
                [disabled]="!hasSelectedApprovers || selectedOrder.isProcessing"
                (click)="submitForApproval(selectedOrder)"
                mcsId="submit-for-approval"
                mcsEventTracker="submit-for-approval"
                mcsEventCategory="order"
                mcsEventLabel="order-details-page">
                {{ 'order.btnSubmitForApproval' | translate }}
              </button>
            </div>
          </section>
        </mcs-presentation-panel>
      </ng-container>
    </section>
  </mcs-content-panel>
</mcs-page>

<ng-template #submitDialogTemplate>
  <mcs-dialog *ngIf="order$ | async as selectedOrder">
    <mcs-dialog-header [dialogRefTemplate]="dialogRef">
      <h1>{{ 'dialog.orderSubmit.title' | translate  }}</h1>
    </mcs-dialog-header>

    <mcs-dialog-content>
      <mcs-section>
        <mcs-item>
          <mcs-icon [key]="infoIconKey"></mcs-icon>
          <span margin-left-medium [innerHtml]="'dialog.orderSubmit.message' | translate: { order:selectedOrder?.description }"></span>
        </mcs-item>
        <mcs-order-agreement orderAgreementType="chargesQuoted" wrapAgreement="false"></mcs-order-agreement>
      </mcs-section>
    </mcs-dialog-content>

    <mcs-dialog-actions>
      <a (click)="closeSubmitOrderDialog()"
        mcsEventTracker="cancel"
        mcsEventCategory="order"
        mcsEventLabel="cancel-submit-order">{{ 'shared.dialog.cancel' | translate }}</a>
      <button mcsButton arrow="right"
        size="small" (click)="confirmSubmitOrderDialog(selectedOrder)"
        mcsEventTracker="confirm-submit-order"
        mcsEventCategory="order"
        mcsEventLabel="submit-order-dialog">
        {{ 'shared.dialog.confirm' | translate }}
      </button>
    </mcs-dialog-actions>
  </mcs-dialog>
</ng-template>

<ng-template #changeOrderTemplate>
  <span>
    {{ 'order.asExisting' | translate }}
  </span>
</ng-template>
