<mcs-page [header]="'systemMessages.header' | translate">
  <!-- Top Panel -->
  <mcs-top-panel *mcsTopPanelDef>

    <!-- System Message Action -->
    <ng-container *mcsAccessControl="['SystemMessageEdit']">
      <mcs-top-panel-item *mcsTopPanelItemDef>
        <mcs-action-item (click)="onClickNewMessage()"
          mcsId="create-new-message-button"
          mcsEventTracker="create-new-message"
          mcsEventCategory="system-message"
          mcsEventLabel="system-message-listing-page">
          <mcs-icon [key]="addIconKey"></mcs-icon>
          <span>{{ 'systemMessages.newMessage' | translate }}</span>
        </mcs-action-item>
      </mcs-top-panel-item>
    </ng-container>

    <mcs-top-panel-item *mcsTopPanelItemDef overflow-auto>
      <div class="listing-action-wrapper">
        <div class="total-record-count">
          <span>{{ totalRecordsCount | mcsPlural:
                  ('systemMessages.dataSingular' | translate) : ('systemMessages.dataPlural' | translate) }}
          </span>
        </div>
      </div>
    </mcs-top-panel-item>
  </mcs-top-panel>

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="'systemMessages.leftPanelHeader' | translate">
    <!-- Search -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <mcs-search *ngIf="!isMobile" #search mcsId="system-messages-desktop-search"></mcs-search>
    </mcs-left-panel-item>

    <!-- Column Filter -->
    <mcs-left-panel-item *mcsLeftPanelItemDef [header]="'systemMessages.filterColumn' | translate" offset="medium">
      <mcs-column-selector #columnFilter
        storageKey="system-message"
        [defaultFilters]="defaultColumnFilters">
      </mcs-column-selector>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <!-- Content Panel -->
  <mcs-content-panel *mcsContentPanelDef>

    <div class="listing-table-wrapper">
      <!-- Search -->
      <mcs-search *ngIf="isMobile" #search mcsId="system-message-mobile-search"></mcs-search>

      <!-- Table -->
      <table mat-table [dataSource]="dataSource">
        <!-- Message Column -->
        <ng-container matColumnDef="message">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.message' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" [mcsTextTruncate]="row.message">
            {{ row.message }}
          </td>
        </ng-container>

        <!-- Start Date Column -->
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.start' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.start | mcsStdDateFormat: 'default' }}
          </td>
        </ng-container>

        <!-- Expiry Column -->
        <ng-container matColumnDef="expiry">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'columnHeader.expiry' | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.expiry | mcsStdDateFormat: 'default' }}
          </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.type' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            {{ row.typeLabel }}
          </td>
        </ng-container>

        <!-- Severity Column -->
        <ng-container matColumnDef="severity">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.severity' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            {{ row.severityLabel }}
          </td>
        </ng-container>

        <!-- Enabled Column -->
        <ng-container matColumnDef="enabled">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.enabled' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            {{ row.enabledLabel }}
          </td>
        </ng-container>

        <!-- Created On Column -->
        <ng-container matColumnDef="createdOn">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.createdOn' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            {{ row.createdOn | mcsStdDateFormat: 'default' }}
          </td>
        </ng-container>

        <!-- Created By Column -->
        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.createdBy' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            {{ row.createdBy }}
          </td>
        </ng-container>

        <!-- Updated On Column -->
        <ng-container matColumnDef="updatedOn">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.updatedOn' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            {{ row.updatedOn | mcsStdDateFormat: 'default' }}
          </td>
        </ng-container>

        <!-- Updated By Column -->
        <ng-container matColumnDef="updatedBy">
          <th mat-header-cell *matHeaderCellDef hidden-small>
            {{ 'columnHeader.updatedBy' | translate }}
          </th>
          <td mat-cell *matCellDef="let row" hidden-small>
            {{ row.updatedBy }}
          </td>
        </ng-container>

        <!-- Header and Data row -->
        <tr mat-header-row *matHeaderRowDef="dataSource?.dataColumns$ | async"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource?.dataColumns$ | async;"
          mcsCursor="pointer"
          [mcsTriggerCursorIf]="hasSystemMessageEditAccess"
          (click)="hasSystemMessageEditAccess ? navigateToSystemMessage(row) : null;"
          mcsId="system-message-row"
          mcsEventTracker="navigate-to-system-message"
          mcsEventCategory="system-message"
          mcsEventLabel="system-message-listing-page"></tr>
      </table>

      <!-- Table Statuses -->
      <mcs-item orientation="block">
        <div *ngIf="dataSource?.isInProgress$ | async" align="center">
          <mcs-loader size="medium"></mcs-loader>
        </div>
        <div *ngIf="dataSource?.hasNoRecords$ | async" text-center>
          <span>{{ 'systemMessages.noRecordsFoundMessage' | translate }} </span>
          <span *mcsAccessControl="['SystemMessageEdit']">
              Click <a (click)="onClickNewMessage()"
              mcsId="create-new-message-link"
              mcsEventTracker="create-new-message"
              mcsEventCategory="message"
              mcsEventLabel="empty-message-listing-option">here</a> to create new message.
            </span>
        </div>
        <div *ngIf="dataSource?.hasError$ | async" text-center>
          <div class="listing-status-wrapper">
            <span>{{ 'systemMessages.errorMessage' | translate }}</span>
            <a (click)="retryDatasource()"
              mcsId="retry-message-data-source"
              mcsEventTracker="retry-loading-message-list"
              mcsEventCategory="message"
              mcsEventLabel="message-listing-page">{{ 'media.retry' | translate }}</a>.
          </div>
        </div>
      </mcs-item>

      <!-- Paginator -->
      <mcs-paginator #paginator
        [hidden]="!hasNextPage"
        [totalCount]="dataSource?.totalCount$ | async">
      </mcs-paginator>
    </div>
  </mcs-content-panel>
</mcs-page>