@import "shared/index";

$contextual-help-max-width: 355px;
$contextual-help-margin-left: 100px;

.contextual-help-wrapper {
  @include display-flex(column);
  position: relative;
  width: 100%;
  max-width: $contextual-help-max-width;
}

.contextual-panel-message {
  @include display-flex(row);
  @include align-items(flex-start);
  margin-left: $contextual-help-margin-left;

  > span {
    display: block;
    width: 100%;
  }
}
