<div style="margin-bottom: 16px;">
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>

<mat-accordion #accordion="matAccordion" multi displayMode="flat" class="workflow-provision-panel">
  <mat-expansion-panel
    *ngFor="let workflow of workflows"
    [class.parent]="workflow.serviceId"
    [class.child]="workflow.parentReferenceId"
    [expanded]="true">
    <mat-expansion-panel-header style="position: relative;">
      <mat-panel-title>
        <h3>{{ workflow.title }}</h3>
      </mat-panel-title>
      <mat-panel-description style="flex-grow: 0;">
        {{ workflow.serviceId }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div>
      <div>
        <span>{{ getTaskInfo(workflow)?.description }}</span>
        <span style="position: absolute; right: 21px;">{{ getTaskInfo(workflow)?.summaryInformation }}</span>
      </div>
      <div style="margin-top: 10px" *ngIf="getTaskInfo(workflow)?.status >= 3">
        <small>{{ getTaskInfo(workflow)?.errorMessage }}</small>
      </div>
      <br />

      <div  [ngSwitch]="getTaskInfo(workflow)?.status">
        <mat-progress-bar *ngSwitchCase="0" mode="determinate" color="primary" value="0"></mat-progress-bar >
        <mat-progress-bar *ngSwitchCase="1" mode="indeterminate" color="primary"></mat-progress-bar >
        <mat-progress-bar *ngSwitchCase="2" mode="determinate" color="primary" value="100"></mat-progress-bar >
        <mat-progress-bar *ngSwitchDefault mode="determinate" color="warn" value="100"></mat-progress-bar >
      </div>

      <br />
      <mcs-cta-list>
        <mcs-cta-list-panel *ngFor="let log of getTaskInfo(workflow)?.logs" [icon]="log.logType === 'ERROR' ? errorIcon : infoIcon" compact="true">
          <mcs-cta-list-body>
            <small> {{ log.loggedOn | mcsStdDateFormat }} </small>
          </mcs-cta-list-body>
          <mcs-cta-list-action>
            <small>{{ log.message }}</small>
          </mcs-cta-list-action>
        </mcs-cta-list-panel>
        <div *ngIf="validReferenceObject(getTaskInfo(workflow)?.referenceObject)">
          <h3>Response</h3>
          <mcs-json-viewer [obj]="clone(getTaskInfo(workflow).referenceObject)"></mcs-json-viewer>
        </div>
      </mcs-cta-list>
    </div>
  </mat-expansion-panel>
</mat-accordion>
