<mcs-page [header]="selectedPlatform?.resourceName">

  <!-- Left Panel -->
  <mcs-left-panel *mcsLeftPanelDef="textContent.leftPanelHeader">
    <!-- listing panel -->
    <mcs-left-panel-item *mcsLeftPanelItemDef>
      <div class="listing-panel-wrapper">
        <mcs-search #search mcsId="vdc-listing-panel-search"></mcs-search>

        <mcs-data-status [dataStatusFactory]="listStatusFactory">
          <mcs-data-status-success mcsDataSuccess>

            <mcs-list-panel>
              <ng-container *ngFor="let iterator of (serversMap | mcsMapIterable) |
                mcsSortArray: serverListSource?.sortResourceMethod">

                <mcs-option-group [selected]="iterator.key?.resourceId === selectedPlatform?.resourceId">
                  <ng-container *mcsOptionGroupLabel>
                    <ng-container *ngIf="iterator.key?.resourceId">
                      <a [mcsRouterLink]="[routeKeyEnum.VdcDetail, iterator.key?.resourceId]"
                        mcsStopPropagation
                        mcsId="select-resource"
                        mcsEventTracker="select-resource"
                        mcsEventCategory="vdc"
                        mcsEventLabel="server-list-panel">
                        {{ iterator.key?.resourceName }}
                      </a>
                    </ng-container>
                    <ng-container *ngIf="!iterator.key?.resourceId">
                      <span>{{ iterator.key?.resourceName }}</span>
                    </ng-container>
                  </ng-container>

                  <ng-container *ngFor="let server of (iterator.value | mcsSortArray: serverListSource?.serversSortMethod)">
                    <a [mcsRouterLink]="[routeKeyEnum.ServerDetail, server.id]"
                      [disabled]="serverDeleting(server)"
                      mcsId="select-server"
                      mcsEventTracker="select-server"
                      mcsEventCategory="vdc"
                      mcsEventLabel="server-list-panel">

                      <mcs-option [value]="server"
                        [selected]="selectedServer?.id === server.id">
                        <div class="form-field-inline">
                          <mcs-icon *ngIf="!server.isProcessing" size="small"
                            [key]="server?.powerStateIconKey"></mcs-icon>

                          <mcs-icon *ngIf="server.isProcessing"
                            size="small" [key]="spinnerIconKey"
                            [mcsTooltip]="server.processingText"
                            mcsTooltipPosition="right"></mcs-icon>

                          <span class="word-wrap">{{ server.name }}</span>
                        </div>
                      </mcs-option>
                    </a>
                  </ng-container>
                </mcs-option-group>
              </ng-container>
            </mcs-list-panel>
          </mcs-data-status-success>

          <mcs-data-status-in-progress mcsDataInProgress>
            <span>{{ serversTextContent.loading }}</span>
          </mcs-data-status-in-progress>

          <mcs-data-status-empty mcsDataEmpty>
            <span>{{ serversTextContent.noServers }}</span>
          </mcs-data-status-empty>

          <mcs-data-status-error mcsDataError>
            <span>{{ serversTextContent.errorMessage }}</span>
          </mcs-data-status-error>
        </mcs-data-status>
      </div>
    </mcs-left-panel-item>
  </mcs-left-panel>

  <mcs-content-panel *mcsContentPanelDef>
    <div class="routing-tab-wrapper" *mcsComponentHandler>
      <mcs-tab-group [selectedTabId]="selectedRoutingTab" (tabChanged)="onTabChanged($event)">
        <!-- Overview Tab -->
        <mcs-tab [label]="textContent.overview.label" id="overview">
        </mcs-tab>
        <!-- Storage Tab -->
        <mcs-tab [label]="textContent.storage.label" id="storage">
        </mcs-tab>
      </mcs-tab-group>

      <!-- Tab content for routing tab -->
      <div class="limited-view routing-tab-content-wrapper">
        <mcs-loader [subscriptions]="vdcSubscription"
          [loadingText]="textContent.loading"
          [loadingPlacement]="top">
          <div><router-outlet></router-outlet></div>
        </mcs-loader>
      </div>
    </div>
  </mcs-content-panel>
</mcs-page>
