<mcs-page [header]="'orderMsRequestChange.title' | translate">
    <!-- Top Panel -->
    <mcs-top-panel *mcsTopPanelDef>

      <!-- Back to previous URL -->
      <mcs-top-panel-item *mcsTopPanelItemDef no-border>
        <mcs-action-item mcsAlign="end"
          mcsNavigateBackward
          mcsId="navigate-back"
          mcsEventTracker="navigate-back-click"
          mcsEventCategory="orders"
          mcsEventLabel="ms-service-change-request">
          <mcs-icon [key]="backIconKey" size="small"></mcs-icon>
          <span>{{ 'action.back' | translate }}</span>
        </mcs-action-item>
      </mcs-top-panel-item>
    </mcs-top-panel>

    <mcs-content-panel *mcsContentPanelDef>

      <mcs-wizard (stepChange)="onWizardStepChanged($event)">

        <!-- Error message -->
        <ng-container mcsWizardErrorTemplate>
        <mcs-form-message #formMessage></mcs-form-message>
        </ng-container>

        <!-- Service Details Step-->
        <mcs-wizard-step id="ms-service-change-details-step"
          [stepTitle]="'orderMsRequestChange.detailsStep.title' | translate"
          customClass="contextual-help-page-wrapper limited-view">

          <form [formGroup]="fgMsServiceChange" mcsFormGroup>
            <!-- Contextual Catalog Link -->
            <ng-container *ngIf="orderItemType$ | async as orderItemType">
              <mcs-contextual-catalog-link
                [eventLabel]="'request-change-product-catalog-link'"
                [orderProductId]="orderItemType.productId">
              </mcs-contextual-catalog-link>
            </ng-container>
            
            <p [innerHTML]="'orderMsRequestChange.detailsStep.description' | translate"></p>
            <p [innerHTML]="'orderMsRequestChange.detailsStep.secondDescription' | translate"></p>
            <p [innerHTML]="'orderMsRequestChange.detailsStep.thirdDescription' | translate"></p>

            <!-- Services Selection -->
            <mcs-item orientation="block">
              <mcs-form-field *ngIf="(azureServices$ | async) | mcsIsNotNullOrEmpty">
                <mcs-select
                  autoSelect="false"
                  mcsId="select-service"
                  mcsEventTracker="select-service"
                  mcsEventCategory="order"
                  mcsEventLabel="ms-service-change-request"
                  [formControl]="fcMsService"
                  (selectionChange)="onServiceChange()"
                  [placeholder]="'orderMsRequestChange.detailsStep.servicePlaceholder' | translate">
                  <mcs-option-group *ngFor="let azureService of azureServices$ | async">
                    <ng-container *mcsOptionGroupLabel>
                      <span>{{ azureService?.groupName }}</span>
                    </ng-container>
                    <mcs-option *ngFor="let service of azureService.options"  [value]="service.value"
                      [selected]="(selectedServiceId$ | async)?.serviceId === service.value.serviceId"
                      [value]="service.value"
                      [disabled]="!(service.value.serviceId | mcsIsNotNullOrEmpty)">
                        <span [ngStyle]="{'pointer-events': 'auto'}"
                          [mcsTooltip]="'orderMsRequestChange.detailsStep.nullServiceIdToolTip' | translate"
                          [mcsTooltipShow]="!(service.value.serviceId | mcsIsNotNullOrEmpty)"
                          [mcsTooltipPosition]="'right'">
                          {{ service.text }}
                        </span>
                    </mcs-option>
                  </mcs-option-group>
                </mcs-select>
              </mcs-form-field>
              <ng-container *ngIf="isSelectedServiceSubscription(fcMsService?.value)">
                <span>{{ 'orderMsRequestChange.detailsStep.serviceSubscriptionId' |
                  translate: { subscriptionId: (fcMsService?.value?.subscriptionId | mcsIsNotNullOrEmpty) ?
                    fcMsService?.value.subscriptionId : unknownText } }}</span>
                <span read-only>{{ noServicesFallbackText | translate }}</span>
              </ng-container>
            </mcs-item>

            <!-- Service Request Type Selection -->
            <mcs-item orientation="block" [hidden]="!hasCloudHealthRequestAccess() && !hasProvisionRequestAccess()">
              <span align-self-start>{{ 'label.requestType' | translate }}</span>
              <mcs-form-field [disabled]="!fcMsService.value">
                <mcs-select
                  mcsId="select-service-request-type"
                  [formControl]="fcMsServiceRequestType"
                  (selectionChange)="onRequestTypeChange($event)"
                  [placeholder]="'orderMsRequestChange.detailsStep.serviceRequestTypePlaceHolder' | translate">
                  <mcs-option *ngFor="let serviceRequestType of serviceRequestType$ | async"
                    [value]="serviceRequestType.value">
                    {{ serviceRequestType.text }}
                  </mcs-option>
                </mcs-select>
              </mcs-form-field>
            </mcs-item>

            <!-- Custom Request Type -->
            <ng-container *ngIf="isServiceRequestTypeCustom(fcMsServiceRequestType?.value)">
              <!-- Azure Product  -->
              <mcs-item orientation="block">
                <span align-self-start>{{ 'label.azureProduct' | translate }}</span>
                <mcs-form-field>
                  <mcs-select [formControl]="fcAzureProduct"
                    mcsId="select-ms-service-azure-product"
                    [mcsContextualHelp]="'orderMsRequestChange.detailsStep.azureProductContextualHelp' | translate"
                    [placeholder]="'orderMsRequestChange.detailsStep.azureProductPlaceHolder' | translate">
                    <mcs-search mcsSelectSearch></mcs-search>
                    <mcs-option *ngFor="let product of azureProductOptions$ | async" [value]="product.value">
                      {{ product.text }}
                    </mcs-option>
                  </mcs-select>
                  <mcs-error mcsError errorState="required">
                    {{ 'orderMsRequestChange.errors.category' | translate }}
                  </mcs-error>
                </mcs-form-field>
                <ng-container *ngIf="isOtherProductSelected">
                  <span [mcsGreyedOut]="true"
                    [innerHTML]="('orderMsRequestChange.detailsStep.otherAdvisoryLabel' | translate)">
                  </span>
                </ng-container>
              </mcs-item>
          
              <!-- Azure Resources -->
              <mcs-item orientation="block">
                <span align-self-start>{{ 'label.azureResources' | translate }}
                  <ng-container *ngIf="loadingInProgress">
                    <mcs-loader size="small"
                      [mcsTooltip]="loadingText"
                      mcsTooltipPosition="right"></mcs-loader>
                  </ng-container>
                </span>
                <mcs-form-field *ngIf="azureResourcesOptions$ | async as azureResourcesOptions">
                  <mcs-select required [formControl]="fcAzureResource"
                    autoSelect="false"
                    mcsId="select-ms-service-azure-resource"
                    [mcsContextualHelp]="'orderMsRequestChange.detailsStep.azureResourcesContextHelp' | translate"
                    [placeholder]="'orderMsRequestChange.detailsStep.azureResourcesPlaceHolder' | translate"
                    multiple
                    [multiSelectLimit]="maxSelectionLimit">
                    <mcs-search mcsSelectSearch></mcs-search>
                    <ng-container *ngFor="let resource of azureResourcesOptions">
                      <mcs-option
                        [selected]="(selectedServiceId$ | async)?.azureId === resource.value?.azureId"
                        [value]="resource.value">
                          <span [ngStyle]="{'pointer-events': 'auto'}"
                            [mcsTooltip]="resource.value?.azureId"
                            [mcsTooltipShow]="resource.value?.azureId"
                            [mcsTooltipPosition]="'right'">
                            {{ resource.text }}
                          </span>
                      </mcs-option>
                      <ng-container *ngIf="isAddNewResourceSelected(resource.text)">
                        <hr>
                      </ng-container>
                    </ng-container>
                  </mcs-select>
                  <ng-container *ngIf="loadingInProgress">
                    <mcs-loader size="small"
                      [mcsTooltip]="loadingText"
                      mcsTooltipPosition="right"></mcs-loader>
                  </ng-container>
                  <mcs-error mcsError errorState="required">
                    {{ 'orderMsRequestChange.errors.resourceIdentifierRequired' | translate }}
                  </mcs-error>
                </mcs-form-field>
                <span read-only>{{ noResourcesFallbackText | translate }}</span>
              </mcs-item>
            </ng-container>
            
            <!-- Cloudhealth -->
            <ng-container *ngIf="isServiceRequestTypeCloudHealth(fcMsServiceRequestType?.value)">
              <mcs-cloudhealth-services #fgCloudhealthService
                (dataChange)="onCloudHealthChange($event)">
              </mcs-cloudhealth-services>
            </ng-container>

            <!-- Provision -->
            <ng-container *ngIf="isServiceRequestTypeProvision(fcMsServiceRequestType?.value)">
              <mcs-provision #fgProvisionService
                [azureResources]="azureResourcesOptions$ | async"
                [noResourcesFallbackText]="noResourcesFallbackText"
                [resourceLoadingInProgress]="loadingInProgress"
                (dataChange)="onChangeProvisionDetails($event)">
              </mcs-provision>
            </ng-container>

            <!-- SMAC Shared Form -->
            <mcs-item orientation="block">
              <mcs-smac-shared-form #fgSmacSharedForm
                [config]="smacSharedFormConfig$ | async"
                (dataChange)="onChangeSharedForm($event)">
              </mcs-smac-shared-form>
            </mcs-item>

            <div class="action-items">
              <button mcsButton arrow="right"
                mcsWizardStepNext
                [disabled]="!(formIsValid && fgSmacSharedForm?.isValid())"
                mcsId="step-1-next"
                mcsEventTracker="step-1-next"
                mcsEventCategory="orders"
                mcsEventLabel="ms-service-change-request">{{ 'shared.wizard.next' | translate }}</button>
            </div>
          </form>
        </mcs-wizard-step>

        <!-- Confirm Step  -->
        <mcs-wizard-step id="confirm-step"
          [stepTitle]="'shared.wizard.confirm' | translate"
          customClass="contextual-help-page-wrapper limited-view">
          <mcs-step-order-details [order]="order$ | async"
            [orderItemType]="orderItemType$ | async"
            [requestState]="dataStatus$ | async"
            [eventTrack]="orderEventTrack.billingDetailsStep"
            (dataChange)="onOrderDetailsDataChange($event)"
            (submitOrder)="onSubmitOrder($event, fcMsService?.value.serviceId)">
          </mcs-step-order-details>
        </mcs-wizard-step>

        <!-- Go! Step  -->
        <mcs-wizard-step id="go-step"
          [stepTitle]="'shared.wizard.completed' | translate"
          customClass="limited-view">
          <mcs-step-manual-order-completed
            [order]="order$ | async"
            [orderWorkflowSubmitStatus]="orderWorkflowSubmitStatus$ | async">
          </mcs-step-manual-order-completed>
        </mcs-wizard-step>
      </mcs-wizard>

    </mcs-content-panel>
  </mcs-page>