<mcs-page [header]="'orderMsRequestChange.title' | translate">
    <!-- Top Panel -->
    <mcs-top-panel *mcsTopPanelDef>

      <!-- Back to previous URL -->
      <mcs-top-panel-item *mcsTopPanelItemDef no-border>
        <mcs-action-item mcsAlign="end"
          mcsNavigateBackward
          mcsId="navigate-back"
          mcsEventTracker="navigate-back-click"
          mcsEventCategory="orders"
          mcsEventLabel="ms-service-change-request">
          <mcs-icon [key]="backIconKey" size="small"></mcs-icon>
          <span>{{ 'orderMsRequestChange.detailsStep.previous' | translate }}</span>
        </mcs-action-item>
      </mcs-top-panel-item>
    </mcs-top-panel>

    <mcs-content-panel *mcsContentPanelDef>

      <mcs-wizard (stepChange)="onWizardStepChanged($event)">

        <!-- Error message -->
        <ng-container mcsWizardErrorTemplate>
          <mcs-form-message #formMessage></mcs-form-message>
        </ng-container>

        <!-- Service Details Step-->
        <mcs-wizard-step id="ms-service-change-details-step"
          [stepTitle]="'orderMsRequestChange.detailsStep.title' | translate"
          customClass="contextual-help-page-wrapper limited-view">

          <form [formGroup]="fgMsServiceChange" mcsFormGroup>
              <mcs-item>
                <p [innerHTML]="('orderMsRequestChange.detailsStep.description' | translate) | mcsNewLines"></p>
              </mcs-item>

              <!-- Services Selection -->
              <mcs-item orientation="block">
                <mcs-form-field>
                  <mcs-select mcsId="select-service"
                    mcsEventTracker="select-ms-service"
                    mcsEventCategory="order"
                    mcsEventLabel="ms-service-change-request"
                    [formControl]="fcMsService"
                    [placeholder]="'orderMsRequestChange.detailsStep.servicePlaceholder' | translate">
                    <mcs-option *ngFor="let azureService of azureServices$ | async"
                      [value]="azureService.value"
                      [disabled]="!(azureService.value.serviceId | mcsIsNotNullOrEmpty)">
                        <span [ngStyle]="{'pointer-events': 'auto'}"
                          [mcsTooltip]="'orderMsRequestChange.detailsStep.nullServiceIdToolTip' | translate"
                          [mcsTooltipShow]="!(azureService.value.serviceId | mcsIsNotNullOrEmpty)"
                          [mcsTooltipPosition]="'right'">
                          {{ azureService.text }}
                        </span>
                    </mcs-option>
                  </mcs-select>
                </mcs-form-field>
                <span *ngIf="!(fcMsService.pristine)">{{ 'orderMsRequestChange.detailsStep.serviceSubscriptionId' |
                  translate: { subscriptionId:  (fcMsService?.value.uuid | mcsIsNotNullOrEmpty) ? fcMsService?.value.subscriptionId : fcMsService?.value.id } }}</span>
              </mcs-item>

              <!-- Azure Product  -->
              <mcs-item orientation="block">
                <span align-self-start>{{ 'orderMsRequestChange.detailsStep.azureProductLabel' | translate }}</span>
                <mcs-form-field>
                  <mcs-select [formControl]="fcAzureProduct"
                    mcsId="select-ms-service-azure-product"
                    mcsEventTracker="select-ms-service-azure-product"
                    mcsEventCategory="order"
                    mcsEventLabel="ms-service-change-request"
                    [mcsContextualHelp]="'orderMsRequestChange.detailsStep.azureProductContextualHelp' | translate"
                    [placeholder]="'orderMsRequestChange.detailsStep.azureProductPlaceHolder' | translate">
                    <mcs-search mcsSelectSearch></mcs-search>
                    <mcs-option *ngFor="let product of azureProductOptions$ | async" [value]="product.value">
                      {{ product.text }}
                    </mcs-option>
                  </mcs-select>
                  <mcs-error mcsError errorState="required">
                    {{ 'orderMsRequestChange.errors.category' | translate }}
                  </mcs-error>
                </mcs-form-field>
                <ng-container *ngIf="isOtherProductSelected">
                  <span [mcsGreyedOut]="true"
                    [innerHTML]="('orderMsRequestChange.detailsStep.otherAdvisoryLabel' | translate)">
                  </span>
                </ng-container>
              </mcs-item>
           
              <!-- Azure Resources -->
              <mcs-item orientation="block">
                <span align-self-start>{{ 'orderMsRequestChange.detailsStep.azureResourcesLabel' | translate }}</span>
                <mcs-form-field>
                  <mcs-select [formControl]="fcAzureResource"
                    mcsId="select-ms-service-azure-resource"
                    mcsEventTracker="select-ms-service-azure-resource"
                    mcsEventCategory="order"
                    mcsEventLabel="ms-service-change-request"
                    [mcsContextualHelp]="'orderMsRequestChange.detailsStep.azureResourcesContextHelp' | translate"
                    [placeholder]="'orderMsRequestChange.detailsStep.azureResourcesPlaceHolder' | translate"
                    multiple
                    [multiSelectLimit]="maxSelectionLimit">
                    <mcs-search mcsSelectSearch></mcs-search>
                    <mcs-option *ngFor="let resource of azureResourcesOptions$ | async" [value]="resource.value">
                      <span [ngStyle]="{'pointer-events': 'auto'}"
                      [mcsTooltip]="resource.value?.azureId"
                      [mcsTooltipShow]="resource.value?.azureId"
                      [mcsTooltipPosition]="'right'">
                      {{ resource.text }}
                      </span>
                    </mcs-option>
                  </mcs-select>
                  <mcs-error mcsError errorState="required">
                    {{ 'orderMsRequestChange.errors.resourceIdentifierRequired' | translate }}
                  </mcs-error>
                </mcs-form-field>
              </mcs-item>

              <!-- SMAC Shared Form -->
              <mcs-item orientation="block">
                <mcs-smac-shared-form #fgSmacSharedForm
                  [config]="smacSharedFormConfig$ | async"
                  (dataChange)="onChangeSharedForm($event)">
                </mcs-smac-shared-form>
              </mcs-item>

              <div class="action-items">
                <button mcsButton arrow="right"
                  mcsWizardStepNext
                  [disabled]="!(formIsValid && fgSmacSharedForm?.isValid())"
                  mcsId="step-1-next"
                  mcsEventTracker="step-1-next"
                  mcsEventCategory="orders"
                  mcsEventLabel="ms-service-change-request">{{ 'shared.wizard.next' | translate }}</button>
              </div>
            </form>
        </mcs-wizard-step>

        <!-- Confirm Step  -->
        <mcs-wizard-step id="confirm-step"
          [stepTitle]="'shared.wizard.confirm' | translate"
          customClass="contextual-help-page-wrapper limited-view">
          <mcs-step-order-details [order]="order$ | async"
            [orderItemType]="orderItemType$ | async"
            [requestState]="dataStatus$ | async"
            [eventTrack]="orderEventTrack.billingDetailsStep"
            (dataChange)="onOrderDetailsDataChange($event)"
            (submitOrder)="onSubmitOrder($event, fcMsService?.value.serviceId)">
          </mcs-step-order-details>
        </mcs-wizard-step>

        <!-- Go! Step  -->
        <mcs-wizard-step id="go-step"
          [stepTitle]="'shared.wizard.completed' | translate"
          customClass="limited-view">
          <mcs-step-manual-order-completed
            [order]="order$ | async"
            [orderWorkflowSubmitStatus]="orderWorkflowSubmitStatus$ | async">
          </mcs-step-manual-order-completed>
        </mcs-wizard-step>
      </mcs-wizard>

    </mcs-content-panel>
  </mcs-page>