<mcs-item>
  <span>{{ textContent.version.label }}:</span>
  <mcs-select [(ngModel)]="selectedSqlServerVersion"
    (change)="onVersionChanged()"
    [placeholder]="textContent.version.placeholder"
    class="form-field-size-small">
    <mcs-option *ngFor="let version of sqlServerVersions" [value]="version">
      {{ version }}
    </mcs-option>
  </mcs-select>
</mcs-item>

<mcs-item>
  <span>{{ textContent.edition.label }}:</span>
  <mcs-select [(ngModel)]="selectedSqlServerEdition"
    (change)="onEditionChanged()"
    [placeholder]="textContent.edition.placeholder"
    class="form-field-size-small">
    <ng-container *ngFor="let edition of sqlServerEditions">
      <mcs-option *ngIf="isOptionIncluded(edition)" [value]="edition">
        {{ edition }}
      </mcs-option>
    </ng-container>
  </mcs-select>
</mcs-item>

<mcs-item>
  <span>{{ textContent.architecture.label }}:</span>
  <mcs-select [(ngModel)]="selectedSqlServerArchitecture"
    (change)="onArchitectureChanged()"
    [placeholder]="textContent.architecture.placeholder"
    class="form-field-size-small">
    <mcs-option
      *ngFor="let architecture of sqlServerArchitectures"
      [value]="architecture">
      {{ architecture }}
    </mcs-option>
  </mcs-select>
</mcs-item>