<section>
  <h2>{{ 'orderGroups.header' | translate }}</h2>
  <p>{{ 'orderGroups.description' | translate }}</p>

  <mcs-grid *ngIf="orderGroupDetails$ | async as groupDetails">
    <mcs-grid-row>
      <!-- New Orders -->
      <mcs-grid-column>
        <mcs-presentation-panel mcsId="new-orders">
          <ng-container mcsPresentationPanelHeader>
            <h2>{{ 'orderGroups.newLabel' | translate }}</h2>
          </ng-container>

          <section *ngIf="hasActiveOrders(groupDetails.newOrders); else noNewOrdersTemplate">
            <div padding-bottom-small *ngFor="let newOrder of groupDetails.newOrders">
              <div *ngIf="!isUnknown(newOrder)">
                <div [matTooltip]="'orderGroups.tooltipComingSoon' | translate"
                  [matTooltipDisabled]="!isComingSoon(newOrder)">
                  <a (click)="executeOrderAvailable(newOrder.productOrderType)"
                    [disabled]="isComingSoon(newOrder)">
                    <span>{{ newOrder.orderAction }}</span>
                  </a>
                </div>
                <span read-only>{{ newOrder.orderName }}</span>
                <mcs-contextual-catalog-link
                  [isIcon]="true"
                  [eventLabel]="newOrder.orderName + '-product-catalog-link'"
                  [orderProductId]="newOrder.productId">
                </mcs-contextual-catalog-link>
              </div>
            </div>
          </section>

          <ng-template #noNewOrdersTemplate>
            <span read-only>{{ 'orderGroups.noNewOrdersMessage' | translate }}</span>
          </ng-template>
        </mcs-presentation-panel>
      </mcs-grid-column>

      <!-- Change Orders -->
      <mcs-grid-column>
        <mcs-presentation-panel mcsId="change-orders">
          <ng-container mcsPresentationPanelHeader>
            <h2>{{ 'orderGroups.changeLabel' | translate }}</h2>
          </ng-container>

          <section *ngIf="hasActiveOrders(groupDetails.changeOrders); else noChangeOrdersTemplate">
            <div padding-bottom-small *ngFor="let changeOrder of groupDetails.changeOrders">
              <div *ngIf="!isUnknown(changeOrder)">
                <div [matTooltip]="'orderGroups.tooltipComingSoon' | translate"
                  [matTooltipDisabled]="!isComingSoon(changeOrder)">
                  <a (click)="executeOrderAvailable(changeOrder.productOrderType)"
                    [disabled]="isComingSoon(changeOrder)">
                    <span>{{ changeOrder.orderAction }}</span>
                  </a>
                </div>
                <span read-only>{{ changeOrder.orderName }}</span>
                <mcs-contextual-catalog-link
                  [isIcon]="true"
                  [eventLabel]="changeOrder.orderName + '-product-catalog-link'"
                  [orderProductId]="changeOrder.productId">
                </mcs-contextual-catalog-link>
              </div>
            </div>
          </section>

          <ng-template #noChangeOrdersTemplate>
            <span read-only>{{ 'orderGroups.noChangeOrdersMessage' | translate }}</span>
          </ng-template>
        </mcs-presentation-panel>
      </mcs-grid-column>
    </mcs-grid-row>
  </mcs-grid>
</section>