<mcs-grid>
  <mcs-grid-row>
    <!-- Media Properties -->
    <mcs-grid-column>
      <mcs-presentation-panel mcsId="media-properties">
        <ng-container mcsPresentationPanelHeader>
          <h2>{{ textContent.mediaProperties.title }}</h2>
        </ng-container>

        <mcs-item>
          <span>{{ textContent.mediaProperties.name }}:</span>
          <span [innerHTML]="selectedMedium.name | mcsDataLabel"></span>
        </mcs-item>

        <mcs-item>
          <span>{{ textContent.mediaProperties.status }}:</span>
          <span [innerHTML]="selectedMedium.statusLabel | mcsDataLabel"></span>
        </mcs-item>

        <mcs-item>
          <span>{{ textContent.mediaProperties.dateAdded }}:</span>
          <span [innerHTML]="selectedMedium.createdOn | mcsStdDateFormat"></span>
        </mcs-item>

        <mcs-item>
          <span>{{ textContent.mediaProperties.description }}:</span>
          <span [innerHTML]="selectedMedium.description | mcsDataLabel"></span>
        </mcs-item>
      </mcs-presentation-panel>
    </mcs-grid-column>

    <!-- Storage Properties -->
    <mcs-grid-column>
      <mcs-presentation-panel mcsId="storage-properties">
        <ng-container mcsPresentationPanelHeader>
          <h2>{{ textContent.storageProperties.title }}</h2>
        </ng-container>

        <mcs-item>
          <span>{{ textContent.storageProperties.size }}:</span>
          <span [innerHTML]="selectedMedium.sizeMB | mcsDataSize: 'MB'"></span>
        </mcs-item>
      </mcs-presentation-panel>
    </mcs-grid-column>
  </mcs-grid-row>
</mcs-grid>