<div class="notification-panel-content-wrapper"
  animate [trigger]="animationTrigger"
  cursor="pointer"
  [triggerCursorIf]="notification.link"
  (click)="onClickNotification()"
  mcsEventTracker="navigate-to-notification"
  mcsEventCategory="notification"
  mcsEventLabel="notification-panel">

  <div class="notification-panel-details">
    <!-- Notification Status Icon -->
    <div class="notification-panel-status-icon">
      <mcs-icon [key]="iconStatusKey" [color]="iconStatusColor"></mcs-icon>
    </div>

    <!-- Notification content -->
    <div class="notification-panel-content">
      <span class="font-bold">{{ notification.description }}</span>
      <small class="notification-panel-message">{{ notification.summaryInformation }}</small>
      <ng-container *ngIf="notification.errorMessage">
        <small class="notification-panel-message">{{ notification.errorMessage }}</small>
      </ng-container>
      <div class="notification-panel-user-info">
        <small read-only>{{ notification.ownerFullName }}</small>
        <mcs-icon [key]="bulletIconKey" color="grey-02" size="xxsmall"></mcs-icon>

        <!-- Notification date -->
        <ng-container [ngSwitch]="notification?.dataStatus">
          <ng-container *ngSwitchCase="dataStatusEnum.InProgress">
            <small read-only>{{ notification.startedOn | mcsStdDateFormat: 'LT' }}</small>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <small read-only>{{ notification.endedOn | mcsStdDateFormat: 'LT' }}</small>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Close button -->
  <ng-container *ngIf="type === 'statechange'">
    <div class="notification-panel-close">
      <mcs-icon cursor="pointer"
        (click)="removeNotification()"
        mcsEventTracker="close-panel"
        mcsEventCategory="notification"
        mcsEventLabel="notification-panel"
        [key]="closeIconKey" size="small"></mcs-icon>
    </div>
  </ng-container>
</div>