<div class="notification-panel-content-wrapper"
  animate [trigger]="animationTrigger"
  mcsId="navigate-to-notification"
  mcsEventTracker="navigate-to-notification"
  mcsEventCategory="notification"
  mcsEventLabel="notification-panel">

  <div class="notification-panel-details">
    <!-- Notification Status Icon -->
    <div class="notification-panel-status-icon">
      <ng-container *ngIf="notification.inProgress; else iconTemplate">
        <mcs-loader></mcs-loader>
      </ng-container>
      <ng-template #iconTemplate>
        <mcs-icon [key]="notification.dataStatusIconKey"></mcs-icon>
      </ng-template>
    </div>

    <!-- Notification content -->
    <div class="notification-panel-content">
      <strong>
        <a [mcsRouterLink]="[routeKeyEnum.Activity, notification?.id]">
          {{ notification.description }}
        </a>
      </strong>

      <small class="notification-panel-message">{{ notification.summaryInformation }}</small>
      <ng-container *ngIf="notification.errorMessage">
        <small class="notification-panel-message">{{ notification.errorMessage }}</small>
      </ng-container>
      <div class="notification-panel-user-info">
        <small read-only>{{ notification.initiatorFullName }}</small>
        <mcs-icon [key]="bulletIconKey" color="grey-02" size="xxsmall"></mcs-icon>

        <!-- Notification date -->
        <ng-container [ngSwitch]="notification?.dataStatus">
          <ng-container *ngSwitchCase="dataStatusEnum.Active">
            <small read-only>{{ notification.startedOn | mcsStdDateFormat: 'shortTime' }}</small>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <small read-only>{{ notification.endedOn | mcsStdDateFormat: 'shortTime' }}</small>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Close button -->
  <ng-container *ngIf="type === 'statechange'">
    <div class="notification-panel-close">
      <mcs-icon mcsCursor="pointer"
        (click)="removeNotification()"
        mcsId="close-panel"
        mcsEventTracker="close-panel"
        mcsEventCategory="notification"
        mcsEventLabel="notification-panel"
        [key]="closeIconKey" size="small"></mcs-icon>
    </div>
  </ng-container>
</div>