<div class="notification-panel-content-wrapper"
  animate [trigger]="animationTrigger"
  cursor="pointer"
  [triggerCursorIf]="notification.link"
  (click)="onClickNotification()"
  mcsEventTracker="navigate-to-notification"
  mcsEventCategory="notification"
  mcsEventLabel="notification-panel">

  <div class="notification-panel-details">
    <!-- Notification Status Icon -->
    <div class="notification-panel-status-icon">
      <mcs-icon [key]="iconStatusKey" [color]="iconStatusColor"></mcs-icon>
    </div>

    <!-- Notification content -->
    <div class="notification-panel-content">
      <span class="font-bold">{{ notification.description }}</span>
      <small class="notification-panel-message">{{ notification.summaryInformation }}</small>
      <ng-container *ngIf="notification.errorMessage">
        <small class="notification-panel-message">{{ notification.errorMessage }}</small>
      </ng-container>
      <div class="notification-panel-user-info">
        <small read-only>{{ notification.ownerName }}</small>
        <mcs-icon [key]="bulletIconKey" color="grey-02" size="xxsmall"></mcs-icon>
        <small read-only>{{ startTimeText }}</small>
      </div>
    </div>
  </div>

  <!-- Close button -->
  <ng-container *ngIf="type === 'statechange'">
    <div class="notification-panel-close">
      <mcs-icon cursor="pointer"
        (click)="removeNotification()"
        mcsEventTracker="close-panel"
        mcsEventCategory="notification"
        mcsEventLabel="notification-panel"
        [key]="closeIconKey" size="small"></mcs-icon>
    </div>
  </ng-container>
</div>